.activity-timeline {
    border-left: 5px solid $lt-gray;
    padding-left: $base-spacing;

    .timestamp {
        &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: -32px;
            width: 15px;
            height: 15px;
            border-radius: 20px;
            background: $highlight;
            //border: 5px solid $lt-gray;
        }
    }

    .activity-listing {
        &:before {
            content: "";
            position: absolute;
            top: 11px;
            left: -32px;
            width: 15px;
            height: 15px;
            border-radius: 20px;
            background: $white;
            border: 3px solid $lt-gray;
        }
    }


}