aside.is-right {
    
    .published-to, .user-credit-has-label {
        border-bottom: $base-border;
        padding: $base-spacing 0;

        @include media($small) {
            padding: $base-spacing;
        }

    }

    .actions {
        padding: $base-spacing;

        button {
            display: block;
            margin-bottom: $sm-spacing;
        }
    }

}