.cards-select {
    @include outer-container;
    margin-top: $base-spacing;

    .selection-card {
        margin-bottom: $sm-spacing;

        @include media($small) {
            @include span-columns(6);
            @include omega(2n);
            @include float(left);
            @include margin-right(2.35765%);
            @include margin-left(0);
            margin-bottom: $base-spacing;
        }

        @include media($large) {
            @include omega-reset(2n);
            @include span-columns(4);
            @include omega(3n);
            @include float(left);
            @include margin-right(2.35765%);
            @include margin-left(0);
        }


        a ul {
            @include margin-left(20px);
        }
    }

}
