footer {
    clear: both;
    overflow: auto;
    border-top: $base-border;
    border-width: 3px;
    background-color: $lt-gray-bg;

    .footer-container {
        max-width: $max-width;
        @include outer-container;
        padding: 0 $sm-spacing;

        @include media($small) {
            padding: $base-spacing;
        }

        @include media($medium) {
            @include float(right);
            width: 80%;
            padding: $base-spacing 0 $lg-spacing;
        }

    }

}

.footer-nav {
    @extend .delta;
    @extend .list-unstyled;

    li {
        @include float(left);
        @include padding-right($base-spacing);
    }

}
