footer {
    clear: both;
    overflow: auto;
    border-top: $base-border;
    border-width: 3px;
    background-color: $dk-brown;

    .footer-wrapper {
       @include clearfix;
       max-width: $max-width;
       margin: 0 auto;

       @include media($large) {
           @include lrswap(margin, 0 auto 0 290px);
       }

    }

    .footer-container {
        max-width: $max-width;
        @include outer-container;
        padding: 0 $sm-spacing 80px $sm-spacing;

        @include media($small) {
            padding: $base-spacing $base-spacing  80px $base-spacing;
        }

        @include media($large) {
            width: 100%;
            padding: $base-spacing $base-spacing $lg-spacing;
        }

    }

}

.footer-nav {
    @extend .delta;
    @extend .list-unstyled;

    li {
        @include float(left);
        @include padding-right($base-spacing);
    }

}
