.form-sheet {
    @extend .sheet;
    position: relative;
    max-width: 360px;
    padding: 0 20px;

    .form-sheet-summary {
        position: relative;
        margin: 0 -20px 0 -20px;
        padding: 10px 20px;

        .post-band {
            border-radius: 2px 0 0 0;
        }

        .title {

        }

        .description {

        }

    }

    .location {

        &:before {
            top: 36px;
            @include left(5px);
            height: 10px;
        }

        .form-field {
            @include float(left);
        }

        .custom-select {
            @include float(right);
        }

        button {
            @include float(left);
            clear: both;
        }

    }

    .form-sheet-actions {

        p {
            font-size: em(14);
        }

    }

}
