.form-sheet {
    position: relative;
    @extend .card;
    background-color: $color-light-delta;
    max-width: 500px;

    .form-sheet-summary {
        position: relative;
        margin: 0;
        @include padding-left(20px);

        .post-band {
            border-radius: 2px 0 0 0;
        }

        .description {
            margin: 0;
            @include lrswap(padding, 20px $sm-spacing 20px 0 );
        }

    }

    form {
        margin: $sm-spacing;

        @include media($medium) {
            margin: $base-spacing;
        }

        .form-field {

            input[type="text"] {
                max-width: 500px;
            }

            .iconic {
                margin-right: 10px;
            }

        }

        fieldset {
            margin-bottom: $base-spacing*2;
        }

        .add-file {
            margin: $base-spacing*2 0;
        }

    }

    .form-sheet-actions {

        button,
        .button {
            @include lrswap(margin, $sm-spacing $sm-spacing $sm-spacing 0);
        }

    }

    .main-col & {

        .form-sheet-actions {
            position: fixed;
            right: $tiny-spacing;
            bottom: 61px;
            left: $tiny-spacing;
            @extend .sheet;
            background-color: $color-primary;
            margin: 0;

            @include media($medium) {
                top: $base-spacing;
                @include right(254px);
                bottom: auto;
                @include left(298px);
            }

        }

    }

}
