.header {
    position: relative;
    height: auto;
    color: $white;
    text-shadow: 0px 1px 1px $black;

    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: none;
        z-index: $topbar;
    }

    .hero-image img{
        position: absolute;
        top: 0;
        @include left(0);
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;
        z-index: $bg-img;
    }

    a h1 {
        color: $white;
        margin: 0 auto 10px;

        &:hover {
           opacity: .75;
        }
    }

    &.overlay {

        .color-overlay:after {
            content: " ";
            position: absolute;
            top: 0;
            @include left(0);
            width: 100%;
            height: 100%;
            display: block;
            z-index: $overlay;
            background-color: $header-bg-color;
            background-image: url('../img/map-bg.png');
        }

        .hero-image + .color-overlay:after {
            // If there is an custom image in div.hero-image, this is a color overlay
            background: $header-bg-transparent;
            -webkit-box-shadow: inset 0px 147px 210px -73px rgba(0,0,0,0.4);
            -moz-box-shadow: inset 0px 147px 210px -73px rgba(0,0,0,0.4);
            box-shadow: inset 0px 147px 210px -73px rgba(0,0,0,0.4);
        }
    }

    .nav-icon,
    .beta,
    .header-description,
    .button-create,
    .user-admin {
        z-index: $body;
        padding: 0 $sm-spacing;
    }

    .nav-icon {
        @include float(left);
        @include lrswap(margin, $base-spacing $sm-spacing 15px 15px);

        @include media($medium) {
            display: none;
        }

        + .beta {
            margin-bottom: $sm-spacing;
        }

    }

    .beta {
        display: inline-block;
        margin: $base-spacing $sm-spacing;
        font-weight: $bold;

        @include media($small) {
            margin: $lg-spacing $sm-spacing $sm-spacing;
            font-size: 1.8em
        }

        @include media($medium) {
            margin: $lg-spacing $base-spacing $base-spacing;
        }

    }

    .header-description {
        display: none;
        text-align: center;
        font-size: em(16);

        @include media($small) {
            font-size: em(20);
        }
    }

   .button-create {
        display: table;
        position: absolute;
        top: 0;
        @include right(0);
        color: $white;
        font-weight: $bold;
        border: none;
        padding: 8px 10px 7px 10px;
        margin: 18px;
        font-size: em(14);

        @include media($medium) {
            padding: 8px 10px 10px 10px;
            @include lrswap(margin, 18px 210px 0 0);
        }

        i {
            padding: 0 5px;
            bottom: 0;

            @include media($small) {
                @include lrswap(padding, 0 10px 0 0);
                bottom: -2px;
            }

        }

        span {
            display: none;
            @include lrswap(padding, 0px 0px 0px 15px);

            @include media($small) {
                display: inline-block;
            }

        }

    }

    .other-sources {
        color: $link-color-dark-bg;
        text-align: center;
        display: block;
    }

    .button-toggle:hover {
        background-color: transparent;
        border: none;
    }

    .user-admin {

        &:before {
            content: none;
        }

    }

    .parallax {
        position: relative;
        z-index: $body;
        bottom: 0;
        padding-top: 1px;
        @include outer-container;
    }

    &.header-full {
        width: 100%;
        z-index: $topbar;

        .nav-icon + .beta {
            margin-top: 50px;
        }

        .beta {
            display: block;
            font-size: 2em;
            text-align: center;

            @include media($small) {
                font-size: 3em;
            }

        }

        .header-description {
            display: block;
            margin-bottom: $base-spacing;
        }

        .button-create {
            position: static;
            margin: auto;
            margin-bottom: 25px;
            @include lrswap(padding, 14px 25px 18px $base-spacing);

            span {
                display: inline;
            }

            @include media($small) {
                margin-bottom: $lg-spacing;
            }

            @include media($medium) {
                margin-top: $lg-spacing;
                margin-bottom: $lg-spacing;
            }

            i {
                @include lrswap(padding, 0 10px 0 0);
            }

        }

        .other-sources {
            color: $white;
            text-align: center;
            display: block;
            margin-bottom: $lg-spacing;

            @include media($medium) {
                margin-bottom: ($lg-spacing + 10px);
            }

        }

        .user-admin {
            display: none;

            @include media($medium) {
                display: block;
                /* margin: 18px 10px 0 0; */
            }

        }

    }

    &.header-transition {

        .container{
            position: fixed;
            top: -150px;
            @include transition(all, .5s);
        }

        .parallax {
            opacity: 1 !important;
            bottom: 0 !important;
        }

    }

    &.header-compact {
        height: 80px;

        @include media($medium) {
            height: 70px;
        }
        .container {
            position: fixed;
            top: 0;
            overflow: visible;
            @include transition(all, .5s);
        }

        .color-overlay:after, .hero-image + .color-overlay:after {
            background-color: rgba($header-bg-color, 0.9);
        }

        .beta {
            margin: $base-spacing;
        }

        .button-create {
            opacity: 1;
        }

        .user-admin {
            display: none;

            @include media($medium) {
                display: inline-block;
            }

        }

        .other-sources {
            display: none;
        }

        .parallax {
            opacity: 1 !important;
            bottom: 0 !important;
            height: 68px;
        }

        .hero-image {
            overflow: hidden;
            position: fixed;
            height: 68px;
            top: 0;
            width: 100%;
            display: none;
        }

    }

}
