.header {
    position: relative;
    height: 70px;
    background-color: $black;
    color: $white;
    text-shadow: 0px 1px 1px $black;

    .deployment-title {

        @include media($small) {
            position: relative;
            display: inline-block;
            @include lrswap(margin, 16px $sm-spacing 15px -15px);
            z-index: $topbar;
        }

        .avatar {
            @include float(left);
            border-radius: 100px;
            width: 40px;
            position: relative;
            top: 15px;
            @include margin-right(15px);

            @include media($small) {
                top: -1px;
            }

        }

        h2 {
            display: none;

            @include media($small) {
                display: block;
                @include float(left);
                line-height: 1.2;
                color: $white;
                text-transform: uppercase;
                margin: 0;

                &:hover {
                   opacity: .75;
                }

            }

        }

    }

    .nav-icon {
        z-index: $body;
    }

    .nav-icon {
        @include float(left);
        @include lrswap(margin, 23px $sm-spacing 13px 25px);

        + .beta {
            margin-bottom: $sm-spacing;
        }

    }

    &.header {

        .user-admin {
            display: none;

            @include media($medium) {
                display: inline-block;
                position: relative;
                @include float(right);
            }

        }

    }

}
