.header {
    position: relative;
    height: auto;
    color: $white;
    text-shadow: 0px 1px 1px $black;

    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: none;
        z-index: $topbar;
    }

    &.overlay {

        > .container:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            z-index: $overlay;
            background-color: $dark-overlay;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        z-index: $bg-img;
    }

    .nav-icon,
    .beta,
    .header-description,
    .button-create,
    .user-admin {
        z-index: $body;
    }

    .nav-icon {
        float: left;
        margin: $base-spacing $sm-spacing 15px 15px;

        @include media($medium) {
            display: none;
        }

    }

    .beta {
        display: inline-block;
        margin: $base-spacing 0 $sm-spacing;
        font-weight: $bold;

        @include media($small) {
            margin: $base-spacing $sm-spacing;
            font-size: 1.8em
        }

        @include media($medium) {
            margin: $base-spacing;
        }

    }

    .header-description {
        display: none;
        text-align: center;
    }

   .button-create {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        font-weight: $bold;
        font-size: em(12);
        border: none;
        padding: 8px 10px 7px 10px;
        margin: 18px;

        @include media($medium) {
            padding: 8px 10px 10px 10px;
            margin: 18px 210px 0 0;
        }

        i {
            padding: 0 5px;
            bottom: 0;

            @include media($small) {
                padding: 0 10px 0 0;
                bottom: -2px;
            }

        }

        span {
            display: none;

            @include media($small) {
                display: inline-block;
            }

        }

    }

    .button-toggle:hover {
        background-color: transparent;
        border: none;
    }

    .user-admin {

        &:before {
            content: none;
        }

    }

    .parallax {
        position: relative;
        z-index: $body;
        bottom: 0;
        padding-top: 1px;
        @include outer-container;
    }

    &.header-full {
        width: 100%;
        z-index: $topbar;

        .beta {
            display: block;
            font-size: 2em;
            text-align: center;
            margin-top: 50px;

            @include media($small) {
                font-size: 3em;
            }

        }

        .header-description {
            display: block;
            margin-bottom: $base-spacing;
        }

        .button-create {
            position: static;
            margin: auto;
            margin-bottom: $base-spacing;
            padding: 14px 25px 18px $base-spacing;

            span {
                display: inline;
            }

            @include media($medium) {
                margin-bottom: $base-spacing + 30;
            }

            i {
                padding: 0 10px 0 0;
            }

        }

        .user-admin {
            display: none;

            @include media($medium) {
                display: block;
                margin: 18px 10px 0 0;
            }

        }

    }

    &.header-transition {

        .container {
            position: fixed;
            top: -150px;
            @include transition(all, .5s);
        }

        .parallax {
            opacity: 1 !important;
            bottom: 0 !important;
        }

    }

    &.header-compact {

        .container {
            position: fixed;
            top: 0;
            overflow: visible;
            @include transition(all, .5s);
        }

        .button-create {
            opacity: 1 !important;
        }

        .user-admin {
            display: none;

            @include media($medium) {
                display: inline-block;
            }

        }

        .parallax {
            opacity: 1 !important;
            bottom: 0 !important;
            height: 68px;
        }

        .hero-image {
            overflow: hidden;
            position: fixed;
            height: 68px;
            top: 0;
            width: 100%;
        }

    }

}
