.header {
    position: relative;
    height: 55px;
    background-color: $black;
    color: $white;
    text-shadow: 0px 1px 1px $black;
    z-index: $top;

    @include media($large) {
        height: 70px;
    }

    .deployment-title {
        position: relative;
        display: inline-block;
        @include lrswap(margin, 16px 15px);
        z-index: $top;

        @include media($large) {
            @include lrswap(margin, 16px $sm-spacing 15px 30px);
        }

        .avatar {
            @include float(left);
            border-radius: 100px;
            width: 40px;
            position: relative;
            top: 15px;
            @include margin-right(15px);

            @include media($large) {
                top: -1px;
            }

        }

        h2 {
            display: block;
            @include float(left);
            line-height: 1.2;
            color: $white;
            text-transform: uppercase;
            font-size: em(21);
            font-weight: 400;
            margin: 0;

            @include media($large) {
                font-size: em(32);
            }

            &:hover {
               opacity: .75;
            }

        }

    }

    .nav-icon {
        position: relative;
        display: block;
        width: 28px;
        height: 20px;
        @include float(right);
        @include lrswap(margin, 16px 15px);
        @include transition(all, .4s);
        cursor: pointer;
        z-index: $body;

        @include media($large) {
            display: none;
        }

        span {
           display: block;
           position: absolute;
           height: 3px;
           width: 100%;
           background: $white;
           opacity: 1;
           @include right(0);
           @include transition(all, .25s)
        }

        span:nth-child(1) {
           top: 0px;
           @include transform-origin(left center);
        }

        span:nth-child(2) {
           top: 9px;
           @include transform-origin(left center);
        }

        span:nth-child(3) {
           top: 18px;
           @include transform-origin(left center);
        }

        &.open span:nth-child(1) {
           transform: rotate(45deg);
           top: 0px;
        }

        &.open span:nth-child(2) {
           width: 0%;
           opacity: 0;
        }

        &.open span:nth-child(3) {
           transform: rotate(-45deg);
           top:22px;
        }

    }

}
