.main-menu {

    &.dropdown-menu {
        display: none;
        @include left(auto !important);
        width: 100%;

        @include media($medium) {
            display: block;
            width: auto;
            height: 100vh;
            top: 0;
            z-index: 0;
        }

        li:hover {
            background: transparent;

            a {
                color: $black;
            }

        }

    }

    &.collapsed {

        @include media($medium) {

            .toggle-menu {

                @include icon(after, exchange) {
                    @include lrswap(padding, 0 20px 10px 0);
                }

            }

            .main-nav a,
            .sub-nav {
                display: none;
            }

            &.dropdown-menu {
                min-width: 0;
            }

        }

    }

}

.navigation {
    z-index: 602;
    overflow: auto;
    @include float(left);
    background-color: white;
    @include lrswap(padding, $base-spacing 5px 0 15px);
    width: 100%;
    @include transition(all .25s, margin .4s);


    @include media($medium) {
        display: block;
        visibility: visible;
        position: static;
        @include left(0);
        background-color: transparent;
        padding-top: 0;
        margin: 70px 0 0;
    }

   @include media($xlarge) {
      @include left(30px);
   }

    /* five items */
    &:nth-last-child(6),
    &:nth-last-child(6) ~ ul {
        position: absolute;
    }

    ul {
        margin: 0 0 $base-spacing*2 0;
    }

    li {
        padding: 8px 0;

        a {
            padding: $sm-spacing 0;

            &.active {
                color: $black;
            }

        }

    }

    .main-nav {
        @extend .list-reset;
        margin-bottom: 20px;

        @include media($medium) {
            padding-top: $sm-spacing;
        }

        li {
            margin-bottom: 0;
            padding: $sm-spacing 0;
            line-height: 1;

            &.active {

                i, a {
                    color: black;
                }

            }

            a, span {
                display: inline;
                color: $link-color;
                padding: 0;
                text-transform: uppercase;
                font-weight: $bold;
                letter-spacing: 1.5px;

                &[data-toggle] {
                   display: block;
                   margin: 0;

                   &:hover {
                      cursor: pointer;
                      color: $link-hover-color;
                   }

                   @include icon($before, plus) {
                      @include lrswap(padding, 0 5px 0 1px);
                   }

                   &.active {
                      @include icon($before, minus);
                   }

                }

            }

            ul {
                margin: 10px 0 0px 0;

                li {
                    @include lrswap(padding, $tiny-spacing $tiny-spacing $tiny-spacing ($base-spacing - 3px));
                }

                a {
                   text-transform: none;
                   font-weight: normal;
                   letter-spacing: inherit;
                }

            }

        }

        i {
            color: $mid-gray;
            font-size: em(16);
            @include padding-right(12px);
        }

        .toggle-content {
            display: none;

            &.active {
                display: block;
            }

        }

    }

    .sub-nav {
        @extend .list-reset;
        margin: 0 0 $base-spacing 0;

        h6.zeta {
            color: #737373;
            text-transform: uppercase;
            font-size: 0.875em;
        }

        .saved-searches {
            @include icon($before, filter) {
                color: $mid-gray;
                font-size: em(18);
                @include padding-right(12px);
            }

        }

        .collections {
            @include icon($before, collection) {
                color: $mid-gray;
                font-size: em(18);
                @include padding-right(8px);
            }

        }

        button {
            margin: $sm-spacing 0 0 0;

            &.button-secondary.has-icon {

                @include icon ($before, plus) {
                    @include padding-right(10px);
                }

            }

        }

        ul {
            margin: 0;
        }

        li {
            display: inline;
            @include float(left);
            clear: both;
            margin: 0;
            padding: 0;
            border-width: 3px;
            line-height: 1;
        }

        a {
            @include padding-right(10px);
        }

    }

    .main-nav,
    .sub-nav {
        @include float(left);
        clear: both;
    }

    .toggle-menu {
        display: none;

        @include media($medium) {
            display: block;
            position: absolute;
            bottom: 0;
            @include right(0);
            @include icon(after, exchange) {
                color: $black;
                @include lrswap(padding, 0 12px 10px 0);
            }

        }

    }

}
