.navigation-open {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        z-index: 601;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $dark-bg;
        background-color: rgba(0,0,0,.75);
    }

    @include media($medium) {
        overflow: auto;

        &:after {
            content: none;
        }
    }

}

.navigation {
    position: fixed;
    z-index: 602;
    top: 0;
    left: -300px;
    visibility: hidden;
    overflow: auto;
    float: left;
    background-color: white;
    padding: $base-spacing;
    width: 70%;
    @include transition(all .25s, margin .4s);

    @include media($mobile-up) {
        width: 45%;
    }

    @include media($small) {
        width: 35%;
    }

    @include media($medium) {
        position: static;
        width: 20%;
        left: 0;
        visibility: visible;
        display: block;
        margin: $sm-spacing 0 0;
        padding-top: 0;
    }

    @include media($xlarge) {
        left: 30px;
    }

    /* five items */
    &:nth-last-child(6),
    &:nth-last-child(6) ~ ul {
        position: absolute;
    }

    .navigation-open & {
        visibility: visible;
        left: 0;
        height: 100%;
    }

    .nav-icon {
        @include media($medium) {
            display: none;
        }
    }

    .button-create {
        margin-top: $base-spacing;
        @include media($medium) {
            display: none;
        }

    }

    .user-admin {
        position: relative;
        display: block;
        color: $black;
        padding: 15px 0;
        border: 0;
        border-top: $base-border;
        border-bottom: $base-border;
        border-radius: 0;

        @include media($medium) {
            display: none;
        }

        .button-toggle:after {
            content: "\f078";
        }

    }

    ul:not(.hidden-content) {
        margin: $base-spacing*2 0;
    }

    li {
        padding: 8px 0;

        a {
            padding: $sm-spacing 0;

            &.active {
                color: $black;
            }

        }

    }

    .main-nav {

        @include media($medium) {
            padding-top: $sm-spacing;
            margin-top: 0;
        }

        li {
            padding: $sm-spacing 0;

            a {
                display: inline;
                padding: 0;
                text-transform: uppercase;
                font-weight: $bold;
                letter-spacing: 1.5px;
            }

        }

        .hidden-content-trigger{
            @include icon(before, plus);
            display: block;
            margin: 0;

            &.open {
                @include icon(before, minus);
            }

        }

        .hidden-content {
            margin: 10px 0 0px 0;

            li {
                padding: $tiny-spacing $tiny-spacing $tiny-spacing ($base-spacing - 3px);
            }

            a {
                text-transform: none;
                font-weight: normal;
                letter-spacing: inherit;
            }

        }

    }

    .sub-nav {

        .saved-searches {
            @include icon(before, filter) {
                color: $mid-gray;
                font-size: em(18);
                padding-right: 8px;
            }
        }

        .collections {
            @include icon(before, collection) {
                color: $mid-gray;
                font-size: em(18);
                padding-right: 8px;
            }
        }

        button {
            margin: $sm-spacing 0 0 0;

            &.button-secondary.has-icon {
                @include icon (before, plus) {
                    padding-right: 10px;
                }

            }

        }

        li {
            padding: $sm-spacing 0;
            border-width: 3px;
        }

        a {
            padding-right: 5px;
        }

        .star {
            @include icon(after, star);
            color: $mid-gray;
            opacity: 0;

            &:hover {
                color: $yellow;
            }

            &.yellow {
                opacity: 1;
                color: $yellow;
                &:after {
                    transform: rotate(360deg);
                    transform-origin: 40%;
                }
            }

        }

        a:hover + .star, .star:hover{
            @include transition(opacity .25s);
            opacity: 1;
        }

        .credit {
            font-size: em(14);
            line-height: 1;
            margin: $tiny-spacing 0 0;
            color: $dk-gray;

            a {
                color: $dk-gray;
                padding: 0;
                border-bottom: $base-border;
            }
        }

    }


/*
    .header-compact + .wrapper & {
        margin-top: -231px;
        @include transition(all .25s, margin .4s);
    }
*/

}
