.navigation-open {
    position: relative;
    overflow: hidden;

    @include media($medium) {
        overflow: auto;

        &:after {
            content: none;
        }

    }

}

.close-nav {
    content: '';
    position: absolute;
    z-index: 601;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $dark-bg;
    background-color: rgba(0,0,0,.45);
}

.navigation {
    position: fixed;
    z-index: 602;
    top: 0;
    @include left(-300px);
    visibility: hidden;
    overflow: auto;
    @include float(left);
    background-color: white;
    padding: $base-spacing;
    width: 70%;
    @include transition(all .25s, margin .4s);

    @include media($mobile-up) {
        width: 45%;
    }

    @include media($small) {
        width: 35%;
    }

    @include media($medium) {
        position: static;
        width: 20%;
        @include left(0);
        visibility: visible;
        display: block;
        margin: $base-spacing 0 0;
        padding-top: 0;
    }

    @include media($xlarge) {
        @include left(30px);
    }

    /* five items */
    &:nth-last-child(6),
    &:nth-last-child(6) ~ ul {
        position: absolute;
    }

    .navigation-open & {
        visibility: visible;
        @include left(0);
        height: 100%;
    }

    .nav-icon {

        @include media($medium) {
            display: none;
        }

    }

    .button-create {
        margin: $base-spacing 0;

        @include media($medium) {
            display: none;
        }

    }

    .user-admin {
        position: relative;
        display: block;
        color: $black;
        padding: 15px 0;
        border: 0;
        border-top: $base-border;
        border-bottom: $base-border;
        border-radius: 0;

        @include media($medium) {
            display: none;
        }

        .button-toggle:after {
            content: "\f078";
        }

        .toggle-wrapper {
            @include text-align(left);
        }

    }

    ul {
        margin: 0 0 $base-spacing*2 0;
    }

    li {
        padding: 8px 0;

        a {
            padding: $sm-spacing 0;

            &.active {
                color: $black;
            }

        }

    }

    .main-nav {
        @extend .list-unstyled;
        margin: 0 0 $base-spacing*2 0;

        @include media($medium) {
            padding-top: $sm-spacing;
        }

        li {
            margin-bottom: 0;
            padding: $sm-spacing 0;
            line-height: 1;

            a {
                display: inline;
                padding: 0;
                text-transform: uppercase;
                font-weight: $bold;
                letter-spacing: 1.5px;
            }

        }

        .settings-nav {

            .settings-nav-header a {
                @include icon($before, plus) {
                    @include lrswap(padding, 0 5px 0 1px);
                }
                display: block;
                margin: 0;

                &.open {
                    @include icon($before, minus);
                }

            }

            ul {

                margin: 10px 0 0px 0;
                display: none;

                li {
                    @include lrswap(padding, $tiny-spacing $tiny-spacing $tiny-spacing ($base-spacing - 3px));
                }

                a {
                    text-transform: none;
                    font-weight: normal;
                    letter-spacing: inherit;
                }

            }
        }

    }

    .sub-nav {
        @extend .list-unstyled;
        margin: 0 0 $base-spacing*2 0;

        .saved-searches {
            @include icon($before, filter) {
                color: $mid-gray;
                font-size: em(18);
                @include padding-right(8px);
            }

        }

        .collections {
            @include icon($before, collection) {
                color: $mid-gray;
                font-size: em(18);
                @include padding-right(8px);
            }

        }

        button {
            margin: $sm-spacing 0 0 0;

            &.button-secondary.has-icon {
                @include icon ($before, plus) {
                    @include padding-right(10px);
                }

            }

        }

        ul {
            margin: 0;
        }

        li {
            display: inline;
            @include float(left);
            clear: both;
            margin: 0;
            padding: $sm-spacing 0;
            border-width: 3px;
            line-height: 1;
        }

        a {
            @include padding-right(10px);
        }

        .star {
            @include float(right);
            @include icon($after, star) {
                padding: 0;
            }
            color: $mid-gray;
            opacity: .5;

            &:hover {
                cursor: pointer;
                color: $yellow;
            }

            &.yellow {
                opacity: 1;
                color: $yellow;

                &:after,
                &:before {
                    transform: rotate(360deg);
                    transform-origin: 50%;
                }

            }

        }

        a:hover + .star, .star:hover{
            @include transition(opacity .25s);
            opacity: 1;
        }

        .credit {
            font-size: em(14);
            line-height: 1;
            margin: $tiny-spacing 0 0;
            color: $dk-gray;

            a {
                color: $dk-gray;
                padding: 0;
                border-bottom: $base-border;
            }

        }

    }

    .nav-icon,
    .button-create,
    .main-nav,
    .user-admin,
    .sub-nav {
        @include float(left);
        clear: both;
    }
/*
    .header-compact + .wrapper & {
        margin-top: -231px;
        @include transition(all .25s, margin .4s);
    }
*/

}
