.navigation-open {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        z-index: 601;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $dark-bg;
        background-color: rgba(0,0,0,.75);
    }

    @include media($medium) {
        overflow: auto;

        &:after {
            content: none;
        }
    }

}

.navigation {
    position: fixed;
    z-index: 602;
    top: 0;
    left: -300px;
    visibility: hidden;
    overflow: scroll;
    float: left;
    background-color: white;
    padding: $base-spacing;
    width: 90%;
    @include transition(all .25s, margin .4s);

    @include media($mobile-up) {
        width: 45%;
    }

    @include media($small) {
        width: 35%;
    }

    @include media($medium) {
        position: static;
        width: 20%;
        left: 0;
        visibility: visible;
        display: block;
        margin: $sm-spacing 0 0;
        padding-top: 0;
    }

    @include media($xlarge) {
        left: 30px;
    }

    /* five items */
    &:nth-last-child(6),
    &:nth-last-child(6) ~ ul {
        position: absolute;
    }

    .navigation-open & {
        visibility: visible;
        left: 0;
        height: 100%;
    }

    .nav-icon {
        @include media($medium) {
            display: none;
        }
    }

    .button-create {
        margin-top: $base-spacing;
        @include media($medium) {
            display: none;
        }

    }

    .hidden-content-trigger {
        @include icon(before, plus);

        &.open {
            @include icon(before, minus);

            &:focus {
                color: $link-hover-color;
            }

        }

    }

    button {
        border-top: $base-border;
        border-bottom: $base-border;

        &.user-admin {
            position: relative;
            display: block;
            color: $black;
            padding: 15px 0;
            border: 0;
            border-top: $base-border;
            border-bottom: $base-border;
            border-radius: 0;

            @include media($medium) {
                display: none;
            }

        }

    }

    ul {
        margin: $base-spacing*2 0;
    }

    li {
        padding: 8px 0;

        a {
            padding: $sm-spacing 0;

            &.active {
                color: $black;
            }

        }

    }

    .main-nav {

        @include media($medium) {
            padding-top: $sm-spacing;
            margin-top: 0;
        }

        li {
            padding: $sm-spacing 0;

            a {
                text-transform: uppercase;
                font-weight: $bold;
                letter-spacing: 1.5px;
            }

        }

        .hidden-content {
            display: none;
            margin: $sm-spacing 0 0 0;

            li {
                padding: 10px 0 0 18px;

                a {
                    font-weight: normal;
                    text-transform: none;
                    letter-spacing: normal;
                }

            }

        }

    }

    .sets-nav {

        li a {

            &:before {
                font-family: FontAwesome;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                content: "\f0b0";
                padding-right: 3px;
                color: lighten($dk-gray, 35);
            }

        }

        button {
            margin: $sm-spacing 0 0 0;

            &.button-secondary.has-icon {
                @include icon (before, plus) {
                    padding-right: 10px;
                }

            }

        }

    }

    .all-sets-nav {

        li a {

            &:before {
                font-family: FontAwesome;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                content: "\f0b0";
                padding-right: 3px;
                color: lighten($dk-gray, 35);
            }

            &.has-bookmark:after {
                position: relative;
                bottom: -2px;
                float: left;
                font-family: FontAwesome;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                content: "\f02e";
                padding-right: 3px;
                color: lighten($dk-gray, 35);
            }

        }

    }

/*
    .header-compact + .wrapper & {
        margin-top: -231px;
        @include transition(all .25s, margin .4s);
    }
*/

}
