.main-col.map-background {
    background: $lt-gray;
    @include span-columns(12);
}

.map {
    @include span-columns(11);
    z-index: $map;

    @include media($small) {
        @include span-columns(12);
    }

    .form-field {
        position: relative;
        z-index: $map + 1;
        top: $sm-spacing;
        @include left(60px);

        input {
             @include padding-left(30px);
             max-width: 70%;
        }
    }

    a.locate {
        position: absolute;
        top: 8px;
        @include left(10px);
       // color: $link-color;
    }

    .postcard-body {
        @include lrswap(padding, $sm-spacing*2 $sm-spacing $sm-spacing $sm-spacing)
    }

    .postcard-actions-trigger {
        top: $sm-spacing*2;
    }

    .dropdown-menu {
        top: $huge-spacing+10 !important;
        right: $sm-spacing !important;
    }

}

.custom-map-marker {

    .map-marker-icon,
    .map-marker-icon-alt {
        width: 40px;
        height: 40px;
    }

    .map-marker-icon {
        fill: $blue;
    }

    .map-marker-icon-alt {
        fill: $red;
    }

    .map-marker-shadow {
        fill: $black;
        opacity: .5;
    }

}
