/*
.main-col.map-background {
    background: $lt-gray;
    @include span-columns(12);
}

.map {
    height: 700px;
    @include span-columns(11);
    z-index: $map;

    @include media($small) {
        @include span-columns(12);
    }

    .form-field {
        position: relative;
        z-index: $map + 1;
        top: $sm-spacing;
        @include left(60px);

        input {
             @include padding-left(30px);
             max-width: 70%;
        }
    }

    a.locate {
        position: absolute;
        top: 8px;
        @include left(10px);
       // color: $link-color;
    }

}

.custom-map-marker {
    width: 30px;
    height: 70px;

    .map-marker-icon {
        fill: $blue;
    }

    .map-marker-shadow {
        fill: $black;
        opacity: .5;
    }

}
*/
