.main-col.map-background {
    background: $lt-gray;
    @include span-columns(12);
}

.map {
    z-index: $map;

    .form-field {
        position: relative;
        z-index: $map + 1;
        top: $sm-spacing;
        @include left(60px);

        input {
             @include padding-left(30px);
             max-width: 70%;
        }
    }

    a.locate {
        position: absolute;
        top: 8px;
        @include left(10px);
       // color: $link-color;
    }

    svg.iconic {
        position: static;
    }

    .dropdown-menu {

         li {

             svg.iconic {
                 top: auto;
             }
         }
    }

}

.custom-map-marker {

    .map-marker-icon,
    .map-marker-icon-alt {
        width: 40px;
        height: 40px;
    }

    .map-marker-icon {
        fill: $blue;
    }

    .map-marker-icon-alt {
        fill: $red;
    }

    .map-marker-shadow {
        fill: $black;
        opacity: .5;
    }

}
