.mode-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-primary;
    z-index: $modebar;

    @include media($medium) {
        left: 0;
        width: 60px;
        height: 100vh;
    }

    ul {
        margin: 0;
    }

    li {
        /*
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        */
        @include float(left);
        width: 25%;
        list-style-type: none;
        text-align: center;
        margin: 0;

        @include media($medium) {
            display: inline-block;
            flex-grow: 1;
            width: 100%;
            margin-top: 15px;
            padding: 0 10px;
        }

        a {
            display: block;
            color: $color-tertiary;
            font-size: 11px;
            padding: $tiny-spacing/2 0;
            @include transition(0.3s);

            &:hover {
                color: $white;

                svg.iconic {
                    fill: $white;
                }
            }
        }

        svg.iconic {
            display: block;
            width: $sm-spacing;
            height: $sm-spacing;
            fill: $color-tertiary;
            margin: 4px auto 6px;
            @include transition(0.3s);
        }

        &.active {

            a {
                color: $color-secondary;

                svg.iconic {
                    fill: $color-secondary;
                }
            }
        }

    }

    .mode-bar-trigger {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 75%;
        text-align: center;
        background-color: $color-primary;

        svg.iconic {
            display: block;
            width: $sm-spacing;
            height: $sm-spacing;
            fill: $color-tertiary;
            margin: 4px auto 6px;
            @include transition(0.3s);
        }

        a {
            display: block;
            color: $color-tertiary;
            font-size: 11px;
            padding: $tiny-spacing/2 0;
            @include transition(0.3s);

            &:hover {
                color: $white;

                svg.iconic {
                    fill: $white;
                }
            }
        }
    }

    .account-menu {
        display: none;
    }

    .main-nav {
        margin: 0;
        //Test if autoprefixer covers this
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        @include media($medium) {
            display: block;
        }

        li {

            &:hover a,
            &.active a {
               color: $highlight;
            }

        }

        .ushahidi a {
            display: block;
            background: url('/assets/img/ushahidi-logo.png') no-repeat;
            background-size: 100%;
            height: 30px;
            width: 30px;
            margin: auto;
        }

        i {
            @include float(left);
            @include lrswap(padding, 0 $sm-spacing $sm-spacing 12px);
            font-size: em(20);
            transition: none;
        }

        span {
            @include float(left);
            clear: both;

            @include media($medium) {
                float: none;
                clear: none;
            }

        }

    }

    .dropdown-menu {

        @include media($medium) {
            min-width: inherit;
            border: none;
            box-shadow: none;
            background-color: transparent;
            margin-top: 0;
        }

        li:hover {
            background: transparent;
        }

    }

    .secondary-nav {
        margin: 0 0 40px 0;

        @include media($medium) {
            position: absolute;
            bottom: 0;
        }

        li {
            margin: 0;
            padding: 0;

            a {
                margin: 10px 20px;
                padding: 0;
                font-size: em(16);
            }

            &:hover a {
               color: $white;
            }

        }

        .notifications {

            a {
                @include icon(before, bell) {
                    font-size: em(16);
                }

            }

            &.active a:before {
                color: $highlight;
            }

        }

        .collections {

            a {
                @include icon(before, collection) {
                    font-size: em(16);
                }

            }

        }

        .account-settings {
            margin-top: 20px;

            a {
                width: 35px;
                margin: auto;
                @include margin-left(12px);
                padding: 0;
            }

        }

    }

    .more {

        @include media($medium) {
            display: none;
        }

    }

    .toggle-content {

        @include media($medium) {
            display: block;
            position: absolute;
            bottom: 0;
        }

    }

}
