.modal-visible {
   overflow: hidden;
}

.modal-window {
   position: absolute;
   z-index: $modal + 1;
   width: 90%;
   left: 5%;
   top: $base-spacing;
   @extend .sheet;
   padding: $sm-spacing;
   padding-bottom: $tiny-spacing;
   margin-bottom: $base-spacing;

   &.ushahidi-logo {
      background: $white url("../img/ushahidi-logo.svg") no-repeat;
      background-size: 17%;
      background-position: 96% 2%;

      .divider {
         width: 80%;
      }
   }

   @include media($mobile) {
      padding: $base-spacing;
   }

   @include media($small) {
      top: $lg-spacing;
      width: 600px;
      margin-left: -300px;
      left: 50%;
   }

   .modal-title {
       font-weight: $bold;
       font-size: 20px;
       font-size: 1.428571429rem;
       margin-bottom: $base-spacing;

       @include media($small) {
           font-size: 24px;
           font-size: 1.714285714rem;
       }

      em {
         @include typeGamma;
         color: $color-dark-delta;
         font-style: normal;
      }

      svg.iconic {
          width: .833333333em;
          height: .833333333em;
          fill: $color-dark-delta;
          margin-right: $tiny-spacing;
      }
   }

   .modal-body {
       overflow-y: auto;
   }

   .modal-trigger-close {
      position: absolute;
      top: $sm-spacing - 4;
      @include right($sm-spacing);

      @include media($mobile) {
          top: $base-spacing - 4;
         @include right($base-spacing);
      }
   }

   .tabs-menu {
       margin-right: -$sm-spacing;
       margin-bottom: $base-spacing;
       margin-left: -$sm-spacing;

       @include media($medium) {
           margin-right: -$base-spacing;
           margin-left: -$base-spacing;
       }
   }

   .listing {
       @include radius;
       border: 1px solid $color-light-beta;
       background-color: $color-light-gamma;
       margin-bottom: $sm-spacing;

       @include media($medium) {
           margin-bottom: $base-spacing;
       }

       .listing-heading {
           border-bottom: 1px solid $color-light-beta;
           background-color: $color-light-beta;
           padding: $sm-spacing;

           @include media($medium) {
               padding: $sm-spacing $base-spacing;
           }

           + .listing-item {
               margin-top: 0;
           }
       }

       .listing-item {
           border-bottom-color: $color-light-beta;
       }
   }

   [data-toggle] {
       color: $link-color;

       &:hover {
           color: $link-hover-color;
       }

       &.active {
           display: none;
       }
   }

   .toggle-content {
       display: none;

       &.active {
           display: block;
       }
   }
}

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: auto;
   height: auto;
   overflow: hidden;
   background: rgba(0, 0, 0, 0.75);
   z-index: $modal; //variable defined in settings.scss
}

.modal {
   display: none;

   .modal-window {
      @include transition(all 0.35s);
      opacity: 0;
      margin-top: -999px;
   }

   .modal-overlay {
      @include transition(all 0.2s);
      opacity: 0;
   }

   .modal-visible & {

      .modal-window {
         opacity: 1;
         margin-top: 0;
      }

      .modal-overlay {
         opacity: 1;
      }
   }
}
