.modal-visible {
   overflow: hidden;
}

.modal-window {
    position: relative;
    @extend .sheet;
    padding: 0 $sm-spacing;

   @include media($mobile) {
      padding: 0 $base-spacing;
   }

   .modal-title {
       font-weight: $bold;
       font-size: 20px;
       font-size: 1.428571429rem;
       margin: $base-spacing 0;

       @include media($small) {
           font-size: 24px;
           font-size: 1.714285714rem;
       }

      em {
         @include typeGamma;
         color: $color-dark-delta;
         font-style: normal;
      }

      svg.iconic {
          width: .833333333em;
          height: .833333333em;
          fill: $color-dark-delta;
          margin-right: $tiny-spacing;
      }
   }

   .modal-body {
       overflow-y: auto;
   }

   .modal-trigger-close {
      position: absolute;
      top: $base-spacing;
      @include right($sm-spacing);
      margin-top: -$tiny-spacing;

      @include media($mobile) {
         @include right($base-spacing);
      }
   }

   .tabs-menu {
       margin-right: -$sm-spacing;
       margin-bottom: $base-spacing;
       margin-left: -$sm-spacing;

       @include media($medium) {
           margin-right: -$base-spacing;
           margin-left: -$base-spacing;
       }
   }

   .listing {
       @include radius;
       border: 1px solid $color-light-beta;
       background-color: $color-light-gamma;
       margin-bottom: $sm-spacing;

       @include media($medium) {
           margin-bottom: $base-spacing;
       }

       .listing-heading {
           border-bottom: 1px solid $color-light-beta;
           background-color: $color-light-beta;
           padding: $sm-spacing;

           @include media($medium) {
               padding: $sm-spacing $base-spacing;
           }

           + .listing-item {
               margin-top: 0;
           }
       }

       .listing-item {
           border-bottom-color: $color-light-beta;
       }
   }

   .form-field {

       &:last-child {
           margin-bottom: $sm-spacing;
       }
   }

   .postcard {
       margin-bottom: $base-spacing;
   }

   [data-toggle] {
       color: $link-color;

       &:hover {
           color: $link-hover-color;
       }

       &.active {
           display: none;
       }
   }

   .toggle-content {
       display: none;

       &.active {
           display: block;
       }
   }
}

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: auto;
   height: auto;
   overflow: hidden;
   background: rgba(0, 0, 0, 0.75);
   z-index: $modal; //variable defined in settings.scss
}
