.mode-context {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $black;
    color: $white;
    @include lrswap(padding, 0px 20px $sm-spacing 20px);
    @include padding-left(140px);
    @include transition(all .25s);
    z-index: $topbar;

    @include media($medium) {
        width: 290px;
        padding-left: 80px;
    }

    &.collapsed {
        overflow: scroll;

        @include media($medium) {
            height: 100vh;
        }

        .context-divider,
        .stats,
        .mode-group {
            display: none;

            @include media($medium) {
                display: block;
            }

        }

        .description {

            p:after {
                content: '';
                position: absolute;
                top: 0;
                right: -70%;
                width: 300%;
                height: 74px;
                @include linear-gradient(transparent 35%, rgba(0,0,0,1));
                @include media($medium) {
                    content: none;
                }

            }

            .context-toggle {
                @include icon(after, toggle-down) {
                    font-size: 25px;
                    color: $white;
                    @include lrswap(padding, 0 5px 0 0);
                }

            }

        }

    }

    &.open {

        @include media($small) {

            .description {

                p {
                    padding-right: 313px;
                }

                .context-toggle {
                    right: 304px;
                }

            }

        }

        @include media($medium) {
            padding-right: 0;

            .description {

                p {
                    padding-right: 35px;
                }

                .context-toggle {
                    right: 14px;
                }

            }

        }

        ~ .wrapper {
            margin: 0 auto;
        }

    }

    h6 {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 900;
    }

    a {
        color: $white;
    }

    .image {
        display: none;
        background-image: url('/assets/img/deployment-logo.png');
        height: 100px;
        width: 100px;
        margin: auto;

        @include media($medium) {
            display: block;
        }

    }

    .description {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;

        p {
            position: relative;
            font-size: 1em;
            font-weight: 700;
            padding-right: 35px;

            // @include media($medium) {
            //     padding-right: 330px;
            // }

            &:after {
                content: none;
            }

            @include media($medium) {
                padding-right: 0;
            }

        }

    }

    .forms {
        @extend .list-unstyled;
        margin-bottom: 40px;
        width: 100%;

        $colors: $red, $yellow, $brown, $green;

        @for $i from 1 through length($colors) {
            li:nth-child(#{length($colors)}n+#{$i}) {
                border-left: 6px solid nth($colors, $i)
            }
        }

        li {
            position: relative;
            @include lrswap(padding, 10px 10px 10px 10px);
            margin: 0 -11% 5px -11%;
            color: $white;
            background: $gamma-blue;

            &:last-of-type {
                margin-bottom: 20px;
            }

            i {
                padding-right: 10px;
            }

            [data-toggle] {
                float: right;
                padding: 0;
            }

            &.unknown {
                border-left: none;
                background: darken(saturate(adjust-hue($gamma-blue, 1.7143), 15.2047), 6.0784);
                @include padding-left(42px);

                &:after {
                    content: none;
                }

            }

            .dropdown-menu.init{
                position: absolute;
                @include left(5px !important);
                width: 218px;
                top: 0px;
                @include equal-radius(3px);

                i.fa-chevron-circle-up {
                    position: absolute;
                    top: 10px;
                    @include right(-4px);
                    color: $alpha-gray;
                }

                li {
                    color: $text-color;
                    background: transparent;
                    border: none;
                    width: 100%;
                    margin: 0;
                    @include lrswap(padding, 10px 0 10px 30px);
                    line-height: 1.3em;

                    i {
                        position: absolute;
                        @include left(0);
                    }

                }

                .divider {
                    width: 75%;
                    @include lrswap(margin, 0 0 0 30px);
                    background: $gamma-gray;
                }

            }

        }

        .see-more {
            @include padding-left(20px);
            font-size: em(14);
        }

    }

    .mode-group {
        position: relative;

        [data-toggle] {
            position: absolute;
            top: -20px;
            @include right(-20px);
            padding: 20px;
            font-size: em(8px);
        }

        .dropdown-menu.init.active {
            @include left(0) !important;

            background: transparent;
        }

    }

    .context-toggle {
        display: block;
        position: fixed;
        top: 70px;
        right: 14px;
        @include icon(after, toggle-up) {
            font-size: 25px;
            color: $white;
            @include lrswap(padding, 0 5px 0 0);
        }
        z-index: 1;

        @include media($medium) {
            right: 304px;
        }

        @include media($medium) {
            display: none;
        }

    }

}
