.mode-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: $mid-black;
    z-index: $top;

    @include media($medium) {
        left: 0;
        width: 60px;
        height: 100vh;
    }

    li {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        @include float(left);
        text-align: center;
        margin-top: 18px;

        @include media($medium) {
            display: inline-block;
            flex-grow: 1;
            width: 100%;
            text-align: center;
            margin-top: 15px;
            padding: 0 10px;
        }

        a {
            color: $white;
            font-size: em(13);
        }

    }

    .main-nav {
        margin: 0;
        //Test if autoprefixer covers this
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        @include media($medium) {
            display: block;
        }

        li {

            &:hover a,
            &.active a {
               color: $highlight;
            }

        }

        .ushahidi a {
            display: block;
            background: url('/assets/img/ushahidi-logo.png') no-repeat;
            background-size: 100%;
            height: 30px;
            width: 30px;
            margin: auto;
        }

        i {
            @include float(left);
            @include lrswap(padding, 0 $sm-spacing $sm-spacing 12px);
            font-size: em(20);
            transition: none;
        }

        span {
            @include float(left);
            clear: both;

            @include media($medium) {
                float: none;
                clear: none;
            }

        }

    }

    .dropdown-menu {

        @include media($medium) {
            min-width: inherit;
            border: none;
            box-shadow: none;
            background-color: transparent;
            margin-top: 0;
        }

        li:hover {
            background: transparent;
        }

    }

    .secondary-nav {
        margin: 0 0 40px 0;

        @include media($medium) {
            position: absolute;
            bottom: 0;
        }

        li {
            margin: 0;
            padding: 0;

            a {
                margin: 10px 20px;
                padding: 0;
                font-size: em(16);
            }

            &:hover a {
               color: $white;
            }

        }

        .notifications {

            a {
                @include icon(before, bell) {
                    font-size: em(16);
                }

            }

            &.active a:before {
                color: $highlight;
            }

        }

        .collections {

            a {
                @include icon(before, collection) {
                    font-size: em(16);
                }

            }

        }

        .account-settings {
            margin-top: 20px;

            a {
                width: 35px;
                margin: auto;
                @include margin-left(12px);
                padding: 0;
            }

        }

    }

    .more {

        @include media($medium) {
            display: none;
        }

    }

    .toggle-content {

        @include media($medium) {
            display: block;
            position: absolute;
            bottom: 0;
        }

    }

}
