.mode-context {
    position: relative;
    color: $white;
    @extend .menu;
    @include equal-radius(0);
    background-color: $color-primary-alpha;
    @include transition(all .25s);

    h6 {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 900;
    }

    .mode-context-title {
        color: $white;
        font-size: 20px;
        font-size: 1.428571429rem;
        line-height: 1.3em;

        @include media($medium) {
            font-size: 26px;
            font-size: 1.857142857rem;
        }
    }

    .mode-context-header {
        position: relative;
        padding: 0 $sm-spacing;

        a {
            color: $white;
        }

        .mode-context-title {
            @include padding-left(48px);
            margin: $sm-spacing 0;

            @include media($medium) {
                padding: 0;
            }
        }

        .deployment-logo {
            position: absolute;
            top: 0;
            @include left($sm-spacing);
            height: 34px;
            width: 34px;
            @include equal-radius(100%);
            box-shadow: 0 1px 4px $color-primary-alpha,
                0 0 0 1px $color-primary-alpha;
            margin-top: -6px;

            @include media($medium) {
                position: relative;
                top: 0;
                @include left(0);
                height: 100px;
                width: 100px;
                @include no-shadow;
                margin: auto;
            }
        }
    }

    .mode-context-trigger {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-primary-alpha;
        @include box-shadow($top: 0, $left: -1px, $blur: 4px, $spread: 0, $color: rgba(30,35,42,1), $inset: false);
        padding: $sm-spacing+4 $sm-spacing;

        svg.iconic {
            fill: $color-tertiary;
            @include transition(0.3s);
        }

        &.active {

            svg.iconic {
                @include transform(rotate(180deg));
            }
        }
    }

    &.init {
        max-height: 55px;
        overflow-y: hidden;

        .mode-context-header {

            .mode-context-title {
                width: 100%;
                overflow-x: scroll;
                white-space: nowrap;
                padding-right: $huge-spacing;
            }
        }

        .mode-context-trigger {
            display: inline-block;
        }

        .mode-context-body {
            display: none;
        }

        &.active {
            max-height: none;
            overflow-y: scroll;

            .mode-context-header {

                .mode-context-title {
                    width: auto;
                    overflow-x: visible;
                    white-space: normal;
                }
            }

            .mode-context-body {
                display: block;
            }
        }

        @include media($medium) {
            max-height: none;
            overflow-y: visible;

            .mode-context-header {
                padding-top: 1px;

                .mode-context-title {
                    white-space: normal;
                }
            }

            .mode-context-trigger {
                display: none;
            }

            .mode-context-body {
                display: block;
            }
        }
    }

    .mode-context-body {
        padding: 0 $sm-spacing;
    }

    .mode-group {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        h6.zeta {
            margin: 0;
        }

        .toggle {
            position: absolute;
            top: -20px;
            @include right(-20px);
            padding: 20px;
            font-size: em(8px);
            cursor: pointer;
        }

        .toggle-content {
            height: 0;
            font-size: em(12);

            &.open {
                height: auto;
            }

        }

    }

    .forms-list li {

        @include media($medium) {
            margin-right: -$sm-spacing;
            margin-left: -$sm-spacing;
        }
    }

    button {
        width: 100%;

        @include media($mobile-up) {
            width: auto;
        }

        @include media($medium) {
            position: absolute;
            bottom: 15px;
            width: 190px;
        }

    }

}
