.mode-context {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: $black;
    opacity: .8;
    color: $white;
    @include lrswap(padding, 60px 20px $sm-spacing 20px);
    @include transition(all .25s);
    z-index: $topbar;

    @include media($medium) {
        padding-right: 310px;
    }

    @include media($large) {
        height: 100vh;
        width: 290px;
        @include lrswap(padding, 120px 20px 0);
    }

    &.collapsed {
        height: 145px;

        @include media($large) {
            height: 100vh;
        }

        .context-divider,
        .stats,
        .mode-group {
            display: none;

            @include media($large) {
                display: block;
            }

        }

        .description p:after {
            content: '';
            position: absolute;
            top: 0;
            right: -70%;
            width: 300%;
            height: 74px;
            background: rgba(0,0,0,0);
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 35%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,1)',GradientType=0);

            @include media($large) {
                content: none;
            }

        }

    }

    h6 {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 900;
    }

    a {
        color: $highlight;
    }

    .image {
        display: none;
        @include icon(before, check-circle) {
            font-size: 110px;
            color: $white;
            width: 100%;
            text-align: center;
        }

        @include media($large) {
            display: block;
        }

    }

    .description {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            position: relative;
            font-size: 1em;
            font-weight: 700;
            padding-right: 30px;

            &:after {
                content: none;
            }

            @include media($large) {
                padding-right: 0;
            }

        }

        .toggle-menu {
            position: absolute;
            top: 10px;
            right: -6px;
            @include icon(after, exchange) {
                font-size: 20px;
                color: $white;
                @include lrswap(padding, 0 5px 0 0);
            }
            z-index: 1;

            @include media($large) {
                display: none;
            }

        }
    }

    .context-divider,
    .stats {
        display: block;

        @include media($large) {
            display: block;
        }

    }

    .context-divider {
        border: 1px solid $border-color;
        margin: 40px 35px;
    }

    .stats {

        .stat-number,
        .stat-title {
            text-align: center;
        }

        .stat-number {
            font-size: 40px;
        }

        .stat-title {
            margin: 0 0 20px 0;
        }

    }

}
