.mode-context {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $black;
    color: $white;
    @include lrswap(padding, 0px 20px $sm-spacing 20px);
    @include transition(all .25s);
    overflow: hidden;
    z-index: $modecontext;

    @include media($medium) {
        width: 290px;
        height: 100vh;
        @include padding-left(80px);
    }

    &.open {
        height: auto;
        overflow: scroll;
    }

    h6 {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 900;
    }

    .deployment-title {
        display: block;
        @include padding-left(47px);
        color: $white;

        @include media($medium) {
            padding: 0;
        }
    }

    .context-toggle {
        display: block;
        position: absolute;
        top: 22px;
        @include right(16px);
        @include icon(after, chevron-down) {
            color: $white;
            padding: 0;
        }

        @include media($medium) {
            display: none;
        }

    }

    .image {
        position: absolute;
        top: 13px;
        @include left(17px);
        background-image: url('/assets/img/deployment-logo.png');
        height: 35px;
        width: 35px;
        background-size: 100%;

        @include media($medium) {
            position: relative;
            top: 0;
            @include left(0);
            height: 100px;
            width: 100px;
            margin: auto;
        }

    }

    .description {
        margin: 20px 0;

        p {
            font-weight: 700;
        }

    }

    .forms {
        @extend .list-unstyled;
        margin-bottom: 40px;
        width: 100%;

        $colors: $red, $yellow, $brown, $green;

        @for $i from 1 through length($colors) {
            li:nth-child(#{length($colors)}n+#{$i}) {
                border-left: 6px solid nth($colors, $i)
            }
        }

        li {
            @include lrswap(padding, 10px 10px 10px 10px);
            margin: 0 -20px 5px -20px;
            color: $white;
            background: $color-primary;

            &:last-of-type {
                margin-bottom: 20px;
            }

            i {
                padding-right: 10px;
            }

            [data-toggle] {
                float: right;
                padding: 0;
                cursor: pointer;
            }

            &.unknown {
                border-left: none;
                background: darken(saturate(adjust-hue($color-primary, 1.7143), 15.2047), 6.0784);
                @include padding-left(42px);

                &:after {
                    content: none;
                }

            }

            .dropdown-menu.init{
                @include lrswap(margin, -9px -7px 0 0);
                @include equal-radius(3px);

                @include media($medium) {
                    width: 215px;
                    @include lrswap(margin, -9px 0 0 -194px);
                }

                i.fa-chevron-circle-up {
                    position: absolute;
                    top: 8px;
                    @include right(-5px);
                    color: $color-light-alpha;
                    cursor: pointer;

                    @include media($medium) {
                        top: 9px;
                        @include right(-3px);
                    }

                }

                li {
                    color: $text-color;
                    background: transparent;
                    border: none;
                    width: 100%;
                    margin: 0;
                    @include lrswap(padding, 10px 0 10px 30px);
                    line-height: 1.3em;

                    i {
                        position: absolute;
                        @include left(20px);
                        padding-top: 2px;
                    }

                }

                .divider {
                    width: 82%;
                    @include lrswap(margin, 0 0 0 30px);
                    background: $color-light-gamma;
                }

            }

        }

        .see-more {
            @include padding-left(20px);
            font-size: em(14);
        }

    }

    .mode-group {
        position: relative;
        overflow: hidden;

        h6.zeta {
            margin: 0;
        }

        .toggle {
            position: absolute;
            top: -20px;
            @include right(-20px);
            padding: 20px;
            font-size: em(8px);
            cursor: pointer;
        }

        .toggle-content {
            height: 0;
            font-size: em(12);

            &.open {
                height: auto;
            }

        }

    }

}
