.modal-visible {
    overflow: hidden;
}

.modal-window {
    position: relative;
    @include containerSheet;
    padding: 0 $sm-spacing;

    @include media($mobile) {
        padding: 0 $base-spacing;
    }

    .modal-title {
        font-weight: $bold;
        font-size: 20px;
        font-size: 1.428571429rem;
        margin: $base-spacing 0;

        @include media($small) {
            font-size: 24px;
            font-size: 1.714285714rem;
        }

/*
        &.form-field {
            border-bottom: $base-border-dark;
            padding: $base-spacing 0;
            margin: 0;

            &.checkbox {
                padding-left: 0;

                &.checked {
                    text-decoration: line-through;
                }
            }
        }
*/

        em {
            @include typeGamma;
            color: $color-dark-delta;
            font-style: normal;
        }

        svg.iconic {
            width: .833333333em;
            height: .833333333em;
            fill: $color-dark-delta;
            margin-right: $tiny-spacing;
        }

        input[type="checkbox"] {
            position: relative;
            top: -4px;
            margin-right: $tiny-spacing;
        }

        &.complete {
            color: $color-dark-delta;
            font-weight: normal;
            text-decoration: line-through;
        }
    }

    .modal-body {
        @include clearfix;
        overflow-y: auto;
        padding-bottom: 124px;

        @include media($small) {
            padding-bottom: 96px;
        }
    }

    .modal-trigger-close {
        position: absolute;
        top: $base-spacing;
        @include right($sm-spacing);
        margin-top: -$tiny-spacing;

        @include media($mobile) {
            @include right($base-spacing);
        }
    }

    .modal-actions {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $body;
        overflow: hidden;
        border-top: 1px solid $color-light-gamma;
        padding: $sm-spacing;

        @include media($medium) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-light-gamma;
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
            opacity: 0.8;
        }
    }

    .tabs-menu {
        margin-right: -$sm-spacing;
        margin-bottom: $base-spacing;
        margin-left: -$sm-spacing;

        @include media($medium) {
            margin-right: -$base-spacing;
            margin-left: -$base-spacing;
        }
    }

    .form-sheet {
        background-color: $white;
    }

    .listing {
        @include radius;
        border: 1px solid $color-light-beta;
        background-color: $color-light-gamma;
        margin-bottom: $sm-spacing;

        @include media($medium) {
            margin-bottom: $base-spacing;
        }

        .listing-heading {
            border-bottom: 1px solid $color-light-beta;
            background-color: $color-light-beta;
            padding: $sm-spacing;

            @include media($medium) {
                padding: $sm-spacing $base-spacing;
            }

            + .listing-item {
                margin-top: 0;
            }
        }

        .listing-item {
            border-bottom-color: $color-light-beta;
        }
    }

    .form-field {

        &.switch {
            margin-top: 4px;
        }
    }

    .tool {
        margin-bottom: $base-spacing;
    }

    .postcard {
        margin-bottom: $base-spacing;
    }

    .task {
        border-bottom-color: transparent;

        .form-field {
            margin-top: $base-spacing;
            margin-bottom: $sm-spacing;

            &.checkbox {

                input[type="checkbox"] {
                    top: 4px;
                }
            }

            &.checked {

                .modal-title {
                    font-weight: normal;
                    text-decoration: line-through;
                }

                + .task-body {
                    display: block;
                }
            }

            &.disabled {

                .modal-title {
                    color: $color-dark-delta;

                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }

        .task-body {
            font-size: 1em;
        }

        .modal-title {
            margin: 0;
        }
    }

/*
    .custom-fieldset {

        &.init {
            position: static;

            legend {
                z-index: 1;

                &.active {
                    border-color: $color-light-alpha;
                }
            }

            .dropdown-menu {
                z-index: $modal;
                top: auto !important;
                right: 0;
                bottom: 1500px;
                left: 0;
                overflow-y: auto;
                @include containerSheet();
                border-top: 1px solid $color-light-beta;
                padding-top: 0 !important;
                @include transition(0.3s);

                &.active {
                    bottom: 0;
                }
            }
        }
    }
*/
    [data-toggle] {
        color: $link-color;

        &:hover {
            color: $link-hover-color;
        }

/*
        &.active {
            display: none;
        }
*/
    }

    .toggle-content {
        display: none;

        &.active {
            display: block;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    z-index: $modal; //variable defined in settings.scss
}
