.mode-context {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: $black;
    opacity: .8;
    color: $white;
    @include lrswap(padding, 60px 20px $sm-spacing 20px);
    @include transition(all .25s);
    z-index: $topbar;

    @include media($medium) {
        padding-right: 310px;
    }

    @include media($large) {
        height: 100vh;
        width: 290px;
        @include lrswap(padding, 120px 20px 0);
    }

    &.collapsed {
        height: 145px;
        overflow: hidden;

        @include media($large) {
            height: 100vh;
        }

        .context-divider,
        .stats,
        .mode-group {
            display: none;

            @include media($large) {
                display: block;
            }

        }

        .description {

            p:after {
                content: '';
                position: absolute;
                top: 0;
                right: -70%;
                width: 300%;
                height: 74px;
                @include linear-gradient(transparent 35%, rgba(0,0,0,1));
                @include media($large) {
                    content: none;
                }

            }

            .context-toggle {
                @include icon(after, toggle-down) {
                    font-size: 25px;
                    color: $white;
                    @include lrswap(padding, 0 5px 0 0);
                }

            }

        }

    }

    &.open {

        @include media($small) {

            .description {

                p {
                    padding-right: 313px;
                }

                .context-toggle {
                    right: 304px;
                }

            }

        }

        @include media($medium) {
            padding-right: 0;

            .description {

                p {
                    padding-right: 35px;
                }

                .context-toggle {
                    right: 14px;
                }

            }

        }

    }

    h6 {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 900;
    }

    a {
        color: $highlight;
    }

    .image {
        display: none;
        @include icon(before, check-circle) {
            font-size: 110px;
            color: $white;
            width: 100%;
            text-align: center;
        }

        @include media($large) {
            display: block;
        }

    }

    .description {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            position: relative;
            font-size: 1em;
            font-weight: 700;
            padding-right: 35px;

            // @include media($medium) {
            //     padding-right: 330px;
            // }

            &:after {
                content: none;
            }

            @include media($large) {
                padding-right: 0;
            }

        }

        .context-toggle {
            display: block;
            position: fixed;
            top: 70px;
            right: 14px;
            @include icon(after, toggle-up) {
                font-size: 25px;
                color: $white;
                @include lrswap(padding, 0 5px 0 0);
            }
            z-index: 1;

            @include media($medium) {
                right: 304px;
            }

            @include media($large) {
                display: none;
            }

        }
    }

    .context-divider,
    .stats {
        display: block;

        @include media($large) {
            display: block;
        }

    }

    .context-divider {
        border: 1px solid $border-color;
        margin: 40px 35px;
    }

    .stats {

        .stat-number,
        .stat-title {
            text-align: center;
        }

        .stat-number {
            font-size: 40px;
        }

        .stat-title {
            margin: 0 0 20px 0;
        }

    }

}
