.mode-bar {
    @include clearfix;
    position: relative;
    width: 100%;
    background-color: $black;
    @include equal-radius(0);
    z-index: $modebar;

    @include media($medium) {
        width: 144px;
        max-width: 144px;
    }

    ul {
        @extend .list-reset;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @include media($medium) {
            flex-direction: column;
        }
    }

    li {
        position: relative;
        text-align: center;
        padding: 15px 0 13px;

        @include media($medium) {
            text-align: inherit;
            padding: $sm-spacing;
        }

        &:hover {
            cursor: hand;

            svg.iconic {
                fill: $gold;
            }

            a {
                color: $gold;
            }
        }

        &.active {

            svg.iconic {
                fill: $gold;
            }

            a {
                color: $gold;
            }
        }

        svg.iconic {
            width: $sm-spacing+2;
            height: $sm-spacing+2;
            fill: $bg-white;
            @include transition(0.3s);
        }

        a {
            display: block;
            color: $bg-white;
            font-size: em(11px);
            @include transition(0.3s);
            padding: $tiny-spacing/2 0;

            @include media($medium) {
                display: inline-block;
                position: absolute;
                top: 14px;
                margin-left: 10px;
                font-size: em(16px);
            }
        }

        &.more-menu-trigger {

            svg.iconic,
            a {
                display: block;

                @include media($medium) {
                    display: none;
                }
            }
        }
    }

    .deployment-menu {

        @include media($medium-down) {
            @include clearfix;
        }

        &:after {
            content: none;
        }

    }

    .account-menu {
        background: $dark-blue;
        display: none;

        @include media($medium) {
            display: block;
            background: $black;
        }

        svg.iconic {
            width: 13px;
            height: 13px;
        }

        a {
            font-size: em(13px);
        }
    }

    &.active {

        .account-menu {
            position: absolute;
            top: -65px;
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
    }
}
