.mode-nav {
    position: fixed;
    top: 0;
    @include right(-290px);
    height: 100vh;
    width: 290px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    @include lrswap(padding, 60px $base-spacing 70px $base-spacing);
    @include border-left(3px solid $border-color);
    @include transition(all .25s);
    @include media($medium) {
        @include right(0);
    }

    @include media($large) {
        @include lrswap(padding, 109px $base-spacing 70px $base-spacing);

        ~ .wrapper {
            @include lrswap(margin, 0 290px);
        }

    }

    &.open {
        right: 0;
        @include transition(all .25s);

        @include media($medium) {
            right: -290px;
        }

    }

    ul {
        margin: 0 0 $base-spacing*2 0;
    }

    li {
        padding: 8px 0;
        line-height: 1.5;

        a {
            padding: $sm-spacing 0;

            &.active {
                color: $black;
            }

        }

        &:hover {
            background: transparent;

            a {
                color: $black;
            }

        }

    }

    h6.zeta,
    legend {
        color: #737373;
        text-transform: uppercase;
        font-size: em(12);
        font-weight: 900;
    }

    &.collapsed {

        @include media($medium) {
            width: auto;

            .nav-toggle {

                @include icon(after, exchange) {
                    @include lrswap(padding, 0 0 10px 17px);
                }

            }

            * {
                display: none;
            }

        }

        ~ .wrapper {
            margin-right: 43px;
        }

    }

    .see-more {
        @include padding-left(36px);
        font-size: em(14);
        color: darken($dk-gray, 10);
    }

    .forms {
        @extend .list-reset;
        margin-bottom: 40px;
        width: 100%;

        $colors: $green, $red, $yellow, $brown;

        @for $i from 1 through length($colors) {
            li:nth-child(#{length($colors)}n+#{$i}) {
                background: nth($colors, $i)
            }
        }

        li {
            @include lrswap(padding, 10px 10px 10px 245px);
            margin-left: -100%;
            margin-right: -100%;
            color: $white;

            &:last-of-type {
                margin-bottom: 20px;
            }

            i {
                padding-right: 20px;
            }

        }

    }

    .views {

        li {

            &.active {

                i, a {
                    color: $black;
                }

            }

            i {
                color: $mid-gray;
                font-size: em(16);

                &.fa-map-marker {
                    @include padding-right(26px);
                }

                &.fa-list {
                    @include padding-right(20px);
                }

                &.fa-table {
                    @include padding-right(22px);
                }

            }

        }

    }

    .sub-nav {

        h6.zeta {
            @include icon(after, plus-circle) {
                position: relative;
                top: -3px;
                font-size: em(30);
                float: right;
            }

        }

        ul {
            margin-bottom: 10px;
        }

        .collections {
            @include icon($before, collection) {
                color: $mid-gray;
                font-size: em(18);
                @include padding-right(17px);
            }

        }

        .saved-searches {
            @include icon($before, filter) {
                color: $mid-gray;
                font-size: em(18);
                @include padding-right(21px);
            }

        }

    }

    .main-nav,
    .sub-nav {
        @include float(left);
        clear: both;
    }

    .views,
    .layers,
    .sub-nav {
        @extend .list-reset;
        margin-bottom: 20px;
        width: 100%;

        a {
            font-weight: 700;
        }

    }

    .gradient {
        position: fixed;
        bottom: 0;
        height: 70px;
        width: 100%;
        @include linear-gradient(transparent, $white);
    }

}

.nav-toggle {
    display: none;

    @include media($large) {
        display: block;
        position: fixed;
        bottom: 0;
        @include right(250px);
        z-index: $top;
        @include icon(after, exchange) {
            color: $black;
            padding: 10px;
        }

    }

    &.collapsed {
        right: 0;
    }

}
