.deployment-menu.dash {
    li {
        width: 100%;
    }
    @include media($medium-down) {
        li {
            width: 50%;
        }
        // the rtl-button was doing funny stuff with the pl, this not needed for the dashboard-client but I got annoyed so removed it on smaller screens...
        .pl-read-direction-nav-layout {
            display: none;
        }
    }
}
