.timeline-view {

    .custom-select{
        @include float(left);
        margin-right: 20px;
        margin-bottom: 5px;

        label {
            margin-right: 10px;
        }

    }

    .inline {
        @include float(left);
        margin-bottom: 10px;
    }

    label {
        padding-top: 9px;
    }

    .timeline img {
        clear: both;
    }

}
