.timeline-view {

    .custom-select{
        @include float(left);
        margin-right: 20px;

        label {
            margin-right: 10px;
        }

    }

    .inline {
        @include float(left);
    }

    label {
        padding-top: 9px;
    }

}
