.toolbar {
    @include clearfix;
    position: relative;
    @extend .bar;
    // min-height: 52px;
    @include equal-radius(0px);
    background-color: $color-primary;
    padding: 0 $sm-spacing;
    margin: auto;

    @include media($medium) {
        min-height: 68px;
        padding: 0 $base-spacing;
    }

    form.dropdown.open>.dropdown-menu {
        display: block;
    }

    .fab {
        display: none;

        @include media($medium) {
            display: block;
            position: absolute;
            top: 100%;
            @include left($base-spacing);
            margin-top: -27px;

            +.searchbar {
                @include margin-left($base-spacing+54);
            }
        }
    }

    .searchbar {
        @include float(left);
        width: 50%;

        .button-label {
            @include media($small-down) {
                display: none;
            }
        }

        .searchbar-input {

            .form-field {

                input[type="search"] {
                    color: $white;
                    border-color: transparent;
                    background-color: $color-primary-delta;

                    &::placeholder {
                        color: $white;
                    }
                }

                .input-with-icon {

                    input[type="search"] {

                        &:focus {

                            +svg.iconic {
                                fill: $color-primary-beta;
                            }
                        }
                    }

                    svg.iconic {
                        fill: $white;
                    }
                }
            }
        }

        .searchbar-options {

            .custom-fieldset {

                &.init {

                    legend {
                        border-color: $color-primary-delta;

                        &.active {
                            border-color: transparent;
                        }
                    }
                }
            }
        }

        +.button-group,
        +.fab+.button-group {

            // button,
            // .button {
            //     font-weight: normal;
            //     text-transform: none;
            //     letter-spacing: 0px;
            // }
        }

        .dropdown-menu {
            min-height: 100vh;

            @include media($small) {
                max-width: none;
            }

            .dropdown-menu-body {
                min-height: 100vh;
                max-height: 100vh !important;

                &:after {
                    content: '';
                    display: block;
                    padding-bottom: 50px;
                }

                @include media($medium-down) {
                    &:after {
                        content: '';
                        display: block;
                        padding-bottom: 150px;
                    }
                }

                .saved-search {

                    &:before {
                        content: '';
                        position: absolute;
                        top: $sm-spacing;
                        bottom: 15px;
                        left: -5px;
                        border-left: $base-border-dark;
                    }

                    .saved-search-filter {
                        display: inline-block;
                        margin-left: $sm-spacing;
                        margin-right: -13px;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            left: -22px;
                            top: $sm-spacing;
                            z-index: $below;
                            border-bottom: $base-border-dark;
                        }
                    }
                }
            }

            .filter-actions {
                margin: 16px 0 0 0 !important;
                z-index: $body;
                overflow: hidden;
                border-top: 1px solid $color-light-gamma;
                padding: $sm-spacing;

                @include media($medium-down) {
                    bottom: 125px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: 0;
                    bottom: 36px;
                    left: 0;
                    background-color: $color-light-gamma;
                    -webkit-filter: blur(10px);
                    -moz-filter: blur(10px);
                    -o-filter: blur(10px);
                    -ms-filter: blur(10px);
                    filter: blur(10px);
                    opacity: 0.8;
                }


                .form-field {
                    margin: 0;
                }
            }
        }

        &.active {
            float: none;
            width: 100%;

            @include media($medium) {
                width: 91.5%;
            }

            .searchbar-input {

                input[type="search"] {
                    color: $black;
                    outline-color: $color-primary-beta;
                    border-color: $base-border-dark;
                    background-color: $white;
                }

                .input-with-icon {

                    svg.iconic {
                        fill: $color-primary-beta;
                    }
                }
            }
        }
    }

    // RTL hack
    .activity-searchbar {
        width: inherit;
    }

    .status-indicator {
        color: $color-light-delta;
        background-color: transparent;
        margin: $sm-spacing auto;

        @include media($medium) {
            margin: $base-spacing auto;
        }

        &.error {

            svg.iconic {
                stroke: rgba(255, 255, 255, 0.8);
                stroke-width: 0.5;
            }
        }
    }

    .button-group {
        @include float(right);
        display: inline-flex;
        align-items: center;

        button,
        .button {
            height: 36px;
            @include margin-left($tiny-spacing);

            &.button-link {
                color: $white;
                padding-right: $tiny-spacing;
                padding-left: $tiny-spacing;
            }
        } 
    }
    
    .toolbar-donating {
        color: #C7CCD4;
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        width: 130px;
        .coins {
            width: 25px;
            height: 25px;
            
        }
        .iconic {
            fill:#C7CCD4;
        }
    }

    .button-link {
        color: $color-secondary;
    }

    .searchbar,
    .button-group {
        margin-top: $tiny-spacing;
        margin-bottom: $tiny-spacing;
        z-index: $bottom;

        @include media($medium) {
            margin-top: $sm-spacing;
            margin-bottom: $sm-spacing;
        }

        button,
        .button {

            svg.iconic {

                +.button-label {

                    @include media($small-down) {
                        display: none;
                    }
                }
            }
        }
    }

    .tabs-menu {
        border: none;
        background-color: transparent;

        @include media($medium) {
            margin-top: 4px;
        }

        ul {

            li {

                a {
                    color: $color-light-alpha;
                    padding-top: 18px;
                    padding-bottom: 18px;

                    @include media($medium) {
                        padding: $base-spacing;
                    }
                }

                &.active {

                    a {
                        color: $white;
                    }
                }
            }
        }
    }

    .progress-bar {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -2;
    }
}
