.toolbar {
    @include clearfix;
    position: relative;
    @extend .bar;
    // min-height: 52px;
    @include equal-radius(0px);
    background-color: $color-primary;
    padding: 0 $sm-spacing;
    margin: auto;

    @include media($medium) {
        min-height: 68px;
        padding: 0 $base-spacing;
    }

    .fab {
        display: none;

        @include media($medium) {
            display: block;
            position: absolute;
            top: 100%;
            left: $base-spacing;
            margin-top: -27px;

            + .searchbar {
                margin-left: $base-spacing+54;
            }
        }
    }

    .searchbar {
        float: left;
        width: 72.7272727%;

        @include media($small) {
            width: 47.6814516%;
        }

        .searchbar-input {

            .form-field {

                input[type="search"] {
                    color: $white;
                    border-color: transparent;
                    background-color: $color-primary-delta;

                    &::placeholder {
                       color: $white;
                    }
                }

                .input-with-icon {

                    input[type="search"] {

                        &:focus {

                            + svg.iconic {
                                fill: $color-primary-beta;
                            }
                        }
                    }

                    svg.iconic {
                        fill: $white;
                    }
                }
            }
        }

        .searchbar-options {

            .custom-fieldset {

                &.init {

                    legend {
                        border-color: $color-primary-delta;

                        &.active {
                            border-color: transparent;
                        }
                    }
                }
            }
        }

        + .button-group,
        + .fab + .button-group {

            button,
            .button {
                font-weight: normal;
                text-transform: none;
                letter-spacing: 0px;
            }
        }

        .dropdown-menu {

            .dropdown-menu-body {
                max-height: 300px;
            }
        }

        &.active {
            float: none;
            width: 100%;

            @include media($medium) {
                width: 91.5%;
            }

            .searchbar-input {

                input[type="search"] {
                    color: $black;
                    outline-color: $color-primary-beta;
                    border-color: $base-border-dark;
                    background-color: $white;
                }

                .input-with-icon {

                    svg.iconic {
                        fill: $color-primary-beta;
                    }
                }
            }
        }
    }

    .status-indicator {
        color: $color-light-delta;
        background-color: transparent;
        margin: $sm-spacing auto;

        @include media($medium) {
            margin: $base-spacing auto;
        }

        &.error {

            svg.iconic {
                stroke: rgba(255,255,255,0.8);
                stroke-width: 0.5;
            }
        }
    }

    .button-group {
        float: right;

        button,
        .button {
            height: 36px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: $tiny-spacing;

            &.button-link {
                color: $white;
                padding-right: $tiny-spacing;
                padding-left: $tiny-spacing;
            }
        }
    }

    .button-link {
    //    color: $color-secondary;
    }

    .searchbar,
    .button-group {
        margin-top: $tiny-spacing;
        margin-bottom: $tiny-spacing;

        @include media($medium) {
            margin-top: $sm-spacing;
            margin-bottom: $sm-spacing;
        }

        button,
        .button {

            svg.iconic {

                + .button-label {

                    @include media($mobile-down) {
                        display: none;
                    }
                }
            }
        }
    }

    .tabs-menu {
        border: none;
        background-color: transparent;

        @include media($medium) {
            margin-top: 4px;
        }

        ul {

            li {

                a {
                    color: $color-light-alpha;
                    padding-top: 18px;
                    padding-bottom: 18px;

                    @include media($medium) {
                        padding: $base-spacing;
                    }
                }

                &.active {

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}
