.toolbar {
    @include span-columns(12);
    @include float(left);
    background-color: $gamma-blue;
    padding: $sm-spacing;
    margin: auto;

    .fab {
        display: none;
    }

    .search {

        .form-field.search {

            input[type="search"] {
                color: $white;
                border-color: transparent;
                background-color: #8E9297;

                &::placeholder {
                   color: $white;
                }

                &:focus {
                    color: $black;
                    outline-color: $beta-blue;
                    border-color: $base-border-dark;
                    background-color: $white;
                }
            }
        }
    }

    .views-wrapper {
        @include span-columns(3);
        @include float(left);

        @include media($mobile-up) {
            @include span-columns(4);
            @include float(left);
        }

        @include media($large) {
            @include span-columns(4);
            @include float(left);
        }

    }

    .views {
        @include float(right);

        ul {
            @include span-columns(12);
            @include float(left);
            margin: 12px 0 11px 6px;

            li {
                display: none;
                background: $alpha-blue;
                @include margin-left(-3px);
                padding: 13px 20px;
                cursor: pointer;

                @include media($small) {
                    display: inline;
                }

                &.map-view {
                    @include icon(before, map-marker);
                }

                &.timeline-view {
                    @include icon(before, list);
                }

                &.table-view {
                    @include icon(before, table);
                }

                &.map-view:before,
                &.timeline-view:before,
                &.table-view:before {
                    color: $white;
                    font-size: em(20);
                    padding: 0;
                }

                &:first-child {
                    display: inline;
                    @include equal-radius($global-radius);

                    @include media($small) {
                        @include border-top-left-radius($global-radius);
                        @include border-top-right-radius(0);
                        @include border-bottom-right-radius(0);
                        @include border-bottom-left-radius($global-radius);
                    }

                }

                &:nth-child(2) {
                    border-radius: none
                }

                &:last-child {
                    @include border-top-left-radius(0);
                    @include border-top-right-radius($global-radius);
                    @include border-bottom-right-radius($global-radius);
                    @include border-bottom-left-radius(0);
                }

                &.active {
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    height: 44px;

                    @include media($small) {
                        box-shadow:inset 0 -9px 0px -7px $highlight;

                        &:first-child {
                            @include border-bottom-left-radius(0);
                        }

                        &:last-child {
                            @include border-bottom-right-radius(0);
                        }

                    }

                    &:before {
                            color: $highlight;
                    }

                }

            }

        }

    }
}

// 'toolbar needs to be it's own block pattern, probably

.add-new-post {
    position: fixed;
    bottom: 90px;
    @include right(20px);
    height: 54px;
    width: 54px;
    border-radius: 100px;
    background: $highlight;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: $toolbar;
    @include icon(before, plus) {
        position: absolute;
        top: 29px;
        @include right(18px);
        line-height: 0;
        font-size: em(24);
        padding: 0;
    }
    @include transition(all, .25s);

    @include media($medium) {
        top: 43px;
        @include left(320px);
    }

    &.open {
        background: $white;

        &:before {
            transform: rotate(45deg);
            @include right(19px);
        }

    }

}

.toolbar-wrapper {
    width: 100%;
    position: fixed;
    top: 60px;
    @include left(0);
    @include float(left);
    background: $gamma-blue;
    padding: 7px 15px;
    z-index: $filter;

    @include media($small) {
        padding: 15px;
    }

    @include media($medium) {
        top: 0;
        height: 70px;
        @include padding-left(400px);
    }

}
