<aside>
    <nav class="side-nav">
        <ul>
            <li><a href="../introduction/">Introduction</a></li>
            <li><a href="../installation/">Installation/Set Up</a></li>
            <li><a href="../packages/">Adding Packages</a></li>
            <li><a href="../file-structure/">File Structure</a></li>
            <li><a href="../how-to-use/">How to Apply to the Platform</a></li>
            <li><a href="../syntax/">Syntax and Formatting</a></li>
            <li><a href="../grid/">Grid</a></li>
            <li><a href="../breakpoints/">Breakpoints &amp; Media Queries</a></li>
            <li><a href="../variables/">Variables</a></li>
            <li><a href="../mixins/">Mixins</a></li>
            <li><a href="../icons/">Icons</a></li>
            <li><a href="../read-direction/">Read Direction</a></li>
        </ul>
    </nav>
</aside>
