<aside>
    <nav class="side-nav">
        <ul>
            <li><a href="../basics/">Basics</a></li>
            <li><a href="../installation/">Installation/Set Up</a></li>
            <li><a href="../file-structure/">File Structure</a></li>
            <li><a href="../sass/">Sass</a></li>
            <li><a href="../syntax/">Syntax and Formatting</a></li>
            <li><a href="../grid/">Grid</a></li>
            <li><a href="../breakpoints/">Breakpoints & Media Queries</a></li>
            <li><a href="../variables/">Variables</a></li>
            <li><a href="../mixins/">Mixins</a></li>
            <li><a href="../buttons/">Buttons</a></li>
            <li><a href="../icons/">Icons</a></li>
        </ul>
    </nav>
</aside>
