@mixin animation($aniname: name, $aniduration: 1s, $animtiming: ease, $animdelay: 0s, $animiteration: 1, $animdirection: normal) {
    -webkit-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
    -moz-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
    -ms-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
    -o-animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
    animation: $aniname $aniduration $animtiming $animdelay $animiteration $animdirection;
}
