@mixin circle-icon($color: $color-primary-delta, $fill: $white) {
    display: block;
    width: 50px;
    height: 50px;
    background-color: $color;
    @include equal-radius(100px);
    margin: auto;
    padding: 12px;
    text-align: center;

    svg.iconic {
        width: em(30);
        height: em(30);
        fill: $fill;
    }
}
