@mixin radius($top-left: 5px, $top-right: 5px, $bottom-right: 5px, $bottom-left: 5px) {
    -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
    border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin equal-radius($radius: 3px) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
