// Usage: @include position(absolute, 40px null null 40px);

$start: left; // Change this to reset mixin

@mixin position($position: relative, $coordinates: null null null null) {
    @if type-of($position) == list {
        $coordinates: $position;
        $position: relative;
    }

    $coordinates: unpack($coordinates);

    $offsets: (
        'top':    nth($coordinates, 1),
        'right':  nth($coordinates, 2),
        'bottom': nth($coordinates, 3),
        'left':   nth($coordinates, 4)
    );

    @if $start == right {
        $offsets: (
            'top':    nth($coordinates, 1),
            'left':   nth($coordinates, 2),
            'bottom': nth($coordinates, 3),
            'right':  nth($coordinates, 4)
        );
    }

    position: $position;

    @each $offset, $value in $offsets {
        @if is-length($value) {
            #{$offset}: $value;
        }
    }
}
