div#map.map.leaflet-container {
    @include typeBase;
    font-size: inherit;

    img {
      max-width: none !important;
    }

    .postcard-image img {
        width: 100%;
    }

    .toggle-content img {
        max-width: 100% !important;
    }

}

.pl-popup .leaflet-popup-content-wrapper {
    padding: 0px;
    text-align: left;
    border-radius: 5px;
}

.leaflet-popup-tip-container {
    z-index: -1;
}

.pl-popup .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
}

.pl-popup a.leaflet-popup-close-button {
    z-index: $filter;
}

.pl-popup .leaflet-popup-content {
    margin: 0;
    width: 250px !important;

    @include media($small) {
        width: 400px !important;
    }

}

.pop-up.has-class .leaflet-popup-tip {
    background: $black;
}

.leaflet-popup-tip.black-arrow {
    background: $black;
}

.leaflet-top {
    top: auto !important;
    bottom: 0;
}

.leaflet-top .leaflet-control {
    margin-bottom: 10px;
}
