<div class="wrapper">
    {{> PlPageHeader atoms=true}}
    <nav class="pl-jump-nav">
        <ul class="pl-jump-nav-list">
            <li><a href="#pl-pattern-colors">Colors</a></li>
            <li><a href="#pl-pattern-typography">Typography</a></li>
            <li><a href="#pl-pattern-icons">Icons</a></li>
            <li><a href="#pl-pattern-buttons">Buttons</a></li>
            <li><a href="#pl-pattern-forms">Forms</a></li>
            <li><a href="#pl-pattern-dates">Dates</a></li>
            <li><a href="#pl-pattern-images">Images</a></li>
            <li><a href="#pl-pattern-containers">Containers</a></li>
            <li><a href="#pl-pattern-bugs">Bugs</a></li>
            <li><a href="#pl-pattern-circle-icons">Circle icons</a></li>
            <li><a href="#pl-pattern-progress">Progress</a></li>
        </ul>
        {{> ReadDirection }}
    </nav>

    {{> PlThanks }}

    <section class="pl-pattern" id="pl-pattern-colors">
        <div class="pl-pattern-description">
            <h2>
                Colors
            </h2>

            <p>
                Read our guidelines on <a href="../front-end-guidelines/variables.html">how to create and name new color variables</a>.
            </p>
            <div class="pl-divider"></div>
        </div>

        <div class="pl-sub-pattern">
            <h4 class="pl-h4">Brand Colors</h4>
            <ul class="container">
                <li class="pl-color" style="background-color:#373E46;">
                    <div class="pl-color-info">
                        <p><strong>$dark-blue</strong></p>
                        <p>#373E46</p>
                    </div>
                </li>
                <li class="pl-color" style="background-color:#FFC334;">
                    <div class="pl-color-info dark-text">
                        <p><strong>$gold</strong></p>
                        <p>#FFC334</p>
                    </div>
                </li>
            </ul>

            <h4 class="pl-h4">Backgrounds</h4>
            <ul class="container">
                <li class="pl-color" style="background-color:#FFFFFF;">
                    <div class="pl-color-info dark-text">
                        <p><strong>$bg-white</strong></p>
                        <p>#FFFFFF</p>
                    </div>
                </li>
                <li class="pl-color" style="background-color:#F1F1F4;">
                    <div class="pl-color-info dark-text">
                        <p><strong>$bg-gray</strong></p>
                        <p>#F1F1F4</p>
                    </div>
                </li>
            </ul>

            <h4 class="pl-h4">Mid Grays</h4>
            <ul class="container">
                <li class="pl-color" style="background-color:#777777;">
                    <div class="pl-color-info">
                        <p><strong>$dark-gray</strong></p>
                        <p>#777777</p>
                    </div>
                </li>
                <li class="pl-color" style="background-color:#D0D0D0;">
                    <div class="pl-color-info dark-text">
                        <p><strong>$disabled-gray</strong></p>
                        <p>#D0D0D0</p>
                    </div>
                </li>
            </ul>

            <h4 class="pl-h4">Dark</h4>
            <ul class="container">
                <li class="pl-color" style="background-color:#1E232A;">
                    <div class="pl-color-info">
                        <p><strong>$black</strong></p>
                        <p>#1E232A</p>
                    </div>
                </li>
            </ul>

            <h4 class="pl-h4">Miscellaneous</h4>
            <ul class="container">
                <li class="pl-color" style="background-color:#0000E0;">
                    <div class="pl-color-info">
                        <p><strong>$link-blue</strong></p>
                        <p>#0000E0</p>
                    </div>
                </li>
                <li class="pl-color" style="background-color:#007A4B;">
                    <div class="pl-color-info">
                        <p><strong>$success-green</strong></p>
                        <p>#007A4B</p>
                    </div>
                </li>
                <li class="pl-color" style="background-color:#EB0202;">
                    <div class="pl-color-info">
                        <p><strong>$error-red</strong></p>
                        <p>#EB0202</p>
                    </div>
                </li>
                <li class="pl-color" style="background-color:#2618B1;">
                    <div class="pl-color-info">
                        <p><strong>$accent-purple</strong></p>
                        <p>#2618B1</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-typography">
        <div class="pl-pattern-description">
            <h2>
                Typography
            </h2>
            <p>
                The Ushahidi Platform uses <a href="https://www.google.com/fonts/specimen/Lato">Lato</a>, which is an <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL">open source</a> font, hosted by Google. Information on how to change or install the font declaration can be found <a href="https://www.google.com/fonts/specimen/Lato">here</a>. This design uses the Normal &amp; Black weights.
            </p>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h1 class="typography-alpha">Alpha typographic style [34px (20px)]</h1>
                <br />
                <h2 class="typography-beta">Beta typographic style [20px]</h2>
                <br />
                <h3 class="typography-gamma">Gamma typographic style [16px]</h3>
                <br />
                <h4 class="typography-base">Base typographic style [14px]<h4>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Paragraphs</h4>
                <div class="pl-sub-pattern-markup">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <p>
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, <em> text that needs some emphasis </em> nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </p>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Ordered List</h4>
                <div class="pl-sub-pattern-markup">
                    <ol>
                        <li>This is the first item Neque porro quisquam est, qui dolorem ipsum quia doloramet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunlabore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima ven</li>
                        <li>And this is the second</li>
                        <li>A third item on the list</li>
                        <li>Comes before the fourth</li>
                        <li>Don't forget the fifth</li>
                    </ol>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Unordered List</h4>
                <div class="pl-sub-pattern-markup">
                    <ul>
                        <li>This is the first item Neque porro quisquam est, qui dolorem ipsum quia doloramet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunlabore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima ven</li>
                        <li>And this is the second</li>
                        <li>A third item on the list</li>
                        <li>Comes before the fourth</li>
                        <li>Don't forget the fifth</li>
                    </ul>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Blockquote</h4>
                <div class="pl-sub-pattern-markup">
                    <blockquote>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-icons">
        <div class="pl-pattern-description">
            <h2>
                Icons
            </h2>
            <p>
                Icons are part of the "Open Iconic" library, and are served up by an SVG sprite. This allows us to display all icons in the set with a single request.
            </p>
            <div class="pl-divider"></div>
        </div>

        {{> IconicSample}}
    </section>

    <section class="pl-pattern" id="pl-pattern-buttons">
        <div class="pl-pattern-description">
            <h2>
                Buttons
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Button</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="button-group">
                        <button type="button">Button</button>
                        <button type="button" class="button-beta">Button Beta</button>
                        <button type="button" class="button-gamma">Button Gamma</button>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Button Disabled</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="button-group">
                        <button type="button" class="button" disabled>Button Disabled</button>
                        <button type="button" class="button-beta" disabled>Button Beta Disabled</button>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Button Loading</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="button-group">
                        <button type="button" class="button-loading">
                            <div class="loading-bar"></div>
                            Button Loading
                        </button>
                        <button type="button" class="button-beta button-loading">
                            <div class="loading-bar"></div>
                            Button Beta Loading
                        </button>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Button Destructive</h4>
                <div class="pl-sub-pattern-markup">
                    <button type="button" class="button-destructive">Button Destructive</button>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Button Alt</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="button-alt-background">
                        <div class="button-group">
                            <button type="button" class="button-alt">Button Alt</button>
                            <button type="button" class="button-alt button-beta">Button Alt Beta</button>
                            <button type="button" class="button-alt button-gamma">Button Alt Gamma</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Button Alt Loading</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="button-alt-background">
                        <div class="button-group">
                            <button type="button" class="button-alt button-loading">
                                <div class="loading-bar"></div>
                                Button Alt Loading
                            </button>
                            <button type="button" class="button-alt button-beta button-loading">
                                <div class="loading-bar"></div>
                                Button Alt Beta Loading
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-forms">
        <div class="pl-pattern-description">
            <h2>
                Forms
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Label</h4>
                <div class="pl-sub-pattern-markup">
                    <label>Label</label>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Helper Text</h4>
                <div class="pl-sub-pattern-markup">
                    <span>This is helper text.</span>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Input</h4>
                <div class="pl-sub-pattern-markup">
                    <input type="text" placeholder="placeholder" />
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Input, disabled</h4>
                <div class="pl-sub-pattern-markup">
                    <input type="text" placeholder="Disabled" disabled/>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Text Area</h4>
                <div class="pl-sub-pattern-markup">
                    <textarea placeholder="Write some words in here"></textarea>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Checkbox</h4>
                <div class="pl-sub-pattern-markup">
                    {{> Checkbox}}
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Radio Button</h4>
                <div class="pl-sub-pattern-markup">
                    {{> Radiobutton}}
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Select</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="custom-select">
                        <select>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Toggle Switch</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="toggle-switch">
                        <input class="tgl" id="switch1" type="checkbox">
                        <label class="tgl-btn" for="switch1"></label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-dates">
        <div class="pl-pattern-description">
            <h2>
                Dates
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Standard</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <p class="listing-item-secondary">March 22, 2017 7:39 PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">w/ Tooltip</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="tooltip">
                        <span class="label">3 months ago</span>
                        <span class="bug" title="March 22, 2017 7:39 PM">March 22, 2017</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-images">
        <div class="pl-pattern-description">
            <h2>
                Images
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Avatar</h4>
                <div class="pl-sub-pattern-markup">
                    <img class="avatar" src="http://placehold.it/100x100" alt="Author Avatar" />
                </div>
            </div>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-containers">
        <div class="pl-pattern-description">
            <h2>
                Containers
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Sheet</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="sheet" style="max-width: 300px; height: 100px;">&nbsp;</div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Card</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="menu" style="max-width: 300px; height: 100px;">&nbsp;</div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Card</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="card" style="max-width: 300px; height: 100px;">&nbsp;</div>
                </div>
            </div>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-bugs">
        <div class="pl-pattern-description">
            <h2>
                Bugs
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Default</h4>
                <div class="pl-sub-pattern-markup">
                        <span class="bug">Bug message</span>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">With subtext</h4>
                <div class="pl-sub-pattern-markup">
                    <span class="bug">Account Settings<span class="subtext">for Aaliyah Williams</span></span>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">With badge</h4>
                <div class="pl-sub-pattern-markup">
                    <span class="bug">Alerts<span class="badge">2</span></span>
                </div>
            </div>
        </div>
    </section>

    <section class="pl-pattern" id="pl-pattern-circle-icons">
        <div class="pl-pattern-description">
            <h2>
                Circle Icons
            </h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <div class="pl-sub-pattern-markup">
                    <span class="circle-icon">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <div class="pl-sub-pattern-markup">
                    <span class="circle-icon error">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <div class="pl-sub-pattern-markup">
                    <span class="circle-icon success">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>

    </section>

    <section class="pl-pattern" id="pl-pattern-progress">
        <div class="pl-pattern-description">
            <h2>Loaders</h2>
            <div class="pl-divider"></div>
        </div>

        <div class="container">
            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Loading Bar, determinate</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="loading-bar"></div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Loading Bar, indeterminate</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="loading-bar-alt"></div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Logo Loader, light</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="loader-logo">
                        <img class="svg" src="../../img/ushahidi-logo-blue.png" alt="Ushahidi Logo">
                        <div class="loading-bar-alt"></div>
                    </div>
                </div>
            </div>

            <div class="pl-sub-pattern">
                <h4 class="pl-h4">Logo Loader, dark</h4>
                <div class="pl-sub-pattern-markup">
                    <div class="loader-logo">
                        <img src="../../img/ushahidi-logo-gold.png" alt="Ushahidi Logo">
                        <div class="loading-bar-alt"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
