        <div class="wrapper">

            {{> PlPageHeader molecules=true}}
            <nav class="pl-jump-nav">
                <ul class="pl-jump-nav-list">
                    <li><a href="#pl-pattern-buttons">Buttons</a></li>
                    <li><a href="#pl-pattern-forms">Forms</a></li>
                    <li><a href="#pl-pattern-list-items">List items</a></li>
                    <li><a href="#pl-pattern-navigation">Navigation</a></li>
                    <li><a href="#pl-pattern-alerts">Alerts</a></li>
                    <li><a href="#pl-pattern-messages">Messages</a></li>
                    <li><a href="#pl-pattern-other">Other</a></li>
                </ul>

                {{> ReadDirection }}
            </nav>

                {{> PlThanks}}
            <section class="pl-pattern" id="pl-pattern-buttons">
                <div class="pl-pattern-description">
                    <h2>
                        Buttons
                    </h2>
                    <div class="pl-divider"></div>
                    <p>
                        Our front-end guidelines explain <a href="../../../assets/html/front-end-guidelines/icons.html">how to add icons to buttons</a>.
                    </p>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Button, with icon & label</h4>
                        <div class="pl-sub-pattern-markup">
                            <button type="button" class="button-icon">
                                <svg class="iconic">
                                  <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                <span class="button-label">Button</span>
                            </button>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Button, with icon</h4>
                        <div class="pl-sub-pattern-markup">
                            <button type="button" class="button-icon">
                                <svg class="iconic">
                                  <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                <span class="button-label hidden">Button</span>
                            </button>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Button, as an icon</h4>
                        <div class="pl-sub-pattern-markup">
                            <button type="button" class="button-as-icon">
                                <svg class="iconic">
                                  <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                <span class="button-label hidden">Button</span>
                            </button>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Button, with icon only on small screens</h4>
                        <div class="pl-sub-pattern-markup">
                            <button type="button" class="button-icon">
                                <svg class="iconic">
                                  <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                </svg>
                                <span class="button-label hidden-when-small">Button</span>
                            </button>
                        </div>
                        <p class="small">This button has a label on larger screens. On smaller screens, the label is hidden and the icon remains.</p>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Button Group</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="button-group">
                                <button type="button" class="button">Button #1</button>
                                <button type="button" class="button-alt">Button #2</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pl-pattern" id="pl-pattern-forms">
                <div class="pl-pattern-description">
                    <h2>Forms</h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field">
                                <label>Field label</label>
                                <input type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, with instructions</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field">
                                <label>Field label</label>
                                <p>These are some instructions that are related to this field.</p>
                                <input type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, with addons</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field">
                                <label>Field Label</label>
                                <div class="form-field-addon">
                                    <span class="addon before">http://</span>
                                    <input type="text">
                                </div>
                            </div>

                            <div class="form-field">
                                <label>Field Label</label>
                                <div class="form-field-addon">
                                    <span class="addon before">http://</span>
                                    <input type="text">
                                    <span class="addon after">.ushahidi.io</span>
                                </div>
                            </div>

                            <div class="form-field">
                                <label>Field Label</label>
                                <div class="form-field-addon">
                                    <input type="text">
                                    <span class="addon after">.ushahidi.io</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, required</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field required">
                                <label>Field label</label>
                                <input type="text" required />
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, input with icon</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field">
                                <label>Field label</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                                    </svg>
                                    <input type="search" placeholder="Search" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, date</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field">
                                <label class="hidden">Date</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                    </svg>
                                    <input type="date" placeholder="Choose date..." />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, time</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field">
                                <label class="hidden">Time</label>
                                <div class="input-with-icon">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#clock"></use>
                                    </svg>
                                    <input type="time" placeholder="Choose time..." />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, success</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field success">
                                <label>Field label</label>
                                <input type="text" />
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form field, error &amp; alert</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field error">
                                <label>Field label</label>
                                <input type="text" />
                                <div class="alert error">
                                    <svg class="iconic">
                                      <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
                                    </svg>
                                    Invalid entry, please try again.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Fieldset: Checkboxes</h4>
                        <div class="pl-sub-pattern-markup">
                            <fieldset>
                                <legend>Guitar players</legend>
                                <div class="form-field checkbox">
                                    {{> Checkbox label="Nalle Colt"}}
                                </div>
                                <div class="form-field checkbox">
                                    {{> Checkbox label="Stevie Ray Vaughan"}}
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Fieldset: Radio</h4>
                        <div class="pl-sub-pattern-markup">
                            <fieldset>
                                <legend>Guitar players</legend>
                                <div class="form-field radio">
                                    {{> Radiobutton label="Nalle Colt" }}
                                </div>
                                <div class="form-field radio">
                                    {{> Radiobutton label="Stevie Ray Vaughan" }}
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Custom Fieldset</h4>
                        <div class="pl-sub-pattern-markup">
                            <fieldset class="custom-fieldset">
                                <legend>
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                                    </svg>
                                    Title for checkboxes
                                </legend>

                                <div class="form-field checkbox">
                                    <input type="checkbox" id="collection1" />
                                    <label for="collection1">Checkbox 1</label>
                                </div>

                                <div class="form-field checkbox">
                                    <input type="checkbox" id="collection2" checked />
                                    <label for="collection2">Another Checkbox 2</label>
                                </div>

                                <div class="form-field checkbox">
                                    <input type="checkbox" id="collection3" />
                                    <label for="collection3">Extra Checkbox 3</label>
                                </div>

                                <div class="form-field checkbox">
                                    <input type="checkbox" id="collection1" />
                                    <label for="collection1">Checkbox 4</label>
                                </div>

                                <div class="form-field checkbox">
                                    <input type="checkbox" id="collection2" checked />
                                    <label for="collection2">Another Checkbox 5</label>
                                </div>

                                <div class="form-field checkbox">
                                    <input type="checkbox" id="collection3" />
                                    <label for="collection3">Extra Checkbox 6</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form Field Adapt: Text Input</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field form-field-adapt">
                                <label>Text Input</label>
                                <input type="text" class="adapt-field"/>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form Field Adapt: Text Area</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field form-field-adapt">
                                <label class="textarea-label">Text Area</label>
                                <textarea class="adapt-field"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Form Field Adapt: Required</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="form-field form-field-adapt required">
                                <label>Text Input</label>
                                <input type="text" class="adapt-field"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pl-pattern" id="pl-pattern-list-items">
                <div class="pl-pattern-description">
                    <h2>List items</h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">li</h4>
                        <div class="pl-sub-pattern-markup">
                            <li class="list-item">
                                <h3>Heading</h3>
                                <p>A sentence or less</p>
                            </li>

                            <li class="list-item">
                                <h3><a href="">Heading as a link</a></h3>
                                <p>A sentence or less</p>
                            </li>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">li - selected</h4>
                        <div class="pl-sub-pattern-markup">
                            <li class="list-item selected">
                                <h3>Heading</h3>
                                <p>This list item is selected</p>
                            </li>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">li with button</h4>
                        <div class="pl-sub-pattern-markup">
                            <li class="list-item">
                                <h3>Heading</h3>
                                <p>This list item has a button attached</p>
                                <button type="button" name="button">Create a New Survey</button>
                            </li>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">dt + dd</h4>
                        <div class="pl-sub-pattern-markup">
                            <dt class="list-item">Short text</dt>
                            <dd>A sentence or less</dd>

                            <dt class="list-item"><a href="">Short text</a></dt>
                            <dd>A sentence or less</dd>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pl-pattern" id="pl-pattern-navigation">
                <div class="pl-pattern-description">
                    <h2>
                        Navigation
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Pagination</h4>
                        <div class="pl-sub-pattern-markup">
                            <nav class="pagination">
                                <ul>
                                    <li class="prev">
                                        <a href="#">
                                            <svg class="iconic">
                                              <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
                                            </svg>
                                            <span class="hidden">Previous</span>
                                        </a>
                                    </li>
                                    <li>
                                        <ul class="page-numbers">
                                            <li class="active">1</li>
                                            <li class="pg-number"><a href="#">2</a></li>
                                            <li class="pg-number"><a href="#">3</a></li>
                                            <li class="pg-number"><a href="#">4</a></li>
                                            <li class="pg-number"><a href="#">5</a></li>
                                            <li class="pg-number"><a href="#">6</a></li>
                                        </ul>
                                    </li>
                                    <li class="next">
                                        <a href="#">
                                            <svg class="iconic">
                                              <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                                            </svg>
                                            <span class="hidden">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Stepper</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="stepper" data-accordion-items="stepper-item">
                                <div class="stepper-item active complete">
                                    <h2 class="stepper-heading" data-accordion-trigger="">
                                        <span class="stepper-badge">1</span>
                                        Stepper Heading 1
                                    </h2>
                                </div>

                                <div class="stepper-item" disabled="">
                                    <h2 class="stepper-heading" data-accordion-trigger="">
                                        <span class="stepper-badge">2</span>
                                        Stepper Heading 2
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                       <h4 class="pl-h4">Breadcrumbs</h4>
                       <div class="pl-sub-pattern-markup">
                            <ol class="breadcrumbs">
                                <li><a href="">Grandparent Page</a></li>
                                <li><a href="">Parent Page</a></li>
                            </ol>
                       </div>
                   </div>

                   <div class="pl-sub-pattern">
                       <h4 class="pl-h4">Progress</h4>
                       <div class="pl-sub-pattern-markup">
                            <ol class="progress">
                               <li class="complete">
                                   <svg class="iconic">
                                     <use xlink:href="../../img/iconic-sprite.svg#circle-check"></use>
                                   </svg>
                                   Choose file
                               </li>
                               <li class="active">Organize data</li>
                               <li class="disabled">Configure posts</li>
                            </ol>
                       </div>
                    </div>

                </div>
            </section>

            <section class="pl-pattern" id="pl-pattern-alert-messages">
                <div class="pl-pattern-description">
                    <h2>
                        Alerts
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Neutral Message</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="alert">
                                <p>Please read this thing you should probably know.</p>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Confirmation</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="alert confirmation">
                                <p>Congratulations! That thing you just did worked.</p>
                            </div>
                        </div>
                    </div>

                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Error</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="alert error">
                                <p>
                                    Bummer! That didn't work, please try again.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pl-pattern" id="pl-pattern-messages">
                <div class="pl-pattern-description">
                    <h2>
                        Messages
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Locked</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="message">
                                <div class="message-image error">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                    </svg>
                                </div>

                                <div class="message-body">
                                    <p>The report is locked because user is working on it right now. Try editing a different post.</p>
                                    <div class="button-group">
                                        <button class="button-alt">Unlock</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Preparing export</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="message">
                                <div class="progress-bar"><span>Loading...</span></div>
                                <span class="message-image circle-icon confirmation">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                                    </svg>
                                </span>

                                <div class="message-body">
                                    <p>We are preparing 1,234 records for your CSV file. This may take a few moments. You can leave this page if you want. We will let you know when we're done.</p>
                                    <div class="button-group">
                                        <button class="button">Got it</button>
                                        <button class="button-destructive">Cancel export</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Export ready</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="message">
                               <span class="message-image cirlce-icon confirmation">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
                                    </svg>
                                </span>
                                <div class="message-body">
                                    <p>Export done. We exported 1,234 records to CSV. You should see your file in your downloads.</p>
                                    <div class="button-group">
                                        <button class="button">Got it</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Export-error</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="message">
                               <div class="message-image error">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
                                    </svg>
                                </div>
                                <div class="message-body">
                                    <p>Uh oh... you need to select some fields to export first.</p>
                                    <div class="button-group">
                                        <button class="button">Got it</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pl-pattern" id="pl-pattern-other">
                <div class="pl-pattern-description">
                    <h2>
                        Other
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Timeline/Data Sub-Header</h4>
                        <div class="pl-sub-pattern-markup">
                            <div class="bulk-action">
                                <button id="bulk-action" class="button-gamma bulk-action-secondary">Bulk Actions</button>
                                <div class="bulk-action-primary">6 of 6 Reports</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">Sortable List w/ Handle</h4>
                        <div class="pl-sub-pattern-markup">
                            <ul id="listWithHandle" class="sortable-list">
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #1
                                </li>
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #2
                                </li>
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #3
                                </li>
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #4
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="pl-sub-pattern">
                        <h4 class="pl-h4">List</h4>
                        <div class="pl-sub-pattern-markup">
                            <ul id="listWithHandle" class="sortable-list">
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #1
                                </li>
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #2
                                </li>
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #3
                                </li>
                                <li class="sortable-list-item">
                                    <span class="list-handle">
                                        <svg class="iconic">
                                          <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
                                        </svg>
                                    </span>
                                    Item #4
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            </div><!--end wrapper-->
