<ul class="container iconic-sample">

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#account-login"></use>
            </svg>

            <div class="icon-name">
                <p>account-login</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#account-logout"></use>
            </svg>

            <div class="icon-name">
                <p>account-logout</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#action-redo"></use>
            </svg>

            <div class="icon-name">
                <p>action-redo</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#action-undo"></use>
            </svg>

            <div class="icon-name">
                <p>action-undo</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#align-center"></use>
            </svg>

            <div class="icon-name">
                <p>align-center</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#align-left"></use>
            </svg>

            <div class="icon-name">
                <p>align-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#align-right"></use>
            </svg>

            <div class="icon-name">
                <p>align-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#aperture"></use>
            </svg>

            <div class="icon-name">
                <p>aperture</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-bottom"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-bottom</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-circle-bottom"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-circle-bottom</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-circle-left"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-circle-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-circle-right"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-circle-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-circle-top"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-circle-top</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-left"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-right"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-thick-bottom"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-thick-bottom</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-thick-left"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-thick-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-thick-right"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-thick-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-thick-top"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-thick-top</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#arrow-top"></use>
            </svg>

            <div class="icon-name">
                <p>arrow-top</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#audio-spectrum"></use>
            </svg>

            <div class="icon-name">
                <p>audio-spectrum</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#audio"></use>
            </svg>

            <div class="icon-name">
                <p>audio</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#badge"></use>
            </svg>

            <div class="icon-name">
                <p>badge</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#ban"></use>
            </svg>

            <div class="icon-name">
                <p>ban</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bar-chart"></use>
            </svg>

            <div class="icon-name">
                <p>bar-chart</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#basket"></use>
            </svg>

            <div class="icon-name">
                <p>basket</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#battery-empty"></use>
            </svg>

            <div class="icon-name">
                <p>battery-empty</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#battery-full"></use>
            </svg>

            <div class="icon-name">
                <p>battery-full</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#beaker"></use>
            </svg>

            <div class="icon-name">
                <p>beaker</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bell"></use>
            </svg>

            <div class="icon-name">
                <p>bell</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bluetooth"></use>
            </svg>

            <div class="icon-name">
                <p>bluetooth</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bold"></use>
            </svg>

            <div class="icon-name">
                <p>bold</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bolt"></use>
            </svg>

            <div class="icon-name">
                <p>bolt</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#book"></use>
            </svg>

            <div class="icon-name">
                <p>book</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bookmark"></use>
            </svg>

            <div class="icon-name">
                <p>bookmark</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#box"></use>
            </svg>

            <div class="icon-name">
                <p>box</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#briefcase"></use>
            </svg>

            <div class="icon-name">
                <p>briefcase</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#british-pound"></use>
            </svg>

            <div class="icon-name">
                <p>british-pound</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#browser"></use>
            </svg>

            <div class="icon-name">
                <p>browser</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#brush"></use>
            </svg>

            <div class="icon-name">
                <p>brush</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bug"></use>
            </svg>

            <div class="icon-name">
                <p>bug</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#bullhorn"></use>
            </svg>

            <div class="icon-name">
                <p>bullhorn</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#calculator"></use>
            </svg>

            <div class="icon-name">
                <p>calculator</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
            </svg>

            <div class="icon-name">
                <p>calendar</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#camera-slr"></use>
            </svg>

            <div class="icon-name">
                <p>camera-slr</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#caret-bottom"></use>
            </svg>

            <div class="icon-name">
                <p>caret-bottom</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#caret-left"></use>
            </svg>

            <div class="icon-name">
                <p>caret-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#caret-right"></use>
            </svg>

            <div class="icon-name">
                <p>caret-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#caret-top"></use>
            </svg>

            <div class="icon-name">
                <p>caret-top</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cart"></use>
            </svg>

            <div class="icon-name">
                <p>cart</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chat"></use>
            </svg>

            <div class="icon-name">
                <p>chat</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>

            <div class="icon-name">
                <p>check</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>

            <div class="icon-name">
                <p>chevron-bottom</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
            </svg>

            <div class="icon-name">
                <p>chevron-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
            </svg>

            <div class="icon-name">
                <p>chevron-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
            </svg>

            <div class="icon-name">
                <p>chevron-top</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#circle-check"></use>
            </svg>

            <div class="icon-name">
                <p>circle-check</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
            </svg>

            <div class="icon-name">
                <p>circle-x</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#clipboard"></use>
            </svg>

            <div class="icon-name">
                <p>clipboard</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#clock"></use>
            </svg>

            <div class="icon-name">
                <p>clock</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cloud-download"></use>
            </svg>

            <div class="icon-name">
                <p>cloud-download</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cloud-upload"></use>
            </svg>

            <div class="icon-name">
                <p>cloud-upload</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cloud"></use>
            </svg>

            <div class="icon-name">
                <p>cloud</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cloudy"></use>
            </svg>

            <div class="icon-name">
                <p>cloudy</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#code"></use>
            </svg>

            <div class="icon-name">
                <p>code</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
            </svg>

            <div class="icon-name">
                <p>cog</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#collapse-down"></use>
            </svg>

            <div class="icon-name">
                <p>collapse-down</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#collapse-left"></use>
            </svg>

            <div class="icon-name">
                <p>collapse-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#collapse-right"></use>
            </svg>

            <div class="icon-name">
                <p>collapse-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#collapse-up"></use>
            </svg>

            <div class="icon-name">
                <p>collapse-up</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#command"></use>
            </svg>

            <div class="icon-name">
                <p>command</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#comment-square"></use>
            </svg>

            <div class="icon-name">
                <p>comment-square</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#compass"></use>
            </svg>

            <div class="icon-name">
                <p>compass</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#contrast"></use>
            </svg>

            <div class="icon-name">
                <p>contrast</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#copywriting"></use>
            </svg>

            <div class="icon-name">
                <p>copywriting</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#credit-card"></use>
            </svg>

            <div class="icon-name">
                <p>credit-card</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#crop"></use>
            </svg>

            <div class="icon-name">
                <p>crop</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#dashboard"></use>
            </svg>

            <div class="icon-name">
                <p>dashboard</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#data-transfer-download"></use>
            </svg>

            <div class="icon-name">
                <p>data-transfer-download</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#data-transfer-upload"></use>
            </svg>

            <div class="icon-name">
                <p>data-transfer-upload</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#delete"></use>
            </svg>

            <div class="icon-name">
                <p>delete</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#dial"></use>
            </svg>

            <div class="icon-name">
                <p>dial</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#document"></use>
            </svg>

            <div class="icon-name">
                <p>document</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#dollar"></use>
            </svg>

            <div class="icon-name">
                <p>dollar</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#double-quote-sans-left"></use>
            </svg>

            <div class="icon-name">
                <p>double-quote-sans-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#double-quote-sans-right"></use>
            </svg>

            <div class="icon-name">
                <p>double-quote-sans-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#double-quote-serif-left"></use>
            </svg>

            <div class="icon-name">
                <p>double-quote-serif-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#double-quote-serif-right"></use>
            </svg>

            <div class="icon-name">
                <p>double-quote-serif-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#droplet"></use>
            </svg>

            <div class="icon-name">
                <p>droplet</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#eject"></use>
            </svg>

            <div class="icon-name">
                <p>eject</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#elevator"></use>
            </svg>

            <div class="icon-name">
                <p>elevator</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
            </svg>

            <div class="icon-name">
                <p>ellipses</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#envelope-closed"></use>
            </svg>

            <div class="icon-name">
                <p>envelope-closed</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#envelope-open"></use>
            </svg>

            <div class="icon-name">
                <p>envelope-open</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#euro"></use>
            </svg>

            <div class="icon-name">
                <p>euro</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#excerpt"></use>
            </svg>

            <div class="icon-name">
                <p>excerpt</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#expand-down"></use>
            </svg>

            <div class="icon-name">
                <p>expand-down</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#expand-left"></use>
            </svg>

            <div class="icon-name">
                <p>expand-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#expand-right"></use>
            </svg>

            <div class="icon-name">
                <p>expand-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#expand-up"></use>
            </svg>

            <div class="icon-name">
                <p>expand-up</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#external-link"></use>
            </svg>

            <div class="icon-name">
                <p>external-link</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#eye"></use>
            </svg>

            <div class="icon-name">
                <p>eye</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#eyedropper"></use>
            </svg>

            <div class="icon-name">
                <p>eyedropper</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#file"></use>
            </svg>

            <div class="icon-name">
                <p>file</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#fire"></use>
            </svg>

            <div class="icon-name">
                <p>fire</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#flag"></use>
            </svg>

            <div class="icon-name">
                <p>flag</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#flash"></use>
            </svg>

            <div class="icon-name">
                <p>flash</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#folder"></use>
            </svg>

            <div class="icon-name">
                <p>folder</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#fork"></use>
            </svg>

            <div class="icon-name">
                <p>fork</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#fullscreen-enter"></use>
            </svg>

            <div class="icon-name">
                <p>fullscreen-enter</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#fullscreen-exit"></use>
            </svg>

            <div class="icon-name">
                <p>fullscreen-exit</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
            </svg>

            <div class="icon-name">
                <p>globe</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#graph"></use>
            </svg>

            <div class="icon-name">
                <p>graph</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#grid-four-up"></use>
            </svg>

            <div class="icon-name">
                <p>grid-four-up</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
            </svg>

            <div class="icon-name">
                <p>grid-three-up</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#grid-two-up"></use>
            </svg>

            <div class="icon-name">
                <p>grid-two-up</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#hard-drive"></use>
            </svg>

            <div class="icon-name">
                <p>hard-drive</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#header"></use>
            </svg>

            <div class="icon-name">
                <p>header</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#headphones"></use>
            </svg>

            <div class="icon-name">
                <p>headphones</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#heart"></use>
            </svg>

            <div class="icon-name">
                <p>heart</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#home"></use>
            </svg>

            <div class="icon-name">
                <p>home</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#image"></use>
            </svg>

            <div class="icon-name">
                <p>image</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#inbox"></use>
            </svg>

            <div class="icon-name">
                <p>inbox</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#infinity"></use>
            </svg>

            <div class="icon-name">
                <p>infinity</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#info"></use>
            </svg>

            <div class="icon-name">
                <p>info</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#italic"></use>
            </svg>

            <div class="icon-name">
                <p>italic</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#justify-center"></use>
            </svg>

            <div class="icon-name">
                <p>justify-center</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#justify-left"></use>
            </svg>

            <div class="icon-name">
                <p>justify-left</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#justify-right"></use>
            </svg>

            <div class="icon-name">
                <p>justify-right</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#key"></use>
            </svg>

            <div class="icon-name">
                <p>key</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#laptop"></use>
            </svg>

            <div class="icon-name">
                <p>laptop</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#layers"></use>
            </svg>

            <div class="icon-name">
                <p>layers</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#lightbulb"></use>
            </svg>

            <div class="icon-name">
                <p>lightbulb</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#link-broken"></use>
            </svg>

            <div class="icon-name">
                <p>link-broken</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#link-intact"></use>
            </svg>

            <div class="icon-name">
                <p>link-intact</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#list-rich"></use>
            </svg>

            <div class="icon-name">
                <p>list-rich</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#list"></use>
            </svg>

            <div class="icon-name">
                <p>list</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#location"></use>
            </svg>

            <div class="icon-name">
                <p>location</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
            </svg>

            <div class="icon-name">
                <p>lock-locked</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#lock-unlocked"></use>
            </svg>

            <div class="icon-name">
                <p>lock-unlocked</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#loop-circular"></use>
            </svg>

            <div class="icon-name">
                <p>loop-circular</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#loop-square"></use>
            </svg>

            <div class="icon-name">
                <p>loop-square</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#loop"></use>
            </svg>

            <div class="icon-name">
                <p>loop</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
            </svg>

            <div class="icon-name">
                <p>magnifying-glass</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
            </svg>

            <div class="icon-name">
                <p>map-marker</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#map"></use>
            </svg>

            <div class="icon-name">
                <p>map</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-pause"></use>
            </svg>

            <div class="icon-name">
                <p>media-pause</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-play"></use>
            </svg>

            <div class="icon-name">
                <p>media-play</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-record"></use>
            </svg>

            <div class="icon-name">
                <p>media-record</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-skip-backward"></use>
            </svg>

            <div class="icon-name">
                <p>media-skip-backward</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-skip-forward"></use>
            </svg>

            <div class="icon-name">
                <p>media-skip-forward</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-step-backward"></use>
            </svg>

            <div class="icon-name">
                <p>media-step-backward</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-step-forward"></use>
            </svg>

            <div class="icon-name">
                <p>media-step-forward</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#media-stop"></use>
            </svg>

            <div class="icon-name">
                <p>media-stop</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#medical-cross"></use>
            </svg>

            <div class="icon-name">
                <p>medical-cross</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#menu"></use>
            </svg>

            <div class="icon-name">
                <p>menu</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#microphone"></use>
            </svg>

            <div class="icon-name">
                <p>microphone</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#minus"></use>
            </svg>

            <div class="icon-name">
                <p>minus</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#monitor"></use>
            </svg>

            <div class="icon-name">
                <p>monitor</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#moon"></use>
            </svg>

            <div class="icon-name">
                <p>moon</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#move"></use>
            </svg>

            <div class="icon-name">
                <p>move</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#musical-note"></use>
            </svg>

            <div class="icon-name">
                <p>musical-note</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#paperclip"></use>
            </svg>

            <div class="icon-name">
                <p>paperclip</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#pencil"></use>
            </svg>

            <div class="icon-name">
                <p>pencil</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#people"></use>
            </svg>

            <div class="icon-name">
                <p>people</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#person"></use>
            </svg>

            <div class="icon-name">
                <p>person</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#phone"></use>
            </svg>

            <div class="icon-name">
                <p>phone</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#pie-chart"></use>
            </svg>

            <div class="icon-name">
                <p>pie-chart</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#pin"></use>
            </svg>

            <div class="icon-name">
                <p>pin</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#play-circle"></use>
            </svg>

            <div class="icon-name">
                <p>play-circle</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
            </svg>

            <div class="icon-name">
                <p>plus</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#power-standby"></use>
            </svg>

            <div class="icon-name">
                <p>power-standby</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#print"></use>
            </svg>

            <div class="icon-name">
                <p>print</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#project"></use>
            </svg>

            <div class="icon-name">
                <p>project</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#pulse"></use>
            </svg>

            <div class="icon-name">
                <p>pulse</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#puzzle-piece"></use>
            </svg>

            <div class="icon-name">
                <p>puzzle-piece</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#question-mark"></use>
            </svg>

            <div class="icon-name">
                <p>question-mark</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#rain"></use>
            </svg>

            <div class="icon-name">
                <p>rain</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#random"></use>
            </svg>

            <div class="icon-name">
                <p>random</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#reload"></use>
            </svg>

            <div class="icon-name">
                <p>reload</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#resize-both"></use>
            </svg>

            <div class="icon-name">
                <p>resize-both</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#resize-height"></use>
            </svg>

            <div class="icon-name">
                <p>resize-height</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#resize-width"></use>
            </svg>

            <div class="icon-name">
                <p>resize-width</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#rss-alt"></use>
            </svg>

            <div class="icon-name">
                <p>rss-alt</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#rss"></use>
            </svg>

            <div class="icon-name">
                <p>rss</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#script"></use>
            </svg>

            <div class="icon-name">
                <p>script</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#share-boxed"></use>
            </svg>

            <div class="icon-name">
                <p>share-boxed</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#share"></use>
            </svg>

            <div class="icon-name">
                <p>share</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#shield"></use>
            </svg>

            <div class="icon-name">
                <p>shield</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#signal"></use>
            </svg>

            <div class="icon-name">
                <p>signal</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#signpost"></use>
            </svg>

            <div class="icon-name">
                <p>signpost</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#sort-ascending"></use>
            </svg>

            <div class="icon-name">
                <p>sort-ascending</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#sort-descending"></use>
            </svg>

            <div class="icon-name">
                <p>sort-descending</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#spreadsheet"></use>
            </svg>

            <div class="icon-name">
                <p>spreadsheet</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#star"></use>
            </svg>

            <div class="icon-name">
                <p>star</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#sun"></use>
            </svg>

            <div class="icon-name">
                <p>sun</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#tablet"></use>
            </svg>

            <div class="icon-name">
                <p>tablet</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#tag"></use>
            </svg>

            <div class="icon-name">
                <p>tag</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#tags"></use>
            </svg>

            <div class="icon-name">
                <p>tags</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#target"></use>
            </svg>

            <div class="icon-name">
                <p>target</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#task"></use>
            </svg>

            <div class="icon-name">
                <p>task</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#terminal"></use>
            </svg>

            <div class="icon-name">
                <p>terminal</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#text"></use>
            </svg>

            <div class="icon-name">
                <p>text</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#thumb-down"></use>
            </svg>

            <div class="icon-name">
                <p>thumb-down</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
            </svg>

            <div class="icon-name">
                <p>thumb-up</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#timer"></use>
            </svg>

            <div class="icon-name">
                <p>timer</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#transfer"></use>
            </svg>

            <div class="icon-name">
                <p>transfer</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
            </svg>

            <div class="icon-name">
                <p>trash</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#underline"></use>
            </svg>

            <div class="icon-name">
                <p>underline</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#vertical-align-bottom"></use>
            </svg>

            <div class="icon-name">
                <p>vertical-align-bottom</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#vertical-align-center"></use>
            </svg>

            <div class="icon-name">
                <p>vertical-align-center</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#vertical-align-top"></use>
            </svg>

            <div class="icon-name">
                <p>vertical-align-top</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#video"></use>
            </svg>

            <div class="icon-name">
                <p>video</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#volume-high"></use>
            </svg>

            <div class="icon-name">
                <p>volume-high</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#volume-low"></use>
            </svg>

            <div class="icon-name">
                <p>volume-low</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#volume-off"></use>
            </svg>

            <div class="icon-name">
                <p>volume-off</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
            </svg>

            <div class="icon-name">
                <p>warning</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#wifi"></use>
            </svg>

            <div class="icon-name">
                <p>wifi</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#wrench"></use>
            </svg>

            <div class="icon-name">
                <p>wrench</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>

            <div class="icon-name">
                <p>x</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#yen"></use>
            </svg>

            <div class="icon-name">
                <p>yen</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#zoom-in"></use>
            </svg>

            <div class="icon-name">
                <p>zoom-in</p>
            </div>
        </div>
    </li>

    <li class="icon-display">
        <div class="icon-container">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#zoom-out"></use>
            </svg>

            <div class="icon-name">
                <p>zoom-out</p>
            </div>
        </div>
    </li>

</ul>
