<div class="mode-bar dashboard">
    <nav>
        <ul class="deployment-menu">
            <li {{#ifCond mode 'dash'}} class="active"{{/ifCond}}>
                <a href="md-list.html">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#grid-two-up"></use>
                    </svg>
                    Dash
                </a>
            </li>

            <li>
                <a href="https://www.ushahidi.com/support" data-modal="json">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#question-mark"></use>
                    </svg>
                    <span class="label">Support</span>
                </a>
            </li>

            {{#if user.logged_in}}
            <li>
                <a href="#" onclick="hbUserStatus()">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#account-logout"></use>
                    </svg>
                    <span class="label">Log out</span>
                </a>
            </li>
            {{else}}
            <li>
                <a href="#" data-modal="login">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#account-login"></use>
                    </svg>
                    Log in
                </a>
            </li>
            {{/if}}

            <li class="pl-read-direction-nav-layout">
                <span class="ltr-switcher active">LTR</span>
                <span class="rtl-switcher">RTL</span>
            </li>
        </ul>

    </nav>
</div>
