<div class="mode-bar">
    <nav>
        <ul class="deployment-menu">
            <li {{#ifCond mode 'dash'}}class="hidden"{{/ifCond}}>
                 <svg class="iconic">
                     <use xlink:href="../../img/iconic-sprite.svg#grid-two-up"></use>
                 </svg>
                <a href="md-list.html">Dash</a>
            </li>

            <li {{#ifCond mode 'map'}}class="active"{{/ifCond}} data-message="views">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#map-marker"></use>
                </svg>
                <a href="map.html">Map</a>
            </li>

            <li {{#ifCond mode 'data'}}class="active"{{/ifCond}}>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#list-rich"></use>
                </svg>
                <a href="data.html">Data</a>
            </li>

            <li {{#ifCond mode 'activity'}}class="active"{{/ifCond}}>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#pulse"></use>
                </svg>
                <a href="activity.html">Activity</a>
            </li>

            <li {{#ifCond mode 'settings'}}class="active"{{/ifCond}}>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <a href="settings.html">Settings</a>
            </li>

            <li class="more-menu-trigger">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                </svg>
                <a href="#">More</a>
            </li>
        </ul>

        <ul class="account-menu">
            <li>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                </svg>
                <a href="#" data-modal="collections">Collections</a>
            </li>

            <li>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                </svg>
                <a href="#" data-modal="account">User</a>
            </li>

            <li>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#account-logout"></use>
                </svg>
                <a href="#">Log out</a>
            </li>

            <li>
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#question-mark"></use>
                </svg>
                <a href="https://www.ushahidi.com/support">Support</a>
            </li>

            <li class="made-by-logo">
                <a href="http://ushahidi.com" target="_blank">
                    <img src="../../img/ushahidi-logo.png" alt="Ushahidi Logo">
                    <span>Made by Ushahidi</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
