<form>
    <div class="form-field">
        <label class="hidden">Field label</label>
        <div class="input-with-icon">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
            </svg>
            <input type="search" placeholder="Search">
        </div>
    </div>

   <div class="button-group">
       <button class="button-beta">Sort</button>
       <button class="button-beta">Filter</button>
   </div>
</form>
