<form>
    <div class="form-field">
        <label class="hidden">Field label</label>
        <div class="input-with-icon">
            <input type="search" value="This is sample text">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
            </svg>
        </div>
    </div>

   <div class="button-group">
       <button class="button-beta">Sort</button>
       <button class="button-beta">Filter</button>
   </div>
</form>

<div class="search-card">
    <fieldset>
        <legend>Status</legend>
        <div class="form-field checkbox">
            <input type="checkbox" id="published">
            <label for="published">Published</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="under-review">
            <label for="under-review">Under review</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="archived">
            <label for="archived">Archived</label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Categories</legend>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-1">
            <label for="category-1">Category #1</label>
            <div class="sub-list">
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
            </div>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-2">
            <label for="category-2">Category #2</label>
            <div class="sub-list">
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
            </div>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-3">
            <label for="category-3">Category #3</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-4">
            <label for="category-4">Category #4</label>
            <div class="sub-list">
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
            </div>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-5">
            <label for="category-5">Category #5</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-6">
            <label for="category-6">Category #6</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="category-7">
            <label for="category-7">Category #7</label>
            <div class="sub-list">
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="category-2">
                    <label for="category-2">Sub Categories</label>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Surveys</legend>
        <div class="form-field checkbox">
            <input type="checkbox" id="survey-1">
            <label for="survey-1">Survey #1</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="survey-2">
            <label for="survey-2">Survey #2</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="survey-3">
            <label for="survey-3">Survey #3</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="survey-4">
            <label for="survey-4">Survey #4</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="survey-5">
            <label for="survey-5">Survey #5</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="survey-6">
            <label for="survey-6">Survey #6</label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Source</legend>
        <div class="form-field checkbox">
            <input type="checkbox" id="email">
            <label for="email">Email</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="sms">
            <label for="sms">SMS</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="twitter">
            <label for="twitter">Twitter</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="web">
            <label for="web">Web</label>
        </div>
    </fieldset>

    <div class="button-group">
        <button class="button-beta">Cancel</button>
        <button class="button">Apply</button>
    </div>
</div>
