<form>
    <div class="form-field">
        <label class="hidden">Field label</label>
        <div class="input-with-icon">
            <svg class="iconic">
              <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
            </svg>
            <input type="search" placeholder="This is sample text">
            <svg class="iconic close">
              <use xlink:href="../../img/iconic-sprite.svg#x"></use>
            </svg>
        </div>
    </div>

   <div class="button-group">
       <button class="button-beta">Sort</button>
       <button class="button-beta">Filter</button>
   </div>
</form>

<div class="search-card">
    <fieldset>
        <div class="form-field checkbox">
            <input type="checkbox" id="newest">
            <label for="newest">Newest on top</label>
        </div>
        <div class="form-field checkbox">
            <input type="checkbox" id="unlocked">
            <label for="unlocked">Unlocked on top</label>
        </div>
    </fieldset>

    <div class="button-group">
        <button class="button-beta">Cancel</button>
        <button class="button">Apply</button>
    </div>
</div>
