<div class="stepper" data-accordion-items="stepper-item">
        <div class="stepper-item">
        <h2 class="stepper-heading" data-accordion-trigger>
            <span class="stepper-badge">1</span>
            Step 1
        </h2>
        <fieldset>
            <div class="form-field">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" />
            </div>
            <div class="form-field">
                <label for="description">
                    Description
                </label>
                <textarea name="description" id="description" />
            </div>
        </fieldset>
        <div class="form-field">
            <button class="button" data-accordion-trigger="0">Continue</button>
        </div>
    </div>
    <div class="stepper-item">
        <h2 class="stepper-heading" data-accordion-trigger>
            <span class="stepper-badge">2</span>
            Step 2
        </h2>
    <fieldset>
        <legend>Select options below</legend>
        <div class="form-field">
            <input type="checkbox" name="option-1" id="1" />
            <label for="1">Option 1</label>
            <input type="checkbox" name="option-2" id="2" />
            <label for="2">Option 2</label>
            <input type="checkbox" name="option-3" id="3" />
            <label for="3">Option 3</label>
            <input type="checkbox" name="option-4" id="4" />
            <label for="4">Option 4</label>
        </div>
    </fieldset>
    <div class="form-field">
        <button class="button" data-accordion-trigger="0">Continue</button>
        <button class="button-beta">Back</button>
    </div>
</div>

</div>
