<div class="form-field" draggable="true">
    <div class="form-field-body">
        <label contenteditable="true">{{Describe the problem}}</label>

        <fieldset class="custom-fieldset form-field-type" data-toggle="field-type">
            <legend>
                <svg class="iconic">
                    <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_format_align_left_24px"></use>
                </svg>
                Long text
            </legend>
        </fieldset>
    </div>


    <div class="form-field-actions">

        <span class="dragger">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_drag_handle_24px"></use>
            </svg>
        </span>

        <div class="form-field switch">
            <label>Required</label>
            <div class="toggle-switch">
                <input class="tgl" id="require-field-0" type="checkbox">
                <label class="tgl-btn" for="require-field-0"></label>
            </div>
        </div>

        <div>
            <button class="button-beta
            ">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                </svg>
                <span class="hidden">Delete</span>
            </button>

            <button class="button-beta
            " data-toggle="field-type">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                </svg>
                <span class="hidden">More</span>
            </button>
        </div>

    </div>
</div>
