<div class="survey-card-wrapper">
<div class="survey-card card">
    <div class="survey-info-card">
        <h2 class="survey-card-title"><a href="">Create a new survey</a></h2>
        <p>Create an open or targeted survey to gather information about Ushahidi</p>
        <div class="survey-button">
            <a href="settings.html" class="button button-alpha" type="button" name="button">
                <span class="button-label">New survey</span>
            </a>
        </div>
    </div>

</div>
</div>
