<div class="toolbar">
        {{> Fab target='submit-new-survey'}}

        {{> Search }}

        <div class="button-group">
            <button type="button" data-modal="share">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                </svg>
                <span class="button-label">Share</span>
            </button>
            <button type="button" class="button button-alpha button-plain" data-modal="donate">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#heart"></use>
                    </svg>
                    <span>Donate</span>
            </button>
        </div>
    </div>
