<div class="tool">
    <p class="tool-heading">Status</p>

    <span class="tool-trigger" data-toggle="toggle-content">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show/hide</span>
    </span>

    <div class="toggle-content active">
        <fieldset>
            <legend class="hidden">Status</legend>

            <div class="form-field checkbox icon-input">
                <label for="published">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <input checked type="checkbox" id="published">
                    Published
                </label>
            </div>

            {{#if user.logged_in}}
            <div class="form-field checkbox icon-input">
                <label for="review">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    <input checked type="checkbox" id="review" />
                    Under review
                </label>
            </div>
            {{/if}}

            <div class="form-field checkbox icon-input">
                <label for="archive">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                    </svg>
                    <input {{#if user.logged_in}}checked{{/if}} type="checkbox" id="archive" />
                    Archive
                </label>
            </div>
        </fieldset>
    </div>
</div>
