 .applied-filters {
    @include outer-container;
    border-bottom: $base-border;
    padding: $sm-spacing 0 $base-spacing;
    margin-bottom: $base-spacing;

    .pills {
        @include media($small) {
            @include span-columns(9);
        }
    }

    .save-button {
        display: block; 
        margin-top: $sm-spacing;

        @include media($small) {
            @include span-columns(3);
            margin-top: 2px;
        }

        .save {
            
            @include media($small) {
                float: right;
            }

        }

    }

 }