.applied-filters {
    @include outer-container;
    border-bottom: $base-border;
    padding: $sm-spacing 0 $base-spacing;
    margin-bottom: $base-spacing;

    .pills {
        @include span-columns(12);
        @include float(left);
        @include lrswap(margin, 0 2.35765% 0 0);

        @include media($small) {
            @include span-columns(9);
            @include float(left);
            @include lrswap(margin, 0 2.35765% 0 0);
        }

        button {
            @include float(left);
        }

    }

    .save-button {
        display: inline-block;
        margin-top: $sm-spacing;

        @include media($small) {
            @include span-columns(3);
            @include float(left);
            @include margin-right(0);
            margin-top: 2px;
        }

        .save {

            @include media($small) {
                @include float(right);
            }

        }

    }

}
