.dashboard-listing {
    border-top: $base-border;
    overflow: auto;
    padding: $base-spacing 0;
    @include outer-container;

    @include media($small) {
        padding: 0;
    }

    &:nth-child(odd) {
        background: $lt-gray-bg;
    }

    &:last-of-type {
        border-bottom: $base-border;
    }

    .delta-alt {
        display: inline-block;
        padding-left: $sm-spacing;

        &.filter {
            @include icon(before, filter); 

            &:before {
                font-size: 14px;
            }
        }

    }

    h3 {
        margin: $tiny-spacing 0;
        display: inline-block;
    }

    ul.bullets {
        margin-bottom: $sm-spacing;

        li {
            margin-bottom: 0;
            margin-left: $base-spacing;
        }

    }

    @include media($small) {
        
        .meta-data {
            display: block;
            margin-bottom: $base-spacing;
        }

        .meta-and-status {
            @include span-columns(3);
            padding: ($base-spacing+14px) 0 0 $base-spacing;
        }

        .listing-and-credit {
            @include span-columns(9);
        }

        .listing-summary {
            border-left: $base-border;
            padding: $base-spacing;
        }

        .user-credit {
            border-left: $base-border;
            padding: 0 $base-spacing $base-spacing;
        }

    }

    @include media($medium) {

        .meta-and-status {
            @include span-columns(2);
        }

        .listing-and-credit {
            @include span-columns(10);
        }

        .listing-summary {
            @include span-columns(8);
            border-right: $base-border;
            border-left: $base-border;
            padding: $base-spacing;
        }

        .user-credit {
            border-left: 0px;
            @include span-columns(4);
            padding: $base-spacing $base-spacing $base-spacing 0;
        }

    }

    @include media($medium) {
        
        .listing-summary {
            @include span-columns(9);
        }

        .user-credit {
            @include span-columns(3);
        }

    }

}


