.filters {
    position: relative;

    .filters-show-hide {
        padding: $sm-spacing;
        overflow: auto;
        border: $base-border;
        border-left: 0;
        text-align: right;

        span {
            display: none;

            @include media($mobile) {
                display: inline;
            }

        }

        @include media($small) {
            border: 0;
            padding: 0;
        }

        label.delta-alt {
            display: inline-block;
            margin: $sm-spacing $sm-spacing 0 0;
        }

        .button-toggle {
            float: right;

            @include media($small) {
                float: none;
            }

            &.open {

                @include media($small) {
                    padding-bottom: 20px;
                    @include border-bottom-radius(0);
                    border-bottom: 0;
                }

            }

        }

    }

    .filters-container {
        display: none;
        float: left;
        width: 100%;
        position: relative;
        background: $white;
        padding: $sm-spacing $sm-spacing 0;
        border: $base-border;
        border-top: 0;

        &:after {
            width: 50%;
            height: 1px;
            background: $border-color;
        }

        @include media($small) {
            padding: $sm-spacing $base-spacing;
            position: absolute;
            top: 37px;
            bottom: inherit;
            width: 100%;
            max-width: 300px;
            border-top: 5px solid $black;
            @include box-shadow($top: 2px, $left: 0, $blur: 3px, $spread: 0px, $color: rgba(0,0,0,.08));

            &:after {
                width: 100%;
            }

        }

        #{$all-text-inputs} {
          width: 100%;
        }

        .keyword-search {

            label {
                display: block;
                margin: 0;
            }

            .keyword-input {
                @include span-columns(9);
                height: 30px;
            }

            button {
                @include span-columns(3);
                margin-top: $sm-spacing;
                height: 30px;
                padding: 0;
                text-align: center;

                &:before {
                    @include rotate(90deg);
                }
            }

        }

        .accordion-menu {

            .accordion-menu-content {
                margin-top: 0;
            }

        }

        .filter-start-date, .filter-end-date {
            @include span-columns(6);
            position: relative;
        }

        .filter-end-date {
            @include omega();
        }

        .filter-start-date:before,
        .filter-end-date:before {
            position: absolute;
            top: 35px;
            right: 10px;
            font-family: FontAwesome;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            content: "\f073";
            color: $dk-gray;
            opacity: .5;
        }

        .filter-actions {
            @include span-columns(12);
            padding-top: $base-spacing;
            text-align: right;
        }

        .apply-filter-button {
            display: inline-block;
            float: none;
            right: 0;
        }

        .location {

            .custom-select {
                margin: 0 $sm-spacing $sm-spacing 0;
            }

        }

    }

}

aside {

    .filters {
        border-left: $base-border;
        margin-bottom: $sm-spacing;
    }

    .filters-show-hide {

        &.half {
            width: 55%;
            float: right;
            margin-top: -54px;
        }

        @include media($small) {
            display: none !important;
        }

    }

    .filters {

        .filters-container {
            @include media($small) {
                position: relative;
                top: 0;
                display: block;
            }

        }

    }

}
