.form-sheet {
    position: relative;
    @extend .card;
    background-color: $color-light-delta;

    &:before,
    &:after {
        content: '\00a0';
        display: block;
        height: 1px;
    }

    .form-sheet-title {
        @include typeBeta;
    }

    .form-sheet-summary {
        position: relative;

        &:not(:first-of-type) {
            border-top: $base-border;
            padding-top: $lg-spacing;
        }

        .post-band {
            margin-left: -$sm-spacing;

            @include media($medium) {
                margin-left: -$base-spacing;
            }
        }
    }

    .form-sheet-summary,
    .form-field,
    fieldset {
        max-width: 450px;
        margin: $base-spacing $sm-spacing;

        @include media($medium) {
            margin: $lg-spacing $base-spacing;
        }

        &.title {
            max-width: none;
            margin-right: 0;
            margin-left: 0;

            input[type="text"] {
                width: 100%;
//                border-top-color: $color-light-beta;
                border-right-color: transparent;
//                border-bottom-color: $color-light-beta;
                border-left-color: transparent;
                @include equal-radius(0);

                @include media($medium) {
                    padding-right: $base-spacing;
                    padding-left: $base-spacing;
                }

                &:focus {
                    outline: none;
                    border-top-color: $color-secondary;
                    border-bottom-color: $color-secondary;
                }
            }

            &.form-field-adapt {
                margin-right: $sm-spacing;
                margin-left: $sm-spacing;

                @include media($medium) {
                    margin-right: $base-spacing;
                    margin-left: $base-spacing;
                }

                label {
                    display: block;
                }
            }
        }

        .form-field {
            margin: 0 0 $tiny-spacing 0;
        }
    }

    .custom-fieldset {
        max-width: none;
    }

    .metadata {
        @include clearfix;
        margin: $base-spacing $sm-spacing;

        @include media($medium) {
            margin: $lg-spacing $base-spacing;
        }

        + .form-field {
            margin-top: -$tiny-spacing;
            margin-bottom: $sm-spacing;
        }
    }
}
