.form-sheet-title {
    @include typeBeta;
    margin-bottom: $sm-spacing;

    &.survey-title,
    &.section-title {
        color: $color-dark-delta;
        text-shadow: 0 1px 0 $white;
    }

    &.survey-title {
        font-size: 24px;
        font-size: 1.714285714rem;

        @include media($mobile) {
            font-size: 28px;
            font-size: 2rem;
        }

        @include media($medium) {
            font-size: 34px;
            font-size: 2.428571429rem;
        }
    }
}

.form-sheet {
    position: relative;
    @include containerCard;
    background-color: $color-light-delta;

    &.active {
        display: block !important;
    }

    &:before,
    &:after {
        content: '\00a0';
        display: block;
        height: 1px;
    }

    .form-sheet-summary,
    .form-field,
    fieldset {
        margin-right: $sm-spacing;
        margin-left: $sm-spacing;

        @include media($mobile) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }

        &.title {
            max-width: none;
            margin: $base-spacing 0;

            label {
                position: relative;

                @include media($mobile) {
                    left: -4px;
                    margin-right: 10%;
                    margin-left: 10%;
                }

                @include media($xlarge) {
                    margin-right: 20%;
                    margin-left: 20%;
                }
            }

            input[type="text"],
            textarea {
                width: 100%;
                border-right-color: transparent;
                border-left-color: transparent;
                @include equal-radius(0);

                @include media($mobile) {
                    padding-right: 10%;
                    padding-left: 10%;
                }

                @include media($xlarge) {
                    padding-right: 20%;
                    padding-left: 20%;
                }

                &:focus {
                    outline: none;
                    border-top-color: $color-secondary;
                    border-bottom-color: $color-secondary;
                }
            }

            .alert {

                @include media($mobile) {
                    margin-right: 10%;
                    margin-left: 10%;
                }

                @include media($xlarge) {
                    margin-right: 20%;
                    margin-left: 20%;
                }
            }

            &.form-field-adapt {
                margin-right: $sm-spacing;
                margin-left: $sm-spacing;

                @include media($medium) {
                    margin-right: $base-spacing;
                    margin-left: $base-spacing;
                }

                label {
                    display: block;
                }
            }
        }

        &.survey-title,
        &.section-title {
            margin-left: 4px;

            input[type="text"],
            textarea {
                border-color: transparent;
                background-color: transparent;
                @include no-shadow;

                &:hover {
                    cursor: pointer;
                    border-top-color: lighten($color-secondary, 16%);
                    border-bottom-color: lighten($color-secondary, 16%);
                }

                &:focus {
                    background-color: $white;
                }
            }

            input[type="text"] {
                color: $color-dark-delta;
                padding-top: $tiny-spacing;
                padding-bottom: $tiny-spacing;
            }

            .section-title-actions {
                position: absolute;
                top: 4px;
                right: $sm-spacing;
                z-index: $body;

                @include media($small) {
                    right: 10%;
                }

                button,
                .button {
                    margin-right: 0;
                    margin-left: $tiny-spacing;
                }

                .dropdown-menu {
                    top: $huge-spacing !important;
                    right: 0 !important;
                }
            }
        }

        &.survey-title {

            input[type="text"] {
                font-size: 28px;
                font-size: 2rem;

                @include media($medium) {
                    font-size: 34px;
                    font-size: 2.428571429rem;
                }
            }
        }

        .form-field {
            margin-right: 0;
            margin-left: 0;
        }

        .form-field-actions {
            position: absolute;
            top: 0;
            right: -$tiny-spacing;
            z-index: $body;
            margin-right: 0;

            @include media($mobile) {
                right: -$huge-spacing;
            }

            button,
            .button {
                margin-right: 0;
                margin-left: $tiny-spacing;
            }

            .dropdown-menu {
                top: 0 !important;
                right: 0 !important;
                left: auto !important;
            }
        }
    }

    .form-field {

        label {

            + p {
                margin-bottom: $sm-spacing;
            }
        }

        &[draggable="true"],
        &.date,
        &.time {
            display: block;
        }
    }

    &[role="article"] {

        .form-field {

            &.select {

                label {
                    font-size: 20px;
                    font-size: 1.428571429rem;
                }

                .form-field {

                    label {
                        @include typeBase;
                    }
                }
            }
        }
    }

    .form-sheet-actions {
        position: relative;
        border-top: 1px solid rgba(0,0,0,0.04);
        background-color: rgba(0,0,0,0.04);
        padding: $sm-spacing;

        @include media($small) {
            padding-right: 10%;
            padding-left: 10%;
        }

        @include media($large) {
            padding-right: 20%;
            padding-left: 20%;
        }

        .form-field {
            margin: 0;
        }
    }

    .form-sheet-summary {
        position: relative;
        max-width: none;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;

        @include media($mobile) {
            margin-top: $lg-spacing;
            margin-bottom: $lg-spacing;
        }

        @include media($medium) {
            margin-top: $huge-spacing;
            margin-bottom: $huge-spacing;
        }

        &:not(:first-of-type) {
            border-top: $base-border;
            padding-top: $lg-spacing;
        }

        img.icon {
            max-width: $huge-spacing;
            margin: 0 auto;
        }

        progress,
        .progress-bar {
            width: 100%;
            margin: $sm-spacing auto;
        }

        .task {
            margin-top: -$sm-spacing;
            margin-bottom: $base-spacing;
        }
    }

    .form-sheet-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        /*
        padding-right: $sm-spacing;
        padding-left: $sm-spacing;

        @include media($medium) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }
        */

        .button-flat {
            background-color: transparent;
            @include no-shadow;
        }

        .dropdown-menu {
            top: 0 !important;
            left: auto !important;
            margin-top: $tiny-spacing;
            margin-left: -34px;

            @include media($small) {
                left: 100% !important;
            }
        }
    }

    .form-sheet-mark {
        display: inline-block;
        color: $color-dark-beta;
        @include equal-radius;
        background-color: $color-light-beta;
        padding: $tiny-spacing $sm-spacing;
        margin-top: -1px;

        h1, h2, h3, p {
            display: inline-block;
            font-weight: normal;
            font-size: $base-font-size;
        }

        svg.iconic {
            fill: $color-dark-alpha;
            margin-left: $tiny-spacing;
        }
    }

    a.post-band {

        &:hover {
            width: $tiny-spacing;
            z-index: $body;
        }
    }

    .listing {

        .listing-heading {
            @extend label;
            border-bottom: 1px solid $color-light-gamma;
            padding: 0 $sm-spacing $sm-spacing;

            @include media($medium) {
                padding-right: $base-spacing;
                padding-left: $base-spacing;
            }

            + .listing-item {
                margin-top: 0;
            }
        }

        .listing-body {
            background-color: $white;
            box-shadow: 0 1px 4px rgba(0,0,0,.24) inset;
        }
    }

    .custom-fieldset {
        max-width: none;
    }

    .metadata {
        padding-right: $sm-spacing;
        padding-left: $sm-spacing;

        @include media($mobile) {
            padding-right: 10%;
            padding-left: 10%;
        }

        @include media($xlarge) {
            padding-right: 20%;
            padding-left: 20%;
        }
    }

    .task {

        .metadata {
            padding: 0;
        }
    }

    .progress {
        @include no-shadow;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    .stepper {
        margin-right: $sm-spacing;
        margin-left: $sm-spacing;

        @include media($mobile) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }

        .form-sheet-summary,
        .form-field,
        fieldset {
            margin-right: 0;
            margin-left: 0;
        }

        .metadata {
            @include typeBase;
            padding: $tiny-spacing $sm-spacing;
        }
    }

    > .progress-bar {
        position: absolute;
        top: 0;
        z-index: $toolbar;
        right: 0;
        left: 0;
    }

/*
    .dropdown-menu {
        margin-top: -107px;

        @include media($medium) {
            margin-top: -84px;
            margin-left: -312px;
        }
    }
*/

    [data-toggle-target] {
        display: none;

        &.active {
            display: block;
        }
    }
}
