.form-sheet {
    position: relative;
    @include containerCard;
    background-color: $color-light-delta;

    &:before,
    &:after {
        content: '\00a0';
        display: block;
        height: 1px;
    }

    .form-sheet-title {
        @include typeBeta;
    }


    .form-sheet-summary,
    .form-field,
    fieldset {
        margin: $base-spacing $sm-spacing;

        @include media($mobile) {
            margin: $lg-spacing 10%;
        }

        @include media($medium) {
            margin: $huge-spacing $base-spacing;
        }

        @include media($large) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }

        .form-field {
            margin-top: 0;
            margin-bottom: $sm-spacing;
        }

        fieldset {
            margin: 0 0 $sm-spacing;
        }

        .post-band {
            left: -$sm-spacing;

            @include media($medium) {
                left: -$base-spacing;
            }

            + label {
                margin-left: 0;

                + input {
                    margin-left: 0;
                }
            }
        }

        .metadata {
            margin: $tiny-spacing 0;
        }

        &.title {
            max-width: none;
            margin-right: 0;
            margin-left: 0;

            input[type="text"] {
                width: 100%;
//                border-top-color: $color-light-beta;
                border-right-color: transparent;
//                border-bottom-color: $color-light-beta;
                border-left-color: transparent;
                @include equal-radius(0);

                @include media($medium) {
                    padding-right: $base-spacing;
                    padding-left: $base-spacing;
                }

                &:focus {
                    outline: none;
                    border-top-color: $color-secondary;
                    border-bottom-color: $color-secondary;
                }
            }

            &.form-field-adapt {
                margin-right: $sm-spacing;
                margin-left: $sm-spacing;

                @include media($medium) {
                    margin-right: $base-spacing;
                    margin-left: $base-spacing;
                }

                label {
                    display: block;
                }
            }
        }

        &.radio,
        &.checkbox {
            margin-top: 0;
            margin-bottom: $tiny-spacing;
        }

        .form-field {
            margin-right: 0;
            margin-left: 0;
        }
    }

    .form-sheet-summary {
        position: relative;
        max-width: none;

        &:not(:first-of-type) {
            border-top: $base-border;
            padding-top: $lg-spacing;
        }

        .post-band {
            margin-left: -$sm-spacing;

            @include media($medium) {
                margin-left: -$base-spacing;
            }
        }

        img.icon {
            max-width: $huge-spacing;
            margin: 0 auto;
        }

        progress,
        .progress-bar {
            width: 100%;
            margin: $sm-spacing auto;
        }
    }

    .form-sheet-toolbar {
        padding-right: $sm-spacing;
        padding-left: $sm-spacing;

        @include media($medium) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }

        fieldset,
        button,
        .button {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 $tiny-spacing 0 0;
        }
    }

    .listing {

        .listing-heading {
            @extend .caps;
            border-bottom: 1px solid $color-light-gamma;
            padding: 0 $sm-spacing $sm-spacing;

            @include media($medium) {
                padding-right: $base-spacing;
                padding-left: $base-spacing;
            }

            + .listing-item {
                margin-top: 0;
            }
        }

        .listing-body {
            background-color: $white;
            box-shadow: 0 1px 4px rgba(0,0,0,.24) inset;
        }
    }

    .custom-fieldset {
        max-width: none;
    }

    .metadata {
        background-color: $color-light-gamma;
        padding: $tiny-spacing $sm-spacing;

        @include media($mobile) {
            padding-right: 10%;
            padding-left: 10%;
        }

        @include media($medium) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }

        @include media($large) {
            padding-right: 10%;
            padding-left: 10%;
        }

        @include media($xlarge) {
            padding-right: 20%;
            padding-left: 20%;
        }

        .chip {
            background-color: $color-light-delta;
        }
    }

    .toolbox {

        @include media($small-down) {
            width: auto;
            background-color: transparent;
            @include no-shadow;
            padding-top: 0;
            padding-bottom: 0;
            margin: $sm-spacing 0;
        }

        .tool {
            margin: $sm-spacing;
            margin-bottom: $base-spacing;
        }
    }

    .tool {
        max-width: 450px;
        margin: $base-spacing $sm-spacing;

        @include media($medium) {
            margin: $lg-spacing $base-spacing;
        }

        .form-field,
        fieldset {
            margin: $sm-spacing 0;
        }

        fieldset {

            &.custom-fieldset.init {
                margin-top: $tiny-spacing;
            }

            .form-field {
                margin: 0 0 $tiny-spacing;
            }

            fieldset {
                margin-top: 0;
            }

            .task {

                .form-field {
                    margin-bottom: 0;
                }
            }
        }
    }

    .progress {
        @include no-shadow;
        margin-right: $sm-spacing;
        margin-left: $sm-spacing;

        @include media($mobile) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($medium) {
            margin-right: $base-spacing;
            margin-left: $base-spacing;
        }

        @include media($large) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }
    }

    > .progress-bar {
        position: absolute;
        top: 0;
        z-index: $toolbar;
        right: 0;
        left: 0;
    }

    [data-toggle-target] {
        display: none;

        &.active {
            display: block;
        }
    }
}

.survey-cover {
    @include containerSheet;
    padding-top: 4px;
    padding-left: 4px;
    margin-top: $tiny-spacing;

    @include media($small) {
        margin-right: $tiny-spacing;
    }

    @include media($xlarge) {
        padding-right: 4px;
        margin-right: 0;
    }

    .survey-cover-title {
        color: $white;
        @include typeAlpha;
        font-weight: 600;
        text-shadow: 0 1px 2px rgba(0,0,0,.24);
        margin: ($tiny-spacing - 4) $sm-spacing $tiny-spacing;

        @include media($mobile) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($small) {
            font-size: 24px;
            font-size: 1.714285714rem;
        }

        @include media($medium) {
            margin: ($sm-spacing - 4) $base-spacing $sm-spacing;
        }

        @include media($large) {
            margin-right: 10%;
            margin-left: 10%;
        }

        @include media($xlarge) {
            margin-right: 20%;
            margin-left: 20%;
        }
    }

    .form-sheet {
        @include radius(2px, 0px, 0px, 2px);

        @include media($small) {
            @include equal-radius;
            margin-right: -$tiny-spacing;
            margin-bottom: -$tiny-spacing;
        }

        @include media($xlarge) {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
