.list-actions {
    padding: $sm-spacing 0;
    border-top: $base-border;
    border-right: $base-border;
    border-left: $base-border;
    clear: both;
    padding: $sm-spacing $tiny-spacing;
    overflow: auto;

    @include media($small) {
        padding: $sm-spacing $base-spacing;
    }

    .bulk-actions {
        float: right;

        @include media($small) {
            padding: 0;
        }

        .dropdown-group {
            display: inline;

            button {
                margin: 0;

                &:before {
                    color: $blue;
                }

            }

        }

    }

    .cta {
        float: left;
        padding-top: $sm-spacing;
    }

    button {
        margin-left: $sm-spacing;
    }

}
