.listing {
    position: relative;
    @include transition(0.3s);

    .listing-heading {
        display: block;
        @include typeBeta;

        + .listing-item {
            margin-top: -$sm-spacing;
        }
    }

    .listing-heading-section {
        display: block;
        position: relative;
        @extend .caps;
    }

    .listing-item {
        .listing-item-body {
            display: none;
        }

        &.selected {

            .listing-item-primary {
                background-color: $white;
            }
        }

        &.active {

            .listing-item-body {
                display: block;
            }

            .listing-item-toggle {

                svg.iconic {
                    @include rotate(180deg);
                }
            }
        }
    }

    &.grid {

        @include media($small-down) {
            display: flex;
            flex-direction: left;
            flex-wrap: wrap;
            // justify-content: center;

            .listing-item {
                width: 33%;
                text-align: center;
                border-bottom: none;

                .listing-item-primary {

                    .listing-item-image {
                        position: static;
                        font-size: 20px;
                        margin: 0 auto $tiny-spacing;

                        + .listing-item-title {
                            @include padding-left(0);
                        }
                    }
                }

                .listing-item-title {
                    font-size: 14px;
                    font-size: 1rem;
                }
            }
        }
    }

    .postcard {
        margin: $sm-spacing;

        @include media($medium) {
            margin-left: 0;
            margin-right: 0;
        }

    }

    .listing-toolbar {
        display: none;
        position: absolute;
        top: -100px;
        right: $sm-spacing;
        left: $sm-spacing;
        z-index: $top;
        @include transition(0.3s);

        @include media($medium) {
            @include right($base-spacing);
            @include left(298px);
        }
    }

    &.card {
        background-color: $color-light-delta;

        .listing-heading {
            border-bottom: $base-border;
            padding: $base-spacing $sm-spacing;

            @include media($medium) {
                padding: $base-spacing;
            }

            + .listing-item {
                margin-top: 0;
            }
        }
    }

    &.timeline {

        &.empty {

            h4 {
                font-size: 16px;
            }
        }

        @include media($medium) {
            @include padding-left(78px);
        }

        .listing-heading {
            text-align: center;
            margin: $lg-spacing $sm-spacing $sm-spacing;

            @include media($medium) {
                @include text-align(left);
                margin-bottom: $lg-spacing;
                @include margin-left(-78px);
            }
        }

        .listing-heading-section {
            text-align: center;
            padding: $tiny-spacing;
        }

        .postcard,
        .listing-heading-section {

            &:after {
                content: '';
                position: absolute;
                z-index: 0;
                top: 100%;
                @include left(50%);
                width: 4px;
                height: $sm-spacing;
                background-color: $color-light-beta;
                @include margin-left(-2px);
            }

            @include media($medium) {

                &:after {
                    top: 0;
                    bottom: -16px;
                    @include left(-54px);
                    height: auto;
                    @include margin-left(0);
                }
            }
        }

        .postcard {

            @include media($medium) {

                &:before {
                    content: '';
                    position: absolute;
                    z-index: $body;
                    top: $sm-spacing;
                    @include left(-54px);
                    width: $sm-spacing;
                    height: $sm-spacing;
                    border: 4px solid $color-light-beta;
                    @include equal-radius(100%);
                    background-color: $color-primary-zeta;
                    @include margin-left(-6px);
                }
            }

            &:last-of-type {

                &:after {
                    bottom: auto;
                    height: $base-spacing;

                    @include media($medium-down) {
                        content: none;
                    }
                }
            }
        }

        .listing-heading-section {

            @include media($medium) {
                display: inline-block;
                color: $color-light-alpha;
                @include equal-radius();
                background-color: $color-light-beta;
                padding: $tiny-spacing $sm-spacing;
                margin: 0 auto;

                &:after {
                    top: -$sm-spacing;
                }
            }
        }
    }

    &.toolbar-active {
        margin-top: 116px;

        @include media($medium) {
            margin-top: 100px;
        }

        .listing-toolbar {
            display: block;
        }
    }

    &.change-log {

        .change-log-header {
            position: relative;

            .button-group {
                position: absolute;
                margin: auto 0;
                top: 0;
                @include right(2.5%);
                bottom: 0;
                height: 35px;
            }

        }

        .form-field {
            margin: 0 0 $base-spacing 0;
        }

    }
}
