.list-actions {
    padding: $sm-spacing 0;
    border-top: $base-border;
    clear: both;
    padding: $sm-spacing 0;
    overflow: auto;

    @include media($small) {
        padding: $sm-spacing $base-spacing;
        border-right: $base-border;
        border-left: $base-border;
    }

    .bulk-actions {
        @include float(right);

        @include media($small) {
            padding: 0;
        }

        button {
            @include float(left);
        }

        .dropdown-group {
            @include float(left);

            button {
                margin: 0;

                &:before {
                    color: $blue;
                }

            }

        }

    }

    .cta {
        @include float(left);
        padding-top: $sm-spacing;
    }

    button {
        @include margin-left($sm-spacing);
    }

}
