.page-header {
   @include clearfix;
   position: relative;
   padding: 0 $sm-spacing;
   margin-bottom: $sm-spacing;

   @include media($small) {
      padding: 0 $base-spacing;
      margin-bottom: $base-spacing;
   }

   .breadcrumb {
      margin-bottom: $base-spacing;
   }

   .page-header-body {
      padding-right: 150px;

      .page-title {
         margin: 0;
      }
   }

   .page-header-actions {
      position: absolute;
      right: $sm-spacing;
      bottom: 0;
      text-align: right;

      @include media($small) {
         right: $base-spacing;
      }
   }
}

.page-body {
   padding: 0 $sm-spacing;

   @include media($small) {
      padding: 0 $base-spacing;
   }
}
