.page-header {
   @include clearfix;
   position: relative;
   padding: 0 $sm-spacing;
   margin-bottom: $sm-spacing;

   @include media($small) {
      padding: 0 $base-spacing;
      margin-bottom: $base-spacing;
   }

   @include media($medium) {
      position: static;
   }

   .page-title {

      @include media($medium) {
         margin-top: 0;
      }
   }

   .page-header-body {
      margin: $base-spacing 0;

      @include media($small) {
         @include span-columns(8);
         margin-bottom: 0;
      }

      .page-title {
         display: inline-block;
         margin: 0;
      }

      .cta {
         margin-left: $sm-spacing;
      }

      + .page-header-actions {
         margin: $base-spacing 0;

         @include media($small) {
            @include span-columns(4);
            text-align: right;
            margin-bottom: 0;
         }
      }
   }

   .page-header-actions {
      position: relative;
   }

   .page-permissions {
      margin-bottom: 0;

      @include media($small) {
         @include float(left);
         @include span-columns(6);
         margin-top: $sm-spacing;
      }

      .meta-data {
         margin: 6px 0;
      }

      .custom-select {
         margin-top: $tiny-spacing;
         margin-bottom: 0;
      }
   }

   .actions-toggle {

      @include media($small) {
         @include float(right);
         @include span-columns(6);
         text-align: right;

         button,
         .button,
         .custom-fieldset {
            text-align: left;
         }
      }
   }

   .actions-toggle-trigger {
      margin-top: $sm-spacing;

      @include media($mobile) {
         position: absolute;
         top: 0;
         right: $sm-spacing;
         margin-top: 0;
      }

      [data-toggle].active {
         border-color: $border-color-active;

         .icon-left:before {
            content: $fa-var-close;
         }
      }
   }
}
