.custom-fieldset.add-post {
    position: relative;
}

.popover {
    position: absolute;
    top: 0;
    @include right(0);
    width: 277px;
    @include equal-radius($global-radius);
    border: 2px solid lighten($dk-gray, 30);
    background: $white;
    text-align: left;
    font-weight: normal;
    @include box-shadow;

    h6 {
        text-transform: uppercase;
        font-size: em(13);
        background: $lt-gray-bg;
        margin: 0;
        padding: 10px;
        color: $dk-gray;
        @include lrswap(padding, 10px 10px 10px 34px);
        @include icon(after, close) {
            position: relative;
            top: -6px;
            @include float(right);
            height: 25px;
            width: 25px;
            @include lrswap(padding, 3px 0 0 5px);
            font-size: em(25);
            color: $highlight;
            background: $white;
            border: 1px solid lighten($dk-gray, 30);
            @include equal-radius($global-radius);
        }

    }

    ul {
        margin: 0;

        li {
            list-style: none;
            padding: 12px;
            margin: 0;
            border-top: 1px solid lighten($dk-gray, 30);
        }

    }

    // Add Post Button
    &.add-post-popover ul li {
        @include icon(before, file) {
            position: relative;
            top: -1px;
            font-size: em(13);
            @include padding-right(10px);
        }

        $colors: $red, $yellow, $brown, $green;
        @for $i from 1 through length($colors) {

            &:nth-child(#{length($colors)}n+#{$i}) {

                &:before {
                    color: nth($colors, $i)
                }

            }

        }

    }

    // Share Post Button
    &.share-post-popover {
        top: -2px;
        @include right(-2px);

        .facebook {
            color: $facebook;
        }

        .twitter {
            color: $twitter;
        }

    }

    // Open State
    &.open {
        display: block;
    }

}
