.single-post-listing {
    @extend .zebra-list-alt;
    border-top: $base-border;
    border-left: $base-border;
    border-right: $base-border;
    clear: both;
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;

    @include media($small) {
        border-left: $base-border;
        border-right: $base-border;
    }

    @include media($large) {
    }

    .post-summary {
        padding: $sm-spacing;

        @include media($small) {
            padding: $sm-spacing $base-spacing 0;
            @include border-left($base-border);
        }

        @include media($large) {
           @include border-right($base-border);
           width: 75%;
           @include float(left);
           min-height: 204px;
        }

        .meta-data {
            margin-top: 15px;
        }

    }

    .post-summary, .step-and-actions {

        @include media($large) {
            @include margin-left(0);
        }

    }

}

.single-post-listing.unpublished {

    h3:after {
        content:'Unpublished';
        background: rgba(0,0,0,.025);
        padding: 3px 5px;
        @include margin-left(7px);
        border: $base-border;
        display: inline;
        font-size: 14px;
        color: $lt-black;
        font-weight: 300; 
    }

    /*.post-text p, .meta-data, li.category*/ h3 {
        color: $dk-gray; 
    }

}

.select-post {
    @include float(left);
    margin: 0;
    padding: 10px;
    @include border-box;
    border-bottom: $base-border;
    @include border-right($base-border);
    @include margin-right($tiny-spacing);
    margin-bottom: $sm-spacing;
    background: $white;

    input {
        margin: 0;
    }

    @include media($small) {
        border-bottom: 0;
        @include border-right(0);
        background: transparent;
    }

    @include media($large) {
        padding: 10px 7px;
        @include margin-right(0);
    }

}

.step-and-actions {
    border-top: $base-border;

    @include media($large) {
       width: 22%;
       @include float(left);
       border-top: 0px;
    }

    .step {
        width: 50%;
        @include float(left);
        padding: $base-spacing;
        @include border-right($base-border);

        @include media($large) {
            width: 100%;
            clear: both;
            border-left: 0;
            border-bottom: $base-border;
            border-right: 0;
            padding: $base-spacing;
        }

        .delta-alt, p {
            margin: $tiny-spacing 0;
        }

    }

    .actions-stacked {
        width: 50%;
        @include float(right);
        padding: $base-spacing;

        @include media($large) {
            width: 100%;
            clear: both;
            padding: 0;
        }

        .button-hide {
            transform: translateY(25%);
        }

    }

    .actions-content {
        padding: 20px;
        width: 100%;
        border-top: $base-border;

         @include media($large) {
            border: none;
        }

        li {
            padding-bottom: 0;

            @include media($large) {
                padding-bottom: $sm-spacing;
            }

        }

    }

}
