.post-list-actions {
    padding: $sm-spacing 0;
    border-top: $base-border;
    overflow: auto;

    @include media($small) {
        border-right: $base-border;
        border-left: $base-border;
        padding: $sm-spacing $base-spacing;
    }

    .bulk-actions {
        float: right;

        .bulk-mark {
            @include icon(before, chevron-down) {
                color: $dk-gray;
            }

        }

        .bulk-delete {
            @include icon(before, trash) {
                color: $link-color;
                padding: 0;
            }

        }

    }

    .cta {
        float: left;
        padding-top: $sm-spacing;
    }

    button {
        margin-left: $sm-spacing;
    }

}
