.post-header {
   position: relative;
   @include clearfix;
//   border-bottom: $base-border;
   padding: $base-spacing 110px $base-spacing $sm-spacing;

   @include media($small) {
      position: static;
      border-color: transparent;
      background-color: transparent;
      padding: $base-spacing $base-spacing $sm-spacing;
   }

   @include media($medium) {
      padding-top: 0;
      margin-right: $sm-spacing;
   }
/*
   &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 10px;
      @include box-shadow($top: -1px, $left: 0, $blur: 3px, $spread: 0, $color: rgba(0,0,0,.1), $inset: true);

      @include media($small) {
         content: none;
      }
   }
*/

   .post-title {
      margin: 0 0 15px;
   }

   .meta-data {
      font-size: em(15);
      margin: 0;

      @include media($small) {
         @include float(left);
         @include span-columns(5);
         margin-top: 17px;
      }
   }

   .actions-toggle {

      @include media($small) {
         @include float(right);
         @include span-columns(7);
         text-align: right;
         margin-top: $sm-spacing;

         button,
         .button,
         .custom-fieldset {
            text-align: left;
         }
      }
   }

   .actions-toggle-trigger {
      position: absolute;
      top: $base-spacing;
      right: $sm-spacing;

      [data-toggle].active {
         border-color: $border-color-active;

         .icon-left:before {
            content: $fa-var-close;
         }
      }
   }

   .actions-content {
      padding: 0;
      margin-top: $sm-spacing;

      @include media($small) {
         margin: -$sm-spacing 0 0;
      }
   }
}
