.single-post-listing {
    @extend .zebra-list;
    overflow: auto;
    position: relative;
    border-top: $base-border;
    border-left: $base-border;
    border-right: $base-border;

    .post-summary {
        padding: $sm-spacing $sm-spacing 0 0;
    }

    @include media($small) {
        border-left: $base-border;
        border-right: $base-border;

        .post-summary {
            padding: $sm-spacing $base-spacing;
        }

    }

    @include media($medium) {

        .post-summary {
            padding: $base-spacing;
        }

    @include media($large) {
        overflow: auto;
    }

    .post-summary, .stage-and-actions {
        overflow: auto;

        @include media($large) {
            margin-left: 0;
        }

    }

    .post-summary {
        @include border-box;
        padding: $base-spacing 0;

        @include media($small) {
            padding: $sm-spacing $base-spacing;
            border-left: $base-border;
        }

        @include media($large) {
           width: 75%;
           float: left;
           /* border-right: 0; */
           /* border-left: 0; */
        }

    }

}

.select-post {
    float: left;
    margin: 0;
    padding: 5px;
    @include border-box;

    input {
        margin: 0;
    }

}

.stage-and-actions {
    border-top: $base-border;

    @include media($large) {
       width: 22%;
       float: left;
       border-top: 0px;
       border-left: $base-border;
    }

    .stage {
        width: 50%;
        float: left;
        padding: $base-spacing;
        border-right: $base-border;

        @include media($large) {
            width: 100%;
            clear: both;
            border-left: 0;
            border-bottom: $base-border;
            border-right: 0;
            padding: $base-spacing;
        }

        .delta-alt, p {
            margin: $tiny-spacing 0;
        }

    }

    .actions {
        width: 50%;
        float: right;
        padding: $base-spacing;

        @include media($large) {
            width: 100%;
            clear: both;
            padding: 0;
        }

        .button-hide {
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(25%);

            @include media($large) {
                display: none;
            }

        }

    }

    .toggle-content {
        display: none;
        float: left;
        width: 100%;
        box-shadow: none;
        padding: $sm-spacing;
        border-top: $base-border;

        @include media($large) {
            display: block;
            padding: $sm-spacing    ;
            border: none;

        }

        li {
            float: left;
            padding: 0 $sm-spacing $sm-spacing 0;

            @include media($large) {
                float: none;
                padding-right: 0;
            }

            &:last-child {
                padding: 0;
            }

        }

        .button-secondary.dropdown {

            &.open {
                border-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

        }

    }

    .toggle-content-secondary {
        display: none;
        position: absolute;
        background-color: $white;
        margin: 0;
        width: auto;
        min-width: 150px;
        max-height: 150px;
        overflow: auto;
        border: $base-border;
        z-index: $offcanvas;

        li {
            float: none;
        }

    }

}
