.post-summary {

    h3 {
        margin: $sm-spacing 0;
    }

    .meta-data {

        @include media($small) {
            float: left;
            margin-right: $base-spacing;
        }

    }

    .category {
        float: left;
    }

    .post-img {
        padding: $tiny-spacing $sm-spacing $tiny-spacing 0;
        float: left;
        width: 25%;

        @include media($small) {
            padding: 0 $base-spacing $base-spacing 0;
            margin-top: -$base-spacing;
        }

        @include media($medium) {
            padding: 0 $lg-spacing $base-spacing 0;
        }

    }

    &.has-img {

        @include media($small) {

            .meta-data {
                margin-left: 25%;
            }

        }

        @include media($medium) {

        }

    }

}
