.post-summary {
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;

    h3 {
        margin: $sm-spacing 0;
    }

    .meta-data {

        @include media($small) {
            @include float(left);
            @include margin-right($base-spacing);
        }

    }

    .categories-list-inline {
        margin-top: 10px;
        margin-bottom: 10px;

        @include media($small) {
            margin-top: 14px;
            margin-bottom: $base-spacing;
        }

    }

    .category {
        @include float(left);
    }

    .post-img {
        @include lrswap(padding, $tiny-spacing $sm-spacing $tiny-spacing 0);
        @include float(left);
        width: 35%;
        max-width: 400px;
        max-height: 300px;

        @include media($mobile) {
            width: 25%;
            @include lrswap(padding, 0 $base-spacing $base-spacing 0);
        }

    }

    .post-text {
        margin-top: $tiny-spacing;

        @include media($small) {
            padding-bottom: $base-spacing;
        }

    }

}
