.postcard {
    position: relative;
    @extend .card;

    .post-band {
        @include radius(2px, 0, 0, 2px);
    }

    .listing-item-select {
        position: absolute;
        top: $sm-spacing;
        left: $sm-spacing;

        + .postcard-body {
            padding-left: $huge-spacing;
        }

    }

    .postcard-body {
        padding: $sm-spacing;
    }

    .postcard-actions-trigger {
        display: inline-block;
        position: absolute;
        top: $sm-spacing;
        right: $sm-spacing;
        z-index: $body;
        width: $sm-spacing;
        height: $sm-spacing;
        font-size: 12px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $color-light-beta;
        @include transition(0.3s);

        &:hover {
            cursor: pointer;
        }

        svg.iconic {
            fill: $white;
            margin-top: 4px;
        }

        &.active {
            background-color: $color-dark-beta;
            @include transform(rotate(180deg));
        }

    }

    .dropdown-menu {
        top: $lg-spacing+4 !important;
        right: $sm-spacing !important;
        left: auto !important;
    }

    .postcard-title {
        position: relative;
        color: $color-dark-alpha;
        @include typeGamma;
        margin-bottom: 10px;

        .post-band {
            left: -$sm-spacing;
        }
    }

    .postcard-metadata {

        + .postcard-metadata {
            margin-top: $tiny-spacing;
        }
    }

    .postcard-author {
        color: $color-dark-alpha;
        font-weight: $bold;

        .avatar {
            display: inline;
            float: left;
            width: 20px;
            height: 20px;
            margin-top: -3px;
            margin-right: $tiny-spacing/2;

            &:hover {
                border-color: rgba(0,0,0,.24);
            }
        }
    }

    .postcard-field {
        margin: $sm-spacing 0;

        .form-label {
            padding-top: $base-spacing;
        }

        p {
            max-width: 700px;
        }

        img.postcard-image {
            border: 1px solid rgba(0,0,0,.1);
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
        }

        .map {
            width: 100%;
            max-width: 700px;
            height: 300px;
        }
    }

    .tabs-menu {
        margin-right: -$sm-spacing;
        margin-left: -$sm-spacing;
    }

    &[role="article"] {

        .postcard-title {
            font-size: 20px;
            font-size: 1.428571429rem;
            padding-right: $huge-spacing+$tiny-spacing;
            margin-bottom: $sm-spacing;

            @include media($medium) {
                font-size: 24px;
                font-size: 1.714285714rem;
                margin-top: $tiny-spacing;
                margin-bottom: $base-spacing;

                .post-band {
                    left: -$base-spacing;
                }
            }
        }

        .postcard-body {
            padding: $base-spacing;
        }

        .postcard-field {

            .form-label {
                border-top: $base-border;
            }
        }

        .postcard-actions-trigger {
            background-color: $color-primary;

            @include media($medium) {
                top: $lg-spacing;
                right: $base-spacing;
            }
        }
    }
}

.postcard-metadata {
    display: block;
    font-size: 12px;
}

.postcard-author {
    color: $color-dark-alpha;
    font-weight: $bold;

    .avatar {
        display: inline;
        float: left;
        width: 20px;
        height: 20px;
        margin-top: -5px;
        margin-right: 5px;

        &:hover {
            border-color: rgba(0,0,0,.24);
        }
    }
}
