.postcard {
    position: relative;
    @extend .card;
    max-width: 575px;

    .post-band {
        @include radius(2px, 0, 0, 2px);
    }

    .listing-item-select {
        position: absolute;
        top: $sm-spacing + 2;
        left: $sm-spacing;
        margin-top: 3px;

        + .postcard-body {
            padding-right: $base-spacing;
            padding-left: $huge-spacing;
        }

        .status-indicator {
            display: block;
            margin-left: -1px;
        }

        input[type="checkbox"] {
            margin-bottom: 13px;
        }
    }

    .postcard-body {
        @include clearfix;
        padding: $sm-spacing;

        .postcard-header {
            float: left;
            width: 75%;
        }

        .postcard-actions {
            float: right;
            margin-top: -$tiny-spacing;
            margin-right: -$tiny-spacing;
        }

        > .postcard-field {

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .postcard-overflow {
        display: none;
    }

    .postcard-actions-trigger {
        display: inline-block;
        width: $sm-spacing;
        height: $sm-spacing;
        font-size: 12px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $color-primary;
        padding: 0;
        margin: $tiny-spacing $sm-spacing;
        margin-right: $tiny-spacing;

        &:hover {
            cursor: pointer;
        }

        svg.iconic {
            fill: $white;
            margin-top: 4px;
            @include transition(0.3s);
        }

        &.active {
            z-index: $dropdown+1;
            font-weight: $bold;
            background-color: $color-dark-alpha;

            svg.iconic {
                margin-top: 2px;
                @include transform(rotate(180deg));
            }
        }

        + .dropdown-menu {
            top: $lg-spacing !important;
        }

    }

    .dropdown-menu {
        top: 4px !important;
        right: 4px !important;
        left: auto !important;
    }

    .postcard-title {
        position: relative;
        color: $color-dark-alpha;
        @include typeGamma;
        margin-bottom: 10px;

        .post-band {
            left: -$sm-spacing;
        }
    }

    .postcard-image {
        position: absolute;
        top: $sm-spacing;
        left: $sm-spacing;
        width: $huge-spacing;

        + .postcard-title {
            padding-left: 56px;
            margin-right: 0;

            + .metadata {
                padding-left: 56px;
            }
        }
    }

    .postcard-task-title {
        color: $color-dark-gamma;
        @include typeGamma;
        font-weight: $bold;
    }

    .postcard-tasks {
        position: relative;

        ul {
            @extend .list-reset;
        }
    }

    .metadata {
        margin-bottom: $tiny-spacing;
    }

    .postcard-title,
    .metadata-author {

        .avatar {
            width: 20px;
            height: 20px;

            &:hover {
                border-color: rgba(0,0,0,.24);
            }
        }
    }

    .postcard-field {
        clear: both;
        margin-top: $sm-spacing;

        .form-label {
            padding-top: $base-spacing;
            margin-bottom: $sm-spacing;
        }

        p {
            max-width: 700px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img.postcard-image {
            position: static;
            max-width: 100%;
            width: auto;
            border: 1px solid rgba(0,0,0,.1);
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
        }

        .metadata {
            margin-top: $tiny-spacing;
        }

        .map {
            width: 100%;
            max-width: 700px;
            height: 300px;
            border: 1px solid $color-light-beta;
        }

        &.task {
            @include equal-radius;
            border: 1px solid $color-light-beta;
            background-color: $color-light-gamma;
            padding: $sm-spacing;

            .metadata {
                margin-bottom: 0;
            }
        }
    }

    .postcard-actions {
        position: relative;

        .button-flat {
            @include no-shadow;
        }
    }

    .tabs-menu {
        clear: both;
        margin-right: -$sm-spacing;
        margin-left: -$sm-spacing;
    }

    &[role="article"] {
        max-width: none;

        .postcard-title {
            font-size: 20px;
            font-size: 1.428571429rem;
            margin-bottom: $sm-spacing;

            @include media($medium) {
                font-size: 24px;
                font-size: 1.714285714rem;
            }
        }

        .listing-item-select {
            top: $base-spacing;

            @include media($mobile) {
                left: 5%;
                margin-left: -6px;
            }

            @include media($medium) {
                top: $base-spacing + 4;
            }

            @include media($xlarge) {
                left: 20%;
                margin-left: -$huge-spacing;
            }

            .status-indicator {
                width: 18px;
                height: 18px;

                svg.iconic {
                    width: 12px;
                    height: 12px;
                }

                @include media($small) {
                    width: 20px;
                    height: 20px;
                    padding: 1.5px;
                    margin-left: -2px;

                    svg.iconic {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }

        .postcard-body {
            padding-top: $base-spacing;
            padding-bottom: $base-spacing;

            @include media($mobile) {
                padding-right: 10%;
                padding-left: 10%;
            }

            @include media($xlarge) {
                padding-right: 20%;
                padding-left: 20%;
            }
        }

        .postcard-field {
            margin-top: $huge-spacing;
            margin-bottom: $huge-spacing;

            @include media($medium) {
                margin-top: 64px;
                margin-bottom: 64px;
            }

            .form-label {
                border-top: $base-border;
            }

            &:first-child {

                .form-label {
                    border-top: none;
                }
            }
        }

        .postcard-actions {
            margin-top: 0;
        }

        .tabs-menu {

            @include media($medium) {
                margin-right: -$base-spacing;
                margin-left: -$base-spacing;
            }
        }
    }

    .map & {

        .listing-item-select {

            input[type="checkbox"] {
                display: none;
            }
        }

        .postcard-body {
/*
            max-height: 240px;
            overflow-y: hidden;
*/
            .postcard-overflow {
                display: block;
                position: absolute;
                z-index: $body;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
                padding: $tiny-spacing;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: $white;
                    -webkit-filter: blur(10px);
                    -moz-filter: blur(10px);
                    -o-filter: blur(10px);
                    -ms-filter: blur(10px);
                    filter: blur(10px);
                    opacity: 0.85;
                }

                button,
                .button {

                    &.button-plain {
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}
