// These styles extend from the embedded post

.post-popup {
    @extend .embedded-post;
    max-width: 250px;
    float: left;
    border: 0;
    @include box-shadow($top: 0px, $left: 0, $blur: 7px, $spread: 2px, $color: rgba(0,0,0,.1), $inset: false);
    @include text-align(left);
    
    @include media($small) {
        max-width: 400px;
    }

    p {
        display: none;

        @include media($small) {
            display: block;
        }

    }

    .toggle-content {

        @include media($small) {
            display: block;
        }

    }

}
