.post-popup {
    padding: $base-spacing;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    @include box-shadow($top: 0px, $left: 0, $blur: 7px, $spread: 2px, $color: rgba(0,0,0,.1), $inset: false);
    max-width: 400px;
    position: relative;
    overflow: hidden;

    .actions {
        border-top: $base-border;
        padding-top: $base-spacing;
        margin-top: $base-spacing;

        button {
            margin-right: $tiny-spacing;
            font-size: em(15);
        }

    }

    &:after {
         content: ' ';
         //border: 25px solid transparent; /* arrow size */
         //border-top-color: $white;  /* arrow color */
         border: 15px solid black;
         border-color: transparent transparent $white $white;
         position: absolute;
         bottom: -30px;
         left: 50%;
         margin-left: -15px;
         transform-origin: 0 0;
        transform: rotate(-45deg);
        @include box-shadow($top: 3px, $left: -3px, $blur: 5px, $spread: 0px, $color: rgba(0,0,0,.08), $inset: false);
    }

    &.has-image {
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        z-index: $bottom;
        @include box-shadow($top: 150px, $left: 0, $blur: 100px, $spread: 0px, $color: rgba(0,0,0,1), $inset: true);
        text-shadow: 0px 1px 0px $black;

        &:after {
            border-color: transparent transparent $black $black;
        }

        a {
            color: $link-color-lt;

            &:hover{
                color: $link-color-dark-bg-hover;
            }

        }

        img {
            opacity: .3;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            z-index: $below;
        }

        .meta-data, p {
            color: $white;
        }

        .actions {
            border-top: 1px solid $black;
        }

    }

}
