.postcard {
    position: relative;
    @extend .card;

    .post-band {
        @include radius(2px, 0, 0, 2px);
    }

    .listing-item-select {
        position: absolute;
        top: $sm-spacing;
        left: $sm-spacing;

        + .postcard-body {
            padding-right: $base-spacing;
            padding-left: $huge-spacing;
        }

        .status-indicator {
            display: block;
            width: 16px;
            height: 16px;
            text-align: center;
            margin: 2px auto;
            margin-left: -1px;

            svg.iconic {
                width: 10px;
                height: 10px;
            }

            &.empty {

                svg.iconic {

                }
            }
        }

        input[type="checkbox"] {

            + .status-indicator {
                margin-top: 13px;
            }
        }
    }

    .postcard-body {
        @include clearfix;
        padding: $sm-spacing;

        .postcard-header {
            float: left;
            width: 75%;
        }

        .postcard-tasks {
            clear: both;

            @include media($small) {
                float: left;
                clear: none;
                width: 50%;

                + .postcard-header {
                    float: right;
                    width: 50%;
                }
            }
        }

        .postcard-actions {
            float: right;
            margin-top: -$tiny-spacing;
            margin-right: -$tiny-spacing;
        }
    }

    .postcard-actions-trigger {
        display: inline-block;
        width: $sm-spacing;
        height: $sm-spacing;
        font-size: 12px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $color-primary;
        padding: 0;
        margin: $tiny-spacing $sm-spacing;
        margin-right: $tiny-spacing;

        &:hover {
            cursor: pointer;
        }

        svg.iconic {
            fill: $white;
            margin-top: 4px;
            @include transition(0.3s);
        }

        &.active {
            z-index: $dropdown+1;
            font-weight: $bold;
            background-color: $color-dark-alpha;

            svg.iconic {
                margin-top: 2px;
                @include transform(rotate(180deg));
            }
        }

        + .dropdown-menu {
            top: $lg-spacing !important;
        }

    }

    .dropdown-menu {
        top: 4px !important;
        right: 4px !important;
        left: auto !important;
    }

    .postcard-title {
        position: relative;
        color: $color-dark-alpha;
        @include typeGamma;
        margin-bottom: 10px;

        .post-band {
            left: -$sm-spacing;
        }
    }

    .postcard-image {
        position: absolute;
        top: $sm-spacing;
        left: $sm-spacing;
        width: $huge-spacing;

        + .postcard-title {
            padding-left: 56px;
            margin-right: 0;

            + .metadata {
                padding-left: 56px;
            }
        }
    }

    .postcard-task-title {
        color: $color-dark-gamma;
        @include typeGamma;
        font-weight: $bold;
    }

    .postcard-tasks {
        position: relative;

        ul {
            @extend .list-reset;
        }
    }

    .metadata {
        margin-bottom: $sm-spacing;
    }

    .postcard-title,
    .metadata-author {

        .avatar {
            width: 20px;
            height: 20px;

            &:hover {
                border-color: rgba(0,0,0,.24);
            }
        }
    }

    .postcard-field {
        clear: both;
        margin: $sm-spacing 0;

        &:last-child {
            margin-bottom: 0;
        }

        .form-label {
            padding-top: $base-spacing;
        }

        p {
            max-width: 700px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img.postcard-image {
            position: static;
            max-width: 100%;
            width: auto;
            border: 1px solid rgba(0,0,0,.1);
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
        }

        .metadata {
            margin-top: $tiny-spacing;
        }

        .map {
            width: 100%;
            max-width: 700px;
            height: 300px;
            border: 1px solid $color-light-beta;
        }

        &.task {
            @include equal-radius;
            border: 1px solid $color-light-beta;
            background-color: $color-light-gamma;
            padding: $sm-spacing;

            .metadata {
                margin-bottom: 0;
            }
        }
    }

    .postcard-actions {
        /*
        position: absolute;
        top: $tiny-spacing;
        right: $tiny-spacing;
        z-index: $body;
        */

        .button-flat {
            @include no-shadow;
        }
    }

    .tabs-menu {
        clear: both;
        margin-right: -$sm-spacing;
        margin-left: -$sm-spacing;
    }

    &[role="article"] {

        .postcard-title {
            font-size: 20px;
            font-size: 1.428571429rem;
            margin-bottom: $sm-spacing;

            @include media($medium) {
                font-size: 24px;
                font-size: 1.714285714rem;
                margin-top: $tiny-spacing;
                margin-bottom: $base-spacing;
            }
        }

        .listing-item-select {

            @include media($medium) {
                top: $base-spacing;
            }

            .status-indicator {
                width: 18px;
                height: 18px;

                svg.iconic {
                    width: 12px;
                    height: 12px;
                }

                @include media($small) {
                    width: 20px;
                    height: 20px;
                    padding: 1.5px;
                    margin-left: -2px;

                    svg.iconic {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }

        .postcard-field {

            .form-label {
                border-top: $base-border;
            }

            &:first-child {

                .form-label {
                    border-top: none;
                }
            }
        }

        .postcard-actions {
            margin-top: 0;
        }

        .tabs-menu {

            @include media($medium) {
                margin-right: -$base-spacing;
                margin-left: -$base-spacing;
            }
        }
    }
}
