.postcard {
    position: relative;
    @include containerCard;
    // max-width: 575px;
    display: block;

    &:hover {
            cursor: pointer;
        }
    .post-band {
        @include radius(2px, 0, 0, 2px);
        }

    .listing-item-select {
        position: absolute;
        top: $sm-spacing + 2;
        @include left($sm-spacing);

        + .postcard-body {
            @include padding-right($base-spacing);
            @include padding-left($huge-spacing);
        }

        .status-indicator {
            display: block;
            @include margin-left(-1px);
        }

        input[type="checkbox"] {
            margin-bottom: 13px;
        }
    }

    .postcard-body {
        @include clearfix;
        padding: $sm-spacing;
        padding-bottom: 0;

        .postcard-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;

            .metadata {
                flex-shrink: 1;
            }

            @if $rtl {
                .postcard-title {
                    order: 2;
                }
            }

            .postcard-actions {
                flex-shrink: 0;
            }
        }

        .postcard-actions {
            margin-top: -$tiny-spacing;
            @include margin-right(-$tiny-spacing);
        }

        > .postcard-field {

            &:first-child {
                margin-top: 0;
            }
        }

        .form-sheet-title {

            @include media($small) {
                margin-top: $sm-spacing;
            }

            @include media($medium) {
                margin-top: $base-spacing;
            }
        }

        @if $rtl {
            .postcard-header .metadata{
                order: 2;
            }
        }
    }

    .dropdown-menu {
        display: none;

        &.active {
            display: block;
        }
    }

    .postcard-id {
        display: inline-block;
        position: relative;
        @include equal-radius($sm-spacing);
        // background-color: $color-primary-zeta;
        box-shadow: 0 0 0 1px $color-primary-zeta;
        @include transition(0.3s);

        &:hover {
            background-color: $color-light-gamma;
        }

        .status-indicator {
            position: absolute;
            z-index: $body;
            top: 0;
            @include right(auto);
            @include left(0);
            vertical-align: middle;
            margin: 2px;
            @include transition(0.3s);

            + .label {
                @include margin-left($base-spacing);
            }
        }

        .label {
            vertical-align: middle;
            margin: 4px $tiny-spacing;
        }
    }

    .postcard-title {
        clear: both;
        color: $color-dark-alpha;
        font-weight: 600;
        font-size: 20px;
        font-size: 1.428571429rem;
        line-height: 1.125;
        @include direction;

        .postcard-field {
            line-height: 1.125;
        }

        .postcard-id {
            margin-top: -3px;
            @include margin-right(4px);
        }

        .post-band {
            @include left(-$sm-spacing);
        }
    }

    .postcard-image {
        position: absolute;
        top: $sm-spacing;
        @include left(-$sm-spacing);
        width: $huge-spacing;

        + .postcard-title {
            @include padding-left(56px);
            @include margin-right(0);

            + .metadata {
                @include padding-left(56px);
            }
        }
    }

    .metadata {
        margin: 5px 0 10px;
        @include direction;
    }

    .postcard-title,
    .metadata-author {

        .avatar {
            width: 20px;
            height: 20px;

            &:hover {
                border-color: rgba(0,0,0,.24);
            }
        }
    }

    .postcard-field {
        position: relative;
        clear: both;
        line-height: 1.357142857;
        margin-bottom: $sm-spacing;

        .form-label {
            display: none;
            padding-top: $base-spacing;
            margin-bottom: $sm-spacing;
        }

        p {
            max-width: 700px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img.postcard-image {
            position: static;
            width: 100%;
            border: 1px solid rgba(0,0,0,.1);
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
        }

        .metadata {
            margin-top: $tiny-spacing;
        }

        .map {
            display: inline-block;
            width: 100%;
            max-width: 700px;
            height: 300px;
            border: 1px solid $color-light-beta;
        }

        .postcard-placeholder {
            display: block;
            border: 1px solid $color-light-gamma;
            @include equal-radius;
            padding: $tiny-spacing;

            select {
                display: block;
                width: 100%;
            }
        }

        .dropdown-trigger {
            padding: 0;
            @include padding-right($sm-spacing + 4);

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                @include right(4px);
                width: 7px;
                height: 7px;
                background: transparent;
                border-top: 2.5px solid $color-light-alpha;
                @include border-right(2.5px solid $color-light-alpha);
                margin-top: -6px;
                @include transform(rotate(135deg));
            }

            &:hover {
                color: $color-primary-beta;
            }
        }

        .dropdown-menu {
            top: 4px !important;
            @include right(4px !important);
            @include left(auto !important);
        }
    }

    .postcard-tasks {

        @include media($medium) {
            @include padding-left($base-spacing);
        }

        .postcard-tasks-title {
            position: relative;
            z-index: $body;
            margin-bottom: $sm-spacing;

            @include media($medium) {
                @include margin-left(-$base-spacing);
            }
        }

        .task {
            @include equal-radius;
            border: 1px solid $color-light-beta;
            background-color: $color-light-gamma;
            padding: $sm-spacing;

            &:before,
            &:after {
                content: '';
                visibility: visible;
                position: absolute;
                z-index: 0;
                width: 2px;
                background-color: $color-light-beta;
            }

            &:before {
                bottom: 100%;
                @include left($tiny-spacing + 3);
                height: $sm-spacing + 1;

                @include media($medium) {
                    position: absolute;
                    z-index: $body;
                    top: -$sm-spacing - 1;
                    bottom: -1px;
                    @include left(-$sm-spacing + 3);
                    width: 1px;
                    height: auto;
                }
            }

            &:after {
                content: none;

                @include media($medium) {
                    content: '';
                    top: $base-spacing;
                    @include left(-$sm-spacing + 3);
                    width: $sm-spacing - 3;
                    height: 1px;
                    background-color: $color-light-beta;
                }
            }

            &:last-of-type {

                &:before {

                    @include media($medium) {
                        bottom: auto;
                        height: 42px;
                    }
                }
            }
        }
    }

    .postcard-actions {
        position: relative;

        .button-flat {
            @include no-shadow;
        }

        .dropdown-menu {
            top: 4px !important;
            @include right(4px !important);
            @include left(auto !important);
        }
    }

    .tabs-menu {
        clear: both;
        margin-right: -$sm-spacing;
        margin-left: -$sm-spacing;
    }

    &[role="article"] {
        max-width: none;

        .postcard-title {
            font-size: 20px;
            font-size: 1.428571429rem;
            margin-bottom: $sm-spacing;

            @include media($medium) {
                font-size: 24px;
                font-size: 1.714285714rem;
            }
        }

        .listing-item-select {
            top: $base-spacing;

            @include media($mobile) {
                @include left(5%);
                @include margin-left(-6px);
            }

            @include media($medium) {
                top: $base-spacing + 4;
            }

            @include media($xlarge) {
                @include left(20%);
                @include margin-left(-$huge-spacing);
            }

            .status-indicator {
                width: 18px;
                height: 18px;

                svg.iconic {
                    width: 12px;
                    height: 12px;
                }

                @include media($small) {
                    width: 20px;
                    height: 20px;
                    padding: 1.5px;
                    @include margin-left(-2px);

                    svg.iconic {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }

        .postcard-header {

            + .postcard-field {
                margin-top: $tiny-spacing;
            }
        }

        .postcard-body {
            padding-top: $base-spacing;
            padding-bottom: $base-spacing;

            @include media($mobile) {
                padding-right: 10%;
                padding-left: 10%;
            }

            @include media($xlarge) {
                padding-right: 20%;
                padding-left: 20%;
            }
        }

        .postcard-field {
            margin-top: $huge-spacing;
            margin-bottom: $huge-spacing;

            @include media($medium) {
                margin-top: 64px;
                margin-bottom: 64px;
            }

            .form-label {
                display: block;
                border-top: $base-border;
            }
        }

        .tabs-menu {

            @include media($medium) {
                margin-right: -$base-spacing;
                margin-left: -$base-spacing;
            }
        }
    }

    .postcard-overflow {

        .postcard-field {

            &.checkboxes,
            &.radio,
            &.select {

                .form-label {
                    display: block;
                    padding-top: 0;
                    margin-bottom: $tiny-spacing;
                }
            }
        }
    }

    .postcard-overflow-bookend {
        display: none;
    }

    // DEPRECATE IN FAVOR OF SERVER-SIDE LOGIC FOR RENDERING THIS CONTENT
    .map & {

        .listing-item-select {

            input[type="checkbox"] {
                display: none;
            }
        }

        .postcard-overflow {
            position: relative;
            max-height: 250px;
            // overflow-y: hidden;
            overflow-y: scroll;

            + .postcard-overflow-bookend {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                text-align: center;
                @include vert-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
                padding: $tiny-spacing;

                button,
                .button {
                    display: none;
                    position: relative;
                    z-index: 1;
                    font-weight: 800;
                    margin: 0 auto;
                }
            }
        }
    }
}
