.post-summary {

    h3 {
        margin: $sm-spacing 0;
    }

    .meta-data {

        @include media($small) {
            @include float(left);
            @include margin-right($base-spacing);
        }

    }

    .categories-list-inline {
        margin-top: 10px;
    }

    .category {
        @include float(left);
    }

    .post-img {
        @include lrswap(padding, $tiny-spacing $sm-spacing $tiny-spacing 0);
        @include float(left);
        width: 25%;

        @include media($small) {
            @include lrswap(padding, 0 $base-spacing $base-spacing 0);
            margin-top: -$base-spacing;
        }

        @include media($medium) {
            @include lrswap(padding, 0 $lg-spacing $base-spacing 0);
        }

    }

    &.has-img {

        @include media($small) {

            .meta-data {
                @include margin-left(25%);
            }

        }

    }

}
