.post-popup {
    float: left;
    padding: $base-spacing;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    @include box-shadow($top: 0px, $left: 0, $blur: 7px, $spread: 2px, $color: rgba(0,0,0,.1), $inset: false);
    max-width: 250px;
    position: relative;
    overflow: visible;
    background: $white;

    @include media($small) {
        max-width: 400px;
    }

    p {
        display: none;

        @include media($small) {
            display: block;
        }

    }

    .actions-inline {
        padding: $base-spacing 0 0;

        @include media($small) {
            border-top: $base-border;
            padding: 0;
        }

    }

    .button-hide {

        @include media($small) {
            display: none;
        }

    }

    .actions-inline {

        + .toggle-content {
            padding: $base-spacing 0 0;

            @include media($small) {
                display: block;
                border: none;
            }

            li {
                float: none;

                @include media($small) {
                    float: left;
                }

                a {
                    color: $black;
                }

            }

        }

        + .toggle-content .toggle-content-secondary {

            li {
                float: none;

                a {
                    color: $link-color;
                    text-shadow: none;
                }

            }

        }

    }

    &.has-image {
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        z-index: $bottom;
        @include box-shadow($top: 150px, $left: 0, $blur: 100px, $spread: 0px, $color: rgba(0,0,0,1), $inset: true);
        text-shadow: 0px 1px 0px $black;

        &:after {
            border-color: transparent transparent $black $black;
        }

        a {
            color: $link-color-lt;

            &:hover{
                color: $link-color-dark-bg-hover;
            }

        }

        img {
            opacity: .3;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
            z-index: $below;
        }

        .meta-data, p {
            color: $white;
        }

        .actions {
            border-top: 1px solid $black;
        }

    }

}
