.postcard {
    position: relative;
    @extend .card;

    .post-band {
        @include radius(2px, 0, 0, 2px);
    }

    .listing-item-select {
        position: absolute;
        top: $sm-spacing;
        left: $sm-spacing;

        + .postcard-body {
            padding-left: $huge-spacing;
        }

    }

    .postcard-body {
        @include lrswap(padding, $sm-spacing*2 $sm-spacing $sm-spacing $sm-spacing)
    }

    .postcard-actions-trigger {
        display: inline-block;
        position: absolute;
        top: $sm-spacing*2;
        right: $sm-spacing;
        width: $sm-spacing;
        height: $sm-spacing;
        font-size: 12px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $color-light-beta;
        @include transition(0.3s);

        &:hover {
            cursor: pointer;
        }

        svg.iconic {
            fill: $white;
            margin-top: 4px;
        }

        &.active {
            background-color: $color-dark-beta;
            @include transform(rotate(180deg));
        }

    }

    .dropdown-menu {
        top: $huge-spacing+10 !important;
        right: $sm-spacing !important;
    }

    .postcard-title {
        color: $color-dark-alpha;
        @include typeGamma;
        margin-bottom: $tiny-spacing;
    }

    .postcard-metadata {
        font-size: 12px;
    }

    .postcard-author {
        color: $color-dark-alpha;
        font-weight: $bold;

        .avatar {
            display: inline;
            float: left;
            width: 20px;
            height: 20px;
            margin-top: -3px;
            margin-right: $tiny-spacing/2;

            &:hover {
                border-color: rgba(0,0,0,.24);
            }

        }

    }

    .postcard-image {
        margin: $sm-spacing 0 0 0;

        img {
            border: 1px solid rgba(0,0,0,.1);
            box-shadow: 0 1px 1px rgba(0,0,0,.1);
        }

    }

}
