.post-list-actions {
    padding: $sm-spacing $base-spacing;
    border-top: $base-border;
    border-right: $base-border;
    border-left: $base-border;
    overflow: auto;

    .bulk-actions {
        float: right;
    }

    .cta {
        float: left;
        padding-top: $sm-spacing;
    }

    button {
        margin-left: $sm-spacing;
    }

}
