.single-post-listing {
    @include clearfix;
    //@extend .zebra-list-alt;
    background: $white;
    border: $base-border;
    clear: both;
    //overflow:hidden;
    _overflow:visible;
    zoom:1;
    margin: $sm-spacing 0;

    @include media($small) {
        border-left: $base-border;
        border-right: $base-border;
        border-bottom: $base-border;
        margin: 0 0 $base-spacing;
    }

    @include media($large) {
    }

    .post-summary {
        padding: $sm-spacing;

        @include media($small) {
            padding: $base-spacing;
            @include border-left($base-border);
        }

        @include media($large) {
           @include border-right($base-border);
           width: 75%;
           @include float(left);
           min-height: 224px;
        }

    }

    .post-summary, .step-and-actions {

        @include media($large) {
            @include margin-left(0);
        }

    }

}

.single-post-listing.incomplete {

    h3:after {
        content:'Structure Incomplete';
        background: rgba(0,0,0,.025);
        padding: 3px 5px;
        @include margin-left(7px);
        border: $base-border;
        display: inline;
        font-size: 14px;
        color: $mid-black;
        font-weight: 300;
    }

    /*.post-text p, .meta-data, li.category*/ h3 {
        color: $dk-gray;
    }

}

.select-post {
    @include float(left);
    margin: 0;
    padding: 10px;
    @include border-box;
    border-bottom: $base-border;
    @include border-right($base-border);
    @include margin-right($tiny-spacing);
    margin-bottom: $sm-spacing;
    background: $white;

    input {
        margin: 0;
    }

    @include media($small) {
        border-bottom: 0;
        @include border-right(0);
        background: transparent;
    }

    @include media($large) {
        padding: 10px 7px;
        @include margin-right(0);
    }

}

.step-and-actions {
    @include clearfix;
    border-top: $base-border;

    @include media($large) {
       width: 22%;
       @include float(left);
       border-top: 0px;
    }

    .step {
        @include float(left);
        width: 50%;
        @include border-right($base-border);
        padding: $base-spacing;
        margin-right: $base-spacing;

        @include media($large) {
            width: 100%;
            clear: both;
            border-left: 0;
            border-bottom: $base-border;
            border-right: 0;
            padding: $base-spacing;
        }

        .delta-alt, p {
            margin: $tiny-spacing 0;
        }

    }

    .actions-toggle {
        padding: $base-spacing;

        @include media($large) {
            clear: both;
            padding: 0;
        }

        .actions-content {
            width: 100%;
            border-top: $base-border;
            padding: $base-spacing 0 $sm-spacing;

            @include media($small) {
                clear: none;
                width: auto;
                border: none;
                padding: 0;
            }

            @include media($large) {
                padding: $base-spacing;
            }

        }
    }

}
