.searchbar {
    @include clearfix;
    position: relative;

    .searchbar-input {
        margin: 0;

        input[type="search"] {
            max-width: none;
            height: 36px;
            margin: 0;
        }
    }

    .searchbar-options {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        .button {
            float: left;
            height: 36px;
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
            @include equal-radius($radius: 0);
            padding-top: 10px;
            padding-bottom: 10px;

            &:first-of-type {
                @include radius($top-left: 2px, $top-right: 0px, $bottom-right: 0px, $bottom-left: 2px);
            }

            &:last-of-type {
                @include radius($top-left: 0px, $top-right: 2px, $bottom-right: 2px, $bottom-left: 0px);
            }

            &.active {
                color: $color-primary-alpha;
                background-color: $color-light-delta;

                svg.iconic {
                    fill: $color-primary-alpha;
                }
            }

            &.searchbar-options-filter {

                svg.iconic {

                    @include media($small) {
                        display: none;
                    }
                }

                .button-label {
                    display: none;

                    @include media($small) {
                        display: inline-block;
                        margin-left: 0;
                    }

                    + svg.iconic {
                        display: none;

                        @include media($small) {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu {
        top: 100% !important;
        right: 0 !important;
        left: 0 !important;
    }

    .dropdown-menu {

        fieldset {
            margin-bottom: $base-spacing;

            @include media($medium) {
                border-bottom: 1px solid $color-light-gamma;
                padding-top: 0;
                padding-left: 25%;
                margin: $sm-spacing;

                &:first-child {
                    margin-top: $base-spacing;
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: $base-spacing;
                }
            }

            legend {

                @include media($medium) {
                    width: 23%;
                    padding-right: 2%;
                }
            }

            .form-field {

                @include media($medium) {
                    float: left;
                    width: 32%;
                    padding-right: 1%;
                    margin-bottom: $sm-spacing !important;
                }
            }
        }

        .form-field {

            &.checkbox,
            &.radio {

                label {
                    font-size: 12px;
                    font-size: .857142857rem;
                }
            }
        }
    }

}
