.searchbar {
    @include clearfix;
    position: relative;

    .searchbar-input {

        .form-field {
            margin: 0;

            .input-with-ghost {
                position: relative;
                z-index: 500; // revisit
                max-width: 270px;
                @include equal-radius;
                background-color: $white;

                input[type="search"] {
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    box-sizing: border-box;
                    width: 100%;
                    overflow: hidden;
                    text-rendering: optimizeSpeed;
                    outline: 0;
                    direction: ltr;
                    line-height: normal;
                    vertical-align: middle;
                    padding: 0;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    &.active {
                        color: $color-dark-beta;
                        background-color: transparent !important;
                    }
                }

                .input-ghost {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: 0;
                    left: 0;
                    box-sizing: border-box;
                    width: 264px;
                    overflow: hidden;
                    color: transparent;
                    line-height: 36px;
                    word-spacing: 0px;
                    white-space: pre;
                    -webkit-user-select: none;

                    outline: rgb(85, 84, 89) none 0px;
                    margin: 1px 6px;
/*
                    padding: 11px 4px;
                    padding-left: 24px;
*/
                    &.active {

                        + svg.iconic {
                            fill: $color-primary;
                        }
                    }

                    mark {
                        position: relative;
                        z-index: 10;
                        color: transparent;
                        background-color: transparent;

                        &:before {
                            content: '';
                            display: block;
                            box-sizing: border-box;
                            position: absolute;
                            z-index: -1;
                            top: -1px;
                            right: 0;
                            bottom: -1px;
                            left: 0;
                            @include equal-radius;
                        }
                    }

                    .modifier {

                        &:before {
                            box-shadow: 0 0 1px rgba(0,0,0,.8);
                            background-color: lighten( $color-secondary, 24% );
                        }
                    }
                }

                &.input-with-icon {

                    .input-ghost {
                        padding-left: 38px;
                    }

                    svg.iconic {
                        z-index: 1;
                    }
                }
            }
        }

        input[type="search"] {
            max-width: none;
            height: 36px;
            margin: 0;
        }

        .dropdown-menu {
            display: none;

            &.active {
                display: block;
            }
        }

        + .searchbar-options {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;

            .button {

                &:first-of-type {
                    @include equal-radius(0px);
                }

                &:last-of-type {
                    @include radius($top-left: 0px, $top-right: 2px, $bottom-right: 2px, $bottom-left: 0px);

                    &.active {
                        @include radius(2px, 2px, 0, 0);
                    }
                }
            }
        }
    }

    .searchbar-results {

        .tool {

            .tool-heading {
                color: $color-dark-delta;
                margin: 0 $sm-spacing;

                svg.iconic {
                    fill: $color-dark-delta;
                }
            }
        }

        .loading {
            width: 100px;
        }

        dl {

            dt.list-item {

                em {
                    color: $color-dark-alpha;
                    font-style: normal;
                    font-weight: $bold;
                }
            }
        }
    }

    .searchbar-options {

        .button {
            float: left;
            height: 36px;
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
            padding-top: 10px;
            padding-bottom: 10px;

            &.active {
                position: relative;
                z-index: $modal;
                color: $color-primary-alpha;
                @include radius(2px, 2px, 0, 0);
                background-color: $color-light-delta;
                @include no-shadow;

                svg.iconic {
                    fill: $color-primary-alpha;
                }
            }

            &.searchbar-options-filter {

                .button-label {
                    display: inline-block;

                    @include media($small) {
                        margin-left: 0;
                    }

                    + svg.iconic {
                        display: none;

                        @include media($small) {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .custom-fieldset {

            .dropdown-menu {

                .form-field {

                    input[type="text"],
                    input[type="email"],
                    input[type="url"],
                    input[type="password"],
                    input[type="search"],
                    input[type="date"],
                    input[type="datetime"] {

                        @include media($medium) {
                            margin-top: 0;
                        }
                    }

                    &.date {

                        svg.iconic {
                            top: 10px;
                        }

                        .date-joiner {

                            @include media($medium) {
                                position: static;
                                margin-top: $tiny-spacing;
                            }
                        }
                    }
                }
            }

            &.init {

                legend {
                    color: $white;
                    background-color: $color-primary;

                    svg.iconic {
                        fill: $color-tertiary;
                    }

                    &.active {
                        color: $color-primary-alpha;
                        background-color: $color-light-delta;

                        svg.iconic {
                            fill: $color-primary-alpha;
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu {
        top: 100% !important;
        right: 0 !important;
        left: 0 !important;

        @include media($mobile) {
            @include radius(0, 0, 2px, 2px);
        }

        fieldset {
            margin-bottom: $base-spacing;

            @include media($medium) {
                border-bottom: 1px solid $color-light-gamma;
                padding-top: 0;
                padding-left: 25%;
                margin-top: $base-spacing !important;
                margin-bottom: $base-spacing !important;

                &:last-child {
                    border-bottom: none;
                }
            }

            legend {

                @include media($medium) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 23%;
                    padding-right: 2%;
                }
            }

            .form-field {

                @include media($medium) {
                    float: left;
                    width: 48%;
                    padding-right: 1%;
                    margin-bottom: $sm-spacing !important;
                }
            }

            .form-field-toggle {
                font-size: 12px;
                font-size: .857142857rem;
                margin-left: 3px;

                @include media($medium) {
                    position: absolute;
                    top: -$tiny-spacing;
                    right: 0;
                    width: 8px;
                    height: 8px;
                    overflow: hidden;

                    svg.iconic {
                        fill: $color-light-alpha;
                        margin-right: 0;
                    }
/*
                    @include iconic(before, chevron-bottom, $color-light-alpha, 8px) {
                        margin-right: 0;
                    }*/
                }
            }
        }

        .form-field {
/*
            input[type="text"],
            input[type="email"],
            input[type="url"],
            input[type="password"],
            input[type="search"],
            input[type="date"],
            input[type="datetime"] {
                font-size: 12px;
                font-size: .857142857rem;
            }

            &.checkbox,
            &.radio {

                label {
                    font-size: 12px;
                    font-size: .857142857rem;
                }
            }
*/
            &.date {

                .date-joiner {
                    margin-bottom: 0;

                    @include media($medium) {
                        position: absolute;
                        z-index: $body;
                        top: 50%;
                        right: -12px;
                        margin-top: -10px;
                        margin-left: 0;
                    }
                }
            }
        }

        .input-with-icon {

            svg.iconic {
                top: 11px;
                @include left(13px);
            }
        }
    }

}
