.searchbar {
    @include clearfix;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    @include transition(0.3s);

    .badge {
        background-color: $color-secondary;
        color: $color-dark-beta;
    }
    .bug {
        background-color: $color-primary;
        color: $white;

        .iconic {
        fill: $color-secondary !important;
        }
    }

    .searchbar-input {
        flex: 1;

        @if $rtl {
            order: 2;
        }

        .form-field {
            margin: 0;

            .input-with-ghost {
                position: relative;
                z-index: 500; // revisit
                @include equal-radius;
                background-color: $white;

                input[type="search"] {
                    display: inline-block;
                    position: relative;
                    z-index: 2;

                    &.active {
                        color: $color-dark-beta;
                        background-color: transparent !important;
                    }
                }

                .input-ghost {
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: 0;
                    left: 0;
                    box-sizing: border-box;
                    overflow: hidden;
                    color: transparent;
                    line-height: 36px;
                    word-spacing: 0px;
                    white-space: pre;
                    -webkit-user-select: none;
                    outline: rgb(85, 84, 89) none 0px;
                    @include padding-right($huge-spacing);
                    @include padding-left(2px);
                    margin: 1px $sm-spacing;
                    @include margin-right($tiny-spacing);

                    &.active {

                        + svg.iconic {
                            fill: $color-primary;
                        }
                    }

                    mark {
                        position: relative;
                        z-index: 10;
                        color: transparent;
                        background-color: transparent;

                        &:before {
                            content: '';
                            display: block;
                            box-sizing: border-box;
                            position: absolute;
                            z-index: -1;
                            top: -1px;
                            right: 0;
                            bottom: -1px;
                            left: 0;
                            @include equal-radius;
                        }
                    }

                    .modifier {

                        &:before {
                            box-shadow: 0 0 1px rgba(0,0,0,.8);
                            background-color: lighten( $color-secondary, 24% );
                        }
                    }
                }

                &.input-with-icon {

                    .input-ghost {
                        @include margin-left(37px);
                    }

                    svg.iconic {
                        z-index: 3;
                    }
                }
            }
        }

        input[type="search"] {
            max-width: none;
            height: 36px;
            @include radius(2px, 0, 0, 2px);
            margin: 0;
        }

        .dropdown-menu {
            display: none;

            &.active {
                display: block;
            }
        }

        + .searchbar-options {

            .button {

                &:first-of-type {
                    @include equal-radius(0px);
                }

                &:last-of-type {
                    @include radius($top-left: 0px, $top-right: 2px, $bottom-right: 2px, $bottom-left: 0px);

                    &.active {
                        @include radius(2px, 2px, 0, 0);
                    }
                }
            }
        }
    }

    .searchbar-results {

        .tool {

            .tool-heading {
                color: $color-dark-delta;
                margin: 0 $sm-spacing;

                svg.iconic {
                    fill: $color-dark-delta;
                }
            }
        }

        .loading {
            width: 100px;
        }

        dl {

            dt.list-item {

                em {
                    color: $color-dark-alpha;
                    font-style: normal;
                    font-weight: $bold;
                }
            }
        }
    }

    .searchbar-options {

        button,
        .button {
            @include float(left);
            height: 36px;
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
            padding-top: 10px;
            padding-bottom: 10px;

            &.active {
                position: relative;
                z-index: $modal;
                color: $color-primary-alpha;
                @include radius(2px, 2px, 0, 0);
                background-color: $color-light-delta;
                @include no-shadow;

                svg.iconic {
                    fill: $color-primary-alpha;
                }
            }
        }

        .button-label-d {
            font-weight: bold;
            text-transform: uppercase;
            @include margin-right($tiny-spacing);

            .badge {
                @include margin-right($tiny-spacing);
            }
        }

        .custom-fieldset {
            margin: 0;

            .dropdown-menu {

                .form-field {

                    input[type="text"],
                    input[type="email"],
                    input[type="url"],
                    input[type="password"],
                    input[type="search"],
                    input[type="date"],
                    input[type="datetime"] {

                        @include media($medium) {
                            margin-top: 0;
                        }
                    }

                    &.date {

                        svg.iconic {
                            top: 10px;
                        }

                        .date-joiner {

                            @include media($medium) {
                                position: static;
                                margin-top: $tiny-spacing;
                            }
                        }
                    }
                }
            }

            &.init {

                legend {
                    color: $white;
                    background-color: $color-primary;

                    svg.iconic {
                        fill: $color-tertiary;
                    }

                    &.active {
                        color: $color-primary-alpha;
                        background-color: $color-light-delta;

                        svg.iconic {
                            fill: $color-primary-alpha;
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu {
        top: 100% !important;
        right: 0 !important;
        left: 0 !important;

        @include media($mobile) {
            top: 0px !important;
            z-index: -1;
            padding-top: 36px;
        }

        fieldset {
            margin-bottom: $base-spacing;

            @include media($medium) {
                padding-top: 10px;
                margin-top: $base-spacing !important;
                margin-bottom: $base-spacing !important;

                &:last-child {
                    border-bottom: none;
                }
            }

            legend {
                font-weight: 800;
                font-size: 14px;
                font-size: 1rem;

                @include media($medium) {
                    position: absolute;
                    top: 0;
                    @include left(0);
                    width: 23%;
                    font-weight: 600;
                    @include padding-right(2%);
                }
            }

            .form-field {

                @include media($medium) {
                    width: 48%;
                    @include padding-right(1%);
                    margin-bottom: $sm-spacing !important;
                }

                .custom-select {
                    margin-top: 0;
                }

                &.checkbox,
                &.radio {
                    margin-top: 0px !important;
                    margin-right: 0px !important;
                    margin-left: 0px !important;

                    &.icon-input {
                        padding: 0px 1% 0px 22px !important;
                        margin-bottom: $sm-spacing !important;

                        &.checked {
                            background-color: transparent;
                        }
                    }
                }
            }

            // .form-field-toggle {
            //     @include margin-left(3px);
            //
            //     @include media($medium) {
            //         position: absolute;
            //         top: -$tiny-spacing;
            //         @include right(0);
            //         width: 8px;
            //         height: 8px;
            //         overflow: hidden;
            //
            //         svg.iconic {
            //             fill: $color-light-alpha;
            //             @include margin-right(0);
            //         }
            //     }
            // }
        }

        .form-field {

            &.date {

                .date-joiner {
                    margin-bottom: 0;

                    @include media($medium) {
                        position: absolute;
                        z-index: $body;
                        top: 50%;
                        @include right(-12px);
                        margin-top: -10px;
                        @include margin-left(0);
                    }
                }
            }
        }

        .input-with-icon {

            svg.iconic {
                top: 11px;
                @include left(13px);
            }
        }

        .button-link {
            color: $color-primary;
        }
    }
}
