.searchbar {
    @include clearfix;
    position: relative;

    .searchbar-input {
        margin: 0;

        input[type="search"] {
            max-width: none;
            height: 36px;
            margin: 0;
        }

        + .searchbar-options {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }

    .searchbar-options {

        .button {
            float: left;
            height: 36px;
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
            @include equal-radius($radius: 0);
            padding-top: 10px;
            padding-bottom: 10px;

            &:first-of-type {
                @include radius($top-left: 2px, $top-right: 0px, $bottom-right: 0px, $bottom-left: 2px);
            }

            &:last-of-type {
                @include radius($top-left: 0px, $top-right: 2px, $bottom-right: 2px, $bottom-left: 0px);
            }

            &.active {
                color: $color-primary-alpha;
                background-color: $color-light-delta;

                svg.iconic {
                    fill: $color-primary-alpha;
                }
            }

            &.searchbar-options-filter {

                .button-label {
                    display: inline-block;

                    @include media($small) {
                        margin-left: 0;
                    }

                    + svg.iconic {
                        display: none;

                        @include media($small) {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu {
        top: 100% !important;
        right: 0 !important;
        left: 0 !important;

        fieldset {
            margin-bottom: $base-spacing;

            @include media($medium) {
                border-bottom: 1px solid $color-light-gamma;
                padding-top: 0;
                padding-left: 25%;
                margin-top: $base-spacing !important;
                margin-bottom: $base-spacing !important;

                &:last-child {
                    border-bottom: none;
                }
            }

            legend {

                @include media($medium) {
                    width: 23%;
                    padding-right: 2%;
                }
            }

            .form-field {

                @include media($medium) {
                    float: left;
                    width: 48%;
                    padding-right: 1%;
                    margin-bottom: $sm-spacing !important;
                }
            }

            .form-field-toggle {
                font-size: 12px;
                font-size: .857142857rem;
                margin-left: 3px;

                @include media($medium) {
                    position: absolute;
                    top: -$tiny-spacing;
                    right: 0;
                    width: 8px;
                    height: 8px;
                    overflow: hidden;

                    svg.iconic {
                        fill: $color-light-alpha;
                        margin-right: 0;
                    }
/*
                    @include iconic(before, chevron-bottom, $color-light-alpha, 8px) {
                        margin-right: 0;
                    }*/
                }
            }
        }

        .form-field {

            svg.iconic {

                @include media($medium) {
                    top: 10px;
                }
            }

            input[type="text"],
            input[type="email"],
            input[type="url"],
            input[type="password"],
            input[type="search"],
            input[type="date"],
            input[type="datetime"] {
                font-size: 12px;
                font-size: .857142857rem;

                @include media($medium) {
                    margin-top: -$tiny-spacing;
                }
            }

            &.checkbox,
            &.radio {

                label {
                    font-size: 12px;
                    font-size: .857142857rem;
                }
            }

            &.date {

                svg.iconic {

                    @include media($medium) {
                        top: 3px;
                    }
                }

                input[type="date"],
                input[type="datetime"] {
                    font-size: 16px;
                    font-size: 1.142857143rem;
                }

                .date-joiner {
                    margin-bottom: 0;

                    @include media($medium) {
                        position: absolute;
                        z-index: $body;
                        top: 50%;
                        right: -12px;
                        margin-top: -14px;
                        margin-left: 0;
                    }
                }
            }
        }
    }

}
