.settings-listing {
    @extend .zebra-list-alt;
    padding: $sm-spacing 0;
    position: relative;
    border-right: $base-border;
    border-left: $base-border;

    h3 {
        padding-left: $sm-spacing;
        padding-right: 120px;
        margin: $sm-spacing 0;

        @include media($small) {
            padding-left: $base-spacing;
            margin: $base-spacing 0;
        }
    }

    .upvote-downvote {
        position: absolute;
        top: 2px;
        left: 2px;

        @include media($small) {
            top: $sm-spacing;
            left: $sm-spacing;
        }

    }

    .plus, .toggle-switch {
        position: absolute;
        top: 14px;
        left: 4px;
        padding: 8px 4px 8px 9px;

        @include media($small) {
            top: ($base-spacing + 6px);
            left: $sm-spacing;
        }

    }

    .toggle-switch {
        padding: 0;
    }

    .upvote-downvote + .toggle-switch {
        left: 40px;

        @include media($small) {
            left: 50px;
        }

    }

    .upvote-downvote + h3, .plus + h3 {
        padding-left: 45px; //this last value offsets the title from the upvotes or plus button

        @include media($small) {
            padding-left: ($sm-spacing+45px);
        }

    }

    .toggle-switch + h3 {
        padding-left: 70px; //this last value offsets the title from the upvotes or plus button

        @include media($small) {
            padding-left: ($sm-spacing + 70px);
        }
    }

    .upvote-downvote + .toggle-switch + h3 {
        padding-left: 100px; //this last value offsets the title from the upvotes or plus button

        @include media($small) {
            padding-left: ($sm-spacing + 110px);
        }
    }

    .actions {
        position: absolute;
        right: $sm-spacing;
        top: ($sm-spacing + 4px);

        @include media($small) {
            top: ($base-spacing + 4px);
        }

        button {
            margin-bottom: $sm-spacing;
            margin-left: $tiny-spacing;

            &.open {
                @include icon(before, close);
            }

        }

        .toggle-switch {
            float: right;
            margin-left: $sm-spacing;
        }

    }



    .toggle-switch + button {
        float: left;
    }

    .select-listing {
        float: left;

        input {
            margin: $base-spacing $sm-spacing 0 $sm-spacing;

            @include media($mobile) {
                margin: $base-spacing ($sm-spacing + 4px) 0 ($sm-spacing + 4px);
            }

            @include media($medium) {
                margin: ($base-spacing + 14px) ($sm-spacing + 4px) 0 ($sm-spacing + 4px);
            }

        }

    }

    .user {
        float: left;

        @include media($medium) {
            width: 80%;
            margin: 0;
        }

        img {
            display: block;
            width: 30px;
            float: left;
            margin: 10px 0 5px;

            @include media($mobile) {
                width: 50px;
                margin: 5px 0 -15px;
            }

            @include media($medium) {
                width: 70px;
                margin: 5px $tiny-spacing 5px $sm-spacing;
            }

        }

        h3 {
            margin-bottom: $sm-spacing;
            float: left;

            @include media($mobile) {
                margin-top: $sm-spacing;
            }

            @include media($medium) {
                margin-top: ($base-spacing + 7px);
            }

        }

    }

    .user-type {
        clear: both;
        color: $dk-gray;
        margin-left: 74px;
        margin-top: 0;

        @include media($mobile) {
            margin-left: 102px;
        }

        @include media($medium) {
            float: right;
            width: 20%;
            margin-top: -65px;
        }
    }

    form, .form {
        clear: both;
        padding: 0 0 $base-spacing $sm-spacing;
        border-top: $base-border;
        margin-top: $base-spacing;

        @include media($small) {
            padding: $tiny-spacing 0 $base-spacing $base-spacing;
            margin-top: ($base-spacing + 14px);
        }

        .select-inline {
            @include media($mobile) {
                float: left;
                margin: -$base-spacing $base-spacing $base-spacing 0;
            }
        }

        .button-primary {
            margin-top: $base-spacing;
        }

    }

    .edit {
        padding: 8px 12px;
    }

}
