.stage-list {
    margin-top: -$sm-spacing;
    padding: $sm-spacing 0;
    
    @include media($small) {
        padding: $sm-spacing;
        margin-left: -10px;
        border: 0px;
        display: block;
    }

    button.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .toggle-content {
        border: $base-border;
        padding: 0 $sm-spacing;
        margin-top: -1px;
        display: none;

        @include media($small) {
           display: block;
           border: none;
           position: relative;
           padding-left: $base-spacing;
        }

        ul {
            margin: -$base-spacing 0; //override styles from toggle-content

            @include media($small) {
                margin: 0
            }

        }

    }

    li {
        padding: $base-spacing $sm-spacing; 
        border-bottom: $base-border;

        &:last-child {
            border-bottom: 0;
        }

        @include media($small) { 
            padding: $base-spacing 0;
        }
    }

    p {
        margin: 0;
    }

    h4 {
        margin-top: 0;
    }

    h6 {
        margin: 0;
    }

    p.small {
        color: $black;
    }

    .disabled {

        h6, p {
            color: $dk-gray;
            cursor: default;
        }

    }

    .active {
        position: relative;

        h6 {
            margin-bottom: $tiny-spacing; 
        }

        .button-secondary {
            margin: $sm-spacing 0 0;
        }

        @include media($small) { 
            padding: $base-spacing 0;

            &:after {
                content: ' ';
                border: 10px solid black;
                border-color: transparent transparent $white $white;
                position: absolute;
                bottom: 50%;
                left: -20px;
                margin-bottom: -10px;
                transform-origin: 0 0;
                transform: rotate(45deg);
                @include box-shadow($top: 1px, $left: -1px, $blur: 0px, $spread: 0px, $color: rgba(0,0,0,.08), $inset: false);
            }

        }

        &:hover {
            background: $white !important;
        }

    }

    .complete {

        @include icon(before, check) {
            font-size: em(16);
            color: $confirmation-color;
        }

    }

}
 