.stage-list {
    margin-top: -$base-spacing;
    padding: $sm-spacing 0;
    
    @include media($small) {
        padding: 0;
        margin-left: -20px;
        border: 0px;
        display: block;
    }

    h6, p {
        margin: 0;
    }

    h4 {
        margin-top: 0;
    }

    p.small {
        color: $black;
    }

    .disabled {

        h6, p {
            color: $dk-gray;
            cursor: default;
        }

    }

    .active {
        position: relative;

        a {
            color: $black;
        }

        @include media($small) {
            &:after {
                content: ' ';
                border: 10px solid black;
                border-color: transparent transparent $white $white;
                position: absolute;
                bottom: 50%;
                left: 0px;
                margin-bottom: -10px;
                transform-origin: 0 0;
                transform: rotate(45deg);
                @include box-shadow($top: 2px, $left: -2px, $blur: 0px, $spread: 0px, $color: rgba(0,0,0,.08), $inset: false);
            }
        }

        &:hover {
            background: $white !important;
        }

    }

    .complete {

        &:after {
            padding-left: $tiny-spacing;
            font-family: FontAwesome;
            content: "\f00c";
            color: $confirmation-color;
        }

    }

}
