.survey-filter {
    position: relative;

    .survey-filter-checkbox {
        margin: 5px auto;
    }

    .survey-filter-title {

        &:after {
            content: '';
            position: absolute;
            top: $sm-spacing;
            bottom: 0;
            @include left(22px);
            width: 2px;
            background-color: $color-primary-delta;
        }
    }

    .survey-filter-parent {
        position: relative;
        @include clearfix;
    }
}

.survey-filter-checkbox {
    position: relative;
    @include clearfix;
    background-color: #292E34;
    @include transition(0.3s);

    .post-band {
        display: none;
        z-index: 100;
        width: 4px;
        @include equal-radius(0);
        background-color: $color-light-alpha;
    }

    .survey-filter-label {
        position: relative;
        @include float(left);
        width: 72.9613734%;

        label {
            padding: $tiny-spacing*1.5 0;
            @include padding-left($base-spacing+15);
        }

        input[type="checkbox"] {
            position: absolute;
            @include left($sm-spacing);
        }
    }

    label {
        display: block;
        color: $color-primary-epsilon;
        @include typeGamma;
        text-transform: none;
        letter-spacing: normal;
    }

    .survey-filter-total {
        position: absolute;
        top: 50%;
        @include right(0);
        box-shadow: 0 0 $tiny-spacing 2px #292E34;
        margin-top: -10px;
        @include margin-right($sm-spacing);

        @include media($medium) {
            @include margin-right($base-spacing);
        }

        svg.iconic {
            position: relative;
            top: 1px;
            @include float(right);
            fill: #292E34;
            width: 10px;
            height: 10px;
            @include margin-left(6px);
            @include transition(0.3s);
        }

        &.active {
            color: #292E34 !important;
            text-shadow: none;
            background-color: $color-light-delta !important;

            svg.iconic {
                @include rotate(180deg);
            }
        }
    }

    .dropdown-menu {
        top: 90% !important;
        @include right($sm-spacing !important);
        @include left(auto !important);
        max-width: 300px;
        @include margin-left($sm-spacing);
    }

    &.init {

        .survey-filter-label {
            overflow: hidden;

            label {
                position: relative;
                @include left(0);
                @include transition(0.3s);

                @include media($medium) {
                    @include left(-$sm-spacing);
                    @include padding-left($huge-spacing);
                }
            }

            input[type="checkbox"] {
                position: absolute;
                @include transition(0.3s);

                @include media($medium) {
                    @include left(0);
                }
            }

            @include media($medium) {

                &:hover {
                    cursor: pointer;

                    label {
                        cursor: pointer;
                        @include left(0);
                    }

                    input[type="checkbox"] {
                        cursor: pointer;
                        @include left($sm-spacing);
                    }
                }
            }
        }
    }

    &.checked {
        background: $color-primary;

        .post-band {
            display: inline-block;
        }

        label {
            color: $white;
        }

        .survey-filter-total {
            color: $white;
            text-shadow: 0 1px 1px rgba(0,0,0,1);
            box-shadow: 0 0 $tiny-spacing 2px #3F4349;
            background-color: $color-primary-epsilon;

            &:after {
                background-color: #3F4349;
            }
        }
    }
}

.survey-filter-total {
    display: inline-block;
    color: $color-primary-epsilon;
    @include equal-radius(20px);
    font-size: 12px;
    background-color: $color-primary;
    padding: 4px $tiny-spacing;
    @include transition(0.3s);

    &.init {

        &:hover {
            cursor: pointer;
            color: $white;
            background-color: $color-primary-delta;
            box-shadow: 0 0 4px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.24);
        }
    }
}
