.survey-filter {
    position: relative;

    .survey-filter-checkbox {
        margin: 5px auto;
    }

    .survey-filter-title {

        &:after {
            content: '';
            position: absolute;
            top: $sm-spacing;
            bottom: 0;
            @include left(22px);
            width: 2px;
            background-color: $color-primary-delta;
        }
    }

    .survey-filter-parent {
        position: relative;
        @include clearfix;
    }
}

.survey-filter-checkbox {
    position: relative;
    @include clearfix;
    background-color: #292E34;
    @include transition(0.3s);

    .post-band {
        display: none;
        z-index: 100;
        width: 4px;
        @include equal-radius(0);
        background-color: $color-light-alpha;
    }

    .survey-filter-label {
        position: relative;
        @include float(left);
        width: 72.9613734%;

        label {
            padding: $tiny-spacing*1.5 0;
            @include padding-left($base-spacing+15);
        }

        input[type="checkbox"] {
            position: absolute;
            @include left($sm-spacing);
        }
    }

    label {
        display: block;
        color: $color-primary-epsilon;
        @include typeGamma;
        text-transform: none;
        letter-spacing: normal;
    }

    .survey-filter-total {
        position: absolute;
        top: 50%;
        @include right(0);
        box-shadow: 0 0 $tiny-spacing 2px #292E34;
        margin-top: -10px;
        @include margin-right($sm-spacing);

        @include media($medium) {
            @include margin-right($base-spacing);
        }

        svg.iconic {
            position: relative;
            top: 1px;
            @include float(right);
            fill: #292E34;
            width: 10px;
            height: 10px;
            @include margin-left(6px);
            @include transition(0.3s);
        }

        &.active {
            color: #292E34 !important;
            text-shadow: none;
            background-color: $color-light-delta !important;

            svg.iconic {
                @include transform(rotate(180deg));
            }
        }
    }

    .dropdown-menu {
        top: 90% !important;
        @include right($sm-spacing !important);
        @include left(auto !important);
        max-width: 300px;
        @include margin-left($sm-spacing);
    }

    .survey-filter-children {
        border-top: 1px solid $color-primary-beta;
        padding: $base-spacing $sm-spacing 4px;
        margin: 0;

        @include media($medium) {
            @include padding-left($base-spacing);
        }

        legend {
            display: inline-block;
            font-style: italic;
            margin-bottom: 0;

            &.init {
                position: absolute;
                top: 4px;
                @include left(0);
                color: $color-primary-epsilon;
                padding: 0 $base-spacing;
                @include transition(0.3s);

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    @include right(10px);
                    width: 6px;
                    height: 6px;
                    background: transparent;
                    border-top: 2.5px solid $color-light-alpha;
                    border-right: 2.5px solid $color-light-alpha;
                    margin-top: -4px;
                    @include transition(0.3s);
                    @include transform(rotate(135deg));
                }

                &.active {
                    // color: $color-primary-epsilon;

                    &:after {
                        margin-top: -2px;
                        @include transform(rotate(-45deg));
                    }
                }

                &.selected {
                    color: $color-light-beta;
                }
            }
        }

        .form-field {

            &.checkbox,
            &.radio {
                @include text-align(left);
                margin-top: $tiny-spacing;
                margin-bottom: $tiny-spacing;

                label {
                    margin-bottom: 0;
                }

                .form-field {

                    &.checkbox,
                    &.radio {
                        @include margin-left($sm-spacing);

                        input[type="checkbox"],
                        input[type="radio"] {
                            @include left(-56px);
                        }
                    }
                }

                &:hover {

                    .form-field {

                        &.checkbox,
                        &.radio {
                            @include margin-left($base-spacing);

                            input[type="checkbox"],
                            input[type="radio"] {
                                @include left(-$base-spacing);
                            }
                        }

                        &:hover {
                            @include padding-left(0);
                        }
                    }
                }
            }
        }

        .form-fieldgroup {
            @include border-left(none);
            padding: 0;
            margin: 0;

            &.init {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }

    &.init {

        .survey-filter-label {
            overflow: hidden;

            label {
                position: relative;
                @include left(0);
                @include transition(0.3s);

                @include media($medium) {
                    @include left(-$sm-spacing);
                    @include padding-left($huge-spacing);
                }
            }

            input[type="checkbox"] {
                position: absolute;
                @include transition(0.3s);

                @include media($medium) {
                    @include left(0);
                }
            }

            @include media($medium) {

                &:hover {
                    cursor: pointer;

                    label {
                        cursor: pointer;
                        @include left(0);
                    }

                    input[type="checkbox"] {
                        cursor: pointer;
                        @include left($sm-spacing);
                    }
                }
            }
        }

        .survey-filter-children {
            display: none;
            overflow: hidden;

            .form-field {

                &.checkbox,
                &.radio {
                    opacity: 0.5;
                    @include padding-left(0);
                    @include transition(opacity, 0.3s);

                    label {

                        &:before {
                            position: absolute;
                            top: 2px;
                            @include left(-18px);
                            color: $color-tertiary;
                            font-weight: bold;
                            font-size: 10px;
                        }
                    }

                    input[type="checkbox"],
                    input[type="radio"] {
                        @include left(-$huge-spacing);
                        @include transition(0.3s);
                    }

                    &.checked {
                        opacity: 1;

                        label:before {
                            content: '\2713';
                        }
                    }

                    &:hover {
                        opacity: 0.8;
                        @include padding-left(18px);

                        label:before {
                            content: none;
                        }

                        input[type="checkbox"],
                        input[type="radio"] {
                            @include left(-$tiny-spacing);
                        }
                    }
                }

                .form-fieldgroup {
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }
    }

    &.checked {
        background: $color-primary;

        .post-band {
            display: inline-block;
        }

        label {
            color: $white;
        }

        .survey-filter-total {
            color: $white;
            text-shadow: 0 1px 1px rgba(0,0,0,1);
            box-shadow: 0 0 $tiny-spacing 2px #3F4349;
            background-color: $color-primary-epsilon;

            &:after {
                background-color: #3F4349;
            }
        }

        .survey-filter-children {
            display: block;
        }
    }
}

.survey-filter-total {
    display: inline-block;
    color: $color-primary-epsilon;
    @include equal-radius(20px);
    font-size: 12px;
    background-color: $color-primary;
    padding: 4px $tiny-spacing;
    @include transition(0.3s);

    &.init {

        &:hover {
            cursor: pointer;
            color: $white;
            background-color: $color-primary-delta;
            box-shadow: 0 0 4px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.24);
        }
    }
}
