.tabs-menu {
    background: $white;
    width: 100%;
    float: left;

    @include media($small) {
        padding: $sm-spacing 0;
    }

    label {
        display: none;

        @include media($small) {
            display: block;
            float: left;
            margin-right: $sm-spacing;
            margin-top: $sm-spacing;
        }
    }

    .tabs-menu-list {
        @extend .list-unstyled;
        border: $base-border;
        padding: $sm-spacing $base-spacing ($sm-spacing + 1);
        background: $white;
        position: absolute;
        width: 100%;

        @include media($small) {
            display: inline;
            border: 0;
            padding: 0;
            background: none;
            position: relative;
        }

        &.open {
            background: $white;
            position: relative;
            margin-bottom: -500px;
            padding: $sm-spacing $base-spacing;

            @include media($small) {
                padding: 0;
            }

        }

        li {
            display: block;
            @include transition(0.3s);
            color: $link-color;

            @include media($small) {
                float: left;
                @include border-top-radius($global-radius);
                @include border-bottom-radius($global-radius);
                border: $base-border;
                margin-right: $sm-spacing;
                margin-bottom: $sm-spacing;

                &:hover {
                    border: $base-border-hover;
                }

                &:active {
                    background: $tab-active-color;
                }

            }

            &.active {

                @include media($small) {
                    background-color: $lt-gray;
                    border: $base-border-dark;
                }

                & a {
                    color: $black;
                }

            }

        }

        li:not(.active) {
            display: none;

            @include media($small) {
                display: inline-block;
            }

        }

        a {
            display: block;
            padding: 8px 0;

            @include media($small) {
                padding: 8px $sm-spacing;
            }
        }

        &.visible li{

            &:not(.active) {
                display: block;

                @include media($small) {
                    display: inline-block;
                }
            }

        }

        //these are the icons

        li.view-list a {
            @include icon(before, list);
        }

        li.view-chart a {
            @include icon(before, bar-chart);
        }

        li.view-photo a {
            @include icon(before, photo);
        }

        li.view-map a {
            @include icon(before, map-marker);
        }

        li.view-timeline a {
            @include icon(before, line-chart);
        }

    }

    .button-toggle {
        @include float(right);
        margin: $sm-spacing;

        @include media($small) {
            display: none;
        }

    }

}

.tabs-secondary {
    border: $base-border;
    margin: -1px 0 0;
    @extend .delta;

    @include media($mobile) {
        border: 0;
        border-top: $base-border;
        margin: 10px 0 0;
    }

    &.toggle-content {
        float: none;

        @include media($mobile) {
            display: block;
            padding: 0px;
        }

    }

    ul {
        @extend .list-unstyled;

        @include media($mobile) {
            padding-bottom: $lg-spacing;
        }

    }

    li {
        padding: $sm-spacing;

        @include media($mobile) {
            float: left;
            padding: ($sm-spacing + 3px) $sm-spacing;
        }

        @include media($small) {
            padding: ($sm-spacing + 3px) $base-spacing;
        }

        &.active {

            @include media($mobile) {
                border-top: $base-border;
                border-width: 3px;
                padding-top: $sm-spacing;
            }

            a {
                color: $dk-gray;
                cursor: default;
            }

            @include media($small) {
                padding: $sm-spacing;
            }

        }

    }

}
