.tabs-with-filter {
   @include clearfix;
   position: relative;
   z-index: $fixed-at-bottom;
   margin-bottom: $sm-spacing;

   @include media($small) {
      z-index: $filter;
      border: 0;
      margin-bottom: 0;
   }

   .filters {
      z-index: 1;
      float: right;
      width: 50%;

      @include media($small) {
         width: 35%;
      }

      .filters-show-hide {
         @include border-left(0);

         @include media($small) {
            width: 30%;
            float: right;
            @include padding-left($sm-spacing);
            @include text-align(right);
         }

         label.delta-alt {
            float: none;
         }

         .button-toggle {
            @include float(right);
         }

      }

      .filters-container {

         &.active {
            border-color: $border-color-dark;
            border-top-color: $black;
         }

      }
   }

   .tabs-menu {
      position: relative;
      z-index: 2;
      width: 50%;

      @include media($small) {
         width: 65%;
      }
/*
      label {
         @include lrswap(margin, $sm-spacing $sm-spacing $sm-spacing 0);
         @include float(left);
      }
*/
   }

   .tabs-menu-list {
      position: absolute;
      border-right: none;

      @include media($small) {
         position: relative;
         width: 100%;
      }

   }

   .button-toggle {

      @include media($small) {
         float: none;
      }
   }

   + aside .filters-show-hide {
      width: 55%;
      @include float(right);
      margin-top: -62px;
      @include border-left(0);
   }

   &[data-view="map"] {

      .filters-toggle {

         @include media($small) {
            display: none;
         }
      }

      .filters-container {

         @include media($small) {
            display: block;
         }
      }
   }

}
