.tabs-with-filter {
    @include clearfix;
    background: $lt-bg;
    margin-bottom: $sm-spacing;
    z-index: $fixed-at-bottom;
    position: relative;

    @include media($small) {
        z-index: $filter;
        margin-bottom: 0;
        border: 0;
    }

    .filters {

        .filters-show-hide {
            @include border-left(0);

            @include media($small) {
                width: 30%;
                float: right;
                @include padding-left($sm-spacing);
                @include text-align(right);
            }

            label.delta-alt {
                float: none;
            }

            .button-toggle {
                @include float(right);
            }

        }

        .filters-container {

            @include media($small) {
                @include right(0);
                @include left(inherit);
                left: inherit;
            }

        }

    }

    .tabs-menu {
        width: 45%;

        @include media($small) {
            width: 70%;
        }

        label {
            @include lrswap(margin, $sm-spacing $sm-spacing $sm-spacing 0);
            @include float(left);
        }

    }

    .tabs-menu-list {
        position: absolute;
        width: 45%;

        @include media($small) {
            position: relative;
            width: 100%;
        }

    }

    .button-toggle {

        @include media($small) {
            float: none;
        }
    }

    + aside .filters-show-hide {
        width: 55%;
        @include float(right);
        margin-top: -52px;
        @include border-left(0);
    }

}
