.tabs-menu {
   background: $white;
   width: 100%;
   @include float(left);

   @include media($small) {
      background-color: transparent;
      padding: $sm-spacing 0;
   }

   label {
      display: none;

      @include media($small) {
         display: block;
         @include float(left);
         @include margin-right($sm-spacing);
         margin-top: $sm-spacing;
      }
   }

   .tabs-menu-list {
      @extend .list-unstyled;
      border: $base-border;
      padding: $sm-spacing $base-spacing ($sm-spacing + 1);
      background: $white;
      position: relative;
      width: 100%;

      @include media($small) {
         display: inline;
         border: 0;
         padding: 0;
         background: none;
         position: relative;
      }

      &.open {
         background: $white;
         position: relative;
         margin-bottom: -500px;
         padding: $sm-spacing $base-spacing;

         @include media($small) {
            padding: 0;
         }

      }

      li {
         display: block;
         @include transition(0.3s);
         color: $link-color;

         @include media($small) {
            @include float(left);
            @include border-top-radius($global-radius);
            @include border-bottom-radius($global-radius);
            border: $base-border;
            @include margin-right($sm-spacing);
            margin-bottom: $sm-spacing;

            &:hover {
               border: $base-border-hover;
            }

            &:active {
               background: $tab-active-color;
            }

         }

         &.active {

            @include media($small) {
               background-color: $lt-gray;
               border: $base-border-dark;
            }

            & a {
               color: $black;
            }

         }

      }

      li:not(.active) {
         display: none;

         @include media($small) {
            display: inline-block;
         }

      }

      a {
         display: block;
         padding: 8px 0;

         @include media($small) {
            padding: 8px $sm-spacing;
         }
      }

      &.visible li{

         &:not(.active) {
            display: block;

            @include media($small) {
               display: inline-block;
            }
         }

      }

      //these are the icons

      li a.view-list {
         @include icon($before, list) {
            @include lrswap(padding, 0 5px 0 1px);
         }

      }

      li a.view-chart {
         @include icon($before, bar-chart) {
            @include lrswap(padding, 0 5px 0 1px);
         }

      }

      li a.view-photo {
         @include icon($before, photo) {
            @include lrswap(padding, 0 5px 0 1px);
         }

      }

      li a.view-map {
         @include icon($before, map-marker) {
            @include lrswap(padding, 0 5px 0 1px);
         }

      }

      li a.view-timeline {
         @include icon($before, line-chart) {
            @include lrswap(padding, 0 5px 0 1px);
         }

      }

   }

   .button-toggle {
      @include float(right);
      margin: $sm-spacing;

      @include media($small) {
         display: none;
      }

   }

}

.tabs-secondary {
   border: $base-border;
   margin: -1px 0 0;
   @extend .delta;

   @include media($mobile) {
      border: 0;
      border-top: $base-border;
      margin: 10px 0 0;
   }

   &.toggle-content {
      float: none;

      @include media($mobile) {
         display: block;
         padding: 0px;
      }

   }

   ul {
      @extend .list-unstyled;

      @include media($mobile) {
         padding-bottom: $lg-spacing;
      }

   }

   li {
      padding: $sm-spacing;

      @include media($mobile) {
         @include float(left);
         padding: ($sm-spacing + 3px) $sm-spacing;
      }

      @include media($small) {
         padding: ($sm-spacing + 3px) $base-spacing;
      }

      &.active {

         @include media($mobile) {
            border-top: $base-border;
            border-width: 3px;
            padding-top: $sm-spacing;
         }

         a {
            color: $dk-gray;
            cursor: default;
         }

         @include media($small) {
            padding: $sm-spacing;
         }

      }

   }

}

.vertical-tabs {@include clearfix;}

.vertical-tabs-menu {

   &.init {
      position: relative;
      z-index: 2;
      @include equal-radius;
      border: $base-border;
      border-width: 2px;
      border-bottom-color: $white;
      background-color: $white;
      margin: 0 $base-spacing;

      @include media($small) {
         float: right;
         width: 30%;
         border: none;
         background-color: transparent;
         margin: 0;
      }

      &:before {
         @include float(right);
         @include fa-icon();
         content: $fa-var-sort;
         color: $blue;
         margin: $sm-spacing;

         @include media($small) {
            content: none;
         }
      }

      ul {
         margin: 0;

         @include media($small) {
            position: relative;
            top: $base-spacing;
            left: -2px;
         }
      }

      li {
         display: none;
         font-size: em(14);
         list-style-type: none;
         margin: $sm-spacing;
         margin-right: 60px;

         @include media($small) {
            display: table;
            font-size: em(15);
            border-left: $base-border;
            border-left-width: 2px;
            padding: 15px $sm-spacing;
            margin: 0 30px 0 0;
         }

         @include media($medium) {
            font-size: em(16);
            padding: 15px $base-spacing;
         }

         &:hover {
            cursor: pointer;
         }

         [class*="icon-"]:before {
            padding-right: $sm-spacing;
         }

         &.active {
            display: list-item;

            @include media($small) {
               display: table;
               border: $base-border;
               border-width: 2px;
               border-left: none;
               background-color: $white;
               // @include box-shadow($top: 0, $left: 2px, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.25), $inset: false);
            }

            [class*="icon-"]:before {
               color: $mid-gray;
            }
         }

         .status {
            display: inline-block;
            position: absolute;
            right: 30px;
            width: 20px;
            height: 20px;
            @include equal-radius(100%);

            @include media($small) {
               right: 0;
            }

            &:before {
               @include fa-icon();
               content: $fa-var-circle-o;
               color: $mid-gray;
            }

            &.complete {

               &:before {
                  content: $fa-var-check-circle;
                  color: $dk-gray;
               }
            }
         }
      }

      &.active {

         li {
            display: list-item;

            @include media($small) {
               display: table;
            }
         }
      }
   }

   + .vertical-tabs-content {
      position: relative;
      top: -2px;
      min-height: 50px;

      @include media($small) {
         float: left;
         width: 70%;
         margin: 0;
      }
   }
}

.vertical-tabs-content {
   @include clearfix;
   border-top: $base-border;
   border-width: 2px;
   background-color: $white;

   @include media($small) {
      border-right: $base-border;
      border-width: 2px;
      padding: $base-spacing;
   }

   @include media($medium) {
      border: $base-border;
      border-width: 2px;
   }
}
