.toolbox {
    @include containerSheet;

    .toolbox-heading {
        @include typeBase;
        margin-top: $tiny-spacing;
        margin-bottom: $tiny-spacing;
    }

    .toolbox-header {
        position: relative;
        border-bottom: 1px solid $color-light-gamma;
        padding: 1px $sm-spacing;

        @include media($small) {
            display: none;
        }
    }

    .toolbox-body {
        display: none;
        padding-top: 1px;
        padding-bottom: 1px;

        &.active {
            display: block;
        }

        @include media($small) {
            display: block !important;
        }
    }

    .tool {
        margin: $sm-spacing;
        margin-bottom: $base-spacing;

        .tool-heading {
            color: $color-dark-delta;
        }

        [data-toggle] {
            padding-top: 6px;

            svg.iconic {
                fill: $color-dark-delta;
            }
        }

        > .form-field {
            margin: $sm-spacing 0;
        }
    }

    .listing {

        .listing-item {

            .listing-item-body {

                @include media($medium) {
                    display: block;
                    background-color: transparent;
                    @include no-shadow;
                    padding: 0;
                }

                .tool {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}
