.toolbox {
    @extend .sheet;
    padding: $sm-spacing;

    @include media($small) {
        top: 146px;
    }

    @include media($medium) {
        top: 85px;
    }

    .tool {

        .tool-heading {
            color: $color-dark-delta;
        }

        [data-toggle] {
            padding-top: 6px;

            svg.iconic {
                fill: $color-dark-delta;
            }
        }
    }

}
