.toolbox {
    @extend .sheet;
    padding: $sm-spacing;

    @include media($small) {
        top: 146px;
    }

    @include media($medium) {
        top: 85px;
    }

    .tool {

        margin-bottom: $base-spacing;

        &:last-child {
            margin-bottom: 0;
        }

        .tool-heading {
            color: $color-dark-delta;
        }

        [data-toggle] {
            padding-top: 6px;

            svg.iconic {
                fill: $color-dark-delta;
            }
        }

        > .form-field {
            margin: $sm-spacing 0;
        }

        fieldset {
            margin-top: $sm-spacing;
        }

    }

}
