.toolbox {
    @extend .sheet;

    @include media($small) {
        top: 146px;
    }

    @include media($medium) {
        top: 85px;
    }

    .toolbox-heading {
        @include typeBeta;
        margin: $sm-spacing;
    }

    .tool {
        margin: $sm-spacing;
        margin-bottom: $base-spacing;


        .tool-heading {
            color: $color-dark-delta;
        }

        [data-toggle] {
            padding-top: 6px;

            svg.iconic {
                fill: $color-dark-delta;
            }
        }

        > .form-field {
            margin: $sm-spacing 0;
        }

        .task {

            &:first-child {
                margin-top: $tiny-spacing;
            }
        }

    }

}
