.user-listing {

    .img {
        width: 26%;
        @include lrswap(padding, 0 4% 0 2%);

        @include media($mobile) {
            width: 20%;
        }

        @include media($medium) {
            width: 15%;
            @include lrswap(padding, 0 2% 0 0);
        }

    }

    .bd {
        width: 50%;

        @include media($medium) {
            width: 75%;
        }

        @include media($large) {
            padding-top: $sm-spacing;
        }

        h3 {
            padding: 0;

            @include media($medium) {
                @include float(left);
                width: 70%;
            }
        }

        .user-type {
            color: $dk-gray;
            margin-top: $sm-spacing;

            @include media($medium) {
                @include float(right);
                width: 30%;
                margin-top: $base-spacing + 10px;
            }
        }

    }

}
