.user-listing {

    .img {
        width: 90px;
        @include lrswap(padding, 0 $base-spacing 0 $sm-spacing);
    }

    .bd {
        width: 50%;

        @include media($medium) {
            width: 75%;
        }

        @include media($large) {
            padding-top: $sm-spacing;
        }

        h3 {
            padding: 0;
            margin-bottom: 0;

            @include media($small) {
               margin-top: 7px;
            }

            @include media($medium) {
                @include float(left);
                width: 70%;
                margin-top: 17px;
            }
        }

        .user-type {
            color: $dk-gray;
            margin-top: $sm-spacing;

            @include media($medium) {
                @include float(right);
                width: 30%;
                margin-top: 25px;
            }
        }

    }

}
