<div class="actions-stacked">
    <button type="button" class="button-secondary dropdown toggle-js hide-when-large">
        <span>Options</span>
    </button>
</div>
<div class="toggle-content">
    <ul class="dropdown-menu" role="menu">
        <li>
            <button type="button" class="button-secondary edit">
                <a href="#!">Edit</a>
            </button>
        </li>
        <li>
            <button type="button" class="button-secondary dropdown toggle-js">
                <a href="#!">Add to Collection</a>
            </button>
            <div class="toggle-content toggle-content-secondary">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#!">Collection #1</a></li>
                    <li><a href="#!">Collection #2</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
