<div class="actions-toggle">
    <div class="actions-toggle-trigger">
        <a href="#options" class="button-secondary" data-toggle="options"><span class="icon-left fa-ellipsis-h">Options</span></a>
    </div>
    <div id="options" class="actions-content">
        <button type="button" class="button-secondary">
            <span class="icon-left fa-pencil">Edit</span>
        </button>

        <button type="button" class="button-secondary">
            <span class="icon-left fa-share">Share</span>
        </button>

        @@include('../partials/_add-to-collection.html')
    </div>
</div>
