<fieldset class="custom-fieldset">
    <legend><i class="fa fa-th"></i>Collections</legend>

    <label class="checkbox-label" for="collection1">
        <input type="checkbox" id="collection1" />
        Collection 1
    </label>

    <label class="checkbox-label" for="collection2">
        <input type="checkbox" id="collection2" checked />
        Another Collection 2
    </label>

    <label class="checkbox-label" for="collection3">
        <input type="checkbox" id="collection3" />
        Extra Collection 3
    </label>

    <div class="form-field">
        <a href="#create-collection" class="button button-link" data-toggle="toggle-content"><i class="fa fa-plus"></i>Create Collection</a>
        <div class="toggle-content">
            <input type="text" id="create-collection" placeholder="Create Collection" />
            <button type="button">Create</button>
        </div>
    </div>
</fieldset>