<div class="filters">
    <div class="filters-wrapper">
        <label class="delta-alt">Filters</label>
        <button type="button" class="button-toggle filter-button-js open"></button>
    </div>

    <div class="filters-container open">
        <div class="tabs tabs-full-width">
            <nav class="tabs-menu">
                <ul>
                    <li class="active"><a href="#tab-1">Categories</a></li>
                    <li><a href="#tab-2">Sets</a></li>
                    <li><a href="#tab-3">More</a></li>
                </ul>
            </nav>

            <div id="tab-1" class="tab-content active">
                <form action="" method="get">
                    <input type="checkbox" name="show-all" value="Show All Categories"> Show All Categories<br>
                    <input type="checkbox" name="category1" value="Category1" checked="checked">    <i class="fa fa-circle" style="color: #da60a2;"> &nbsp;</i> Accident<br>
                    <input type="checkbox" name="category2" value="Category2">
                    <i class="fa fa-circle" style="color: #679a63;"> &nbsp;</i> Safe Location<br>
                    <input type="checkbox" name="category3" value="Category3">
                    <i class="fa fa-circle" style="color: #9a4126;"> &nbsp;</i> Hospital Status<br>
                </form>
            </div>
            <div id="tab-2" class="tab-content">
                <form action="" method="get">
                    <label for="set-list" class="delta-alt">My Sets</label>
                    <br><br>
                    <input type="checkbox" name="show-all" value="Show All Categories"> Set 1<br>
                    <input type="checkbox" name="show-all" value="Show All Categories"> Set 2<br><br>
                    <label for="set-list" class="delta-alt">Featured Sets</label>
                    <br><br>
                    <input type="checkbox" name="show-all" value="Show All Categories"><span> Set 1</span><br><br>
                    <label for="set-list" class="delta-alt">All Sets</label>
                    <br><br>
                    <input type="checkbox" name="show-all" value="Show All Categories"> Set 1<br>
                </form>
            </div>
            <div id="tab-3" class="tab-content">
                <label for="keyword" class="delta-alt">Keyword</label>
                <input type="text" name="keyword" placeholder="keyword">
                <div class="filter-start-date">
                    <label for="start" class="delta-alt">Start Date</label>
                    <input type="text" name="start">
                </div>
                <div class="filter-end-date">
                    <label for="end" class="delta-alt">End Date</label>
                    <input type="text" name="end">
                </div>
                <label for="location" class="delta-alt">Location</label>
                <input type="text" name="location" placeholder="select a location">
                <select>
                    <option selected>within 1 km</option>
                    <option>within 10 km</option>
                    <option>within 50 km</option>
                    <option>within 100 km</option>
                    <option>within 500 km</option>
                </select>
                <div class="filter-actions">
                    <a href="" class="cta">Clear Fields</a>
                    <input class="apply-filter-button button-primary" type="button" name="apply-filter-button" value="Apply" disabled>
                </div>
            </div>
        </div>
        <div class="save-as-set">
            <button type="button" class="button-secondary plus">Save as Smart Set</button>
        </div>
    </div>
</div>
