<div class="filters-new">

    <form action="#" method="get" role="search">
        <div class="filter-wrapper">
            <div class="search-filter">
                <input type="text" name="keyword" class="keyword-input" placeholder="Search">
                <button type="button" class="button-secondary"><span>Filters</span></button>
            </div>
        </div>
    <form>

    <div class="actions-wrapper">
        <div class="actions">
            <div class="custom-fieldset init add-post">
                <legend class="dropdown-trigger init" data-toggle="dropdown-menu"><span>Add</span></legend>
                <div class="popover add-post-popover">
                    <h6>Add</h6>
                    <ul>
                        <li>Traffic</li>
                        <li>Police encounter</li>
                        <li>Protester photos</li>
                        <li>Official events</li>
                    </ul>
                </div>
            </div>

            <div class="custom-fieldset init share-post">
                <legend class="dropdown-trigger init" data-toggle="dropdown-menu"><span>Share</span></legend>
                <div class="popover share-post-popover">
                    <h6>Share</h6>
                    <ul>
                        <li><i class="fa  fa-facebook-square facebook"></i>Facebook</li>
                        <li><i class="fa  fa-twitter twitter"></i>Twitter</li>
                        <li><i class="fa  fa-envelope-o"></i>Email</li>
                        <li><i class="fa  fa-code"></i>Embed</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
