<div class="toolbar">

    <form role="search" class="search">
        <input type="text" name="keyword" class="keyword-input" placeholder="Search posts">

        <div class="filter-buttons">
            <div class="saved-filters-wrapper">
                <span class="saved-filters dropdown-trigger init" data-toggle="toggle-content"><span>Saved</span></span>
                <div class="toggle-content dropdown-menu init">
                    <h6 class="saved">Saved</h6>
                    <div class="saved-search-input-wrapper">
                        <input type="text" name="saved-search-input" class="saved-search-input" placeholder="Search Saved">
                    </div>
                    <ul>
                        <li><a href="#">Actions on Congress Avenue</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Reports on Wednesday</a></li>
                        <li><a href="#">Assigned to me</a></li>
                        <li class="credit"><a href="#">Unknown form with attachment</a>
                            <p>by<a href=""> Robbie MacKay</a></p>
                        </li>
                        <li class="credit"><a href="#">Videos</a>
                            <p>by<a href=""> Robbie MacKay</a></p>
                        </li>
                        <li class="credit"><a href="#">Videos</a>
                            <p>by<a href=""> Robbie MacKay</a></p>
                        </li>
                        <li class="credit"><a href="#">Videos</a>
                            <p>by<a href=""> Robbie MacKay</a></p>
                        </li>
                        <li class="credit"><a href="#">Videos</a>
                            <p>by<a href=""> Robbie MacKay</a></p>
                        </li>
                        <li class="credit"><a href="#">Videos</a>
                            <p>by<a href=""> Robbie MacKay</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <span data-toggle="filters"><span>Filters</span></span>
        </div>

        <div id="filters" class="search-filters">
            <fieldset>
                <legend>Forms</legend>
                <div class="form-field-wrapper">
                    <div class="form-field checkbox">
                        <label for="traffic">
                            <input type="checkbox" name="traffic" value="Traffic" id="traffic"> Traffic
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="police-encounters">
                            <input type="checkbox" name="police-encounters" value="Police encounters" id="police-encounters"> Police encounters
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="protester-photos">
                            <input type="checkbox" name="protester-photos" value="Protester photos" id="protester-photos"> Protester photos
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="traffic">
                            <input type="checkbox" name="traffic" value="Traffic" id="traffic"> Traffic
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="police-encounters">
                            <input type="checkbox" name="police-encounters" value="Police encounters" id="police-encounters"> Police encounters
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="protester-photos">
                            <input type="checkbox" name="protester-photos" value="Protester photos" id="protester-photos"> Protester photos
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Categories</legend>
                <div class="form-field-wrapper">
                    <div class="form-field checkbox">
                        <label for="speakers">
                            <input type="checkbox" name="speakers" value="Speakers" id="speakers"> Speakers
                        </label>
                    </div>
                    <div class="form-field checkbox">
                        <label for="opposition">
                            <input type="checkbox" name="opposition" value="Opposition" id="opposition"> Opposition
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Who Can See It</legend>
                <div class="form-field-wrapper">
                    <div class="form-field radio">
                        <label for="everyone">
                            <input type="radio" name="everyone" value="Everyone" id="everyone"> Everyone
                        </label>
                    </div>
                    <div class="form-field radio">
                        <label for="members">
                            <input type="radio" name="members" value="Members" id="members"> Members
                        </label>
                    </div>
                    <div class="form-field radio">
                        <label for="administrators">
                            <input type="radio" name="administrators" value="Administrators" id="administrators"> Administrators
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

    <div class="actions-wrapper">
        <div class="actions">
            <div class="add-post-wrapper">
                <button type="button" class="add-post button-create dropdown-trigger init" data-toggle="toggle-content"><span>Add</span></button>
                <div class="toggle-content dropdown-menu init">
                    <h6>Add</h6>
                    <ul>
                        <li>Traffic</li>
                        <li>Police encounter</li>
                        <li>Protester photos</li>
                        <li>Official events</li>
                    </ul>
                </div>
            </div>

            <div class="share-post-wrapper">
                <button type="button" class="share-post button-secondary dropdown-trigger init" data-toggle="toggle-content"><span>Share</span></button>
                <div class="toggle-content dropdown-menu init">
                    <h6>Share</h6>
                    <ul>
                        <li><i class="fa  fa-facebook-square facebook"></i>Facebook</li>
                        <li><i class="fa  fa-twitter twitter"></i>Twitter</li>
                        <li><i class="fa  fa-envelope-o"></i>Email</li>
                        <li><i class="fa  fa-code"></i>Embed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
