<footer>
    <div class="wrapper">
        <div class="footer-container">
            <div class="footer-main-col">
                <h2>Syria Tracker</h2>
                <p>Crowdsourcing the data of the Syrian Conflict since April 2011</p>
                <ul class="footer-nav">
                    <li><a href="home-map.html">Home</a></li>
                    <li><a href="layout-a.html">About</a></li>
                    <li><a href="activity.html">Activity</a></li>
                    <li><a href="activity.html">Settings</a></li>
                </ul>
            </div>
            <div class="footer-secondary-col">
                <a class="button-create">
                    <span>Add Post</span>
                </a>
            </div>
        </div>
    </div>
</footer>
