<div class="form-sheet">
    <div class="form-sheet-summary">
        <div class="post-band" style="background-color: #8D1919;"></div>
        <h1 class="title">Traffic</h1>
        <p class="description">
            Reports about where people are marching, how to get there and where there's congestion.
        </p>
    </div>

    <form>
        <div class="form-field form-field-adapt">
            <label>Title</label>
            <input type="text" class="adapt-field"/>
        </div>

        <div class="form-field form-field-adapt">
            <label class="textarea-label">Description</label>
            <textarea class="adapt-field"></textarea>
        </div>

        <div class="form-field add-file">
            <svg class="iconic">
              <use xlink:href="/assets/img/iconic-sprite.svg#plus"></use>
            </svg>
            Add photo, video or embed
        </div>

        <fieldset class="location">
            <legend>Location</legend>

            <div class="form-field">
               <input type="text">
            </div>

            <div class="custom-select init">
                <select>
                    <option>Pin</option>
                    <option>Triangulation</option>
                </select>
            </div>

            <button type="button" class="button button-beta button-flat">Hide Map</button>
        </fieldset>

        <fieldset>
            <legend>Categories</legend>
            <div class="form-field checkbox">
                <label for="speakers"><input type="checkbox" id="speakers">Speakers</label>
            </div>
            <div class="form-field checkbox">
                <label for="congestions"><input type="checkbox" id="congestions">Congestions</label>
            </div>
            <div class="form-field checkbox">
                <label for="opposition"><input type="checkbox" id="opposition">Opposition</label>
            </div>
        </fieldset>

        <div class="form-sheet-actions">
            <p><strong>The post will need to be moderated</strong> before it's visible to the public.</p>

            <button type="button" class="button button-beta button-flat">Cancel</button>
            <button type="button" class="button button-alpha">Save</button>
        </div>

    </form>

</div>
