<header class="header" role="banner">
    <div class="nav-icon nav-icon-js" data-toggle="toggle-content">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="main dropdown-menu toggle-content" role="menu">
        @@include('../partials/_new-main-menu.html')
    </ul>

    <a href="" class="deployment-title">
        <img class="avatar" src="http://www.gravatar.com/avatar/00000000000000000000000000000000" alt="Avatar">
        <h2 class="beta">March on City Hall</h2>
    </a>

    <div class="create-admin">
        @@include('../partials/_user-admin.html')
    </div>
</header>
