<header class="header header-full overlay">
    <div class="container">
        <div class="hero-image">
            <img src="../../img/header-bk.jpg" alt="" />
        </div>

        <div class="color-overlay">
            <div class="parallax">
                <div class="nav-icon nav-icon-js">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h1 class="beta">Syria Tracker</h1>
                <p class="header-description">Crowdsourcing the data of the Syrian Conflict since April 2011</p>
                <a class="button button-create icon-only">
                    <span>Add Post</span>
                </a>

                @@include('../partials/_user-admin.html')

            </div>
        </div>

    </div>
</header>
