<header class="header" role="banner">
    <div class="nav-icon nav-icon-js" data-toggle="toggle-content">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <a href="" class="deployment-title">
        <h2 class="beta">March on City Hall</h2>
    </a>

    <div class="create-admin">
        @@include('../partials/_user-admin-loggedout.html')
    </div>
</header>

<ul class="main-menu dropdown-menu toggle-content" role="menu">
    @@include('../partials/_new-main-menu.html')
</ul>
