<div class="container iconic-sample">
    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#account-login"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#account-logout"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#action-redo"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#action-undo"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#align-center"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#align-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#align-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#aperture"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-bottom"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-circle-bottom"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-circle-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-circle-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-circle-top"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-thick-bottom"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-thick-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-thick-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-thick-top"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#arrow-top"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#audio-spectrum"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#audio"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#badge"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#ban"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bar-chart"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#basket"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#battery-empty"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#battery-full"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#beaker"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bell"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bluetooth"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bold"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bolt"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#book"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bookmark"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#box"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#briefcase"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#british-pound"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#browser"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#brush"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bug"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#bullhorn"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#calculator"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#calendar"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#camera-slr"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#caret-bottom"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#caret-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#caret-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#caret-top"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#cart"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#chat"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#check"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-top"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#circle-check"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#circle-x"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#clipboard"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#clock"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#cloud-download"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#cloud-upload"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#cloud"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#cloudy"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#code"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#cog"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#collapse-down"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#collapse-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#collapse-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#collapse-up"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#command"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#comment-square"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#compass"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#contrast"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#copywriting"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#credit-card"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#crop"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#dashboard"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#data-transfer-download"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#data-transfer-upload"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#delete"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#dial"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#document"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#dollar"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#double-quote-sans-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#double-quote-sans-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#double-quote-serif-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#double-quote-serif-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#droplet"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#eject"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#elevator"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#ellipses"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#envelope-closed"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#envelope-open"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#euro"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#excerpt"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#expand-down"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#expand-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#expand-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#expand-up"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#external-link"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#eye"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#eyedropper"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#file"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#fire"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#flag"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#flash"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#folder"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#fork"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#fullscreen-enter"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#fullscreen-exit"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#globe"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#graph"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#grid-four-up"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#grid-two-up"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#hard-drive"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#header"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#headphones"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#heart"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#home"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#image"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#inbox"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#infinity"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#info"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#italic"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#justify-center"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#justify-left"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#justify-right"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#key"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#laptop"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#layers"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#lightbulb"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#link-broken"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#link-intact"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#list-rich"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#list"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#location"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#lock-locked"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#lock-unlocked"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#loop-circular"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#loop-square"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#loop"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#magnifying-glass"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#map-marker"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#map"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-pause"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-play"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-record"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-skip-backward"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-skip-forward"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-step-backward"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-step-forward"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#media-stop"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#medical-cross"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#menu"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#microphone"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#minus"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#monitor"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#moon"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#move"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#musical-note"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#paperclip"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#pencil"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#people"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#person"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#phone"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#pie-chart"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#pin"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#play-circle"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#plus"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#power-standby"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#print"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#project"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#pulse"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#puzzle-piece"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#question-mark"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#rain"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#random"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#reload"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#resize-both"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#resize-height"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#resize-width"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#rss-alt"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#rss"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#script"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#share-boxed"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#share"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#shield"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#signal"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#signpost"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#sort-ascending"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#sort-descending"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#spreadsheet"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#star"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#sun"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#tablet"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#tag"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#tags"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#target"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#task"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#terminal"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#text"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#thumb-down"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#thumb-up"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#timer"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#transfer"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#trash"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#underline"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#vertical-align-bottom"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#vertical-align-center"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#vertical-align-top"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#video"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#volume-high"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#volume-low"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#volume-off"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#warning"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#wifi"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#wrench"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#x"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#yen"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#zoom-in"></use>
    </svg>

    <svg class="iconic">
      <use xlink:href="/assets/img/iconic-sprite.svg#zoom-out"></use>
    </svg>
</div>
