<div class="list-actions">
    <button class="button-link cta">Select All</button>
    <div class="bulk-actions">
        <fieldset class="custom-fieldset">
            <legend>Mark As</legend>

            <label class="radio-label" for="spam">
                <input type="radio" name="markas" id="spam" />
                Spam
            </label>

            <label class="radio-label" for="duplicates">
                <input type="radio" name="markas" id="duplicates" />
                Duplicates
            </label>
        </fieldset>

        <button type="button" class="button-secondary alt icon-only-when-small export">
            <span>Export</span>
        </button>

        <button type="button" class="button-secondary icon-only-when-small alt trash">
            <span>Delete</span>
        </button>
    </div>
</div><!--list-actions-->