<nav class="navigation" role="navigation">
    <div class="nav-icon nav-icon-js open">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a class="button button-primary">
        <span class="icon-left fa-plus">Add Post</span>
    </a>
    <ul class="main-nav">
        <li><a href="home-map.html">Home</a></li>
        <li><a href="layout-a.html">About</a></li>
        <li><a href="activity.html">Activity</a></li>
        <li data-message="customize">
            <span data-toggle="toggle-content">Settings</span>
            <ul class="toggle-content">
                <li><a href="#">General</a></li>
                <li><a href="#">Appearance</a></li>
                <li><a href="data-sources.html">Data Sources</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="tools-structure.html">Posts &amp; Entities</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="users.html">Users</a></li>
                <li><a href="#">Permissions</a></li>
            </ul>
        </li>
    </ul>

    @@include('../partials/_user-admin.html')

    <div class="sub-nav">
        <h6 class="zeta saved-searches">Saved Searches</h6>
        <ul>
            <li><a href="" class="saved-search">Public Posts</a><span class="star"></span></li>
            <li><a href="">Terrorist Attacks, 2013</a><span class="star"></span></li>
            <li><a href="">Missing People</a><span class="star"></span></li>
            <li><a href="">Roadside Explosions</a><span class="star"></span></li>
            <li><a href="">Violence in Aleppo</a><span class="star"></span></li>
            <li><a href="">Posts by David Kobia</a> <span class="star"></span>
                <p class="credit">By <a href="">David Kobia</a></p>
            </li>
            <li><a href="">Missing Children since 2012</a><span class="star"></span>
                <p class="credit">By <a href="">Brandon Rosage</a></p>
            </li>
        </ul>
    </div>

    <div class="sub-nav">
        <h6 class="zeta collections">Collections</h6>
        <ul>
            <li><a href="">Needs Follow-up</a><span class="star"></span></li>
            <li><a href="">Hi-res Photos</a><span class="star"></span></li>
            <li><a href="">Shared on Facebook</a><span class="star"></span></li>
            <li><a href="">Kobia's Saved Posts</a><span class="star"></span>
                <p class="credit">By <a href="">David Kobia</a></p>
            </li>
        </ul>
        <button type="button" class="button-secondary plus">
            <span>New Collection</span>
        </button>
    </div>
</nav>
