<div class="mode-bar">
    <nav>
        <ul class="deployment-menu">
            <li class="active">
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#map-marker"></use>
                    </svg>
                    Map
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#list-rich"></use>
                    </svg>
                    Timeline
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#pulse"></use>
                    </svg>
                    Activity
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#cog"></use>
                    </svg>
                    Settings
                </a>
            </li>
        </ul>

        <ul class="account-menu">
            <li>
                <a href="#">
                    <img src="http://placehold.it/40x40" class="avatar" />
                    <span class="label">Account Settings<span class="subtext">for Aaliyah Williams</span></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
                    </svg>
                    <span class="label">Collections</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#bell"></use>
                    </svg>
                    <span class="label">Alerts<span class="badge">2</span></span>
                </a>
            </li>
        </ul>

        <span class="mode-bar-trigger">
            <a href="#">
                <svg class="iconic">
                    <use xlink:href="/assets/img/iconic-sprite.svg#ellipses"></use>
                </svg>
                <span class="label">More</span>
            </a>
        </span>
    </nav>
</div>
