<div class="mode-bar">
    <ul class="mode-bar-nav">
        <li class="active">
            <a href="#"><i class="fa  fa-file"></i><span>Posts</span></a>
        </li>
        <li>
            <a href="#"><i class="fa  fa-line-chart"></i><span>Activity</span></a>
        </li>
    </ul>

    <div class="settings">
        <ul>
            <li>
                <a href="/settings" class="settings-icon"><span>Sign up</span></a>
            </li>
            <li>
                <a href="/settings" class="settings-icon"><span>Log in</span></span></a>
            </li>
        </ul>
    </div>

</div>
