<div class="mode-context">

    <header class="mode-context-header">
        <h1 class="mode-context-title"><a href="">March on City Hall</a></h1>

        <img src="/assets/img/deployment-logo.png" class="deployment-logo" />
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <p>Reports and communication about the protest march Wednesday, Aug.19 to City Hall.</p>

        @@include('../partials/_survey-filter.html')

        <div class="mode-group">
            <h6 class="zeta">How to add a post</h6>
            <i class="fa fa-chevron-down toggle"></i>
            <div class="toggle-content">
                <p>Use the <a href="#">web form</a></p>
                <p>Send a text message to </br> <a href="tel:15551234567">+1-555-123-4567</a> </p>
                <p>Send an email to <a href="mailto:cityhallmarch@domain.com" title="Subject">cityhallmarch@domain.com</a></p>
                <p>Tweet with the hashtag(s) <a href="https://twitter.com/search?q=%23ushahidi&src=typd">#marchoncityhall</a></p>
            </div>
        </div>
    </div>
</div>
