<div class="mode-bar">
    <ul class="main-nav">
        <li class="ushahidi">
            <a href="http://ushahidi.io"></a>
        </li>
        <li class="active">
            <a href="#"><i class="fa  fa-file"></i><span>Posts</span></a>
        </li>
        <li>
            <a href="#"><i class="fa  fa-check-square-o"></i><span>Tasks</span></a>
        </li>
        <li>
            <a href="#"><i class="fa  fa-line-chart"></i><span>Activity</span></a>
        </li>
        <li>
            <a href="/settings"><i class="fa  fa-cog"></i><span>Settings</span></a>
        </li>
        <li class="more" data-toggle="toggle-content">
            <a href="#"><i class="fa  fa-ellipsis-h"></i><span>More</span></a>
        </li>

        <div class="toggle-content dropdown-menu init">

            <div class="secondary-nav">
                <li class="notifications active">
                    <a href="#" class="tooltip">
                        <span>Alerts <p class="alert-number">2</p></span>
                    </a>
                </li>
                <li class="collections">
                    <a href="#" class="tooltip">
                        <span>Collections</span>
                    </a>
                </li>
                <li class="account-settings">
                    <a href="#" class="tooltip">
                        <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="" />
                        <span>Account&nbspSettings <p class="user-name">for Brandon Rosage</p></span>
                    </a>
                </li>
            </div>
        </div>
    </ul>

</div>
