<div id="share" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#x"></use>
            </svg>
           <span class="hidden">Close</span>
        </button>

       <h3 class="modal-title">
           <svg class="iconic">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#share"></use>
           </svg>
           <span class="label">Share</span>
       </h3>

       <div class="modal-body">

           <div class="listing">

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <div class="listing-item-image">
                           <img class="icon" src="/assets/img/facebook.png" alt="">
                       </div>
                       <h2 class="listing-item-title"><a href="https://www.facebook.com/sharer/sharer.php?u=THISURL">Facebook</a></h2>
                   </div>
               </div>

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <div class="listing-item-image">
                           <img class="icon" src="/assets/img/twitter.png" alt="">
                       </div>
                       <h2 class="listing-item-title"><a href="https://twitter.com/home?status=THISURL">Twitter</a></h2>
                   </div>
               </div>

               <div class="listing-item">
                   <div class="listing-item-secondary">
                       <button type="button" class="button-link listing-item-toggle">
                           <svg class="iconic">
                             <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
                           </svg>
                           <span class="button-label">Configure</span>
                       </button>
                   </div>

                   <div class="listing-item-primary">
                       <h2 class="listing-item-title listing-item-toggle">Embed</h2>
                   </div>

                   <div class="listing-item-body">
                       <div class="form-field">
                           <label>HTML</label>
                           <textarea><iframe width="560" height="315" src="https://www.youtube.com/embed/HQMcLhcwmgc" frameborder="0" allowfullscreen></iframe></textarea>
                       </div>
                   </div>
               </div>

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <h2 class="listing-item-title"><a href="">Export to CSV</a></h2>
                   </div>
               </div>
           </div>
       </div>
    </div>

    <div class="modal-overlay"></div>
 </div>

<div id="collections" class="modal">
    <div class="modal-window">
        <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
            <svg class="iconic">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#x"></use>
            </svg>
           <span class="hidden">Close</span>
        </button>

       <h3 class="modal-title">
           <svg class="iconic">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
           </svg>
           <span class="label">Collections</span>
       </h3>

       <div class="modal-body">
           <div class="form-field search">
                <label>Find a Collection</label>
                <input type="search" placeholder="Find a Collection...">
           </div>

           <div class="listing">

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <h2 class="listing-item-title"><a href="">Read later</a></h2>
                   </div>
               </div>

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <h2 class="listing-item-title"><a href="">Follow up</a></h2>
                   </div>
               </div>

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <h2 class="listing-item-title"><a href="">Photos</a></h2>
                   </div>
               </div>

               <div class="listing-item">
                   <div class="listing-item-primary">
                       <h2 class="listing-item-title"><a href="">Speaker photos</a></h2>
                       <p class="listing-item-secondary">by <a href="">Jess Shorland</a></p>
                   </div>
               </div>

           </div>
       </div>
    </div>

    <div class="modal-overlay"></div>
 </div>

 <div id="account" class="modal">
     <div class="modal-window">
         <button href="" class="button-beta button-flat modal-trigger modal-trigger-close">
             <svg class="iconic">
                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#x"></use>
             </svg>
            <span class="hidden">Close</span>
         </button>

        <h3 class="modal-title">
            Brandon Rosage <em>account settings</em>
        </h3>

        <nav class="tabs-menu" data-tabs="account-tab">
            <ul>
                <li><a href="#account-general">General</a></li>
                <li><a href="#account-notifications">Notifications</a></li>
            </ul>
        </nav>

        <div class="modal-body">

            <div id="account-general" class="account-tab">
                <div class="form-field">
                    <label>Display name</label>
                    <input type="text" value="Brandon Rosage" />
                </div>

                <div class="form-field">
                    <label>Email address</label>
                    <input type="email" value="brandon@ushahidi.com" />
                </div>

                <span data-toggle="toggle-content">Change password</span>
                <div class="form-field toggle-content">
                    <label>Password</label>
                    <input type="password" />
                </div>
            </div>

            <div id="account-notifications" class="account-tab">
                <div class="listing">
                    <h3 class="listing-heading">How you get notifications</h3>

                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button type="button" class="button-link listing-item-toggle">
                                <svg class="iconic">
                                  <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
                                </svg>
                                <span class="button-label">Configure</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                brandon@ushahidi.com
                                <span class="status-indicator green"></span>
                            </h2>
                        </div>

                        <div class="listing-item-body">

                            <div class="form-field switch">
                               <label>Send notifications to this address</label>
                               <div class="toggle-switch">
                                  <input class="tgl" id="switch1" type="checkbox" checked>
                                  <label class="tgl-btn" for="switch1"></label>
                               </div>
                            </div>

                            <div class="form-field">
                                <label>
                                    Email address
                                    <input type="email" placeholder="email@domain.com" value="brandon@ushahidi.com" />
                                </label>
                            </div>

                            <div class="form-field">
                                <button class="button-destructive">Remove account</button>
                            </div>
                        </div>
                    </div>

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button button-flat" data-modal="add-field">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                   Add account
                                </a>
                            </h2>
                        </div>
                    </div>

                </div>

                <div class="listing">
                    <h3 class="listing-heading">What you get notifications about</h3>

                    <div class="listing-item">
                        <div class="listing-item-secondary">
                            <button type="button" class="button-link">
                                <svg class="iconic">
                                  <use xlink:href="/assets/img/iconic-sprite.svg#circle-x"></use>
                                </svg>
                                <span class="button-label">Remove</span>
                            </button>
                        </div>

                        <div class="listing-item-primary">
                            <div class="listing-item-image">
                                <svg class="iconic">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/img/iconic-sprite.svg#star"></use>
                                </svg>
                            </div>

                            <h2 class="listing-item-title"><a href="">Police encounters needing translation</a></h2>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-field">
                <button type="button" class="button-link  modal-trigger">Cancel</button>
                <button type="button" class="button-alpha modal-trigger">Save &amp; close</button>
            </div>
        </div>
     </div>

     <div class="modal-overlay"></div>
  </div>
