<div class="mode-context collapsed">
    <div class="image"></div>

    <div class="description">
        <p>
            Reports and communication about the protest march Wednesday, Aug.19 to City Hall. Reports and communication about the protest march Wednesday, Aug.19 to City Hall. Reports and communication about the protest march Wednesday, Aug.19 to City Hall.
        </p>
        <div class="context-toggle"></div>
    </div>

    <div class="context-divider"></div>

    <div class="stats">
        <div class="stat-number">22</div>
        <h6 class="zeta stat-title">posts</h6>

        <div class="stat-number">2</div>
        <h6 class="zeta stat-title">forms</h6>
    </div>

    <div class="context-divider"></div>

    <div class="mode-group">
        <h6 class="zeta">How to add a post</h6>
        <p>Use the <a href="#">web form</a></p>
        <p>Send a text message to <a href="tel:15551234567">+1-555-123-4567</a> </p>
        <p>Send an email to <a href="mailto:cityhallmarch@domain.com" title="Subject">cityhallmarch@domain.com</a></p>
        <p>Tweet with the hashtag(s) <a href="https://twitter.com/search?q=%23ushahidi&src=typd">#marchoncityhall</a></p>
    </div>
</div>
