<nav class="pagination">
    <ul>
        <li class="prev"><a href="#"><i class="fa  fa-chevron-left"></i></a></li>
        <li class="active">1</li>
        <li class="pg-number"><a href="#">2</a></li>
        <li class="pg-number"><a href="#">3</a></li>
        <li class="pg-number"><a href="#">4</a></li>
        <li class="pg-number"><a href="#">5</a></li>
        <li class="pg-number"><a href="#">6</a></li>
        <li class="next"><a href="#"><i class="fa  fa-chevron-right"></i></a></li>
    </ul>
</nav>
