<nav class="pagination">
    <ul>
        <li class="prev">
            <a href="#">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
                </svg>
                <span class="hidden">Previous</span>
            </a>
        </li>
        <li>
            <ul class="page-numbers">
                <li class="active">1</li>
                <li class="pg-number"><a href="#">2</a></li>
                <li class="pg-number"><a href="#">3</a></li>
                <li class="pg-number"><a href="#">4</a></li>
                <li class="pg-number"><a href="#">5</a></li>
                <li class="pg-number"><a href="#">6</a></li>
            </ul>
        </li>
        <li class="next">
            <a href="#">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                </svg>
                <span class="hidden">Next</span>
            </a>
        </li>
    </ul>
</nav>
