<div class="single-post-listing">
    <div class="select-post">
        <input id="checkbox1" type="checkbox">
    </div>
    <div class="post-summary has-img">
        <span class="meta-data"><span class="date">January 10, 2015</span>10AM, via SMS</span>
        <ul class="categories-list-inline">
            <li class="category"><i class="fa fa-circle" style="color: #da60a2;"></i>Accident</li>
            <li class="category"><i class="fa fa-circle" style="color: #679a63;"></i>Safe Location</li>
        </ul>
        <a href="">
            <div class="post-img">
                <img src="http://placehold.it/600x600" alt="">
            </div>
            <h3>This post has an image</h3>
        </a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempolabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerclaboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="">10 comments</a>
        </p>
    </div>

    <div class="stage-and-actions">
        <div class="stage">
            <h4 class="delta-alt">
                Stage
            </h4>
            <p>Translation <a href="" class="cta">Update</a></p>
        </div>
        <div class="actions-stacked">
            <button type="button" class="button-secondary dropdown toggle-js button-hide">
                <span>Options</span>
            </button>
        </div>
        <div class="toggle-content">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <button type="button" class="button-secondary edit">
                        <a href="#!">Edit</a>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-secondary dropdown toggle-js">
                        <a href="#!">Add to Set</a>
                    </button>
                    <div class="toggle-content toggle-content-secondary">
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#!">Set #1</a></li>
                            <li><a href="#!">Set #2</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div> <!--single post listing-->
