<article class="postcard">
    <div class="post-band" style="background-color: #A51A1A;"></div>
    <div class="postcard-body">
        <h1 class="postcard-title"><a href="">Overcrowding between 5th St. &amp; Salem Ave.</a></h1>

        <div class="metadata">
            <a href="" class="metadata-author"><img src="https://api.adorable.io/avatars/40/abott@adorable.io.png" class="avatar" />Jess Shorland</a>, 45 mins, via SMS
            <span class="metadata-visibility public tooltip">
                <svg class="iconic">
                  <use xlink:href="/assets/img/iconic-sprite.svg#globe"></use>
                </svg>
                <span class="bug">This post is visible to the public</span>
            </span>
        </div>

        <div class="postcard-field">
            <img src="http://lorempixel.com/400/300/" class="postcard-image" />
        </div>
    </div>

    <span class="postcard-actions-trigger" data-toggle="dropdown-menu">
        <svg class="iconic">
          <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
    </span>
    <ul class="dropdown-menu">
        <li>
            <a href="">
            <svg class="iconic">
                <use xlink:href="/assets/img/iconic-sprite.svg#pencil"></use>
            </svg>
            <span class="label">Edit</span>
            </a>
        </li>
        <li>
            <a href="" data-modal="add-to-collection">
            <svg class="iconic">
                <use xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
            </svg>
            <span class="label">Add to Collection</span>
            </a>
        </li>
        <li>
            <a href="">
            <svg class="iconic">
                <use xlink:href="/assets/img/iconic-sprite.svg#share"></use>
            </svg>
            <span class="label">Share</span>
            </a>
        </li>
        <li>
            <a href="">
            <svg class="iconic">
                <use xlink:href="/assets/img/iconic-sprite.svg#task"></use>
            </svg>
            <span class="label">Assign to ...</span>
            </a>
        </li>
        <li>
            <a href="">
            <svg class="iconic">
                <use xlink:href="/assets/img/iconic-sprite.svg#trash"></use>
            </svg>
            <span class="label">Delete</span>
            </a>
        </li>
    </ul>
</article>
