<div class="single-post-listing">
    <div class="select-post">
        <input type="checkbox">
    </div>
    <div class="post-summary">
        <span class="meta-data"><span class="date">January 10, 2015</span>10AM, via SMS</span>
        <ul class="categories-list-inline">
            <li class="category"><i class="fa fa-circle" style="color: #da60a2;"></i>Accident</li>
            <li class="category"><i class="fa fa-circle" style="color: #679a63;"></i>Safe Location</li>
        </ul>
        <a href="">
            <h3>This post doesn't have an image, and that's okay!</h3>
        </a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempolabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerclaboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            <a href="">10 comments</a>
        </p>
    </div>

    <div class="step-and-actions">
        <div class="step">
            <h4 class="delta-alt">
                Step
            </h4>
            <p>Translation <a href="" class="cta">Update</a></p>
        </div>
        @@include('../partials/_actions-stacked.html')
    </div>

</div> <!--single post listing-->
