<div class="pl-sub-pattern">
    <h4 class="pl-h4">Postcard, default</h4>
</div>
<article class="postcard">
    <div class="post-band" style="background-color: #A51A1A"></div>
    <div class="postcard-body">
        <header class="postcard-header">
            <ul class="metadata">
                <li class="status-indicator">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <span class="label ">Published</span>
                </li>
                <li>
                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar">
                    <strong class="label">Robbie MacKay</strong>
                </li>
                <li class="tooltip">
                    <span class="label">1 hr</span>
                    <span class="bug">2016-05-12 4:32pm</span>
                </li>
            </ul>

            <div class="postcard-actions">
                <button class="button-gamma button-flat init" data-toggle="dropdown-menu">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>

                <ul class="dropdown-menu init">
                    <li>
                        <a href="post-edit.html#0">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                            </svg>
                            <span class="label">Edit</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="add-to-collection">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                            </svg>
                            <span class="label">Add to Collection</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="share">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#share"></use>
                            </svg>
                            <span class="label">Share</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="delete-post">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="label">Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="postcard-overflow">
            <div class="postcard-title">
                <div class="postcard-field">
                    <h2 class="form-label">Describe the problem</h2>
                Cracks in the road at N. Lamar Blvd. near 45th Street are causing vehicles to absorb the shock of hitting a four-inch difference in height in the pavement.</div>
            </div>
            <div class="postcard-field">
                <h2 class="form-label">Photo of the problem</h2>
                <img src="http://media.nola.com/politics/photo/elysian-fields-cracked-pavementjpg-1a41d27c73d39535.jpg" class="postcard-image">
            </div>
            <div class="postcard-field">
                <p><a href="post-detail.html#0">2 more fields...</a></p>
            </div>
        </div>

        <div class="postcard-overflow-bookend">
            <a href="post-detail.html#0" class="button button-beta button-plain">See complete response</a>
        </div>
    </div>
</article>
<div class="pl-sub-pattern">
    <h4 class="pl-h4">Postcard, bulk-actions</h4>
</div>

<article class="postcard" onclick="goToDetail(0)">
    <div class="post-band" style="background-color: #A51A1A"></div>
    <div class="listing-item-select"><input type="checkbox"></div>
    <div class="postcard-body">
        <header class="postcard-header">
            <ul class="metadata">
                <li class="status-indicator">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <span class="label ">Published</span>
                </li>
                <li>
                    <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/robbie.png" class="avatar">
                    <strong class="label">Robbie MacKay</strong>
                </li>
                <li class="tooltip">
                    <span class="label">1 hr</span>
                    <span class="bug">2016-05-12 4:32pm</span>
                </li>
            </ul>
            <div class="postcard-actions">
                <button class="button-gamma button-flat init" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    <span class="hidden">More</span>
                </button>
                <ul class="dropdown-menu init">
                    <li>
                        <a href="post-edit.html#0">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                            </svg>
                            <span class="label">Edit</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="add-to-collection">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                            </svg>
                            <span class="label">Add to Collection</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="share">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#share"></use>
                            </svg>
                            <span class="label">Share</span>
                        </a>
                    </li>
                    <li>
                        <a href="" data-modal="delete-post">
                            <svg class="iconic">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="label">Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="postcard-overflow">
            <div class="postcard-title">
                <div class="postcard-field">
                    <h2 class="form-label">Describe the problem</h2>
                    Cracks in the road at N. Lamar Blvd. near 45th Street are causing vehicles to absorb the shock of hitting a four-inch difference in height in the pavement.</div>
            </div>
            <div class="postcard-field">
                <h2 class="form-label">Photo of the problem</h2>
                <img src="http://media.nola.com/politics/photo/elysian-fields-cracked-pavementjpg-1a41d27c73d39535.jpg" class="postcard-image">
            </div>
            <div class="postcard-field">
                <p><a href="post-detail.html#0">2 more fields...</a></p>
            </div>
        </div>

        <div class="postcard-overflow-bookend">
            <a href="post-detail.html#0" class="button button-beta button-plain">See complete response</a>
        </div>
    </div>
</article>
<div class="pl-sub-pattern">
    <h4 class="pl-h4">Postcard, active</h4>
</div>
