<div class="single-post-listing">
    <div class="select-post">
        <input type="checkbox">
    </div>
    <div class="post-summary">
        <div class="post-type-marker" style="border-top-color: #da60a2;">
            <span><em>Post Type:</em> Help Needed</span>
        </div>
        <!--<ul class="categories-list-inline">
            <li class="category"><i class="fa fa-circle" style="color: #da60a2;"></i>Accident</li>
            <li class="category"><i class="fa fa-circle" style="color: #679a63;"></i>Safe Location</li>
        </ul>-->
        <div class="clearfix"></div>
        <div class="meta-data">
            <span class="date">January 10, 2015</span>10AM, via SMS
        </div>
        <div class="post-text">
            <a href="">
                <h3>This post doesn't have an image</h3>
            </a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempolabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerclaboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                <a href="">10 comments</a>
            </p>
        </div>
    </div>
    <div class="step-and-actions">
        <div class="step">
            <h4 class="delta-alt">
                Who can see this
            </h4>
            <p>Only You <a href="" class="cta">Change</a></p>
        </div>
        @@include('../partials/_actions-toggle.html')
    </div>

</div> <!--single post listing-->
