<div class="post-list-actions">
    <a href="" class="cta">Select All</a>
    <div class="bulk-actions">
        <div class="dropdown-group">
            <button type="button" class="button-secondary dropdown toggle-js">
                <span>Mark As</span>
            </button>
            <div class="toggle-content">
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#!">Spam</a></li>
                    <li><a href="#!">Duplicates</a></li>
                </ul>
            </div>
        </div>
            <button type="button" class="button-secondary alt icon-only-when-small export">
                <span>Export</span>
            </button>
            <button type="button" class="button-secondary icon-only-when-small alt trash">
                <span>Delete</span>
            </button>

    </div>
</div><!--post-list-actions-->
