<div class="pl-read-direction-nav">
    <span>Reading Direction</span>
    <ul>
        <li class="hidden">
            <a id="button-ltr" href="#">
                <svg class="iconic">
                  <use xlink:href="/assets/img/iconic-sprite.svg#arrow-left"></use>
                </svg>
            </a>
        </li>
        <li>
            <a id="button-rtl" href="#">
                <svg class="iconic">
                  <use xlink:href="/assets/img/iconic-sprite.svg#arrow-right"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
