<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.5.3/handlebars.min.js"></script>
<script src="../../js/handlebars.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="../../../node_modules/sortablejs/Sortable.min.js"></script>

<script src="../../js/custom/svg4everybody.js"></script>
<script>svg4everybody(); // run it now or whenever you are ready</script>

<script>
hbLoadLayout();
</script>
