<form role="search" class="search">
    <div class="form-field search">
        <input type="search" placeholder="Search">
    </div>

    <div class="search-options">
        <a href="#" class="button" data-toggle="search-saved">
            <span class="fa-star icon-only">Saved</span>
        </a>

        <a href="#" class="button" data-toggle="search-filters">
            <span class="fa-filter icon-only-when-small">Filters</span>
        </a>
    </div>

    <div class="dropdown-menu" data-toggle-target="search-saved">

        <div class="saved-search-input-wrapper">
            <input type="text" name="saved-search-input" class="saved-search-input" placeholder="Search Saved">
        </div>
        <ul>
            <li><a href="#">Actions on Congress Avenue</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Reports on Wednesday</a></li>
            <li><a href="#">Assigned to me</a></li>
            <li class="credit"><a href="#">Unknown form with attachment</a>
                <p>by<a href=""> Robbie MacKay</a></p>
            </li>
            <li class="credit"><a href="#">Videos</a>
                <p>by<a href=""> Robbie MacKay</a></p>
            </li>
            <li class="credit"><a href="#">Videos</a>
                <p>by<a href=""> Robbie MacKay</a></p>
            </li>
            <li class="credit"><a href="#">Videos</a>
                <p>by<a href=""> Robbie MacKay</a></p>
            </li>
            <li class="credit"><a href="#">Videos</a>
                <p>by<a href=""> Robbie MacKay</a></p>
            </li>
            <li class="credit"><a href="#">Videos</a>
                <p>by<a href=""> Robbie MacKay</a></p>
            </li>
        </ul>

        <div class="new-saved-search-wrapper">
            <p class="new-saved-search">Create New</p>
        </div>
    </div>

    <div class="dropdown-menu" data-toggle-target="search-filters">
        <fieldset>
            <legend>Forms</legend>
            <div class="form-field-wrapper">
                <div class="form-field checkbox">
                    <label for="traffic">
                        <input type="checkbox" name="traffic" value="Traffic" id="traffic"> Traffic
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="police-encounters">
                        <input type="checkbox" name="police-encounters" value="Police encounters" id="police-encounters"> Police encounters
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="protester-photos">
                        <input type="checkbox" name="protester-photos" value="Protester photos" id="protester-photos"> Protester photos
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="traffic">
                        <input type="checkbox" name="traffic" value="Traffic" id="traffic"> Traffic
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="police-encounters">
                        <input type="checkbox" name="police-encounters" value="Police encounters" id="police-encounters"> Police encounters
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="protester-photos">
                        <input type="checkbox" name="protester-photos" value="Protester photos" id="protester-photos"> Protester photos
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Categories</legend>
            <div class="form-field-wrapper">
                <div class="form-field checkbox">
                    <label for="speakers">
                        <input type="checkbox" name="speakers" value="Speakers" id="speakers"> Speakers
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="opposition">
                        <input type="checkbox" name="opposition" value="Opposition" id="opposition"> Opposition
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Who Can See It</legend>
            <div class="form-field-wrapper">
                <div class="form-field radio">
                    <label for="everyone">
                        <input type="radio" name="everyone" value="Everyone" id="everyone"> Everyone
                    </label>
                </div>
                <div class="form-field radio">
                    <label for="members">
                        <input type="radio" name="members" value="Members" id="members"> Members
                    </label>
                </div>
                <div class="form-field radio">
                    <label for="administrators">
                        <input type="radio" name="administrators" value="Administrators" id="administrators"> Administrators
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
</form>
