<form role="search" class="searchbar" data-message="search">
    <div class="searchbar-input">
        <div class="form-field search">
            <svg class="iconic">
              <use xlink:href="/assets/img/iconic-sprite.svg#magnifying-glass"></use>
            </svg>
            <input type="search" placeholder="Search">
        </div>
        <div class="searchbar-results dropdown-menu">
            <div class="form-field">
                <button class="button-plain">
                    <span class="button-label">Search all posts for "<em>Polic</em>"</span>
                </button>
            </div>

            <!-- IF: LOADING SEARCH SUGGESTIONS //
            <div class="loading">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            // END IF -->

            <div class="tool">
                <h6 class="tool-heading">Suggestions</h6>
                <dl class="dropdown-menu-body">
                    <dt class="list-item"><a href="#"><em>Polic</em>e</a></dt>
                </dl>
            </div>

            <div class="tool">
                <h6 class="tool-heading">
                    <svg class="iconic">
                      <use xlink:href="/assets/img/iconic-sprite.svg#star"></use>
                    </svg>
                    Saved
                </h6>
                <dl class="dropdown-menu-body">
                    <dt class="list-item"><a href="#">City <em>Polic</em>e Hearings</a></dt>
                    <dt class="list-item"><a href="#">Incidents involving <em>Polic</em>e</a></dt>
                </dl>
            </div>
        </div>
    </div>

    <div class="searchbar-options">
        <a href="#" class="button" data-toggle="search-saved">
            <svg class="iconic">
              <use xlink:href="/assets/img/iconic-sprite.svg#star"></use>
            </svg>
            <span class="button-label hidden">Saved</span>
        </a>

        <a href="#" class="button searchbar-options-filter" data-toggle="search-filters">
            <span class="button-label">Filters</span>
            <svg class="iconic">
              <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
        </a>
    </div>

    <div class="dropdown-menu" data-toggle-target="search-saved" data-toggle-animate>
        <h4 class="dropdown-menu-title">Saved Searches</h4>

        <div class="form-field search">
            <svg class="iconic">
              <use xlink:href="/assets/img/iconic-sprite.svg#magnifying-glass"></use>
            </svg>
             <label>Find a saved search</label>
             <input type="search" placeholder="Find a saved search...">
        </div>
        <dl class="dropdown-menu-body">
            <dt class="list-item"><a href="#">Actions on Congress Avenue</a></dt>

            <dt class="list-item"><a href="#">Photos</a></dt>

            <dt class="list-item"><a href="#">Reports on Wednesday</a></dt>

            <dt class="list-item"><a href="#">Assigned to me</a></dt>

            <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
            <dd>by <a href="">Robbie MacKay</a></dd>

            <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
            <dd>by <a href="">Robbie MacKay</a></dd>

            <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
            <dd>by <a href="">Robbie MacKay</a></dd>

            <dt class="list-item"><a href="#">Unknown form with attachment</a></dt>
            <dd>by <a href="">Robbie MacKay</a></dd>
        </dl>
        <div class="form-field">
            <button type="button" class="button-beta">
                <svg class="iconic">
                  <use xlink:href="/assets/img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="button-label">Create new</span>
            </button>
        </div>
    </div>

    <div class="dropdown-menu" data-toggle-target="search-filters" data-toggle-animate>
        <div class="dropdown-menu-body">
            <fieldset>
                <legend>Surveys</legend>

                <div class="form-field checkbox">
                    <label for="traffic">
                        <input type="checkbox" name="getting-around" checked>
                        Getting around
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="police-encounters">
                        <input type="checkbox" name="police-encounters" checked>
                        Police encounters
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="protester-photos">
                        <input type="checkbox" name="protester-photos" checked>
                        Protester photos
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="police-encounters">
                        <input type="checkbox" name="official-events" checked>
                        Official events
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="protester-photos">
                        <input type="checkbox" name="unknown">
                        Unknown
                    </label>
                </div>
                <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
            </fieldset>

            <fieldset>
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="speakers">
                        <input type="checkbox" name="speakers" value="Speakers" id="speakers"> Speakers
                    </label>
                </div>
                <div class="form-field checkbox">
                    <label for="opposition">
                        <input type="checkbox" name="opposition" value="Opposition" id="opposition"> Opposition
                    </label>
                </div>
                <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
            </fieldset>

            <fieldset>
                <legend>Who it's visible to</legend>

                <div class="form-field radio">
                    <label for="everyone">
                        <input type="radio" name="visibility" value="Everyone" checked>
                        Everyone
                    </label>
                </div>
                <div class="form-field radio">
                    <label for="members">
                        <input type="radio" name="visibility" value="Members">
                        Members
                    </label>
                </div>
                <div class="form-field radio">
                    <label for="administrators">
                        <input type="radio" name="visibility" value="Administrators">
                        Administrators
                    </label>
                </div>
                <span class="form-field-toggle">
                    <svg class="iconic">
                      <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    More
                </span>
            </fieldset>

            <fieldset>
                <legend>Date range</legend>

                <div class="form-field date">
                    <svg class="iconic">
                      <use xlink:href="/assets/img/iconic-sprite.svg#calendar"></use>
                    </svg>
                    <label class="hidden">Start date</label>
                    <input type="date" placeholder="Start date" />
                    <span class="date-joiner">to</span>
                </div>

                <div class="form-field date">
                    <svg class="iconic">
                      <use xlink:href="/assets/img/iconic-sprite.svg#calendar"></use>
                    </svg>
                    <label class="hidden">End date</label>
                    <input type="date" placeholder="End date" />
                </div>

            </fieldset>
        </div>

        <div class="form-field">
            <button type="button" class="button-link" disabled>Cancel</button>
            <button type="button" class="button-alpha" disabled>Apply filters</button>
        </div>
    </div>
</form>
