<h4 class="delta-alt">
    This Post's Steps
</h4>
<div class="stage-list">
    <button type="button" class="button-secondary dropdown toggle-content-trigger hide-when-small">
        <span>Choose the stage you'd like to edit</span>
    </button>
    <div class="stage-list-content toggle-content">
        <ul>
            <li>
                <a href="">
                    <h6 class="complete">Structure</h6>
                </a>
            </li>
            <li class="active">
                <h6>Verification</h6>
                <p class="small">
                    This is the stage you're working on now. You can add a short description.
                </p>
                <button type="button" class="button-secondary check">Mark As Complete</button>
            </li>
            <li>
                <a href="">
                    <h6>Translation</h6>
                </a>
            </li>
            <li class="disabled">
                <a href="">
                    <h6>Disabled Stage</h6>
                </a>
            </li>
        </ul>
    </div><!--end toggle content-->
</div><!--end stage list-->
