<nav class="tabs-menu">
    <label class="delta-alt">View </label>
    <button type="button" class="button-toggle tabs-menu-button-js"></button>
    <ul class="tabs-menu-list">
        <li @@if (context == 'list') {class="active"}><a class="view-list">List</a></li>
        <li @@if (context == 'map') {class="active"}><a class="view-map">Map</a></li>
        <li @@if (context == 'photos') {class="active"}><a class="view-photo">Photos</a></li>
        <li @@if (context == 'bar-chart') {class="active"}><a class="view-chart">Bar Chart</a></li>
        <li @@if (context == 'timeline') {class="active"}><a class="view-timeline">Timeline</a></li>
    </ul>
</nav>
