<div class="toolbar">
    <div class="fab">
        <button type="button" class="button-alpha button-fa" data-toggle="fab-options"><span class="fa-plus icon-only">Add</span></button>
        <ul class="fab-options">
            <li><span>Traffic</span></li>
            <li><span>Police encounters</span></li>
            <li><span>Protester photos</span></li>
            <li><span>Official events</span></li>
        </ul>
    </div>

    @@include('_search.html')

    <!--div class="views-wrapper">
        <div class="views" data-toggle="toggle-content">
            <ul>
                <li class="active map-view"></li>
                <li class="timeline-view"></li>
                <li class="table-view"></li>
            </ul>
        </div>
        <div class="toggle-content dropdown-menu init">
            <ul>
                <li><i class="fa  fa-map-marker"></i>Map</li>
                <div class="divider"></div>
                <li><i class="fa  fa-check-square-o"></i>Timeline</li>
                <li>Table</li>
            </ul>
        </div>
    </div-->
</div>
