 <div class="pl-sub-pattern-markup">
    <div class="pl-sub-pattern">
        <h4 class="pl-h4">Normal toolbar</h4>
        <div class="toolbar">
            @@include('_fab.html')
            @@include('_search.html')
            <div class="button-group">
                <button type="button" data-modal="share">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                    </svg>
                    <span class="button-label">Share</span>
                </button>
            </div>
        </div>
    </div>
</div>

 <div class="pl-sub-pattern-markup">
    <div class="pl-sub-pattern">
        <h4 class="pl-h4">Layout-d toolbar, map-view</h4>
        <div class="toolbar">
            @@include('_fab.html')
            @@include('_search-d.html')
            <div class="button-group">
                <button type="button" data-modal="share">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                    </svg>
                    <span class="button-label">Share</span>
                </button>
            </div>
        </div>
    </div>
</div>


 <div class="pl-sub-pattern-markup">
    <div class="pl-sub-pattern">
        <h4 class="pl-h4">Layout-d toolbar, data-view, logged in</h4>
        <div class="toolbar">
            @@include('_search-d.html')
            <div class="button-group">
                <button type="button" data-modal="share">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                    </svg>
                    <span class="button-label">Share</span>
                </button>
                  <button type="button" class="button-alpha" data-modal="share">
                    <span class="button-label">Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>