<div class="views-wrapper">
    <div class="views" data-toggle="toggle-content">
        <ul>
            <li class="active map-view"></li>
            <li class="timeline-view"></li>
            <li class="table-view"></li>
        </ul>
    </div>
    <div class="toggle-content dropdown-menu init">
        <ul>
            <li><i class="fa  fa-map-marker"></i>Map</li>
            <div class="divider"></div>
            <li><i class="fa  fa-check-square-o"></i>Timeline</li>
            <li>Table</li>
        </ul>
    </div>
</div>
