/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.picker__list {
    @extend .list-reset;
}
/**
 * The times on the clock.
 */
.picker__list-item {
  border-bottom: 1px solid $color-light-gamma;
  padding: $sm-spacing;
}

/* Hovered time */
.picker__list-item:hover {
  cursor: pointer;
  z-index: 10;
  color: $color-dark-alpha;
  background-color: $color-light-gamma;
}
/* Highlighted and hovered/focused time */
.picker__list-item--highlighted {
  z-index: 10;
}
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  cursor: pointer;
  color: $color-dark-alpha;
  font-weight: $bold;
  background: $color-secondary;
}
/* Selected and hovered/focused time */
.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
  z-index: 10;
  color: $color-dark-alpha;
  background: $color-secondary;
}
/* Disabled time */
.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto;
}
/**
 * The clear button
 */
.picker--time .picker__button--clear {
  margin: $sm-spacing;
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
}
.picker--time .picker__button--clear:before {
  top: -0.25em;
  color: #666;
  font-size: 1.25em;
  font-weight: bold;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
  color: #ffffff;
  border-color: #ffffff;
}

/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
.picker--time {

    .picker__holder {

        &:before,
        &:after {
            right: 0;
            left: 9999px;
            @include transition(0.3s);
        }
    }

    &.picker--opened {

        .picker__holder {

            &:before,
            &:after {
                left: 0;
            }
        }
    }
}

/**
 * The frame the bounds the time picker.
 */
.picker--time .picker__frame {

    @include media($medium) {
        height: 300px;
        overflow: scroll;
    }
}
/**
 * The picker box.
 */
.picker--time .picker__box {

    .picker__list {
        @include containerCard;
        max-width: 300px;
        margin: 0 auto;
    }
}
@media (min-height: 40.125em) {
  .picker--time .picker__box {

  }
}
