/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */

/**
 * The header containing the month and year stuff.
 */
.picker__header {
  position: relative;
  max-width: 430px;
  color: $white;
  text-align: center;
  margin: 0 auto;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  display: inline-block;
  @include typeGamma;
  margin-left: .25em;
  margin-right: .25em;
}
.picker__year {
  color: $color-tertiary;
  font-style: italic;
}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em;
}
@media (min-width: 24.5em) {
  .picker__select--month,
  .picker__select--year {
    margin-top: -0.5em;
  }
}
.picker__select--month {
  width: 35%;
}
.picker__select--year {
  width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  padding: .5em 1.25em;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  top: -0.25em;
}
@media (min-width: 24.5em) {
  .picker__nav--prev,
  .picker__nav--next {
    top: -0.33em;
  }
}
.picker__nav--prev {
  left: -1em;
  padding-right: 1.25em;
}
@media (min-width: 24.5em) {
  .picker__nav--prev {
    padding-right: 1.5em;
  }
}
.picker__nav--next {
  right: -1em;
  padding-left: 1.25em;
}
@media (min-width: 24.5em) {
  .picker__nav--next {
    padding-left: 1.5em;
  }
}
.picker__nav--prev:before,
.picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: 0.75em solid $color-tertiary;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid $color-tertiary;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: $color-light-alpha;
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5;
}
/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  max-width: 430px;
  border-color: $color-primary-beta;
  background-color: $white;
  margin-top: .75em;
  margin-right: auto;
  margin-bottom: .5em;
  margin-left: auto;

  thead {
      background-color: $color-primary-delta;
  }
}
@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom: .75em;
  }
}
.picker__table {

    th, td {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    th {
        padding: $tiny-spacing;
    }
}
/**
 * The weekday labels
 */
.picker__weekday {
  width: 14.285714286%;
  /* Increase the spacing a tad */
}
/**
 * The days on the calendar
 */
.picker__day {
  border: 1px solid transparent;
  padding: $tiny-spacing;
}
.picker__day--today {
  position: relative;
}
.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 0.5em solid $color-primary-alpha;
  border-left: .5em solid transparent;
}
.picker__day--disabled:before {
  border-top-color: #aaaaaa;
}
.picker__day--outfocus {
  color: #dddddd;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: $color-dark-alpha;
  background: $white;
}
.picker__day--highlighted {
  border-color: darken( $color-secondary, 24% );
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  cursor: pointer;
  color: $color-primary-alpha;
  background: $color-secondary;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    color: $color-dark-alpha;
    background: $color-secondary;
}
.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb;
}
/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer {
    max-width: 430px;
    text-align: center;
    margin: 0 auto;
}
.picker__button--today,
.picker__button--clear,
.picker__button--close {
  display: inline-block;
  vertical-align: bottom;
}
.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
  cursor: pointer;
}
.picker__button--today:focus,
.picker__button--clear:focus,
.picker__button--close:focus {
  outline: none;
}
.picker__button--today:before,
.picker__button--clear:before,
.picker__button--close:before {
  position: relative;
  display: inline-block;
  height: 0;
}
.picker__button--today:before,
.picker__button--clear:before {
  content: " ";
  margin-right: .45em;
}
.picker__button--today:before {
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid $color-primary-alpha;
  border-left: .66em solid transparent;
}
.picker__button--clear:before {
  top: -0.25em;
  width: .66em;
  border-top: 3px solid #ee2200;
}
.picker__button--close:before {
  content: "\D7";
  top: -0.1em;
  vertical-align: top;
  font-size: 1.1em;
  color: $color-light-gamma;
  margin-right: .35em;
}
.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}
.picker__button--today[disabled]:before {
  border-top-color: #aaaaaa;
}

/* ==========================================================================
   $DEFAULT-DATE-PICKER
   ========================================================================== */
