/*------------------------------------*\
    $GRID
\*------------------------------------*/

$grid-columns: 12;
$gutter: 1.6888em;
$max-width: 1580px;
$mobile-min-width: (30em) !default; // 480px
$mobile-up-min-width: (30.063em) !default; // 481px
$small-min-width: (48em) !default; // 768px
$medium-min-width: (64em) !default; // 1024px
$large-min-width: (64.063em) !default; // 1025px
$xlarge-min-width: (90em) !default; // 1440px
$xxlarge-min-width: (120em) !default; // 1920px

// Breakpoints
$mobile: new-breakpoint(min-width $mobile-min-width);
$mobile-up: new-breakpoint(min-width $mobile-up-min-width);
$small: new-breakpoint(min-width $small-min-width);
$medium: new-breakpoint(min-width $medium-min-width);
$large: new-breakpoint(min-width $large-min-width);
$xlarge: new-breakpoint(min-width $xlarge-min-width);
$xxlarge: new-breakpoint(min-width $xxlarge-min-width);

.wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$black: #181c21;
$text-color: $black;
$base-color: $black;
$dark-bg: $black;
$lt-black: lighten( $black, 5% );

$blue: #2274b4;
$link-color: $blue;
$link-hover-color: darken( $link-color, 10% );
$link-color-dark-bg: lighten( $link-color, 10% );
$button-bg-color: $blue;

$white: #ffffff;

$lt-gray: #f2f2f2;
$border-color: $lt-gray;

$yellow: #ffc334;
$highlight: $yellow;

/*------------------------------------*\
    $TYPE
\*------------------------------------*/

$base-font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-color: $base-color;
$sub-base-font-color: $text-color;
$body-font-weight: normal;
$body-font-weight: 400;
$body-font-style: normal;
$bold: 900;


$base-font-size: 18px;
$base-font-rem: 1.125rem;
$base-line-height: 2em;
$small-font-size: 0.8em;

@mixin typeBase {
    font-weight: 400;
    font-family: $base-font-family;
}

@mixin typeAlpha {
    font-weight: 700;
    font-family: $base-font-family;
}

@mixin typeBeta {
    font-weight: 600;
    font-family: $base-font-family;
}


/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/

$offcanvas: 600;
$topbar: 500;
$filter: 400;
$map: 300;
$body: 200;


/*------------------------------------*\
    $MISC
\*------------------------------------*/

//Transition
$transition-duration: 0.1s;

//Layout
$global-radius: 3px;
$base-spacing: 20px;
$sm-spacing: $base-spacing/2;
$lg-spacing: $base-spacing*2;
