/*------------------------------------*\
    $GRID
\*------------------------------------*/

$grid-columns: 12;     // The number of columns in the grid
$gutter: 1.6888em;     // The width of margin between columns
$max-width: 1580px;    // The max width of the grid

// Breakpoint Widths
$mobile-min-width: (30em) !default; // 480px
$mobile-up-min-width: (30.063em) !default; // 481px
$small-min-width: (48em) !default; // 768px
$medium-min-width: (64em) !default; // 1024px
$large-min-width: (80em) !default; // 1280px
$xlarge-min-width: (90em) !default; // 1440px
$xxlarge-min-width: (120em) !default; // 1920px
$tall-min-height: (650px) !default; // for vertical breakpoints
$xtall-min-height: (850px) !default; // for vertical breakpoints -- taller

// Defined Breakpoints
// http://thoughtbot.github.io/neat-docs/latest/#new-breakpoint
$mobile: new-breakpoint(min-width $mobile-min-width);
$mobile-up: new-breakpoint(min-width $mobile-up-min-width);
$small: new-breakpoint(min-width $small-min-width);
$medium: new-breakpoint(min-width $medium-min-width);
$large: new-breakpoint(min-width $large-min-width);
$xlarge: new-breakpoint(min-width $xlarge-min-width);
$xxlarge: new-breakpoint(min-width $xxlarge-min-width);
$tall: new-breakpoint(min-width $small-min-width min-height $tall-min-height);
$xtall: new-breakpoint(min-height $xtall-min-height);


/*------------------------------------*\
    $RTL SUPPORT
\*------------------------------------*/

$start: left; // start = beginning reading position
$end: right; // end = end reading position

body.rtl {
    $start: right;
    $end: left;

    // this is just for testing that the switcher works.
    // TODO: delete
    text-align: $start;

    .pl-jump-nav {
        text-align: left;
    }

    .pl-read-direction-nav {
        text-align: left;

        @include media($small) {
            text-align: right;
        }
    }
    // end testing
}





/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$black: #181c21;
$lt-black: lighten( $black, 8% );
$blue: #2274b4;
$white: #ffffff;
$lt-gray: #ebebeb;
$dk-gray: #737373;
$mid-gray: lighten( $dk-gray, 15% );
$yellow: #ffc334;
$green: #4fab2f;
$red: #de0000;

// Text
$text-color: $black;
$base-color: $black;
$dark-text-color: $dk-gray;
$big-number-color: $dk-gray;
$lt-text-color: $white;
$info-color: $blue;
$confirmation-color: $green;
$error-color: $red;

// Links
$link-color: $blue;
$link-hover-color: darken( $link-color, 20% );
$link-color-lt: lighten( $link-color, 25% );
$link-color-dark-bg: $link-color-lt;
$link-color-dark-bg-hover: lighten( $link-color-lt, 10% );

// Backgrounds
$dark-bg: $black;
$dark-gray-bg: $dk-gray;
$lt-gray-bg: lighten( $lt-gray, 5% );
$lt-bg: $white;
$dark-overlay: rgba(#262c34, .5);

// Buttons
$button-bg-create-post: $black;
$button-bg-create-post-hover: lighten( $button-bg-create-post, 10% );
$button-bg-create-post-active: lighten( $button-bg-create-post, 20% );
$button-bg-color: $blue;
$button-bg-disabled-color: $dk-gray;
$button-hover-color: darken( $button-bg-color, 10% );
$button-active-color: darken( $button-bg-color, 25% );
$button-text-color: $white;

// Progress
$progress-active-color: lighten( $lt-gray, 3% );
$progress-hover-color: darken( $lt-gray, 3% );

// Tabs
$tab-active-color: darken( $lt-gray, 5% );

// Borders
$border-color: $lt-gray;
$border-color-dark: darken( $border-color, 10% );
$border-color-hover: darken( $border-color, 10% );
$border-color-active: darken( $border-color, 25% );

// Other
$highlight: $yellow;
$sass: #CC6699;


/*------------------------------------*\
    $TYPE
\*------------------------------------*/

$base-font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-color: $base-color;
$sub-base-font-color: $text-color;
$body-font-weight: normal;
$body-font-weight: 400;
$body-font-style: normal;
$bold: 900;


$base-font-size: 18px;
$base-line-height: 1.5;
$small-font-size: em(14);

@mixin typeBase {
    font-weight: 400;
    font-family: $base-font-family;
}

@mixin typeAlpha {
    font-weight: 700;
    font-family: $base-font-family;
}

@mixin typeBeta {
    font-weight: 600;
    font-family: $base-font-family;
}


/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/

$top: 1000;
$topbar: 600;
$fixed-at-bottom: 600;
$offcanvas: 500;
$filter: 400;
$map: 300;
$body: 200;
$overlay: 100;
$bg-img: 50;
$bottom: 0;
$below: -1;




/*------------------------------------*\
    $MISC
\*------------------------------------*/

//Transition
$transition-duration: 0.1s;

//Layout
$global-radius: 5px;
$base-spacing: 20px;
$sm-spacing: $base-spacing/2;
$tiny-spacing: $base-spacing/4;
$lg-spacing: $base-spacing*2;
$huge-spacing: $base-spacing*4;

//Border
$base-border: 1px solid $border-color;
$base-border-dark: 1px solid $border-color-dark;
$base-border-hover: 1px solid $border-color-hover;
$base-border-active: 1px solid $border-color-active;
