/*------------------------------------*\
    $GRID
\*------------------------------------*/

$grid-columns: 12;
$gutter: 1.6888em;
$max-width: 1580px;
$mobile-min-width: (30em) !default; // 480px
$mobile-up-min-width: (30.063em) !default; // 481px
$small-min-width: (48em) !default; // 768px
$medium-min-width: (64em) !default; // 1024px
$large-min-width: (64.063em) !default; // 1025px
$xlarge-min-width: (90em) !default; // 1440px
$xxlarge-min-width: (120em) !default; // 1920px

// Breakpoints
$mobile: new-breakpoint(min-width $mobile-min-width);
$mobile-up: new-breakpoint(min-width $mobile-up-min-width);
$small: new-breakpoint(min-width $small-min-width);
$medium: new-breakpoint(min-width $medium-min-width);
$large: new-breakpoint(min-width $large-min-width);
$xlarge: new-breakpoint(min-width $xlarge-min-width);
$xxlarge: new-breakpoint(min-width $xxlarge-min-width);





/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$black-base: #313131;
$black-heading: #232323;
$black-title: #000000;
$black-text: #4A4A4A;

$white-base: #ffffff;

$grey-base: #f7f7f7;
$grey-heading: #f1f2f6;
$grey-border: #dddddd;

$blue-base: #323A45;
$blue-heading: #D9EDF7;
$blue-border: #BCE8F1;
$blue-text: #3A87AD;
$blue-link: #3498DB;


$yellow-heading: #FCF8E3;
$yellow-border: #FBEED5;
$yellow-text: #C09853;

$teal-base: #4dc1c1;

$green-base: #8fc266;
$green-heading: #8EC165;
$green-border: #6A914B;
$green-text: #43894E;

$green-light-heading: #DFF0D8;
$green-light-border: #D6E9C6;

$gold-base: #ffc334;

$red-base: #fa6c60;
$red-heading: #F2DEDE;
$red-border: #D0021B;
$red-text: #B94A48;

$red-light-border: #EED3D7;





/*------------------------------------*\
    $TYPE
\*------------------------------------*/

$base-font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-color: $black-base;
$sub-base-font-color: $black-text;
$body-font-weight: normal;
$body-font-style: normal;

$base-font-size: 15px;
$base-font-rem: 1.4rem;
$base-line-height: 2em;

$small-font-size: .8em;

@mixin typeBase {
    font-weight: 400;
    font-family: $base-font-family;
}

@mixin typeAlpha {
    font-weight: 700;
    font-family: $base-font-family;
}

@mixin typeBeta {
    font-weight: 600;
    font-family: $base-font-family;
}





/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/

$offcanvas: 600;
$topbar: 500;
$filter: 400;
$map: 300;
$body: 200;





/*------------------------------------*\
    $MISC
\*------------------------------------*/

//Transition
$transition-duration: 0.1s;

//Layout
$global-radius: 3px;
$base-spacing: 20px;
