/*------------------------------------*\
    $BOURBON & FRIENDS
\*------------------------------------*/

// Bourbon
// imported via the gulp sass task includePath within gulpfile.js
@import "bourbon";

// Neat
// imported via the gulp sass task includePath within gulpfile.js
@import "neat";

/*------------------------------------*\
    $CONFIG
\*------------------------------------*/

@import "settings";


/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

@import "utils/mixins";
@import "utils/helpers";

/*------------------------------------*\
$PATTERN LIBRARY
this file creates the layout and
structure of the pattern library
\*------------------------------------*/

@import "0_pattern-library/layout";
@import "0_pattern-library/header";
@import "0_pattern-library/navigation";
@import "0_pattern-library/pattern-overrides";

//BASICS
@import "0_pattern-library/basics/colors";
@import "0_pattern-library/basics/typography";
@import "0_pattern-library/basics/icons";
@import "0_pattern-library/basics/links";

//PLUGINS
@import "0_pattern-library/plugins/_jsoneditor";
@import "0_pattern-library/plugins/_prism";

//FRONT END GUIDELINES
@import "0_pattern-library/_front-end-guidelines";





/*------------------------------------*\
    $BASICS
\*------------------------------------*/
@import "1_basics/base";
@import "1_basics/bug";
@import "1_basics/buttons";
@import "1_basics/containers";
@import "1_basics/forms";
@import "1_basics/icons";
@import "1_basics/images";
@import "1_basics/progress-bar";
@import "1_basics/tables";
@import "1_basics/typography";

/*------------------------------------*\
    $FRAGMENTS
\*------------------------------------*/

@import "2_fragments/alerts";
@import "2_fragments/buttons";
@import "2_fragments/chip";
@import "2_fragments/custom-fieldset";
@import "2_fragments/dragger";
@import "2_fragments/dropdown";
@import "2_fragments/forms";
@import "2_fragments/images";
@import "2_fragments/list-items";
@import "2_fragments/listing-item";
@import "2_fragments/loading";
@import "2_fragments/message";
@import "2_fragments/metadata";
@import "2_fragments/navigation/breadcrumb";
@import "2_fragments/navigation/pagination";
@import "2_fragments/navigation/progress";
@import "2_fragments/navigation/stepper";
@import "2_fragments/task";
@import "2_fragments/tool";
@import "2_fragments/tour";
@import "2_fragments/status-indicator";

/*------------------------------------*\
    $MODULES
\*------------------------------------*/

@import "3_modules/form-sheet";
@import "3_modules/listing";
@import "3_modules/postcard";
@import "3_modules/searchbar";
@import "3_modules/survey-filter";
@import "3_modules/tabs";
@import "3_modules/tiers";
@import "3_modules/toolbox";


/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

@import "4_blocks/mainsheet";
@import "4_blocks/modal";
@import "4_blocks/mode-bar";
@import "4_blocks/mode-context";
@import "4_blocks/toolbar";


/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

@import "5_layouts/layout-general";
@import "5_layouts/layout-a";
@import "5_layouts/layout-b";
@import "5_layouts/layout-c";
@import "5_layouts/layout-modal";
@import "5_layouts/layout-embed";

// Pickadate
@import "utils/pickadate/base";

// MiniColors, color picker
@import "utils/minicolors";


// plugin specific overrides
@import "assets/sass/utils/overrides/_leaflet-overrides.scss";
