/*------------------------------------*\
    $BOURBON & FRIENDS
\*------------------------------------*/

// Bourbon
@import "bourbon";

// Neat
@import "neat";





/*------------------------------------*\
    $CONFIG
\*------------------------------------*/

@import "settings";
@import "base/global";





/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

@import "utils/extends";
@import "utils/helpers";
@import "utils/mixins";





/*------------------------------------*\
$PATTERN LIBRARY
this file creates the layout and
structure of the pattern library
\*------------------------------------*/

@import "0_pattern-library/layout";
@import "0_pattern-library/header";
@import "0_pattern-library/navigation";

//BASICS
@import "0_pattern-library/basics/colors";





/*------------------------------------*\
    $BASICS
\*------------------------------------*/

@import "1_basics/buttons";
@import "1_basics/colors";
@import "1_basics/forms";
@import "1_basics/icons";
@import "1_basics/misc";
@import "1_basics/typography";





/*------------------------------------*\
    $FRAGMENTS
\*------------------------------------*/

@import "2_fragments/navigation/pagination";
@import "2_fragments/navigation/stepper";
@import "2_fragments/accordion";
@import "2_fragments/activity-feed";
@import "2_fragments/comment";
@import "2_fragments/meta-data";
@import "2_fragments/post";
@import "2_fragments/system-messages";
@import "2_fragments/tabs";
@import "2_fragments/tag-control";
@import "2_fragments/tool-tip";





/*------------------------------------*\
    $MODULES
\*------------------------------------*/
@import "3_modules/post-popup/no-image";
@import "3_modules/post-popup/with-image";
@import "3_modules/comments-list";
@import "3_modules/filters";
@import "3_modules/post-list";





/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

@import "4_blocks/footer";
@import "4_blocks/header";
@import "4_blocks/menu";
@import "4_blocks/modal-view";
@import "4_blocks/sub-menu";





/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

@import "5_layouts/general";
@import "5_layouts/layout-a";
@import "5_layouts/layout-b";
@import "5_layouts/layout-c";
