/*------------------------------------*\
    $BOURBON & FRIENDS
\*------------------------------------*/

// Bourbon
@import "bourbon";

// Neat
@import "neat";





/*------------------------------------*\
    $CONFIG
\*------------------------------------*/

@import "settings";
@import "base/global";





/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

@import "utils/extends";
@import "utils/helpers";
// TODO: separate mixins into separate files
@import "utils/mixins";
@import "utils/mixins/read-direction";
@import "utils/mixins/_font-awesome.scss";





/*------------------------------------*\
$PATTERN LIBRARY
this file creates the layout and
structure of the pattern library
\*------------------------------------*/

@import "0_pattern-library/layout";
@import "0_pattern-library/header";
@import "0_pattern-library/navigation";
@import "0_pattern-library/pattern-overrides";

//BASICS
@import "0_pattern-library/basics/colors";
@import "0_pattern-library/basics/icons";

//PLUGINS
@import "0_pattern-library/plugins/_prism";





/*------------------------------------*\
    $BASICS
\*------------------------------------*/

@import "1_basics/colors";
@import "1_basics/forms";
@import "1_basics/icons";
@import "1_basics/typography";
@import "1_basics/meta-data";
@import "1_basics/images";





/*------------------------------------*\
    $FRAGMENTS
\*------------------------------------*/

@import "2_fragments/buttons";
@import "2_fragments/button-user-admin";
@import "2_fragments/navigation/pagination";
@import "2_fragments/navigation/stepper";
@import "2_fragments/navigation/breadcrumb";
@import "2_fragments/navigation/progress";
@import "2_fragments/categories";
@import "2_fragments/comment";
@import "2_fragments/tabs";
@import "2_fragments/filters";
@import "2_fragments/tool-tip";
@import "2_fragments/filters-count";
@import "2_fragments/user";
@import "2_fragments/alerts";
@import "2_fragments/post-type";





/*------------------------------------*\
    $MODULES
\*------------------------------------*/

@import "3_modules/post-popup";
@import "3_modules/filters";
@import "3_modules/post-list-actions";
@import "3_modules/tabs-filter";
@import "3_modules/post-summary";
@import "3_modules/post-listing";
@import "3_modules/stage-list";






/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

@import "4_blocks/header";
@import "4_blocks/main-nav";
@import "4_blocks/statistics";
@import "4_blocks/footer";
@import "4_blocks/aside";
@import "4_blocks/cards-select";





/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

@import "5_layouts/general";
@import "5_layouts/post-detail";
