/*------------------------------------*\
    $BOURBON & FRIENDS
\*------------------------------------*/

// Bourbon
@import "bourbon";

// Neat
@import "neat";





/*------------------------------------*\
    $CONFIG
\*------------------------------------*/

@import "settings";
@import "base/global";





/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

@import "utils/extends";
@import "utils/helpers";
@import "utils/mixins";

// plugin specific overrides
@import "assets/sass/utils/overrides/_leaflet-overrides.scss";





/*------------------------------------*\
$PATTERN LIBRARY
this file creates the layout and
structure of the pattern library
\*------------------------------------*/

@import "0_pattern-library/layout";
@import "0_pattern-library/header";
@import "0_pattern-library/navigation";
@import "0_pattern-library/pattern-overrides";

//BASICS
@import "0_pattern-library/basics/colors";
@import "0_pattern-library/basics/icons";

//PLUGINS
@import "0_pattern-library/plugins/_prism";





/*------------------------------------*\
    $BASICS
\*------------------------------------*/

@import "1_basics/colors";
@import "1_basics/forms";
@import "1_basics/custom-select";
@import "1_basics/icons";
@import "1_basics/typography";
@import "1_basics/meta-data";
@import "1_basics/images";





/*------------------------------------*\
    $FRAGMENTS
\*------------------------------------*/

@import "2_fragments/actions";
@import "2_fragments/buttons";
@import "2_fragments/button-user-admin";
@import "2_fragments/navigation/pagination";
@import "2_fragments/navigation/stepper";
@import "2_fragments/navigation/breadcrumb";
@import "2_fragments/navigation/progress";
@import "2_fragments/navigation/accordion";
@import "2_fragments/categories";
@import "2_fragments/comment";
@import "2_fragments/tabs";
@import "2_fragments/filters";
@import "2_fragments/tool-tip";
@import "2_fragments/user";
@import "2_fragments/alerts";
@import "2_fragments/post-type";
@import "2_fragments/activity-timestamp";





/*------------------------------------*\
    $MODULES
\*------------------------------------*/

@import "3_modules/post-popup";
@import "3_modules/filters";
@import "3_modules/post-list-actions";
@import "3_modules/tabs-filter";
@import "3_modules/post-summary";
@import "3_modules/post-listing";
@import "3_modules/activity-listing";
@import "3_modules/stage-list";
@import "3_modules/applied-filters";





/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

@import "4_blocks/header";
@import "4_blocks/map";
@import "4_blocks/main-nav";
@import "4_blocks/statistics";
@import "4_blocks/footer";
@import "4_blocks/cards-select";
@import "4_blocks/tools";
@import "4_blocks/activity-timeline";





/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

@import "5_layouts/layout-general";
@import "5_layouts/layout-b";
@import "5_layouts/layout-post-detail";
