/*------------------------------------*\
$COLORS
\*------------------------------------*/

li.pl-color {
    margin-bottom: $sm-spacing;
    text-align: center;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    @include span-columns(6);
    @include omega(2n);

    @include media($small) {
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }

    @include media($medium) {
        @include omega-reset(3n);
        @include span-columns(2);
        @include omega(6n);
        margin-bottom: $base-spacing;
    }

}

.pl-color-info {
    padding: $base-spacing+1;
    color: $white;

    &.dark-text {
        color: $black;
    }

    p {
        margin: 0;
    }

}
