/*------------------------------------*\
$COLORS
\*------------------------------------*/

li.pl-color {
    padding-top: 70px;
    margin-bottom: $sm-spacing;
    text-align: center;

    @include media($small) {
        @include span-columns(6);
        @include omega(2n);
        padding: 0;
        text-align: left;
    }

    @include media($medium) {
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }


}

.pl-color-info {
    background-color: $white;
    border: 1px solid $border-color;
    padding: $base-spacing;

    @include media($small) {
        width: 60%;
    }
}

.pl-black {
    background-color: $black;
}

.pl-blue {
    background-color: $blue;
}

.pl-yellow {
    background-color: $yellow;
}

.pl-lt-gray {
    background-color: $lt-gray;
}

.pl-dk-gray {
    background-color: $dk-gray;
}

.pl-white {
    background-color: $white;
    border: 1px solid $border-color;
}
