/*------------------------------------*\
$ICONS
\*------------------------------------*/

li.pl-icon {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 20px;

    @include media($small) {
        @include omega-reset(2n);
        @include span-columns(3);
        @include omega(4n);
    }

    [class*='fa-'] {
        margin-right: 20px;
    }
}


.iconic-sample {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;

    .icon-display {
        list-style: none;
        padding: 0 $sm-spacing;
        margin: 0 0 $lg-spacing 0;
        width: 50%;

        @include media($mobile-up) {
            width: 33.3%;
        }

        @include media($small) {
            width: 25%;
        }

        @include media($medium) {
            width: 20%;
        }
    }

    .icon-container {
        text-align: center;
    }

    svg.iconic {
        width: 18px;
        height: 18px;
        margin: $sm-spacing;
    }
}
