.bug {
    display: inline-block;
    position: relative;
    color: $bg-white;
    @include typeBase;
    text-align: center;
    border-radius: 25px;
    background: $dark-blue;
    padding: $tiny-spacing $sm-spacing;
    @include direction;

    .subtext {
        display: block;
        margin-top: 4px;
        font-size: .857142857em;
        color: $dark-gray;
    }

    img.avatar {
        display: inline-block;
        vertical-align: middle;
        width: $base-spacing;
        height: $base-spacing;
        @include margin-right(4px);
    }

    .badge {
        height: $sm-spacing;
        width: $sm-spacing;
        font-size: 10px;
        @include lrswap(margin, 0 0 3px 8px);
    }

    svg.iconic {
        position: absolute;
        top: 50%;
        @include right(10px);
        margin-top: -6px;
        fill: $disabled-gray;

        &:hover {
            cursor: pointer;
            fill: darken($gold, 20%);
        }

        + * {
            display: block;
            @include padding-right(20px);
        }
    }

    .label {
        vertical-align: middle;
        @include padding-right($sm-spacing);
    }

}
