/*------------------------------------*\
$BUTTONS
\*------------------------------------*/

button,
.button,
input[type="button"] {
    @include direction;
    display: inline-block;
    outline: none;
    font-family: $base-font-family;
    font-weight: $bold;
    font-size: em(16px);
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.35;
    letter-spacing: 0.2px;
    border: 3px solid $black;
    border-radius: $global-radius;
    @include margin-right($sm-spacing);
    @include lrswap(padding, $tiny-spacing $lg-spacing);
    @include transition(0.3s);
    color: $bg-white;
    background-color: $black;

    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        background-color: lighten( $black, 10% );
        border: 3px solid lighten( $black, 10% );
    }

    &[disabled] {
        cursor: not-allowed;
        color: $bg-white;
        background-color: $disabled-gray;
        border: 3px solid $disabled-gray;
        box-shadow: none;

        &:hover {
            background: $disabled-gray;
        }
    }

    &.button-beta[disabled] {
        color: $disabled-gray;
        border-color: $disabled-gray;

        &:hover {
            background: transparent;
            border-color: $disabled-gray;
        }
    }

    &.button-loading {
        position: relative;
        padding-top: 14px;
        color: $black;
        background-color: $disabled-gray;
        border-color: $disabled-gray;
        cursor: not-allowed;

        .loading-bar {
            position: absolute;
            top: -3px;
            @include left(-3px);
            height: 8px;
            border-radius: 5px 6px 6px 0;
        }
    }

    &.button-beta {
        color: $black;
        background-color: transparent;
        border: 3px solid $black;

        &:hover {
            border-color: lighten( $black, 10% );
        }

        &.button-loading {
            color: $disabled-gray;
            border-color: $disabled-gray;
        }

    }

    &.button-gamma {
        color: $accent-purple;

        &:hover,
        &:active,
        &:focus {
            color: darken( $accent-purple, 10% );
            background-color: transparent;
            border: 3px solid transparent;
        }

        &:visited {
            color: $dark-gray;
        }
    }

}

.button-alt {
    @extend .button;
    color: $black;
    background-color: $gold;
    border: 3px solid $gold;

    &:hover,
    &:active,
    &:focus {
        background-color: darken( $gold, 10% );
        border: 3px solid darken( $gold, 10% );
        color: $black;
    }

    &.button-loading {

        &:hover {
            background-color: $disabled-gray;
            border-color: $disabled-gray;
        }

        &:active,
        &:focus {
            background-color: $disabled-gray;
            border-color: $disabled-gray;
        }
    }

    &.button-beta {
        color: $gold;
        border: 3px solid $gold;

        &:hover {
            background: transparent;
            border-color: lighten( $gold, 10% );
        }

        &:active,
        &:focus {
            background-color: $black;
            border: 3px solid darken( $gold, 10% );
        }

        &.button-loading {
            border-color: $disabled-gray;

            &:active,
            &:focus {
                background: transparent;
                border-color: $disabled-gray;
                color: $black;
            }
        }
    }

    &.button-gamma {
        color: $bg-white;

        &:hover,
        &:active,
        &:focus, {
            color: darken( $bg-white, 10% );
        }
    }

}

.button-gamma {
    background-color: transparent;
    border-color: transparent;
    margin-top: $sm-spacing !important;
    @include padding-left(0);

    @include media($medium) {
        margin-top: 0;
    }

    &:hover {
        background: transparent;
        border-color: transparent;
    }
}

.button-destructive {
    color: $bg-white;
    background-color: $error-red;
    border: 3px solid $error-red;

    &:hover {
        background-color: darken( $error-red, 10% );
        border: 3px solid darken( $error-red, 10% );
    }
}

.button-group {
    @include direction
    margin-top: $sm-spacing;
    margin-bottom: $lg-spacing;

    button,
    .button {
        margin-bottom: 0;

        &:last-child {
            margin: 0;
        }
    }
}
