.sheet {
    @include equal-radius;
    background-color: $dark-gray;
    box-shadow: 0 0 16px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.24);
}

.menu {
    @include equal-radius;
    background-color: $dark-gray;
    box-shadow: 0 0 8px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.24);
}

.bar {
    @include equal-radius;
    background-color: $bg-white;
    box-shadow: 0 0 4px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.24);
}

.card {
    @include equal-radius;
    background-color: $bg-white;
    border: 1px solid $black;
}
