/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

.container {
	clear:  both;
    max-width: 1200px;
    margin: 0 auto;
    @include outer-container;
}

.container-centered {
	@extend .container;
	text-align: center;
}

.hidden {
    display: none !important;
}

.hide-when-mobile, .button.hide-when-mobile {
    display: inline-block;
    position: relative;

    @include media($mobile) {
        display: none;
    }

}

.hide-when-small, .button.hide-when-small {
    position: relative;

    @include media($small) {
        display: none;
    }

}

.hide-when-large, .button.hide-when-large {
    position: relative;

    @include media($large) {
        display: none;
    }

}

.hidden-content, .toggle-content {
    display: none;

    ul {
        @include margin-left(0);
        margin-bottom: 0;

        li {
            display: inline-block;
            @include margin-right(10px)
        }

    }

}

.clearfix {
    clear: both;
}

.fade-out {
    opacity: 0 !important;
}

.fade-in {
    opacity: 1 !important;
}

.has-fixed-bottom { //this goes on the body when something gets fixed to the bottom
    padding-bottom: 72px;

    @include media($small) {
        padding-bottom: 0;
    }

}

.fixed-bottom {
    width: 100%;
    border-top: $base-border;
    background: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $sm-spacing;
    z-index: $fixed-at-bottom;

    @include media($small) {
        width: auto;
        border-top: 0px;
        background: transparent;
        position: relative;
        padding: 0;
        z-index: $bottom;
    }

    button.button-primary {
        margin: 0;
        float: none;
    }

}

.absolute {
    position: absolute !important;
}

.visible {
    display: block !important;
}

.zebra-list { //this is a helper class for lists of gray & white (most list pages)
    background: $white;
    border-top: $base-border;

    &:nth-child(odd) {
        background: $lt-gray-bg;
    }

    &:last-of-type {
        border-bottom: $base-border;
    }

}

.zebra-list-alt {
    @extend .zebra-list;

    &:nth-child(even) {
        background: $lt-gray-bg;
    }

    &:nth-child(odd) {
        background: $white;
    }

}

.divider  {
    height: 1px;
    width: 100%;
    background: $lt-gray;
    margin: $sm-spacing 0;
    clear: both;

    &.padded {
        margin: $base-spacing 0;
    }

    &.white {
        background: $white;
    }
}

.inline {
    display: inline;
}

// media: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
.media {

    .img {
        @include float(left);
        //margin-right: $sm-spacing;

        img{
            display: block;
        }

    }

    .imgExt{
        @include float(right);
    }

}

.media, .bd {
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}
