/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.wrapper {
    background-color: $white;
    max-width: $max-width;
    margin: 0 auto;
}

.container {
	clear:  both;
    max-width: 1200px;
    margin: 0 auto;
}
