/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.wrapper {
    background-color: $white;
    max-width: $max-width;
}

.container {
	clear:  both;
    max-width: 1200px;
    margin: 0 auto;
    @include outer-container;
}

.container-centered {
	@extend .container;
	text-align: center;
}

.hidden {
    display: none !important;
}

.fade-out {
    opacity: 0 !important;
}

.fixed-bottom {
    padding-bottom: 52px;

    @include media($small) {
        padding-bottom: 0;
    }
    
}

.has-full-header {
    margin-top: 330px;
}