/*------------------------------------*\
$LAYOUT
\*------------------------------------*/
.wrapper {
    @include clearfix;
    max-width: $max-width;
    margin: 0 auto;
    flex: 1 0 auto;
}

.container {
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    @include outer-container;
}

.container-centered {
    @extend .container;
    text-align: center;
}

.hidden {
    display: none !important;
}

.hide-when-mobile {
    display: inline-block;
    position: relative;

    @include media($mobile) {
        display: none;
    }

}

.hide-until-small {

    @include media($small-down) {
        display: none;
    }

}

.hide-when-small {

    @include media($small) {
        display: none;
    }

}

.hide-until-medium {

    @include media($medium-down) {
        display: none;
    }

}

.hide-when-medium {

    @include media($medium) {
        display: none;
    }

}

.button.hide-when-large,
.hide-when-large {
    position: relative;

    @include media($large) {
        display: none;
    }

}

.hidden-content {
    display: none;

    ul {
        @include margin-left(0);
        margin-bottom: 0;

        li {
            display: inline-block;
            @include margin-right(10px)
        }

    }

}

.clearfix {
    clear: both;
}

.fade-out {
    opacity: 0 !important;
}

.fade-in {
    opacity: 1 !important;
}

.has-fixed-bottom {
    //this goes on the body when something gets fixed to the bottom
    padding-bottom: 72px;

    @include media($small) {
        padding-bottom: 0;
    }

}

.fixed-bottom {
    width: 100%;
    border-top: $base-border;
    background: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $sm-spacing;
    z-index: $fixed-at-bottom;

    @include media($small) {
        width: auto;
        border-top: 0;
        background: transparent;
        position: relative;
        padding: 0;
        z-index: $bottom;
    }

    button.button-primary {
        margin: 0;
        float: none;
    }

}

.absolute {
    position: absolute !important;
}

.visible {
    display: block !important;
}

.divider {
    height: 1px;
    width: 100%;
    background: $color-light-beta;
    margin: $sm-spacing 0;
    clear: both;

    &.padded {
        margin: $base-spacing 0;
    }

    &.white {
        background: $lt-brown;
    }

}

.inline {
    display: inline;
}

// media: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
.media {

    .img {
        @include float(left);
        //margin-right: $sm-spacing;

        img {
            display: block;
        }

    }

    .imgExt {
        @include float(right);
    }

}

.bd,
.media {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.segment {
    margin: 30px auto;
}

.post-band {
    // parent needs to be position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
    @include left(0);
    width: 4px;
    // border-radius: 2px 0 0 2px;
    background-color: #EEEEEE;
}

.swatch {
    display: inline-block;
    width: $sm-spacing;
    height: $sm-spacing;
    background-color: $color-light-gamma;
    box-shadow: 0 0 1px rgba(0,0,0,.24) inset;
    margin-right: $tiny-spacing;
}

.badge {
    display: inline-block;
    height: $base-spacing;
    width: $base-spacing;
    color: black;
    font-size: 13px;
    font-size: .928571429rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.9;
    white-space: nowrap;
    vertical-align: middle;
    @include equal-radius(100%);
    background: $color-secondary;
}
