@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-regular/Lato-regular.eot');
  src: url('../fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('../fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('../fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('../fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('../fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Lato-900/Lato-900.eot');
  src: url('../fonts/Lato-900/Lato-900.eot?#iefix') format('embedded-opentype'),
       local('Lato Black'),
       local('Lato-900'),
       url('../fonts/Lato-900/Lato-900.woff2') format('woff2'),
       url('../fonts/Lato-900/Lato-900.woff') format('woff'),
       url('../fonts/Lato-900/Lato-900.ttf') format('truetype'),
       url('../fonts/Lato-900/Lato-900.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Lato-italic/Lato-italic.eot');
  src: url('../fonts/Lato-italic/Lato-italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Italic'),
       local('Lato-italic'),
       url('../fonts/Lato-italic/Lato-italic.woff2') format('woff2'),
       url('../fonts/Lato-italic/Lato-italic.woff') format('woff'),
       url('../fonts/Lato-italic/Lato-italic.ttf') format('truetype'),
       url('../fonts/Lato-italic/Lato-italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Lato-700italic/Lato-700italic.eot');
  src: url('../fonts/Lato-700italic/Lato-700italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('../fonts/Lato-700italic/Lato-700italic.woff2') format('woff2'),
       url('../fonts/Lato-700italic/Lato-700italic.woff') format('woff'),
       url('../fonts/Lato-700italic/Lato-700italic.ttf') format('truetype'),
       url('../fonts/Lato-700italic/Lato-700italic.svg#Lato') format('svg');
}

