/*------------------------------------*\
    $GENERAL SELECTORS
\*------------------------------------*/

* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    font-size: 87.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    // Pattern Library
    &.pl {

        body {
             background-color: #fff;
             padding: 10px;
        }
    }
}

body {
    color: $text-color;
    @include typeBase;
    font-family: $base-font-family;
    overflow-x: hidden;
    background-color: $color-primary-delta;

    &.solid {
        background-color: $mid-black;
    }
    &.bg-image {
        background: url(../img/header-bk.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
    }
}

::selection ,
::-moz-selection {
    background: #e4e64c;
    color: #000;
    text-shadow: none;
}




/*------------------------------------*\
    $GLOBAL COMBOS
\*------------------------------------*/

article, aside, details, fig caption, figure, footer, header, group, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

.clearfix-alt { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

.noscroll {
    overflow: hidden;
}

.nodisplay {
    display: none;
}





/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {

}

fieldset {
    border: none;
}

.form-heading {

}

label {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {

    &:focus{

    }
}

input[type="radio"]{

}

input[type="checkbox"]{

}

input[type="submit"] {

    &:hover, &:focus{

    }
}
