.sheet {
    @include equal-radius;
    background-color: $color-light-delta;
    box-shadow: 0 0 16px rgba(0,0,0,0.12),
        0 16px 16px rgba(0,0,0,0.24);
}

.menu {
    @include equal-radius;
    background-color: $color-light-delta;
    box-shadow: 0 0 8px rgba(0,0,0,0.12),
        0 8px 8px rgba(0,0,0,0.24);
}

.bar {
    @include equal-radius;
    background-color: $white;
    box-shadow: 0 0 4px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.24);
}

.card {
    @include equal-radius;
    background-color: $white;
    box-shadow: 0 0 2px rgba(0,0,0,0.12),
        0 2px 2px rgba(0,0,0,0.24);
}
