.custom-select {
    position: relative;
    display: inline-block;
    top: -2px;
    @include icon($after, chevron-down) {
        @include radius(0, $global-radius, $global-radius, 0);
        position: absolute;
        top: 0;
        @include right(0);
        line-height: 30px;
        text-shadow: none;
        padding: 0 8px;
        pointer-events: none;
        color: $yellow;
   }
   margin: $sm-spacing 0 $base-spacing;

    select {
        min-height: 33px;
        @include direction;
        @include radius($global-radius);
        border: $base-border;
        background: $white;
        @include lrswap(padding, $tiny-spacing 30px $tiny-spacing $sm-spacing);
        font-family: $base-font-family;
        font-weight: 400;
        font-size: em(15);
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
