/*------------------------------------*\
$FORMS
\*------------------------------------*/

.input-label, .filter-label {
   @extend .delta-alt;
   display: block;
   @include lrswap(padding, 0 $sm-spacing 0 0);

   &.error {
      color: $error-color;
   }

   &.success {

      @include icon($after, check-circle) {
         color: $confirmation-color;
         display: inline-block;
         font-size: em(18);
         @include padding-left($tiny-spacing);
      }

   }

   + .small {
      font-style: italic;
   }

}

fieldset {
   position: relative;
   padding-top: 50px;

   legend {
      position: absolute;
      top: 0;
      @include left(0);
      @extend .delta-alt;

      + p {
         margin-top: -5px;
      }
   }

   .form-field {
      margin-bottom: 0;
   }
}

label[required], label.required {
   @include icon($after, asterisk) {
      position: relative;
      top: -6px;
      font-size: 6px;
      @include lrswap(padding, 0 1px 0 5px);
      color: $error-color;
   }
   @include padding-left(2px);
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
   @include transition;
   @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.1), $inset: true);
   @include typeBase;
   @include direction;
   display: block;
   font-size: em(16);
   @include text-align(left);
   outline-color: $white;
   border: $base-border-dark;
   @include border-top-radius($global-radius);
   @include border-bottom-radius($global-radius);
   color: $text-color;
   padding: $tiny-spacing $sm-spacing;
   margin: $sm-spacing 0 $base-spacing;
   width: 100%;
   max-width: 400px;

   &.error {
      border-color: $error-color;

      &:focus {
         border-color: $error-color;
      }

   }

   + p.alert {
      margin-top: -$tiny-spacing;
   }

   + button,
   + [type="button"] {
      margin-top: -$sm-spacing;
   }

   &:focus {
      @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.3), $inset: true);
      border-color: $black;
   }

   &[disabled] {
      @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,0), $inset: true);
      border-color: $lt-gray;
   }

   .rtl & {
      max-width: 100%;
   }
}

input[type="file"] {
   @include no-shadow;
}

.input-inline { //for when a button is next to the input
   @include direction;
   clear: both;

   input {
      display: inline;
      @include margin-right($sm-spacing);
      margin-bottom: $sm-spacing;
      //width: 70%;

      @include media($small) {
         width: 70%;
      }
   }

   button {
      //height: 35px;
      @include lrswap(padding, 7px 15px 9px);
   }

}

input[type="checkbox"],
input[type="radio"] {
   display: inline-block;
   @include float(left);
   clear: both;
   @include lrswap(margin, 0 $sm-spacing $sm-spacing 0);
   width: auto;

   &:disabled {

      &:hover {
         cursor: not-allowed;
      }

      + label {
         color: $dk-gray;
      }
   }
}

.checkbox-label,
.radio-label {
   @include float(left);
   clear: both;
}

input[type="file"] {
   padding: 5px 0px;
   border: 0;
}

textarea {
   width: 100%;
   max-width: 100%;
   height: 120px;
}

select {
   -webkit-appearance: menulist;
   height: 32px;
   font-size: em(14);
   //border: 1px solid $grey-border;
}

form, .form {

   &.dk-bg {
      @include equal-radius;
      border: 2px solid darken( $dk-brown, 10% );
      background-color: $dk-brown;
      padding: $base-spacing;

      table {

         tbody {

            tr {

               &:nth-child(even) {
                  background-color: $lt-bg;
               }
            }
         }
      }
   }

   table {
      width: 100%;
      max-width: 100%;
   }

   button, input[type="button"] {
      margin: $sm-spacing 0 $base-spacing;
   }
}

.tgl{//http://codepen.io/mallendeo/pen/eLIiG
   display: none !important;
   // add default box-sizing for this scope
   &, &:after, &:before,
   & *, & *:after, & *:before,
   & + .tgl-btn {
      box-sizing: border-box;

      &::selection{
         background: none;
      }
   }

   + .tgl-btn {
      @include direction;
      outline: 0;
      display: inline-block;
      width: 55px;
      height: 30px;
      position: relative;
      cursor: pointer;
      user-select: none;
      background: $mid-gray-bg;
      border-radius: 2em;
      padding: 3px;
      transition: all .4s ease;

      &:after, &:before {
         position: relative;
         display: block;
         content: "";
         width: 50%;
         height: 100%;
      }

      &:after {
         @include left(0);
         border-radius: 50%;
         background: $lt-bg;
         transition: all .2s ease;
      }

      &:before {
         display: none;
      }

   }

   &:checked{

      + .tgl-btn {
         background: $confirmation-color;

         &:after {
            @include left(50%);
            background: $white;
         }

      }

   }

}
