/*------------------------------------*\
    $FORMS
\*------------------------------------*/

label.input-label, label.filter-label {
    @extend .delta-alt;
    display: block;
    padding: 0 $sm-spacing 0 0;

    &.error {
        color: $error-color;
    }

    &.required:after {
        content:"*";
    }

    + .small {
        font-style: italic;
    }

}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    display: block;
    font-size: em(18);
    outline-color: $white;
    border: $base-border-dark;
    color: $text-color;
    @include typeBase;
    padding: $tiny-spacing $sm-spacing;
    margin: $sm-spacing 0 $base-spacing;
    @include transition;
    @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.1), $inset: true);
}

input[type="text"].error {
    border-color: $error-color;
}

input[type="text"].success {
    color: $text-color;
}

span.input-icon {

    input {
        display: inline-block;
    }

    &.error {
        @include icon(after, alert) {
            color: $error-color;
            display: inline-block;
            font-size: em(18);
            padding-left: $tiny-spacing;
        }
    }

    &.success {
        @include icon(after, check-circle) {
            color: $confirmation-color;
            display: inline-block;
            font-size: em(18);
            padding-left: $tiny-spacing;
        }
    }

}

.clearfix + p.alert {
    margin-top: -30px; 
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin: 0 $sm-spacing $sm-spacing 0;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    font-size: em(18);
}

textarea {
    width: 100%;
    height: 120px;
}

select {
    -webkit-appearance: menulist;
    height: 32px;
    font-size: em(14);
    //border: 1px solid $grey-border;
}

form {
    p {
        font-size: em(14);
        margin-bottom: 1em;
    }
}

.tgl{//http://codepen.io/mallendeo/pen/eLIiG
    display: none !important;
    // add default box-sizing for this scope
    &, &:after, &:before,
    & *, & *:after, & *:before,
    & + .tgl-btn {
        box-sizing: border-box;
        
        &::selection{
            background: none;
        }

    }
    
    + .tgl-btn {
        outline: 0;
        display: block;
        width: 55px;
        height: 30px;
        position: relative;
        cursor: pointer;
        user-select: none;
        background: $mid-gray-bg;
        border-radius: 2em;
        padding: 3px;
        transition: all .4s ease;
        
        &:after, &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
            border-radius: 50%;
            background: $lt-bg;
            transition: all .2s ease;
        }

        &:before {
            display: none;
        }

    }

    &:checked{

        + .tgl-btn {
            background: $confirmation-color;
            
            &:after {
                left: 50%;
                background: $white;
            }

        }

    }

}