/*------------------------------------*\
$FORMS
\*------------------------------------*/

label,
.form-label {
    @include typeGamma;

    svg.iconic {
        width: 0.8em;
        height: 0.8em;
        fill: $color-light-alpha;
        @include margin-left($tiny-spacing);
    }

    &.error {
        color: $error-color;
    }

    &.required {

        &:after {
            content: '\2217';
            position: relative;
            top: -2px;
            color: $red;
            font-weight: normal;
            font-size: 1.05em;
            @include margin-left(4px);
        }
    }

    [role="article"] & {
        font-size: 20px;
        font-size: 1.428571429rem;
    }
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    @include direction;
    display: inline-block;
    width: 100%;
    max-width: 450px;
    color: $text-color;
    @include typeBase;
    font-family: $base-font-family;
    line-height: 1.4;
    @include text-align(left);
    outline-color: $white;
    border: $base-border-dark;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    padding: $tiny-spacing $sm-spacing;
    @include transition;
    @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.1), $inset: true);

    &.error {
        border-color: $error-color;

        &:focus {
            border-color: $error-color;
        }

    }

    + button,
    + [type="button"],
    + .button {
        margin-top: $tiny-spacing;

        @include media($medium) {
            margin-top: -$sm-spacing;
        }
    }

    &:focus {
        box-shadow: 0 0 4px 1px $color-secondary,
            inset 0 1px 1px rgba(0,0,0,.3);
        border-color: $black;
    }

    &[disabled] {
        @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,0), $inset: true);
        border-color: $lt-gray;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-dark-gamma;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color-dark-gamma;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color-dark-gamma;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color-dark-gamma;
    }
}

input[type="search"] {
    @include equal-radius;
    @include padding-right($tiny-spacing);
    -webkit-appearance: none;

    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}

input[type="file"] {
    @include no-shadow;

    + button,
    + [type="button"],
    + .button {
        margin-top: 0;
    }
}

.input-inline { //for when a button is next to the input
    @include direction;
    clear: both;
    @include media($small) {
        display: flex;
        margin: $sm-spacing auto;
    }

    input {
        @include media($small) {
            margin: auto !important;
            margin-right: $sm-spacing !important;
            max-width: 100%;
        }
    }

    button {
        @include lrswap(padding, 7px 15px 9px);
        @include media($small) {
            display: flex;
            flex-wrap: nowrap;
            height: 35px;
            margin: auto !important;
        }

        .loading {
            @include media($small) {
                display: flex;
                justify-content: space-between;
                width: 40px;
            }
        }
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    clear: both;
    width: $base-font-size;
    height: $base-font-size;
    padding: 0;

    &:checked {

    }

    &:disabled {

        &:hover {
            cursor: not-allowed;
        }

        + label {
            color: $dk-gray;
        }
    }
}

//TODO: Revisit and clean up
/* Customize the label (the container) */
.large-checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      // padding-top: 10px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

/* Hide the browser's default checkbox */
.large-checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      margin-top:5px;
      width: 25px;
      background-color: white;
      border-radius: 2px;
      border: 1px solid $lt-black;
}

/* On mouse-over, add a grey background color */
.large-checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.large-checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.large-checkbox-container input:checked ~ .checkmark:after {
  display: block;

}

/* Style the checkmark/indicator */
.large-checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

textarea {
    width: 100%;
    max-width: 100%;

    + button,
    + [type="button"],
    + .button {
        margin-top: $tiny-spacing;
    }
}

select {
    @include direction;
    height: 37px;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: 1.4;
    @include equal-radius;
    border: $base-border-dark;
    //background: $color-light-delta url(../img/icons/chevron-bottom.svg) 90% center no-repeat;
    background-color: $color-light-delta;
    @include lrswap(padding, $tiny-spacing 26px $tiny-spacing $tiny-spacing);
}

.custom-select {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        @include right(10px);
        width: 7px;
        height: 7px;
        background: transparent;
        border-top: 2.5px solid $color-light-alpha;
        border-right: 2.5px solid $color-light-alpha;
        margin-top: -6px;
        @include rotate(135deg);
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;

        option {
            color: $color-dark-beta;
            background-color: $white;
        }
    }
}

fieldset {
    position: relative;
    border: none;

    legend {
        @include typeGamma;
        margin-bottom: $base-spacing;

        [role="article"] & {
            font-size: 20px;
            font-size: 1.428571429rem;
        }

        &.required {

            &:after {
                content: '\2217';
                position: relative;
                top: -2px;
                color: $red;
                font-weight: normal;
                font-size: 1.428571429em;
                @include margin-left(4px);
            }
        }

        svg.iconic {
            fill: $text-color;
            @include margin-right(4px);
        }

        + p {
            margin-top: -5px;
        }
    }
}

form, .form {

    &.dk-bg {
        @include equal-radius;
        border: 2px solid darken( $dk-brown, 10% );
        background-color: $dk-brown;
        padding: $base-spacing;

        table {

            tbody {

                tr {

                    &:nth-child(even) {
                        background-color: $lt-bg;
                    }
                }
            }
        }
    }

    table {
        width: 100%;
        max-width: 100%;
    }
}

.tgl {//http://codepen.io/mallendeo/pen/eLIiG
    display: none !important;
    // add default box-sizing for this scope
    &, &:after, &:before,
    & *, & *:after, & *:before,
    & + .tgl-btn {
        box-sizing: border-box;

        &::selection{
            background: none;
        }
    }

    + .tgl-btn {
        @include direction;
        outline: 0;
        display: inline-block;
        width: 44px;
        height: 16px;
        position: relative;
        cursor: pointer;
        user-select: none;
        border-radius: 2em;
        background: $color-light-beta;
        transition: all .4s ease;

        &:after, &:before {
            display: block;
            content: "";
            position: relative;
            top: -4px;
            width: 50%;
            height: 22px;
            box-shadow: 0 0 2px rgba(0,0,0,0.12),
            0 2px 2px rgba(0,0,0,0.24);
        }

        &:after {
            @include left(0);
            border-radius: 50%;
            background: $lt-bg;
            transition: all .2s ease;
        }

        &:before {
            display: none;
        }

    }

    &:checked{

        + .tgl-btn {
            background: lighten( $confirmation-color, 40% );

            &:after {
                @include left(50%);
                background: $confirmation-color;
            }

        }

    }

    &:disabled {

        + .tgl-btn {
            background: $color-light-gamma;

            &:after {
                background-color: $color-light-beta;
                @include no-shadow;
            }

            &:hover {
                cursor: not-allowed;
            }

        }
    }

}

.form-field-preview {

    .form-field {

        &.checkbox,
        &.radio {

            &.disabled {

                label {

                    &:hover {
                        cursor: default;
                    }
                }
            }
        }
    }
}

[contenteditable="true"] {
    @include transition(0.3s);

    &:focus {
        outline-color: $white;
        @include border-top-radius($global-radius);
        @include border-bottom-radius($global-radius);
        padding: $tiny-spacing $sm-spacing;
        box-shadow: 0 0 4px 1px $color-secondary,
            inset 0 1px 1px rgba(0,0,0,.3);
    }

    &:empty:before {
        content: attr(placeholder);
        display: inline-block; /* For Firefox */
    }
}
