/*------------------------------------*\
$FORMS
\*------------------------------------*/

label,
.form-label {
    @extend .caps;

    &.error {
        color: $error-color;
    }

    &.required {

        &:after {
            content: '\2217';
            position: relative;
            top: -2px;
            color: $red;
            font-weight: normal;
            font-size: 1.428571429em;
            margin-left: 4px;
        }
    }
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
   @include direction;
   display: block;
   width: 100%;
   max-width: 450px;
   color: $text-color;
   @include typeBase;
   font-family: $base-font-family;
   line-height: 1.4;
   @include text-align(left);
   outline-color: $white;
   border: $base-border-dark;
   @include border-top-radius($global-radius);
   @include border-bottom-radius($global-radius);
   padding: $tiny-spacing $sm-spacing;
   @include transition;
   @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.1), $inset: true);

   &.error {
      border-color: $error-color;

      &:focus {
         border-color: $error-color;
      }

   }

   + button,
   + [type="button"] {
      margin-top: -$sm-spacing;
   }

   &:focus {
      @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,.3), $inset: true);
      border-color: $black;
   }

   &[disabled] {
      @include box-shadow($top: 1px, $left: 0, $blur: 1px, $spread: 0, $color: rgba(0,0,0,0), $inset: true);
      border-color: $lt-gray;
   }

   .rtl & {
      max-width: 100%;
   }
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="file"] {
   @include no-shadow;
}

.input-inline { //for when a button is next to the input
   @include direction;
   clear: both;

   input {
      display: inline;
      @include margin-right($sm-spacing);
      margin-bottom: $sm-spacing;
      //width: 70%;

      @include media($small) {
         width: 70%;
      }
   }

   button {
      //height: 35px;
      @include lrswap(padding, 7px 15px 9px);
   }

}

input[type="checkbox"],
input[type="radio"] {
   display: inline-block;
   clear: both;
   width: $base-font-size;
   height: $base-font-size;

   &:checked {
       background-color: $color-secondary;
   }

   &:disabled {

      &:hover {
         cursor: not-allowed;
      }

      + label {
         color: $dk-gray;
      }
   }
}

.checkbox-label,
.radio-label {
   @include float(left);
   clear: both;
}

input[type="file"] {
   padding: 5px 0px;
   border: 0;
}

textarea {
   width: 100%;
   max-width: 100%;
   height: 120px;
}

select {
    @include direction;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: 1.4;
    @include equal-radius;
    border: $base-border-dark;
    //background: $color-light-delta url(../img/icons/chevron-bottom.svg) 90% center no-repeat;
    background-color: $color-light-delta;
    @include lrswap(padding, $tiny-spacing 26px $tiny-spacing $tiny-spacing);
}

.custom-select {
    display: inline-block;
    position: relative;

    @include iconic(after, chevron-bottom, $color-light-alpha) {
        position: absolute;
        top: 50%;
        right: $tiny-spacing;
        margin-top: -4px;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

fieldset {
   position: relative;
   padding-top: $base-spacing;

   legend {
      position: absolute;
      top: 0;
      @include left(0);
      @extend .caps;

      &.required {

          &:after {
              content: '\2217';
              position: relative;
              top: -2px;
              color: $red;
              font-weight: normal;
              font-size: 1.428571429em;
              margin-left: 4px;
          }
      }

      svg.iconic {
          fill: $text-color;
          @include margin-right($tiny-spacing);
      }

      + p {
         margin-top: -5px;
      }
   }

   .form-field {
      margin-bottom: 0;
   }
}

form, .form {

   &.dk-bg {
      @include equal-radius;
      border: 2px solid darken( $dk-brown, 10% );
      background-color: $dk-brown;
      padding: $base-spacing;

      table {

         tbody {

            tr {

               &:nth-child(even) {
                  background-color: $lt-bg;
               }
            }
         }
      }
   }

   table {
      width: 100%;
      max-width: 100%;
   }
}

.tgl {//http://codepen.io/mallendeo/pen/eLIiG
   display: none !important;
   // add default box-sizing for this scope
   &, &:after, &:before,
   & *, & *:after, & *:before,
   & + .tgl-btn {
      box-sizing: border-box;

      &::selection{
         background: none;
      }
   }

   + .tgl-btn {
      @include direction;
      outline: 0;
      display: inline-block;
      width: 44px;
      height: 16px;
      position: relative;
      cursor: pointer;
      user-select: none;
      border-radius: 2em;
      background: $color-light-beta;
      transition: all .4s ease;

      &:after, &:before {
         display: block;
         content: "";
         position: relative;
         top: -4px;
         width: 50%;
         height: 22px;
         box-shadow: 0 0 2px rgba(0,0,0,0.12),
          0 2px 2px rgba(0,0,0,0.24);
      }

      &:after {
         @include left(0);
         border-radius: 50%;
         background: $lt-bg;
         transition: all .2s ease;
      }

      &:before {
         display: none;
      }

   }

   &:checked{

      + .tgl-btn {
         background: lighten( $confirmation-color, 40% );

         &:after {
            @include left(50%);
            background: $confirmation-color;
         }

      }

   }

   &:disabled {

       + .tgl-btn {
          background: $color-light-gamma;

          &:after {
              background-color: $color-light-beta;
             @include no-shadow;
          }

       }
   }

}
