/*------------------------------------*\
$ICONS
\*------------------------------------*/

// Override client vendor css
svg {
    display: inline;
}

svg.iconic {
    width: .857142857em;
    height: .857142857em;

    &.error {
        fill: $error-color !important;
    }

    &.success {
        fill: $confirmation-color !important;
    }
}

svg.svg-24px {
    width: 24px;
    height: 24px;
}

#bootstrap-loading {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: -16px;
}


// required asterisk
span.required:after {
    content: '\2217';
    color: #B00F23;
    font-weight: normal;
    font-size: 1.05em;
    @include margin-left(2px);
}

.circle-icon {
    @include circle-icon($red, $white);

    &.confirmation {
        background-color: $green;
    }
}
