/*------------------------------------*\
$ICONS
\*------------------------------------*/

svg.iconic {
    width: .857142857em;
    height: .857142857em;
    display: initial;
}

.nav-icon {
   position: relative;
   width: 31px;
   height: 34px;
   @include transition(all, .4s);
   cursor: pointer;

   span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $highlight;
      opacity: 1;
      @include left(0);
      @include transition(all, .25s)
   }

   span:nth-child(1) {
      top: 0px;
      @include transform-origin(left center);
   }

   span:nth-child(2) {
      top: 10px;
      @include transform-origin(left center);
   }

   span:nth-child(3) {
      top: 20px;
      @include transform-origin(left center);
   }

   &.open span:nth-child(1) {
      transform: rotate(45deg);
      top: 0px;
   }

   &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
   }

   &.open span:nth-child(3) {
      transform: rotate(-45deg);
      top:22px;
   }

}

.icon-left,
.icon-right {
   @include icon($position: before, $icon: false, $styles: true);
}

.icon-right {
   direction: rtl;
}

.icon-only {
   color: transparent;
   font-size: 1px;
   letter-spacing: -1px;

   @include icon($position: before, $icon: false, $styles: true) {
      font-size: 1rem;
      letter-spacing: normal;
      padding: 0;
   }
}

.icon-only-when-small {

   @include icon($position: before, $icon: false, $styles: true);

   @include media($mobile-down) {
      color: transparent;
      font-size: 1px;
      letter-spacing: -1px;

      &:before {
         font-size: 1rem;
         letter-spacing: normal;
         padding: 0;
      }
   }
}
