/*------------------------------------*\
$ICONS
\*------------------------------------*/

// helps override client vendor css
svg {
    display: inline;
}

svg.iconic {
    width: .857142857em;
    height: .857142857em;
}

#bootstrap-loading {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    margin-top: -16px;
}


// required asterisk
span.required:after {
    content: '\2217';
    color: #B00F23;
    font-weight: normal;
    font-size: 1.75em;
}
