.label {
    display: inline-block;
    padding: 5px 15px;
    color: #FFFFFF;
    background: $color-primary;
    border-radius: 25px;
    white-space: nowrap;

    .subtext {
        display: block;
        margin-top: 5px;
        font-size: em(12);
        color: $color-light-alpha;
        text-align: center;
    }

    .badge {
        display: inline-block;
        height: 17px;
        width: 17px;
        @include lrswap(margin, 0 0 3px 8px);
        background: $highlight;
        border-radius: 70px;
        color: black;
        font-size: 0.8em;
        font-weight: bold;
        text-align: center;
        line-height: 1.4;
        white-space: nowrap;
        vertical-align: middle;
    }

}
