.meta-data {
	font-size: em(14);
	padding-right: $sm-spacing;

	.cta {
		font-size: em(14);
	}

	&.has-categories {
		display: block;
		padding-bottom: $sm-spacing;

		@include media($small) {
			float: left;
			padding: 2px $base-spacing 0 0;
		}

	}

}

span.date {
	font-weight: $bold;
	padding-right: $tiny-spacing;
}

.delta-alt {
	@extend .delta;
	color: $dk-gray;
}

.big-number {
	font-size: em(36);
	color: $big-number-color;
	padding-right: $tiny-spacing;

	h1 &,
	h2 & {
		font-weight: normal;
		font-size: em(40);
	}

	@include media($mobile) {
		font-size: em(44);
	}

	@include media($small) {
		font-size: em(50);
	}

}
