.meta-data {
	font-size: em(14);
    padding-right: $sm-spacing;
    
    &.has-categories {
        display: block;
        padding-bottom: $sm-spacing;
        
        @include media($small) {
            float: left;
            padding: 2px $base-spacing 0 0;
        }

    }

}

span.date {
	font-weight: $bold;
	padding-right: $tiny-spacing;
}

.delta-alt {
	@extend .delta;
	color: $dk-gray;
}

.dashboard-status {
    @extend .delta;
    border: $base-border;
    padding: $tiny-spacing $sm-spacing;
    background-color: $lt-bg;
    display: inline-block;
    margin: 0;
}

.big-number {
    font-size: em(44);
    color: $big-number-color;
    padding-right: $tiny-spacing;

    @include media($small) {
        font-size: em(50);
    }

}