.progress-bar {
    display: block;
    height: 4px;
    background-color: $color-light-gamma;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16);

    > span {
        display: block;
        height: 4px;
        text-indent: -9999px;
        background-image:
	       -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
           -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
           -webkit-linear-gradient(left, $color-secondary, $color-secondary);
        background-size: 35px 20px, 100% 100%, 100% 100%;
        -webkit-animation: progress-animate 1s linear infinite;
        animation: progress-animate 1s linear infinite;

        @if $rtl {
            text-indent: 9999px;
        }
    }
}

progress {
    display: inline-block;
}

@-webkit-keyframes progress-in {
    0% { top: -4px; }
    100% { top: 0; }
}

@-webkit-keyframes progress-in {
    0% { top: -4px; }
    100% { top: 0; }
}

@-webkit-keyframes progress-out {
    0% { top: 0; }
    100% { top: -4px; }
}

@-webkit-keyframes progress-out {
    0% { top: 0; }
    100% { top: -4px; }
}

@keyframes progress-animate {
   100% { background-position: -100px 0px; }
}

@-webkit-keyframes progress-animate {
   100% { background-position: -100px 0px; }
}

@keyframes progress-animate {
   100% { background-position: -100px 0px; }
}
