table {
   border: $base-border;

   th, td {
      text-align: left;
      padding: $sm-spacing;

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea,
      .custom-select {
         margin: 0;
      }
   }

   thead {
      color: $white;
      @include radius($top-left: 2px, $top-right: 2px, $bottom-right: 0, $bottom-left: 0);
      background-color: $color-dark-delta;
   }

   tbody {

      tr {

         &:nth-child(odd) {
            background-color: $color-light-gamma;
         }
      }
   }
}
