/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

h1 {
	font-size: em(28);
	font-weight: $body-font-weight;
	
	@include media($small) {
		font-size: em(42);
	}

}

h2 {
	font-size: em(24);
	
	@include media($small) {
		font-size: em(32);
	}

}

h3 {
	font-size: em(20);
	
	@include media($small) {
		font-size: em(24);
	}
	
}

h4 {
	font-size: em(14);
	text-transform: uppercase;
	letter-spacing: 1px;

	@include media($small) {
		font-size: em(16);
	}
		
}

h5 {
	font-size: em(18);
	font-weight: $body-font-weight;
	
	@include media($small) {
		font-size: em(20);
	}
	
}

h6 {
	font-size: em(14);

	@include media($small) {
		font-size: em(16);
	}

}


