/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

p {
    line-height: 1.357142857;
    margin: $sm-spacing 0;

    a {
        border-bottom: 1px dotted $link-color;

        &:hover {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}

/* inline */
em {
    font-style: italic;
}

strong {
    font-weight: 900;
}

.caps {
    color: $color-dark-delta;
    font-weight: 900;
    font-size: 10px;
    font-size: .714285714rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    color: $link-color;
    text-decoration: none;
    @include transition;

    &:hover,
    &:focus {
        cursor: pointer;
        color: $link-hover-color;
    }
}

img {
    display: block;
    max-width: 100%;

    a & {
        border: none;
    }
}

caption { }


code {
    font: 12px/1 'Courier New', Courier, monospace;
}

sub, sup {
    line-height: 0;
}

// Lists
ol, ul {
    margin: $sm-spacing;

    li {
        line-height: 1.357142857;
        @include lrswap(margin, $sm-spacing $sm-spacing $sm-spacing auto);
        @include direction;
    }

}

ul {

    li {
        list-style: disc;
    }

}

.list-reset {
    margin: 0;

    li {
        list-style-type: none;
        margin: 0;
    }
}

blockquote {
	@include border-left(4px solid $color-light-gamma);
	@include padding-left($sm-spacing);
	font-style: italic;
    margin: $base-spacing 0;
}

table {
    border-collapse: collapse;
}

th { }

td { }

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
