/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

p {
    line-height: 1.25;
    font-size: em(16);
    margin: $sm-spacing 0;

    @include media($small) {
        font-size: em(18);
    }

}

.small, p.small {
    font-size: em(14);
}

h1, .alpha {
	font-size: em(28);
	font-weight: $body-font-weight;
	margin: $base-spacing 0 $sm-spacing;
    clear: both;
	
	@include media($small) {
		font-size: em(38);
	}

    &.inline {
        display: block;

        @include media($small) {
            display: inline;
            margin: $base-spacing 0 0;
        }

    }

}

h2, .beta {
	font-size: em(24);
	margin: $base-spacing 0 $sm-spacing;

	@include media($small) {
		font-size: em(32);
	}

}

h3, .gamma {
	font-size: em(20);
	margin: $base-spacing 0 $sm-spacing;

	@include media($small) {
		font-size: em(24);
	}
	
}

h4, .delta {
	font-size: em(13);
    font-weight: $bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: $base-spacing 0 $sm-spacing;
	
	@include media($small) {
		font-size: em(14);
	}
		
}

h5, .epsilon {
	font-size: em(18);
	font-weight: $body-font-weight;
	margin: $base-spacing 0 $sm-spacing;
	
	@include media($small) {
		font-size: em(20);
	}
	
}

h6, .zeta {
	font-size: em(14);
	margin: $base-spacing 0 $sm-spacing;

	@include media($small) {
		font-size: em(16);
	}

}

ul {

    li {
        list-style-type: none;
    }
}

ol, ul.bullets {
    font-size: em(16);
    margin-left: $base-spacing;
    color: $highlight;

    @include media($small) {
        font-size: em(18);
        margin-left: 0;
        
        &.no-offset {
            margin-left: $base-spacing;
            
            li {
                margin-bottom: 0;
            }

        }

    }

    li {
    	color: $base-color;
    	line-height: 1.25;
    	margin-bottom: $sm-spacing;
    }

}

ul.bullets {
	li {
		list-style: disc;
	}
}

blockquote {
	@extend p;
	border-left: 4px solid $border-color;
	padding-left: $sm-spacing;
	font-style: italic;
}

.cta {
   border-bottom: 1px solid $link-color-lt;
   font-size: em(14);

    &:hover {
        border-bottom: 1px solid $link-hover-color;
    }

    &.hidden-content-trigger {
        @include icon(before, plus);
        border-bottom: 0px;
    }

    &.open {
        @include icon(before, minus);
    }

}
