/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

h1, .alpha {
	font-size: em(28);
	font-weight: $body-font-weight;
	margin: $sm-spacing 0;
	
	@include media($small) {
		font-size: em(42);
	}

}

h2, .beta {
	font-size: em(24);
	margin: $sm-spacing 0;

	@include media($small) {
		font-size: em(32);
	}

}

h3, .gamma {
	font-size: em(20);
	margin: $sm-spacing 0;

	@include media($small) {
		font-size: em(24);
	}
	
}

h4, .delta {
	font-size: em(14);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: $sm-spacing 0;
	
	@include media($small) {
		font-size: em(16);
	}
		
}

h5, .epsilon {
	font-size: em(18);
	font-weight: $body-font-weight;
	margin: $sm-spacing 0;
	
	@include media($small) {
		font-size: em(20);
	}
	
}

h6, .zeta {
	font-size: em(14);
	margin: $sm-spacing 0;

	@include media($small) {
		font-size: em(16);
	}

}

