button,
.button,
input[type="button"] {

    svg.iconic {
        display: initial;
        width: .866666667em;
        height: .866666667em;
        fill: $bg-white;

        + .button-label {
            @include margin-left(5px);
        }
    }

    &.button-icon {
        padding: 10px 16px 8px;
    }

    &.button-as-icon {
        background: transparent;

        svg.iconic {
            fill: $dark-gray;
        }
    }
}

.button-dropdown {

    &.active {
        background: $bg-white;

        svg.iconic {
            fill: $dark-blue;
            @include rotate(45deg);
        }
    }
}
