.chip {
    display: inline-block;
    position: relative;
    height: 28px;
    color: $dark-gray;
    font-weight: $bold;
    font-size: 12px;
    font-size: .857142857rem;
    @include equal-radius(28px);
    background-color: $bg-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16);
    @include transition(all, .3s);

    &:hover {
        background-color: darken( $bg-white, 4% );
        box-shadow: 0 0 2px rgba(0,0,0,0.12),
            0 3px 5px rgba(0,0,0,0.24);

        .chip-icon {
            background-color: darken( $dark-gray, 4% );
        }
    }

    &[disabled] {
        opacity: .5;
        @include no-shadow;

        &:hover {
            cursor: not-allowed;
        }
    }

    &:active {
        box-shadow: 0 -1px 1px rgba(0,0,0,0.16);
    }

    &.green {
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $success-green;
    }

    &.yellow {
        background-color: $gold;
    }

    &.red {
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $error-red;
    }

    &.active {
        background-color: $bg-white;

        .label,
        svg.iconic {
            opacity: 0;
        }

        .chip-icon {

            .label,
            svg.iconic {
                opacity: 1;
            }
        }
    }

    .label {
        display: inline-block;
        vertical-align: middle;
        margin: $tiny-spacing;
        @include transition(opacity, .3s);

        em {
            font-style: normal;
            font-weight: normal;
        }
    }

    svg.iconic {
        width: 13px;
        height: 13px;
        vertical-align: middle;
        fill: $dark-gray;
        @include margin-right(4px);
        @include margin-left($tiny-spacing);
        @include transition(opacity, .3s);

        + .label {
            @include margin-left(0);
        }
    }

    .avatar {
        display: inline-block;
        position: relative;
        top: auto !important;
        vertical-align: middle;
        @include margin-right(4px !important);
        @include margin-left($tiny-spacing);

        + .label {
            @include margin-left(0);
        }
    }

    .chip-icon {
        display: inline-block;
        vertical-align: middle;
        min-width: 28px;
        height: 28px;
        color: $bg-white;
        text-align: center;
        @include equal-radius(28px);
        background-color: $dark-gray;
        @include margin-right(-4px);

        svg.iconic {
            fill: $bg-white;
            @include margin-right(0);

            + .label {
                @include margin-left(4px);
            }
        }

        .avatar {
            width: 28px !important;
            height: 28px !important;
            @include equal-radius(28px);
            margin: 0 !important;
        }

        .label {
            font-weight: normal;
        }
    }
}
