.dropdown-menu {
    @include transition(0.3s);
    position: absolute;
    margin: 0;
    color: $dark-gray;
    background-color: $bg-white;
    border: 2px solid $black;
    border-radius: 5px;
    z-index: $dropdown;

    @include media($small) {
        max-width: 94%;
    }

    @include media($medium) {
        min-width: 215px;
    }

    &.init {
        display: none;

        &.active {
            display: block;
            clear: both;

            + .dropdown-overlay {
                position: absolute;
                z-index: $toolbox;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.48);
            }
        }

        &[data-toggle-animate] {
            display: none;
            opacity: 0;
        }
    }

    .dropdown-menu-title {
        @include typeBeta;
        margin: $base-spacing $sm-spacing;
    }

    .dropdown-menu-body {
        position: relative;
        overflow-y: scroll;

    }

    p {
        margin: $sm-spacing;
    }

    ul {
        @extend .list-reset;
    }

    > ul {
        padding: $tiny-spacing 0;
    }

    li {
        position: relative;
        list-style-type: none;
        margin: 0;

        svg.iconic,
        img.avatar {
            position: absolute;
            @include left($sm-spacing);

            + .label {
                display: inline-block;
                @include padding-left($sm-spacing+12);
            }
        }

        img.avatar {
            width: 20px;
            height: 20px;
            margin-top: -2px;
        }

        a {
            display: block;
            padding: $tiny-spacing $sm-spacing;
            color: $black;

            &:hover {
                color: $bg-white;
                background-color: $dark-blue;

                svg.iconic {
                    fill: $bg-white;
                }
            }
        }
    }

    dl {

        dt.list-item {

            &:first-child {
                margin-top: $sm-spacing;
            }
        }
    }

    dt.list-item {
        @include typeBase;
        padding: 0;
        margin: $base-spacing $sm-spacing;

        + dd {
            font-size: .785714286em;
            border-bottom: none;
            padding-bottom: 0;
            margin-top: -$sm-spacing;
            margin-bottom: $sm-spacing;
        }

        svg.iconic {
            fill: $dark-gray;
            @include margin-right(4px);
        }
    }

    dd {
        margin: 0 $sm-spacing;
    }

    fieldset {
        margin: $tiny-spacing $sm-spacing !important;

        &:first-child {
            margin-top: $sm-spacing !important;
        }

        &:last-child {
            margin-bottom: $sm-spacing !important;
        }

        .form-field {
            margin: 0 auto $tiny-spacing !important;
        }
    }

    .form-field {
        margin: $sm-spacing !important;

        .form-field {
            margin: 0 auto $tiny-spacing !important;
        }

        &.checkbox,
        &.radio {
            margin: $sm-spacing !important;

            &.icon-input {
                padding: $tiny-spacing $sm-spacing !important;
                margin: 0 !important;

                &:first-child {
                    // margin-top: $tiny-spacing !important;
                }

                &:last-child {
                    margin-bottom: $tiny-spacing !important;
                }

                label {
                    margin-bottom: 0;

                    &:before {
                        top: $tiny-spacing - 2;
                        @include left(2px);
                    }
                }

                &.checked {
                    color: $black;
                    background-color: $bg-white;

                    svg.iconic {
                        fill: $dark-gray;
                    }
                }
            }
        }
    }

    .tool {
        max-width: none !important;
        margin: $sm-spacing  0 !important;
    }

    .divider {
        margin: $tiny-spacing 0;
    }
}

ul.dropdown-menu {
    padding: $tiny-spacing 0;
}

.dropdown-trigger {

    &.init {
        position: relative;
        padding: $tiny-spacing $sm-spacing;

        &:hover {
            cursor: pointer;
        }

        svg.chevron {
            width: 10px;
            height: 10px;
            fill: $dark-gray;
            @include margin-right(0);
            @include margin-left($tiny-spacing);
            @include transition(0.3s);
        }

        &.active {

            svg.chevron {
                @include rotate(180deg);
                fill: $black;
            }
        }
    }
}

[data-toggle] {

    &:hover {
        cursor: pointer;
    }
}
