.list-item {
    position: relative;
    display: block;
    list-style-type: none;
    border-bottom: $base-border;
    border-bottom-width: 1px;
    padding: $base-spacing 0;
    margin: 0;
    height: inherit;

    &:last-child {
        border-bottom-color: transparent;
    }

    strong {
        display: block;
        @include typeGamma;
        margin: 0;
    }

    span {
        display: block;
        color: $dark-gray;
        margin-top: $sm-spacing;
    }

    &.selected:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        @include left(-20px);
        width: 5px;
        background: $accent-purple;
        border-radius: 5px;
    }
}

dt.list-item {
    @include typeGamma;
    border: none;
    padding-bottom: 0;
    margin: 0 0 $sm-spacing;

    + dd {
        color: $dark-gray;
        border-bottom: $base-border;
        border-bottom-width: 1px;
        padding-bottom: $base-spacing;
        margin-top: -$tiny-spacing;

        &:last-of-type {
            border-bottom-color: transparent;
        }
    }
}
