.loading {

    .line {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        @include box-shadow;
        background-color: $gold;
        margin: 5px;

        &:nth-last-child(1) {animation: loadingBounce .6s .1s linear infinite;}

        &:nth-last-child(2) {animation: loadingBounce .6s .2s linear infinite;}

        &:nth-last-child(3) {animation: loadingBounce .6s .3s linear infinite;}
    }
}

@keyframes loadingBounce {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
