.notification {
    @include equal-radius(3px);
    max-width: 330px;
    padding: 24px;
    border: 3px solid $black;

    .notification-message {
        position: relative;

        svg.iconic {
            position: absolute;
            @include left(0);
            width: 20px;
            height: 20px;
        }

        p {
            margin-top: 0;
            @include padding-left($lg-spacing);
        }
    }

    &.neutral {
        border-color: $accent-purple;

        .notification-message {

            svg.iconic {
                fill: $accent-purple;
                top: -3px;
            }
        }
    }

    &.success {
        border-color: $success-green;

        .notification-message {

            svg.iconic {
                fill: $success-green;
                top: -3px;
            }
        }
    }

    &.error {
        border-color: $error-red;

        .notification-message {

            svg.iconic {
                fill: $error-red;
                top: 3px;
            }
        }
    }

}

.notification-beta {
    position: relative;
    padding: 24px;

    .notification-image {
        display: block;
        width: 40px;
        height: 40px;
        background-color: $black;
        border-radius: 100px;
        margin: 0 auto $base-spacing auto;
        padding: 9px;
        text-align: center;

        @include media($small) {
            position: absolute;
            margin: auto 0;
            top: 0;
            @include left(24px);
            bottom: 0;
            @include right(0);
        }

    }

    svg.iconic {
        width: 21px;
        height: 21px;
        fill: $bg-white;
    }

    .notification-body {
        @include padding-left(0);
        text-align: center;

        @include media($small) {
            @include padding-left(61px);
            @include text-align(left);
        }

        p {
            font-weight: bold;
            margin: 0;
        }

        .button-group {
            margin-top: $base-spacing;
        }
     }

    &.demo {
        background-color: $gold;
    }
}
