.quicktip {
    @include equal-radius(3px);
    width: 100%;
    padding: $sm-spacing;
    border: 3px solid $accent-purple;

    @include media($small) {
        max-width: 330px;
    }

    .quicktip-message {
        position: relative;

        svg.iconic {
            position: absolute;
            top: 0;
            @include right(0);
            width: 10px;
            height: 10px;
        }
    }
}
