.sortable-list {

    .sortable-list-item {
        list-style: none;

        .list-handle {
            position: relative;
            top: 3px;
            @include margin-right(5px);
            cursor: move;
            cursor: -webkit-grabbing;

            svg.iconic {
                width: em(18px);
                height: em(18px);
            }

        }

    }

}
