.sortable-list {

    .sortable-list-item {
        list-style: none;
        border-bottom: 1px solid $disabled-gray;
        padding-bottom: $tiny-spacing;
        margin: $sm-spacing $sm-spacing $sm-spacing auto;

        .list-handle {
            position: relative;
            top: 3px;
            @include margin-right(5px);
            cursor: move;
            cursor: -webkit-grabbing;

            svg.iconic {
                width: em(18px);
                height: em(18px);
            }

        }

        p {
            padding-left: 24px;
            margin: 8px 0;
            color: $dark-gray;
        }

    }

}
