.tool {
    position: relative;
    line-height: 1.3;

    .tool-heading {
        @extend .caps;
        line-height: 1.3;
        @include lrswap (margin, 0 $lg-spacing 0 0);

        svg.iconic {
            fill: $dark-gray;
            @include margin-right(4px);
        }

        + .task {
            margin-top: $tiny-spacing;
        }
    }

    .tool-trigger {
        position: absolute;
        top: -$tiny-spacing;
        @include right(-$tiny-spacing);
        padding: $tiny-spacing;
        @include transition(0.3s);

        svg.iconic {
            width: .571428571em;
            height: .571428571em;
            fill: $dark-gray;
        }

        &:hover {
            cursor: pointer;

            svg.iconic {
                fill: $black;
            }
        }

        &.active {
            @include rotate(180deg);
        }
    }

    .toggle-content {
        display: none;

        &.active {
            display: block;
        }
    }

    fieldset {
        margin: $sm-spacing 0;

        &.custom-fieldset {
            margin-top: $tiny-spacing;
        }

        legend {
            @include typeBase;
            font-weight: 600;
        }

        fieldset {
            margin-top: 0;
        }
    }

    .listing-item {

        .listing-item-primary {
            padding: $sm-spacing 0;

            .listing-item-image {
                top: $sm-spacing;
            }
        }
    }

    .metadata {

        li {
            list-style-type: disc;
            margin-bottom: $tiny-spacing;

            &:after {
                content: none;
            }
        }
    }
}

.tooltip {
    position: relative;

    &:hover {
        cursor: help;

        .bug {
            display: inline-block;
            -webkit-animation: tooltip-bug 0.3s linear;
            animation: tooltip-bug 0.3s linear;
        }
    }

    .label {
        @include margin-right(5px);
    }

    .bug {
        display: none;
        position: absolute;
        top: -6px;
        z-index: $body+1;
        font-size: 12px;
        font-size: .857142857rem;
        line-height: 1.4;
        white-space: nowrap;
        box-shadow: 0 0 16px rgba(0,0,0,0.12),
            0 16px 16px rgba(0,0,0,0.24);
    }

    .map & {

        &:hover {
            cursor: auto;

            .bug {
                display: none;
            }
        }
    }
}

@-webkit-keyframes tooltip-bug {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    24% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes tooltip-bug {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    24% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
