.progress {
    @include containerSheet;
    @extend .list-reset;
    @include typeGamma;
    @include direction;

    @include media($small) {
        text-align: center;
    }

    li {
        position: relative;
        padding: $sm-spacing;

        @include media($small) {
            display: inline-block;

            &:after {
                content: '\232A';
                color: $dark-gray;
                font-size: 12px;
                @include margin-left($sm-spacing);
            }

            &:last-child {

                &:after {
                    content: none;
                }
            }
        }

        svg.iconic {
            fill: $dark-gray;
            @include margin-right(2px);
        }

        &.active {
            color: $black;
            border: 1px solid $disabled-gray;
            @include border-left(4px solid $gold);
            background-color: $bg-white;
            @include padding-right($base-spacing);

            @include media($small) {
                @include border-left(1px solid $disabled-gray);
                border-bottom: 2px solid $gold;
            }
        }

        &.complete {

            svg.iconic {
                fill: $success-green;
            }
        }

        &.disabled {
            color: $bg-gray;

            &:after {
                color: $bg-gray;
            }

            svg.iconic {
                fill: $bg-gray;
            }
        }
    }
}
