.stepper {

    li {
        list-style: none;
    }

    .stepper-heading {
        @include typeBeta;
        color: $dark-gray;
        margin-bottom: $base-spacing;
    }

    .stepper-badge {
        display: inline-block;
        position: relative;
        top: -2px;
        width: $base-spacing;
        height: $base-spacing;
        color: $bg-white;
        font-size: 16px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $dark-gray;
        padding: 4px 0;

        svg.iconic {
            fill: $bg-white;
        }
    }

    .stepper-item {
        position: relative;
        padding-bottom: $tiny-spacing;
        @include padding-left($lg-spacing);
        margin-bottom: $tiny-spacing;

        @include media($small) {
            @include padding-left($huge-spacing);
        }

        &:after {
            content: '';
            position: absolute;
            z-index: $body;
            top: $base-spacing + 4;
            bottom: 0;
            @include left($base-spacing/2);
            width: 1px;
            background-color: $bg-gray;
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: $huge-spacing;
        }

        .stepper-badge {
            position: absolute;
            z-index: $body;
            top: 0;
            @include left(0);
        }

        &.active,
        &.complete {

            .stepper-badge {
                color: $black;
                font-weight: normal;
                background-color: $gold;

                svg.iconic {
                    fill: $black;
                }
            }
        }

        &.active {

            .stepper-heading {
                color: $black;
                font-weight: 800;
            }
        }

        &.complete {

            .stepper-badge {
                overflow: hidden;
                text-indent: -50px;

                &:before {
                    content: '\2713';
                    position: absolute;
                    z-index: $body;
                    top: 4px;
                    left: 36px;
                    font-weight: bold;
                }
            }

            .stepper-heading {
                color: $dark-gray;
            }
        }
    }
}
