.stepper {
    margin-top: $base-spacing;

    li {
        list-style: none;
    }

    .stepper-heading {
        @include typeGamma;
        font-weight: 900;
        color: $black;
        margin-bottom: $base-spacing;
    }

    .stepper-badge {
        display: inline-block;
        position: relative;
        top: -2px;
        width: $base-spacing;
        height: $base-spacing;
        color: $bg-white;
        font-size: 13px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $dark-gray;
        padding: 4px 0;

        svg.iconic {
            fill: $bg-white;
        }
    }

    .stepper-item {
        position: relative;
        padding-bottom: $tiny-spacing;
        @include padding-left($lg-spacing);
        margin-bottom: $tiny-spacing;
        max-width: 450px;

        @include media($small) {
            @include padding-left($huge-spacing);
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: $huge-spacing;
        }

        .stepper-badge {
            position: absolute;
            font-weight: 900;
            z-index: $body;
            top: 0;
            @include left(0);
        }

        .value {

            p span {
                color: $dark-gray;
            }
        }

        &.active,
        &.complete {

            .stepper-badge {
                color: $black;
                font-weight: 900;
                background-color: $gold;

                svg.iconic {
                    fill: $black;
                }
            }
        }

        &.active {

            .stepper-heading {
                color: $black;
                font-weight: $bold;
            }

            .value {
                display: none;
            }
        }

        &.complete {

            .stepper-badge {
                overflow: hidden;
                text-indent: -50px;

                &:before {
                    content: '\2713';
                    position: absolute;
                    z-index: $body;
                    top: 4px;
                    left: 36px;
                    font-weight: bold;
                }
            }

            .stepper-heading {
                color: $dark-gray;
            }
        }
    }

    legend {
        font-weight: 900;
    }

}
