.toggle-content {
    display: none;
    float: left;
    padding: $sm-spacing 0;

    @include media($large) {
        display: block;
        border: none;
    }

    .button-secondary.dropdown {

        &.open {
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

}

.actions-inline + .toggle-content {
    
    li {
        float: left;
        padding: 0 $sm-spacing $sm-spacing 0;
    }

}

.actions-stacked + .toggle-content {

    li {
        float: left;
        padding: 0 $sm-spacing $sm-spacing 0;

        @include media($large) {
            float: none;
            padding: 0 0 $sm-spacing 0;
        }

        &:last-child {
            padding: 0;
        }

    }

}

.toggle-content.toggle-content-secondary {
    display: none;
    position: absolute;
    background-color: $white;
    margin: 0;
    width: auto;
    min-width: 150px;
    max-height: 150px;
    overflow: auto;
    border: $base-border;
    z-index: $offcanvas;

    li {
        float: none;
        padding: $sm-spacing;

        &:last-child {
            padding: $sm-spacing;
        }

    }

}

body.post-detail, body.create-post {

    .actions-stacked + .toggle-content, .actions-inline + .toggle-content {
        display: none;

        @include media($small) {
            display: block;

            li {
                float: none;
            }

        }

    }

}

