.actions-toggle {

    .actions-toggle-trigger {

        @include media($small) {
            display: none;
        }
    }

    .actions-content {
        display: none;
        clear: both;

        @include media($small) {
            display: block;
            padding: 0;
        }

        &.active {
            display: block;
        }

        > button,
        > .custom-fieldset {
            display: inline-block;
            margin: $sm-spacing $tiny-spacing $sm-spacing 0;
        }

        > .custom-fieldset.init {
            margin: 0 $tiny-spacing $sm-spacing 0;
        }
    }
}

.actions-content {
    padding: $sm-spacing 0;

    @include media($large) {
        display: block;
        border: none;
    }

    .dropdown-menu {
        @extend .list-unstyled;
    }

    .button-secondary.dropdown {

        &.open {
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

    .custom-select {
        margin-bottom: 0;
    }

}

.actions-inline + .actions-content {

    li {
        @include float(left);
        @include lrswap(padding, 0 $sm-spacing $sm-spacing 0);
    }

}

.actions-stacked + .actions-content {

    li {
        @include float(left);
        @include lrswap(padding, 0 $sm-spacing $sm-spacing 0);

        @include media($large) {
            float: none;
            @include lrswap(padding, 0 0 $sm-spacing 0);
        }

        &:last-child {
            padding: 0;
        }

    }

}