.actions-content {
    float: left;
    padding: $sm-spacing 0;

    @include media($large) {
        display: block;
        border: none;
    }

    .dropdown-menu {
        @extend .list-unstyled;
    }

    .button-secondary.dropdown {

        &.open {
            border-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

}

.actions-inline + .actions-content {

    li {
        float: left;
        padding: 0 $sm-spacing $sm-spacing 0;
    }

}

.actions-stacked + .actions-content {

    li {
        float: left;
        padding: 0 $sm-spacing $sm-spacing 0;

        @include media($large) {
            float: none;
            padding: 0 0 $sm-spacing 0;
        }

        &:last-child {
            padding: 0;
        }

    }

}

body.post-detail, body.create-post {

    .actions-stacked + .actions-content, .actions-inline + .actions-content {
        display: none;

        @include media($small) {
            display: block;

            li {
                float: none;
            }

        }

    }

}
