.alert {
    display: inline-block;
    @include direction;
    font-style: italic;
    line-height: 1.4;
    @include border-left(2px solid $gold);
    background-color: lighten( $gold, 20% );
    margin-bottom: $sm-spacing;
    padding: $tiny-spacing $sm-spacing;

    svg.iconic {
        @include margin-right($tiny-spacing);
    }

    p {
        margin: 0;
    }

    &.error {
        @include float(left);
        @include clear(left);
        @include border-left(2px solid $error-red);
        background-color: lighten( $error-red, 20% );

        svg.iconic {
            fill: $error-red;
        }
    }

    &.confirmation {
        @include border-left(2px solid $success-green);
        background-color: lighten( $success-green, 20% );

        svg.iconic {
            fill: $success-green;
        }
    }

}
