.alert {
    font-style: italic;
    font-size: em(16);
    padding: $tiny-spacing $sm-spacing;
    display: inline-block;
    border-left: 3px solid $border-color;
    background-color: lighten( $lt-gray, 4% );

    &.error {
        border-color: $error-color;
        background-color: lighten( $error-color, 50% );

        @include icon(before, alert) {
            color: $error-color;
            display: inline-block;
            font-size: em(18);
            padding-right: $sm-spacing;
        }
    }

    &.confirmation {
        border-color: $confirmation-color;
        background-color: lighten( $confirmation-color, 50% );
    }

}
