.user-admin {
    position: relative;
    top: 0;
    @include right(0);
    z-index: 1000;

    @include media($small) {
        position: absolute;
        @include lrswap(margin, 18px 10px 0 0);
    }

    &.logged-out {

        @include media($small) {
            @include lrswap(margin, 27px 10px 0 0);
        }

        a {
            @extend .delta;
            color: $link-color;
            @include margin-right($sm-spacing);

            @include media($small) {
                color: $link-color-lt; //make color lighter when it's on dark bg
            }

            &:hover {
                border-bottom: $base-border;
            }

        }

    }

    .toggle-wrapper {
        cursor: pointer;
        height: 30px;
        user-select: none;
        @include text-align(right);
    }

    .user-avatar {
        @include float(left);

        img {
            position: relative;
            height: 30px;
            min-width: 30px;
            @include equal-radius(100px);
        }
    }

    .username {
        position: relative;
        top: -10px;
        @include float(left);
        font-weight: bold;
        @include lrswap(padding, 10px 10px 0 0);
        @include lrswap(margin, $sm-spacing 0 0 $sm-spacing);
    }

    .button-toggle {
        position: relative;
        background: transparent;
        border: none;
        padding-bottom: 15px;
        @include radius(5px, 5px, 0, 0);

    }

    .open {
        .button-toggle {
            @include border-bottom-radius(0);
            background: $white;
            border-bottom: 0px;
            opacity: 1;

            &:hover {
                background-color: $white;
            }
        }
    }

    .dropdown-menu {
        @extend .list-unstyled;
        position: relative;
        top: -10px;
        background: $white;
        margin-top: 17px;
        padding: $sm-spacing;
        text-shadow: none;
        visibility: hidden;
        opacity: 0;
        @include transition(opacity .25s);

        li {
            padding: 10px;
            text-align: left;
        }

        &.visible {
            display: block;
            opacity: 1;
            visibility: visible;
            @include transition(opacity .25s);
        }

        .navigation & {
            display: none;
            margin: 10px 0 0;
            padding: 0;
            top: 0;

            &.open {
                display: block;
            }

        }

    }

}
