/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

button,
.button,
input[type="button"] {
    display: inline-block;
    outline: none;
    background-color: $button-bg-color;
    color: $button-text-color;
    text-align: center;
    text-decoration: none;
    @include lrswap(padding, 10px 15px 12px);
    border: 0px;
    font-family: $base-font-family;
    font-weight: $bold;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    @include transition(0.3s);
    font-size: em(16);

    @include media($small) {
        font-size: em(18);
    }

    a {
        color: $black;
    }

    i:not(.fa-spin) {
        @include padding-right(10px);
    }

    &:hover {
        cursor: pointer;
        background-color: $button-hover-color;
        color: $white;
    }

    &:active {
        background-color: $button-active-color;
        @include no-transition;
    }

    &.disabled, &[disabled] {
        background-color: $button-bg-disabled-color;
        cursor: default;
    }

    &.icon-only {

         &:before {
            padding: 0;

            @include media($small) {
                @include lrswap(padding, 0 $tiny-spacing 0 0)
            }

        }

    }

}

.button-create {
    background-color: $button-bg-create-post;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include lrswap(padding, 12px 22px 15px 20px);
    font-size: em(14);

    @include icon($before, plus) {
        position: relative;
        bottom: -2px;
        font-size: em(22);
        color: $highlight;
        @include lrswap(padding, 0 5px 0 1px);
    }

    @include media($small) {
        font-size: em(14);
        @include lrswap(padding, 14px 25px 18px 20px);
    }

    &:hover {
       background-color: $button-bg-create-post-hover;
    }

    &:active {
        background-color: $button-bg-create-post-active;
    }

}

.button-secondary {
    @extend .button;
    background-color: $white;
    color: $black;
    border: $base-border;
    padding: 8px 10px;
    font-weight: 400;
    font-size: em(15);

    &:before, &:after {
        color: $highlight; //icon colors
    }

    &:hover {
       background-color: $white;
       color: $black;
       border: $base-border-hover;
    }

    &:active {
        border: $base-border-active;
    }

    &.disabled, &[disabled] {
        background-color: $white;
        cursor: default;
        color: $dk-gray;

        &:before, &:after {
            color: $dk-gray; //icon colors
        }

        &:hover {
            border: $base-border;
        }

        &:active {
            border: $base-border;
        }

    }

    &.alt {

        &:before, &:after {
            color: $link-color;
        }

    }

    &.icon-only {
        @include padding-left(14px);
    }

    &.icon-only-when-small {
        @include padding-left(14px);

        @include media($small) {
            @include padding-left(10px);
        }

        span {
            display: none;

            @include media($small) {
                display: inline;
            }

        }
    }

    &.close.deactive {
        color: lighten( $dk-gray, 35% );

        span {
            color: lighten( $dk-gray, 35% );
        }

        &:before, &:after {
            color: lighten( $dk-gray, 35% );
            @include transform(rotate(-45deg));
            -ms-transform-origin: 50% 50%;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 40% 50%;
        }

    }

}

.button-link {
    @extend p;
    @extend a;
    background: transparent;
    padding: 0;
    font-weight: normal;

    &:hover, &:active {
        background: transparent;
    }
}

.button-toggle {
    @extend .button-secondary;
    position: relative;
    z-index: $bottom + 2;
    @include transition(0);

    @include icon(after, chevron-down) {
        padding: 0;
    }

    &.open:after, .open &:after {
        @include transform(rotate(180deg));
    }

}

.upvote-downvote {

    button.icon-only {
        @include direction;
        @include float(left);
        clear: both;
        padding: 5px 6px 7px 6px;

        &.downvote {
            @include border-top-radius(0);
            margin-top: -1px;
        }

        &.upvote {
            @include border-bottom-radius(0);

            &:before,
            &:after {
                padding: 0 3px;
            }

            @include media($small) {
                margin-bottom: $sm-spacing;
            }
        }

    }

}

.dropdown-group {

    .dropdown-menu {
        @extend .list-unstyled;
        position: absolute;
        min-width: 160px;
        margin-top: -1px;
        background-color: $white;
        border: $base-border;
        z-index: $top;
        padding: $sm-spacing 0;

        .header & {
            text-shadow: none;
        }

        li {

            a {
                display: block;
                padding: $sm-spacing $base-spacing;
            }

            &:hover {
                background: $lt-gray;
            }
        }

    }

    .dropdown.open {
        @include border-bottom-radius(0);
    }

}


/*------------------------------------*\
    $CLASSES FOR BUTTONS WITH ICONS
\*------------------------------------*/
button,
.button {

    &.dropdown, &.add-to-collection, &.down, &.downvote {
        padding: 8px;
        @include icon ($before, chevron-down) {
            padding: 0 3px;
        }

        &.open:before {
            @include transform(rotate(-180deg));
        }

    }

    &.tabbed {

        &.open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0px;
        }

    }

    &.edit {
        @include icon($before, pencil) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.close {
        @include lrswap(margin, $tiny-spacing $tiny-spacing 0 0);
        @include icon($before, circle-close) {
            font-size: em(18);
            @include lrswap(padding, 0 5px 0 1px);
        }

        span {
            color: $dk-gray;
            font-style: italic;
        }

    }

    &.share {
        @include icon($before, share) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.trash {
        @include icon($before, trash) {
            display: initial;
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.check {
        @include icon($before, check) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.plus {
        @include icon($before, plus) {
            @include lrswap(padding, 0 5px 0 1px);
        }

        &.open:before {
            @include transform(rotate(45deg));
            transform-origin: 35% 50%;
        }

        &.open:after {
            @include transform(rotate(45deg));
            transform-origin: 60% 50%;
        }

    }

    &.check {
        @include icon($before, check) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.export {
        @include icon($before, external-link) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.up, &.upvote {
        @include icon($before, chevron-up) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.search {
        @include icon($before, search) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

    &.photo {
        @include icon($before, photo) {
            @include lrswap(padding, 0 5px 0 1px);
        }

    }

}
