.settings {
    position: relative;
    top: 0;
    @include right(0);
    z-index: 1000;

    @include media($small) {
        position: absolute;
        @include lrswap(margin, 28px 0 0 0);
    }

    &.logged-out {

        @include media($small) {
            @include lrswap(margin, 27px 10px 0 0);
        }

        a {
            @extend .delta;
            color: $link-color;
            @include margin-right($sm-spacing);

            @include media($small) {
                color: $link-color-lt; //make color lighter when it is on dark bg
            }

            &:hover {
                border-bottom: $base-border;
            }

        }

    }

    .settings-icon {
        @include float(right);
        margin: 28px 0 0 0;

        @include icon($before, cog) {
            font-size: em(16);

            @include media($small) {
                @include lrswap(padding, 0 10px 0 1px);
            }

        }

        @include media($small) {
            float: none;
            margin: 0;
        }

    }

    [data-toggle] a {
        display: none;

        @include media($small) {
            display: block;
            position: relative;
            top: 8px;
            @include right(20px);
            @include float(right);
            color: $white;
            font-weight: bold;
            @include lrswap(padding, 10px 10px 0 0);
        }

        @include media($small) {
            top: -10px;
            @include right(0);
        }

    }

    [data-toggle].init {
        @include clearfix;
        display: inline-block;
        @include float(right);
        @include margin-right(28px);

        &:hover {
            cursor: pointer;
        }

        a {
            @include padding-right(30px);
            @include icon($after, caret-down) {
                pointer-events: none;
                position: absolute;
                top: 0;
                @include right(0);
                line-height: 36px;
                font-size: em(16);
                text-shadow: none;
                padding: 0 8px;
            }

        }

        &.active {

            .settings-icon {

                @include icon($before, close) {
                    font-size: em(16);
                    color: $yellow;
                }

                @include media($small) {
                    @include icon($before, cog) {
                        @include lrswap(padding, 0 10px 0 1px);
                        font-size: em(16);
                        color: inherit;
                    }

                }

            }

            a {
                @include icon($after, close) {
                    line-height: 36px;
                    padding: 0 8px;
                    font-size: em(16);
                    color: $yellow;
                }

            }

        }

    }

    .dropdown-menu {
        display: none;
        @include right(0 !important);
        @include left(auto !important);
        position: inherit;
        opacity: 1;
        @extend .list-unstyled;
        @include text-align(left);
        border: $base-border;
        border-top: none;
        padding: $sm-spacing;
        z-index: $top;

        @include media($small) {
            top: 42px;
            width: 300px;
        }

        li {

            @include media($medium-down) {
                padding: 0 $sm-spacing;

                &:hover {
                    background-color: transparent;
                }

            }

            a {
                @include lrswap(padding, 10px 20px 10px 15px);
            }

        }

        h6.zeta {
            color: $dk-gray;
            @include padding-left(10px);
            text-transform: uppercase;
            font-size: em(14);
            @include icon($before, user) {
                @include padding-right(10px);
            }

            @include media($small) {
                @include padding-left(5px);
            }

        }

    }

}
