.user-admin {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;

    @include media($small) {
        position: absolute;
        margin: 18px 10px 0 0;
    }

    &.logged-out a {
        @extend .delta;
        color: $link-color;
        margin-right: $sm-spacing;

        @include media($small) {
            color: $link-color-lt; //make color lighter when it's on dark bg
        }

        &:hover {
            border-bottom: $base-border;
        }
    }

    .toggle-wrapper {
        cursor: pointer;
        height: 30px;
        user-select: none;
        text-align: right;
    }

    .user-avatar {
        display: inline-block;

        img {
            position: relative;
            height: 30px;
            min-width: 30px;
            @include equal-radius(100px);
        }
    }

    .username {
        position: relative;
        top: -10px;
        display: inline-block;
        font-weight: bold;
        padding: 10px 10px 0 0;
        margin: $sm-spacing 0 0 $sm-spacing;
    }

    .button-toggle {
        position: relative;
        top: -10px;
        background: transparent;
        border: none;
        padding-bottom: 15px;
        @include radius(5px, 5px, 0, 0);

    }

    .open {
        .button-toggle {
            @include border-bottom-radius(0);
            background: $white;
            border-bottom: 0px;
            opacity: 1;

            &:hover {
                background-color: $white;
            }
        }
    }

    .dropdown-menu {
        @extend .list-unstyled;
        position: relative;
        top: -10px;
        background: $white;
        margin-top: 17px;
        padding: $sm-spacing;
        text-shadow: none;
        visibility: hidden;
        opacity: 0;
        @include transition(opacity .25s);

        li {
            padding: 10px;
        }

        // Hiding with opacity, not display
        // so ensure display block even with
        // .toggle-content
        display: block;

        &.visible {
            opacity: 1;
            visibility: visible;
            @include transition(opacity .25s);
        }

        .navigation & {
            display: none;
            margin: 10px 0 0;
            padding: 0;
            top: 0;

            &.open {
                display: block;
            }

        }

    }

}
