button.user-admin {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    background: transparent;
    border: none;
    color: $white;

    @include icon(before, user) {
        padding-right: 10px;
        color: $black;
    }

    @include media($small) {
        position: absolute;
        margin: 18px 10px 0 0;
    }

    span {
        padding: 0 10px 0 0;
    }

    &.button-toggle {
        @include icon(after, chevron-down) {
            padding: 0;
        }

    }

}
