button,
.button,
input[type="button"] {

    svg.iconic {
        width: .866666667em;
        height: .866666667em;
        fill: $white;
        @include transition(0.3s);

        + .button-label {
            @include margin-left($tiny-spacing);
        }
    }

    .button-label {

        + svg.iconic {
            width: .571428571em;
            height: .571428571em;
            @include margin-left($tiny-spacing);
        }
    }

    &[data-toggle] {

        &.active {

            .button-label {

                + svg.iconic {
                    @include transform(rotate(180deg));
                }
            }
        }
    }
}

.button-alpha {

    svg.iconic {
        fill: $color-primary-beta;
    }
}

.button-beta {

    svg.iconic {
        fill: $link-color;
    }
}

.button-gamma {

    svg.iconic {
        fill: $link-color;
    }
}

// FLOATING ACTION BUTTON
.fab {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;

    @include media($medium) {
        display: block;
    }

    .button-fab {

        @include media($medium-down) {
            margin-left: auto;
        }

        &.active {
            background: $white;

            svg.iconic {
                fill: $color-primary-alpha;
                @include transform(rotate(45deg));
            }
        }
    }

    .fab-action-type {
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        @include equal-radius(100%);
        background: $color-dark-beta;
        box-shadow: 0 0 8px rgba(0,0,0,0.12),
            0 8px 18px rgba(0,0,0,0.24);
        padding-top: 12px;
        margin-right: $tiny-spacing;

        svg.iconic {
            fill: $white;
            margin: 0 auto;
        }
    }

    .bug {
        box-shadow: 0 0 8px rgba(0,0,0,0.12),
            0 8px 18px rgba(0,0,0,0.24);
    }

    .fab-options {
        display: none;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        @extend .list-reset;
        margin: $tiny-spacing 6px;

        li {
            position: relative;
            top: -100px;
            margin: 5px 0;
            @include transition(all, .5s);
        }

        &.active {
            display: flex;

            li {
                top: 0;
            }
        }

        @include media($medium-down) {

            .bug {
                float: right
            }

            .fab-action-type {
                float: right;
                margin-right: 0;
                margin-left: $tiny-spacing;
            }
        }

        @include media($medium) {
            top: 100px;
            bottom: 0;
            flex-direction: column;
        }
    }
}

.button-split {

   .form-field,
   .custom-fieldset {
      display: inline-block;
      width: 70%;
      @include margin-right(-3px);

      @include media($small) {
         display: block;
         width: auto;
         margin-bottom: $sm-spacing;
      }

      .dropdown-menu {
         bottom: 31px;
         padding: $base-spacing $base-spacing $sm-spacing;
         width: 65%;

         @include media($small) {
            bottom: auto;
            width: 100%;
            padding: $sm-spacing 0;
         }

         &.active {

         }
      }

   }

   .dropdown-menu {
      bottom: 50px;
      padding: $base-spacing $base-spacing $sm-spacing;
      width: 65%;

      @include media($small) {
         @include border-top-right-radius($global-radius);
         @include border-bottom-left-radius(0);
      }

   }

   .button-primary {
      height: 40px;
      width: 30%;

      @include media($small) {
         width: auto;
         height: auto;
      }

      .dropdown.open {
         @include border-top-radius(0);
         @include border-bottom-left-radius($global-radius);

         @include media($small) {
            @include border-top-radius($global-radius);
            @include border-bottom-left-radius(0);
         }
      }

      @include media($small) {
         width: 100%;
      }

   }

   .button-secondary {
      height: 40px;
      width: 100%;
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
      border-color: darken( $lt-gray, 20% );;

      @include media($small) {
         @include border-top-right-radius($global-radius);
         @include border-bottom-left-radius(0);
      }

   }

   button.button-primary {
      height: 40px;
      width: 30%;
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
      margin-top:-2px;

      @include media($small) {
         width: 100%;
         @include border-top-right-radius(0);
         @include border-bottom-left-radius($global-radius);
      }

   }

   button.dropdown {
      padding: 8px;
      @include icon ($before, chevron-down) {
         padding: 0 3px;
         @include transform(rotate(-180deg));
      }

      @include media($small) {
         @include icon ($before, chevron-down) {
            @include transform(rotate(0deg));
         }
      }

      &.open:before {
         @include transform(rotate(0deg));

         @include media($small) {
            @include transform(rotate(-180deg));
         }
      }
   }

}

.buttons-updown {

    button {
        display: block;
        padding: 4px $tiny-spacing;

        svg.iconic {
            width: .714285714em;
            height: .714285714em;
        }

        &:first-child {
            @include border-bottom-radius(0);
        }

        &:last-child {
            @include border-top-radius(0);
        }

   }

}
