button,
.button,
input[type="button"] {

    svg.iconic {
        width: .866666667em;
        height: .866666667em;
        fill: $white;
        @include transition(0.3s);

        + .button-label {
            margin-left: $tiny-spacing;
        }
    }

    .button-label {

        + svg.iconic {
            margin-left: $tiny-spacing;
        }
    }

    &[data-toggle] {

        &.active {

            svg.iconic {
                @include transform(rotate(180deg));
            }
        }
    }
}

.button-alpha {

    svg.iconic {
        fill: $color-primary-beta;
    }
}

.button-beta {

    svg.iconic {
        fill: $link-color;
    }
}

// FLOATING ACTION BUTTON
.fab {

    .fab-options {
        display: none;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        @extend .list-unstyled;
        @include transition(all, .25s);

        &.active {
            display: flex;
        }

        @include media($medium) {
            top: 100px;
            bottom: 0;
            flex-direction: column;
            @include margin-left(6px);
        }

        li {
            text-align: right;
            padding: 10px 0;
            @include icon(after, file) {
                @include lrswap(margin, 0 0 0 10px);
            }

            @include media($medium) {
                text-align: left;
                @include icon(before, file) {
                    @include lrswap(margin, 0 10px 0 0);
                }

                &:after {
                    content: none;
                }

            }

            &:before,
            &:after {
                width: 40px;
                height: 40px;
                color: white;
                @include lrswap(padding, 13px 13px 13px 15px);
                border-radius: 20px;
                font-size: em(15);
                background: red;
            }

            $colors: $red, $yellow, $blue, $green;

            @for $i from 1 through length($colors) {
                &:nth-child(#{length($colors)}n+#{$i}) {

                    &:before,
                    &:after {
                        background: nth($colors, $i)
                    }

                }

            }
            span {
                color: $white;
                background: $color-primary;
                padding: 5px 15px;
                border-radius: 15px;

                @include media($medium) {

                }

            }

        }

        &.open {
            opacity: 1;
        }
    }
}

.button-split {

   .form-field,
   .custom-fieldset {
      display: inline-block;
      width: 70%;
      @include margin-right(-3px);

      @include media($small) {
         display: block;
         width: auto;
         margin-bottom: $sm-spacing;
      }

      .dropdown-menu {
         bottom: 31px;
         padding: $base-spacing $base-spacing $sm-spacing;
         width: 65%;

         @include media($small) {
            bottom: auto;
            width: 100%;
            padding: $sm-spacing 0;
         }

         &.active {

         }
      }

   }

   .dropdown-menu {
      bottom: 50px;
      padding: $base-spacing $base-spacing $sm-spacing;
      width: 65%;

      @include media($small) {
         @include border-top-right-radius($global-radius);
         @include border-bottom-left-radius(0);
      }

   }

   .button-primary {
      height: 40px;
      width: 30%;

      @include media($small) {
         width: auto;
         height: auto;
      }

      .dropdown.open {
         @include border-top-radius(0);
         @include border-bottom-left-radius($global-radius);

         @include media($small) {
            @include border-top-radius($global-radius);
            @include border-bottom-left-radius(0);
         }
      }

      @include media($small) {
         width: 100%;
      }

   }

   .button-secondary {
      height: 40px;
      width: 100%;
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
      border-color: darken( $lt-gray, 20% );;

      @include media($small) {
         @include border-top-right-radius($global-radius);
         @include border-bottom-left-radius(0);
      }

   }

   button.button-primary {
      height: 40px;
      width: 30%;
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
      margin-top:-2px;

      @include media($small) {
         width: 100%;
         @include border-top-right-radius(0);
         @include border-bottom-left-radius($global-radius);
      }

   }

   button.dropdown {
      padding: 8px;
      @include icon ($before, chevron-down) {
         padding: 0 3px;
         @include transform(rotate(-180deg));
      }

      @include media($small) {
         @include icon ($before, chevron-down) {
            @include transform(rotate(0deg));
         }
      }

      &.open:before {
         @include transform(rotate(0deg));

         @include media($small) {
            @include transform(rotate(-180deg));
         }
      }
   }

}

.upvote-downvote {

   button.icon-only {
      @include direction;
      @include float(left);
      clear: both;
      padding: 5px 6px 7px 6px;

      &.downvote {
         @include border-top-radius(0);
         margin-top: -1px;
      }

      &.upvote {
         @include border-bottom-radius(0);

         &:before,
         &:after {
            padding: 0 3px;
         }
      }

   }

}
