/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

button,
[class*="button-"] {
    display: inline-block;
    outline: none;
    background-color: $button-bg-color;
    color: $button-text-color;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px 12px;
    border: 0px;
    font-family: $base-font-family;
    font-weight: $bold;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    @include transition;
    font-size: em(16);

    @include media($small) {
        font-size: em(18);
    }

    a {
        color: $black;
    }

    i {
        padding-right: 10px;
    }

    &:hover {
        cursor: pointer;
        background-color: $button-hover-color;
    }

    &:active {
        background-color: $button-active-color;
        @include no-transition;
    }

    &.disabled {
        background-color: $button-bg-disabled-color;
        cursor: default;
    }

    &.icon-only {

         &:before {
            padding: 0;

            @include media($small) {
                padding: 0 $tiny-spacing 0 0;
            }

        }

    }

}


.button-create {
    background-color: $button-bg-create-post;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 22px 15px 20px;
    font-size: em(14);
    @include icon(before, plus) {
        position: relative;
        bottom: -2px;
        font-size: em(22);
        color: $highlight;
    }

    @include media($small) {
        font-size: em(16);
        padding: 14px 25px 18px 20px;
    }

    &:hover {
       background-color: $button-bg-create-post-hover;
    }

    &:active {
        background-color: $button-bg-create-post-active;
    }

}

.button-secondary {
    background-color: $white;
    color: $black;
    border: $base-border;
    padding: 8px 10px;
    font-weight: 400;
    font-size: em(15);

    &:before, &:after {
        color: $highlight; //icon colors
    }

    &:hover {
       background-color: $white;
       border: $base-border-hover;
    }

    &:active {
        border: $base-border-active;
    }

    &.disabled {
        background-color: $white;
        cursor: default;
        color: $dk-gray;

        &:before, &:after {
            color: $dk-gray; //icon colors
        }

        &:hover {
            border: $base-border;
        }

        &:active {
            border: $base-border;
        }

    }

    &.alt {

        &:before, &:after {
            color: $link-color;
        }

    }

    &.icon-only {
        padding-left: 14px;
    }

}

.button-toggle {
    @extend .button-secondary;
    position: relative;
    z-index: $bottom + 2;

    @include icon(after, chevron-up) {
        padding: 0;
    }

    @include media($small) {
        @include icon(after, chevron-down) {
            padding: 0;
        }
    }

    &.open {
        @include transform(rotate(180deg));
    }

}


.upvote-downvote {

    button {
        display: block;
        padding: 8px 10px;

        &.upvote {
            margin-bottom: $sm-spacing;
        }

    }

}

.dropdown-group {

    .toggle-content {
        position: absolute;
        display: none;
        min-width: 160px;
        padding: $base-spacing $base-spacing 0 $base-spacing ;
        margin: 5px 0 0;
        background-color: $white;
        border: $base-border;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
        z-index: $topbar;

        .header & {
            text-shadow: none;
        }

        li {
            padding: 0 0 $base-spacing 0;
        }

    }

}


/*------------------------------------*\
    $CLASSES FOR BUTTONS WITH ICONS
\*------------------------------------*/
button {

    &.dropdown, &.add-to-set, &.down, &.downvote {
        @include icon (before, chevron-down);

        &.open {
            @include icon(before, chevron-up);
        }

    }

    &.edit {
        @include icon(before, pencil);
    }

    &.bookmark {
        @include icon(before, bookmark);
    }

    &.share {
        @include icon(before, share);
    }

    &.trash {
        @include icon(before, trash);
    }

    &.plus {
        @include icon(before, plus);
    }

    &.check {
        @include icon(before, check);
    }

    &.up, &.upvote {
        @include icon(before, chevron-up);
    }

}
