button.user-admin {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    background: transparent;
    border: none;
    color: $white;

    span {
        padding: 0 10px 0 0;
    }

    @include media($small) {
        position: absolute;
        margin: 18px 10px 0 0;
    }

    &.button-toggle:before {
        content: "\f078";
    }
}
