.category {
	@include direction;
    @include lrswap(margin, $sm-spacing $base-spacing $sm-spacing 0);
	font-size: em(14);

    @include media($small) {
        font-size: em(16);
    }

	i {
		@include padding-right(5px);
		//color of circle is set as an inline style since it will be
		//updated by the user
	}

}

.categories-list {
    margin: 0;

	.category {
        list-style-type: none;
	}

    &.inline {
        overflow:hidden;

        .category {
            display: inline;
        }
    }
}
