.category {
	margin: $sm-spacing $base-spacing $tiny-spacing 0;
	font-size: em(14);

    @include media($small) {
        font-size: em(16);
    }

	i {
		padding-right: 5px;
		//color of circle is set as an inline style since it will be 
		//updated by the user
	}
	
}

.categories-list-inline {
	overflow: auto;
	
	.category {
		display: inline;
	}

}