.chip {
    display: inline-block;
    position: relative;
    height: 28px;
    color: $color-dark-beta;
    font-weight: $bold;
    font-size: 12px;
    font-size: .857142857rem;
    @include equal-radius(28px);
    background-color: $color-light-gamma;
    box-shadow: 0 1px 1px rgba(0,0,0,0.16);
    @include transition(all, .3s);

    &:hover {
        background-color: darken( $color-light-gamma, 4% );
        box-shadow: 0 0 2px rgba(0,0,0,0.12),
            0 3px 5px rgba(0,0,0,0.24);

        .chip-icon {
            background-color: darken( $color-primary-epsilon, 4% );
        }
    }

    &[disabled] {
        opacity: .5;
        @include no-shadow;

        &:hover {
            cursor: not-allowed;
        }
    }

    &:active {
        box-shadow: 0 -1px 1px rgba(0,0,0,0.16);
    }

    &.green {
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $green;
    }

    &.yellow {
        background-color: $yellow;
    }

    &.red {
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $red;
    }

    &.active {
        background-color: $white;

        .label,
        svg.iconic {
            opacity: 0;
        }

        .chip-icon {

            .label,
            svg.iconic {
                opacity: 1;
            }
        }
    }

    .label {
        display: inline-block;
        vertical-align: middle;
        margin: $tiny-spacing;
        @include transition(opacity, .3s);

        em {
            font-style: normal;
            font-weight: normal;
        }
    }

    svg.iconic {
        width: 13px;
        height: 13px;
        vertical-align: middle;
        fill: $color-dark-beta;
        margin-right: 4px;
        margin-left: $tiny-spacing;
        @include transition(opacity, .3s);

        + .label {
            margin-left: 0;
        }
    }

    .avatar {
        display: inline-block;
        position: relative;
        top: auto !important;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 4px !important;
        margin-left: $tiny-spacing;

        + .label {
            margin-left: 0;
        }
    }

    .chip-icon {
        display: inline-block;
        vertical-align: middle;
        min-width: 28px;
        height: 28px;
        color: $white;
        text-align: center;
        @include equal-radius(28px);
        background-color: $color-primary-epsilon;
        margin-right: -4px;

        svg.iconic {
            fill: $color-light-delta;
            margin-right: 0;

            + .label {
                margin-left: 4px;
            }
        }

        .avatar {
            width: 28px !important;
            height: 28px !important;
            @include equal-radius(28px);
            margin: 0 !important;
        }

        .label {
            font-weight: normal;
        }
    }
}
