.custom-fieldset {

    [data-toggle] {
        display: none;
    }

    .form-field {
        clear: both;
        padding-top: $tiny-spacing;
    }

    &.init {
        padding-top: 0;

        [data-toggle] {
            display: inline-block;
        }

        legend {
            position: relative;
            min-height: 32px;
            @include direction;
            @include radius($global-radius);
            border: $base-border;
            background: $white;
            color: $black;
            font-family: $base-font-family;
            font-weight: 400;
            font-size: em(15);
            text-transform: none;
            letter-spacing: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .form-field {
            padding: $sm-spacing;
        }

        .checkbox-label,
        .radio-label {
            width: 100%;
            font-size: em(15);
            padding-left: 35px;

            input[type="checkbox"],
            input[type="radio"] {
                margin-right: 0;
                margin-left: -25px;
            }

            &.checked {
                background-color: $lt-gray;

                &:hover {
                    background-color: $lt-gray;
                }
            }
        }

        .button-link {
            color: $blue;
            font-size: 1em;
            text-align: left;

            &.open {
                display: none;
            }
        }

        .dropdown-menu {

            @include media($medium) {
                min-width: 250px;
            }

            .form-field {
                padding-top: 1px;

                input[type="text"] {
                    width: 100%;
                    font-size: 1em;
                }

            }

            [data-toggle].active {
                display: none;
            }

            .toggle-content {
                display: none;
                border-top: $base-border;

                &.active {
                    display: block;
                }
            }
        }

        .form-field {
            clear: both;

            button {
                font-size: 1em;
                padding: 8px 12px;
                margin-bottom: 0;
            }
        }

        .dropdown-content {
            min-width: 200px;
        }
    }
}