.custom-fieldset {

   [data-toggle] {
      display: none;
   }

   &.init {
      position: static;
      padding-top: 0;

      [data-toggle] {
         display: inline-block;
      }

      legend {
         position: relative;
         min-height: 32px;
         @include direction;
         @include radius($global-radius);
         border: $base-border;
         background: $white;
         color: $black;
         font-family: $base-font-family;
         font-weight: 400;
         font-size: em(15);
         text-transform: none;
         letter-spacing: 0;

         &:hover {
            cursor: pointer;
         }

         [class*="icon-"] {

            &:before {
               color: $yellow;
            }
         }
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         font-size: 14px;

         + button {
            margin-top: 0;
            margin-bottom: $sm-spacing;
         }
      }

      .form-field {

         &.bar {
            background-color: $dk-brown;

            &:first-child {
               border-bottom: $base-border;
            }

            &:last-child {
               border-top: $base-border;
            }

            input,
            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="search"] {
               margin-bottom: $sm-spacing;
            }
         }

         &.checkbox,
         &.radio {
            padding: $sm-spacing;

            label {
               margin: 0;
            }

            input[type="checkbox"],
            input[type="radio"] {
                  margin-bottom: 0;
            }
         }

         &.search {

            &:before {
               top: 21px;
               left: 18px;
            }
         }
      }

      .fieldset-results {
         max-height: 250px;
         overflow-y: auto;
         padding: 5px 0;
      }

      .checkbox-label,
      .radio-label {
         width: 100%;
         font-size: em(15);
         padding-left: 35px;

         input[type="checkbox"],
         input[type="radio"] {
            margin-right: 0;
            margin-left: -25px;
         }

         &.checked {
            background-color: $lt-gray;

            &:hover {
               background-color: $lt-gray;
            }
         }
      }

      .button-link {
         color: $blue;
         font-size: 1em;
         text-align: left;

         &.open {
            display: none;
         }
      }

      .dropdown-menu {

         @include media($medium) {
            min-width: 250px;
         }

         [data-toggle].active {
            display: none;
         }

         .toggle-content {
            display: none;

            &.active {
               display: block;
            }
         }
      }

      .dropdown-content {
         min-width: 200px;
      }
   }
}
