.dragger {
    display: inline-block;

    svg.iconic {
        width: $base-spacing;
        height: $base-spacing;
        fill: $color-primary-delta;
    }

    &:hover {
        cursor: move;
    }
}
