.dropdown-menu {
   position: absolute;
   z-index: $top;
   min-width: 160px;
   @extend .menu;
   // margin-top: -1px;
   z-index: $dropdown;
   margin: 0;

   &.init {
      display: none;

      &.active {
         display: block;
         clear: both;
      }
   }

   .header & {
      text-shadow: none;
   }

   li {
       position: relative;
       list-style-type: none;
       margin: 0;

       &:first-child {
           margin-top: $tiny-spacing;
       }

       &:last-child {
           margin-bottom: $tiny-spacing;
       }

       svg.iconic {
           position: absolute;
           left: $sm-spacing;

           + .label {
               display: inline-block;
               padding-left: $sm-spacing+12;
           }
       }

       a {
            display: block;
            padding: $tiny-spacing $sm-spacing;

            &:hover {
                color: $white;
                background-color: $color-primary;

                svg.iconic {
                    fill: $white;
                }
            }
       }
   }

   .form-field {
      margin: $tiny-spacing $sm-spacing;

      &:first-child {
          margin-top: $sm-spacing;
      }

      &:last-child {
          margin-bottom: $sm-spacing;
      }
   }
}

.dropdown-trigger {

   &.init {
      position: relative;
      padding: $tiny-spacing $sm-spacing;

      @include iconic(after, chevron-bottom, $color-light-alpha) {
          margin-left: $tiny-spacing;
      }

      &.active {
         border: $base-border;
         @include border-bottom-radius(0);

         &:after {
            @include transform(rotate(180deg));
         }
      }
   }
}
