.dropdown-menu {
   @extend .list-unstyled;
   position: absolute;
   z-index: $top;
   min-width: 160px;
   @include equal-radius;
   background-color: $sheet;
   box-shadow: 0 0 4px rgba(0,0,0,0.12),
        0 4px 4px rgba(0,0,0,0.24);
   // margin-top: -1px;
   z-index: $dropdown;

   &.init {
      display: none;

      &.active {
         display: block;
         clear: both;
      }
   }

   .header & {
      text-shadow: none;
   }

   li {

      a {
         display: block;
         padding: $sm-spacing $base-spacing;
      }

      &:hover {
         background: $lt-gray;
      }
   }

   .form-field {
      margin: $tiny-spacing $sm-spacing;

      &:first-child {
          margin-top: $sm-spacing;
      }

      &:last-child {
          margin-bottom: $sm-spacing;
      }
   }
}

.dropdown-trigger {

   &.init {
      position: relative;
      padding: $tiny-spacing $sm-spacing;

      @include iconic(after, chevron-bottom, $color-light-alpha) {
          margin-left: $tiny-spacing;
      }

      &.active {
         border: $base-border;
         @include border-bottom-radius(0);

         &:after {
            @include transform(rotate(180deg));
         }
      }
   }
}
