.dropdown-menu {
    position: absolute;
    min-width: 160px;
    @extend .menu;
    z-index: $dropdown;
    color: $color-dark-beta;
    margin: 0;
    @include transition(0.3s);

    &.init {
        display: none;

        &.active {
            display: block;
            clear: both;

            + .dropdown-overlay {
                position: absolute;
                z-index: $toolbox;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.48);
            }
        }

        &[data-toggle-animate] {
            display: none;
            opacity: 0;
        }
    }

    .dropdown-menu-title {
        @include typeBeta;
        margin: $base-spacing $sm-spacing;
    }

    .dropdown-menu-body {
        position: relative;
        overflow-y: scroll;

/*
        &:after {
            content: '';
            position: absolute;
            z-index: $body;
            right: 0;
            bottom: 0;
            left: 0;
            height: $base-spacing;
            @include vert-gradient(rgba(250,250,250,0), rgba(250,250,250,.85));
        }
*/
    }

    p {
        margin: $sm-spacing;
    }

    ul {
        @extend .list-reset;
    }

    > ul {
        padding: $tiny-spacing 0;
    }

    li {
        position: relative;
        list-style-type: none;
        margin: 0;

        svg.iconic,
        img.avatar {
            position: absolute;
            left: $sm-spacing;

            + .label {
                display: inline-block;
                padding-left: $sm-spacing+12;
            }
        }

        img.avatar {
            width: 20px;
            height: 20px;
            margin-top: -2px;
        }

        a {
            display: block;
            padding: $tiny-spacing $sm-spacing;

            &:hover {
                color: $white;
                background-color: $color-primary;

                svg.iconic {
                    fill: $white;
                }
            }
        }
    }

    dl {

        dt.list-item {

            &:first-child {
                margin-top: $sm-spacing;
            }
        }
    }

    dt.list-item {
        @include typeBase;
        padding: 0;
        margin: $base-spacing $sm-spacing;

        + dd {
            font-size: .785714286em;
            border-bottom: none;
            padding-bottom: 0;
            margin-top: -$sm-spacing;
            margin-bottom: $sm-spacing;
        }

        svg.iconic {
            fill: $color-light-alpha;
            margin-right: 4px;
        }
    }

    dd {
        margin-right: $sm-spacing;
        margin-left: $sm-spacing;
    }

    fieldset {
        margin: $tiny-spacing $sm-spacing !important;

        &:first-child {
            margin-top: $sm-spacing !important;
        }

        &:last-child {
            margin-bottom: $sm-spacing !important;
        }

        .form-field {
            margin: 0 auto $tiny-spacing !important;
        }
    }

    .form-field {
        margin: $sm-spacing !important;

        .form-field {
            margin: 0 auto $tiny-spacing !important;
        }

        &.checkbox,
        &.radio {
            // margin: $tiny-spacing $sm-spacing !important;

            &.icon-input {
                padding: $tiny-spacing $sm-spacing !important;
                margin: 0 !important;

                &:first-child {
                    // margin-top: $tiny-spacing !important;
                }

                &:last-child {
                    margin-bottom: $tiny-spacing !important;
                }

                label {
                    margin-bottom: 0;

                    &:before {
                        top: $tiny-spacing - 2;
                        left: 2px;
                    }
                }

                &.checked {
                    color: $color-dark-alpha;
                    background-color: $color-light-gamma;

                    svg.iconic {
                        fill: $color-dark-beta;
                    }
                }
            }
        }
    }

    .tool {
        max-width: none !important;
        margin: $sm-spacing  0 !important;
    }

    .divider {
        margin: $tiny-spacing 0;
    }
}

ul.dropdown-menu {
    padding: $tiny-spacing 0;
}

.dropdown-trigger {

    &.init {
        position: relative;
        padding: $tiny-spacing $sm-spacing;

        &:hover {
            cursor: pointer;
        }

        svg.chevron {
            width: 10px;
            height: 10px;
            fill: $color-light-alpha;
            margin-right: 0;
            margin-left: $tiny-spacing;
            @include transition(0.3s);
        }

        &.active {

            svg.chevron {
                @include transform(rotate(180deg));
            }
        }
    }
}

[data-toggle] {

    &:hover {
        cursor: pointer;
    }
}
