.explain {
    text-align: center;

    .explain-title {
        @include typeAlpha;
        margin-bottom: $sm-spacing;
    }

    .explain-illustration {
        max-height: 250px;
        margin: $sm-spacing auto;
    }

    .explain-icon {
        fill: $color-light-alpha;
        width: $lg-spacing;
        height: $lg-spacing;
    }

    p {
        max-width: 600px;
        margin: $sm-spacing auto;
    }
}
