.filters-count {

    .count {
        color: $lt-text-color; 
        background: $dk-gray;
        font-weight: $bold;
        padding: ($tiny-spacing + 1px) $tiny-spacing $tiny-spacing $tiny-spacing;
        margin-left: $tiny-spacing;
        margin-right: $sm-spacing;
        height: 28px;
        width: 28px;
        display: inline-block;
         -moz-border-radius: 50%; 
        -webkit-border-radius: 50%; 
        border-radius: 50%;
        text-align: center;

        &.has-filters {
            background: $highlight;
            color: $text-color;
        }

    }

}
