.form-field,
fieldset {
   @include clearfix;
   margin-bottom: $base-spacing;

   &:last-child,
   .form-field {
      margin-bottom: 0;
   }

   label {
      display: inline-block;
      margin-bottom: $tiny-spacing;

      + p {
         font-style: italic;
         margin: $tiny-spacing 0;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
          margin-top: $tiny-spacing;
      }
   }

   .alert {
      margin: $tiny-spacing 0;
   }

   // REQUIRED FIELD
   &.required {

      label {

         &:after {
             content: '\2217';
             color: $red;
             font-weight: normal;
             font-size: 1.75em;
             @include margin-left($tiny-spacing);
         }
      }
   }

   // INVALID FORM FIELD VALUE
   &.error {

      label {
         color: $error-color;
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         border-color: $error-color;

         &:focus {
            border-color: $error-color;
         }
      }

   }

   // VALID FORM FIELD VALUE
   &.success {

      label {

          @include iconic(after, circle-check, $confirmation-color) {
              @include margin-left($tiny-spacing);
          }
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         border-color: $confirmation-color;

         &:focus {
            border-color: $confirmation-color;
         }
      }
   }

   // CHECKBOX OR RADIO BUTTON
   &.checkbox,
   &.radio {
       position: relative;
       @include padding-left(14px + $tiny-spacing);

      label {
         color: $text-color;
         @include typeBase;
         text-transform: none;
         letter-spacing: 0;
      }

      input[type="checkbox"],
      input[type="radio"] {
          position: absolute;
          top: 0;
          @include left(0);
      }
   }

   // TITLE
   &.title {

      input[type="text"] {
         max-width: none;
         @include typeBeta;
         padding: $sm-spacing;
      }
   }

   // SEARCH & LOCATE
   &.search, &.location {
      position: relative;

      @include iconic(before, magnifying-glass, $color-primary, 12px) {
         position: absolute;
         top: 13px;
         @include left(11px);
      }

      label {
         display: none;
      }

      input[type="search"], input[type="text"] {
         @include padding-left($base-spacing);
      }
   }

   &.select {

      .custom-select {
         @include margin-right($tiny-spacing);
      }

      label {
         display: inline;
         color: $text-color;
         @include typeBase;
         text-transform: none;
         letter-spacing: 0;
      }
   }

   &.location {
      @include icon($before, locate) {
         position: absolute;
         top: 8px;
         @include left($sm-spacing);
         color: $blue;
         font-size: 16px;
      }
   }

    &.location-picker {
        display: inline-block;
        max-width: 200px;

        input {
            box-shadow: none;
        }

        .location-input {
            position: relative;
            @include icon($before, locate) {
                color: $blue;
                position: absolute;
                top: 9px;
                @include right(10px);
                z-index: 1;
            }

            input[type="text"] {
                font-size: em(14);
                margin: 0;
                @include lrswap(padding, 8px 0 7px $sm-spacing);
            }

        }

        .location-range {
            display: inline-block;
            border-right: $base-border;
            border-bottom: $base-border;
            @include border-left($base-border);
            padding: 10px;
            background-color: $lt-brown;

            label {
                margin-top: 10px;
            }

            label,
            input.distance,
            select {
                @include float(left);
            }

            input.distance {
                width: auto;
                max-width: 35px;
                @include lrswap(margin, 0 10px 0 0);
            }

            .custom-select {
                margin-bottom: 0;
            }

            input[type="range"] {
                margin: 0;
            }

        }

    }

   // TOGGLE SWITCH
   &.switch {
       position: relative;

      .toggle-switch {
          position: absolute;
          top: 0;
          right: 0;

         label {
            margin: 0;
         }
      }

      > label {
          display: inline-block;
          color: $text-color;
          @include typeBase;
          text-transform: none;
          letter-spacing: 0;
          padding-right: 72px;
      }
   }

   // INLINE ELEMENTS
   &.inline {

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      .custom-select {
         display: inline-block;
         @include margin-right(5px);

         @include media($mobile-down) {
            display: block;
         }
      }

      button,
      [class*="button-"] {

         @include media($mobile-up) {
            position: relative;
            top: -1px;
            padding: 7px 15px 9px;
         }
      }
   }
}

.form-fieldgroup {
   border-bottom: $base-border;
   padding: $tiny-spacing 0;

   &:last-of-type {
      border-bottom: none;
   }
}

.form-field-adapt {
    position: relative;

    label {
        position: absolute;
        top: 25px;
        font-size: em(14);
        pointer-events: none;
        @include transition(all .25s);
        z-index: $top;
    }

    .textarea-label {
        top: 45px;
    }

    input[type="text"],
    textarea {
        box-shadow: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        height: auto;
        padding: 16px 0 8px 0;
        background-color: transparent;
    }

    &.is-focused {

        label {
            top: 0px;
            font-size: em(12);
        }

        textarea {
            padding: 16px 0 8px 0;
            outline: transparent;
        }

    }

}
