.form-field,
fieldset {
   @include clearfix;
   margin-bottom: $base-spacing;

   &:last-child,
   .form-field {
      margin-bottom: 0;
   }

   label {
      display: inline-block;
      margin-bottom: $tiny-spacing;

      + p {
         font-style: italic;
         margin: $tiny-spacing 0;
      }
   }

   .alert {
      margin: $tiny-spacing 0;
   }

   // REQUIRED FIELD
   &.required {

      label {

         &:after {
             content: '\2217';
             color: $red;
             font-weight: normal;
             font-size: 1.75em;
             @include margin-left($tiny-spacing);
         }
      }
   }

   // INVALID FORM FIELD VALUE
   &.error {

      label {
         color: $error-color;
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         border-color: $error-color;

         &:focus {
            border-color: $error-color;
         }
      }

   }

   // VALID FORM FIELD VALUE
   &.success {

      label {

          @include iconic(after, circle-check, $confirmation-color) {
              margin-left: $tiny-spacing;
          }
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         border-color: $confirmation-color;

         &:focus {
            border-color: $confirmation-color;
         }
      }
   }

   // CHECKBOX OR RADIO BUTTON
   &.checkbox,
   &.radio {
       position: relative;
       padding-left: 14px + $tiny-spacing;

      label {
         color: $text-color;
         @include typeBase;
         text-transform: none;
         letter-spacing: 0;
      }

      input[type="checkbox"],
      input[type="radio"] {
          position: absolute;
          top: 0;
          left: 0;
      }
   }

   // TITLE
   &.title {

      input[type="text"] {
         font-size: em(24);
         max-width: none;
         padding: 15px;
      }
   }

   // SEARCH & LOCATE
   &.search, &.location {
      position: relative;

      @include iconic(before, magnifying-glass, $color-primary, 14px) {
         position: absolute;
         top: 10px;
         left: $tiny-spacing;
      }

      label {
         display: none;
      }

      input[type="search"], input[type="text"] {
         padding-left: $base-spacing;
      }
   }

   &.select {

      .custom-select {
         margin-right: $tiny-spacing;
      }

      label {
         display: inline;
         color: $black;
         font-weight: normal;
         font-size: em(15);
         text-transform: none;
         letter-spacing: 0;
      }
   }

   &.location {
      @include icon($before, locate) {
         position: absolute;
         top: 8px;
         left: $sm-spacing;
         color: $blue;
         font-size: 16px;
      }
   }

    &.location-picker {
        display: inline-block;
        max-width: 200px;

        input {
            box-shadow: none;
        }

        .location-input {
            position: relative;
            @include icon($before, locate) {
                color: $blue;
                position: absolute;
                top: 9px;
                @include right(10px);
                z-index: 1;
            }

            input[type="text"] {
                font-size: em(14);
                margin: 0;
                @include lrswap(padding, 8px 0 7px $sm-spacing);
            }

        }

        .location-range {
            display: inline-block;
            border-right: $base-border;
            border-bottom: $base-border;
            border-left: $base-border;
            padding: 10px;
            background-color: $lt-brown;

            label {
                margin-top: 10px;
            }

            label,
            input.distance,
            select {
                @include float(left);
            }

            input.distance {
                width: auto;
                max-width: 35px;
                @include lrswap(margin, 0 10px 0 0);
            }

            .custom-select {
                margin-bottom: 0;
            }

            input[type="range"] {
                margin: 0;
            }

        }

    }

   // TOGGLE SWITCH
   &.switch {

      .toggle-switch {

         label {
            margin: 0;
         }
      }

      > label {
/*         color: $text-color;
         font-weight: normal;
         font-size: 1em;
         text-transform: none;
         letter-spacing: 0;
         */
         padding: 0 0 $sm-spacing;
         margin: 0;
      }
   }

   // INLINE ELEMENTS
   &.inline {

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      .custom-select {
         display: inline-block;
         margin-right: 5px;

         @include media($mobile-down) {
            display: block;
         }
      }

      button,
      [class*="button-"] {

         @include media($mobile-up) {
            position: relative;
            top: -1px;
            padding: 7px 15px 9px;
         }
      }
   }
}

.form-fieldgroup {
   border-bottom: $base-border;
   padding: $tiny-spacing 0;

   &:last-of-type {
      border-bottom: none;
   }
}
