.form-field,
fieldset {
   @include clearfix;
   margin-bottom: $base-spacing;

   &:first-child {

      label {
         margin-top: 0;
      }
   }

   &:last-child,
   .form-field {
      margin-bottom: 0;
   }

   label {
      @extend .delta-alt;
      display: block;
      @include lrswap(padding, 0 $sm-spacing 0 0);

      + .small {
         font-style: italic;
      }
   }

   .alert {
      display: inline-block;
      @include border-left(3px solid $border-color);
      padding: $tiny-spacing $sm-spacing;
      margin: 0;
      background-color: lighten( $lt-gray, 4% );
   }

   // REQUIRED FIELD
   &.required {

      label {
         @include padding-left(2px);

         @include icon($after, asterisk) {
            position: relative;
            top: -6px;
            font-size: 6px;
            @include lrswap(padding, 0 1px 0 5px);
            color: $error-color;
         }
      }
   }

   // INVALID FORM FIELD VALUE
   &.error {

      label {
         color: $error-color;
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         border-color: $error-color;

         &:focus {
            border-color: $error-color;
         }
      }

      .alert {
         border-color: $error-color;
         background-color: lighten( $error-color, 50% );

         @include icon(before, alert) {
            display: inline-block;
            color: $error-color;
            font-size: em(18);
            @include padding-right($sm-spacing);
         }

      }
   }

   // VALID FORM FIELD VALUE
   &.success {

      label {

         @include icon($after, check-circle) {
            color: $confirmation-color;
            display: inline-block;
            font-size: em(18);
            @include padding-left($tiny-spacing);
         }
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea {
         border-color: $confirmation-color;

         &:focus {
            border-color: $confirmation-color;
         }
      }

      .alert {
         border-color: $confirmation-color;
         background-color: lighten( $confirmation-color, 50% );
      }
   }

   // CHECKBOX OR RADIO BUTTON
   &.checkbox,
   &.radio {

      label {
         @include float(left);
         color: $text-color;
         font-weight: normal;
         text-transform: none;
         letter-spacing: 0;
         margin: 0 0 5px;
      }
   }

   // TITLE
   &.title {

      input[type="text"] {
         font-size: em(24);
         max-width: none;
         padding: 15px;
      }
   }

   // SEARCH & LOCATE
   &.search, &.location {
      position: relative;

      @include icon($before, search) {
         position: absolute;
         top: 10px;
         left: $tiny-spacing;
         color: $gamma-blue;
         font-size: 16px;
      }

      label {
         display: none;
      }

      input[type="search"], input[type="text"] {
         padding-left: $base-spacing;
      }
   }

   &.select {

      .custom-select {
         margin-right: $tiny-spacing;
      }

      label {
         display: inline;
         color: $black;
         font-weight: normal;
         font-size: em(15);
         text-transform: none;
         letter-spacing: 0;
      }
   }

   &.location {
      @include icon($before, locate) {
         position: absolute;
         top: 8px;
         left: $sm-spacing;
         color: $blue;
         font-size: 16px;
      }
   }

    &.location-picker {
        display: inline-block;
        max-width: 200px;

        input {
            box-shadow: none;
        }

        .location-input {
            position: relative;
            @include icon($before, locate) {
                color: $blue;
                position: absolute;
                top: 9px;
                @include right(10px);
                z-index: 1;
            }

            input[type="text"] {
                font-size: em(14);
                margin: 0;
                @include lrswap(padding, 8px 0 7px $sm-spacing);
            }

        }

        .location-range {
            display: inline-block;
            border-right: $base-border;
            border-bottom: $base-border;
            border-left: $base-border;
            padding: 10px;
            background-color: $lt-brown;

            label {
                margin-top: 10px;
            }

            label,
            input.distance,
            select {
                @include float(left);
            }

            input.distance {
                width: auto;
                max-width: 35px;
                @include lrswap(margin, 0 10px 0 0);
            }

            .custom-select {
                margin-bottom: 0;
            }

            input[type="range"] {
                margin: 0;
            }

        }

    }

   // TOGGLE SWITCH
   &.switch {

      .toggle-switch {

         label {
            margin: 0;
         }
      }

      > label {
/*         color: $text-color;
         font-weight: normal;
         font-size: 1em;
         text-transform: none;
         letter-spacing: 0;
         */
         padding: 0 0 $sm-spacing;
         margin: 0;
      }
   }

   // INLINE ELEMENTS
   &.inline {

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      .custom-select {
         display: inline-block;
         margin-right: 5px;

         @include media($mobile-down) {
            display: block;
         }
      }

      button,
      [class*="button-"] {

         @include media($mobile-up) {
            position: relative;
            top: -1px;
            padding: 7px 15px 9px;
         }
      }
   }
}

.form-fieldgroup {
   border-bottom: $base-border;
   padding: $sm-spacing 0;

   &:last-of-type {
      border-bottom: none;
   }
}
