.form-field,
fieldset {
   @include clearfix;
   position: relative;
   margin-bottom: $base-spacing;

   &:last-child,
   .form-field {
      margin-bottom: 0;
   }

   label {
      display: block;
      margin-bottom: $tiny-spacing;

      + p {
         font-style: italic;
         margin: $tiny-spacing 0;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea,
      .custom-select,
      select {
          margin-top: $tiny-spacing;
      }

      .tooltip {
          display: inline-block;
          color: $white;
          width: 1.142857143em;
          height: 1.142857143em;
          font-weight: $bold;
          font-size: .857142857em;
          text-align: center;
          @include equal-radius(100%);
          background-color: $color-primary;
          padding: 2px;
          margin: 0 4px;

          svg.iconic {
              width: 10px;
              height: 10px;
              fill: $white;
          }
      }
   }

   button,
   .button {
       margin-right: $tiny-spacing;
       margin-bottom: $tiny-spacing;
   }

   figure {

       button,
       .button {
           margin-top: $tiny-spacing;
       }
   }

   .alert {
      margin: $tiny-spacing 0;
   }

   // REQUIRED FIELD
   &.required {

      label {

         &:after {
             content: '\2217';
             color: $red;
             font-weight: normal;
             font-size: 1.75em;
             @include margin-left($tiny-spacing);
         }
      }
   }

   // INVALID FORM FIELD/FIELDSET VALUE
   &.error {

      label,
      legend,
      p {
         color: $error-color;
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea,
      select {
         border-color: $error-color;
         box-shadow: 0 0 $tiny-spacing $error-color;

         &:focus {
            border-color: $error-color;
         }
      }

      .form-field {

          label {
              color: $error-color;
          }
      }

   }

   // VALID FORM FIELD VALUE
   &.success {

      label {

          @include iconic(after, circle-check, $confirmation-color) {
              @include margin-left($tiny-spacing);
          }
      }

      input,
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="search"],
      textarea,
      select {
         border-color: $confirmation-color;

         &:focus {
            border-color: $confirmation-color;
         }
      }
   }

   // CHECKBOX OR RADIO BUTTON
   &.checkbox,
   &.radio {
       position: relative;
       @include padding-left(14px + $tiny-spacing);

      label {
         color: $text-color;
         @include typeBase;
         text-transform: none;
         letter-spacing: 0;
      }

      input[type="checkbox"],
      input[type="radio"] {
          position: absolute;
          top: 0;
          @include left(0);
      }
   }

   // TITLE
   &.title {

       label {
           display: none;
       }

      input[type="text"] {
         max-width: none;
         @include typeBeta;
         padding: $sm-spacing;
      }
   }

   // SEARCH
   &.search {

      label {
         display: none;
      }

      input[type="search"],
      input[type="text"] {
         @include padding-left($lg-spacing);
      }

      svg.iconic {
          position: absolute;
          top: 13px;
          @include left(16px);
          fill: $color-primary;
      }
   }

   &.location {

       input[type="text"] {

           + button,
           + .button {
               margin-top: $tiny-spacing;
           }
       }

       .map {
           height: 400px;
           border: 1px solid $color-light-beta;
           margin-bottom: $tiny-spacing;

           + .form-field {
               position: absolute;
               z-index: $body;
               top: $base-spacing;
               right: $tiny-spacing;
               left: $tiny-spacing;

               input[type="text"] {
                   display: inline-block;
                   width: 60%;

                   + button,
                   + .button {
                       margin-left: 4px;
                   }
               }

           }
       }
   }

   &.select {

      label {
         display: inline-block;
         color: $text-color;
         @include typeBase;
         text-transform: none;
         letter-spacing: 0;

         .custom-select {
            margin-right: $tiny-spacing;
         }

         + .custom-select {
             margin-left: $tiny-spacing;
         }
      }

      .custom-select,
      select {
          display: inline-block;
          margin-top: 0;
      }
   }

   &.url {

       input[type="text"],
       input[type="url"] {
           display: inline-block;
           width: auto;

           + .domain {
               margin-left: $tiny-spacing;
           }
       }
   }

   &.date {

       svg.iconic {
           position: absolute;
           top: 11px;
           @include left(16px);
           fill: $color-primary;
       }

       input[type="date"],
       input[type="datetime"] {
          @include padding-left($lg-spacing);
       }

       input[type="date"] {
           padding-right: 4px;
       }

       .date-joiner {
           display: inline-block;
           @extend .caps;
           text-align: center;
           @include equal-radius();
           border: 1px solid $color-light-beta;
           background-color: $color-light-delta;
           padding: 4px;
           margin-top: $tiny-spacing;
           margin-bottom: $tiny-spacing;
           margin-left: $tiny-spacing;
       }
   }

    &.location-picker {
        display: inline-block;
        max-width: 200px;

        input {
            box-shadow: none;
        }

        .location-input {
            position: relative;
            @include icon($before, locate) {
                color: $blue;
                position: absolute;
                top: 9px;
                @include right(10px);
                z-index: 1;
            }

            input[type="text"] {
                font-size: em(14);
                margin: 0;
                @include lrswap(padding, 8px 0 7px $sm-spacing);
            }

        }

        .location-range {
            display: inline-block;
            border-right: $base-border;
            border-bottom: $base-border;
            @include border-left($base-border);
            padding: 10px;
            background-color: $lt-brown;

            label {
                margin-top: 10px;
            }

            label,
            input.distance,
            select {
                @include float(left);
            }

            input.distance {
                width: auto;
                max-width: 35px;
                @include lrswap(margin, 0 10px 0 0);
            }

            .custom-select {
                margin-bottom: 0;
            }

            input[type="range"] {
                margin: 0;
            }

        }

    }

   // TOGGLE SWITCH
   &.switch {
       position: relative;

      .toggle-switch {
          position: absolute;
          top: 0;
          right: 0;

         label {
            margin: 0;
         }
      }

      > label {
          display: inline-block;
          color: $text-color;
          @include typeBase;
          text-transform: none;
          letter-spacing: 0;
          padding-right: 72px;
      }
   }
}

fieldset {

    .custom-select {
        margin-top: -6px;
    }
}

fieldset,
.form-fieldgroup {
    position: relative;

    .overflow {
        display: none;
    }

    .form-fieldgroup {
        border-top: 1px solid $color-light-beta;
        padding-top: $tiny-spacing;
        margin-top: $tiny-spacing;
    }

    .form-field-toggle {
        display: none;
        color: $color-primary;
        padding: $tiny-spacing;

        &:hover {
            cursor: pointer;
            color: $color-primary-alpha;
        }

        svg.iconic {
            width: 8px;
            height: 8px;
            fill: $color-primary;
            margin-right: $tiny-spacing;
            @include transition(0.3s);
        }
/*
        @include iconic(before, plus, $color-primary, 8px) {
            margin-right: $tiny-spacing;
        }
        */
    }

    &.has-overflow {

        .form-field-toggle {
            display: inline-block;
        }
    }

    &.show-overflow {

        .overflow {
            display: block;
        }

        .form-field-toggle {

            svg.iconic {
                @include transform(rotate(180deg));
            }
        }
    }
}

.form-field-adapt {

    &.init {
        position: relative;

        label {
            position: absolute;
            top: $sm-spacing;
            z-index: $top;
            color: $color-dark-delta;
            font-weight: normal;
            font-size: 14px;
            font-size: 1rem;
            letter-spacing: normal;
            text-transform: none;
            pointer-events: none;
            @include transition(all .25s);
        }

/*
        .textarea-label {
            top: 45px;
        }
*/
        input[type="text"],
        textarea {
            height: auto;
            overflow:hidden;
            outline: none;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            background-color: transparent;
            padding-right: 0 !important;
            padding-left: 0 !important;
            box-shadow: none;
            resize: none;
        }

        &.focus,
        &.value {

            label {
                top: 0px;
                @extend .caps;
                font-size: 10px !important;
                font-size: .714285714rem !important;
            }

            input[type="text"],
            textarea {
                height: auto;
            }

            textarea {
                outline: transparent;
                padding-top: $base-spacing;
            }
        }

        &.focus {

            label {
                color: darken( $color-secondary, 20% );
            }

            input[type="text"],
            textarea {
                border-bottom-color: $color-secondary;
            }
        }

        &.title {

            label {
                display: block;
                font-size: 20px;
                font-size: 1.428571429rem;
            }

            input[type="text"] {
                padding-top: $base-spacing;
            }
        }

        &.error {

            label {
                color: $error-color !important;
            }

            input,
            textarea {
                border-color: $error-color !important;
            }
        }
    }
}

.location-adapt {
    max-width: 452px;

    .form-field {
        margin-bottom: 20px;
    }

    .custom-select {
        position: absolute;
        top: 32px;
        @include right(0px);
    }

    button {
        @include float(left);
        clear: both;
    }

}
