figure {
    position: relative;

    .form-field {
        position: absolute;
        z-index: $body;
        bottom: $tiny-spacing;
        left: $sm-spacing;
        margin-bottom: 0 !important;
    }
}
