figure {
    position: relative;

    button,
    .button {
        position: absolute;
        z-index: $body;
        bottom: $tiny-spacing;
        left: $tiny-spacing;
        margin-bottom: 0 !important;
    }
}
