.list-item {
    display: block;
    list-style-type: none;
    border-bottom: $base-border;
    border-bottom-width: 1px;
    padding: $base-spacing 0;

    &:last-child {
        border-bottom-color: transparent;
    }

    strong {
        display: block;
        @include typeGamma;
        margin: 0;
    }

    span {
        display: block;
        color: $dk-gray;
        margin-top: $sm-spacing;
    }
}

dt.list-item {
    @include typeGamma;
    border: none;
    padding-bottom: 0;
    margin: 0 0 $sm-spacing;

    + dd {
        color: $dk-gray;
        border-bottom: $base-border;
        border-bottom-width: 1px;
        padding-bottom: $base-spacing;
        margin-top: -$tiny-spacing;

        &:last-of-type {
            border-bottom-color: transparent;
        }
    }
}
