.listing {
    position: relative;
    @include transition(0.3s);

    .listing-heading {
        display: block;
        @include typeBeta;
        padding: $base-spacing $sm-spacing;

        @include media($medium) {
            padding: $base-spacing;
        }

        + .listing-item {
            margin-top: -$sm-spacing;
        }
    }

    .listing-item {
        border-bottom: 1px solid $color-light-gamma;

        &:last-child {
            border-bottom: none;
        }

        .listing-item-body {
            display: none;
        }

        &.active {

            .listing-item-body {
                display: block;
            }
        }
    }

    .postcard {
        margin: $sm-spacing;

        @include media($medium) {
            margin: $sm-spacing auto;
        }
    }

    .listing-toolbar {
        display: none;
        position: absolute;
        top: -100px;
        right: $sm-spacing;
        left: $sm-spacing;
        z-index: $top;
        @include transition(0.3s);

        @include media($medium) {
            right: $base-spacing;
            left: 298px;
        }
    }

    &.card {
        background-color: $color-light-delta;
    }

    &.toolbar-active {
        margin-top: 116px;

        @include media($medium) {
            margin-top: 100px;
        }

        .listing-toolbar {
            display: block;
        }
    }
}

.listing-item {
    position: relative;
    @include clearfix;

    .listing-item-select {
        position: absolute;
        top: $base-spacing+1;
        left: $sm-spacing;
        z-index: $body;

        .buttons-updown {
            position: relative;
            top: -14px;
            left: -3px;
        }

        + .listing-item-primary {
            padding-left: 46px;

            .listing-item-image {
                left: 46px;
            }
        }

        + .listing-item-secondary {

            + .listing-item-primary {
                padding-left: 46px;
            }
        }
    }

    .listing-item-primary {
        position: relative;
        padding: $base-spacing $sm-spacing;

        @include media($medium) {
            padding-right: $base-spacing;
            padding-left: $base-spacing
        }

        .listing-item-image {
            position: absolute;
            top: $base-spacing;

            .icon {
                position: relative;
                top: -8px;
            }

            + .listing-item-title {
                padding-left: 48px;

                + .listing-item-secondary {
                    padding-left: 48px;

                    + p {
                        padding-left: 48px;
                    }
                }
            }
        }

        .listing-item-secondary {
            position: static;
            width: auto;
            text-align: left;
            margin: 4px 0;
        }
    }

    .listing-item-secondary {
        position: absolute;
        top: $base-spacing;
        right: $sm-spacing;
        bottom: 0;
        z-index: $body;
        width: 56px;
        font-size: .857142857em;
        text-align: right;

        @include media($medium) {
            right: $base-spacing;
        }

        + .listing-item-primary {
            padding-right: 72px;

            @include media($medium) {
                padding-right: 80px;
            }
        }
    }

    .listing-item-body {
        margin: $sm-spacing;

        &.active {
            display: block;
        }
    }

    .listing-item-image {
        width: $lg-spacing;
    }

    .listing-item-title {
        @include typeGamma;

        svg.iconic {
            width: .857142857em;
            height: .857142857em;
            margin-right: 4px;
        }
    }
}

.listing-toolbar {
    @extend .sheet;
    @include clearfix;
    background-color: $color-primary;
    padding: $sm-spacing;

    @include media($medium) {
        padding-right: $base-spacing;
        padding-left: $base-spacing;
    }

    .listing-toolbar-summary {
        display: block;
        color: $white;
        margin-bottom: $tiny-spacing;

        .button-link {
            padding: 0;
            margin-left: $sm-spacing;
        }
    }

    .listing-toolbar-actions {

        .listing-toolbar-actions-left,
        .listing-toolbar-actions-right {
            display: inline;
        }

        @include media($medium) {

            .listing-toolbar-actions-left {
                float: left;
            }

            .listing-toolbar-actions-right {
                float: right;
            }
        }

        fieldset,
        button,
        .button {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 $tiny-spacing 0 0;
        }

        button,
        .button {
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
        }

        .listing-toolbar-toggle {
            display: none;
            font-style: italic;
            background-color: $color-primary-gamma;
            box-shadow: 0 0 16px rgba(55,62,70,.8);
        }
    }

    .button-link {
        color: $color-tertiary;
        font-size: .857142857em;
        padding: 0 $sm-spacing;

        &:hover {
            color: $white;
        }
    }

    &.truncated {

        .listing-toolbar-actions {

            @include media($medium-down) {
                position: relative;
                width: 100%;
                overflow-x: hidden;
                white-space: nowrap;
                line-height: 30px;

                .listing-toolbar-toggle {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;

                    &.more {
                        display: inline-block;
                    }
                }
            }
        }

        &.expanded {
            overflow-y: scroll;

            @include media($medium-down) {

                .listing-toolbar-actions {

                    fieldset,
                    button,
                    .button {
                        display: block;
                        margin: $sm-spacing 0;
                    }

                    .listing-toolbar-toggle {
                        margin: 0;

                        &.more {
                            display: none;
                        }

                        &.less {
                            display: inline-block;
                            @include no-shadow;
                        }
                    }
                }
            }

            @include media($medium) {
                bottom: auto;
                overflow-y: auto;
            }
        }
    }
}
