.list-item {
    display: block;
    list-style-type: none;
    border-bottom: $base-border;
    border-bottom-width: 2px;
    padding: $base-spacing 0;

    &:last-child {
        border-bottom-color: transparent;
    }

    strong {
        display: block;
        @extend .epsilon;
        margin: 0;
    }

    span {
        display: block;
        color: $dk-gray;
        margin-top: $sm-spacing;
    }
}

dt.list-item {
    @extend .epsilon;
    border: none;
    padding-bottom: 0;
    margin: 0 0 $sm-spacing;

    + dd {
        color: $dk-gray;
        border-bottom: $base-border;
        border-bottom-width: 2px;
        padding-bottom: $base-spacing;

        &:last-of-type {
            border-bottom-color: transparent;
        }
    }

    &.add {
        position: relative;
        padding-left: $lg-spacing;

        @include icon($before, plus) {
            @include lrswap(padding, 0 5px 0 1px);
            position: absolute;
            z-index: 1;
            left: 0;
            width: 25px;
            height: 25px;
            color: $yellow;
            font-size: 19px;
            text-align: center;
            @include equal-radius(100%);
            background-color: $black;
            padding: 4px;
        }

        a {
            position: relative;
            z-index: 2;
            padding-left: $lg-spacing;
            margin-left: -$lg-spacing;
        }

        + dd {
            padding-left: $lg-spacing;
        }
    }
}