.listing-item {
    position: relative;
    @include clearfix;

    .listing-item-select {
        position: absolute;
        top: 0;
        @include left($sm-spacing);
        z-index: $body;

        input[type="checkbox"],
        input[type="radio"] {
            position: relative;
            top: $base-spacing+1;
        }

        .buttons-updown {
            position: relative;
            top: 10px;
            @include left(-3px);
        }

        + .listing-item-primary {
            @include padding-left(46px);

            .listing-item-image {
                @include left(46px);
            }
        }

        + .listing-item-secondary {

            + .listing-item-primary {
                @include padding-left(46px);
            }
        }
    }

    .listing-item-primary {
        position: relative;
        padding: $base-spacing $sm-spacing;

        .listing-item-image {
            position: absolute;
            top: $base-spacing;
            @include left(16px);

            .icon {
                position: relative;
                top: -8px;
            }

            + .listing-item-title {
                @include padding-left(48px);

                + .listing-item-secondary {
                    @include padding-left(48px);

                    + p {
                        @include padding-left(48px);
                    }
                }
            }
        }

        .listing-item-secondary {
            position: static;
            width: auto;
            @include text-align(left);
            margin: 4px 0;
        }
    }

    .listing-item-secondary {
        position: absolute;
        top: $base-spacing;
        @include right($sm-spacing);
        z-index: $body;
        width: 56px;
        font-size: .857142857em;
        @include text-align(right);

        @include media($medium) {
            @include right($base-spacing);
        }

        button,
        .button {
            line-height: normal;
            margin-top: -$tiny-spacing;

            .button-label {
                display: none;
            }

            &.listing-item-toggle {

                svg.iconic {
                    width: 14px;
                    height: 14px;
                }
            }
        }

        svg.iconic {
            width: $base-font-size;
            height: $base-font-size;
            vertical-align: middle;
        }

        + .listing-item-primary {
            @include padding-right(72px);

            @include media($medium) {
                @include padding-right(80px);
            }
        }

        .dropdown-menu {
            top: 0 !important;
            @include left(auto !important);
            @include right(0 !important);
            @include typeBase;
            @include text-align(left);
        }
    }

    .listing-item-summary {
        position: relative;

        .listing-item-primary {

            .listing-item-secondary {
                position: static;
                margin-top: 4px;
            }
        }

        .listing-item-secondary {
            top: 50%;
            margin-top: -12px;
        }
    }

    .listing-item-body {
        background-color: $white;
        box-shadow: 0 1px 4px rgba(0,0,0,.24) inset;
        padding: $sm-spacing;

        @include media($medium) {
            padding: $sm-spacing $base-spacing;
        }

        &.active {
            display: block;
        }

        .listing {
            border: 1px solid $color-light-beta;
            @include radius;
            background-color: $color-light-gamma;

            .listing-heading {
                @extend .caps;
                color: $color-dark-gamma;
                border-bottom: 1px solid $color-light-beta;
                background-color: $color-light-beta;
                padding: $sm-spacing;
            }

            .listing-item {
                border-bottom-color: $color-light-beta;
            }
        }

        .tabs-menu {
            background-color: transparent;
            margin-top: -$sm-spacing;
            margin-right: -$sm-spacing;
            margin-bottom: $base-spacing;
            margin-left: -$sm-spacing;

            @include media($medium) {
                margin-right: -$base-spacing;
                margin-left: -$base-spacing;
            }
        }

        .form-field-toggle {
            margin-bottom: $base-spacing;
        }

        .custom-fieldset {
            margin-top: 0;
            margin-bottom: $sm-spacing;
        }

        .task {

            &:first-child {
                border-top: none;
            }
        }
    }

    .listing-item-image {
        width: $lg-spacing;
        font-size: $sm-spacing;
        text-align: center;
        vertical-align: middle;

        svg.iconic {
            width: 1em;
            height: 1em;
            fill: $color-primary-beta;
            vertical-align: middle;
        }

        img {
            vertical-align: middle;

            + svg.iconic {
                position: absolute;
                z-index: $body;
                top: 50%;
                @include left(-$tiny-spacing);
                fill: $color-primary;
                margin-top: -$tiny-spacing;
            }
        }
    }

    .listing-item-title {
        @include typeGamma;

        &.required {

            &:after {
                content: '\2217';
                position: relative;
                top: -4px;
                color: $red;
                @include margin-left(4px);
            }
        }

        em {
            color: $color-dark-delta;
            font-style: normal;
            font-size: .857142857em;
        }

        svg.iconic {
            width: .857142857em;
            height: .857142857em;
            @include margin-right(4px);
        }

        .status-indicator {
            width: $tiny-spacing;
            min-width: initial;
            height: $tiny-spacing;
            margin-right: $tiny-spacing;
            margin-left: $tiny-spacing;
        }

        .listing-item-image {
            margin-right: $tiny-spacing;
            margin-left: $tiny-spacing;

            svg.iconic {
                width: .75em;
                height: .75em;
                fill: $color-light-alpha;
            }
        }

        + p {
            margin-top: $sm-spacing;
        }
    }

    .listing-item-toggle {

        &:hover {
            cursor: pointer;
        }
    }

    .toolbox-body {
        margin-top: -$sm-spacing;
    }

}

.listing-toolbar {
    @extend .sheet;
    @include clearfix;
    background-color: $color-primary;
    padding: $sm-spacing;

    @include media($medium) {
        padding-right: $base-spacing;
        padding-left: $base-spacing;
    }

    .listing-toolbar-summary {
        display: block;
        color: $white;
        margin-bottom: $tiny-spacing;

        .button-link {
            padding: 0;
            @include margin-left($sm-spacing);
        }
    }

    .listing-toolbar-actions {

        .listing-toolbar-actions-left,
        .listing-toolbar-actions-right {
            display: inline;
        }

        @include media($medium) {

            .listing-toolbar-actions-left {
                @include float(left);
            }

            .listing-toolbar-actions-right {
                @include float(right);
            }
        }

        fieldset,
        button,
        .button {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin: 0 $tiny-spacing 0 0;
        }

        button,
        .button {
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
        }

        .dropdown-menu {
            top: auto !important;
            @include left(auto !important);
            margin-top: 4px;
        }

        .custom-fieldset {

            .dropdown-menu {
                top: 0 !important;
                margin-top: 0;
            }
        }

        .listing-toolbar-toggle {
            display: none;
            font-style: italic;
            background-color: $color-primary-gamma;
            box-shadow: 0 0 16px rgba(55,62,70,.8);
        }
    }

    .button-link {
        color: $color-tertiary;
        font-size: .857142857em;
        padding: 0 $sm-spacing;

        &:hover {
            color: $white;
        }
    }

    // DEPRECATE ALL TRUNCATION STUFF
    &.truncated {

        .listing-toolbar-actions {

            @include media($medium-down) {
                position: relative;
                width: 100%;
                overflow-x: hidden;
                white-space: nowrap;
                line-height: 30px;

                .listing-toolbar-toggle {
                    position: absolute;
                    top: 0;
                    @include right(0);
                    margin: 0;

                    &.more {
                        display: inline-block;
                    }
                }
            }
        }

        &.expanded {
            overflow-y: scroll;

            @include media($medium-down) {

                .listing-toolbar-actions {

                    fieldset,
                    button,
                    .button {
                        display: block;
                        margin: $sm-spacing 0;
                    }

                    .listing-toolbar-toggle {
                        margin: 0;

                        &.more {
                            display: none;
                        }

                        &.less {
                            display: inline-block;
                            @include no-shadow;
                        }
                    }
                }
            }

            @include media($medium) {
                bottom: auto;
                overflow-y: auto;
            }
        }
    }
}
