.listing {
    position: relative;
    @extend .card;
    background-color: $color-light-delta;
    @include transition(0.3s);

    .listing-item {
        border-bottom: 1px solid $color-light-gamma;

        &:last-child {
            border-bottom: none;
        }
    }

    .listing-toolbar {
        display: none;
        position: absolute;
        top: -100px;
        right: $sm-spacing;
        left: $sm-spacing;
        z-index: $top;
        @include transition(0.3s);

        @include media($medium) {
            right: $base-spacing;
            left: 298px;
        }
    }

    &.toolbar-active {
        margin-top: 116px;

        @include media($medium) {
            margin-top: 100px;
        }

        .listing-toolbar {
            display: block;
        }
    }
}

.listing-item {
    position: relative;
    @include clearfix;

    .listing-item-select {
        position: absolute;
        top: $base-spacing+1;
        left: $sm-spacing;
        z-index: $body;

        + .listing-item-primary {
            padding-left: 46px;
        }

        + .listing-item-secondary {

            + .listing-item-primary {
                padding-left: 46px;
            }
        }
    }

    .listing-item-primary {
        position: relative;
        padding: $base-spacing $sm-spacing;

        .listing-item-image {
            position: absolute;
            top: $base-spacing;
            left: 46px;

            .icon {
                position: relative;
                top: -4px;
            }

            + .listing-item-title {
                padding-left: 48px;

                + .listing-item-secondary {
                    padding-left: 48px;
                }
            }
        }

        .listing-item-secondary {
            position: static;
            text-align: left;
            margin: 4px 0;
        }
    }

    .listing-item-secondary {
        position: absolute;
        top: $base-spacing;
        right: $sm-spacing;
        bottom: 0;
        z-index: $body;
        width: 56px;
        font-size: .857142857em;
        text-align: right;

        + .listing-item-primary {
            padding-right: 72px;
        }
    }

    .listing-item-image {
        width: $lg-spacing;
    }

    .listing-item-title {
        @include typeGamma;
    }
}

.listing-toolbar {
    @extend .sheet;
    background-color: $color-primary;
    padding: $sm-spacing;

    .listing-toolbar-summary {
        display: block;
        color: $white;
        margin-bottom: $tiny-spacing;
    }

    fieldset,
    button,
    .button {
        float: left;
        margin: 0 $tiny-spacing 0 0;
    }
}
