.message {
    position: relative;
    @extend .sheet;
    color: $color-light-delta;
    @include equal-radius(0px);
    background-color: $color-primary;
    padding: $tiny-spacing $sm-spacing;

    @include media($medium) {
        padding: $tiny-spacing $base-spacing;
    }

    p {
        margin: $tiny-spacing 0;

        @include media($medium) {
            max-width: 600px;
        }

        a {
            color: $color-secondary;
            border-bottom: 1px dotted $color-secondary;

            &:hover {
                border-bottom-style: solid;
            }
        }

        em {
            color: $white;
        }
    }

    strong {
        color: $white;
    }

    button,
    .button {
        display: inline-block;
        margin: $tiny-spacing;
        margin-left: 0;

        + .button-link {
            padding-right: $sm-spacing;
            padding-left: $sm-spacing;
            margin: $tiny-spacing;
            margin-left: 0;
        }
    }

    .button-link {
        color: $color-tertiary;
        padding-right: 0;
        padding-left: 0;
        margin: 0 $tiny-spacing 0 0;

        svg.iconic {
            fill: $color-tertiary;
        }
    }

    .dropdown-menu {
        left: auto !important;
        margin-top: $tiny-spacing;

        &.init {

            &.active {
                display: none;
            }
        }
    }

    &.active {

        .dropdown-menu {

            &.init {

                &.active {
                    display: block;
                }
            }
        }
    }

    .message-image {
        width: 40px;
        height: 40px;
        @include equal-radius(100%);
        text-align: center;
        background-color: $color-primary-delta;
        margin: $tiny-spacing auto;

        + .message-body {
            margin-top: $sm-spacing;
        }

        @include media($medium) {
            position: absolute;
            top: $tiny-spacing;
            left: $base-spacing;

            + .message-body {
                padding-left: 56px;
                margin-top: 0;
            }
        }

        &.confirmation {
            background-color: $confirmation-color;
        }

        &.error {
            background-color: $error-color;
        }

        svg.iconic {
            width: 20px;
            height: 20px;
            fill: $white;
            margin-top: 10px;
        }
    }
}
