.message {
    position: relative;
    @include containerSheet;
    color: $color-light-delta;
    @include equal-radius(0px);
    background-color: $color-primary;
    @include direction;
    padding: $sm-spacing;

    @include media($medium) {
        padding: $tiny-spacing;
    }

    .message-image {
        @include circle-icon;

        @include media($medium) {
            position: absolute;
            margin: auto 0;
            top: 0;
            @include left($base-spacing);
            bottom: 0;
            @include right(0);
        }

        &.confirmation {
            background-color: $confirmation-color;
        }

        &.error {
            background-color: $error-color;
        }

    }

    .message-body {
        padding: $sm-spacing 0 0;
        text-align: center;

        @include media($medium) {
            padding: $sm-spacing $base-spacing;
            @include padding-left(90px);
            @include text-align(left);
        }
    }

    p {
        display: inline-block;
        margin: 0;

        @include media($medium) {
            margin: $tiny-spacing 0;
            @include margin-right(100px);
        }

        a {
            color: $color-secondary;
            border-bottom: 1px dotted $color-secondary;

            &:hover {
                border-bottom-style: solid;
            }
        }

        em {
            color: $white;
        }
    }

    strong {
        color: $white;
    }

    .button-group {
        margin-top: $sm-spacing;

        @include media($medium) {
            position: absolute;
            margin: auto 0;
            top: 0;
            @include right(24px);
            bottom: 0;
            height: 35px;
        }
    }

    button,
    .button {
        display: inline-block;
        font-size: 12px;
        font-size: .857142857rem;
        @include margin-left(0);

        @include media($medium) {
            margin: 2px $tiny-spacing;
        }

        + .button-link {
            padding-right: $sm-spacing;
            padding-left: $sm-spacing;
            margin: $tiny-spacing;
            @include margin-left(0);
        }

        svg.iconic {

            + .button-label {
                @include margin-left(4px);
            }
        }
    }

    .button-link {
        color: $color-tertiary;
        padding-right: 0;
        padding-left: 0;
        @include lrswap(margin, 0 $tiny-spacing 0 0);

        svg.iconic {
            fill: $color-tertiary;
        }
    }
    .buttons-export {
        padding-top: $tiny-spacing;

    }
    .dropdown-menu {
        @include left(auto !important);
        margin-top: $tiny-spacing;

        &.init {

            &.active {
                display: none;
            }
        }
    }

    &.active {

        .dropdown-menu {

            &.init {

                &.active {
                    display: block;
                }
            }
        }
    }

    &.transient {

        .message-image {
            position: absolute;
            top: 12px;
            @include left($base-spacing);
            width: $base-spacing;
            height: $base-spacing;
            margin: 0;

            svg.iconic {
                width: 14px;
                height: 14px;
                margin-top: 6px;
            }

            + .message-body {
                @include padding-left(56px);
                margin-top: 0;
            }
        }
    }
    .progress-bar {
       margin: -8px -8px 0 -8px;
       @include media($medium-down) {
            margin: -16px -16px $sm-spacing -16px;
       }
    }

    &.demo {
        background-color: $color-secondary;
        // need !important here to override previous z-index and make slider visible above overlay
        z-index: $modal + 1 !important;

        .message-image {
            background-color: $black;
        }

        .message-body {

            p {
                font-weight: bold;
                color: #1E232A;
            }
        }

        .button {
            background-color: #1E232A;
            text-transform: capitalize;
            padding: 8px 34px;
            border: 3px solid #1E232A;
            @include margin-left(24px);
            font-size: 14px;
            font-size: 1rem;

            &:hover {
                background-color: #333c48;
                border: 3px solid #333c48;
                cursor: pointer;
            }
        }

        .button-group {
            position: relative;
            margin-top: $base-spacing;
        }
    }
}

// overlay that greys out the screen for demo-version
.message-overlay {
    position: fixed;
    top: 0;
    left: 64.1px;
    right: 0;
    bottom: 0;
    opacity: 1;
    width: auto;
    height: auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    z-index: $modal;

    @include media($medium-down) {
        left: 0;
        bottom: 50px;
    }
}
