.metadata {
    display: block;
    font-size: 12px;
    font-size: .857142857rem;
    line-height: 1.4;

    .chip {
        margin: $tiny-spacing 4px;

        .avatar {
            top: auto;
            margin-right: 0;
        }
    }

    hr {
        display: inline-block;
        width: 1px;
        height: $base-spacing;
        vertical-align: middle;
        background: $color-light-beta;
        border: 0;
        margin: 4px;
    }

    .avatar {
        display: inline-block;
        position: relative;
        top: -2px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 2px;

        &:hover {
            border-color: rgba(0,0,0,.24);
        }
    }

    .metadata-status {
        display: block;
        margin: $tiny-spacing 0;

        @include media($medium) {

        }
    }

    li {
        display: inline-block;
        list-style: none;
        margin: 0;

        &:after {
            content: '\00b7';
            display: inline-block;
            color: $color-dark-gamma;
            margin: 0 2px;
        }

        &:last-child {

            &:after {
                content: none;
            }
        }
    }

    ul {
        margin-top: 0;
        margin-left: 22px;
        margin-bottom: 0;

        li {
            margin-top: $tiny-spacing;
            margin-bottom: $tiny-spacing;
        }
    }

    button,
    .button {
        font-size: 12px;
        font-size: .857142857rem;
        padding: 4px $tiny-spacing;
        margin-right: $tiny-spacing;
        margin-left: $tiny-spacing;

        svg.iconic {

            + .button-label {
                margin-left: 4px;
            }
        }
    }

    .status-indicator {
        vertical-align: middle;
        margin-right: 2px;
    }
}

ul.metadata {
    margin: 0;
}
