.metadata {
    display: block;
    font-size: 12px;
    font-size: .857142857rem;
    line-height: 1.4;

/*
    .avatar {
        display: inline;
        position: relative;
        top: 5px;
        width: 20px;
        height: 20px;
        margin-top: -6px;
        margin-right: 4px;

        &:hover {
            border-color: rgba(0,0,0,.24);
        }
    }
*/

    .chip {

        + .chip {
            margin-left: 4px;
        }
    }

    .metadata-group {
        display: inline-block;
        border-right: 1px solid $color-light-beta;
        border-left: 1px solid $color-light-beta;
        padding-right: $tiny-spacing;
        padding-left: $tiny-spacing;
        margin-right: $tiny-spacing;
        margin-left: $tiny-spacing;

        &:last-child {
            border-right-width: 0px;
        }
    }

    .metadata-status {
        display: block;
        margin: $tiny-spacing 0;

        @include media($medium) {

        }
    }

    .metadata-visibility {
        display: inline-block;
        width: 16px;
        height: 16px;
        text-align: center;
        @include equal-radius(100%);
        background-color: $red;
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $red;
        padding: 2px;
        margin: 0 $tiny-spacing;

        svg.iconic {
            width: 12px;
            height: 12px;
            fill: $color-light-delta;
        }

        &.public {
            background-color: $green;
            box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
                0 0 8px $green;
        }

        &.tooltip {

            .bug {
                top: -6px;
                right: 100%;
            }
        }
    }

    ul {
        margin-top: 0;
        margin-left: 22px;
        margin-bottom: 0;

        li {
            margin-top: $tiny-spacing;
            margin-bottom: $tiny-spacing;
        }
    }

    button,
    .button {
        font-size: 12px;
        font-size: .857142857rem;
        padding: 4px $tiny-spacing;
        margin-right: $tiny-spacing;
        margin-left: $tiny-spacing;

        svg.iconic {

            + .button-label {
                margin-left: 4px;
            }
        }
    }

/*
    .status-indicator {
        width: auto;
        height: auto;
        font-weight: $bold;
        @include equal-radius(0px);
        background-color: transparent;

        svg.iconic {
            position: relative;
            top: -2px;
            width: 12px;
            height: 12px;
            margin-right: 2px;
        }

        &:hover {
            background-color: transparent;
        }

        &.empty {

            svg.iconic {
                fill: $color-light-alpha;
            }
        }
    }

    a.status-indicator {
        color: $color-secondary-alpha;
    }
*/
}
