.metadata {
    display: block;
    font-size: 12px;
    font-size: .857142857rem;
    line-height: 1.4;

    .label {
        display: inline-block;
        vertical-align: middle;
    }

    .avatar {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        @include margin-right(2px);

        &:hover {
            border-color: rgba(0,0,0,.24);
        }
    }

    sup {
        position: relative;
        top: 3px;
        font-size: 9px;
        @include margin-right(1px);
    }

    // DEPRECATED
    .metadata-status {
        display: block;
        margin: $tiny-spacing 0;
    }

    li {
        display: inline-block;
        vertical-align: middle;
        list-style: none;
        margin: 0;
        margin-bottom: $tiny-spacing;

        &:after {
            content: '\00b7';
            display: inline-block;
            vertical-align: middle;
            color: $color-dark-gamma;
            margin: 0 4px;
        }

        &:last-child {

            &:after {
                color: transparent;
            }
        }
    }

    ul {
        margin-top: 0;
        @include margin-left(22px);
        margin-bottom: 0;

        li {
            margin-top: $tiny-spacing;
            margin-bottom: $tiny-spacing;
        }
    }

    dt {
        display: inline-block;
        color: $color-dark-gamma;
    }

    dd {
        display: inline-block;
        @include margin-right($sm-spacing);
    }

    .status-indicator {
        vertical-align: middle;

        .label {

            @include media($small-down) {
                display: none;
            }
        }
    }

    .map & {

        .status-indicator {

            .label {
                display: none;
            }
        }
    }
}

ul.metadata,
ol.metadata {
    margin: 0;
}

ol.metadata {
    margin: 0;

    li {

        &:after {
            content: '\2192';
            display: inline-block;
            color: $color-dark-gamma;
            margin: 0 2px;
        }

        &:last-child {

            &:after {
                content: none;
            }
        }
    }
}
