.selection-card {
    border: $base-border;
    border-width: 2px;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    @include transition(0.3s);

    &:hover {
        border-color:$border-color-hover;
    }

    a {
        display: block;
        padding: $sm-spacing;

        @include media($small) {
            padding: $base-spacing;
        }

    }

    p {
        color: $black;
    }

    h3 {
        margin: $tiny-spacing 0;
    }

    &.custom {

        h3 {
            @include icon(before, plus);
            
            &:before {
                color: $highlight;
                padding-right: $sm-spacing;
            }

        }
        
    }

}
