.post-field {
   margin: $base-spacing 0;

   @include media($small) {
      margin: $lg-spacing 0;
   }
}

.post-author {
   position: relative;
   padding: 1px 0 1px 60px;
   margin: $base-spacing 0;

   @include media($small) {
      padding-top: $tiny-spacing;
      padding-left: 70px;
      margin-top: $sm-spacing;
      margin-bottom: $lg-spacing;
   }

   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;

      @include media($small) {
         width: 50px;
         height: 50px;
      }
   }

   p {
      font-size: em(15);
      margin: 0;
   }
}

.post-meta {

   .meta-data {

      @include media($small) {
         float: left;
      }
   }

   .actions-inline {

      @include media($small) {
         text-align: right;
      }

      button,
      .button,
      .custom-fieldset {

         @include media($small-down) {
            display: table;
            margin: $sm-spacing 0;
         }

         @include media($small) {
            @include lrswap(margin, $sm-spacing 0 $sm-spacing $sm-spacing);
         }

         [class*="icon-"] {

            @include media($small-down) {
               color: transparent;
               font-size: 1px;
               letter-spacing: -1px;

               @include icon($position: before, $icon: false, $styles: true) {
                  font-size: 1rem;
                  letter-spacing: normal;
                  padding: 0;
               }
            }
         }
      }

      .custom-fieldset {

         @include media($small-down) {

            legend {
               padding-right: $sm-spacing;

               &:after {
                  content: none;
               }
            }
         }
      }
   }
}
