.post-type-marker {
	display: inline-block;
	font-size: em(15);
	padding: 4px;
	border: $base-border;
	border-top-width: 3px;
	@include margin-right($tiny-spacing);

	@include media($small) {
        font-size: em(16);
    }

}
