.selection-card {
    border: $base-border;
    border-width: 2px;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    padding: $base-spacing;
    @include transition;

    &:hover {
        border-color:$border-color-hover;
    }

    p {
        color: $black;
    }

    h3 {
        margin: $tiny-spacing 0;
    }
}
