.status-indicator {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    text-align: center;
    @include equal-radius(100%);
    background-color: $color-light-alpha;
    box-shadow: 0 0 0 rgba(0,0,0,.16) inset;
    @include transition(0.3s);

    svg.iconic {
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        fill: $white;
        stroke: rgba(0,0,0,.24);
        stroke-width: 0.24;
        margin-top: 2px;
    }

    &.green {
        background-color: $green;
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $green;
    }

    &.yellow {
        background-color: $yellow;
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $yellow;
    }

    &.red {
        background-color: $red;
        box-shadow: 0 0 0 rgba(0,0,0,.16) inset,
            0 0 8px $red;
    }

    &.empty {
        background-color: transparent;

        svg.iconic {
            fill: $color-light-beta;
            stroke-width: 0;
        }

        &:hover {
            background-color: $color-light-gamma;

            svg.iconic {
                fill: $color-light-alpha;
            }
        }
    }

    &.tooltip {

        .bug {
            top: -$tiny-spacing;
            left: 100%;
        }

        &:hover {
            @include no-shadow;
        }
    }
}
