.status-indicator {
    display: inline-block;
    position: relative;
    min-width: 20px;
    height: 20px;
    color: $dark-gray;
    text-align: center;
    @include equal-radius($sm-spacing);
    background-color: $bg-white;
    box-shadow: 0 0 1px rgba(0,0,0,.16) inset;
    @include transition(0.3s);

    svg.iconic {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: middle;
        fill: $dark-gray;
        /*
        stroke: rgba(0,0,0,.24);
        stroke-width: 0.24;
        */
        margin: 4px;

        + .label {
            margin-top: auto;
            @include margin-left(-2px);
        }
    }

    .label {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-size: .857142857rem;
        margin-top: 4px;
        margin-right: 10px;
        margin-left: 10px;

        strong {
            color: $dark-gray;
        }
    }



    &.green {
        color: $bg-white;
        background-color: $success-green;

        svg.iconic {
            fill: $bg-white;
        }
    }

    &.yellow {
        color: $black;
        background-color: $gold;

        svg.iconic {
            fill: $dark-blue;
            stroke: rgba(255,255,255,.8);
            stroke-width: 0.24;
        }
    }

    &.red {
        color: $bg-white;
        background-color: $error-red;

        svg.iconic {
            fill: $bg-white;
        }

        .label {

            strong {
                color: $bg-white;
            }
        }
    }

    &.blue {
        color: $bg-white;
        background-color: $dark-blue;

        svg.iconic {
            fill: $disabled-gray;
        }

        .label {

            strong {
                color: $bg-white;
            }
        }
    }

    &.dark {
        color: $bg-white;
        background-color: $dark-gray;

        svg.iconic {
            fill: $bg-white;
        }
    }

    &.success {

        svg.iconic {
            fill: $gold;
            -webkit-animation: status-indicator-change 0.3s linear;
            animation: status-indicator-change 0.3s linear;
        }
    }

    &.error {

        svg.iconic {
            fill: $error-red;
            -webkit-animation: status-indicator-alert 0.3s linear;
            animation: status-indicator-alert 0.3s linear;
        }
    }

    &.empty {
        background-color: transparent;

        svg.iconic {
            fill: $dark-gray;
            stroke-width: 0;
        }

        &:hover {
            background-color: $bg-white;

            svg.iconic {
                fill: $dark-gray;
            }
        }
    }

    &.tooltip {

        .bug {
            top: -$tiny-spacing;
            @include left(100%);
        }
    }
}

a.status-indicator {

    &:hover {
        background-color: darken($bg-white, 8%);
    }

    &.yellow {

        &:hover {
            background-color: darken($gold, 10%);
        }
    }

    &.blue {

        &:hover {
            background-color: darken($dark-blue, 10%);
        }
    }

    &.dark {

        &:hover {
            background-color: darken($dark-gray, 10%);
        }
    }
}

@-webkit-keyframes status-indicator-change {
    0% {
        @include left(-$sm-spacing);
        opacity: 0;
        transform: scale(0);
    }
    75% {
        @include left(0);
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes status-indicator-change {
    0% {
        @include left(-$sm-spacing);
        opacity: 0;
        transform: scale(0);
    }
    75% {
        @include left(0);
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes status-indicator-alert {
    0% {
        @include left(-$sm-spacing);
        opacity: 0;
        transform: scale(0);
    }
    15% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(-45deg);
    }
    50% {
        @include left(0);
        opacity: 1;
        transform: scale(2.5) rotate(0deg);
    }
    65% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(-45deg);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes status-indicator-alert {
    0% {
        @include left(-$sm-spacing);
        opacity: 0;
        transform: scale(0);
    }
    15% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(-45deg);
    }
    50% {
        @include left(0);
        opacity: 1;
        transform: scale(2) rotate(0deg);
    }
    65% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(-45deg);
    }
    100% {
        transform: scale(1.0);
    }
}
