.task {
    position: relative;
    @include clearfix;
    border-top: $base-border;
    padding-top: $sm-spacing;
    padding-bottom: $sm-spacing;

/*
    &:last-child {
        border-bottom: none;
    }
*/

    .task-title {
        @include float(left);
        width: 50%;
        color: $black;
        font-size: 14px;
        font-size: 1rem;
        font-weight: $bold;
        line-height: 1.2;

        @include media($mobile) {
            width: 100px;
        }

        .status-indicator {
            top: -1px;
            width: $tiny-spacing;
            min-width: initial;
            height: $tiny-spacing;
            @include margin-right($tiny-spacing);
        }
    }

    &.disabled {

        .task-title {
            color: $dark-gray;

            &:hover {
                cursor: not-allowed;
            }
        }
    }

    &.complete {

        .task-title {
            color: $dark-gray;
            font-weight: normal;
            text-decoration: line-through;
        }

        .task-body {
            display: none;
        }
    }

/*
    .task-checkbox {
        padding-right: 60px;

        label {
            color: $dark-blue;
            font-weight: $bold;
            margin-bottom: 0;
        }

        &.checkbox {

            &.checked {

                label {
                    font-weight: normal;
                    text-decoration: line-through;
                }

                + .task-body {
                    display: none;
                }
            }

            + .task-body {
                padding-left: 22px;
            }
        }
    }
*/
    .task-body {
        clear: both;
        font-size: .857142857em;
        padding-top: 1px;

        p {
            margin: $tiny-spacing 0;
        }

        fieldset {
            @include border-left(none);
            @include padding-left(0);
        }

        .custom-fieldset {

            &.init {

                legend {
                    @include padding-right(25px);

                    svg.iconic {

                        &.chevron {
                            @include right($tiny-spacing);
                        }
                    }
                }
            }
        }
    }

    .task-actions {
        @include float(right);
        margin-top: -5px;
/*
        position: absolute;
        z-index: $body;
        top: $sm-spacing;
        right: 0;
*/

        .avatar {
            display: inline-block;
            vertical-align: middle;
            width: $base-spacing;
            height: $base-spacing;
        }

        .status-indicator {
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            text-align: center;
            margin-top: -28px;
            @include margin-left(15px);

            svg.iconic {
                width: 10px;
                height: 10px;
            }
        }

        button,
        .button {
            display: inline-block;
            vertical-align: middle;
            height: $base-spacing;
            @include no-shadow;
            padding: 0 $tiny-spacing;
            margin: 0 4px;
        }

        .dropdown-menu {
            z-index: $dropdown;
            top: 0 !important;
            @include right(0 !important);
        }

        .tooltip {

            .bug {
                @include right(100%);
            }
        }
    }
}
