.tool {
    position: relative;
    line-height: 1.3;

    .tool-heading {
        @extend .caps;
        line-height: 1.3;
        margin-right: $lg-spacing;

        svg.iconic {
            fill: $color-tertiary;
            margin-right: 4px;
        }
    }

    .tool-trigger {
        position: absolute;
        top: -$tiny-spacing;
        right: -$tiny-spacing;
        padding: $tiny-spacing;
        @include transition(0.3s);

        svg.iconic {
            width: .571428571em;
            height: .571428571em;
            fill: $color-dark-delta;
        }

        &:hover {
            cursor: pointer;

            svg.iconic {
                fill: $color-dark-alpha;
            }
        }

        &.active {
            @include transform(rotate(180deg));
        }
    }

    .toggle-content {
        display: none;

        &.active {
            display: block;
        }
    }

    fieldset {
        margin: $sm-spacing 0;

        &.custom-fieldset {
            margin-top: $tiny-spacing;
        }

        fieldset {
            margin-top: 0;
        }
    }

    .listing-item {

        .listing-item-primary {
            padding: $sm-spacing 0;

            .listing-item-image {
                top: $sm-spacing;
            }
        }
    }
}

.tooltip {
    position: relative;

    &:hover {
        cursor: pointer;

        .bug {
            display: inline-block;
        }
    }

    .bug {
        display: none;
        position: absolute;
        top: -6px;
        z-index: $body+1;
        font-size: 12px;
        font-size: .857142857rem;
        line-height: 1.4;
        white-space: nowrap;
        box-shadow: 0 0 16px rgba(0,0,0,0.12),
            0 16px 16px rgba(0,0,0,0.24);
    }
}
