.tour-focused {
//    overflow: hidden;

    *:hover {
        cursor: default;
    }

    .tour-link {

        &:hover {
            cursor: pointer;
        }
    }
}

.tour-mask {
    display: none;
    position: fixed;
    z-index: $modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.tour-message {
    @include scale(0);
    @include border-box;
    position: absolute;
    z-index: $modal;
    top: -100%;
    width: 90%;
    max-height: 85%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @extend .sheet;
    padding: $sm-spacing;
    margin: auto $sm-spacing;

    @include media($small) {
        width: 50%;
        margin: 0;
        margin-left: -25%;
    }

    @include media($medium) {
        width: 60%;
        padding: $base-spacing;
        margin-left: -34%;
    }

    .tour-tagline {
        display: block;
        @include typeAlpha;
        font-size: 24px;
        font-size: 1.714285714rem;
        margin-bottom: $tiny-spacing;
    }

    .tour-heading {
        @include typeBeta;
        line-height: 1.3;
    }

    .tour-image {
        margin: 0 auto;
    }

    .form-field:last-of-type {
        margin: 0;
    }

    a[data-cue="plans"] {
        position: absolute;
        top: $tiny-spacing;
        right: $sm-spacing;

        @include media($medium) {
            top: $sm-spacing;
        }
    }

    .loading {
        text-align: center;
    }

    .tier {

        .cta.tour-link {
            color: #C7CCD4;
        }

        &.lite {

            @include media($small) {
                max-width: 80%;
                border: 1px solid rgba(30, 35, 42, .5);
                @include box-shadow($top: 0, $left: 0, $blur: 4px, $spread: 0, $color: rgba(0,0,0,.25), $inset: true);
                background-color: rgba(30, 35, 42, .5);
                margin-bottom: $base-spacing;

                .tier-feature em {
                    display: inline;
                }
            }

            .tier-summary {
                position: static;
                padding-bottom: 70px;

                @include media($small) {
                    position: relative;
                    text-align: left;
                    background-color: transparent;
                    padding-right: 35%;
                    padding-bottom: $base-spacing;
                }
            }

            .tier-action {
                position: relative;
                top: -$lg-spacing;

                @include media($small) {
                    position: absolute;
                    top: 50%;
                    right: $base-spacing;
                    left: 66.6666667%;
                    text-align: right;
                    margin-top: -$base-spacing;
                }
            }
        }
    }

    .tiers {
        margin-right: -$sm-spacing;
        margin-left: -$sm-spacing;

        @include media($medium) {
            margin: $base-spacing auto;
        }
    }


    &.active {
        @include scale(1);
        @include transition(0.4s 1.5s transform ease-in);
        @include animation($aniname: pop, $aniduration: 0.2s, $animtiming: ease-in-out, $animdelay: 1.9s, $animiteration: 1, $animdirection: normal, $animfillmode: none);

    }

    &.tour-modal {
        @include transition(0.6s ease-in-out);

        @include media($small) {
            margin: auto 25%;
        }

        @include media($medium) {
            margin: auto 20%;
        }

        &.active {
            @include scale(1);
            top: 10%;
            @include animation(none);
        }
    }

    &#plans {
        max-height: 90%;

        @include media($small) {
            width: 90%;
            padding: $lg-spacing;
            margin: auto 5%;
        }

        @include media($large) {
            width: 70%;
            margin: auto 15%;
        }

        &.active {
            top: 5%;
        }
    }
}

.tour-pin {
    position: absolute;
    z-index: $modal;
    top: -100%;
    width: 20px;
    height: 20px;
    @include equal-radius(100%);
    background-color: $yellow;
    @include transition(1s ease-in-out);

    &:before,
    &:after {
        position: absolute;
        top: -190px;
        left: -190px;
        display: block;
        width: 400px;
        height: 400px;
        @include equal-radius(100%);
    }

    &:before {
        @include box-shadow($top: 0, $left: 0, $blur: 30px, $spread: 30px, $color: rgba(0,0,0,.5), $inset: true);
    }

    &:after {
        @include box-shadow($top: 0, $left: 0, $blur: 0, $spread: 1000px, $color: rgba(0,0,0,.5), $inset: false);
    }

    .pulse {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid darken( $yellow, 20% );
        border: 2px solid $black;
        box-shadow: 0 0 0 0 $yellow, 0 0 0 0 rgba(255, 195, 52, 0.7);
        @include equal-radius(100%);
        background: $yellow;

        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);

        &:hover {
            animation-play-state: paused;
        }

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 5px;
            width: 6px;
            height: 33px;
            border-right: 2px solid $black;
            border-left: 2px solid $black;
            background-color: $yellow;
//            @include transition(0.5s 2s ease-in-out);
            @include animation($aniname: stemMove1, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
        }
    }

    &.pin-enter {

        .pulse:before {
            @include animation($aniname: stemStart, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
        }
    }

    &.pin-move {

        .pulse:before {
            @include animation($aniname: stemMove2, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
        }
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
    }
}

/*/--------// STEPS //--------/*/

@keyframes pop {
    0% {
        @include scale(1);
        border-color: #2b323a;
        @include box-shadow($top: 0, $left: 0, $blur: 25px, $spread: 0, $color: rgba(0,0,0,.8), $inset: false);
    }
    25% {
        border-color: rgba(255, 195, 52,.5);
        @include box-shadow($top: 0, $left: 0, $blur: 10px, $spread: 10px, $color: rgba(255, 195, 52,.2), $inset: false);
    }
    50% {
        @include scale(1.1);
        border-color: rgba(255, 195, 52,.75);
        @include box-shadow($top: 0, $left: 0, $blur: 40px, $spread: 30px, $color: rgba(255, 195, 52,.5), $inset: false);
    }
    75% {
        border-color: rgba(255, 195, 52,.5);
        @include box-shadow($top: 0, $left: 0, $blur: 10px, $spread: 10px, $color: rgba(255, 195, 52,.2), $inset: false);
    }
    100% {
        @include scale(1);
        border-color: #2b323a;
        @include box-shadow($top: 0, $left: 0, $blur: 25px, $spread: 0, $color: rgba(0,0,0,.8), $inset: false);
    }
}

@keyframes stemStart {
    0% {
        height: 0;
    }
    75% {
        height: 0;
    }
    100% {
        height: 33px;
    }
}


@keyframes stemMove1 {
    0% {
        height: 33px;
    }
    15% {
        height: 0;
    }
    85% {
        height: 0;
    }
    100% {
        height: 33px;
    }
}

@keyframes stemMove2 {
    0% {
        height: 33px;
    }
    15% {
        height: 0;
    }
    85% {
        height: 0;
    }
    100% {
        height: 33px;
    }
}
