.tour-focused {
    overflow: hidden;

    *:hover {
        cursor: default;
    }

    .tour-link {

        &:hover {
            cursor: pointer;
        }
    }
}

.tour-mask {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.tour-message {
    @include scale(0);
    @include border-box;
    position: absolute;
    z-index: 2999;
    top: -100%;
    width: 90%;
    max-height: 85%;
    overflow-y: scroll;
    color: $white;
    text-align: center;
    border: 5px solid #2b323a;
    @include equal-radius(6px);
//    background: #2b323a url(http://github.ushahidi.org/dotcom-pattern-library/assets/img/map-bg.png);
    background-color: #3F4751;
    @include box-shadow($top: 0, $left: 0, $blur: 25px, $spread: 0, $color: rgba(0,0,0,.8), $inset: false);
    padding: $base-spacing;
    margin: auto 5%;
    @include transition(0.6s ease-in-out);

    @include media($small) {
        width: 50%;
        padding: $lg-spacing;
        margin: 0;
        margin-left: -25%;
    }

    @include media($medium) {
        width: 60%;
        padding: $lg-spacing;
        margin-left: -30%;
    }

    .tour-tagline {
        display: block;
        color: #C7CCD4;
        font-weight: 300;
        font-size: 2.25em;
        text-transform: uppercase;
        text-shadow: 0 1px 1px $black;
        letter-spacing: 2px;
        margin-bottom: $sm-spacing;

        @include media($small) {
            font-size: 3.25em;
        }
    }

    .tour-heading {
        color: #C7CCD4;
        font-weight: normal;
        font-size: 1.35em;
        text-shadow: 0 1px 1px $black;
        line-height: 1.25em;
        margin: 0;

        @include media($small) {
            font-size: 1.65em;
        }
    }

    .tour-body {
        text-shadow: 0 1px 1px $black;

        @include media($small) {
            font-size: 1.1em;
        }
    }

    .tour-actions {

        button,
        .button,
        .cta {
            margin: $sm-spacing;

            &:hover {
                cursor: pointer;
            }
        }

        .cta {
            color: #C7CCD4;
            text-transform: uppercase;

            &:hover {
                color: $white;
            }

            &[data-cue="tour-step-5"] {
                position: absolute;
                top: $sm-spacing;
                right: $sm-spacing;
            }
        }
    }
}

.tour-pin {
    position: absolute;
    z-index: 999;
    top: -100%;
    width: 20px;
    height: 20px;
    @include equal-radius(100%);
    background-color: $yellow;
    @include transition(1s ease-in-out);

    &:before,
    &:after {
        position: absolute;
        top: -190px;
        left: -190px;
        display: block;
        width: 400px;
        height: 400px;
        @include equal-radius(100%);
    }

    &:before {
        @include box-shadow($top: 0, $left: 0, $blur: 30px, $spread: 30px, $color: rgba(0,0,0,.5), $inset: true);
    }

    &:after {
        @include box-shadow($top: 0, $left: 0, $blur: 0, $spread: 1000px, $color: rgba(0,0,0,.5), $inset: false);
    }

    .pulse {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid darken( $yellow, 20% );
        border: 2px solid $black;
        box-shadow: 0 0 0 0 $yellow, 0 0 0 0 rgba(255, 195, 52, 0.7);
        @include equal-radius(100%);
        background: $yellow;

        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);

        &:hover {
            animation-play-state: paused;
        }

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 5px;
            width: 6px;
            height: 33px;
            border-right: 2px solid $black;
            border-left: 2px solid $black;
            background-color: $yellow;
//            @include transition(0.5s 2s ease-in-out);
        }
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
    }
}

/*/--------// STEPS //--------/*/

@keyframes pop {
    0% {
        @include scale(1);
        border-color: #2b323a;
        @include box-shadow($top: 0, $left: 0, $blur: 25px, $spread: 0, $color: rgba(0,0,0,.8), $inset: false);
    }
    25% {
        border-color: rgba(255, 195, 52,.5);
        @include box-shadow($top: 0, $left: 0, $blur: 10px, $spread: 10px, $color: rgba(255, 195, 52,.2), $inset: false);
    }
    50% {
        @include scale(1.1);
        border-color: rgba(255, 195, 52,.75);
        @include box-shadow($top: 0, $left: 0, $blur: 40px, $spread: 30px, $color: rgba(255, 195, 52,.5), $inset: false);
    }
    75% {
        border-color: rgba(255, 195, 52,.5);
        @include box-shadow($top: 0, $left: 0, $blur: 10px, $spread: 10px, $color: rgba(255, 195, 52,.2), $inset: false);
    }
    100% {
        @include scale(1);
        border-color: #2b323a;
        @include box-shadow($top: 0, $left: 0, $blur: 25px, $spread: 0, $color: rgba(0,0,0,.8), $inset: false);
    }
}

@keyframes stemStart {
    0% {
        height: 0;
    }
    75% {
        height: 0;
    }
    100% {
        height: 33px;
    }
}


@keyframes stemMove1 {
    0% {
        height: 33px;
    }
    15% {
        height: 0;
    }
    85% {
        height: 0;
    }
    100% {
        height: 33px;
    }
}

@keyframes stemMove2 {
    0% {
        height: 33px;
    }
    15% {
        height: 0;
    }
    85% {
        height: 0;
    }
    100% {
        height: 33px;
    }
}

.tour-step-1 {

    .tour-pin {
        top: -100%;

        .pulse:before {
            height: 0;
            @include animation($aniname: stemMove1, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
        }
    }

    #tour-step-1 {
        top: 10%;
    }
}

#tour-step-1,
#tour-step-5 {
    @include scale(1);

    @include media($small) {
        margin: auto 25%;
    }

    @include media($medium) {
        margin: auto 20%;
    }
}

#tour-step-5 {
    max-height: 90%;

    @include media($small) {
        width: 80%;
        padding: $lg-spacing;
        margin: 0 10%;
    }
}

.tour-step-2 {

    .tour-pin .pulse:before {
        @include animation($aniname: stemStart, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
    }

    #tour-step-1 {
        @include scale(0);
        @include transition(0.15s ease-in-out);
    }

    #tour-step-2 {
        @include scale(1);
        @include transition(0.4s 1.5s transform ease-in);
        @include animation($aniname: pop, $aniduration: 0.2s, $animtiming: ease-in-out, $animdelay: 1.9s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
    }

    [data-step="tour-step-2"] {
        top: 0;
        transition-delay: 1.5s;
    }
}

.tour-step-3 {

    .tour-pin .pulse:before {
        @include animation($aniname: stemMove2, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
    }

    #tour-step-2 {
        @include scale(0);
        @include transition(0.15s ease-in-out);
    }

    #tour-step-3 {
        @include scale(1);
        @include transition(0.4s 1.5s transform ease-in);
        @include animation($aniname: pop, $aniduration: 0.2s, $animtiming: ease-in-out, $animdelay: 1.9s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
    }

    [data-step="tour-step-3"] {
        top: 0;
        transition-delay: 1.5s;
    }
}

.tour-step-5 {

    .tour-pin {
        top: -100%;

        .pulse:before {
            height: 0;
            @include animation($aniname: stemMove1, $aniduration: 2s, $animtiming: ease-in-out, $animdelay: 0s, $animiteration: 1, $animdirection: normal, $animfillmode: none);
        }
    }

    #tour-step-5 {
        top: 5%;
    }
}