.user-credit {
    overflow: auto;

    img {
        float: left;
        width: 40px;
        margin-right: $sm-spacing;

        @include media($medium) {
            width: 60px;
        }

    }

    .name {
        padding-top: $sm-spacing;

        @include media($medium) {
           padding-top: $sm-spacing + 8px;
        }

    }

}

.user-credit-has-label {
    overflow: auto;

    img {
        float: left;
        width: 45px;
        margin-right: $sm-spacing;
        margin-top: -20px;

        @include media($large) {
            width: 70px;
            margin: $sm-spacing 0;
            float: none;
        }

    }

    p {
        margin: 0;
    }

    .delta-alt {
        padding-left: 45px + $sm-spacing; // pushes label offset from image

        @include media($large) {
            padding-left: 0px;
        }

    }

}
