.user-credit {
    overflow: auto;

    img {
        @include float(left);
        width: 40px;
        @include margin-right($sm-spacing);

        @include media($medium) {
            width: 60px;
        }

    }

    .name {

        @include media($medium) {
           padding-top: $sm-spacing;
        }

    }

}

.user-credit-has-label {
    overflow: auto;

    img {
        @include float(left);
        clear: both;
        width: 45px;
        @include margin-right($sm-spacing);
        margin-top: -20px;

        @include media($large) {
            width: 70px;
            margin: $sm-spacing 0;
        }

    }

    .name {
        @include float(left);
        clear: both;
    }

    p {
        margin: 0;
    }

    .delta-alt {
        @include padding-left(45px + $sm-spacing); // pushes label offset from image
        padding-top: $sm-spacing;

        @include media($large) {
            @include padding-left(0px);
        }

    }

}
