[class*="user-credit"] {
    overflow: auto;

    img {
        @include float(left);
        width: 40px;
        height: 40px;
        @include margin-right($sm-spacing);

        @include media($medium) {
            width: 60px;
            height: 60px;
        }

    }

    .name {

        @include media($medium) {
           padding-top: $sm-spacing;
        }

    }

    .delta-alt {
        padding-top: 5px;
        margin: 0;

        @include media($medium) {
           padding-top: 10px;
        }

    }

}

.user-credit-has-label {

    .name, p {
        padding-top: 0;
    }

    p {
        margin: 0;
    }

}

.user-credit-no-img {
    p {
        margin: 0 0 $sm-spacing;
    }
}
