.notification-bar {
    position: relative;
    color: $color-tertiary;
    background-color: $color-primary;
    padding: 30px $base-spacing;
    @include direction;

    &.locked {

        .circle-icon {
            position: absolute;
            margin: auto 0;
            top: 0;
            @include left(2%);
            bottom: 0;
            @include right(0);
        }

        p {
            margin: 0;
            @include padding-left(10%);
            @include padding-right(100px);
        }

        .button-group {
            position: absolute;
            margin: auto 0;
            top: 0;
            @include right(2%);
            bottom: 0;
            height: 35px;
        }
    }
}
