.accordion-menu {
    @include span-columns(12);

    .accordion-menu-list {
        @extend .list-unstyled;
    }

    .accordion-menu-list__item {
        @include span-columns(12);
        border-top: $base-border;
        margin-bottom: 0;

        &:last-child .accordion-menu-content {
            padding-bottom: $base-spacing;
        }

        a {
            text-transform: uppercase;
            font-weight: $bold;
            letter-spacing: 1.5px;
        }

    }

    .accordion-menu-trigger {
        @include icon(before, plus);
        display: block;
        padding: $base-spacing 0;
        margin: 0;
    }

    .accordion-menu-content {
        @extend .list-unstyled;
        @include span-columns(12, no-display);
        display: none;
        margin: $sm-spacing 0 0 0;
        padding-bottom: $sm-spacing;

        li {
            padding: 10px 0 0 18px;
            margin-bottom: 0;
            line-height: 1;

            a {
                font-weight: normal;
                text-transform: none;
                letter-spacing: normal;
            }

        }

        &.date-range input[type="text"] {
            margin-bottom: 0;
        }

        &.location {

            input[type="text"] {
                margin-top: 0;
            }

            button {
                float: right;
            }

        }

    }

    .open {
        .accordion-menu-content {
            display: block;
        }
        .accordion-menu-trigger {
            @include icon(before, minus);
        }
    }

}
