.breadcrumbs {
    @extend .list-reset;

    li {
        display: inline;

        &:after {
            content: '\003e';
            color: $color-light-alpha;
            margin-right: $tiny-spacing;
            margin-left: $tiny-spacing;
        }
    }
}
