ul.breadcrumb {
    @extend .list-unstyled;
    padding: $sm-spacing 0;
    display: block;
    overflow: auto;

    li {
        display: inline-block;
        float: left;

        &:after {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f105";
            color: $dk-gray;
            margin: 0 $tiny-spacing;
        }

    }

}

ul.breadcrumb + h1 {
    margin-top: $tiny-spacing;
}
