.breadcrumbs {
    @extend .list-reset;

    li {
        display: inline-block;
        @include direction;

        &:after {
            content: '\003e';
            color: $color-light-alpha;
            margin: 0 $tiny-spacing;
        }
    }
}
