.breadcrumbs {
    @extend .list-reset;

    li {
        display: inline;
        position: relative;
        padding-right: $base-spacing;

        &:after {
            content: '';
            position: absolute;
            top: 7px;
            right: 10px;
            width: 5px;
            height: 5px;
            background: transparent;
        	border-top: 2.5px solid $color-light-alpha;
        	border-right: 2.5px solid $color-light-alpha;
            @include transform(rotate(45deg));
        }
    }
}
