ul.breadcrumb {
    @include direction;
    @extend .list-unstyled;
    padding: 0;
    display: block;
    overflow: auto;

    li {
        display: inline-block;
        @include float(left);

        @include icon(after, angle-right) {
            color: $dk-gray;
            padding: 0 5px 0 1px;
            margin: 0 $tiny-spacing;
            @include rotate(0deg);
        }

    }

}

/* ul.breadcrumb + h1 {
    margin-top: $tiny-spacing;
} */
