.pagination {
    text-align: center;
    margin: $sm-spacing auto;

    ul {
        display: inline-block;
        margin: 0;

        &.page-numbers {
            @include direction;
        }

        li {
            display: inline-block;
            list-style-type: none;
            color: $link-color;
            font-weight: $bold;
            margin: 0;
            padding: 0 $sm-spacing;
            cursor: pointer;

            &.active {
                color: $color-primary-alpha;
                cursor: default;

                &:hover {
                    color: $base-color;
                }

            }

            &.pg-number {
                display: none;

                @include media($mobile) {
                    display: inline-block;
                }

                a {
                    color: $color-primary-epsilon;

                    &:hover {
                        color: $color-primary;
                    }
                }

            }

            &.prev,
            &.next {
                position: relative;
                color: $highlight;
                border: $base-border;
                @include border-top-radius($global-radius);
                @include border-bottom-radius($global-radius);
                padding: $tiny-spacing;
                @include transition(0.3s);

                &:hover{
                    border: $base-border-hover;
                }

                svg.iconic {
                    fill: $link-color;
                }

            }
        }

    }

}
