.progress {
    border: $base-border;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    overflow: auto;
    display: inline-block;
    background: $border-color;
    font-size: em(14);
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin: $sm-spacing 0;

    @include media($small) {
        width: auto;
        margin: 0 0 $base-spacing;
    }

    a {
        display: block;
        background: $white;
        padding: $sm-spacing;
        position: relative;

        &:hover {
            background: $progress-hover-color;
        }

        &.active {
            color: $black;
            cursor: default;
            background: $border-color;

            &:after {
                border-color:  $border-color;
            }

            &:before {
                border-color: $progress-active-color;
                z-index: $below;
            }

            &:hover {
                background: $border-color;
            }

        }

        &.disabled {
            color: $dk-gray;
            cursor: default;
        }

        &.add-new {

            span {
                @include icon($before, plus) {
                    @include lrswap(padding, 0 5px 0 1px);
                    font-size: em(16);
                }
            }

        }

        @include media($small) {
            padding: $base-spacing;
            @include float(left);

            &:hover {
                background: $white;
            }

        } //end of small mq

        @include media(1190px) {
            @include lrswap(padding, 19px 10px 19px 25px);
            @include float(left);
            @include margin-right(26px);
            height: 50px;

            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                @include left(-24px);
                border: 25px solid transparent;
                border-color: $white;
                @include border-left(25px solid transparent);
            }

            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                @include right(-50px);
                border: 25px solid transparent;
                @include border-left(25px solid $white);
            }

            &:first-of-type {
                @include padding-right(30px);

                &:before {
                    display: none;
                }

            }

            &:last-of-type {
                @include margin-right(0px);
                @include padding-right(30px);

                &:after {
                    border: none;
                }

            }

        } //end of medium mq

        span {

            &.completed {

                @include icon($after, check) {
                    color: $confirmation-color;
                    @include padding-left(5px);
                    font-size: em(16);
                }

            }

        }

    }

}

.progress + .button-save {
    @include media($small) {
        @include float(right);
        margin: $tiny-spacing 0 0;
    }
}
