.progress {
    border: $base-border;
    @include border-top-radius($global-radius);
    @include border-bottom-radius($global-radius);
    overflow: auto;
    display: inline-block;
    background: $border-color;
    font-size: em(14);
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;

    @include media($small) {
        width: auto;
    }

    a {
        display: block;
        background: $white;
        padding: $base-spacing;
        position: relative;

        &:hover {
            background: $progress-hover-color;
        }

        &.active {
            color: $black;
            cursor: default;
            background: $border-color;

            &:after {
                border-color:  $border-color;
            }

            &:before {
                border-color: $progress-active-color;
                z-index: $below;
            }

            &:hover {
                background: $border-color;
            }

        }

        &.disabled {
            color: $dk-gray;
            cursor: default;
        }

        @include media($small) {
            padding: 23px 30px;
            float: left;
            margin-right: 31px;
            height: 60px;

            &:hover {
                background: $white;
            }

            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                left: -30px;
                border: 30px solid transparent;
                border-color: $white;
                border-left-color: transparent;
            }

            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                right: -60px;
                border: 30px solid transparent;
                border-left-color: $white;
            }

            &:first-of-type {
                padding-left: 40px;

                &:before {
                    display: none;
                }

            }

            &:last-of-type {
                margin-right: 0px;
                padding-right: 40px;

                &:after {
                    border: none;
                }

            }

        } //end of media query

        span {

            &.completed {

                @include icon(after, check) {
                    color: $confirmation-color;
                    padding-left: 10px;
                    font-size: em(16);
                }

            }

        }

    }

}
