/*------------------------------------*\
    $GENERAL SELECTORS
\*------------------------------------*/

* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    // height: 100%;
    font-size: 93.75%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    // Pattern Library
    &.pl {

        body {
             background-color: #fff;
             padding: 10px;
        }
    }
}

body {
    color: $text-color;
    @include typeBase;
    background-color: red;
}

p {
    line-height: 1.25;
    font-size: em(16);

    @include media($small) {
        font-size: em(18);
    }

}


ul {

    li {
        list-style-type: none;
    }
}

table {
    border-collapse: collapse;
}

th { }

td { }

caption { }

blockquote {

    p { }

    .who { }
}


/* inline */
em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    color: $link-color;
    text-decoration: none;
    @include transition;

    &:hover,
    &:focus {
        cursor: pointer;
        color: $link-hover-color;
    }
}

p a {
    border-bottom: 1px dotted $border-color;

    &:hover {
        border-bottom: 1px dotted $link-hover-color;
    }
}

img {
    display: block;
    max-width: 100%;

    a & {
        border: none;
    }
}

code {
    font: 12px/1 'Courier New', Courier, monospace;
}

sub, sup {
    line-height: 0;
}

::selection ,
::-moz-selection {
    background: #e4e64c;
    color: #000;
    text-shadow: none;
}





/*------------------------------------*\
    $GLOBAL COMBOS
\*------------------------------------*/

article, aside, details, fig caption, figure, footer, header, group, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

.clearfix-alt { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

.noscroll {
    overflow: hidden;
}

.nodisplay {
    display: none;
}





/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {

}

fieldset {
    border: none;
}

.form-heading {

}

label {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {

    &:focus{

    }
}

input[type="radio"]{

}

input[type="checkbox"]{

}

input[type="submit"] {

    &:hover, &:focus{

    }
}
