/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.pl {
    background: $lt-black;
}

.pl-page-header {
    background: $lt-black;
    color: $white;

    h3 {
        padding: $base-spacing;
        font-weight: 400;

        a {
            color: $white;
        }
    }

    img {
        max-width: 60px;
        float: left;
        fill: $white;
        color: $white;
        margin: -$sm-spacing $sm-spacing 0 0;
    }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.pl-nav {
    background: $dark-bg;
    padding: $base-spacing;
    @include clearfix;

    @include media($small) {
        padding: $base-spacing $base-spacing 0;
    }

    ul {

        li {
            color: $white;
            font-weight: $bold;
            line-height: 2;
            text-transform: uppercase;
            letter-spacing: .1em;

            &:last-child {
                @include clearfix;
            }

            a {
            color: $link-color-dark-bg;
            padding-left: 12px;
            margin-top: 8px;

                &:hover {
                    border-color: $white;
                    color: $white;
                }

                @include media($small) {
                    display: block;
                    float: left;
                    border-left: 0px;
                    border-bottom: $blue 0px solid;
                    padding: 0 $base-spacing $base-spacing;
                }
            }
        }
    }

    .active {
        border-left: $yellow 3px solid;
        padding-left: $sm-spacing;
        line-height: 2;

        &:hover {
            border-left: $border-color 3px solid;
        }

        @include media($small) {
            display: block;
            float: left;
            border-left: 0px;
            border-bottom: $yellow 3px solid;
            padding: 0 $base-spacing $base-spacing;
            &:hover {
                border-left: 0px;
            }
        }
    }
}

.pl-jump-nav {
    background: $white;
    padding: $base-spacing;

    ul {
        padding-bottom: $base-spacing;
        border-bottom: 1px solid $border-color;
        padding-left: $base-spacing;
    }

    li {
        display: inline;
        padding-right: 8px;
        margin-right: 5px;
        border-right: 3px solid $border-color;
        line-height: 1.75em;
        &:last-child {
            border-right: 0px;
        }
    }
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

.pl-pattern {
    padding: $base-spacing;
    background-color: $white;
    @include clearfix;
    @include outer-container;
}

.pl-pattern-description {
    text-align: center;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
        margin-bottom: $base-spacing;
    }
}

.pl-divider {
    clear: both;
    margin: $base-spacing auto;
    width: $base-spacing;
    height: 3px;
    border: 0;
    background: $highlight;
}


/*------------------------------------*\
    $BASICS
\*------------------------------------*/

li.pl-color {
    padding-top: 70px;
    margin-bottom: $sm-spacing;

    @include media($small) {
        padding: 0;
        @include span-columns(6);
        @include omega(2n);

    }
    @include media($medium) {
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }
}

.pl-color-info {
    background-color: $white;
    border: 1px solid $border-color;
    padding: $base-spacing;
    @include media($small) {
        width: 50%;
    }
}

.pl-black {
    background-color: $black;
}
.pl-blue {
    background-color: $blue;
}
.pl-yellow {
    background-color: $yellow;
}
.pl-lt-gray {
    background-color: $lt-gray;
}
.pl-white {
    background-color: $white;
    border: 1px solid $border-color;
}
