/*------------------------------------*\
    $BOURBON & FRIENDS
\*------------------------------------*/
/*@import "css3/selection";*/
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*------------------------------------*\
    $CONFIG
\*------------------------------------*/
/*------------------------------------*\
    $GRID
\*------------------------------------*/
/*------------------------------------*\
    $RTL SUPPORT
\*------------------------------------*/
body.rtl {
  text-align: right; }
  body.rtl .pl-jump-nav {
    text-align: left; }
  body.rtl .pl-read-direction-nav {
    text-align: left; }
    @media screen and (min-width: 48em)  {
      body.rtl .pl-read-direction-nav {
        text-align: right; } }

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/*------------------------------------*\
    $TYPE
\*------------------------------------*/
/*------------------------------------*\
    $Z-INDEX
\*------------------------------------*/
/*------------------------------------*\
    $MISC
\*------------------------------------*/
/*------------------------------------*\
    $GENERAL SELECTORS
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  line-height: 1; }

html {
  font-size: 93.75%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }
  html.pl body {
    background-color: #fff;
    padding: 10px; }

body {
  color: #181c21;
  font-weight: 400;
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

p, blockquote {
  line-height: 1.25;
  font-size: 1em; }
  @media screen and (min-width: 48em)  {
    p, blockquote {
      font-size: 1.125em; } }

ul li {
  list-style-type: none; }

table {
  border-collapse: collapse; }

/* inline */
em {
  font-style: italic; }

strong {
  font-weight: bold; }

a {
  color: #2274b4;
  text-decoration: none;
  transition: all 0.15s ease-out 0s; }
  a:hover, a:focus {
    cursor: pointer;
    color: #123d5e; }

p a, blockquote a {
  border-bottom: 1px dotted #f2f2f2; }
  p a:hover, blockquote a:hover {
    border-bottom: 1px dotted #123d5e; }

a.cta {
  border-bottom: 1px solid #71b2e4;
  font-size: 0.875em; }
  a.cta:hover {
    border-bottom: 1px solid #123d5e; }

i {
  transition: all 0.15s ease-out 0s; }

img {
  display: block;
  max-width: 100%; }
  a img {
    border: none; }

code {
  font: 12px/1 'Courier New', Courier, monospace; }

sub, sup {
  line-height: 0; }

::-moz-selection, ::-moz-selection {
  background: #e4e64c;
  color: #000;
  text-shadow: none; }

::selection, ::-moz-selection {
  background: #e4e64c;
  color: #000;
  text-shadow: none; }

/*------------------------------------*\
    $GLOBAL COMBOS
\*------------------------------------*/
article, aside, details, fig caption, figure, footer, header, group, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.clearfix-alt {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.noscroll {
  overflow: hidden; }

.nodisplay {
  display: none; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
fieldset {
  border: none; }

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/*------------------------------------*\
$LAYOUT
\*------------------------------------*/
.wrapper {
  background-color: #ffffff;
  max-width: 1580px;
  margin: 0 auto; }

.container, .container-centered {
  clear: both;
  max-width: 1200px;
  margin: 0 auto;
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto; }
  .container::after, .container-centered::after {
    clear: both;
    content: "";
    display: table; }

.container-centered {
  text-align: center; }

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
$PATTERN LIBRARY
this file creates the layout and
structure of the pattern library
\*------------------------------------*/
/*------------------------------------*\
$LAYOUT
\*------------------------------------*/
.pl-pattern {
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  background-color: #ffffff; }
  .pl-pattern:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .pl-pattern {
    zoom: 1; }
  .pl-pattern:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .pl-pattern {
    zoom: 1; }
  @media screen and (min-width: 48em)  {
    .pl-pattern {
      padding: 20px 40px 40px; } }
  .pl-pattern p, .pl-pattern blockquote {
    margin-bottom: 10px; }

.pl-pattern-description {
  text-align: center;
  margin-bottom: 20px; }
  .pl-pattern-description h2 {
    text-align: center;
    margin: 20px 0; }
  @media screen and (min-width: 48em)  {
    .pl-pattern-description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      .pl-pattern-description:last-child {
        margin-right: 0; } }

.pl-divider {
  clear: both;
  margin: 20px auto;
  width: 20px;
  height: 3px;
  border: 0;
  background: #ffc334; }

.pl-sub-pattern {
  margin: 40px 0;
  clear: both; }
  .pl-sub-pattern .pl-sub-pattern-markup {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px; }
  .pl-sub-pattern .pl-sub-pattern-sample {
    margin-bottom: 10px; }
    .pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls {
      color: #737373;
      font-size: 0.8125em;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #f2f2f2;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px;
      height: 24px;
      display: inline-block;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; }
      @media screen and (min-width: 48em)  {
        .pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls {
          float: right;
          margin-top: -23px; } }
      .pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls:hover {
        cursor: pointer;
        color: #123d5e; }
      .pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls .hide {
        display: none; }
    .pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-target {
      display: none;
      margin-top: 10px; }
    .pl-sub-pattern .pl-sub-pattern-sample.visible .pl-sub-pattern-sample-toggle-controls .show {
      display: none; }
    .pl-sub-pattern .pl-sub-pattern-sample.visible .pl-sub-pattern-sample-toggle-controls .hide {
      display: inline; }
    .pl-sub-pattern .pl-sub-pattern-sample.visible .pl-sub-pattern-sample-toggle-target {
      display: block; }

.pl-note {
  font-size: 0.875em;
  font-style: italic;
  padding: 5px 10px;
  background-color: #ffe7e7;
  display: inline-block;
  border-left: 2px solid red;
  clear: both; }

/*------------------------------------*\
$HEADER
\*------------------------------------*/
.pl {
  background: #f2f2f2;
  padding-bottom: 40px; }

@media screen and (min-width: 48em) and (min-height: 650px)  {
  .sticky-nav {
    margin-top: 68px; } }

.pl-page-header {
  background: #232930; }
  .pl-page-header h3 {
    padding: 20px;
    margin: 0;
    font-weight: 400; }
    .pl-page-header h3 a {
      color: #ffffff; }
  .pl-page-header img {
    max-width: 45px;
    float: left;
    fill: #ffffff;
    color: #ffffff;
    margin: -10px 10px 0 0; }

/*------------------------------------*\
$NAVIGATION
\*------------------------------------*/
.pl-nav {
  background: #181c21;
  padding: 20px; }
  .pl-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .pl-nav {
    zoom: 1; }
  @media screen and (min-width: 48em)  {
    .pl-nav {
      padding: 20px 0 0; } }
  .pl-nav ul li {
    color: #ffffff;
    font-weight: 900;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    .pl-nav ul li:last-child:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      font-size: 0; }
    .lt-ie8 .pl-nav ul li:last-child {
      zoom: 1; }
    .pl-nav ul li a {
      color: #71b2e4;
      padding-left: 12px;
      margin-top: 8px; }
      .pl-nav ul li a:hover {
        border-color: #ffffff;
        color: #ffffff; }
      @media screen and (min-width: 48em)  {
        .pl-nav ul li a {
          display: block;
          float: left;
          border-left: 0px;
          border-bottom: #2274b4 0px solid;
          padding: 0 30px 20px; } }
  .pl-nav .active {
    border-left: #ffc334 3px solid;
    padding-left: 10px;
    line-height: 2; }
    .pl-nav .active:hover {
      border-left: #f2f2f2 3px solid; }
    @media screen and (min-width: 48em)  {
      .pl-nav .active {
        display: block;
        float: left;
        border-left: 0px;
        border-bottom: #ffc334 3px solid;
        padding: 0 30px 20px; }
        .pl-nav .active:hover {
          border-left: 0px; } }

.pl-jump-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background: #ffffff;
  max-width: 1580px; }
  .pl-jump-nav:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em)  {
    .pl-jump-nav {
      border-bottom: 1px solid #f2f2f2; } }
  .pl-jump-nav ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 20px; }
    .pl-jump-nav ul:last-child {
      margin-right: 0; }
    @media screen and (min-width: 48em)  {
      .pl-jump-nav ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%; }
        .pl-jump-nav ul:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 64.063em)  {
      .pl-jump-nav ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%; }
        .pl-jump-nav ul:last-child {
          margin-right: 0; } }
  .pl-jump-nav li {
    display: inline;
    padding-right: 8px;
    margin-right: 5px;
    border-right: 3px solid #f2f2f2;
    line-height: 1.75em; }
    .pl-jump-nav li:last-child {
      border-right: 0px; }

ul.pl-read-direction-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 20px; }
  ul.pl-read-direction-nav:last-child {
    margin-right: 0; }
  @media screen and (min-width: 48em)  {
    ul.pl-read-direction-nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      text-align: right; }
      ul.pl-read-direction-nav:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 64.063em)  {
    ul.pl-read-direction-nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      ul.pl-read-direction-nav:last-child {
        margin-right: 0; } }
  ul.pl-read-direction-nav li {
    margin: 0;
    padding: 0 0 0 10px;
    border: none; }

@media screen and (min-width: 48em) and (min-height: 650px)  {
  .pl-fixed {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    /* height: 68px; */
    z-index: 1; } }

/*------------------------------------*\
$COLORS
\*------------------------------------*/
li.pl-color {
  padding-top: 70px;
  margin-bottom: 10px;
  text-align: center; }
  @media screen and (min-width: 48em)  {
    li.pl-color {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding: 0;
      text-align: left; }
      li.pl-color:last-child {
        margin-right: 0; }
      li.pl-color:nth-child(2n) {
        margin-right: 0; }
      li.pl-color:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 64em)  {
    li.pl-color {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      li.pl-color:nth-child(2n) {
        margin-right: 2.35765%; }
      li.pl-color:nth-child(2n+1) {
        clear: none; }
      li.pl-color:last-child {
        margin-right: 0; }
      li.pl-color:nth-child(3n) {
        margin-right: 0; }
      li.pl-color:nth-child(3n+1) {
        clear: left; } }

.pl-color-info {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  padding: 20px; }
  @media screen and (min-width: 48em)  {
    .pl-color-info {
      width: 60%; } }

.pl-black {
  background-color: #181c21; }

.pl-blue {
  background-color: #2274b4; }

.pl-yellow {
  background-color: #ffc334; }

.pl-lt-gray {
  background-color: #f2f2f2; }

.pl-dk-gray {
  background-color: #737373; }

.pl-white {
  background-color: #ffffff;
  border: 1px solid #f2f2f2; }

/*------------------------------------*\
$ICONS
\*------------------------------------*/
li.pl-icon {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 20px; }
  li.pl-icon:last-child {
    margin-right: 0; }
  li.pl-icon:nth-child(2n) {
    margin-right: 0; }
  li.pl-icon:nth-child(2n+1) {
    clear: left; }
  @media screen and (min-width: 48em)  {
    li.pl-icon {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      li.pl-icon:nth-child(2n) {
        margin-right: 2.35765%; }
      li.pl-icon:nth-child(2n+1) {
        clear: none; }
      li.pl-icon:last-child {
        margin-right: 0; }
      li.pl-icon:nth-child(4n) {
        margin-right: 0; }
      li.pl-icon:nth-child(4n+1) {
        clear: left; } }
  li.pl-icon [class*='fa-'] {
    margin-right: 20px; }

/*------------------------------------*\
    $BASICS
\*------------------------------------*/
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
label.input-label, label.filter-label {
  display: block;
  padding: 0 10px 0 0; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea {
  display: block;
  font-size: 1.125em;
  outline-color: #ffffff;
  resize: none;
  border: 1px solid #d8d8d8;
  color: #181c21;
  font-weight: 400;
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  display: block;
  padding: 5px 10px;
  margin: 10px 0 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  input[type="text"].error, input[type="email"].error, input[type="password"].error, input[type="search"].error, textarea.error {
    border-color: red; }

input[type="checkbox"], input[type="radio"] {
  display: inline-block;
  margin: 0 10px 10px 0; }

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  font-size: 1.125em; }

textarea {
  width: 100%;
  height: 120px; }

select {
  -webkit-appearance: menulist;
  height: 32px;
  font-size: 0.875em; }

form p, form blockquote {
  font-size: 0.875em;
  margin-bottom: 1em; }

/*------------------------------------*\
    $ICONS
\*------------------------------------*/
/*------------------------------------*\
    $MISC
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
p, blockquote {
  line-height: 1.25;
  font-size: 1em;
  margin: 10px 0; }
  @media screen and (min-width: 48em)  {
    p, blockquote {
      font-size: 1.125em; } }
  p.small, blockquote.small {
    font-size: 0.875em; }

h1, .alpha {
  font-size: 1.75em;
  font-weight: 400;
  margin: 20px 0 10px;
  clear: both; }
  @media screen and (min-width: 48em)  {
    h1, .alpha {
      font-size: 2.625em; } }

h2, .beta {
  font-size: 1.5em;
  margin: 20px 0 10px; }
  @media screen and (min-width: 48em)  {
    h2, .beta {
      font-size: 2em; } }

h3, .gamma {
  font-size: 1.25em;
  margin: 20px 0 10px; }
  @media screen and (min-width: 48em)  {
    h3, .gamma {
      font-size: 1.5em; } }

h4, .delta, .delta-alt, label.input-label, label.filter-label, .dashboard-status {
  font-size: 0.8125em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 10px; }
  @media screen and (min-width: 48em)  {
    h4, .delta, .delta-alt, label.input-label, label.filter-label, .dashboard-status {
      font-size: 0.875em; } }

h5, .epsilon {
  font-size: 1.125em;
  font-weight: 400;
  margin: 20px 0 10px; }
  @media screen and (min-width: 48em)  {
    h5, .epsilon {
      font-size: 1.25em; } }

h6, .zeta {
  font-size: 0.875em;
  margin: 20px 0 10px; }
  @media screen and (min-width: 48em)  {
    h6, .zeta {
      font-size: 1em; } }

ul li {
  list-style-type: none; }

ol, ul.bullets {
  font-size: 1em;
  margin-left: 20px;
  color: #ffc334; }
  @media screen and (min-width: 48em)  {
    ol, ul.bullets {
      font-size: 1.125em;
      margin-left: 0; } }
  ol li, ul.bullets li {
    color: #181c21;
    line-height: 1.25;
    margin-bottom: 10px; }

ul.bullets li {
  list-style: disc; }

blockquote {
  border-left: 4px solid #f2f2f2;
  padding-left: 10px;
  font-style: italic; }

.meta-data {
  font-size: 0.875em; }

span.date {
  font-weight: 900;
  padding-right: 5px; }

.delta-alt, label.input-label, label.filter-label {
  color: #737373; }

.dashboard-status {
  border: 1px solid #f2f2f2;
  padding: 5px 10px;
  background-color: #ffffff; }

.big-number {
  font-size: 2.75em;
  color: #737373;
  padding-right: 5px; }
  @media screen and (min-width: 48em)  {
    .big-number {
      font-size: 3.125em; } }

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
.circular {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-width: 100px; }

/*------------------------------------*\
    $FRAGMENTS
\*------------------------------------*/
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button, [class*="button-"] {
  display: inline-block;
  outline: none;
  background-color: #2274b4;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px 12px;
  border: 0px;
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 900;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.25s ease-in-out;
  font-size: 1em; }
  @media screen and (min-width: 48em)  {
    button, [class*="button-"] {
      font-size: 1.125em; } }
  button i, [class*="button-"] i {
    padding-right: 10px; }
  button:hover, [class*="button-"]:hover {
    cursor: pointer;
    background-color: #1a5889; }
  button:active, [class*="button-"]:active {
    background-color: #0e2f49;
    transition: none; }
  button.disabled, [class*="button-"].disabled {
    background-color: #737373;
    cursor: default; }
  button.icon-only i, [class*="button-"].icon-only i {
    padding: 0px 5px; }

.button-create {
  background-color: #181c21;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 22px 15px 20px;
  font-size: 0.875em; }
  @media screen and (min-width: 48em)  {
    .button-create {
      font-size: 1em;
      padding: 14px 25px 18px 20px; } }
  .button-create i {
    color: #ffc334;
    padding-right: 14px;
    font-size: 1.375em;
    position: relative;
    bottom: -2px; }
  .button-create:hover {
    background-color: #2d353f; }
  .button-create:active {
    background-color: #434e5c; }

.button-secondary, .button-toggle {
  background-color: #ffffff;
  color: #181c21;
  border: 1px solid #f2f2f2;
  padding: 8px 10px;
  font-weight: 400;
  font-size: 0.9375em; }
  .button-secondary i, .button-toggle i {
    color: #ffc334; }
  .button-secondary:hover, .button-toggle:hover {
    background-color: #ffffff;
    border: 1px solid #d8d8d8; }
  .button-secondary:active, .button-toggle:active {
    border: 1px solid #b2b2b2; }
  .button-secondary.disabled, .disabled.button-toggle {
    background-color: #ffffff;
    cursor: default;
    color: #737373; }
    .button-secondary.disabled i, .disabled.button-toggle i {
      color: #737373; }
    .button-secondary.disabled:hover, .disabled.button-toggle:hover {
      border: 1px solid #f2f2f2; }
    .button-secondary.disabled:active, .disabled.button-toggle:active {
      border: 1px solid #f2f2f2; }
  .button-secondary.alt i, .alt.button-toggle i {
    color: #2274b4; }

.button-toggle {
  position: relative;
  z-index: 2; }
  .button-toggle:before {
    float: right;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    content: "\f077";
    transition: all 0.25s ease-in-out;
    color: #ffc334; }
    @media screen and (min-width: 48em)  {
      .button-toggle:before {
        content: "\f078"; } }
  .button-toggle.open:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.pagination li, .stepper li {
  display: inline-block;
  float: left;
  color: #2274b4;
  font-weight: 900;
  padding: 0 10px;
  cursor: pointer; }
.pagination .active, .stepper .active {
  color: #181c21;
  cursor: default; }
  .pagination .active:hover, .stepper .active:hover {
    color: #181c21; }
.pagination li.pg-number:hover, .stepper li.pg-number:hover {
  color: #123d5e; }
.pagination .prev, .pagination .next, .stepper .prev, .stepper .next {
  border: 1px solid #f2f2f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffc334;
  padding: 10px;
  position: relative;
  top: -10px; }
  .pagination .prev:hover, .pagination .next:hover, .stepper .prev:hover, .stepper .next:hover {
    border: 1px solid #d8d8d8; }
.pagination .prev, .stepper .prev {
  margin-right: 10px; }
.pagination .next, .stepper .next {
  margin-left: 10px; }

ul.breadcrumb {
  padding: 10px 0; }
  ul.breadcrumb li {
    display: inline-block;
    float: left; }
    ul.breadcrumb li:after {
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f105";
      color: #737373;
      margin: 0 5px; }

.progress {
  border: 1px solid #f2f2f2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
  display: inline-block;
  background: #f2f2f2;
  font-size: 0.875em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%; }
  @media screen and (min-width: 48em)  {
    .progress {
      width: auto; } }
  .progress a {
    display: block;
    background: #ffffff;
    padding: 20px;
    position: relative; }
    .progress a:hover {
      background: #eaeaea; }
    .progress a.active {
      color: #181c21;
      cursor: default;
      background: #f2f2f2; }
      .progress a.active:after {
        border-color: #f2f2f2; }
      .progress a.active:before {
        border-color: #fafafa;
        z-index: -1; }
      .progress a.active:hover {
        background: #f2f2f2; }
    .progress a.completed i {
      color: #4fab2f;
      padding-left: 3px; }
    .progress a.disabled {
      color: #737373;
      cursor: default; }
    @media screen and (min-width: 48em)  {
      .progress a {
        padding: 23px 30px;
        float: left;
        margin-right: 31px;
        height: 60px; }
        .progress a:hover {
          background: #ffffff; }
        .progress a:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          left: -30px;
          border: 30px solid transparent;
          border-color: #ffffff;
          border-left-color: transparent; }
        .progress a:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: -60px;
          border: 30px solid transparent;
          border-left-color: #ffffff; }
        .progress a:first-of-type {
          padding-left: 40px; }
          .progress a:first-of-type:before {
            display: none; }
        .progress a:last-of-type {
          margin-right: 0px;
          padding-right: 40px; }
          .progress a:last-of-type:after {
            border: none; } }

.category {
  margin: 10px 20px 5px 0;
  font-size: 0.875em; }
  @media screen and (min-width: 48em)  {
    .category {
      font-size: 1em; } }
  .category i {
    padding-right: 5px; }

.categories-list-inline {
  overflow: auto; }
  .categories-list-inline .category {
    display: inline;
    float: left; }

.tabs {
  position: relative; }
  .tabs .tabs-menu li {
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 8px 10px;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #2274b4; }
    .tabs .tabs-menu li:hover {
      cursor: pointer;
      border: 1px solid #d8d8d8;
      color: #123d5e; }
    .tabs .tabs-menu li:active {
      background: #e5e5e5; }
    .tabs .tabs-menu li.active {
      color: #181c21;
      background-color: #f2f2f2;
      border: 1px solid #d8d8d8;
      position: relative; }
      .tabs .tabs-menu li.active:before, .tabs .tabs-menu li.active:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 10px solid transparent;
        /* arrow size */ }
      .tabs .tabs-menu li.active:before {
        border-top-color: #f2f2f2;
        /* arrow color */
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -10px;
        z-index: 2; }
      .tabs .tabs-menu li.active:after {
        border-top-color: #d8d8d8;
        /* arrow color */
        position: absolute;
        top: 31px;
        left: 50%;
        margin-left: -10px;
        z-index: 1; }
      .tabs .tabs-menu li.active:active {
        border-color: #737373; }
  .tabs .tabs-menu label {
    float: left;
    margin: 10px 10px 10px 0; }
  .tabs .tabs-menu .tabs-menu-selection {
    display: block;
    float: left;
    padding: 8px 5px 8px 0; }
    @media screen and (min-width: 48em)  {
      .tabs .tabs-menu .tabs-menu-selection {
        display: none; } }
  .tabs .tabs-menu .tabs-menu-list {
    display: none;
    width: 100%;
    padding: 20px;
    border-top: 5px solid #181c21;
    background: #ffffff;
    box-shadow: 0 -3px 3px 1px rgba(0, 0, 0, 0.1); }
    @media screen and (min-width: 48em)  {
      .tabs .tabs-menu .tabs-menu-list {
        display: block;
        position: relative;
        top: 0;
        float: none;
        width: inherit;
        padding: 0;
        border: none;
        background: none;
        box-shadow: none; } }
    .tabs .tabs-menu .tabs-menu-list.open {
      position: absolute;
      bottom: 52px;
      display: block;
      padding: 0; }
      .tabs .tabs-menu .tabs-menu-list.open li:hover {
        background: #f2f2f2; }
    .tabs .tabs-menu .tabs-menu-list li {
      display: block;
      padding: 15px;
      color: #2274b4;
      border: none;
      border-radius: 0; }
      @media screen and (min-width: 48em)  {
        .tabs .tabs-menu .tabs-menu-list li {
          display: inline-block;
          padding: 8px 10px;
          margin-right: 5px;
          border: 1px solid #f2f2f2;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; } }
      .tabs .tabs-menu .tabs-menu-list li:hover {
        cursor: pointer;
        border: none; }
        @media screen and (min-width: 48em)  {
          .tabs .tabs-menu .tabs-menu-list li:hover {
            border: 1px solid #f2f2f2;
            color: #123d5e; } }
      .tabs .tabs-menu .tabs-menu-list li:active {
        background: none; }
        @media screen and (min-width: 48em)  {
          .tabs .tabs-menu .tabs-menu-list li:active {
            background: #e5e5e5; } }
      .tabs .tabs-menu .tabs-menu-list li.active {
        background-color: transparent;
        border: none; }
        @media screen and (min-width: 48em)  {
          .tabs .tabs-menu .tabs-menu-list li.active {
            color: #181c21;
            background-color: #f2f2f2;
            border: 1px solid #d8d8d8;
            position: relative; } }
        .tabs .tabs-menu .tabs-menu-list li.active:before, .tabs .tabs-menu .tabs-menu-list li.active:after, .tabs .tabs-menu .tabs-menu-list li.active:before, .tabs .tabs-menu .tabs-menu-list li.active:after {
          display: none; }
          @media screen and (min-width: 48em)  {
            .tabs .tabs-menu .tabs-menu-list li.active:before, .tabs .tabs-menu .tabs-menu-list li.active:after, .tabs .tabs-menu .tabs-menu-list li.active:before, .tabs .tabs-menu .tabs-menu-list li.active:after {
              display: inherit; } }
        @media screen and (min-width: 48em)  {
          .tabs .tabs-menu .tabs-menu-list li.active:active {
            border-color: #737373; } }
  .tabs .tabs-menu button {
    display: block; }
    @media screen and (min-width: 48em)  {
      .tabs .tabs-menu button {
        display: none; } }
  .tabs .tab-content {
    display: none;
    padding: 30px 0 0; }
    .tabs .tab-content.active {
      display: block; }

.filters {
  position: relative; }
  .filters .button-toggle {
    transition: none; }
  .filters .filters-count {
    margin-right: 0;
    padding: 10px 0 10px 10px;
    text-align: left;
    border-top: 1px solid #f2f2f2;
    /* max-width: 300px; */ }
    @media screen and (min-width: 48em)  {
      .filters .filters-count {
        border: 0;
        padding: 0; }
        .filters .filters-count .button-toggle {
          border: 1px solid #d8d8d8; }
          .filters .filters-count .button-toggle.open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: 19px;
            margin-bottom: -19px;
            border-bottom: 0px; } }
    .filters .filters-count .count {
      background: none;
      margin: 0; }
      @media screen and (min-width: 48em)  {
        .filters .filters-count .count {
          background: #ffc334;
          margin: 0 10px 0 5px; } }
  .filters .filters-container {
    display: none;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 48px;
    border-top: 5px solid #181c21;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 -3px 3px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out; }
    @media screen and (min-width: 48em)  {
      .filters .filters-container {
        position: absolute;
        top: 37px;
        bottom: inherit;
        width: 100%;
        max-width: 300px;
        border: 1px solid #f2f2f2;
        border-top: 5px solid #181c21;
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.08); }
        .filters .filters-container:after {
          width: 100%; } }
    .filters .filters-container.open {
      display: block; }
    .filters .filters-container input[type="email"], .filters .filters-container input[type="number"], .filters .filters-container input[type="password"], .filters .filters-container input[type="search"], .filters .filters-container input[type="tel"], .filters .filters-container input[type="text"], .filters .filters-container input[type="url"], .filters .filters-container input[type="color"], .filters .filters-container input[type="date"], .filters .filters-container input[type="datetime"], .filters .filters-container input[type="datetime-local"], .filters .filters-container input[type="month"], .filters .filters-container input[type="time"], .filters .filters-container input[type="week"] {
      width: 100%; }
    .filters .filters-container .filter-start-date {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      position: relative; }
      .filters .filters-container .filter-start-date:last-child {
        margin-right: 0; }
    .filters .filters-container .filter-end-date {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0;
      position: relative; }
      .filters .filters-container .filter-end-date:last-child {
        margin-right: 0; }
    .filters .filters-container .filter-start-date:before, .filters .filters-container .filter-end-date:before {
      position: absolute;
      top: 35px;
      right: 10px;
      font-family: FontAwesome;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      content: "\f073";
      color: #737373;
      opacity: 0.5; }
    .filters .filters-container .filter-actions {
      padding-top: 20px;
      text-align: right; }
      .filters .filters-container .filter-actions .cta {
        margin-right: 10px; }

.filters-count .count {
  color: #ffffff;
  background: #737373;
  font-weight: 900;
  padding: 6px 5px 5px 5px;
  margin-left: 5px;
  margin-right: 10px;
  height: 28px;
  width: 28px;
  display: inline-block;
  border-radius: 50%;
  text-align: center; }
  .filters-count .count.has-filters {
    background: #ffc334;
    color: #181c21; }

.user-credit {
  overflow: auto; }
  .user-credit img {
    float: left;
    width: 40px;
    margin-right: 10px; }
    @media screen and (min-width: 64em)  {
      .user-credit img {
        width: 60px; } }
  .user-credit .name {
    padding-top: 10px; }
    @media screen and (min-width: 64em)  {
      .user-credit .name {
        padding-top: 18px; } }

.user-credit-has-label {
  overflow: auto; }
  .user-credit-has-label img {
    float: left;
    width: 45px;
    margin-right: 10px;
    margin-top: -25px; }
    @media screen and (min-width: 64em)  {
      .user-credit-has-label img {
        width: 70px;
        margin-top: 10px;
        float: none; } }
  .user-credit-has-label .delta-alt, .user-credit-has-label label.input-label, .user-credit-has-label label.filter-label {
    padding-left: 55px;
    margin-bottom: 5px; }
    @media screen and (min-width: 64em)  {
      .user-credit-has-label .delta-alt, .user-credit-has-label label.input-label, .user-credit-has-label label.filter-label {
        padding-left: 0px; } }
  @media screen and (min-width: 64em)  {
    .user-credit-has-label .name {
      padding-top: 10px; } }

.alert {
  font-style: italic;
  font-size: 1em;
  padding: 5px 10px;
  display: inline-block;
  border-left: 3px solid #f2f2f2;
  background-color: #fcfcfc; }
  .alert.error {
    border-color: #de0000;
    background-color: #ffdede; }
  .alert.confirmation {
    border-color: #4fab2f;
    background-color: #e7f7e2; }

/*------------------------------------*\
    $MODULES
\*------------------------------------*/
.post-popup {
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0px 7px 2px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  position: relative; }
  .post-popup .actions {
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
    margin-top: 20px; }
    .post-popup .actions button {
      margin-right: 5px; }
  .post-popup:after {
    content: ' ';
    border: 15px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
    z-index: 2;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.08); }
  .post-popup.has-image {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    box-shadow: inset 0 150px 100px 0px black;
    text-shadow: 0px 1px 0px #181c21; }
    .post-popup.has-image:after {
      border-color: transparent transparent #181c21 #181c21; }
    .post-popup.has-image a {
      color: #71b2e4; }
      .post-popup.has-image a:hover {
        color: #9cc9ec; }
    .post-popup.has-image img {
      opacity: 0.3;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      z-index: -3; }
    .post-popup.has-image .meta-data, .post-popup.has-image p, .post-popup.has-image blockquote {
      z-index: 1;
      color: #ffffff; }
    .post-popup.has-image .actions {
      border-top: 1px solid #181c21; }

.post-list-actions {
  padding: 10px 0;
  border-top: 1px solid #f2f2f2;
  overflow: auto; }
  @media screen and (min-width: 48em)  {
    .post-list-actions {
      border-right: 1px solid #f2f2f2;
      border-left: 1px solid #f2f2f2;
      padding: 10px 20px; } }
  .post-list-actions .bulk-actions {
    float: right; }
  .post-list-actions .cta {
    float: left;
    padding-top: 10px; }
  .post-list-actions button {
    margin-left: 10px; }

.tabs-with-filter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  clear: both;
  padding: 10px 0; }
  .tabs-with-filter:last-child {
    margin-right: 0; }
  .tabs-with-filter .tabs:not(.tabs-full-width) {
    width: 50%;
    float: left;
    margin-right: 0;
    padding: 10px 0;
    border-right: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2; }
    @media screen and (min-width: 48em)  {
      .tabs-with-filter .tabs:not(.tabs-full-width) {
        border: 0;
        padding: 0; } }
    .tabs-with-filter .tabs:not(.tabs-full-width) .button-toggle {
      margin-right: 10px; }
    .tabs-with-filter .tabs:not(.tabs-full-width) .tabs-menu-list.open {
      position: absolute;
      bottom: 52px; }
      @media screen and (min-width: 48em)  {
        .tabs-with-filter .tabs:not(.tabs-full-width) .tabs-menu-list.open {
          position: relative; } }
  .tabs-with-filter .tabs-menu label {
    display: none;
    float: left;
    margin: 10px 10px 10px 0; }
    @media screen and (min-width: 48em)  {
      .tabs-with-filter .tabs-menu label {
        display: block; } }
  .tabs-with-filter .button-toggle {
    float: right; }
  .tabs-with-filter .filters-count {
    width: 50%;
    float: right; }
    @media screen and (min-width: 48em)  {
      .tabs-with-filter .filters-count {
        text-align: right; } }
  .tabs-with-filter .filters-container {
    bottom: -1px; }
    .tabs-with-filter .filters-container:after {
      width: 50%;
      position: absolute;
      bottom: 0px;
      height: 20px;
      content: '';
      border-bottom: 1px solid #f2f2f2;
      margin-left: -20px; }
    @media screen and (min-width: 48em)  {
      .tabs-with-filter .filters-container {
        right: 0;
        bottom: inherit; } }

.post-summary h3 {
  margin: 10px 0; }
@media screen and (min-width: 48em)  {
  .post-summary .meta-data {
    float: left;
    margin-right: 20px;
    margin-top: 11px; } }
.post-summary .post-img {
  padding: 5px 10px 5px 0;
  float: left;
  max-width: 30%; }
  .post-summary .post-img img {
    max-height: 200px; }
  @media screen and (min-width: 48em)  {
    .post-summary .post-img {
      width: 200px;
      padding: 0 20px 20px 0;
      margin-top: -20px; } }
  @media screen and (min-width: 64em)  {
    .post-summary .post-img {
      width: 250px;
      padding: 0 40px 20px 0; } }
@media screen and (min-width: 48em)  {
  .post-summary.has-img .meta-data {
    margin-left: 200px; }
 }
@media screen and (min-width: 64em)  {
  .post-summary.has-img .meta-data {
    margin-left: 250px; }
 }

/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/
.dashboard-stats {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0; }
  @media screen and (min-width: 48em)  {
    .dashboard-stats {
      padding: 20px 0; } }

.stat {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .stat:last-child {
    margin-right: 0; }
  .stat:nth-child(2n) {
    margin-right: 0; }
  .stat:nth-child(2n+1) {
    clear: left; }
  @media screen and (min-width: 48em)  {
    .stat {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .stat:nth-child(2n) {
        margin-right: 2.35765%; }
      .stat:nth-child(2n+1) {
        clear: none; }
      .stat:last-child {
        margin-right: 0; } }
  .stat .big-number {
    display: block; }
    @media screen and (min-width: 30em)  {
      .stat .big-number {
        display: inline; } }
    @media screen and (min-width: 48em)  {
      .stat .big-number {
        display: block; } }
    @media screen and (min-width: 64em)  {
      .stat .big-number {
        display: inline; } }

/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/
.layout-a > [class*="layout-"] {
  margin: 3.125%; }

.layout-b > [class*="layout-"] {
  margin: 3.125%; }

.layout-c > [class*="layout-"] {
  margin: 3.125%; }
/* @generated */