html{-moz-box-sizing:border-box;box-sizing:border-box}
*,:after,:before{-moz-box-sizing:inherit;box-sizing:inherit}
body.rtl{text-align:right}
body.rtl .pl-jump-nav,body.rtl .pl-read-direction-nav{text-align:left}
@media screen and (min-width:48em){body.rtl .pl-read-direction-nav{text-align:right}}
*{margin:0;padding:0;line-height:1}
html{font-size:93.75%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
html.pl body{background-color:#fff;padding:10px}
body{color:#181c21;font-weight:400;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif}
@media screen and (min-width:48em){blockquote,p{font-size:1.125em}}
table{border-collapse:collapse}
em{font-style:italic}
strong{font-weight:700}
a{color:#2274b4;text-decoration:none;transition:all .15s ease-out 0s}
a:focus,a:hover{cursor:pointer;color:#123d5e}
blockquote a,p a{border-bottom:1px dotted #f2f2f2}
blockquote a:hover,p a:hover{border-bottom:1px dotted #123d5e}
a.cta{border-bottom:1px solid #71b2e4;font-size:.875em}
a.cta:hover{border-bottom:1px solid #123d5e}
i{transition:all .15s ease-out 0s}
img{display:block;max-width:100%}
a img{border:none}
code{font:12px/1 'Courier New',Courier,monospace}
sub,sup{line-height:0}
::-moz-selection{background:#e4e64c;color:#000;text-shadow:none}
::-moz-selection,::selection{background:#e4e64c;color:#000;text-shadow:none}
article,aside,details,fig caption,figure,footer,group,header,nav,section{display:block}
audio,canvas,video{display:inline-block}
.clearfix-alt{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.noscroll{overflow:hidden}
.nodisplay{display:none}
fieldset{border:none}
.wrapper{background-color:#fff;max-width:1580px;margin:0 auto}
.container,.container-centered{clear:both;margin:0 auto;max-width:1580px}
.container-centered::after,.container::after{clear:both;content:"";display:table}
.container-centered{text-align:center}
.pl-pattern{max-width:1580px;margin-left:auto;margin-right:auto;padding:0 20px;background-color:#fff}
.pl-pattern:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.lt-ie8 .pl-pattern{zoom:1}
@media screen and (min-width:48em){.pl-pattern{padding:20px 40px 40px}}
.pl-pattern blockquote,.pl-pattern p{margin-bottom:10px}
.pl-pattern-description{text-align:center;margin-bottom:20px}
.pl-pattern-description h2{text-align:center;margin:20px 0}
@media screen and (min-width:48em){.pl-pattern-description{float:left;display:block;margin-right:2.35765%;width:48.82117%;margin-left:25.58941%}
.pl-pattern-description:last-child{margin-right:0}}
.pl-divider{clear:both;margin:20px auto;width:20px;height:3px;border:0;background:#ffc334}
.pl-sub-pattern{margin:40px 0;clear:both}
.pl-sub-pattern .pl-sub-pattern-markup{border-top:1px solid #f2f2f2;padding-top:10px}
.pl-sub-pattern .pl-sub-pattern-sample{margin-bottom:10px}
.pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls{color:#737373;font-size:.8125em;text-transform:uppercase;letter-spacing:1px;border:1px solid #f2f2f2;border-top-left-radius:5px;border-top-right-radius:5px;padding:5px;height:24px;display:inline-block;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
@media screen and (min-width:48em){.pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls{float:right;margin-top:-23px}}
.pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls:hover{cursor:pointer;color:#123d5e}
.pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-controls .hide{display:none}
.pl-sub-pattern .pl-sub-pattern-sample .pl-sub-pattern-sample-toggle-target{display:none;margin-top:10px}
.pl-sub-pattern .pl-sub-pattern-sample.visible .pl-sub-pattern-sample-toggle-controls .show{display:none}
.pl-sub-pattern .pl-sub-pattern-sample.visible .pl-sub-pattern-sample-toggle-controls .hide{display:inline}
.pl-sub-pattern .pl-sub-pattern-sample.visible .pl-sub-pattern-sample-toggle-target{display:block}
.pl-note{font-size:.875em;font-style:italic;padding:5px 10px;background-color:#ffe7e7;display:inline-block;border-left:2px solid red;clear:both}
.pl{background:#f2f2f2;padding-bottom:40px}
@media screen and (min-width:48em) and (min-height:650px){.sticky-nav{margin-top:68px}}
.pl-page-header{background:#232930}
.pl-page-header h3{padding:20px;margin:0;font-weight:400}
.pl-page-header h3 a{color:#fff}
.pl-page-header img{max-width:45px;float:left;fill:#fff;color:#fff;margin:-10px 10px 0 0}
.pl-nav{background:#181c21;padding:20px}
.pl-nav:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.lt-ie8 .pl-nav{zoom:1}
@media screen and (min-width:48em){.pl-nav{padding:20px 0 0}}
.pl-nav ul li{color:#fff;font-weight:900;line-height:2;text-transform:uppercase;letter-spacing:.1em}
.pl-nav ul li:last-child:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.lt-ie8 .pl-nav ul li:last-child{zoom:1}
.pl-nav ul li a{color:#71b2e4;padding-left:12px;margin-top:8px}
.pl-nav ul li a:hover{border-color:#fff;color:#fff}
@media screen and (min-width:48em){.pl-nav ul li a{display:block;float:left;border-left:0;border-bottom:#2274b4 0 solid;padding:0 30px 20px}}
.pl-nav .active{border-left:#ffc334 3px solid;padding-left:10px;line-height:2}
.pl-nav .active:hover{border-left:#f2f2f2 3px solid}
@media screen and (min-width:48em){.pl-nav .active{display:block;float:left;border-left:0;border-bottom:#ffc334 3px solid;padding:0 30px 20px}
.pl-nav .active:hover{border-left:0}}
.pl-jump-nav{float:left;display:block;margin-right:2.35765%;width:100%;background:#fff;max-width:1580px}
.pl-jump-nav:last-child{margin-right:0}
@media screen and (min-width:48em){.pl-jump-nav{border-bottom:1px solid #f2f2f2}}
.pl-jump-nav ul{float:left;display:block;margin-right:2.35765%;width:100%;padding:20px}
.pl-jump-nav ul:last-child{margin-right:0}
@media screen and (min-width:48em){.pl-jump-nav ul{float:left;display:block;margin-right:2.35765%;width:74.41059%}
.pl-jump-nav ul:last-child{margin-right:0}}
@media screen and (min-width:64.063em){.pl-jump-nav ul{float:left;display:block;margin-right:2.35765%;width:82.94039%}
.pl-jump-nav ul:last-child{margin-right:0}}
.pl-jump-nav li{display:inline;padding-right:8px;margin-right:5px;border-right:3px solid #f2f2f2;line-height:1.75em}
.pl-jump-nav li:last-child{border-right:0}
ul.pl-read-direction-nav{float:left;display:block;margin-right:2.35765%;width:100%;padding:20px}
ul.pl-read-direction-nav:last-child{margin-right:0}
@media screen and (min-width:48em){ul.pl-read-direction-nav{float:left;display:block;margin-right:2.35765%;width:23.23176%;text-align:right}
ul.pl-read-direction-nav:last-child{margin-right:0}}
@media screen and (min-width:64.063em){ul.pl-read-direction-nav{float:left;display:block;margin-right:2.35765%;width:14.70196%}
ul.pl-read-direction-nav:last-child{margin-right:0}}
ul.pl-read-direction-nav li{margin:0;padding:0 0 0 10px;border:none}
@media screen and (min-width:48em) and (min-height:650px){.pl-fixed{position:fixed;top:0;margin-top:0;z-index:1}}
li.pl-color{padding-top:70px;margin-bottom:10px;text-align:center}
@media screen and (min-width:48em){li.pl-color{float:left;display:block;margin-right:2.35765%;width:48.82117%;padding:0;text-align:left}
li.pl-color:last-child,li.pl-color:nth-child(2n){margin-right:0}
li.pl-color:nth-child(2n+1){clear:left}}
@media screen and (min-width:64em){li.pl-color{float:left;display:block;margin-right:2.35765%;width:31.76157%}
li.pl-color:nth-child(2n){margin-right:2.35765%}
li.pl-color:nth-child(2n+1){clear:none}
li.pl-color:last-child,li.pl-color:nth-child(3n){margin-right:0}
li.pl-color:nth-child(3n+1){clear:left}}
.pl-color-info{background-color:#fff;border:1px solid #f2f2f2;padding:20px}
@media screen and (min-width:48em){.pl-color-info{width:60%}}
.pl-black{background-color:#181c21}
.pl-blue{background-color:#2274b4}
.pl-yellow{background-color:#ffc334}
.pl-lt-gray{background-color:#f2f2f2}
.pl-dk-gray{background-color:#737373}
.pl-white{background-color:#fff;border:1px solid #f2f2f2}
li.pl-icon{float:left;display:block;margin-right:2.35765%;width:48.82117%;margin-bottom:20px}
li.pl-icon:last-child,li.pl-icon:nth-child(2n){margin-right:0}
li.pl-icon:nth-child(2n+1){clear:left}
@media screen and (min-width:48em){li.pl-icon{float:left;display:block;margin-right:2.35765%;width:23.23176%}
li.pl-icon:nth-child(2n){margin-right:2.35765%}
li.pl-icon:nth-child(2n+1){clear:none}
li.pl-icon:last-child,li.pl-icon:nth-child(4n){margin-right:0}
li.pl-icon:nth-child(4n+1){clear:left}}
li.pl-icon [class*=fa-]{margin-right:20px}
label.filter-label,label.input-label{display:block;padding:0 10px 0 0}
input[type=search],input[type=text],input[type=email],input[type=password],textarea{font-size:1.125em;outline-color:#fff;resize:none;border:1px solid #d8d8d8;color:#181c21;font-weight:400;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;display:block;padding:5px 10px;-moz-box-sizing:border-box;box-sizing:border-box;transition:all .25s ease-in-out;box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.1)}
input[type=search].error,input[type=text].error,input[type=email].error,input[type=password].error,textarea.error{border-color:red}
input[type=checkbox],input[type=radio]{display:inline-block;margin:0 10px 10px 0}
:-moz-placeholder,:-ms-input-placeholder,::-moz-placeholder,::-webkit-input-placeholder{font-size:1.125em}
textarea{width:100%;height:120px}
select{-webkit-appearance:menulist;height:32px;font-size:.875em}
form blockquote,form p{font-size:.875em;margin-bottom:1em}
blockquote,p{line-height:1.25;font-size:1em;margin:10px 0}
@media screen and (min-width:48em){blockquote,p{font-size:1.125em}}
blockquote.small,p.small{font-size:.875em}
.alpha,h1{font-size:1.75em;font-weight:400;margin:20px 0 10px;clear:both}
@media screen and (min-width:48em){.alpha,h1{font-size:2.625em}}
.beta,h2{font-size:1.5em;margin:20px 0 10px}
@media screen and (min-width:48em){.beta,h2{font-size:2em}}
.gamma,h3{font-size:1.25em;margin:20px 0 10px}
@media screen and (min-width:48em){.gamma,h3{font-size:1.5em}}
.dashboard-status,.delta,.delta-alt,h4,label.filter-label,label.input-label{font-size:.8125em;font-weight:900;text-transform:uppercase;letter-spacing:1px;margin:20px 0 10px}
@media screen and (min-width:48em){.dashboard-status,.delta,.delta-alt,h4,label.filter-label,label.input-label{font-size:.875em}}
.epsilon,h5{font-size:1.125em;font-weight:400;margin:20px 0 10px}
@media screen and (min-width:48em){.epsilon,h5{font-size:1.25em}}
.zeta,h6{font-size:.875em;margin:20px 0 10px}
@media screen and (min-width:48em){.zeta,h6{font-size:1em}}
ul li{list-style-type:none}
ol,ul.bullets{font-size:1em;margin-left:20px;color:#ffc334}
@media screen and (min-width:48em){ol,ul.bullets{font-size:1.125em;margin-left:0}}
ol li,ul.bullets li{color:#181c21;line-height:1.25;margin-bottom:10px}
ul.bullets li{list-style:disc}
blockquote{border-left:4px solid #f2f2f2;padding-left:10px;font-style:italic}
.meta-data{font-size:.875em}
span.date{font-weight:900;padding-right:5px}
.delta-alt,label.filter-label,label.input-label{color:#737373}
.dashboard-status{border:1px solid #f2f2f2;padding:5px 10px;background-color:#fff}
.big-number{font-size:2.75em;color:#737373;padding-right:5px}
@media screen and (min-width:48em){.big-number{font-size:3.125em}}
.circular{border-radius:50%;width:100%;height:100%;max-width:100px}
[class*=button-],button{display:inline-block;outline:0;background-color:#2274b4;color:#fff;text-align:center;text-decoration:none;padding:10px 15px 12px;border:0;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-weight:900;border-radius:5px;transition:all .25s ease-in-out;font-size:1em}
@media screen and (min-width:48em){[class*=button-],button{font-size:1.125em}}
[class*=button-] i,button i{padding-right:10px}
[class*=button-]:hover,button:hover{cursor:pointer;background-color:#1a5889}
[class*=button-]:active,button:active{background-color:#0e2f49;transition:none}
[class*=button-].disabled,button.disabled{background-color:#737373;cursor:default}
[class*=button-].icon-only i,button.icon-only i{padding:0 5px}
.button-create{background-color:#181c21;text-transform:uppercase;letter-spacing:1px;padding:12px 22px 15px 20px;font-size:.875em}
@media screen and (min-width:48em){.button-create{font-size:1em;padding:14px 25px 18px 20px}}
.button-create i{color:#ffc334;padding-right:14px;font-size:1.375em;position:relative;bottom:-2px}
.button-create:hover{background-color:#2d353f}
.button-create:active{background-color:#434e5c}
.button-secondary{background-color:#fff;color:#181c21;border:1px solid #f2f2f2;padding:8px 10px;font-weight:400;font-size:.9375em}
.button-secondary i{color:#ffc334}
.button-secondary:hover{background-color:#fff;border:1px solid #d8d8d8}
.button-secondary:active{border:1px solid #b2b2b2}
.button-secondary.disabled{background-color:#fff;cursor:default;color:#737373}
.button-secondary.disabled i{color:#737373}
.button-secondary.disabled:active,.button-secondary.disabled:hover{border:1px solid #f2f2f2}
.button-secondary.alt i{color:#2274b4}
.pagination,.stepper{overflow:auto;padding:10px 0}
.pagination li,.stepper li{display:inline-block;float:left;color:#2274b4;font-weight:900;padding:0 10px;cursor:pointer}
.pagination .active,.stepper .active{color:#181c21;cursor:default}
.pagination .active:hover,.stepper .active:hover{color:#181c21}
.pagination li.pg-number:hover,.stepper li.pg-number:hover{color:#123d5e}
.pagination .next,.pagination .prev,.stepper .next,.stepper .prev{border:1px solid #f2f2f2;border-radius:5px;color:#ffc334;padding:10px;position:relative;top:-10px}
.pagination .next:hover,.pagination .prev:hover,.stepper .next:hover,.stepper .prev:hover{border:1px solid #d8d8d8}
.pagination .prev,.stepper .prev{margin-right:10px}
.pagination .next,.stepper .next{margin-left:10px}
ul.breadcrumb{padding:10px 0}
ul.breadcrumb li{display:inline-block;float:left}
ul.breadcrumb li:after{font:normal normal normal 14px/1 FontAwesome;content:"\f105";color:#737373;margin:0 5px}
.progress{border:1px solid #f2f2f2;border-radius:5px;overflow:auto;display:inline-block;background:#f2f2f2;font-size:.875em;font-weight:900;text-transform:uppercase;letter-spacing:1px;width:100%}
@media screen and (min-width:48em){.progress{width:auto}}
.progress a{display:block;background:#fff;padding:20px;position:relative}
.progress a:hover{background:#eaeaea}
.progress a.active{color:#181c21;cursor:default;background:#f2f2f2}
.progress a.active:after{border-color:#f2f2f2}
.progress a.active:before{border-color:#fafafa;z-index:-1}
.progress a.active:hover{background:#f2f2f2}
.progress a.completed i{color:#4fab2f;padding-left:3px}
.progress a.disabled{color:#737373;cursor:default}
@media screen and (min-width:48em){.progress a{padding:23px 30px;float:left;margin-right:31px;height:60px}
.progress a:hover{background:#fff}
.progress a:before{content:"";display:block;width:0;height:0;position:absolute;top:0;left:-30px;border:30px solid transparent;border-color:#fff #fff #fff transparent}
.progress a:after{content:"";display:block;width:0;height:0;position:absolute;top:0;right:-60px;border:30px solid transparent;border-left-color:#fff}
.progress a:first-of-type{padding-left:40px}
.progress a:first-of-type:before{display:none}
.progress a:last-of-type{margin-right:0;padding-right:40px}
.progress a:last-of-type:after{border:none}}
.category{margin:10px 20px 5px 0;font-size:.875em}
@media screen and (min-width:48em){.category{font-size:1em}}
.category i{padding-right:5px}
.categories-list-inline{overflow:auto}
.categories-list-inline .category{display:inline;float:left}
.tabs .tabs-menu li{display:inline-block;border:1px solid #f2f2f2;padding:8px 10px;margin-right:5px;border-radius:5px;color:#2274b4}
.tabs .tabs-menu li:hover{cursor:pointer;border:1px solid #d8d8d8;color:#123d5e}
.tabs .tabs-menu li:active{background:#e5e5e5}
.tabs .tabs-menu li.active{color:#181c21;background-color:#f2f2f2;border:1px solid #d8d8d8;position:relative;margin-bottom:20px}
.tabs .tabs-menu li.active:after,.tabs .tabs-menu li.active:before{content:' ';height:0;width:0;border:10px solid transparent}
.tabs .tabs-menu li.active:before{border-top-color:#f2f2f2;position:absolute;top:30px;left:50%;margin-left:-10px;z-index:2}
.tabs .tabs-menu li.active:after{border-top-color:#d8d8d8;position:absolute;top:31px;left:50%;margin-left:-10px;z-index:1}
.tabs .tabs-menu li.active:active{border-color:#737373}
.tabs .tabs-tab{margin-bottom:2em}
.tabs .tabs-tab .tabs-tab-title i{margin-right:6px}
.tabs.tabs-init .tabs-menu{display:none}
.tabs.tabs-init .tabs-tab{margin-bottom:0}
.tabs.tabs-init .tabs-tab .tabs-tab-title{font-weight:600;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;padding:.5em 1em}
.tabs.tabs-init .tabs-tab .tabs-tab-title:hover{cursor:pointer}
.tabs.tabs-init .tabs-tab .tabs-tab-content{display:none}
.tabs.tabs-filter{padding:.75em 1em}
.tabs.tabs-filter>.ui-select{margin-bottom:1em}
.tabs.tabs-filter>.ui-select .ui-select-selected{text-transform:uppercase}
.tabs.tabs-filter .tabs-menu{background-color:transparent}
.tabs.tabs-filter .tabs-menu li{font-weight:600;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;text-transform:uppercase;padding:17px 20px;margin-left:-4px}
.tabs.tabs-filter .tabs-menu li:first-child{border-color:transparent;margin-left:0}
.tabs.tabs-filter .form-field-bar .ui-select,.tabs.tabs-filter .form-field-bar input[type=search],.tabs.tabs-filter .form-field-bar input[type=text],.tabs.tabs-filter .form-field-bar input[type=email],.tabs.tabs-filter .form-field-bar input[type=password],.tabs.tabs-filter .form-field-bar select{margin-bottom:.5em}
.filters-count .count{color:#fff;background:#737373;font-weight:900;padding:6px 5px 5px;margin-left:5px;margin-right:10px;height:28px;width:28px;display:inline-block;border-radius:50%;text-align:center}
.filters-count .count.has-filters{background:#ffc334;color:#181c21}
.user-credit{overflow:auto}
.user-credit img{float:left;width:40px;margin-right:10px}
@media screen and (min-width:64em){.user-credit img{width:60px}}
.user-credit .name{padding-top:10px}
@media screen and (min-width:64em){.user-credit .name{padding-top:18px}}
.user-credit-has-label{overflow:auto}
.user-credit-has-label img{float:left;width:45px;margin-right:10px;margin-top:-25px}
@media screen and (min-width:64em){.user-credit-has-label img{width:70px;margin-top:10px;float:none}}
.user-credit-has-label .delta-alt,.user-credit-has-label label.filter-label,.user-credit-has-label label.input-label{padding-left:55px;margin-bottom:5px}
@media screen and (min-width:64em){.user-credit-has-label .delta-alt,.user-credit-has-label label.filter-label,.user-credit-has-label label.input-label{padding-left:0}}
@media screen and (min-width:64em){.user-credit-has-label .name{padding-top:10px}}
.alert{font-style:italic;font-size:1em;padding:5px 10px;display:inline-block;border-left:3px solid #f2f2f2;background-color:#fcfcfc}
.alert.error{border-color:#de0000;background-color:#ffdede}
.alert.confirmation{border-color:#4fab2f;background-color:#e7f7e2}
.post-popup{padding:20px;border-radius:5px;box-shadow:0 0 7px 2px rgba(0,0,0,.1);max-width:400px;position:relative}
.post-popup .actions{border-top:1px solid #f2f2f2;padding-top:20px;margin-top:20px}
.post-popup .actions button{margin-right:5px}
.post-popup:after{content:' ';border:15px solid #000;border-color:transparent transparent #fff #fff;position:absolute;bottom:-30px;left:50%;margin-left:-15px;z-index:2;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);box-shadow:-3px 3px 5px 0 rgba(0,0,0,.08)}
.post-popup.has-image{position:relative;background:rgba(0,0,0,.8);z-index:1;box-shadow:inset 0 150px 100px 0 #000;text-shadow:0 1px 0 #181c21}
.post-popup.has-image:after{border-color:transparent transparent #181c21 #181c21}
.post-popup.has-image a{color:#71b2e4}
.post-popup.has-image a:hover{color:#9cc9ec}
.post-popup.has-image img{opacity:.3;top:0;left:0;min-height:100%;min-width:100%;position:absolute;z-index:-3}
.post-popup.has-image .meta-data,.post-popup.has-image blockquote,.post-popup.has-image p{z-index:1;color:#fff}
.post-popup.has-image .actions{border-top:1px solid #181c21}
.post-list-actions{padding:10px 0;border-top:1px solid #f2f2f2;overflow:auto}
@media screen and (min-width:48em){.post-list-actions{border-right:1px solid #f2f2f2;border-left:1px solid #f2f2f2;padding:10px 20px}}
.post-list-actions .bulk-actions{float:right}
.post-list-actions .cta{float:left;padding-top:10px}
.post-list-actions button{margin-left:10px}
.tabs-with-filter{overflow:auto;padding:10px 0}
.tabs-with-filter .tabs{float:left}
.tabs-with-filter .filters-count{float:right}
.post-summary h3{margin:10px 0}
@media screen and (min-width:48em){.post-summary .meta-data{float:left;margin-right:20px;margin-top:11px}}
.post-summary .post-img{padding:5px 10px 5px 0;float:left;max-width:30%}
.post-summary .post-img img{max-height:200px}
@media screen and (min-width:48em){.post-summary .post-img{width:200px;padding:0 20px 20px 0;margin-top:-20px}}
@media screen and (min-width:64em){.post-summary .post-img{width:250px;padding:0 40px 20px 0}}
@media screen and (min-width:48em){.post-summary.has-img .meta-data{margin-left:200px}}
@media screen and (min-width:64em){.post-summary.has-img .meta-data{margin-left:250px}}
.dashboard-stats{border-top:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;padding:10px 0}
@media screen and (min-width:48em){.dashboard-stats{padding:20px 0}}
.stat{float:left;display:block;margin-right:2.35765%;width:48.82117%}
.stat:last-child,.stat:nth-child(2n){margin-right:0}
.stat:nth-child(2n+1){clear:left}
@media screen and (min-width:48em){.stat{float:left;display:block;margin-right:2.35765%;width:23.23176%}
.stat:nth-child(2n){margin-right:2.35765%}
.stat:nth-child(2n+1){clear:none}
.stat:last-child{margin-right:0}}
.stat .big-number{display:block}
@media screen and (min-width:30em){.stat .big-number{display:inline}}
@media screen and (min-width:48em){.stat .big-number{display:block}}
@media screen and (min-width:64em){.stat .big-number{display:inline}}
.layout-a>[class*=layout-],.layout-b>[class*=layout-],.layout-c>[class*=layout-]{margin:3.125%}/* @generated */