html{-moz-box-sizing:border-box;box-sizing:border-box}
*,:after,:before{-moz-box-sizing:inherit;box-sizing:inherit}
*{margin:0;padding:0;line-height:1}
html{font-size:93.75%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
html.pl body{background-color:#fff;padding:10px}
body{color:#4A4A4A;font-weight:400;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif}
p{line-height:1.25}
ul li{list-style-type:none}
table{border-collapse:collapse}
em{font-style:italic}
strong{font-weight:700}
a{color:#3498DB;text-decoration:none;transition:all .15s ease-out 0s}
a:focus,a:hover{cursor:pointer;color:#3A87AD}
img{display:block;max-width:100%}
a img{border:none}
code{font:12px/1 'Courier New',Courier,monospace}
sub,sup{line-height:0}
::-moz-selection{background:#e4e64c;color:#000;text-shadow:none}
::-moz-selection,::selection{background:#e4e64c;color:#000;text-shadow:none}
article,aside,details,fig caption,figure,footer,group,header,nav,section{display:block}
audio,canvas,video{display:inline-block}
.clearfix-alt{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.noscroll{overflow:hidden}
.nodisplay{display:none}
fieldset{border:none}
[class*=button-],button{display:inline-block;outline:0;color:#4A4A4A;font-weight:400;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;font-size:15px;font-size:1rem;text-align:center;text-decoration:none;border:1px solid #ddd;box-shadow:0 1px 2px 0 rgba(0,0,0,.1);background-color:#fff;padding:10px 15px;transition:all .25s ease-in-out}
[class*=button-]:hover,button:hover{cursor:pointer;background-color:#f1f2f6}
[class*=button-]:active,button:active{border-color:#4A4A4A;background-color:#f1f2f6}
.button-primary,button[type=submit]{color:#fff;border-color:#8EC165;background-color:#8EC165}
.button-primary:hover,button[type=submit]:hover{border-color:#6A914B;background-color:#6A914B}
.button-primary:active,button[type=submit]:active{background-color:#8EC165}
.button-secondary{color:#fff;border-color:#323A45;background-color:#323A45}
.button-secondary:hover{border-color:#232323;background-color:#232323}
.button-secondary:active{background-color:#323A45}
input[type=text],input[type=email],input[type=password],input[type=search],textarea{font-size:15px;font-size:1rem;outline-color:#4AA6E2;resize:none;border:1px solid #ddd;border-radius:3px;font-weight:400;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;padding:5px 10px;-moz-box-sizing:border-box;box-sizing:border-box;transition:all .25s ease-in-out}
input[type=text].error,input[type=email].error,input[type=password].error,input[type=search].error,textarea.error{outline-color:#D0021B;box-shadow:0 0 2px 0 #d0021b;border-color:#D0021B}
:-moz-placeholder,:-ms-input-placeholder,::-moz-placeholder,::-webkit-input-placeholder{font-size:15px;font-size:1rem}
textarea{font-weight:400;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;padding:1em}
label{font-weight:400;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;color:#4A4A4A;font-size:15px;font-size:1rem}
select{-webkit-appearance:menulist;height:32px;font-size:14px;font-size:.93333rem;border:1px solid #ddd}
form p{font-size:14px;font-size:.93333rem;margin-bottom:1em}
.ui-checkbox{display:inline-block;width:15px;height:15px;border-radius:3px;border:1px solid #ddd;background-color:#fff}
.ui-checkbox:hover{cursor:pointer}
.ui-checkbox .ui-checkbox-checkmark{color:#fff}
.ui-checkbox input[type=checkbox]{display:none}
.ui-checkbox.checked{border-color:#8fc266}
.ui-checkbox.checked .ui-checkbox-checkmark{color:#8fc266}
.ui-checkbox.ui-toggleswitch{width:auto;border-color:transparent}
.ui-checkbox.ui-toggleswitch li{display:inline-block;border:1px solid #ddd;background-color:#f7f7f7;padding:5px 10px}
.ui-checkbox.ui-toggleswitch li:first-child{border-radius:3px 0 0 3px}
.ui-checkbox.ui-toggleswitch li:last-child{color:#fff;border-radius:0 3px 3px 0;border-color:#8fc266;background-color:#8fc266}
.ui-checkbox.ui-toggleswitch.checked li:first-child{color:#fff;border-color:#8fc266;background-color:#8fc266}
.ui-checkbox.ui-toggleswitch.checked li:last-child{color:#4A4A4A;border-color:#ddd;background-color:#f7f7f7}
.ui-radio{display:inline-block;width:15px;height:15px;border-radius:100%;border:2px solid #ddd;background-color:#fff}
.ui-radio:hover{cursor:pointer}
.ui-radio input[type=radio]{display:none}
.ui-radio.checked{border-color:#8fc266;background-color:#8fc266}
.ui-radio.disabled{border-color:#f1f2f6}
.ui-radio.disabled.checked{background-color:#f1f2f6}
.ui-select{display:inline-block;position:relative;border-radius:3px;border:1px solid #ddd;background-color:#fff}
.ui-select:hover{cursor:pointer;background-color:#f7f7f7}
.ui-select .ui-select-options,.ui-select select{display:none}
.ui-select span{float:right;color:#4A4A4A;border-left:1px solid #ddd;padding:8px 10px}
.ui-select .ui-select-selected{float:left;padding:8px 10px}
.ui-select .ui-select-selected strong{color:#000;font-weight:600}
.ui-select .ui-select-options{position:absolute;z-index:2;top:115%;left:0;border-radius:3px;border:1px solid #ddd;box-shadow:0 1px 2px 0 rgba(0,0,0,.1);background-color:#fff}
.ui-select .ui-select-options li{display:block;padding:.5em 1em}
.ui-select .ui-select-options li.selected,.ui-select .ui-select-options li:hover{background-color:#f7f7f7}
.ui-select .ui-select-options li:first-child{margin-top:.25em}
.ui-select .ui-select-options li:last-child{margin-bottom:.25em}
.tabs .tabs-menu{color:#fff;background-color:#323A45}
.tabs .tabs-menu li{display:inline-block;border-left:1px solid #313131;padding:12px 15px}
.tabs .tabs-menu li:first-child{border-color:transparent}
.tabs .tabs-menu li i{margin-right:6px}
.tabs .tabs-menu li:hover{cursor:pointer;background-color:#232323}
.tabs .tabs-menu li.active{color:#000;background-color:#fff}
.tabs .tabs-tab{margin-bottom:2em}
.tabs .tabs-tab .tabs-tab-title i{margin-right:6px}
.tabs.tabs-init .tabs-menu{display:none}
.tabs.tabs-init .tabs-tab{margin-bottom:0}
.tabs.tabs-init .tabs-tab .tabs-tab-title{color:#fff;font-weight:600;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;font-size:17px;font-size:1.13333rem;border-bottom:1px dotted #fff;background-color:#323A45;padding:.5em 1em}
.tabs.tabs-init .tabs-tab .tabs-tab-title:hover{cursor:pointer;background-color:#232323}
.tabs.tabs-init .tabs-tab .tabs-tab-content{display:none}
.tabs.tabs-filter{border:1px solid #ddd;background-color:#f1f2f6;padding:.75em 1em}
.tabs.tabs-filter>.ui-select{margin-bottom:1em}
.tabs.tabs-filter>.ui-select .ui-select-selected{text-transform:uppercase}
.tabs.tabs-filter .tabs-menu{color:#4A4A4A;background-color:transparent}
.tabs.tabs-filter .tabs-menu li{color:#000;font-weight:600;font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;text-transform:uppercase;border-color:#ddd;padding:17px 20px;margin-left:-4px}
.tabs.tabs-filter .tabs-menu li:first-child{border-color:transparent;margin-left:0}
.tabs.tabs-filter .tabs-menu li:hover{background-color:#f7f7f7}
.tabs.tabs-filter .tabs-menu li.active{color:#fff;background-color:#ffc334}
.tabs.tabs-filter .form-field-bar .ui-select,.tabs.tabs-filter .form-field-bar input[type=text],.tabs.tabs-filter .form-field-bar input[type=email],.tabs.tabs-filter .form-field-bar input[type=password],.tabs.tabs-filter .form-field-bar input[type=search],.tabs.tabs-filter .form-field-bar select{margin-bottom:.5em}
.layout-a>[class*=layout-],.layout-b>[class*=layout-],.layout-c>[class*=layout-]{margin:3.125%}