html{-moz-box-sizing:border-box;box-sizing:border-box}
*,:after,:before{-moz-box-sizing:inherit;box-sizing:inherit}
*{margin:0;padding:0;line-height:1}
html{font-size:93.75%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased}
html.pl body{background-color:#fff;padding:10px}
body{color:#181c21;font-weight:400;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;background-color:red}
p{line-height:1.25;font-size:1em}
@media screen and (min-width:48em){p{font-size:1.125em}}
ul li{list-style-type:none}
table{border-collapse:collapse}
em{font-style:italic}
strong{font-weight:700}
a{color:#2274b4;text-decoration:none;transition:all .15s ease-out 0s}
a:focus,a:hover{cursor:pointer;color:#1a5889}
p a{border-bottom:1px dotted #f2f2f2}
p a:hover{border-bottom:1px dotted #1a5889}
i{transition:all .15s ease-out 0s}
img{display:block;max-width:100%}
a img{border:none}
code{font:12px/1 'Courier New',Courier,monospace}
sub,sup{line-height:0}
::-moz-selection{background:#e4e64c;color:#000;text-shadow:none}
::-moz-selection,::selection{background:#e4e64c;color:#000;text-shadow:none}
article,aside,details,fig caption,figure,footer,group,header,nav,section{display:block}
audio,canvas,video{display:inline-block}
.clearfix-alt{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.noscroll{overflow:hidden}
.nodisplay{display:none}
fieldset{border:none}
.wrapper{background-color:#fff;max-width:1580px;margin:0 auto}
.container,.container-centered{clear:both;max-width:1200px;margin:0 auto}
.container-centered{text-align:center}
.pl-pattern{max-width:1580px;margin-left:auto;margin-right:auto;padding:0 20px;background-color:#fff}
.pl-pattern:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.lt-ie8 .pl-pattern{zoom:1}
@media screen and (min-width:48em){.pl-pattern{padding:20px 20px 40px}}
.pl-pattern p{margin-bottom:10px}
.pl-pattern-description{text-align:center;margin-bottom:20px}
.pl-pattern-description h2{text-align:center;margin:20px 0}
@media screen and (min-width:48em){.pl-pattern-description{float:left;display:block;margin-right:2.35765%;width:48.82117%;margin-left:25.58941%}
.pl-pattern-description:last-child{margin-right:0}}
.pl-divider{clear:both;margin:20px auto;width:20px;height:3px;border:0;background:#ffc334}
.pl-sub-pattern{margin-bottom:40px}
.pl-sub-pattern h4{border-bottom:1px solid #f2f2f2;padding-bottom:10px;margin:20px 0 10px}
.pl-sub-pattern h4.no-underline{border-bottom:0 solid #f2f2f2;padding-bottom:0;margin:10px 0}
.pl{background:#f2f2f2;padding-bottom:40px}
@media screen and (min-width:48em) and (min-height:650px){.sticky-nav{margin-top:68px}}
.pl-page-header{background:#232930}
.pl-page-header h3{padding:20px;margin:0;font-weight:400}
.pl-page-header h3 a{color:#fff}
.pl-page-header img{max-width:45px;float:left;fill:#fff;color:#fff;margin:-10px 10px 0 0}
.pl-nav{background:#181c21;padding:20px}
.pl-nav:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.lt-ie8 .pl-nav{zoom:1}
@media screen and (min-width:48em){.pl-nav{padding:20px 0 0}}
.pl-nav ul li{color:#fff;font-weight:900;line-height:2;text-transform:uppercase;letter-spacing:.1em}
.pl-nav ul li:last-child:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0}
.lt-ie8 .pl-nav ul li:last-child{zoom:1}
.pl-nav ul li a{color:#318fd8;padding-left:12px;margin-top:8px}
.pl-nav ul li a:hover{border-color:#fff;color:#fff}
@media screen and (min-width:48em){.pl-nav ul li a{display:block;float:left;border-left:0;border-bottom:#2274b4 0 solid;padding:0 30px 20px}}
.pl-nav .active{border-left:#ffc334 3px solid;padding-left:10px;line-height:2}
.pl-nav .active:hover{border-left:#f2f2f2 3px solid}
@media screen and (min-width:48em){.pl-nav .active{display:block;float:left;border-left:0;border-bottom:#ffc334 3px solid;padding:0 30px 20px}
.pl-nav .active:hover{border-left:0}}
.pl-jump-nav{background:#fff;padding:20px;width:100%;max-width:1580px}
.pl-jump-nav ul{padding-bottom:20px;border-bottom:1px solid #f2f2f2;padding-left:10px}
.pl-jump-nav li{display:inline;padding-right:8px;margin-right:5px;border-right:3px solid #f2f2f2;line-height:1.75em}
.pl-jump-nav li:last-child{border-right:0}
@media screen and (min-width:48em) and (min-height:650px){.pl-fixed{position:fixed;top:0;margin-top:0;height:68px;z-index:1}}
li.pl-color{padding-top:70px;margin-bottom:10px;text-align:center}
@media screen and (min-width:48em){li.pl-color{float:left;display:block;margin-right:2.35765%;width:48.82117%;padding:0;text-align:left}
li.pl-color:last-child,li.pl-color:nth-child(2n){margin-right:0}
li.pl-color:nth-child(2n+1){clear:left}}
@media screen and (min-width:64em){li.pl-color{float:left;display:block;margin-right:2.35765%;width:31.76157%}
li.pl-color:nth-child(2n){margin-right:2.35765%}
li.pl-color:nth-child(2n+1){clear:none}
li.pl-color:last-child,li.pl-color:nth-child(3n){margin-right:0}
li.pl-color:nth-child(3n+1){clear:left}}
.pl-color-info{background-color:#fff;border:1px solid #f2f2f2;padding:20px}
@media screen and (min-width:48em){.pl-color-info{width:60%}}
.pl-black{background-color:#181c21}
.pl-blue{background-color:#2274b4}
.pl-yellow{background-color:#ffc334}
.pl-lt-gray{background-color:#f2f2f2}
.pl-dk-gray{background-color:#9a9a9a}
.pl-white{background-color:#fff;border:1px solid #f2f2f2}
li.pl-icon{float:left;display:block;margin-right:2.35765%;width:48.82117%;margin-bottom:20px}
li.pl-icon:last-child,li.pl-icon:nth-child(2n){margin-right:0}
li.pl-icon:nth-child(2n+1){clear:left}
@media screen and (min-width:48em){li.pl-icon{float:left;display:block;margin-right:2.35765%;width:23.23176%}
li.pl-icon:nth-child(2n){margin-right:2.35765%}
li.pl-icon:nth-child(2n+1){clear:none}
li.pl-icon:last-child,li.pl-icon:nth-child(4n){margin-right:0}
li.pl-icon:nth-child(4n+1){clear:left}}
li.pl-icon [class*=fa-]{margin-right:20px}
input[type=text],input[type=email],input[type=password],input[type=search],textarea{font-size:15px;font-size:1rem;outline-color:#4AA6E2;resize:none;border-radius:3px;font-weight:400;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;padding:5px 10px;-moz-box-sizing:border-box;box-sizing:border-box;transition:all .25s ease-in-out}
input[type=text].error,input[type=email].error,input[type=password].error,input[type=search].error,textarea.error{box-shadow:0 0 2px 0 #d0021b}
:-moz-placeholder,:-ms-input-placeholder,::-moz-placeholder,::-webkit-input-placeholder{font-size:15px;font-size:1rem}
textarea{font-weight:400;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;padding:1em}
label{font-weight:400;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-size:15px;font-size:1rem}
select{-webkit-appearance:menulist;height:32px;font-size:14px;font-size:.93333rem}
form p{font-size:14px;font-size:.93333rem;margin-bottom:1em}
.ui-checkbox{display:inline-block;width:15px;height:15px;border-radius:3px}
.ui-checkbox:hover{cursor:pointer}
.ui-checkbox input[type=checkbox]{display:none}
.ui-checkbox.ui-toggleswitch{width:auto;border-color:transparent}
.ui-checkbox.ui-toggleswitch li{display:inline-block;padding:5px 10px}
.ui-checkbox.ui-toggleswitch li:first-child{border-radius:3px 0 0 3px}
.ui-checkbox.ui-toggleswitch li:last-child{border-radius:0 3px 3px 0}
.ui-radio{display:inline-block;width:15px;height:15px;border-radius:100%}
.ui-radio:hover{cursor:pointer}
.ui-radio input[type=radio]{display:none}
.ui-select{display:inline-block;position:relative;border-radius:3px}
.ui-select:hover{cursor:pointer}
.ui-select .ui-select-options,.ui-select select{display:none}
.ui-select span{float:right;padding:8px 10px}
.ui-select .ui-select-selected{float:left;padding:8px 10px}
.ui-select .ui-select-selected strong{font-weight:600}
.ui-select .ui-select-options{position:absolute;z-index:2;top:115%;left:0;border-radius:3px;box-shadow:0 1px 2px 0 rgba(0,0,0,.1)}
.ui-select .ui-select-options li{display:block;padding:.5em 1em}
.ui-select .ui-select-options li:first-child{margin-top:.25em}
.ui-select .ui-select-options li:last-child{margin-bottom:.25em}
.alpha,h1{font-size:1.75em;font-weight:400;margin:10px 0}
@media screen and (min-width:48em){.alpha,h1{font-size:2.625em}}
.beta,h2{font-size:1.5em;margin:10px 0}
@media screen and (min-width:48em){.beta,h2{font-size:2em}}
.gamma,h3{font-size:1.25em;margin:10px 0}
@media screen and (min-width:48em){.gamma,h3{font-size:1.5em}}
.delta,h4{font-size:.875em;text-transform:uppercase;letter-spacing:1px;margin:10px 0}
@media screen and (min-width:48em){.delta,h4{font-size:1em}}
.epsilon,h5{font-size:1.125em;font-weight:400;margin:10px 0}
@media screen and (min-width:48em){.epsilon,h5{font-size:1.25em}}
.zeta,h6{font-size:.875em;margin:10px 0}
@media screen and (min-width:48em){.zeta,h6{font-size:1em}}
[class*=button-],button{display:inline-block;outline:0;background-color:#2274b4;color:#fff;text-align:center;text-decoration:none;padding:10px 15px 12px;border:0;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-weight:900;border-radius:5px;transition:all .25s ease-in-out;font-size:1em}
@media screen and (min-width:48em){[class*=button-],button{font-size:1.125em}}
[class*=button-] i,button i{padding-right:10px}
[class*=button-]:hover,button:hover{cursor:pointer;background-color:#1a5889}
[class*=button-]:active,button:active{background-color:#0e2f49;transition:none}
.button-create{background-color:#181c21;text-transform:uppercase;letter-spacing:1px;padding:12px 22px 15px 20px;font-size:.875em}
@media screen and (min-width:48em){.button-create{font-size:1em;padding:14px 25px 18px 20px}}
.button-create i{color:#ffc334;padding-right:14px;font-size:1.375em;position:relative;bottom:-2px}
.button-create:hover{background-color:#2d353f}
.button-create:active{background-color:#434e5c}
.button-secondary{background-color:#fff;color:#181c21;border:1px solid #f2f2f2;padding:8px 10px;font-weight:400;font-size:.9375em}
.button-secondary i{color:#ffc334}
.button-secondary:hover{background-color:#fff;border:1px solid #d8d8d8}
.button-secondary:active{border:1px solid #b2b2b2}
.pagination li,.stepper li{display:inline-block;float:left;color:#2274b4;font-weight:900;padding:0 10px;cursor:pointer}
.pagination .active,.stepper .active{color:#181c21;cursor:default}
.pagination .active:hover,.stepper .active:hover{color:#181c21}
.pagination li.pg-number:hover,.stepper li.pg-number:hover{color:#1a5889}
.pagination .next,.pagination .prev,.stepper .next,.stepper .prev{border:1px solid #f2f2f2;border-radius:5px;color:#ffc334;padding:10px;position:relative;top:-10px}
.pagination .next:hover,.pagination .prev:hover,.stepper .next:hover,.stepper .prev:hover{border:1px solid #d8d8d8}
.pagination .prev,.stepper .prev{margin-right:10px}
.pagination .next,.stepper .next{margin-left:10px}
.category{margin-right:10px;margin-bottom:10px}
.category i{padding-right:5px}
.categories-list-inline .category{display:inline;float:left}
.tabs .tabs-menu li{display:inline-block;padding:12px 15px}
.tabs .tabs-menu li:first-child{border-color:transparent}
.tabs .tabs-menu li i{margin-right:6px}
.tabs .tabs-menu li:hover{cursor:pointer}
.tabs .tabs-tab{margin-bottom:2em}
.tabs .tabs-tab .tabs-tab-title i{margin-right:6px}
.tabs.tabs-init .tabs-menu{display:none}
.tabs.tabs-init .tabs-tab{margin-bottom:0}
.tabs.tabs-init .tabs-tab .tabs-tab-title{font-weight:600;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-size:1.13333rem;padding:.5em 1em}
.tabs.tabs-init .tabs-tab .tabs-tab-title:hover{cursor:pointer}
.tabs.tabs-init .tabs-tab .tabs-tab-content{display:none}
.tabs.tabs-filter{padding:.75em 1em}
.tabs.tabs-filter>.ui-select{margin-bottom:1em}
.tabs.tabs-filter>.ui-select .ui-select-selected{text-transform:uppercase}
.tabs.tabs-filter .tabs-menu{background-color:transparent}
.tabs.tabs-filter .tabs-menu li{font-weight:600;font-family:Lato,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;text-transform:uppercase;padding:17px 20px;margin-left:-4px}
.tabs.tabs-filter .tabs-menu li:first-child{border-color:transparent;margin-left:0}
.tabs.tabs-filter .form-field-bar .ui-select,.tabs.tabs-filter .form-field-bar input[type=text],.tabs.tabs-filter .form-field-bar input[type=email],.tabs.tabs-filter .form-field-bar input[type=password],.tabs.tabs-filter .form-field-bar input[type=search],.tabs.tabs-filter .form-field-bar select{margin-bottom:.5em}
.layout-a>[class*=layout-],.layout-b>[class*=layout-],.layout-c>[class*=layout-]{margin:3.125%}/* @generated */