<header class="pl-page-header">
    <h3>
        <a href="../../../../index.html">
            <img src="../../../img/ushahidi-logo.svg" alt="Ushahidi Logo" />
            Ushahidi Platform Pattern Library
        </a>
    </h3>
    <nav class="pl-nav">
        <ul>
            <li><a href="../../../../index.html">Home</a></li>
            <li><a href="../1_basics/">Basics</a></li>
            <li><a href="../2_fragments/">Fragments</a></li>
            <li><a href="../3_modules/">Modules</a></li>
            <li><a href="../4_blocks/">Blocks</a></li>
            <li><a href="../5_layouts/">Layouts</a></li>
        </ul>
    </nav>
</header>
