<aside>
    <nav class="side-nav">
        <ul>
            <li>
                <a {{#ifCond mode 'introduction'}}class="active"{{/ifCond}} href="../front-end-guidelines/introduction.html">
                    Introduction
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'installation'}}class="active"{{/ifCond}} href="../front-end-guidelines/installation.html">
                    Installation/Set Up
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'packages'}}class="active"{{/ifCond}} href="../front-end-guidelines/packages.html">
                    Adding Packages
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'file'}}class="active"{{/ifCond}} href="../front-end-guidelines/file-structure.html">
                    File Structure
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'how'}}class="active"{{/ifCond}} href="../front-end-guidelines/how-to-use.html">
                    How to Apply to the Platform
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'syntax'}}class="active"{{/ifCond}} href="../front-end-guidelines/syntax.html">
                    Syntax and Formatting
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'grid'}}class="active"{{/ifCond}} href="../front-end-guidelines/grid.html">
                    Grid
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'breakpoints'}}class="active"{{/ifCond}} href="../front-end-guidelines/breakpoints.html">
                    Breakpoints &amp; Media Queries
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'variables'}}class="active"{{/ifCond}} href="../front-end-guidelines/variables.html">
                    Variables
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'mixins'}}class="active"{{/ifCond}} href="../front-end-guidelines/mixins.html">
                    Mixins
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'helpers'}}class="active"{{/ifCond}} href="../front-end-guidelines/helpers.html">
                    Helpers
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'icons'}}class="active"{{/ifCond}} href="../front-end-guidelines/icons.html">
                    Icons
                </a>
            </li>
            <li>
                <a {{#ifCond mode 'read'}}class="active"{{/ifCond}} href="../front-end-guidelines/read-direction.html">
                    Read Direction
                </a>
            </li>
        </ul>
    </nav>
</aside>
