.pl-front-end-guidelines {
    background: $lt-gray;

    .main-col {
        max-width: 700px;
    }

    .pl-pattern-description {
        @include span-columns(12);
        margin: 0;

        h2, p {
            text-align: left;
        }

        .pl-divider {
            margin: 20px 0;
        }

    }

    p {
        margin-bottom: 30px;

        &.alert {
            margin-bottom: 20px;
        }
    }

    .alert.info {
        border-color: $info-color;
        background-color: lighten( $info-color, 50% );
    }

    .page-content {
        @include span-columns(12);
        float: none;
        background-color: $white;
        padding: 0;
        margin: 0;

        &.has-aside {
            padding: 0;

            & aside {
                padding: 0;

                @include media($small) {
                   @include span-columns(4);
                   border: none;
                }

                @include media($medium) {
                    padding: $base-spacing * 2 $sm-spacing $base-spacing * 2 $base-spacing;
                }

                @include media($xlarge) {
                    @include span-columns(3);
                }

           }

           .main-col {

               @include media($small) {
                   @include span-columns(8);
               }

               @include media($xlarge) {
                   @include span-columns(9);
               }

           }

        }

        .side-nav {

            ul li {
                border: $base-border;
                border-bottom: none;

                &:last-child {
                    border-bottom: $base-border;
                }

                a {
                    display: block;
                    padding: 10px;
                    border-left: 3px solid transparent;
                    background-color: $white;

                    &:hover {
                        background-color: $lt-gray-bg;
                    }

                    &.active {
                        border-left: 3px solid #CC6699;
                        background-color: $lt-gray-bg;
                        color: $black;
                        font-weight: bold;
                    }

                }

            }

        }

    }

    .container {
        max-width: 1580px;
        margin: 0;
    }

    ul.bullets {
        margin: 0 0 $base-spacing * 2 $base-spacing;
    }

    pre[class*="language-"] {
        overflow: hidden;
    }

    code {
        font-weight: bold;
    }

    code[class*="language-"] {
        margin-left: -230px;
        margin-bottom: -41px;
    }

    code:not([class*="language-"]) {
        padding: 4px 0 3px;
        background: $lt-gray;
        font-size: 15px;
        border-radius: 3px;

        &:before,
        &:after {
            letter-spacing: -0.2em;
            content: "\00a0";
        }

    }

}

a.button.front-end-guidelines-button {
    background-color: $sass;
    margin-top: 10px;

    &:hover {
        background-color: darken( $sass, 20% );
    }

}
