/*------------------------------------*\
$HEADER
\*------------------------------------*/
&.pl {
    background: $lt-gray;
    padding-bottom: $lg-spacing;
}

.sticky-nav {

    @include media($tall){
        margin-top: 68px;
    }
}

.pl-page-header {
    background: $color-primary;

    h3 {
        @include typeBeta;
        padding: $base-spacing;
        margin: 0;

        a {
            color: $white;
        }
    }

    img {
        max-width: 40px;
        @include float(left);
        fill: $white;
        color: $white;
        @include lrswap(margin, -10px $sm-spacing 0 0);
    }
}

.pl-thanks {
    clear: both;
    background-color: #fff;
    padding: 0 $base-spacing;

    @include media($medium) {
        padding-top: $base-spacing;
    }

    .pl-thanks-logo {
        display: inline-block;
        position: relative;
        top: -9px;
        width: 120px;
        height: 30px;
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        background-image: url('../img/browserstack-logo.png');
        margin: 0 4px;
        @include transition(0.3s);

        &:hover {
            opacity: 0.75;
        }

        @if $rtl {
            text-indent: 9999px;
        }
    }

}
