/*------------------------------------*\
$HEADER
\*------------------------------------*/
.pl {
    background: $lt-black;
}

.sticky-nav {
    
    @include media($tall){
        margin-top: 68px;
    }
}

.pl-page-header {
    background: $lt-black;
    color: $white;

    h3 {
        padding: $base-spacing;
        font-weight: 400;

        a {
            color: $white;
        }
    }

    img {
        max-width: 35px;
        float: left;
        fill: $white;
        color: $white;
        margin: -$sm-spacing $sm-spacing 0 0;
    }
}
