/*------------------------------------*\
$HEADER
\*------------------------------------*/
.pl {
    background: $lt-gray;
    padding-bottom: $lg-spacing;
}

.sticky-nav {
    
    @include media($tall){
        margin-top: 68px;
    }
}

.pl-page-header {
    background: $lt-black;

    h3 {
        padding: $base-spacing;
        margin: 0;
        font-weight: 400;

        a {
            color: $white;
        }
    }

    img {
        max-width: 45px;
        float: left;
        fill: $white;
        color: $white;
        margin: -$sm-spacing $sm-spacing 0 0;
    }
}
