/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.pl-pattern {
    @include clearfix;
    @include outer-container;
    padding: $base-spacing;
    background-color: $white;
}

.pl-pattern-description {
    text-align: center;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
        margin-bottom: $base-spacing;
    }
}

.pl-divider {
    clear: both;
    margin: $base-spacing auto;
    width: $base-spacing;
    height: 3px;
    border: 0;
    background: $highlight;
}
