/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.pl-pattern {
    @include clearfix;
    @include outer-container;
    padding: $base-spacing $base-spacing 0;
    background-color: $white;

    @include media($small) {
        padding: $lg-spacing $base-spacing $base-spacing;
    }

}

.pl-divider {
    height: 1px;
    width: 100%;
    background: $lt-gray;
}

.pl-pattern-description {
    text-align: center;
    margin-bottom: $base-spacing;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
    }
    .pl-divider {
        clear: both;
        margin: $base-spacing auto;
        width: $base-spacing;
        height: 3px;
        border: 0;
        background: $highlight;
    }

}

.pl-sub-pattern {
    @include clearfix();
    margin: $lg-spacing 0;
    clear: both;

    .pl-h4 {
        @extend .caps;
        border-bottom: $base-border;
        @include lrswap(padding, $sm-spacing 110px $sm-spacing 0)
    }

    .note {
        background: $lt-gray-bg;
        color: $dark-text-color;
        padding: $tiny-spacing $sm-spacing;
        margin: $tiny-spacing;
        font-size: em(12);
    }

    .pl-sub-pattern-sample {

    	.pl-sub-pattern-sample-toggle-controls {
    		color: $dk-gray;
            font-size: em(13);
            text-transform: uppercase;
            letter-spacing: 1px;
            display: inline-block;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            //border-bottom: $base-border;
            width: 100%;
            position: relative;
            top: -12px;

            span {
                border: $base-border;
                border-bottom: 0px;
                @include border-top-radius($global-radius);
                padding: $tiny-spacing;
                position: absolute;
                bottom: 0;
                @include right(0);
            }

			&:hover {
				cursor: pointer;
				color: $link-hover-color;
			}

    		.hide {
                display: none;
            }

    	}

    	.pl-sub-pattern-sample-toggle-target {
    		display: none;
		}

		&.visible {

			.pl-sub-pattern-sample-toggle-controls {
				.show {display: none;}
				.hide {display: inline;}
			}

			.pl-sub-pattern-sample-toggle-target {
				display: block;
                margin-top: -21px;
			}

		}

    }

    pre[class*="language-"] {
        max-height: 300px;
        overflow: scroll;
    }

    code[class*="language"] {
        margin-left: -40px;
    }

}

.container.maxed {
    max-width: 800px;
    margin: 0 auto;
}

.pl-intro-img {
    max-width: 1000px;
    margin: 0 auto 40px;

    img {
        max-width: 100%;
    }
}
