/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.pl-pattern {
    @include clearfix;
    @include outer-container;
    padding: 0 $base-spacing;
    background-color: $white;

    @include media($small) {
        padding: $base-spacing $lg-spacing $lg-spacing;
    }

    p {
        margin-bottom: $sm-spacing;
    }

}

.pl-divider {
    height: 1px;
    width: 100%;
    background: $lt-gray;
}

.pl-pattern-description {
    text-align: center;
    margin-bottom: $base-spacing;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
    }
    .pl-divider {
        clear: both;
        margin: $base-spacing auto;
        width: $base-spacing;
        height: 3px;
        border: 0;
        background: $highlight;
    }

}

.pl-sub-pattern {
    margin: $lg-spacing 0;
    clear: both;

    .note {
        background: $lt-gray-bg;
        color: $dark-text-color;
        padding: $tiny-spacing $sm-spacing;
        margin: $tiny-spacing;
        font-size: em(12);
    }

    .pl-sub-pattern-markup {
        padding-top: $sm-spacing;
    }

    .pl-sub-pattern-sample {
        position: relative;

    	.pl-sub-pattern-sample-toggle-controls {
    		color: $dk-gray;
            font-size: em(13);
            text-transform: uppercase;
            letter-spacing: 1px;
            display: inline-block;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            border-bottom: $base-border;
            width: 100%;
            position: relative;
            top: 0;

            span {
                border: $base-border;
                border-bottom: 0px;
                @include border-top-radius($global-radius);
                padding: $tiny-spacing;
                position: absolute;
                bottom: 0;
                right: 0;
            }

			&:hover {
				cursor: pointer;
				color: $link-hover-color;
			}

    		.hide {
                display: none;
            }

    	}

    	.pl-sub-pattern-sample-toggle-target {
    		display: none;
		}

		&.visible {

			.pl-sub-pattern-sample-toggle-controls {
				.show {display: none;}
				.hide {display: inline;}
			}

			.pl-sub-pattern-sample-toggle-target {
				display: block;
			}

		}

    }

    pre[class*="language-"] {
        padding: 1em 1em 0em 1em;
    }

}

.pl-note {
    font-size: em(14);
    font-style: italic;
    padding: $tiny-spacing $sm-spacing;
    background-color: #ffe7e7;
    display: inline-block;
    border-left: 2px solid red;
    clear: both;
}
