/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.pl-pattern {
    @include clearfix;
    @include outer-container;
    padding: 0 $base-spacing;
    background-color: $white;

    @include media($small) {
        padding: $base-spacing $lg-spacing $lg-spacing;
    }

    p {
        margin-bottom: $sm-spacing;
    }

}

.pl-pattern-description {
    text-align: center;
    margin-bottom: $base-spacing;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
    }
}

.pl-divider {
    clear: both;
    margin: $base-spacing auto;
    width: $base-spacing;
    height: 3px;
    border: 0;
    background: $highlight;
}

.pl-sub-pattern {
    margin-bottom: $lg-spacing;

    h4 {
        border-bottom: 1px solid $border-color;
        padding-bottom: $sm-spacing;
        margin: $base-spacing 0 $sm-spacing;
    }

    h4.no-underline { //this is a hacky way of taking out the underline for the H4 example
        border-bottom: 0px solid $border-color;
        padding-bottom: 0;
    }

    .pl-sub-pattern-sample {
    	margin-top: $base-spacing;

    	.pl-sub-pattern-sample-toggle-controls {
    		color: $link-color;

			&:hover {
				cursor: pointer;
				color: $link-hover-color;
			}
    		.hide {display: none;}
    	}

    	.pl-sub-pattern-sample-toggle-target {
    		display: none;
			margin-top: $sm-spacing;
		}

		&.visible {

			.pl-sub-pattern-sample-toggle-controls {

				.show {display: none;}
				.hide {display: inline;}
			}

			.pl-sub-pattern-sample-toggle-target {
				display: block;
			}
		}
    }
}