/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.pl-pattern {
    @include clearfix;
    @include outer-container;
    padding: 0 $base-spacing;
    background-color: $white;

    @include media($small) {
        padding: $base-spacing $lg-spacing $lg-spacing;
    }

    p {
        margin-bottom: $sm-spacing;
    }

}

.pl-pattern-description {
    text-align: center;
    margin-bottom: $base-spacing;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
    }
}

.pl-divider {
    clear: both;
    margin: $base-spacing auto;
    width: $base-spacing;
    height: 3px;
    border: 0;
    background: $highlight;
}

.pl-sub-pattern {
    margin: $lg-spacing 0;
    clear: both;

    .pl-sub-pattern-markup {
        border-top: $base-border;
        padding-top: $sm-spacing;
    }

    .pl-sub-pattern-sample {
        margin-bottom: $sm-spacing;
        
    	.pl-sub-pattern-sample-toggle-controls {
    		color: $dk-gray;
            font-size: em(13);
            text-transform: uppercase;
            letter-spacing: 1px;
            border: $base-border;
            @include border-top-radius($global-radius);
            padding: $tiny-spacing;
            height: 24px;
            display: inline-block;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;

            @include media($small) {
                float: right;
                margin-top: -23px;
            }

			&:hover {
				cursor: pointer;
				color: $link-hover-color;
			}

    		.hide {
                display: none;
            }

    	}

    	.pl-sub-pattern-sample-toggle-target {
    		display: none;
			margin-top: $sm-spacing;
		}

		&.visible {

			.pl-sub-pattern-sample-toggle-controls {

				.show {display: none;}
				.hide {display: inline;}
			}

			.pl-sub-pattern-sample-toggle-target {
				display: block;
			}
		}
    }
}

.pl-note {
    font-size: em(14);
    font-style: italic;
    padding: $tiny-spacing $sm-spacing;
    background-color: #ffe7e7;
    display: inline-block;
    border-left: 2px solid red;
    clear: both;
}
