/*------------------------------------*\
$LAYOUT
\*------------------------------------*/

.pl-pattern {
    @include clearfix;
    @include outer-container;
    padding: 0 $base-spacing;
    background-color: $white;

    @include media($small) {
        padding: $base-spacing $base-spacing $lg-spacing;
    }

    p {
        margin-bottom: $sm-spacing;
    }

}

.pl-pattern-description {
    text-align: center;
    margin-bottom: $base-spacing;

    h2 {
        text-align: center;
        margin: $base-spacing 0;
    }

    @include media($small) {
        @include span-columns(6);
        @include shift(3);
    }
}

.pl-divider {
    clear: both;
    margin: $base-spacing auto;
    width: $base-spacing;
    height: 3px;
    border: 0;
    background: $highlight;
}

.pl-sub-pattern {
    margin-bottom: $lg-spacing;

    h4 {
        border-bottom: 1px solid $border-color;
        padding-bottom: $sm-spacing;
        margin: $base-spacing 0 $sm-spacing;
    }
}