/*------------------------------------*\
$NAVIGATION
\*------------------------------------*/

.pl-nav {
    @include clearfix;
    background: $color-primary-alpha;
    padding: $sm-spacing;

    @include media($small) {
        padding: 1px $tiny-spacing 0;
    }

    ul {
        margin: 0;

        li {
            list-style-type: none;
            color: $white;
            font-weight: $bold;
            line-height: 2;
            text-transform: uppercase;
            letter-spacing: .1em;
            border-left: 3px solid transparent;
            margin: 0;

            @include media($small) {
                border-left: 0;
            }

            &:last-child {
                @include clearfix;
            }

            a {
                display: block;
                float: left;
                color: $color-primary-epsilon;
                padding-left: 12px;
                margin-top: 8px;

                &:hover {
                    border-color: $white;
                    color: $white;
                }

                @include media($small) {
                    display: inline-block;
                    border-left: 0px;
                    border-bottom: $blue 0px solid;
                    padding: $sm-spacing;
                }
            }
        }
    }

    .active {
        border-left: $yellow 3px solid;
        line-height: 2;

        a {
            color: $white;
        }

        &:hover {
            border-left: $border-color 3px solid;
        }

        @include media($small) {
            display: block;
            float: left;
            border-left: 0px;
            border-bottom: $yellow 3px solid;

            &:hover {
                border-left: 0px;
            }
        }
    }
}

.pl-jump-nav {
    @include span-columns(12);
    border-bottom: $base-border;
    background: $white;
    max-width: $max-width;
    margin-bottom: 20px;
    padding-bottom: 20px;

    @include media($medium) {
        margin: 0;
        padding: 0;
    }

    .pl-jump-nav-list {
        @include span-columns(12);
        margin: $tiny-spacing*2 0 $tiny-spacing*2 $base-spacing;

        @include media($small) {
            @include span-columns(8);
            border-bottom: none;
            margin-right: 0;
        }

        @include media($large) {
            @include span-columns(9);
            margin-right: 0;
        }

    }

    li {
        display: inline;
        padding-right: 8px;
        margin-right: 5px !important;
        border-right: 3px solid $border-color;
        line-height: 1.75em !important;

        &:last-child {
            border-right: 0px;
        }
    }
}

.pl-read-direction-nav {
    @include span-columns(12);
    margin: 21px 0 21px 0;
    padding-left: $base-spacing;

    @include media($small) {
        @include span-columns(4);
    }

    @include media($large) {
        @include span-columns(3);
    }

    .pl-read-direction-wrapper {
        color: $black;
        font-weight: bold;
        user-select: none;

        @include media($medium) {
            float: right;
            padding: 0 19px;
        }

        .ltr,
        .rtl {
            background: $color-primary-alpha;
            color: $white;
            margin: 0 0 0 10px;
            padding: 5px 10px;
            cursor: pointer;

            &.active {
                background: $red;
            }

        }

    }

    // span {
    //     display: inline-block;
    //     padding: $tiny-spacing $tiny-spacing $tiny-spacing $base-spacing;
    //
    //     @include media($medium) {
    //         padding: 11px 0;
    //     }
    //
    //     &.direction {
    //         padding: 0;
    //     }
    //
    // }

    // ul {
    //     display: inline;
    //     margin: 0;
    //
    //     @include media($small) {
    //         margin: 0 $base-spacing;
    //     }
    //
    //     li {
    //         display: inline;
    //         list-style-type: none;
    //         margin: 0;
    //         border: none;
    //
    //         a.cta {
    //             font-size: 1em;
    //         }
    //
    //         svg.iconic {
    //             vertical-align: middle;
    //             margin-left: 10px;
    //             fill: $white;
    //         }
    //
    //     }
    //
    // }

}

.pl-fixed {

    @include media($tall){
        position: fixed;
        top: 0px;
        margin-top: 0px;
        /* height: 68px; */
        z-index: $top;
    }
}
