/*------------------------------------*\

These overrides are to keep the general code
clean, but so that patterns can be displayed 
in the pattern library. (For things like fixed
positioning, etc.)

\*------------------------------------*/

.pl {
    
    .tabs-with-filter {
        position: relative;
        margin-bottom: $base-spacing;
    
    }

    .pagination {
        margin: 0;
    }

    .wrapper {
        margin: 0 auto;
    }

    .header, .header-compact, .header-full {
         position: relative !important; 
    }

}
