/*------------------------------------*\

These overrides are to keep the general code
clean, but so that patterns can be displayed
in the pattern library. (For things like fixed
positioning, etc.)

\*------------------------------------*/

.pl {

    &.modal-visible {
        overflow: auto;
    }

    .tabs-with-filter {
        position: relative;
        //margin-bottom: $base-spacing;

    }

    .pagination {
        margin: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;

        @include media($medium) {
            width: 90%;
        }

        @include media($large) {
            width: 60%;
        }

    }

    .main-menu {

        &.dropdown-menu {
            width: 100%;
            position: absolute;
            height: auto;

            @include media($medium) {
                display: none;
                width: auto;
            }

        }

    }

    #pl-pattern-main-menu .main-menu.dropdown-menu {
        display: block;
        position: relative;
        top: 0;
        height: auto;
        width: auto;
        border: 0;
        box-sizing: none;
    }

    .navigation {
        position: relative;
        left: 0;
        visibility: visible;
        margin: 0;

        .toggle-menu {
            display: none;
        }

    }

    .step-list .step-list-content {
        @include media($small) {
            @include border-left($base-border !important); //this is normally generated by the sidebar
            max-width: 300px;
        }

    }

    .pl-filters {
        background: $lt-bg;

        .filters .filters-show-hide {
            text-align: left;
        }

        button {
            float: none;
        }

        .filters-container {
            z-index:10;
        }

        aside .filters-container {
            z-index: 0;
        }

    }

    .modal {
        display: block !important;
    }

    .modal-window {
        position: relative;
    }

    #pl-pattern-modal .pl-sub-pattern-markup {
        background: $dk-gray;
        padding-bottom: 40px;

       @include media($small) {
            padding-bottom: 100px;
       }

    }

    .vertical-tabs {
        margin: 0;

    }

    .timeline-view {

        .timeline img {
            clear: both;
        }

    }

    .toolbox {
        position: relative;
        top: 0;
        @include right(0);

        .dropdown-menu.init.active {
            margin: 0;
            top: 43px !important;
            @include left(0 !important)
        }

    }

    .views-wrapper {

        .views {
            float: none;
        }

    }

    .forms-list {
        margin: 0 0px 5px 20px;
        width: 290px;
    }

}
