/*------------------------------------*\

These overrides are to keep the general code
clean, but so that patterns can be displayed
in the pattern library. (For things like fixed
positioning, etc.)

\*------------------------------------*/

&.pl {

    .pl-sub-pattern-markup {
        position: relative;
    }

    &.modal-visible {
        overflow: auto;
    }

    .pagination {
        margin: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;

        @include media($medium) {
            width: 90%;
        }

        @include media($xlarge) {
            width: 75%;
        }

        @include media($xxlarge) {
            width: 65%;
        }

    }

    .navigation {
        position: relative;
        left: 0;
        visibility: visible;
        margin: 0;

        .toggle-menu {
            display: none;
        }

    }

    .modal-window {
        margin: $sm-spacing;
    }

    .pl-sub-pattern-markup {

        // .listing-item-primary {
        //     padding: 0;
        // }

    }

    .mode-bar {
        display: inline-block;
    }

    .postcard {
        display: inline-block;
    }

    button {
        @include lrswap (margin, 0 $sm-spacing $lg-spacing 0);

        @include media($medium) {
            @include lrswap (margin, 0 $sm-spacing 0 0);
        }
    }

    .button-group {
        margin: 0;

        button {
            display: inline;
        }
    }

    .button-alt-background {
        background: $black;
        @include padding($base-spacing);
    }

    fieldset,
    .form-field {
        // margin: 0 0 70px 0;
    }

    .loading-bar,
    .loading-bar-alt {
        top: inherit;
        left: inherit;
    }

}
