/*------------------------------------*\

These overrides are to keep the general code
clean, but so that patterns can be displayed
in the pattern library. (For things like fixed
positioning, etc.)

\*------------------------------------*/

.pl {

    &.modal-visible {
        overflow: auto;
    }

    .pagination {
        margin: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;

        @include media($medium) {
            width: 90%;
        }

        @include media($xlarge) {
            width: 75%;
        }

        @include media($xxlarge) {
            width: 65%;
        }

    }

    .navigation {
        position: relative;
        left: 0;
        visibility: visible;
        margin: 0;

        .toggle-menu {
            display: none;
        }

    }

    .modal-window {
        margin: $sm-spacing;
    }

    .pl-sub-pattern-markup {

        .listing-item-primary {
            padding: 0;
        }

    }

    .mode-bar {
        display: inline-block;
    }
}
