/*------------------------------------*\

These overrides are to keep the general code
clean, but so that patterns can be displayed
in the pattern library. (For things like fixed
positioning, etc.)

\*------------------------------------*/

.pl {

    &.modal-visible {
        overflow: auto;
    }

    .tabs-with-filter {
        position: relative;
        //margin-bottom: $base-spacing;

    }

    .pagination {
        margin: 0;
    }

    .wrapper {
        margin: 0 auto;
    }

    .header {
        position: relative;
        width: auto;

        .container {
             position: relative !important;
             top: 0 !important;
        }

         &.header-compact .hero-image {
              position: absolute;
          }

    }

    .main-menu {

        &.dropdown-menu {
            width: 100%;
            position: absolute;
            height: auto;

            @include media($medium) {
                display: none;
                width: auto;
            }

        }

    }

    #pl-pattern-main-menu .main-menu.dropdown-menu {
        display: block;
        position: relative;
        top: 0;
        height: auto;
        width: auto;
        border: 0;
        box-sizing: none;
    }

    .navigation {
        position: relative;
        left: 0;
        visibility: visible;
        margin: 0;

        .toggle-menu {
            display: none;
        }

    }

    .step-list .step-list-content {
        @include media($small) {
            @include border-left($base-border !important); //this is normally generated by the sidebar
            max-width: 300px;
        }

    }

    .pl-filters {
        background: $lt-bg;

        .filters .filters-show-hide {
            text-align: left;
        }

        button {
            float: none;
        }

        .filters-container {
            z-index:10;
        }

        aside .filters-container {
            z-index: 0;
        }

    }

    .modal {
        display: block !important;
    }

    .modal-window {
        position: relative;
    }

    #pl-pattern-modal .pl-sub-pattern-markup {
        background: $dk-gray;
        padding-bottom: 40px;

       @include media($small) {
            padding-bottom: 100px;
       }

    }

    #pl-pattern-header {

        .mode-bar {
            display: none;
        }

    }

    #pl-pattern-header-w-mode-bar {

        .mode-bar {
            position: relative;
        }

    }

    .vertical-tabs {
        margin: 0;

    }

    .timeline-view {

        .timeline img {
            clear: both;
        }

    }

}
