.pl-sass-guidelines {
    background: $lt-gray;

    .page-content {
        float: none;
        background-color: $white;
        padding: 0;

        &.has-aside {
            padding: 0;

            & aside {
                padding: 0;

                @include media($small) {
                   @include span-columns(4);
                   border: none;
                }

                @include media($medium) {
                    padding: $base-spacing * 2 $sm-spacing 0 $base-spacing;
                }

                @include media($xlarge) {
                    @include span-columns(3);
                }

           }

           .main-col {

               @include media($small) {
                   @include span-columns(8);
               }

               @include media($xlarge) {
                   @include span-columns(9);
               }

           }

        }

        .side-nav {

            ul li {
                border: $base-border;
                border-bottom: none;

                &:last-child {
                    border-bottom: $base-border;
                }

                a {
                    display: block;
                    padding: 10px;
                    border-left: 3px solid transparent;
                    background-color: $white;

                    &:hover {
                        background-color: $lt-gray-bg;
                    }

                    &.active {
                        border-left: 3px solid #CC6699;
                        background-color: $lt-gray-bg;
                        color: $black;
                        font-weight: bold;
                    }

                }

            }

        }

    }

    .container {
        max-width: 1000px;
    }

    code[class*="language-"] {
        margin-left: -140px;
    }

}

a.button.sass-guidelines-button {
    background-color: $sass;
    margin-top: 10px;

    &:hover {
        background-color: darken( $sass, 20% );
    }
}
