header.placeholder-header {
    background: $black;
    padding: 50px 0; 
}

.main-menu {
    display: none;
    border-right: $base-border;
    height: 1000px;
    padding: $base-spacing;
    width: 20%;
    float: left;

    @include media($medium) {
        display: block;
    }

    @include media($large) {
        width: 15%;
    }

}

.page-content {
    padding: 0 $sm-spacing;
    @include outer-container;  

    @include media($small) {
        padding: 0 $base-spacing;
    }

    @include media($medium) {
        width: 80%;
        float: right;
    }

    @include media($large) {
        width: 85%;
        margin-right: 0%;
    }

    .main-col {
        @include span-columns(12);
    }

    &.has-aside {
        
        @include media($small) {
        
            .main-col {
                @include span-columns(8);
            }

            aside {
                @include span-columns(3);
                border-left: $base-border;

                &.is-right { //specific styling for this column in 4_blocks/_aside.css
                    float: right;
                }

            }

        }

    }

}
