.page-content {
    @include outer-container;
    padding: 0 $sm-spacing;
    position: relative;
    left: 0;
    height: 100%;
    opacity: 1;
    @include transition(all, .25s);

    @include media($small) {
        padding: 0 $base-spacing;
    }

    @include media($medium) {
        position: relative;
        float: right;
        width: 78%;
        padding: 0;
        margin-right: $base-spacing;
    }

    @include media($large) {
        width: 82%;
        margin-right: 30px;
    }

    &.slide {
        left: 300px;
        opacity: .5;

        @include media($medium) {
            left: 0;
            opacity: 1;
        }
    }

    .main-col {
        @include span-columns(12);
    }

    &.has-aside {

        @include media($small) {
        
            .main-col {
                padding-right: $lg-spacing;
                @include span-columns(9);
            }

            aside {
                @include span-columns(3);
                border-left: $base-border;
                padding: $base-spacing 0 $lg-spacing $base-spacing;

                &.is-right { //specific styling for this column in 4_blocks/_aside.css
                    float: right;
                }

            }

        }

        @include media($medium) {
        
            .main-col {
                @include span-columns(8);
            }

            aside {
                @include span-columns(4);
            }

        }

        @include media($large) {
        
            .main-col {
                @include span-columns(9);
            }

            aside {
                @include span-columns(3);
            }

        }

    }

}
