&.layout-f {
    height: 100%;

    [role="main"] {
        @include padding-left(0);

        @include media($medium) {
            @include padding-left($lg-spacing*2);
        }

        .toolbar {
            top: 0;
            @include left(0px);
            padding: 0 $sm-spacing;

            @include media($medium) {
                @include left(64px);
                padding: 0 $lg-spacing;
            }

            a.md-actions {
                float: left;
                padding: 13px 0;
                font-weight: 800;
                font-size: em(30px);
                color: $white;

                @include media($medium) {
                    padding: 20px 0;
                }

                svg.iconic {
                    fill: $white;
                    width: em(8px);
                    height: em(8px);
                }
            }

            .button-group button {
                padding: 10px 10px;

                @include media($medium) {
                    padding: 10px $sm-spacing;
                }

            }
        }

        .main-col {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            float: left;
            @include margin-right(0);
            padding: 52px 16px 0;

            @include media($medium) {
                padding: 0 32px 0;
            }

            .deployment-card-wrapper {

                @include media($small) {
                    width: 49%;
                }

                @include media($large) {
                    width: 100%;
                }
            }

            .deployment-card {
                display: flex;
                flex-direction: column;
                max-width: 1042px;
                margin: $base-spacing 0 0 0;

                @include media($large) {
                    flex-direction: row;
                }

                .dc-main {
                    flex: 3 0 0;

                    .dc-toolbar {
                        display: flex;
                        justify-content: space-between;
                        color: $white;
                        background-color: $color-primary;

                        a.dc-deployment-title {
                            font-weight: bold;
                            font-size: em(20px);
                            color: $white;
                            padding: 16px;
                            cursor: pointer;

                            svg.iconic {
                                fill: $white;
                                width: 0.657143em;
                                height: 0.657143em;
                            }
                        }

                        .dc-actions {
                            background-color: transparent;
                            box-shadow: none;

                            svg.iconic {
                                fill: $white;
                            }
                        }
                    }

                    .dc-map {

                        img {
                            height: 281px;
                            object-fit: cover;
                        }
                    }
                }

                .dc-stats {
                    flex: 1 0 0;
                    padding: $sm-spacing;

                    .dc-stat-wrapper {
                        margin-bottom: $lg-spacing;
                        font-size: 12px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .dc-stats-title {
                            text-transform: uppercase;
                            margin-bottom: $tiny-spacing;
                        }

                        .dc-report-total {
                            font-weight: 800;
                            // font-size: em(26px);
                            font-size: em(50px);

                            // @include media($medium) {
                            //     font-size: em(50px);
                            // }
                        }

                        ul {
                            margin-bottom: 0;

                            li {
                                margin: 0px 16px 4px auto;
                            }
                        }

                    }
                }
            }
        }

    }

}
