.layout-d {

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
        }
    }

    .main-col {

        @include media($medium) {
            padding-right: 234px;
        }
    }

    .secondary-col {

        @include media($medium) {
            position: fixed;
            top: 68px;
            right: 0;
            bottom: 0;
            z-index: $body;
            width: 234px;
            overflow-y: auto;
        }
    }
}
