.post-detail { //article class

   .post-header {

      @include media($small) {
         @include padding-right(20%);
      }

      @include media($medium) {
         @include padding-right(25%);
      }
   }

   .post-field {

      @include media($small) {
         max-width: 620px;
      }
   }

   .vertical-tabs {

      @include media($small) {
         margin: $sm-spacing 0;
      }

      @include media($medium) {
         margin: $sm-spacing $base-spacing;
      }
   }

   .vertical-tabs-menu {

      &.init {
         @include margin-right(110px);
         @include margin-left($sm-spacing);

         @include media($small) {
            width: 20%;
            margin: 0;
         }

         @include media($medium) {
            width: 25%;
         }
      }
   }

   .vertical-tabs-content {

      @include media($small) {
         width: 80%;
      }

      @include media($medium) {
         width: 75%;
      }

      .main-col {

         @include media($small) {
            @include padding-left(0);
         }

         @include media($medium) {
            @include lrswap(padding, 0 $sm-spacing 0 0);
         }
      }
   }

}

#map {
   float: none;
}


.post-detail {

   h1 {
      margin-bottom: $base-spacing;
   }

}
