.layout-a {

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
        }

        .listing {

            &.toolbar-active {

                .listing-toolbar {
                    top: 123px;

                    @include media($medium) {
                        top: 92px;
                    }
                }
            }

        }
    }
}
