&.layout-b {

    [role="main"] {
        padding-top: 55px;

        @include media($medium) {
            padding-top: 68px;
        }

        > .progress-bar {
            top: 55px;

            @include media($medium) {
                top: 68px;
            }
        }

        .listing {

            &.toolbar-active {

                .listing-toolbar {
                    top: 55px;

                    @include media($medium) {
                        top: 68px;
                    }
                }
            }
        }

        .sortable-list-item {
            display: -webkit-flex; /* Safari */
            display: flex;
            cursor: pointer;
        }
    }
}
