&.layout-embed {

    .mode-bar {
        @include media($medium-down) {
            display: none;
        }
    }

    .mode-context {

        &.active {
            @include media($medium-down) {
                bottom: 0;
            }
        }
    }

    &.layout-d {
        @include padding-left(0);

        .mode-context {
            @include media($medium) {
                display:none;
            }
        }

        [role="main"] {

            @include media($medium) {
                @include padding-left($lg-spacing*2);
            }

            .timeline-col {
                @include media($medium-down) {
                    padding-top: 72px;
                }
            }

            .post-col {
                &.active {
                    @include media($medium-down) {
                        margin-top: 72px;
                    }
                }
            }

            .load-more {
             @include media($medium-down) {
                    top: 68px;
                }
            }
        }

        .embed-survey-filter {
            display: none;
        }

        .ushahidi-bug {
            right: 23px;
            left: auto;
            bottom: 86px;
            top: auto;
        }
    }

    [role="main"] {

        @include media($medium) {
            @include padding-left(288px);
        }

        .toolbar {
            .searchbar {
                margin-left: 78px;

                @include media($medium-down) {
                    display: none;
                }
            }

            .fab {
                bottom: $sm-spacing;
            }
        }

        .toolbox {
            top: $sm-spacing + 55;

            @include media($small-down) {
                position: fixed;
                @include right(16px);
                z-index: $toolbox;
            }

            @include media($small) {
                width: auto;
                max-width: 206px;
            }

            @include media($medium) {
                top: $base-spacing;
                @include right($base-spacing);
            }
        }

        .map {

            &.full-size {
                bottom: 0;
                top: 0;

                @include media($medium) {
                    @include left(224px);
                }

            }

            &.map-only {
                bottom: 0;
                top: 0;

                @include media($medium) {
                    @include left(0);
                }
            }

        }

        .picker__frame {
            bottom: 0;
        }
    }


    .mainsheet {

        @include media($medium) {
            @include left(224px);
        }

        .mainsheet-window {

            @include media($medium) {
                @include left(224px);
            }
        }

        &.init {

            &.active {

                .mainsheet-window {
                    bottom: -2px;

                    @include media($medium) {
                        bottom: auto;
                    }
                }
            }
        }
    }
}
