&.layout-a {

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
        }

        .map {

            &.full-size {
                top: 107px;

                @include media($medium) {
                    top: 68px;
                }
            }
        }

        .toolbox {

            @include media($small) {
                top: 123px;
            }

            @include media($medium) {
                top: 92px;
            }
        }

        .toolbar-secondary{
            position: relative;
            left: 0;
            right: 0;
            margin-bottom: $base-spacing;
            background-color: $color-primary;
            padding: $sm-spacing $lg-spacing;
            text-align: $end;

            .button-group {

                button,
                .button {
                    @include margin-left($tiny-spacing);
                    
                    svg.iconic {
        
                        + .button-label {
        
                            @include media($mobile-down) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
