&.layout-d {
    height: 100%;

    [role="main"] {
        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-flex-direction: column; /* Safari */
        flex-direction: column;
        justify-content: flex-start;
        @include padding-left(0);
        @include direction;

        @include media($medium) {
            -webkit-flex-direction: row; /* Safari */
            flex-direction: row;
            justify-content: space-between;
            @include padding-left($lg-spacing*2);
        }

        .listing {
            .listing-item {
                .listing-item-secondary { 
                    right: 0px
                };
            }
        }

        .listing-item-secondary {
            width: 50%;
            top: 0px;
            right: 0px;
            padding-right: 0px;

        }

        .listing-item-primary {
            padding: 8px 16px;
        }

        .listing-toolbar {
            .listing-item {
                border-bottom: none;

                .listing-item-secondary {
                    width: auto;
                    top: 0px;
                    right: 0px;
                    padding: 8px 15px;
                    text-align: center;
                    margin-right: 8px;

                }
            }

        }

        .toolbar {
            top: 0;
            @include left(0px);
            padding: 0 $sm-spacing;

            @include media($medium) {
                @include left($lg-spacing*2);
                padding: 0 $lg-spacing;
            }

            &.toolbar-secondary {
                position: relative;
                left: 0;
                right: 0;
                margin-bottom: $base-spacing;
            }

            .searchbar {
                width: 53%;

                @include media($medium) {
                    width: 35%;
                    @include padding-right(42px);
                }
            }

            .button-group button {
                padding: 10px 10px;

                @include media($medium) {
                    padding: 10px $sm-spacing;
                }

            }
        }

        .timeline-col,
        .post-col {

            @include media($medium) {
                overflow-y: scroll;
            }

        }

        .timeline-col {
            padding-top: 55px;

            @include media($medium) {
                width: 35%;
                padding-top: $sm-spacing;
                @include padding-right($lg-spacing);
                @include border-right(1px solid $color-light-beta)
                direction: ltr;
            }

            .listing.timeline {

                @include media($medium) {
                    @include padding-left($lg-spacing);
                }

                .postcard:before {
                    content: none;
                }

                .listing-heading-section:after {
                    content: none;
                }
            }

            .postcard {
                max-width: none;
                @include transition(all 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530));

                    @include media($medium) {
                        margin-left: 0;
                        margin-right: 0;
                    }

                &:after {
                    content: none;
                }

                &.selected {
                    @include transform(translate(2.2em, 0))
                }
            }

            button {
                @include margin-left(16px);

                @include media($medium) {
                    @include margin-left(0);
                }
            }
        }

        .post-col {
            padding: 0 $sm-spacing;
            margin-bottom: 45px;

            @include media($medium) {
                width: 65%;
                padding-top: $lg-spacing;
                @include padding-left($lg-spacing);
                @include padding-right($lg-spacing);
                margin-bottom: 0;
                direction: ltr;
            }
        }

    }

}
