aside.is-right {

    [class*="user-credit"] {
        padding: $sm-spacing 0;
        width: 60%;
        @include border-right($base-border);
        @include float(left);
        margin-right: $base-spacing;

        @include media($small) {
            padding: $sm-spacing 0 $base-spacing;
            width: 100%;
            float: none;
            @include border-right(0px);
            border-bottom: $base-border;
            margin-right: auto;
        }

    }

    .actions-stacked {
        @include float(right);
        padding: $base-spacing 0 0;
        margin: 0;

        @include media($small) {
            float: none;
        }

    }

    .step {

        @include media($small) {
            border-top: $base-border;
            margin-top: $base-spacing;
        }

        p {
            display: inline;

            @include media($small) {
                display: block;
            }

        }

    }

    .step-list-content, .actions-content {
        width: 100%;
        border-top: $base-border;
        padding: $base-spacing 0;

        @include media($small) {
            border-top: 0;
        }

    }

    .published-to {
        @include float(left);

        @include media($small) {
            padding-bottom: $base-spacing;
            border-bottom: $base-border;
            float: none;
        }

        h4 {
            @include float(left);
            @include lrswap(margin, $sm-spacing $sm-spacing 0 0);

            @include media($small) {
                float: none;
                margin: $base-spacing 0 $sm-spacing;
            }

        }

        .custom-select {
            margin-bottom: 0;
        }

    }

    .save-buttons {

        @include media($small) {
            border-top: $base-border;
            padding-top: $base-spacing;
            @include margin-right(10px);
            clear: both;
        }

    }

}
