&.layout-c {

    [role="main"] {
        padding-top: 55px;

        @include media($medium) {
            padding-top: 0;
        }

        > .progress-bar {
            top: 55px;

            @include media($medium) {
                top: 0;
            }
        }

        .toolbox {
            @include media($medium) {
                top: $base-spacing;
            }
        }

        .main-col {
            @include margin-right(0);
        }

        table {
            width: 100%;
        }

        .field-logo {
            position: absolute;
            top: 40px;
            @include right(40px);
        }

        .hdx {

            input, .custom-select {
                width: 50%;
            }

            select {
                 width: 100%;
             }
        }

        .form-field, .form-sheet {

            .link-blue {
                display: inline;
                @include padding-left(3px);
                border-bottom: none;
            }

            td {
                vertical-align: text-top;
                text-align: start;

                .link-blue {
                    display: block;
                    @include padding-left(0);
                    margin-top: 8px;
                }

                .bug-multi-line {
                    color: #FFF;
                    border: none;
                    background-color: #373E46;
                }
            }
        }
    }
}
