.post-detail { //body class

    .main-col {
        border-top: $base-border;

        @include media($small) {
            border-top: 0px;
        }

        p {
            line-height: 1.5;
            font-size: em(17);

            @include media($small) {
                font-size: em(19);
            }

            &:first-of-type {
                font-size: em(19);
                padding-top: $sm-spacing;
                margin-top: $sm-spacing;
                
                @include media($small) {
                    font-size: em(22);
                    border-top: $base-border;
                    padding-top: $base-spacing;
                    margin-top: $base-spacing;
                }

            }

        }

        #map {
            float: none;
        }

    }

}


.post-detail {

    h1 {
        margin-bottom: $base-spacing;
    }

}


.post-detail, .create-post {

    .main-col {
        padding-top: $base-spacing;

        @include media($medium) {
            padding-top: 0;
            @include padding-right($lg-spacing);
        }

        @include media($large) {
            @include padding-right($lg-spacing*5);
        }

    }

}
