&.layout-g {

    [role="main"] {
        padding-top: 0;
        @include padding-left(180px);

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .pane {
        flex-grow: 1;
        max-width: 784px;
    }

}
