.page-content {
    @include outer-container;
    padding: 0 $sm-spacing;
    margin-top: $sm-spacing;

    @include media($small) {
        padding: 0 $base-spacing;
    }

    @include media($medium) {
        float: right;
        width: 80%;
        padding: 0 $base-spacing 0 0;
        margin-top: $base-spacing;
    }

    .main-col {
        @include span-columns(12);
        margin-bottom: $lg-spacing;
    }

    &.has-aside {
        padding-top: $base-spacing;

        aside {
            @include span-columns(12);
            position: relative;
        }

        @include media($small) {

            .main-col {
                @include span-columns(9);
            }        

            aside {
                @include span-columns(3);
                @include omega();
                padding: $base-spacing 0 $lg-spacing;                

                &.is-right { //specific styling for when the aside comes first in the source order
                    float: right;
                    margin-right: 0;
                }

                &.has-border { //specific styling for when you want the aside to have a border
                    border-left: $base-border;
                    padding: $base-spacing 0 $lg-spacing $base-spacing;
                }

            }

        }

        @include media($medium) {

            .main-col {
                @include span-columns(8);
            }

            aside {
                @include span-columns(4);
            }

        }

        @include media($large) {

            .main-col {
                @include span-columns(9);
            }

            aside {
                @include span-columns(3);
            }

        }

    }

}

