.main-col,
.secondary-col {
    padding-bottom: 45px;

    @include media($medium) {
        padding: $base-spacing;
    }
}

[class*="layout-"] {

    .mode-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: $modebar;

        @include media($medium) {
            top: 0;
            box-shadow: -2px 0 6px rgba(0,0,0,0.12) inset,
                -2px 0 6px rgba(0,0,0,0.24) inset;

            .account-menu {
                position: fixed;
            }
        }

        &.active {

            @include media($medium-down) {

                .account-menu {
                    position: fixed;
                    top: 54px;
                    bottom: 45px;
                    z-index: $body;
                    width: 100%;
                    overflow-y: scroll;
                }
            }
        }
    }

    .mode-context {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $modecontext;

        @include media($medium) {
            bottom: 0;
            left: 64px;
            width: 224px
        }

        &.active {

            @include media($medium-down) {
                bottom: 45px;
                @include no-shadow;
            }
        }
    }

    .message {
        position: fixed;
        top: -200px;
        right: 0;
        left: 0;
        z-index: $toolbar;
        @include transition(0.3s);

        @include media($medium) {
            left: 288px;
        }

        &.active {
            top: 55px;

            @include media($medium) {
                top: 0;
            }
        }
    }

    [role="main"] {

        @include media($medium) {
            padding-top: 68px;
            padding-left: 288px;
        }

        .toolbar {
            position: fixed;
            top: 55px;
            z-index: $toolbar;
            width: 100%;

            @include media($medium-down) {

                .fab {
                    display: flex;
                    position: fixed;
                    right: $sm-spacing;
                    bottom: $sm-spacing+45;
                    z-index: $toolbar;
                }
            }

            @include media($medium) {
                top: 0;
                right: 0;
                left: 288px;
                width: auto;

            }

            .searchbar {

                .dropdown-menu {
                    right: -37.5% !important;

                    @include media($small) {
                        right: 0 !important;
                    }
                }
            }
        }

        .listing {
            margin-bottom: $base-spacing;

            .listing-toolbar {
                display: block;
                position: fixed;
                top: -200px;
                right: 0;
                left: 0;
                z-index: $toolbox;
                @include equal-radius(0);
                background-color: $color-primary-gamma;

                @include media($medium) {
                    left: 288px;
                    padding-top: $huge-spacing;
                }

                &.expanded {

                    @include media($medium-down) {
                        z-index: $toolbar;
                        bottom: 0;
                        overflow-y: scroll;
                    }
                }
            }

            &.toolbar-active {
                margin-top: 87px;

                @include media($medium) {
                    margin-top: 100px;
                }

                .listing-toolbar {
                    top: 107px;

                    @include media($medium) {
                        top: 68px;
                    }
                }
            }
        }

        .map {

            &.full-size {
                position: fixed;
                top: 55px;
                right: 0;
                bottom: 45px;
                left: 0;
                z-index: $body;

                @include media($medium) {
                    top: 0;
                    bottom: 0;
                    left: 288px;
                }
            }
        }

        .form-sheet,
        .postcard[role="article"] {
            margin-bottom: $base-spacing;

            @include media($medium) {
                margin-right: 230px;

                + .listing {
                    margin-right: 230px;
                }
            }
        }

        .postcard[role="article"] {
            margin-bottom: $sm-spacing;

            @include media($medium) {
                margin-bottom: $base-spacing;
            }
        }

        .progress {
            margin-bottom: $base-spacing;

            @include media($medium) {
                margin-right: 230px;
            }
        }

        .toolbox {
            display: none;
            position: absolute;
            @include right(24px);
            z-index: $toolbox;
            min-width: 190px;

            @include media($small) {
                display: block;
                top: 131px;
            }

            @include media($medium) {
                top: 92px;
            }
        }
    }

    .modal {
        display: none;

        .modal-window {
            position: absolute;
            z-index: $modal + 1;
            opacity: 0;
            width: 90%;
            left: 5%;
            top: $base-spacing;
            margin-top: -999px;
            margin-bottom: $base-spacing;
            @include transition(all 0.35s);

            @include media($small) {
               top: $lg-spacing;
               left: 50%;
               width: 600px;
               margin-left: -300px;
            }

           .modal-body {

               .message {
                   position: absolute;
                   top: -1000px;
                   right: 0;
                   left: 0;

                   &.active {
                       top: 0;
                   }
               }
           }
        }

        .modal-overlay {
           @include transition(all 0.2s);
           opacity: 0;
        }
    }

    &.modal-visible {

        .modal-window {
           opacity: 1;
           margin-top: 0;
        }

        .modal-overlay {
           opacity: 1;
        }
    }
}
