.layout-a {

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
        }

        .map {

            &.full-size {
                top: 107px;

                @include media($medium) {
                    top: 68px;
                }
            }
        }

        .toolbox {

            @include media($small) {
                top: 123px;
            }

            @include media($medium) {
                top: 92px;
            }
        }

        .lanes {

            @include media($small) {
                top: 107px;
            }

            @include media($medium) {
                top: 68px;
            }
        }
    }
}
