aside.is-right {
    
    .user-credit-has-label {
        padding: $sm-spacing 0;
        width: 60%;
        border-right: $base-border;
        float: left;

        @include media($small) {
            padding: $sm-spacing 0 $base-spacing;
            width: 100%;
            float: none;
            border-right: 0px;
            border-bottom: $base-border;
            border-top: $base-border;
        }

    }

    .actions-stacked {
        float: right;
        padding: $base-spacing 0 0;
        margin: 0;

        @include media($small) {
            float: none;
        }

    }

    .stage {

        @include media($small) {
            border-top: $base-border;
            margin-top: $base-spacing;
        }

        p {
            display: inline;

            @include media($small) {
                display: block;
            }

        }
        
    }

    .toggle-content {
        width: 100%;
        border-top: $base-border;
        padding: $base-spacing 0;
        
        @include media($small) {
            border-top: 0;
            padding:  0;
        }

    }

    .toggle-content-secondary {
        width: auto;
    }

    .published-to {
        float: left; 

        @include media($small) {
            padding-bottom: $base-spacing;
            float: none; 
        }

            
        h4 {
            float: left;
            margin: $sm-spacing $sm-spacing 0 0;

            @include media($small) {
                float: none;
                margin: $base-spacing 0 $sm-spacing;
            }

        }

        button {
            margin-bottom: 0;
        }

    }

    .save-buttons {

        @include media($small) {
            border-top: $base-border;
            padding-top: $base-spacing;
            clear: both;
        }

    }

}
