&.layout-embed {

    .mode-context {

        @include media($medium) {
            @include left(0);
        }

        &.active {

            @include media($medium-down) {
                bottom: 0;
            }
        }
    }

    [role="main"] {

        @include media($medium) {
            @include padding-left(224px);
        }

        .toolbar {

            @include media($medium) {
                @include left(224px);
            }

            .fab {
                bottom: $sm-spacing;
            }
        }

        .toolbox {
            top: $sm-spacing + 55;

            @include media($small-down) {
                position: fixed;
                @include right(16px);
                z-index: $toolbox;
            }

            @include media($small) {
                width: auto;
                max-width: 206px;
            }

            @include media($medium) {
                top: $base-spacing;
                @include right($base-spacing);
            }
        }

        .map {

            &.full-size {
                bottom: 0;
                top:0;

                @include media($medium) {
                    @include left(224px);
                }

            }

            &.map-only {
                bottom: 0;
                top: 0;

                @include media($medium) {
                    @include left(0);
                }
            }

        }

        .picker__frame {
            bottom: 0;
        }
    }

    .mainsheet {

        @include media($medium) {
            @include left(224px);
        }

        .mainsheet-window {

            @include media($medium) {
                @include left(224px);
            }
        }

        &.init {

            &.active {

                .mainsheet-window {
                    bottom: -2px;

                    @include media($medium) {
                        bottom: auto;
                    }
                }
            }
        }
    }
}
