.main-col {
    border-top: $base-border;

    @include media($small) {
        border-top: 0px;
    }

    p {
        line-height: 1.5;
    }

    h1 {
        margin: $base-spacing 0 $sm-spacing;
    }

}

.page-content .main-col {

    @include media($large) {
        padding-right: ($lg-spacing*3);
    }
        
}

aside.is-right {
    
    .user-credit-has-label {
        padding: $sm-spacing 0;
        width: 60%;
        border-right: $base-border;
        float: left;

        @include media($small) {
            padding: $sm-spacing 0 $base-spacing;
            width: 100%;
            float: none;
            border-right: 0px;
            border-bottom: $base-border;
            border-top: $base-border;
        }

    }

    .actions-stacked {
        float: right;
        padding: $base-spacing 0 0;
        margin: 0;

        @include media($small) {
            float: none;
        }

    }

    .toggle-content {
        border-top: $base-border;
        width: 100%;
        padding-top: $base-spacing;

        @include media($small) {
            border-top: 0px;
        }

    }

    .toggle-content-secondary {
        width: auto;
    }

    .published-to {
        float: left; 

        @include media($small) {
            padding-bottom: $base-spacing;
        }

            
        h4 {
            float: left;
            margin: $sm-spacing $sm-spacing 0 0;

            @include media($small) {
                float: none;
                margin: $base-spacing 0 $sm-spacing;
            }

        }

        button {
            margin-bottom: 0;
        }

    }

}
