.layout-modal {

    .mode-context {
        height: 55px;

        @include media($medium) {
            right: 0;
            bottom: auto;
            left: 0;
            width: auto;
            height: 66px;
        }

        &.init {
            overflow-y: initial;
        }

        &.active {

            @include media($medium-down) {
                bottom: 0;
            }
        }

        .mode-context-header {

            .mode-context-title {
                display: inline-block;
                width: auto;
                overflow: inherit;

                @include media($medium) {
                    padding-right: $huge-spacing;
                }
            }

            .mode-context-back {
                top: $tiny-spacing;

                @include media($medium) {
                    top: 12px;

                    + .mode-context-title {
                        padding-left: 56px;

                        &[contenteditable="true"] {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    [role="main"] {
        padding-top: 55px;

        @include media($medium) {
            padding-top: 134px;
            padding-top: 66px;
            padding-left: 0;
        }

        .toolbar {

            @include media($medium) {
                top: 66px;
                left: 0;
            }

            .fab {
                bottom: $sm-spacing;
            }
        }

        .toolbox {

            @include media($small) {
                top: 72px;
            }

            @include media($medium) {
                top: 90px;
            }
        }

        .main-col {

            @include media($medium) {
                padding-left: 20%;
            }
        }

        .full-col {

            @include media($medium) {
                padding-right: 20%;
                padding-left: 20%;
            }
        }

        .map {

            &.full-size {
                bottom: 0;

                @include media($medium) {
                    left: 224px;
                }
            }
        }

        .picker__frame {
            bottom: 0;
        }
    }

    .message {
        left: 0;

        &.active {
            bottom: 0;
        }
    }

    .mainsheet {

        &.init {

            &.active {

                .mainsheet-window {
                    bottom: -2px;

                    @include media($medium) {
                        bottom: auto;
                    }
                }
            }
        }
    }
}
