.post-detail { //body class

    .main-col {

        border-top: $base-border;
        padding-top: $base-spacing;

        @include media($small) {
            border-top: 0px;
        }

        p {

            line-height: 1.5;
            font-size: em(17);

            @include media($small) {
                font-size: em(19);
            }

        }

    }

}

.post-detail, .create-post {

    .main-col {

        @include media($medium) {
            padding-right: ($lg-spacing);
        }

        @include media($large) {
            padding-right: ($lg-spacing*5);
        }

    }

}
