&.layout-d {
    height: 100%;

    [role="main"] {
        @include padding-left(0);

        @include media($medium) {
            @include padding-left($lg-spacing*2);
        }

        input[type=checkbox] {
            margin: 10px;
        }

        .listing-toolbar {

            .listing-item {
                border-bottom: none;

                .listing-item-secondary {
                    width: auto;
                    top: 0px;
                    right: 10px;
                    padding: 8px 14px;
                    text-align: center;

                    @include media($medium) {
                        right: 0px;
                        margin-right: 8px;
                        padding: 8px 15px;
                    }
                }
            }
        }

        .toolbar {
            top: 0;
            @include left(0px);
            padding: 0 $sm-spacing;

            @include media($medium) {
                @include left($lg-spacing*2);
                padding: 0 $lg-spacing;
            }

            &.toolbar-secondary {
                position: relative;
                left: 0;
                right: 0;
                margin-bottom: $base-spacing;
            }

            .searchbar {
                width: 100%;

                @include media($small) {
                    width: 75%;
                    @include padding-right(42px);
                }

                @include media($medium) {
                    width: 35%;
                    @include padding-right(42px);
                }
            }

            .button-group button {
                padding: 10px 10px;

                @include media($medium) {
                    padding: 10px $sm-spacing;
                }

            }
        }

        .timeline-col,
        .post-col {

            @include media($medium) {
                overflow-y: scroll;
            }

        }

        .timeline-col {
            padding-top: 119px;
            @include transition(0.3s);

            @include media($small) {
                padding-top: 68px;
            }

            @include media($medium) {
                width: 35%;
                max-width: 35%;
                padding-top: $sm-spacing;
                @include padding-right($lg-spacing);
                @include border-right(1px solid $color-light-beta)
                direction: ltr;
            }

            .listing-toolbar {
                display: block;
                width: 100%;
                position: fixed;
                top: -200px;
                right: auto;
                z-index: $top;
                @include equal-radius(0);
                background-color: $color-primary-gamma;
                @include transition(0.3s);

                @include media($medium) {
                    width: 33.5%;
                    max-width: inherit;
                    // @include left(64px);
                }
            }

            &.toolbar-active {
                margin-top: 139px;

                .listing-toolbar {
                    display: block;
                    top: 103px;
                    width: 100%;
                    max-width: inherit;

                    @include media($small) {
                        top: 52px;
                    }

                    @include media($medium) {
                        top: 68px;
                        width: 33.5%;
                    }
                }
            }

            .listing.timeline {

                @include media($medium) {
                    @include padding-left($lg-spacing);
                }

                .postcard:before {
                    content: none;
                }

                .listing-heading-section:after {
                    content: none;
                }
            }

            .postcard {
                max-width: none;
                @include transition(all 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530));

                    @include media($medium) {
                        margin-left: 0;
                        margin-right: 0;
                    }

                &:after {
                    content: none;
                }

                &.selected {
                    @include transform(translate(2.2em, 0))
                }
            }

            button {
                @include margin-left(16px);

                @include media($medium) {
                    @include margin-left(0);
                }
            }
        }

        .post-col {
            padding: 0 $sm-spacing;
            margin-bottom: 45px;

            @include media($medium) {
                width: 65%;
                padding-top: $lg-spacing;
                @include padding-left($lg-spacing);
                @include padding-right($lg-spacing);
                margin-bottom: 0;
                direction: ltr;
            }
        }

    }

}
