&.layout-d {
    height: 100%;
    overflow: hidden;

    [role="main"] {
        @include padding-left(0);

        @include media($medium) {
            @include padding-left($lg-spacing*2);
        }

        input[type=checkbox] {
            margin: 10px;
        }

        .toolbar {
            top: 0;
            @include left(0px);
            padding: 0 $sm-spacing;

            @include media($medium) {
                @include left($lg-spacing*2);
                padding: 0 $lg-spacing;
            }

            &.toolbar-secondary {
                position: relative;
                left: 0;
                right: 0;
                margin-bottom: $base-spacing;
            }

            .searchbar {
                width: 100%;

                @include media($small) {
                    width: 70%;
                    @include padding-right(42px);
                }

                @include media($xlarge) {
                    width: 35%;
                    @include padding-right(122px);
                }
            }

            .button-group button {
                padding: 10px 10px;

                @include media($medium) {
                    padding: 10px $sm-spacing;
                }

            }
        }

        .timeline-col,
        .post-col {
            max-height: 94vh;

            @include media($medium) {
                overflow-y: scroll;
            }

        }

        .timeline-col {
            width: 100%;
            padding-top: 119px;
            @include transition(0.3s);

            @include media($small) {
                padding-top: 68px;
            }

            @include media($medium) {
                width: 35%;
                max-width: 35%;
                padding-top: $lg-spacing + 10;
                @include padding-right($lg-spacing);
                @include border-right(1px solid $color-light-beta)
                direction: ltr;
            }

            .listing-toolbar {
                position: fixed;
                width: inherit;
                max-width: inherit;
                top: -200px;
                background-color: $color-primary-gamma;
                @include equal-radius(0);
                @include transition(0.3s);
                z-index: $top;

                @include media($medium) {
                    margin: 0 -23px;
                    @include padding-left(56px);
                }

                strong {
                    margin-right: $tiny-spacing;
                }

                button {
                    @include margin-left(0);
                }
            }

            &.toolbar-active {
                padding-top: 205px;

                @include media($small) {
                    padding-top: 160px;
                }

                @include media($medium) {
                    padding-top: 107px;
                }

                .listing-toolbar {
                    top: 103px;

                    @include media($small) {
                        top: 52px;
                    }

                    @include media($medium) {
                        top: 68px;
                    }
                }

                .listing.timeline {

                    .button-group {
                        top: 190px;

                        @include media($small) {
                            top: 141px;
                        }

                        @include media($medium) {
                            top: 87px;
                        }
                    }
                }
            }

            .listing.timeline {

                @include media($medium) {
                    @include padding-left($lg-spacing);
                }

                .postcard:before {
                    content: none;
                }

                .listing-heading-section:after {
                    content: none;
                }

                .button-group {
                    position: -webkit-sticky;
                    position: sticky;
                    top: 102px;
                    @include lrswap(margin, 0 -31px 0 -32px);
                    padding: $sm-spacing 0;
                    background-color: $color-primary-zeta;
                    z-index: $top - 1;

                    @include media($small) {
                        top: 51px;
                    }

                    @include media($medium) {
                        top: -2px;
                    }

                    button {
                        @include equal-radius(0);
                    }
                }
            }

            .postcard {
                max-width: none;
                @include transition(all 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530));

                    @include media($medium) {
                        margin-left: 0;
                        margin-right: 0;
                    }

                &:after {
                    content: none;
                }

                &.selected {
                    @include transform(none)

                    @include media($medium) {
                        @include transform(translate(2.2em, 0))
                    }
                }
            }

            button {
                @include margin-left(0);
            }

            .button-link {
                @include media($medium) {
                    @include margin-left(16px);
                }
            }

            .toolbar-close-button {
                position: absolute;
                top: 10px;
                @include right(10px);
                margin: 0;
                padding: 8px;

                @include media($medium) {
                    @include right(24px);
                }

                svg.iconic {
                    fill: $color-tertiary;
                }
            }
        }

        .post-col {
            padding: 0 $sm-spacing;
            margin-bottom: 45px;

            @include media($medium) {
                width: 65%;
                padding-top: $lg-spacing;
                @include padding-left($lg-spacing);
                @include padding-right($lg-spacing);
                margin-bottom: 0;
                direction: ltr;
            }

            .postcard.locked {

                .message {
                    box-shadow: none;

                    @include media($medium) {
                        @include left(64px);
                    }
                }

                .postcard-body {
                    padding-top: 101px;
                }
            }
        }

    }
}
