.main-col,
.full-col {
    padding-bottom: 45px;

    @include media($small) {
        padding: $sm-spacing;
    }

    @include media($medium) {
        padding: $base-spacing;
    }
}

[class*="layout-"] {

    .mode-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: $modebar;

        @include media($medium) {
            top: 0;
            box-shadow: -2px 0 6px rgba(0,0,0,0.12) inset,
                -2px 0 6px rgba(0,0,0,0.24) inset;

            .account-menu {
                position: fixed;
            }
        }

        &.active {

            @include media($medium-down) {

                .account-menu {
                    position: fixed;
                    top: 0;
                    bottom: 45px;
                    z-index: $body;
                    width: 100%;
                    overflow-y: scroll;
                }
            }
        }
    }

    .mode-context {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $modecontext;

        @include media($medium) {
            bottom: 0;
            left: 64px;
            width: 224px
        }

        // "Loading" the mode context, as a direct descendant of the pattern
        > .loading {
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            margin-top: -$sm-spacing;

            .line {
                position: relative;
                z-index: $modal+1;
                @include box-shadow(0, 0, $tiny-spacing, $tiny-spacing, rgba(0,0,0,.4), false);
            }
        }

        &.active {

            @include media($medium-down) {
                bottom: 45px;
                @include no-shadow;
            }
        }
    }

    .message {
        position: fixed;
        top: -200px;
        right: 0;
        left: 0;
        z-index: $toolbar;
        @include transition(0.3s);

        @include media($medium) {
            left: 288px;
        }

        &.active {
            top: 55px;

            @include media($medium) {
                top: 0;
            }
        }
    }

    // "Loading" the document, as a direct descendant of the body
    > .loading {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        text-align: center;
        margin-top: -$sm-spacing;

        &:after {
            content: '';
            position: fixed;
            z-index: $modal;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        .line {
            position: relative;
            z-index: $modal+1;
        }
    }

    [role="main"] {

        @include media($medium) {
            padding-top: 68px;
            padding-left: 288px;
        }

        .main-col {

            @include media($small) {
                margin-right: 222px;
            }

            @include media($medium) {
                margin-right: 230px;
            }
        }

        .toolbar {
            position: fixed;
            top: 55px;
            z-index: $toolbar;
            width: 100%;


            .fab {

                .button-fab {
                    bottom: 0;

                    &:disabled,
                    &.disabled {
                        bottom: 240px;
                    }
                }

                @include media($medium-down) {
                    display: flex;
                    position: fixed;
                    right: $sm-spacing;
                    bottom: $sm-spacing+45;
                    z-index: $toolbar;

                    .button-fab {

                        &:disabled {
                            bottom: -400px;
                        }
                    }
                }
            }

            @include media($medium) {
                top: 0;
                right: 0;
                left: 288px;
                width: auto;
            }

            .searchbar {

                .dropdown-menu {
                    right: -37.5% !important;

                    @include media($mobile) {
                        right: 0 !important;
                    }
                }
            }
        }

        .listing {
            margin-bottom: $base-spacing;

            .listing-toolbar {
                display: block;
                position: fixed;
                top: -200px;
                right: 0;
                left: 0;
                z-index: $toolbar;
                @include equal-radius(0);
                background-color: $color-primary-gamma;

                @include media($medium) {
                    left: 288px;

                    .listing-toolbar-actions {

                        .dropdown-menu {
                            margin-left: -288px;
                        }
                    }
                }

                &.expanded {

                    @include media($medium-down) {
                        z-index: $toolbar;
                        bottom: 0;
                        overflow-y: scroll;
                    }
                }
            }

            &.toolbar-active {
                margin-top: 87px;

                @include media($medium) {
                    margin-top: 80px;
                }

                .listing-toolbar {
                    top: 107px;

                    @include media($medium) {
                        top: 68px;
                    }
                }
            }
        }

        .map {

            &.full-size {
                position: fixed;
                top: 55px;
                right: 0;
                bottom: 45px;
                left: 0;
                z-index: $body;

                @include media($medium) {
                    top: 0;
                    bottom: 0;
                    left: 288px;
                }
            }

            .postcard {

                .postcard-body {

                    .postcard-actions {

                        .hide-until-small {
                            display: none;
                        }

                        .hide-when-small {
                            display: block;
                        }
                    }
                }
            }
        }

        .form-sheet,
        .postcard[role="article"] {
            margin-bottom: $base-spacing;


            @include media($small-down) {

                .toolbox {
                    display: block;
                }
            }
/*
            @include media($medium) {
                margin-right: 230px;

                + .listing {
                    margin-right: 230px;

                    + .listing {
                        margin-right: 230px;
                    }
                }
            }
*/
        }

        .postcard[role="article"] {
            margin-bottom: $sm-spacing;

            @include media($medium) {
                margin-bottom: $base-spacing;
            }
        }

        .progress {
            margin-bottom: $base-spacing;
        }

        .toolbox {
            display: none;

            &.active {
                display: block;
            }

            @include media($small) {
                display: block;
                position: fixed;
                @include right(16px);
                z-index: $toolbox;
                width: 206px;

            }

            @include media($medium) {
                @include right(24px);
            }
        }

        // "Loading" the main content area, as a direct descendant of the pattern
        > .loading {
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            margin-top: -$sm-spacing;

            @include media($medium) {
                left: 288px;
            }

            .line {
                position: relative;
                z-index: $modal+1;
                @include box-shadow(0, 0, $tiny-spacing, $tiny-spacing/2, rgba(0,0,0,.24), false);
            }
        }

        .picker__holder {

            @include media($medium) {
                left: 288px;
            }
        }

        .picker__frame {
            bottom: 45px;

            @include media($medium) {
                bottom: 0;
            }
        }

        .picker--time .picker__holder {

            @include media($medium) {

                &:before,
                &:after {
                    content: '';
                    position: fixed;
                    z-index: $toolbar;
                    height: $sm-spacing;
                }

                &:before {
                    bottom: 284px;
                    @include vert-gradient($color1: rgba(55,62,70,0.85), $color2: rgba(55,62,70,0));

                }

                &:after {
                    bottom: 0;
                    @include vert-gradient($color1: rgba(55,62,70,0), $color2: rgba(55,62,70,0.85));
                }
            }
        }
    }

    .modal {
        display: none;

        .modal-window {
            position: absolute;
            z-index: $modal + 1;
            opacity: 0;
            width: 90%;
            left: 5%;
            top: $base-spacing;
            margin-top: -999px;
            margin-bottom: $base-spacing;
            @include transition(all 0.35s);

            @include media($small) {
               top: 8%;
               left: 50%;
               width: 600px;
               margin-left: -300px;
            }

           .message {
               position: absolute;
               top: -1000px;
               right: 0;
               left: 0;

               &.active {
                   top: 0;
               }
           }
        }

        .modal-overlay {
           @include transition(all 0.2s);
           opacity: 0;
        }
    }

    &.modal-visible {

        .modal-window {
           opacity: 1;
           margin-top: 0;
        }

        .modal-overlay {
           opacity: 1;
        }
    }
}
