&.layout-c {

    [role="main"] {
        padding-top: 55px;

        @include media($medium) {
            padding-top: 0;
        }

        > .progress-bar {
            top: 55px;

            @include media($medium) {
                top: 0;
            }
        }

        .toolbox {

            @include media($medium) {
                top: $base-spacing;
            }
        }
    }
}
