.main-col,
.full-col {
    padding-bottom: 45px;

    @include media($small) {
        padding: $sm-spacing;
    }

    @include media($medium) {
        padding: $base-spacing;
    }
}

[class*="layout-"] {

    .mode-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: $modebar;

        @include media($medium) {
            top: 0;
            box-shadow: -2px 0 6px rgba(0,0,0,0.12) inset,
                -2px 0 6px rgba(0,0,0,0.24) inset;

            .account-menu {
                position: fixed;
            }
        }

        &.active {

            @include media($medium-down) {

                .account-menu {
                    position: fixed;
                    top: 0;
                    bottom: 45px;
                    z-index: $body;
                    width: 100%;
                    overflow-y: scroll;
                }
            }
        }
    }

    .mode-context {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $modecontext;

        @include media($medium) {
            bottom: 0;
            left: 64px;
            width: 224px
        }

        // "Loading" the mode context, as a direct descendant of the pattern
        > .loading {
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            margin-top: -$sm-spacing;

            .line {
                position: relative;
                z-index: $modal+1;
                @include box-shadow(0, 0, $tiny-spacing, $tiny-spacing, rgba(0,0,0,.4), false);
            }
        }

        &.active {

            @include media($medium-down) {
                bottom: 45px;
                @include no-shadow;
            }
        }
    }

    .message {
        position: fixed;
        top: -200px;
        right: 0;
        left: 0;
        z-index: $toolbar;
        @include transition(0.3s);

        @include media($medium) {
            left: 288px;
        }

        &.active {
            top: 55px;

            @include media($medium) {
                top: 0;
            }
        }
    }

    > .progress-bar {
        position: fixed;
        top: 0;
        z-index: $modal;
        right: 0;
        left: 0;
        -webkit-animation: progress-in 0.5s ease-in-out;
        animation: progress-in 0.5s ease-in-out;
    }

    // "Loading" the document, as a direct descendant of the body
    > .loading {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        text-align: center;
        margin-top: -$sm-spacing;

        &:after {
            content: '';
            position: fixed;
            z-index: $modal;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
        }

        .line {
            position: relative;
            z-index: $modal+1;
        }
    }

    [role="main"] {

        @include media($medium) {
            padding-top: 68px;
            padding-left: 288px;
        }

        .main-col {

            @include media($small) {
                margin-right: 222px;
            }

            @include media($medium) {
                margin-right: 230px;
                // margin-right: 32%;
            }
        }

        .main-col,
        .full-col {

            .ushahidi-bug {
                top: auto;
                right: $sm-spacing;
                bottom: $sm-spacing;
                left: auto;

                @include media($small) {
                    right: $huge-spacing;
                }

                @include media($medium-down) {

                    svg.ushahidi-logo {
                        width: $lg-spacing;
                        height: $lg-spacing;
                    }
                }
            }
        }

        .toolbar {
            position: fixed;
            top: 55px;
            z-index: $toolbar;
            width: 100%;

            @include media($medium) {
                top: 0;
                right: 0;
                left: 288px;
                width: auto;
            }

            .fab {

                .button-fab {
                    bottom: 0;

                    &:disabled,
                    &.disabled {
                        bottom: 240px;
                    }
                }

                @include media($medium-down) {
                    display: flex;
                    position: fixed;
                    right: $sm-spacing;
                    bottom: $sm-spacing+45;
                    z-index: $toolbar;

                    .button-fab {

                        &:disabled {
                            bottom: -400px;
                        }
                    }
                }
            }
        }

        > .progress-bar {
            position: fixed;
            top: 107px;
            z-index: $toolbar;
            right: 0;
            left: 0;

            @include media($medium) {
                top: 68px;
                left: 288px;
            }
        }

        .listing {
            margin-bottom: $base-spacing;

            .listing-heading {

                @include media($mobile) {
                    padding-right: 10%;
                    padding-left: 10%;
                }

                @include media($xlarge) {
                    padding-right: 20%;
                    padding-left: 20%;
                }
            }

            .listing-item {

                .listing-item-select {


                    + .listing-item-primary {

                        .listing-item-image {

                            @include media($mobile) {
                                left: 10%;
                            }

                            @include media($xlarge) {
                                left: 20%;
                            }
                        }
                    }

                }

                .listing-item-primary,
                .listing-item-body {

                    @include media($mobile) {
                        padding-right: 10%;
                        padding-left: 10%;
                    }

                    @include media($xlarge) {
                        padding-right: 20%;
                        padding-left: 20%;
                    }
                }

                .listing-item-secondary {

                    @include media($mobile) {
                        right: 10%;
                    }

                    @include media($xlarge) {
                        right: 20%;
                    }
                }
            }

            &.timeline {

                .listing-heading {
                    padding-left: 0;
                }

                .listing-item {

                    .listing-item-primary {

                        @include media($mobile) {
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
                }
            }

            .listing-toolbar {
                display: block;
                position: fixed;
                top: -200px;
                right: 0;
                left: 0;
                z-index: $toolbar - 1;
                @include equal-radius(0);
                background-color: $color-primary-gamma;

                @include media($medium) {
                    left: 288px;

                    .listing-toolbar-actions {

                        .dropdown-menu {
                            // margin-left: -288px;
                        }
                    }
                }

                &.expanded {

                    @include media($medium-down) {
                        z-index: $toolbar;
                        bottom: 0;
                        overflow-y: scroll;
                    }
                }
            }

            &.toolbar-active {
                margin-top: 87px;

                @include media($medium) {
                    margin-top: 80px;
                }

                .listing-toolbar {
                    top: 107px;

                    @include media($medium) {
                        top: 68px;
                    }
                }
            }
        }

        .map {

            &.full-size {
                position: fixed;
                top: 55px;
                right: 0;
                bottom: 45px;
                left: 0;
                z-index: $body;

                @include media($medium) {
                    top: 0;
                    bottom: 0;
                    left: 288px;
                }
            }

            .postcard {

                .postcard-body {

                    .postcard-actions {

                        .hide-until-small {
                            display: none;
                        }

                        .hide-when-small {
                            display: block;
                        }
                    }
                }
            }
        }

        .form-sheet,
        .postcard[role="article"] {
            margin-bottom: $base-spacing;

            @include media($small-down) {

                .toolbox {
                    display: block;
                }
            }

            + .toolbox {

                @include media($small-down) {
                    box-shadow: 0 0 2px rgba(0,0,0,0.12),
                        0 2px 2px rgba(0,0,0,0.24);
                    margin-bottom: $base-spacing;
                }
            }
        }

        .postcard[role="article"] {
            margin-bottom: $sm-spacing;

            @include media($medium) {
                margin-bottom: $base-spacing;
            }
        }

        .progress {
            margin-bottom: $base-spacing;
        }

        .toolbox {

            @include media($small) {
                position: fixed;
                top: 146px;
                @include right(16px);
                z-index: $toolbox;
                width: 206px;
            }

            @include media($medium) {
                top: 85px;
                @include right(24px);
            }

            .listing {
                margin-bottom: 0;

                .listing-item {

                    .listing-item-primary {
                        padding-right: $sm-spacing;
                        padding-left: $sm-spacing;
                    }
                }
            }
        }

        // "Loading" the main content area, as a direct descendant of the pattern
        > .loading {
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            margin-top: -$sm-spacing;

            @include media($medium) {
                left: 288px;
            }

            .line {
                position: relative;
                z-index: $modal+1;
                @include box-shadow(0, 0, $tiny-spacing, $tiny-spacing/2, rgba(0,0,0,.24), false);
            }
        }

        .ushahidi-bug {
            display: inline-block;
            position: fixed;
            top: 71px;
            left: $sm-spacing;
            z-index: $modebar;

            @include media($medium) {
                top: auto;
                right: $base-spacing;
                bottom: $base-spacing;
                left: auto;
            }

            svg.ushahidi-logo {
                width: $huge-spacing;
                height: $huge-spacing;
                fill: $color-primary;
                filter: drop-shadow(0 2px 8px rgba(0,0,0,.5));
                stroke: white;
                stroke-width: 1;

                @include media($medium) {

                }
            }
        }

        .picker__holder {

            @include media($medium) {
                left: 288px;
            }
        }

        .picker__frame {
            bottom: 45px;

            @include media($medium) {
                bottom: 0;
            }
        }

        .picker--time .picker__holder {

            @include media($medium) {

                &:before,
                &:after {
                    content: '';
                    position: fixed;
                    z-index: $toolbar;
                    height: $sm-spacing;
                }

                &:before {
                    bottom: 284px;
                    @include vert-gradient($color1: rgba(55,62,70,0.85), $color2: rgba(55,62,70,0));

                }

                &:after {
                    bottom: 0;
                    @include vert-gradient($color1: rgba(55,62,70,0), $color2: rgba(55,62,70,0.85));
                }
            }
        }
    }

    .modal {
        display: none;

        .modal-window {
            position: absolute;
            z-index: $modal + 1;
            opacity: 0;
            width: 90%;
            left: 5%;
            top: $base-spacing;
            margin-top: -999px;
            margin-bottom: $base-spacing;
            @include transition(all 0.35s);

            @include media($small) {
               top: 8%;
               left: 50%;
               width: 480px;
               margin-left: -240px;
            }

           .message {
               position: absolute;
               top: -1000px;
               right: 0;
               left: 0;

               &.active {
                   top: 0;
               }
           }
        }

        .modal-overlay {
           @include transition(all 0.2s);
           opacity: 0;
        }
    }

    &.modal-visible {

        .modal-window {
           opacity: 1;
           margin-top: 0;
        }

        .modal-overlay {
           opacity: 1;
        }
    }

    .mainsheet {
        display: none;
        position: fixed;
        z-index: $modal;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        @include media($medium) {
            // left: 288px;
        }

        .mainsheet-window {
            position: fixed;
            z-index: $dropdown;
            right: 0;
            bottom: -999px;
            left: 0;
            max-height: 100%;
            overflow-y: auto;

            @include media($mobile) {
                margin-right: 24%;
                margin-left: 24%;
            }

            @include media($medium) {
                // left: 288px;
                top: -999px;
                bottom: auto;
                margin-right: 32%;
                margin-left: 32%;
            }
        }

        .mainsheet-overlay {
            @include transition(all 0.2s);
            opacity: 0;
        }

        &.init {

            &.active {

                .mainsheet-window {
                    bottom: 0;

                    @include media($medium) {
                        /*
                        margin-right: 16%;
                        margin-left: 16%;
                        */
                        top: 8%;
                        bottom: auto;
                        max-height: 84%;
                        margin-right: 32%;
                        margin-left: 32%;
                    }
                }

                .mainsheet-overlay {
                    opacity: 1;
                }
            }
        }
    }
}
