.layout-a {

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
        }

        .map {

            &.full-size {
                top: 107px;

                @include media($medium) {
                    top: 68px;
                }
            }
        }
    }
}
