.layout-embed {

    [role="main"] {

        .toolbar {

            .fab {
                bottom: $sm-spacing;
            }
        }

        .map {

            &.full-size {
                bottom: 0;
            }
        }

        .picker__frame {
            bottom: 0;
        }
    }
}
