&.layout-f {
    height: 100%;

    .login-container {
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .login-window {
        background-color: #FAFAFA;
        border-radius: 2px;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.24);
        margin-left: 5%;
        margin-top: 24px;
        padding-top: 1px;
        overflow-y: hidden;
        width: 90%;
        @include media($small) {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        @include media($medium) {
            width: 36%;
            margin-left: 32%;
            margin-right: 32%;
        }

    }

    .alert.error {
        float: none;
        clear: none;
        margin-left: 24px;
    }

    .login-body {
        padding: 0 24px 24px 24px;
    }

    .form-field {
        margin: 0;
    }

    .login-actions {
        background-color: #eee;
        border-top: 1px solid #eee;
        padding: 16px 24px;
    }

    .link {
        margin-top: 8px;
        margin-bottom: 24px;
    }

    input {
        padding-left: 8px;
    }

    .login-body a {
        margin: 8px 0;
        border-bottom: 1px dotted #373E46;
    }

    label > span {
        display: block;
        font-weight: 600;
        font-size: 1.142857143rem;
        line-height: 1.2;
    }

    label > p {
        font-style: italic;
        margin: 8px 0;
        font-weight: normal;
        font-size: 1rem;
    }

    .login-title {
        font-weight: 800;
        font-size: 20px;
        font-size: 1.428571429rem;
        line-height: 1.3em;
        margin: 24px 0;
        padding: 0 24px 24px 24px;
    }

    [role="main"] {
        @include padding-left(0);

        @include media($medium) {
            @include padding-left(183px);
        }

        .dc-toolbar {
            .dropdown-menu{
                margin-top: $lg-spacing;
                right: $sm-spacing;
            }
        }
        .toolbar {
            top: 0;
            @include left(0px);
            padding: 0 $sm-spacing;

            @include media($medium) {
                @include left(183px);
                padding: 0 $lg-spacing;
            }

            a.dropdown-nav {
                float: left;
                padding: 13px 0;
                font-weight: 800;
                font-size: em(30px);
                color: $bg-white;

                @include media($medium) {
                    padding: 20px 0;
                }

                svg.iconic {
                    fill: $bg-white;
                    width: em(8px);
                    height: em(8px);
                }
            }
            .dropdown-menu {
                margin-left: -$tiny-spacing;
                margin-top: 2 * $lg-spacing;
                @include media($medium-down) {
                    margin-top: 2 * $base-spacing;
                }
            }

            .button-group button {
                padding: 10px 10px;

                @include media($medium) {
                    padding: 10px $sm-spacing;
                }

            }
        }

        .main-col {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            float: left;
            @include margin-right(0);
            padding: 52px 16px 0;

            @include media($medium) {
                padding: 0 32px 0;
            }
        }

    }

    .message {
        @include left(0);

        @include media($medium) {
            @include left(64px);
        }
    }
}
