.post-detail { //body class
   background-color: $lt-gray-bg;

   @include media($medium) {
      background-color: transparent;
   }

   .post-header {

      @include media($small) {
         padding-right: 20%;
      }

      @include media($medium) {
         padding-right: 25%;
      }
   }

   .post-field {

      @include media($small) {
         max-width: 620px;
      }
   }

   .vertical-tabs {

      @include media($small) {
         margin: $sm-spacing 0;
      }

      @include media($medium) {
         margin: $sm-spacing $base-spacing;
      }
   }

   .vertical-tabs-menu {

      &.init {
         margin-right: 110px;
         margin-left: $sm-spacing;

         @include media($small) {
            width: 20%;
            margin: 0;
         }

         @include media($medium) {
            width: 25%;
         }
      }
   }

   .vertical-tabs-content {

      @include media($small) {
         width: 80%;
      }

      @include media($medium) {
         width: 75%;
      }

      .main-col {

         @include media($medium) {
            padding: 0 $sm-spacing 0 0;
         }
      }
   }

   /*
   .main-col {

      p {
         line-height: 1.5;
         font-size: em(17);

         @include media($small) {
            font-size: em(19);
         }

         &:first-of-type {
            font-size: em(19);
            padding-top: $sm-spacing;
            margin-top: $sm-spacing;

         @include media($small) {
            font-size: em(22);
            border-top: $base-border;
            padding-top: $base-spacing;
            margin-top: $base-spacing;
         }
      }
   }
   */
}

#map {
   float: none;
}


.post-detail {

   h1 {
      margin-bottom: $base-spacing;
   }

}

/*
.post-detail, .create-post {

.main-col {
padding-top: $base-spacing;

@include media($medium) {
padding-top: 0;
@include padding-right($lg-spacing);
}

@include media($large) {
@include padding-right($lg-spacing*5);
}

}
}
*/
