.main-col {
    padding: $sm-spacing;

    @include media($medium) {
        padding: $base-spacing;
    }
}

// Reusable grid classes -

.one-col, .two-col, .three-col, .flex-col {
   @include clearfix;
   margin-bottom: $base-spacing;
}

.two-col .col {
   margin-bottom: $base-spacing;

   @include media($small) {
      @include span-columns(6);
      margin-bottom: auto;
   }

}

.three-col .col {

   @include media($small) {
      @include span-columns(4);
   }

}

.flex-col .col {

   @include media($small) {
      display: block;
      float: left;
      width: auto;
      margin-right: $base-spacing;
   }

}

.page-content {
    position: relative;
   @include outer-container;

   @include media($medium) {
      @include float(left);
      width: 100%;
   }

   .main-col {
      padding: 0 $sm-spacing;

      @include media($small) {
         padding: 0 $base-spacing;
      }

      &.map-background {
          width: 100%;
          padding: 0;
      }

      h6 {
         clear: both;
         margin: 0;
      }

   }

   &.has-aside {

      aside {
         @include clearfix;
         @include span-columns(12);
         @include margin-right(2.35765%);
         @include margin-left(0);
         position: relative;
      }

      @include media($small) {

         .main-col {
            @include span-columns(9);
            @include float(left);
            @include margin-right(2.35765%);
            @include margin-left(0);
         }

         aside {
            @include span-columns(3);
            @include float(left);
            @include omega();
            padding: $base-spacing 0 $lg-spacing;
            @include margin-right(2.35765%);
            @include margin-left(0);

            &.is-right { //specific styling for when the aside comes first in the source order
               @include float(right);
               padding: 0;
            }

            &.has-border { //specific styling for when you want the aside to have a border
               @include border-left($base-border);
               @include lrswap(padding, $base-spacing 0 $lg-spacing $base-spacing);
            }

         }

      }

      @include media($medium) {

         .main-col {
            @include span-columns(8);
            @include float(left);
            @include margin-right(2.35765%);
            @include margin-left(0);
         }

         aside {
            @include span-columns(4);
            @include float(left);
            @include margin-right(0);
            @include margin-left(0);
         }

      }

      @include media($large) {

         .main-col {
            @include span-columns(9);
            @include float(left);
            @include margin-right(2.35765%);
            @include margin-left(0);
         }

         aside {
            @include span-columns(3);
            @include float(left);
            @include margin-right(2.35765%);
            @include margin-left(0);
         }

      }

   }

}

.full-page-content {
   padding: 0 $sm-spacing;
   margin-top: $sm-spacing;

   @include media($small) {
      padding: 0 $base-spacing;
   }

   @include media($medium) {
      margin-top: $lg-spacing;
   }

   .two-col .col {

      @include media($small) {
         @include span-columns(6);
         @include float(left);
         @include margin-right(2.35765%);
         @include margin-left(0);

         &:last-child {
            margin: 0;
         }

      }

   }

}

[class*="layout-"] {

    .mode-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: $modebar;

        @include media($medium) {
            top: 0;

            .account-menu {
                position: fixed;
            }
        }

        &.active {

            @include media($medium-down) {

                .account-menu {
                    position: fixed;
                    top: 54px;
                    bottom: 45px;
                    z-index: $body;
                    width: 100%;
                    overflow-y: scroll;
                }
            }
        }
    }

    .mode-context {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $modecontext;

        @include media($medium) {
            bottom: 0;
            left: 64px;
            width: 210px
        }

        &.active {

            @include media($medium-down) {
                bottom: 45px;
                @include no-shadow;
            }
        }
    }

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
            padding-left: 274px;
        }

        .toolbar {
            position: fixed;
            top: 55px;
            z-index: $toolbar;
            width: 100%;

            @include media($medium-down) {

                .fab {
                    display: flex;
                    position: fixed;
                    right: $sm-spacing;
                    bottom: $sm-spacing+45;
                }
            }

            @include media($medium) {
                top: 0;
                right: 0;
                left: 274px;
                width: auto;

            }
        }
    }
}
