&.layout-d {

    [role="main"] {
        padding-top: 107px;

        @include media($medium) {
            padding-top: 68px;
        }
    }

    .main-col {

        @include media($medium) {
            @include padding-right(234px);
        }
    }

    .secondary-col {

        @include media($medium) {
            position: fixed;
            top: 68px;
            @include right(0);
            bottom: 0;
            z-index: $body;
            width: 234px;
            overflow-y: auto;
        }

        .listing {

            &.timeline {
                @include padding-left(0);

                .listing-heading,
                .listing-heading-section {
                    text-align: center;
                }

                .listing-heading {
                    margin: $sm-spacing;

                    @include media($medium) {
                        @include text-align(left);
                        margin: $tiny-spacing 0;
                    }
                }

                .postcard,
                .listing-heading-section {

                    &:after {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        top: 100%;
                        @include left(50%);
                        width: 4px;
                        height: $sm-spacing;
                        background-color: $color-light-beta;
                        @include margin-left(-2px);
                    }
                }

                .postcard {

                    &:last-of-type {

                        &:after {
                            content: none;
                        }
                    }
                }

                .listing-heading-section {

                    @include media($medium) {
                        display: block;
                        color: $color-dark-delta;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
