.mode-is-map {

    #map {
        position: fixed;
        top: 107px;
        bottom: 45px;
        z-index: $body;
        width: 100%;

        @include media($medium) {
            top: 68px;
            bottom: 0;
        }
    }
}
