.mode-is-map {

    #map {
        position: fixed;
        top: 107px;
        right: 0;
        bottom: 45px;
        left: 0;
        z-index: $body;

        @include media($medium) {
            top: 68px;
            bottom: 0;
            left: 288px;
        }
    }
}
