.post-detail {
	
    .main-col {
        margin-top: $lg-spacing;

        p {
            line-height: 1.5;
        }

        h1 {
            margin: $base-spacing 0;
        }

    }

    .page-content .main-col {

        @include media($large) {
            padding-right: ($lg-spacing*3);
        }
        
    }

    aside.is-right {
    
        .published-to, .user-credit-has-label, .actions {
            border-bottom: $base-border;
            padding: $base-spacing 0;

            button {
                display: block;
                margin-bottom: $sm-spacing;
            }

        }

        .actions {
            border-bottom: 0px;
        }

    }

}

