<a class="dropdown-nav init" data-toggle="dropdown-menu">All Projects
    <svg class="iconic">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
    </svg>
</a>

<ul class="dropdown-menu init">
    <li>
        <a href="md-list.html">
            <span class="label">All Projects</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="label">Organization's Projects</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="label">Other Organization's Projects</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="label">Really Long Organization Name's Other Projects</span>
        </a>
    </li>
</ul>
