<div class="fab">
    <button type="button" class="button-alpha button-fab" data-toggle="fab-options">
        <svg class="iconic">
          <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
        </svg>
        <span class="hidden">Add</span>
    </button>
</div>
