<div class="deployment-card-wrapper archive">
    <div class="card deployment-card">
        <div class="dc-main">
            <h3>New Project Name</h3>
            <p>Are you sure you want to archive this projoect?</p>
            <p>This action cannot be undone and will result in the loss of all data associated with this project.</p>

            <div class="button-group">
                <button type="button">
                    <span class="button-label">Cancel</span>
                </button>
                  <button type="button" class="button-destructive">
                    <span class="button-label">Archive</span>
                </button>
            </div>
        </div>
    </div>
</div>
