<div class="deployment-card-wrapper">
    <div class="card deployment-card">
        <div class="dc-main">
            <h3>New Project Name</h3>
            <h4>Are you sure you want to archive this projoect?</h4>
            <p>This action cannot be undone and will result in the loss of all data associated with this project.</p>
        </div>
    </div>
</div>
