<div class="deployment-card-wrapper">
    <div class="card deployment-card">
        <div class="dc-main">
            <div class="dc-toolbar">
                <a href="map.html" class="dc-deployment-title">Project Name
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                    </svg>
                </a>

                <button class="dc-actions init" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                </button>

                <ul class="dropdown-menu init">
                    <li>
                        <a href="md-archive.html">
                            <span class="label">Archive Project</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dc-map">
                <img src="../../img/map.png" alt="">
            </div>
        </div>

        <div class="dc-info">
            <div class="dc-info-wrapper">
                <h4 class="dc-info-title">Total reports</h4>
                <span class="dc-report-total">1,234</span>
            </div>

            <div class="dc-info-wrapper">
                <h4 class="dc-info-title">Reports since 11/11</h4>
                <img src="../../img/peak-graph.png" alt="">
            </div>

            <div class="dc-info-wrapper">
                <h4 class="dc-info-title">Reports status</h4>
                <img src="../../img/bar-graph.png" alt="">
                <ul>
                    <li>Published</li>
                    <li>Under Review</li>
                    <li>Archived</li>
                </ul>
            </div>
        </div>
    </div>
</div>
