<div class="deployment-card-wrapper new">
    <div class="card deployment-card">
        <div class="dc-main">
            <div class="dc-toolbar">
                <a href="map.html" class="dc-deployment-title">New Project Name
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                    </svg>
                </a>

                <button class="dc-actions init" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                </button>

                <ul class="dropdown-menu init">
                    <li>
                        <a href="md-archive.html">
                            <span class="label">Archive Project</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dc-map">
                <img src="../../img/map-new.png" alt="">
            </div>
        </div>

        <div class="dc-info">
            <h3>Nice Work</h3>
            <p>You created a new project. Now all you have to do is get everything set up.</p>
            <p>This is where we put another sentence to get them started with configuration.</p>

            <a href="settings.html" class="button button-alpha" type="button" name="button">
                <span class="button-label">Get Started</span>
            </a>
        </div>
    </div>
</div>
