<div class="deployment-card-wrapper archive">
    <div class="card deployment-card">
        <div class="dc-main">
            <h3>Project Name</h3>
            <p>Are you sure you want to archive this project?</p>
            <p>This action cannot be undone and will result in the loss of all data associated with this project.</p>

            <div class="button-group">
                <a href="md-list.html" class="button">
                    <span class="button-label">Cancel</span>
                </a>
                  <button type="button" class="button-destructive" data-message="archive">
                    <span class="button-label">Archive Project</span>
                </button>
            </div>
        </div>
    </div>
</div>
