<div class="deployment-card-wrapper create">
    <div class="card deployment-card">
        <h3>New Project</h3>

        <div class="form-field">
            <label>Project Name</label>
            <p>This is the title of your deployment. It will appear atop your deployment's website and apps.</p>
            <input type="text" placeholder="Type a project name">
        </div>

        <div class="form-field">
            <label>Project URL</label>
            <p>This is the title of your deployment. It will appear atop your deployment's website and apps.</p>
            <div class="form-field-addon">
                <span class="addon before">http://</span>
                <input type="text">
                <span class="addon after">.ushahidi.io</span>
            </div>
        </div>
    </div>
</div>
