<form class="survey-filter">

    {{#if user.logged_in}}
        {{#each deployment.surveys}}
            {{> SurveyFilterCheckbox}}
        {{/each}}

        <div class="form-field">
            <a href="settings-survey-add.html" class="button button-link">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="button-label">Create new survey</span>
            </a>
        </div>
    {{else}}
        {{#each deployment.surveys}}
            {{#if datasource}}
                {{> SurveyFilterCheckbox}}
            {{/if}}
        {{/each}}
    {{/if}}

</form>
