<div class="tool">
    <h6 class="tool-heading">Color Switcher</h6>

    <span class="tool-trigger" data-toggle="toggle-content">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show/hide</span>
    </span>

    <div class="toggle-content">
        <fieldset class="color-switchers">
            <legend class="hidden">Color Switcher</legend>

            <div class="form-field">
                <button data-theme="default" disabled>
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#brush"></use>
                    </svg>
                    Default
                </button>
            </div>

            <div class="form-field">
                <button data-theme="red">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#brush"></use>
                    </svg>
                    Red
                </button>
            </div>

            <div class="form-field">
                <button data-theme="green">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#brush"></use>
                    </svg>
                    Green
                </button>
            </div>

            <div class="form-field">
                <button data-theme="blue">
                    <svg class="iconic">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#brush"></use>
                    </svg>
                    Blue
                </button>
            </div>

        </fieldset>
    </div>
</div>

<div class="tool">
    <h6 class="tool-heading">Status</h6>

    <span class="tool-trigger" data-toggle="toggle-content">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show/hide</span>
    </span>

    <div class="toggle-content">
        <fieldset>
            <legend class="hidden">Status</legend>

            <div class="form-field checkbox icon-input">
                <label for="published">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <input checked type="checkbox" id="published">
                    Published
                </label>
            </div>

            {{#if user.logged_in}}
            <div class="form-field checkbox icon-input">
                <label for="review">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    <input checked type="checkbox" id="review" />
                    Under review
                </label>
            </div>
            {{/if}}

            <div class="form-field checkbox icon-input">
                <label for="archive">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                    </svg>
                    <input {{#if user.logged_in}}checked{{/if}} type="checkbox" id="archive" />
                    Archive
                </label>
            </div>
        </fieldset>
    </div>
</div>
