<div class="tool">
    <h6 class="tool-heading">Stage</h6>

    <span class="tool-trigger" data-toggle="toggle-content">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show/hide</span>
    </span>

    <div class="toggle-content {{#if active}}active{{/if}}">
        <fieldset>
            <legend class="hidden">Stage</legend>

            {{#if user.logged_in}}
            <div class="form-field checkbox icon-input">
                <label for="stage-review">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    <input checked type="checkbox" id="stage-review" />
                    Review
                </label>
            </div>

            <div class="form-field checkbox icon-input">
                <label for="stage-investigate">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    <input checked type="checkbox" id="stage-investigate" />
                    Investigate
                </label>
            </div>

            <div class="form-field checkbox icon-input">
                <label for="stage-contact_department">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                    </svg>
                    <input checked type="checkbox" id="stage-contact_department" />
                    Contact department
                </label>
            </div>
            {{/if}}

            <div class="form-field checkbox icon-input">
                <label for="stage-resolved">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <input checked type="checkbox" id="stage-resolved">
                    Resolved
                </label>
            </div>
        </fieldset>
    </div>
</div>
