<main role="main">

    {{mapOnlyEmbed 'all' true}}

    <div class="toolbox hide-when-medium">
        <button class="button-beta button-plain mode-context-trigger">Filter by survey</button>
    </div>

    <a href="https://www.ushahidi.com" class="ushahidi-bug" target="_blank">
        {{> Logomark }}
        <span class="hidden">Powered by Ushahidi</span>
    </a>

</main>

{{> Modals }}
