{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="settings-datasources.html">Data sources</a></li>
        </ol>

        <h1 class="mode-context-title">Twitter</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-destructive">Cancel</button>
            <button type="button" class="button-alt">Save</button>
        </div>
    </div>

    <div class="main-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Import posts from Twitter</h3>
            </div>
            <!--// IF: Twitter account is successfully configured //-->
            <div class="form-field switch">
               <label>Automatically import tweets</label>
               <div class="toggle-switch">
                  <input checked class="tgl" id="email-status" type="checkbox">
                  <label class="tgl-btn" for="email-status"></label>
               </div>
               <p><em>When turned on, Ushahidi will continuously search for tweets that include the keywords you've defined below. Any matches will be automatically imported into your deployment.</em></p>
            </div>
            <!--// END IF //-->

            <div class="form-field">
                <label>
                    Keywords
                    <input type="text" placeholder="ushahidi" value="ushahidi" />
                </label>
                <p>Separate each search term with commas.</p>
            </div>

            <div class="form-field switch">
                <label>Import to survey</label>
                <div class="toggle-switch">
                    <input class="tgl" id="import_to_survey" type="checkbox" data-fieldgroup-toggle="import_to_survey-survey" />
                    <label class="tgl-btn" for="import_to_survey"></label>
                </div>

                <div data-fieldgroup-target="import_to_survey-survey">
                    <p><em>All incoming tweets will be used to create responses to the survey you choose.</em></p>

                    <fieldset class="custom-fieldset">
                        <legend>Import to <span class="custom-fieldset-value">which survey?</span></legend>

                        {{#each deployment.surveys}}
                        <div class="form-field radio">
                            <input type="radio" id="import_to_survey-{{@index}}" name="import_to_survey-survey" data-fieldgroup-toggle="import_to_survey-fields" />
                            <label for="import_to_survey-{{@index}}">{{name}}</label>
                        </div>
                        {{/each}}
                    </fieldset>

                    <fieldset data-fieldgroup-target="import_to_survey-fields">
                        <legend>Choose what should be assigned to each survey field</legend>
                        <p>Each of the survey's fields are listed below. Choose the data from your tweets that you'd like to use to populate each of those fields.</p>

                        <table>
                            <thead>
                                <tr>
                                    <th>Survey field</th>
                                    <th>Tweet data</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><span class="required">Title</span></td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Date</option>
                                                <option>Location</option>
                                                <option>Author</option>
                                                <option>Body</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="required">Description</span></td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Date</option>
                                                <option>Location</option>
                                                <option>Author</option>
                                                <option>Body</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Name</td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Date</option>
                                                <option>Location</option>
                                                <option>Author</option>
                                                <option>Body</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Location</td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Date</option>
                                                <option>Location</option>
                                                <option>Author</option>
                                                <option>Body</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Categories</td>
                                    <td>
                                        <div class="custom-select">
                                            <select>
                                                <option selected>Leave empty</option>
                                                <option>Date</option>
                                                <option>Location</option>
                                                <option>Author</option>
                                                <option>Body</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>

        </div>

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Configure Twitter account</h3>
                <p>To connect Twitter to your deployment, you need to:</p>
                <ol>
                    <li><a href="https://apps.twitter.com/app/new" target="_blank">Create a "Twitter Application."</a></li>
                    <li>Select "Keys and Access Tokens."</li>
                    <li>Select "Generate Consumer Key and Secret."</li>
                    <li>Copy and paste the necessary keys, tokens, and secrets into the fields below.</li>
                </ol>
            </div>

            <div class="form-field required">
                <label>Consumer key</label>
                <input type="text" value="pIxWSXW12mqw3PUz6sNQvCdrd" />
            </div>

            <div class="form-field required">
                <label>Consumer secret</label>
                <input type="text" value="dSVIVFC6lbuQLKrFHWltPDuHjM7QoniQUN4tsuDU80469vf3Px" />
            </div>

            <div class="form-field">
                <button type="button" disabled>
                    <!--// IF submitting a no-yet validated account configuration //-->
                    Connect to Twitter
                    <!--// ELSE //
                    Update connection
                    // END IF //-->
                </button>
            </div>

        </div>

    </div>

</main>

{{> Modals }}
