<div class=login-container>
    <div class=login-window>
        <h3 class=login-title>Forgot your password?</h3>
        <div class=login-body>
            <div class=form-field>
            <label><span>Email Address</span><p>Enter your email to request a password reset</p><input type=text placeholder="e.g. email@email.com"></input></label>
            </div>
        </div>
        <div class=login-actions>

            <button class="button-link"><a href="md-login.html">Cancel</a></button>
            <button class="button-alpha"><span class="button-label">Reset my password</span></button>
        </div>
    </div>
</div>