{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header {{#if deployment.logo}}has-logo{{/if}}">
        <h1 class="mode-context-title"><a href="">{{deployment.name}}</a></h1>

        {{#if deployment.logo}}
            <img src="{{deployment.logo}}" class="deployment-logo" />
        {{/if}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{{deployment.description}}}

        <div class="form-field">
            <button class="button-link">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#arrow-left"></use>
                </svg>
                <span class="button-label">Show all tasks</span>
            </button>
        </div>
    </div>
</div>

<main role="main">

    <div class="toolbar">
        {{> Search }}

        <div class="button-group">
            <button>
                <svg class="iconic">
                    <use xlink:href="../../img/material/svg-sprite-action-symbol.svg#ic_view_column_24px"></use>
                </svg>
                <span class="button-label hide-until-medium">Edit columns</span>
            </button>
        </div>
    </div>

    <div class="full-col">

        <div class="lanes">
            <div class="lane collapsed">
                <h2 class="lane-heading"><a href="">Review</a></h2>
            </div>

            <div class="lane">
                <h2 class="lane-heading">Investigate</h2>

                <div class="lane-body listing tasks">
                    {{#each deployment.responses}}
                        {{> Postcard checkbox=false show_tasks=true editable=true}}
                    {{/each}}
                </div>
            </div>

            <div class="lane collapsed">
                <h2 class="lane-heading"><a href="">Contact department</a></h2>
            </div>
        </div>

    </div>

</main>

{{> Modals }}
