{{> ModeBar }}

<main role="main">

    <div class="pane">
        <ul>
            <li class="list-item"><strong>List Item #1</strong> <span>A sentence or less</span></li>

            <li class="list-item selected"><strong>List Item #2 - selected</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #3</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #4</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #5</strong> <span>A sentence or less</span></li>
        </ul>
    </div>

    <div class="pane">
        <ul>
            <li class="list-item"><strong>List Item #1</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #2</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #3</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #4</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #5</strong> <span>A sentence or less</span></li>
        </ul>
    </div>

    <div class="pane">
        <ul>
            <li class="list-item"><strong>List Item #1</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #2</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #3</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #4</strong> <span>A sentence or less</span></li>

            <li class="list-item"><strong>List Item #5</strong> <span>A sentence or less</span></li>
        </ul>
    </div>

</main>
