{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Tasks</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="listing card">
            <div class="listing-heading">
                <p>The tasks below are automatically assigned for each new response to their respective survey. <a href="">Learn more about tasks</a></p>
            </div>

            <article class="listing-item task">
                <span class="post-band" style="background-color:#A51A1A;"></span>

                <div class="listing-item-select">
                    <input type="checkbox" />
                </div>

                <div class="listing-item-secondary">
                    <button class="button-beta button-flat" data-toggle="dropdown-menu">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="hidden">More</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-toggle="task-field-x-add">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                </svg>
                                <span class="label">Change assignee</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="task-field-x-add">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                </svg>
                                <span class="label">Remove task</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-survey-edit.html">Categories</a></h2>
                    <p class="metadata">Assigned to <strong class="label">Anybody</strong></p>
                </div>
            </article>

            <article class="listing-item task">
                <span class="post-band" style="background-color:#A51A1A;"></span>

                <div class="listing-item-select">
                    <input type="checkbox" />
                </div>

                <div class="listing-item-secondary">
                    <button class="button-beta button-flat" data-toggle="dropdown-menu">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="hidden">More</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-toggle="task-field-x-add">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                </svg>
                                <span class="label">Change assignee</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="task-field-x-add">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                </svg>
                                <span class="label">Remove task</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-survey-edit.html">Report to department</a></h2>
                    <p class="metadata">Assigned to <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/david-m.png" class="avatar" /> <strong class="label">David McNamara</strong></p>
                </div>
            </article>

            <article class="listing-item task">
                <span class="post-band" style="background-color:#2274B4;"></span>

                <div class="listing-item-select">
                    <input type="checkbox" />
                </div>

                <div class="listing-item-secondary">
                    <button class="button-beta button-flat" data-toggle="dropdown-menu">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="hidden">More</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-toggle="task-field-x-add">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                                </svg>
                                <span class="label">Change assignee</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="task-field-x-add">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                                </svg>
                                <span class="label">Remove task</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-survey-edit.html">Describe the problem</a></h2>
                    <p class="metadata">Assigned to <img src="https://www.ushahidi.com/uploads/team-members/_teamImage/hazel.jpg" class="avatar" /> <strong class="label">Hazel Mugo</strong></p>
                </div>
            </article>

            <div class="listing-toolbar">
                <div class="listing-toolbar-summary">
                    <strong><span class="total"></span> selected</strong>
                    <button class="button-link">Deselect</button>
                </div>

                <div class="listing-toolbar-actions">
                    <button class="button-beta" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                        </svg>
                        <span class="button-label hide-until-small">Change assignee</span>
                    </button>

                    <button class="button-gamma">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#circle-x"></use>
                        </svg>
                        <span class="button-label hide-until-small">Remove task</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</main>

{{> Modals }}
