<div class="mode-context">

    <header class="mode-context-header">
        <a href="settings-survey-edit-tasks.html" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title" contenteditable="true">Untitled task</h1>

        <!--// SAVED //-->
        <span class="status-indicator tooltip success">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>
            <span class="label">All changes saved</span>
            <span class="bug">Every change you make is automatically saved</span>
        </span>
        <!--//-->

        <!--// SAVING //
        <span class="status-indicator">
            <span class="label">Saving...</span>
        </span>
        //-->

        <!--// SAVING //
        <span class="status-indicator error" data-message="failed-save">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
            </svg>
            <span class="label">Unsaved changes</span>
        </span>
        //-->

        <div class="button-group">

            <a class="button button-flat button-plain" data-modal="task-settings">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                </svg>
                <span class="button-label hide-until-medium">Settings</span>
            </a>

        </div>
    </header>

</div>

<main role="main">

    <div class="full-col">

        <section class="form-sheet" role="article">

            <header class="form-sheet-summary contenteditable">
                <h1 class="form-sheet-title survey-title" contenteditable="true" placeholder="Untitled survey">Untitled task</h1>
                <p contenteditable="true" placeholder="Task description"></p>
            </header>

            <div class="form-field center">
                <button class="button" data-toggle="field-type">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add field</span>
                </button>
            </div>
        </section>

    </div>

</main>

{{> Modals }}

<div id="task-settings" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Settings</h3>

        <div class="modal-body">

            <div class="form-field switch">
                <label>Require another task be completed first</label>
                <div class="toggle-switch">
                    <input class="tgl" id="require_another_task" type="checkbox" data-fieldgroup-toggle="require_another_task-yes">
                    <label class="tgl-btn" for="require_another_task"></label>
                </div>
                <div class="form-field form-fieldgroup" data-fieldgroup-target="require_another_task-yes">
                    <label>Which task must be completed before this one?</label>

                    <div class="custom-select">
                        <select>
                            {{#each deployment.surveys.0.tasks}}
                            <option>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<script>
setTimeout(function() {
    $('.form-field[draggable="true"]:first').click();
    // messageToggle($('#unsaved-changes'), true);
}, 1000);
</script>
