{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li><a href="settings-categories.html">Categories</a></li>
            <li>Create a new category</li>
        </ol>

        <div class="list-item">
            <h3>Create a new category</h3>
            <p>Create and manage categories to help organise and make sense of your reports.</p>
        </div>

        <div class="list-item">
            <fieldset>
                <div class="form-field">
                    <label for="title">Category name</label>
                    <input type="text" name="title" id="title" placeholder="What is this category called?">
                </div>
                <div class="form-field">
                    <label for="description">Category Description (optional)</label>
                    <textarea name="description" id="description" placeholder="Describe this category"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend>Who can see this category?</legend>
                <div class="form-field radio">
                    <input type="radio" id="radio_1">
                    <label for="radio_1">Everyone</label>
                </div>
                <div class="form-field radio">
                    <input type="radio" id="radio_2">
                    <label for="radio_2">Only specific roles</label>
                </div>
            </fieldset>

            <fieldset>
                <legend>Which roles can see this category?</legend>
                <div class="form-field checkbox">
                    <input type="checkbox" id="checkbox_1">
                    <label for="checkbox_1">Member</label>
                </div>
                <div class="form-field checkbox">
                    <input type="checkbox" id="checkbox_2">
                    <label for="checkbox_2">Admin</label>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-field">
                    <label for="title">Sub-category name</label>
                    <input type="text" name="title" id="title" placeholder="What is this sub-category called?">
                </div>
                <div class="form-field">
                    <label for="description">Sub-category Description (optional)</label>
                    <textarea name="description" id="description" placeholder="Describe this sub-category"></textarea>
                </div>
            </fieldset>

            <button type="button" class="button-gamma">Add a sub-category</button>
        </div>

        <div class="list-item">
            <div class="button-group">
                <button class="button-beta">Cancel</button>
                <button class="button">Save</button>
            </div>
        </div>
    </div>

</main>

{{> Modals }}
