{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Categories</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">

    </div>

    <div class="full-col">

        <div class="listing card">
            <div class="listing-item">
                <div class="listing-item-select">
                    <input type="checkbox">
                </div>

                <div class="listing-item-secondary">
                    <button class="button-beta" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-label-edit.html">Surface issues</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-select">
                    <input type="checkbox">
                </div>

                <div class="listing-item-secondary">
                    <button class="button-beta" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="">Signage</a></h2>
                </div>

                <div class="listing-item child-listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox">
                    </div>

                    <div class="listing-item-secondary">
                        <button class="button-beta" data-modal="delete-post">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden">Delete</span>
                        </button>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Broken</a></h2>
                    </div>
                </div>

                <div class="listing-item child-listing-item">
                    <div class="listing-item-select">
                        <input type="checkbox">
                    </div>

                    <div class="listing-item-secondary">
                        <button class="button-beta" data-modal="delete-post">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden">Delete</span>
                        </button>
                    </div>

                    <div class="listing-item-primary">
                        <h2 class="listing-item-title"><a href="">Missing</a></h2>
                    </div>
                </div>

            </div>

            <div class="listing-item">
                <div class="listing-item-select">
                    <input type="checkbox" />
                </div>

                <div class="listing-item-secondary">
                    <button class="button-beta" data-modal="delete-post">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="">Obstructions</a></h2>
                </div>
            </div>

            <div class="listing-toolbar">
                <div class="listing-toolbar-summary">
                    <strong><span class="total"></span> selected</strong>
                    <button class="button-gamma">Deselect</button>
                    <button class="button-gamma">Select all</button>
                </div>

                <div class="listing-toolbar-actions">
                    <button type="button" class="button-destructive">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">Delete</span>
                    </button>
                </div>
           </div>
        </div>

    </div>

</main>

{{> Modals }}
