{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Import</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">Your import is nearly complete</h2>
                <!--progress max="100" value="60">
                    <div class="loading-bar">
                        <span style="width: 60%;">Progress: 60%</span>
                    </div>
                </progress-->

                <progress>
                    <!--// Fallback for browsers that don't support progress element //-->
                    <div class="loading-bar">
                        <span style="width: 100%;"></span>
                    </div>
                </progress>
                <p>The data from your CSV spreadsheet is still being processed. You're welcome to leave this page or wait until the process is complete. Either way, we'll notify you when your data is ready.</p>

                <div class="form-field">
                    <a class="button button-beta">Import another CSV file</a>
                </div>
            </div>
        </div>

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">Your import is complete</h2>
                <p>The data from your CSV spreadsheet, <em>filename.csv</em>, was successfully imported into your <a href="">Street Maintenance</a> survey.</p>
            </div>

            <div class="form-sheet-actions">
                <div class="form-field">
                    <a class="button button-alt">See imported posts</a>
                    <a class="button button-beta">Import another CSV file</a>
                </div>
            </div>
        </div>

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">Your import had some problems</h2>
                <p><strong>88 records</strong> from your CSV spreadsheet, <em>filename.csv</em>, were sucessfully imported. But the rest couldn't be imported because <em>reasons</em>.</p>
                <ul>
                    <li>Reason 1</li>
                    <li>Reason 2</li>
                    <li>Reason 3</li>
                </ul>
                <p>We'd suggest fixing these issues in your CSV file and trying to import the file again.<p>
            </div>

            <fieldset>
                <legend>What do you want to do with the 88 records that were successfully imported?</legend>

                <div class="form-field radio">
                    <input type="radio" checked id="keep_records-false" name="keep_records" />
                    <label for="keep_records-false">
                        Remove them. I'll re-import them when I revise my CSV file.
                    </label>
                </div>

                <div class="form-field radio">
                    <input type="radio" id="keep_records-true" name="keep_records" data-fieldgroup-toggle="view-records" />
                    <label for="keep_records-true">
                        Keep them. I won't include them in my revised CVS file.
                    </label>
                </div>
            </fieldset>

            <div class="form-field">
                <a class="button">Import revised CSV file</a>
                <span data-fieldgroup-target="view-records">
                    <a class="button button-beta">View 88 imported records</a>
                </span>
            </div>
        </div>

    </div>

</main>

<div id="import-complete" class="message">
    <div class="message-body">
        <p><strong>Your CSV import</strong> is complete.</p>
        <p>The data from your CSV spreadsheet, <em>filename.csv</em>, was successfully imported into your <a href="">Street Maintenance</a> survey.</p>

        <button class="button-alt">See imported posts</button>
        <button class="message-trigger">Dismiss</button>
    </div>
</div>

<!--script>
setTimeout(function() {
    messageToggle($('#import-complete'), true);
}, 1000);
</script-->

{{> Modals }}
