{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Roles</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">

    </div>

    <div class="full-col">

        <div class="listing card">
            <div class="listing-item">
                <div class="listing-item-secondary">
                    <button type="button" class="button-beta button-flat">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-role-edit.html">Editor</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-secondary">
                    <button type="button" class="button-beta button-flat">
                        <svg class="iconic">
                          <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="hidden">Delete</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="">Contributor</a></h2>
                </div>
            </div>
        </div>

    </div>

</main>

{{> Modals }}
