{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="settings-plans.html">Plans</a></li>
        </ol>

        <h1 class="mode-context-title">Change your plan</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Continue</button>
        </div>
    </div>

    <div class="full-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">Enter your payment information</h2>
                <p>When you're finished, your deployment will be upgraded to Responder.</p>
            </div>

            <div class="form-field">
                <label class="required">Name on card</label>
                <input type="text" required placeholder="Jane Doe" />
            </div>

            <div class="form-field">
                <label class="required">Credit card number</label>
                <input type="text" required inputmode="numeric" autocomplete="cc-number" placeholder="" id="cc-number">
            </div>

                 <fieldset>
                     <legend class="required">Expiration</legend>
                     <div class="custom-select">
                         <select name="cc-exp-month" required autocomplete="cc-exp-month">
                             <option value="1">Month</option>
                             <option value="2">January</option>
                             <option value="3">February</option>
                         </select>
                     </div>
                     <div class="custom-select">
                         <select name="cc-exp-year" required autocomplete="cc-exp-year">
                             <option value="1">Year</option>
                             <option value="2">2015</option>
                             <option value="3">2016</option>
                         </select>
                     </div>
                 </fieldset>

                 <div class="form-field">
                     <label class="required">CVV</label>
                     <input style="width:80px;" type="text" required inputmode="numeric" autocomplete="cc-csc" placeholder="" id="cc-cvv" />
                 </div>

                 <div class="form-field">
                     <label>Zip/Postal Code</label>
                     <input style="width:100px;" type="text" placeholder="" id="cc-zip" />
                 </div>

                 <div class="form-field">
                     <p>* These fields are required.</p>
                 </div>
             </div>
        </div>

    </div>

</main>

{{> Modals }}
