{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li>People</li>
        </ol>

        <div class="list-item">
            <h3>Add People to Ushahidi</h3>
            <p>Add members of your team, beneficiaries, and other members or your community to Ushahidi.</p>
            <button type="button" name="button">Add People</button>
        </div>

        <div class="list-item">
            <div class="search">
                <form>
                    <div class="form-field">
                        <div class="input-with-icon">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#magnifying-glass"></use>
                            </svg>
                            <input type="search" placeholder="Search">
                        </div>
                    </div>

                   <div class="button-group">
                       <button class="button-beta">Filter</button>
                       <button class="button-beta">Sort</button>
                   </div>
                </form>
            </div>
        </div>

        <div class="list-item list">
            <ul>
                <li class="list-item success">
                    <h3>Laurence Ipsum</h3>
                    <p>Role: Member</p>
                </li>
                <li class="list-item">
                    <h3>Laurence Ipsum</h3>
                    <p>Role: Member</p>
                </li>
                <li class="list-item">
                    <h3>Laurence Ipsum</h3>
                    <p>Role: Member</p>
                </li>
                <li class="list-item">
                    <h3>Laurence Ipsum</h3>
                    <p>Role: Member</p>
                </li>
            </ul>
        </div>

    </div>

</main>

{{> Modals }}
