{{> ModeBarDash }}

<main role="main">

    <div class="toolbar">

        {{> Dash }}

        <div class="button-group">
            <a href="md-create.html" class="button button-alpha" >
                <span class="button-label">New Project</span>
            </a>
        </div>
    </div>

</main>
