{{> ModeBarDash }}

<main role="main">

    <div class="toolbar">

        {{> Dash }}

        <div class="button-group">
            <a href="md-create.html" class="button button-alpha" >
                <span class="button-label">New Project</span>
            </a>
        </div>
    </div>

    <div class="main-col">
        {{> MdCardArchive}}

        {{> MdCard}}

        {{> MdCard}}

        {{> MdCard}}

        {{> MdCard}}
    </div>

</main>

<div id="archive" class="message">
    <div class="message-image error">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#folder"></use>
        </svg>
    </div>

    <div class="message-body">
        <p>Project archived.</p>
        <div class="button-group">
            <a href="md-list.html" class="button button-alpha" data-message="archive">Got it</a>
        </div>
    </div>
</div>
