<div class="mode-context">
    <header class="mode-context-header">
        <a href="timeline.html" class="mode-context-back button button-link">
            <svg class="iconic">
                <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_back_24px"></use>
            </svg>
            <span class="hidden">Back</span>
        </a>

        <h1 class="mode-context-title">Edit stages</h1>

        <!--// SAVED //-->
        <span class="status-indicator tooltip success">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#check"></use>
            </svg>
            <span class="label">Changes saved</span>
            <span class="bug">Every change you make is automatically saved. Last saved 2 minutes ago.</span>
        </span>

        <!--// SAVING //
        <span class="status-indicator">
            <span class="label">Saving...</span>
        </span>
        //-->

        <!--// UNSAVED //
        <span class="status-indicator error" data-message="failed-save">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#warning"></use>
            </svg>
            <span class="label">Unsaved changes</span>
        </span>
        //-->
    </header>
</div>

<main role="main">

    <div class="full-col">

        <div class="lanes">

            <div class="lane">
                <div class="lane-body">
                    <div class="buttons-leftright hide-until-small">
                       <button class="button-beta" disabled>
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
                           </svg>
                           <span class="label hidden">Move left</span>
                       </button>
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                           </svg>
                           <span class="label hidden">Move right</span>
                       </button>
                    </div>

                    <div class="form-field buttons-updown hide-when-small inline">
                       <button class="button-beta" disabled>
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                           </svg>
                           <span class="label hidden">Move up</span>
                       </button>
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                           </svg>
                           <span class="label hidden">Move down</span>
                       </button>
                    </div>

                    <div class="form-field title inline">
                        <label class="hidden">Stage name</label>
                        <input type="text" value="Review" placeholer="Stage name..." />
                    </div>

                    <fieldset>
                        <legend>Who can see responses in this stage</legend>

                        <div class="form-field radio icon-input">
                            <label for="stage-0-visible-everyone">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="stage-0-visible" id="stage-0-visible-everyone" />
                                <span class="label">Everyone</span>
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="stage-0-visible-permission">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                                </svg>
                                <input type="radio" name="stage-0-visible" id="stage-0-visible-permission" checked />
                                <span class="label">Users with permission to edit responses</span>
                            </label>
                        </div>
                    </fieldset>

                    <div class="lane-footer form-field inline">
                        <button class="button-destructive">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden button-label">Delete stage</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="lane">
                <div class="lane-body">
                    <div class="buttons-leftright hide-until-small">
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
                           </svg>
                           <span class="label hidden">Move left</span>
                       </button>
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                           </svg>
                           <span class="label hidden">Move right</span>
                       </button>
                    </div>

                    <div class="form-field inline buttons-updown hide-when-small">
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                           </svg>
                           <span class="label hidden">Move up</span>
                       </button>
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                           </svg>
                           <span class="label hidden">Move down</span>
                       </button>
                    </div>

                    <div class="form-field title inline">
                        <label class="hidden">Stage name</label>
                        <input type="text" value="Investigate" placeholer="Stage name..." />
                    </div>

                    <fieldset>
                        <legend>Who can see responses in this stage</legend>

                        <div class="form-field radio icon-input">
                            <label for="stage-1-visible-everyone">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="stage-1-visible" id="stage-1-visible-everyone" />
                                <span class="label">Everyone</span>
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="stage-1-visible-permission">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                                </svg>
                                <input type="radio" name="stage-1-visible" id="stage-1-visible-permission" checked />
                                <span class="label">Users with permission to edit responses</span>
                            </label>
                        </div>
                    </fieldset>

                    <div class="lane-footer form-field inline">
                        <button class="button-destructive">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden button-label">Delete stage</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="lane">
                <div class="lane-body">
                    <div class="buttons-leftright hide-until-small">
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
                           </svg>
                           <span class="label hidden">Move left</span>
                       </button>
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                           </svg>
                           <span class="label hidden">Move right</span>
                       </button>
                    </div>

                    <div class="form-field inline buttons-updown hide-when-small">
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                           </svg>
                           <span class="label hidden">Move up</span>
                       </button>
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                           </svg>
                           <span class="label hidden">Move down</span>
                       </button>
                    </div>

                    <div class="form-field title inline">
                        <label class="hidden">Stage name</label>
                        <input type="text" value="Contact department" placeholer="Stage name..." />
                    </div>

                    <fieldset>
                        <legend>Who can see responses in this stage</legend>

                        <div class="form-field radio icon-input">
                            <label for="stage-2-visible-everyone">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="stage-2-visible" id="stage-2-visible-everyone" />
                                <span class="label">Everyone</span>
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="stage-2-visible-permission">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                                </svg>
                                <input type="radio" name="stage-2-visible" id="stage-2-visible-permission" checked />
                                <span class="label">Users with permission to edit responses</span>
                            </label>
                        </div>
                    </fieldset>

                    <div class="lane-footer form-field inline">
                        <button class="button-destructive">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden button-label">Delete stage</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="lane">
                <div class="lane-body">
                    <div class="buttons-leftright hide-until-small">
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-left"></use>
                           </svg>
                           <span class="label hidden">Move left</span>
                       </button>
                       <button class="button-beta" disabled>
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-right"></use>
                           </svg>
                           <span class="label hidden">Move right</span>
                       </button>
                    </div>

                    <div class="form-field inline buttons-updown hide-when-small">
                       <button class="button-beta">
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-top"></use>
                           </svg>
                           <span class="label hidden">Move up</span>
                       </button>
                       <button class="button-beta" disabled>
                           <svg class="iconic">
                               <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                           </svg>
                           <span class="label hidden">Move down</span>
                       </button>
                    </div>

                    <div class="form-field title inline">
                        <label class="hidden">Stage name</label>
                        <input type="text" value="Resolved" placeholer="Stage name..." />
                    </div>

                    <fieldset>
                        <legend>Who can see responses in this stage</legend>

                        <div class="form-field radio icon-input">
                            <label for="stage-3-visible-everyone">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <input type="radio" name="stage-3-visible" id="stage-3-visible-everyone" checked />
                                <span class="label">Everyone</span>
                            </label>
                        </div>

                        <div class="form-field radio icon-input">
                            <label for="stage-3-visible-permission">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                                </svg>
                                <input type="radio" name="stage-3-visible" id="stage-3-visible-permission" />
                                <span class="label">Users with permission to edit responses</span>
                            </label>
                        </div>
                    </fieldset>

                    <div class="lane-footer form-field inline">
                        <button class="button-destructive">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                            </svg>
                            <span class="hidden button-label">Delete stage</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="lane-holder">
                <button class="button-beta button-flat button-plain" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add stage</span>
                </button>
            </div>
        </div>

    </div>

</main>

{{> Modals }}
