{{> ModeBar }}

<div class="mode-context">

    <!--// Loading the mode context //
   <div class="loading">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
   </div>
   // END: Loading the mode context//-->

    <header class="mode-context-header {{#if deployment.logo}}has-logo{{/if}}">
        <h1 class="mode-context-title"><a href="">{{deployment.name}}</a></h1>

        {{#if deployment.logo}}
            <img src="{{deployment.logo}}" class="deployment-logo" />
        {{/if}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{{deployment.description}}}

        {{> SurveyFilter }}

        <div class="tool">
            <h6 class="tool-heading">How to add a post</h6>

            <span class="tool-trigger" data-toggle="toggle-content">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                </svg>
                <span class="label hidden">Show/hide</span>
            </span>
            <div class="toggle-content {{#unless user.logged_in}}active{{/unless}}">
                <p>Use the <a href="#">web form</a>.</p>
                <p>Send a text message to </br> <a href="tel:15551234567">+1-555-123-4567</a>.</p>
                <p>Send an email to <a href="mailto:cityhallmarch@domain.com" title="Subject">cityhallmarch@domain.com</a>.</p>
                <p>Tweet with the hashtag(s) <a href="https://twitter.com/search?q=%23ushahidi&src=typd">#marchoncityhall</a>.</p>
            </div>
        </div>
    </div>
</div>

<main role="main">

    <div class="toolbar">
        {{> Fab }}

        {{> Search }}

        <div class="button-group">
            <button type="button" data-modal="share">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                </svg>
                <span class="button-label">Share</span>
            </button>
        </div>
    </div>

    <div class="main-col">

        <div class="toolbox">

            {{> toolStatus }}

            <div class="tool">
                <h6 class="tool-heading">Date range</h6>

                <span class="tool-trigger" data-toggle="toggle-content">
                    <svg class="iconic">
                        <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                    </svg>
                    <span class="label hidden">Show/hide</span>
                </span>

                <div class="toggle-content active">
                    <fieldset>
                        <legend class="hidden">Date range</legend>

                        <div class="form-field date">
                            <label class="hidden">Start date</label>
                            <div class="input-with-icon">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                </svg>
                                <input type="date" placeholder="Start date" />
                            </div>
                            <span class="date-joiner">to</span>
                        </div>

                        <div class="form-field date">
                            <label class="hidden">End date</label>
                            <div class="input-with-icon">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#calendar"></use>
                                </svg>
                                <input type="date" placeholder="End date" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="listing timeline">

            <h2 class="listing-heading-section">Today</h2>

            {{#if user.logged_in}}
                {{#each deployment.posts}}
                    {{> Postcard}}
                {{/each}}
            {{else}}
                {{#each deployment.posts}}
                    {{#ifCond properties.status 'published'}}
                    {{> Postcard}}
                    {{/ifCond}}
                {{/each}}
            {{/if}}

            <div class="listing-item">
                <div class="listing-item-primary">
                    <button class="button-gamma button-flat">Load more</button>
                </div>
            </div>

            <div class="listing-toolbar">
                <div class="listing-toolbar-summary">
                    <strong><span class="total"></span> selected</strong>
                    <button class="button-link">Deselect</button>
                </div>

                <div class="listing-toolbar-actions">

                    <button class="button-beta" data-toggle="toggle-content">
                        <span class="button-label">Mark as</span>
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                    </button>
                    <ul class="dropdown-menu toggle-content">
                        <li>
                            <a href="">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                </svg>
                                <span class="label">Published</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                                </svg>
                                <span class="label">Under Review</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                                </svg>
                                <span class="label">Archive</span>
                            </a>
                        </li>
                        <div class="divider"></div>
                        <li>
                            <a href="">
                                Spam
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Duplicates
                            </a>
                        </li>
                    </ul>

                    <button type="button" class="button-beta" data-modal="add-to-collection">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
                        </svg>
                        <span class="button-label">Add to Collection</span>
                    </button>

                    <button type="button" class="button-destructive">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="button-label hidden">Delete</span>
                    </button>

                    <button type="button" class="listing-toolbar-toggle more">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="button-label">Show more</span>
                    </button>

                    <button type="button" class="listing-toolbar-toggle less">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#x"></use>
                        </svg>
                        <span class="button-label">Show less</span>
                    </button>
                </div>
            </div>

        </div>

    </div>

</main>

{{> Modals }}

<div id="empty" class="message">
    <div class="message-image">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#file"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>There are no posts</strong> in this deployment, yet.</p>

        <div class="form-button">
            <button type="button" class="button-alpha button-dropdown" data-toggle="dropdown-menu">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                </svg>
                <span class="button-label">Add post</span>
            </button>

            <ul class="dropdown-menu">
                <li><a href=""><span class="post-band" style="background-color: #A51A1A;"></span>Getting around</a></li>
                <li><a href=""><span class="post-band" style="background-color: #E69327;"></span>Police encounters</a></li>
                <li><a href=""><span class="post-band" style="background-color: #2274B4;"></span>Protester photos</a></li>
                <li><a href=""><span class="post-band" style="background-color: #5BAA00;"></span>Official events</a></li>
            </ul>
        </div>

        <button class="button-flat message-trigger">
            Dismiss
        </button>
    </div>
</div>
