{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>
        <h1 class="mode-context-title">Export</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
    </div>
</div>

<main role="main">
    <div class="main-col">
        <div class="form-sheet">

            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">
                Assign your HXL tags and attributes, select fields and export or upload
                </h2>
                <p>Select specific fields from a survey, assign a tag per field and then choose to assign multiple attributes. Preview your tag and attributes in tag preview.</p>

                <p>You can then choose to export your tagged fields to a CSV file or upload to a
                    <a href="#" class="link-blue">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#external-link"></use>
                        </svg>
                        Humanitarian Data Exchange (HDX)
                    </a>
                account that has been set up in
                <a href="#" class="link-blue">
                    Configure HDX API
                </a>
                (found in settings menu).
                </p>

                <p>Visit the
                    <a href="#" class="link-blue">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#external-link"></use>
                        </svg>
                    HXL tag assist
                    </a>
                    for more information on how to choose the best HXL tags and attributes for your data or the
                    <a href="#" class="link-blue">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#external-link"></use>
                        </svg>
                        HXL 'cheat sheet'
                    </a>
                    .
                </p>

            </div>

            <fieldset>
                <legend>A second survey</legend>

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Survey field</th>
                            <th>HXL tags</th>
                            <th>HXL attributes</th>
                            <th>Tag preview</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="form-field">
                                <input type="checkbox" class="input-large">
                            </td>
                            <td>
                                <em>Select all<em>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="form-field">
                                <input type="checkbox" class="input-large">
                            </td>
                            <td class="form-field">
                                <p>Title<p>
                            </td>
                            <td class="form-field">
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option class="bold-option">+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                            </td>
                            <td class="form-field">
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option class="bold-option">+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option class="bold-option">+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                                    <a href="#" class="link-blue">Add another hxl attribute?</a>
                            </td>
                            <td>
                                <div class="multi-line">
                                    <span class="bug bug-multi-line">#Item+reported</span>
                                    <span class="bug bug-multi-line">+threathened+abducted</span>
                                    <span class="bug bug-multi-line">+refugees+displaced</span>
                                    <span class="bug bug-multi-line">+injured<span class="badge">x</span></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="form-field">
                                <input type="checkbox" class="input-large">
                            </td>
                            <td class="form-field">
                                <p>Description<p>
                            </td>
                            <td class="form-field">
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option>+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option>+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                            </td>
                            <td class="form-field">
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option>+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                                    <a href="#" class="link-blue">Add another hxl attribute?</a>
                            </td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="form-field">
                                <input type="checkbox" class="input-large">
                            </td>
                            <td class="form-field">
                                <p>Location field<p>
                            </td>
                            <td class="form-field">
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option>+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                            </td>
                            <td class="form-field">
                                <div class="custom-select">
                                    <select>
                                        <option checked> Leave empty</option>
                                        <option>+lat - latitude</option>
                                        <option disabled><strong>+lon</strong> - longitude</option>
                                        <option><em>+elevation</em></option>
                                    </select>
                                </div>
                                <a href="#" class="link-blue">Add another hxl attribute?</a>
                            </td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
                <p> 5 fields selected...</p>
            </fieldset>

            <div class="form-field button-group">
                <button class="button-alpha">Export to CSV</button>
                <a href="settings-hdx-settings.html" class="button button-alpha">Upload to a hdx account</a>
                <a href="settings-export.html" class="button">Cancel</a>
            </div>

        </div>
    </div>
</main>
