{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Import</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="main-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">CSV</h2>
                <p>Import the data from a CSV spreadsheet into your deployment as posts belonging to a specific survey.</p>
            </div>

            <div class="stepper">

                <div class="stepper-item active">
                    <h2 class="stepper-heading">
                        <span class="stepper-badge">1</span>
                        Choose CSV file
                    </h2>

                    <div class="form-field">
                        <input id="csv-file" type="file" accept=".csv" />
                    </div>

                    <fieldset class="custom-fieldset">
                        <legend>Import to <span class="custom-fieldset-value">which survey?</span></legend>

                        {{#each deployment.surveys}}
                        <div class="form-field radio">
                            <label for="import-to-{{@index}}">
                                <input type="radio" name="import-to" id="import-to-{{@index}}" />
                                {{name}}
                            </label>
                        </div>
                        {{/each}}
                    </fieldset>

                    <div class="form-field">
                        <button type="submit" class="button-alpha" disabled>Continue</button>
                    </div>
                </div>

                <div class="stepper-item">
                    <h2 class="stepper-heading">
                        <span class="stepper-badge">2</span>
                        Configure imported posts
                    </h2>
                </div>

            </div>

        </div>

    </div>

</main>

{{> Modals }}
