{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header {{#if deployment.logo}}has-logo{{/if}}">
        <h1 class="mode-context-title"><a href="">{{deployment.name}}</a></h1>

        {{#if deployment.logo}}
            <img src="{{deployment.logo}}" class="deployment-logo" />
        {{/if}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{{deployment.description}}}
    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="listing card">
            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-general.html">General</a></h2>
                    <p class="listing-item-secondary">Change your deployment's name, description, logo, and other details.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-surveys.html">Surveys</a></h2>
                    <p class="listing-item-secondary">Create and configure the surveys your deployment collects.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-labels.html">Labels</a></h2>
                    <p class="listing-item-secondary">Create and manage the labels people can attach to survey responses.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-data-sources.html">Data sources</a></h2>
                    <p class="listing-item-secondary">Configure email, SMS, and social media channels that help your deployment collect survey data.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-import.html">Import</a></h2>
                    <p class="listing-item-secondary">Upload survey data to your deployment from a CSV file.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-users.html">Users</a></h2>
                    <p class="listing-item-secondary">Create and manage the people that contribute to your deployment.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-roles.html">Roles</a></h2>
                    <p class="listing-item-secondary">Create and manage the type of permissions your users have on your deployment.</p>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-plans.html">Plan</a></h2>
                    <p class="listing-item-secondary">Your deployment's current plan is <strong>Responder</strong>.</p>
                </div>
            </div>

        </div>

    </div>

</main>

{{> Modals }}
