<div class=login-container>
    <div class=login-window>
        <h3 class=login-title>Login</h3>
        <div class="alert error login-failed">Login failed. Check your email and password.</div>
        <div class=login-body>
            <label><span>Email Address</span><input type=text placeholder="e.g. email@email.com"></input></label>
            <label><span>Password</span><input type=password placeholder="Type your password"</input></label>
            <div class=link>
                <a href="md-password-recovery.html">
                    Forgot your password?
                </a>
            </div>
        </div>
        <div class=login-actions>
            <button class=button-alpha>Login</button>
        </div>
    </div>
</div>
