{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li>Surveys</li>
        </ol>

        <div class="list-item">
            <h3>Surveys</h3>
            <p>Create and manage surveys to collect information.</p>
            <button type="button" name="button">Create a new survey</button>
        </div>

        <div class="list-item list">
            <ul>
                <li class="list-item">
                    <h3>Survey Ipsum</h3>
                    <p>This is the survey description.</p>
                </li>
                <li class="list-item">
                    <h3>Another survey Ipsum</h3>
                    <p>This is the survey description.</p>
                </li>
                <li class="list-item">
                    <h3>Survey Ipsum</h3>
                    <p>This is the survey description.</p>
                </li>
                <li class="list-item">
                    <h3>Another survey Ipsum</h3>
                    <p>This is the survey description.</p>
                </li>
                <li class="list-item">
                    <h3>Survey Ipsum</h3>
                    <p>This is the survey description.</p>
                </li>
                <li class="list-item">
                    <h3>Another survey Ipsum</h3>
                    <p>This is the survey description.</p>
                </li>
            </ul>
        </div>

    </div>

</main>

{{> Modals }}
