{{> ModeBarDash }}

<main role="main">

    <div class="toolbar">

        {{> Dash }}

        <div class="button-group">
            <button class="button-destructive" type="button">
                <span class="button-label">Cancel</span>
            </button>
            <a href="md-new.html" class="button button-alt" >
                <span class="button-label">Save</span>
            </a>
        </div>
    </div>

    <div class="main-col">
        {{> MdCardCreate}}

        {{> MdCard}}

        {{> MdCard}}

        {{> MdCard}}

        {{> MdCard}}
    </div>

</main>
