{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li><a href="settings-surveys.html">Surveys</a></li>
            <li>{{deployment.name}}</li>
        </ol>

        <div class="list-item survey-view">
            <div class="form-field">
                <label>Name</label>
                <p class="value"><span>Name:</span> This is the name of the survey.</p>
            </div>

            <div class="form-field">
                <label>Questions</label>
                <p class="value"><span>Long text field:</span> Describe your incident.</p>
                <p class="value"><span>Long text field:</span> What happened?.</p>
            </div>

            <div class="form-field">
                <label>Rules</label>
                <p class="value"><span>Required post to be reviewed before they're published:</span> No.</p>
                <p class="value"><span>Hide author information:</span> Yes.</p>
                <p class="value"><span>Make responses private:</span> Yes.</p>
                <p class="value"><span>Permissions:</span> Only admin roles can view and add to this survey.</p>
            </div>

            <div class="button-group">
                <button class="button-destructive">Delete</button>
                <button class="button">Edit</button>
            </div>
        </div>

        <div class="list-item survey-actions">
            <ul>
                <li>
                    <h4>Survey share link</h4>
                    <p>http://surveylink.io</p>
                    <a href="#">Copy link</a>
                </li>

                <li>
                    <h4>Embed survey</h4>
                    <a href="#">Copy HTML</a>
                </li>

                <li>
                    <h4>Export survey data</h4>
                    <p>Export a csv file with all the responses to this survey</p>
                    <a href="#">Export</a>
                </li>
            </ul>
        </div>

    </div>

</main>

{{> Modals }}
