{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Export</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

    <main role="main">
        <div class="main-col">
            <!-- note, class export-options below is only needed for PL-functionality, not needed in client -->
            <div class="form-sheet export-options">
                <div class="form-sheet-summary">
                    <h2 class="form-sheet-title">
                    Export data
                    </h2>
                    <!-- note, "description" and "in-progress" classes below is only needed for PL-functionality, not needed in client -->
                    <p class="description">Export all of your data as a CSV or choose specific survey fields you want to export.</p>
                    <p class="in-progress hidden">Export in progress...</p>
                </div>
                <nav class="tabs-menu init description">
                    <ul>
                        <li id="main-export-li">
                            <a src="#">
                                Export
                            </a>
                        </li>
                        <li id="history-export-li">
                            <a src="#">
                            Export history
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="form-field">
                    <button class="button-alpha" onclick="exportAll()">Export all data</button>
                    <button class="button" onclick="exportSelected()">Select fields</button>
                    <a href="settings-hdx-export.html" class="button" disabled>Assign tags and attributes<a>
                </div>
                <div class="form-field">
                    <div class="alert" >
                        <p>It looks like you haven't set up your Humanitarian Data Exchange (HDX) API. Without this set up, you can't tag data and upload to a Humanitarian Data Exchange (HDX) account.</p>

                        <p>We strongly advide you set this up now in

                            <a href="https://data.humdata.org/" class="link-blue" target="_blank">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#external-link"></use>
                                </svg>
                                Configure HDX API
                            </a>
                                before continuing as you won't be able to upload your data to HDX.
                        </p>
                    </div>
                </div>
        <!-- note, class export-selected below is only needed for PL-functionality, not needed in client -->
        <div class="form-sheet hidden export-selected">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">
                Select fields to export...
                </h2>
                <p>If you don't want to export all of your data at once, you can select specific fields from each survey for export.</p>
            </div>
            <div class="form-field">
                <label>Survey 1</label>
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox">
                        <em><span >Select All</span></em>
                    </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Location
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Title
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Description
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Categories
                  </label>
                </div>
            </div>
            <div class="form-field">
                <label>Survey 2</label>
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox">
                        <em><span>Select All</span></em>
                    </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Title
                  </label>
                </div>
                    <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Description
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Categories
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Location
                  </label>
                </div>
            </div>
            <div class="form-field">
                <label>Survey 3</label>
                <div class="form-field checkbox">
                    <label>
                        <input type="checkbox">
                        <em><span>Select All</span></em>
                    </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Title
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Description
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Number
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Image
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Markdown
                  </label>
                </div>
                <div class="form-field checkbox">
                  <label>
                      <input type="checkbox">
                      Categories 2
                  </label>
                </div>
            </div>
            <div class="form-field">
                <button class="button-alpha">Export selected fields
                </button>
                <button class="button" onclick="exportSelected()">Cancel</button>
            </div>
        </div>
    </div>
</main>


{{> Modals }}
