{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Import</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Next</button>
        </div>
    </div>

    <div class="main-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">CSV</h2>
                <p>Import the data from a CSV spreadsheet into your deployment as posts belonging to a specific survey.</p>
            </div>

            <ol class="progress">
                <li>Choose file</li>
                <li class="active">Organize data</li>
                <li class="disabled">Configure posts</li>
            </ol>

            <fieldset class="form-field">
                <legend>Assign CSV columns to survey post fields</legend>
                <p>Each of the column names from your CSV file are listed below. Choose the <strong>Getting around</strong> post field that you'd like each column to be imported to.</p>

                <table>
                    <thead>
                        <tr>
                            <th>CSV column name</th>
                            <th>Survey field</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>
                                <div class="custom-select">
                                    <select>
                                        <option selected>Don't import</option>
                                        <option>Title</option>
                                        <option>Description</option>
                                        <option>Location</option>
                                        <option>Date posted</option>
                                        <option>Author</option>
                                        <option>Source</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Date</td>
                            <td>
                                <div class="custom-select">
                                    <select>
                                        <option selected>Don't import</option>
                                        <option>Title</option>
                                        <option>Description</option>
                                        <option>Location</option>
                                        <option>Date posted</option>
                                        <option>Author</option>
                                        <option>Source</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Location</td>
                            <td>
                                <div class="custom-select">
                                    <select>
                                        <option selected>Don't import</option>
                                        <option>Title</option>
                                        <option>Description</option>
                                        <option>Location</option>
                                        <option>Date posted</option>
                                        <option>Author</option>
                                        <option>Source</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Body</td>
                            <td>
                                <div class="custom-select">
                                    <select>
                                        <option selected>Don't import</option>
                                        <option>Title</option>
                                        <option>Description</option>
                                        <option>Location</option>
                                        <option>Date posted</option>
                                        <option>Author</option>
                                        <option>Source</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>

    </div>

</main>

{{> Modals }}
