{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li><a href="settings-people.html">People</a></li>
            <li>Add someone to {{deployment.name}}</li>
        </ol>

        <div class="list-item">
            <h3>Add People to Ushahidi</h3>
            <p>Add members of your team, beneficiaries, and other members or your community to Ushahidi.</p>
        </div>

        <div class="list-item">
            <form>
                <div class="form-field">
                   <label>Name</label>
                   <input type="text" placeholder="What is this person's name?">
                </div>

                <div class="form-field">
                   <label>Email</label>
                   <input type="email" placeholder="person@email.com">
                </div>

                <div class="form-field">
                    <label>Country code (optional)</label>
                    <div class="custom-select">
                        <select>
                            <option value="" disabled selected>Select your option</option>
                            <option>Kenya +254</option>
                            <option>US/Canada +1</option>
                        </select>
                    </div>
                </div>

                <div class="form-field">
                   <label>Phone number (optional)</label>
                   <input type="phone" placeholder="1234567890">
                </div>

                <div class="form-field">
                   <label>Twitter (optional)</label>
                   <input type="text" placeholder="@person">
                </div>

                <div class="form-field">
                   <label>Facebook username (optional)</label>
                   <input type="text" placeholder="person123">
                </div>

                <div class="button-group">
                   <button class="button-beta">Cancel</button>
                   <button class="button">Add Person</button>
               </div>
            </form>
        </div>

    </div>

</main>

{{> Modals }}
