{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Data sources</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <p>Automatically import posts from the sources you choose.</p>
    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="listing card">

            <div class="listing-item">
                <div class="listing-item-secondary">
                    <button class="button-beta button-flat listing-item-toggle">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="button-label">Configure</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title">
                        <a href="settings-data-sources-email.html">
                            Email
                            <span class="status-indicator"></span>
                        </a>
                     </h2>
                </div>

                <div class="listing-item-body">

                    <nav class="tabs-menu" data-tabs="email-tab">
                        <ul>
                            <li><a href="#email-address">Address</a></li>
                            <li><a href="#email-incoming">Incoming server</a></li>
                            <li><a href="#email-outgoing">Incoming server</a></li>
                        </ul>
                    </nav>

                    <div id="email-import" class="email-tab">

                        <div class="form-field switch">
                           <label>Assign these posts to a survey</label>
                           <div class="toggle-switch">
                              <input class="tgl" id="switch-assign" type="checkbox" data-fieldgroup-toggle="assign-email-to-survey">
                              <label class="tgl-btn" for="switch-assign"></label>
                           </div>

                           <fieldset data-fieldgroup-target="assign-email-to-survey">
                               <legend>Imported email will be assigned to:</legend>

                               <div class="form-field radio">
                                   <input checked type="radio" name="assign-to-survey" id="survey1" value="Getting around" />
                                   <label for="survey1">Getting around</label>
                               </div>

                               <div class="form-field radio">
                                   <input type="radio" name="assign-to-survey" id="survey2" value="Police encounters" />
                                   <label for="survey2">Police encounters</label>
                               </div>

                               <div class="form-field radio">
                                   <input type="radio" name="assign-to-survey" id="survey3" value="Protester photos" />
                                   <label for="survey3">Protester photos</label>
                               </div>

                               <div class="form-field radio">
                                   <input type="radio" name="assign-to-survey" id="survey4" value="Official events" />
                                   <label for="survey4">Official events</label>
                               </div>
                           </fieldset>
                        </div>


                        <fieldset class="custom-fieldset">
                            <legend><span class="custom-fieldset-value">Who</span> will be able to see these posts</legend>

                            <div class="form-field radio">
                                <input type="radio" name="email-visible" id="email-visible1" value="you" />
                                <label for="email-visible1">Only you</label>
                            </div>

                            <div class="form-field radio">
                                <input type="radio" name="email-visible" id="email-visible2" value="everyone" />
                                <label for="email-visible2">Everyone</label>
                            </div>

                            <div class="form-field radio">
                                <input checked type="radio" name="email-visible" id="email-visible3" value="roles" data-fieldgroup-toggle="email-visible-roles" />
                                <label for="email-visible3">Specific roles...</label>

                                <div class="form-fieldgroup" data-fieldgroup-target="email-visible-roles">
                                    <div class="form-field checkbox">
                                        <input type="checkbox" id="collection1" />
                                        <label for="collection1">Members</label>
                                    </div>

                                    <div class="form-field checkbox">
                                        <input type="checkbox" id="collection2" />
                                        <label for="collection2">Editors</label>
                                    </div>

                                    <div class="form-field checkbox">
                                        <input type="checkbox" id="collection3" checked />
                                        <label for="collection3">Operators</label>
                                    </div>

                                    <div class="form-field checkbox">
                                        <input type="checkbox" id="collection4" />
                                        <label for="collection4">Administrators</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div id="email-address" class="email-tab">
                        <div class="form-field">
                            <label>Email address</label>
                            <p>This will be used to send outgoing emails</p>
                            <input type="email" />
                        </div>

                        <div class="form-field">
                            <label>Sender name</label>
                            <p>Appears in the 'from:' field on outgoing emails</p>
                            <input type="text" />
                        </div>
                    </div>

                    <div id="email-incoming" class="email-tab form-fieldgroup">
                        <div class="form-field">
                            <label>Incoming server type</label>
                            <div class="custom-select">
                                <select>
                                    <option>POP</option>
                                    <option>IMAP</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-field">
                            <label>Incoming server</label>
                            <p>Examples: mail.yourwebsite.com, imap.gmail.com, pop.gmail.com</p>
                            <input type="text" />
                        </div>

                        <div class="form-field">
                            <label>Incoming server port</label>
                            <p>Common ports: 110 (POP3), 143 (IMAP), 995 (POP3 with SSL), 993 (IMAP with SSL)</p>
                            <input type="number" />
                        </div>

                        <div class="form-field">
                            <label>Incoming server security</label>
                            <div class="custom-select">
                                <select>
                                    <option>None</option>
                                    <option>SSL</option>
                                    <option>TLS</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-field">
                            <label>Incoming username</label>
                            <input type="text" />
                        </div>

                        <div class="form-field">
                            <label>Incoming password</label>
                            <input type="password" />
                        </div>

                    </div>

                    <div id="email-outgoing" class="email-tab form-fieldgroup">
                        <div class="form-field">
                            <label>Outgoing server type</label>
                            <div class="custom-select">
                                <select>
                                    <option>SMTP</option>
                                    <option>sendmail</option>
                                    <option>Native</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-field">
                            <label>Outgoing server</label>
                            <p>Examples: smtp.yourhost.com, smtp.gmail.com</p>
                            <input type="text" />
                        </div>

                        <div class="form-field">
                            <label>Outgoing server port</label>
                            <p>Common ports: 25 (SMTP default), 465 (SMTP with SSL)</p>
                            <input type="number" />
                        </div>

                        <div class="form-field">
                            <label>Outgoing server security</label>
                            <div class="custom-select">
                                <select>
                                    <option>None</option>
                                    <option>SSL</option>
                                    <option>TLS</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-field">
                            <label>Outgoing username</label>
                            <input type="text" />
                        </div>

                        <div class="form-field">
                            <label>Outgoing password</label>
                            <input type="password" />
                        </div>

                    </div>

                    <div class="form-field">
                        <button type="button" disabled>
                            <!--// IF submitting a no-yet validated account configuration //-->
                            Connect account
                            <!--// ELSE //
                            Update account
                            // END IF //-->
                        </button>
                    </div>

                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-secondary">
                    <button class="button-beta button-flat listing-item-toggle">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                        </svg>
                        <span class="button-label">Configure</span>
                    </button>
                </div>

                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <img class="icon" src="../../img/twitter.png" alt="">
                    </div>

                    <h2 class="listing-item-title">
                        <a href="settings-data-sources-twitter.html">
                            Twitter
                            <span class="status-indicator green"></span>
                        </a>
                     </h2>
                </div>

                <div class="listing-item-body">
                    <!--// IF: Twitter account is successfully configured //-->
                    <div class="form-field switch">
                       <label>Automatically import tweets</label>
                       <div class="toggle-switch">
                          <input checked class="tgl" id="email-status" type="checkbox">
                          <label class="tgl-btn" for="email-status"></label>
                       </div>
                       <p><em>When turned on, Ushahidi will continuously search for tweets that include the keywords you've defined below. Any matches will be automatically imported into your deployment.</em></p>
                    </div>
                    <!--// END IF //-->

                    <div class="form-field">
                        <label>
                            Keywords
                            <input type="text" placeholder="ushahidi" value="ushahidi" />
                        </label>
                        <p>Separate each search term with commas.</p>
                    </div>

                    <div class="form-field switch">
                        <label>Import to survey</label>
                        <div class="toggle-switch">
                            <input class="tgl" id="import_to_survey" type="checkbox" data-fieldgroup-toggle="import_to_survey-survey" />
                            <label class="tgl-btn" for="import_to_survey"></label>
                        </div>

                        <div data-fieldgroup-target="import_to_survey-survey">
                            <p><em>All incoming tweets will be used to create responses to the survey you choose.</em></p>

                            <fieldset class="custom-fieldset">
                                <legend>Import to <span class="custom-fieldset-value">which survey?</span></legend>

                                {{#each deployment.surveys}}
                                <div class="form-field radio">
                                    <input type="radio" id="import_to_survey-{{@index}}" name="import_to_survey-survey" data-fieldgroup-toggle="import_to_survey-fields" />
                                    <label for="import_to_survey-{{@index}}">{{name}}</label>
                                </div>
                                {{/each}}
                            </fieldset>

                            <fieldset data-fieldgroup-target="import_to_survey-fields">
                                <legend>Choose what should be assigned to each survey field</legend>
                                <p>Each of the survey's fields are listed below. Choose the data from your tweets that you'd like to use to populate each of those fields.</p>

                                <table>
                                    <thead>
                                        <tr>
                                            <th>Survey field</th>
                                            <th>Tweet data</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td><span class="required">Title</span></td>
                                            <td>
                                                <div class="custom-select">
                                                    <select>
                                                        <option selected>Leave empty</option>
                                                        <option>Date</option>
                                                        <option>Location</option>
                                                        <option>Author</option>
                                                        <option>Body</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><span class="required">Description</span></td>
                                            <td>
                                                <div class="custom-select">
                                                    <select>
                                                        <option selected>Leave empty</option>
                                                        <option>Date</option>
                                                        <option>Location</option>
                                                        <option>Author</option>
                                                        <option>Body</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Name</td>
                                            <td>
                                                <div class="custom-select">
                                                    <select>
                                                        <option selected>Leave empty</option>
                                                        <option>Date</option>
                                                        <option>Location</option>
                                                        <option>Author</option>
                                                        <option>Body</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Location</td>
                                            <td>
                                                <div class="custom-select">
                                                    <select>
                                                        <option selected>Leave empty</option>
                                                        <option>Date</option>
                                                        <option>Location</option>
                                                        <option>Author</option>
                                                        <option>Body</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Categories</td>
                                            <td>
                                                <div class="custom-select">
                                                    <select>
                                                        <option selected>Leave empty</option>
                                                        <option>Date</option>
                                                        <option>Location</option>
                                                        <option>Author</option>
                                                        <option>Body</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>

                    <h3 class="form-sheet-title section-title">Twitter configuration</h3>
                    <p>To connect Twitter to your deployment, you need to:</p>
                    <ol>
                        <li><a href="https://apps.twitter.com/app/new" target="_blank">Create a "Twitter Application."</a></li>
                        <li>Select "Keys and Access Tokens."</li>
                        <li>Select "Generate Consumer Key and Secret."</li>
                        <li>Copy and paste the necessary keys, tokens, and secrets into the fields below.</li>
                    </ol>

                    <div class="form-field required">
                        <label>Consumer key</label>
                        <input type="text" value="pIxWSXW12mqw3PUz6sNQvCdrd" />
                    </div>

                    <div class="form-field required">
                        <label>Consumer secret</label>
                        <input type="text" value="dSVIVFC6lbuQLKrFHWltPDuHjM7QoniQUN4tsuDU80469vf3Px" />
                    </div>

                    <div class="form-field">
                        <button type="button" disabled>
                            <!--// IF submitting a no-yet validated account configuration //-->
                            Connect to Twitter
                            <!--// ELSE //
                            Update connection
                            // END IF //-->
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{> Modals }}

<!--// IF  //-->
<div id="unknown" class="message">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>Your deployment is now automatically importing email</strong>.</p>

        <!--// IF data source is not configured to add new posts to a specific survey //-->
        <p>Because you've chosen to keep these posts' survey unknown for now, we've added an "Unknown" survey to your deployment's list of surveys. You can use this to quickly see any posts that are waiting to be added to a specific survey.</p>
        <a href="" class="button button-beta button-flat">
            Show unknown survey posts
        </a>
        <!--// END IF //-->

        <button class="button-flat message-trigger">
            Got it
        </button>
    </div>
</div>

<script>
setTimeout(function() {
    //messageToggle($('#unknown'), true);
}, 1000);
</script>
