{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Surveys</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
    </div>

    <div class="full-col">
        <div class="listing card">
            <article class="listing-item">
                 <div class="listing-item-primary">
                    <div class="button-group right">
                        <a href="settings-survey-edit.html" class="button button-alpha">New survey</a>
                    </div>
                    <h2 class="listing-item-title"><a href="settings-survey-edit.html">Create a new survey</a></h2>
                    <p class="listing-item-secondary">Create an open or targeted survey to gather information about Ushahidi</p>
                </div>
            </article>
        </div>

        <div class="listing card">

            {{#each deployment.surveys}}
            {{#unless datasource}}
            <article class="listing-item">
                <span class="post-band" style="background-color:#{{color}};"></span>

                <div class="listing-item-secondary">
                    <button class="button-beta button-flat" data-toggle="dropdown-menu">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                        </svg>
                        <span class="hidden">More</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">
                                <svg class="iconic">
                                    <use xlink:href="../../img/material/svg-sprite-content-symbol.svg#ic_content_copy_24px"></use>
                                </svg>
                                <span class="label">Duplicate</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg class="iconic">
                                    <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                                </svg>
                                <span class="label">Delete</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="listing-item-primary">
                    <h2 class="listing-item-title"><a href="settings-survey-edit.html">{{name}}</a></h2>
                    <p class="listing-item-secondary">{{description}}</p>
                </div>
            </article>
            {{/unless}}
            {{/each}}

        </div>

    </div>

</main>

{{> Modals }}
