{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header {{#if deployment.logo}}has-logo{{/if}}">
        <h1 class="mode-context-title"><a href="">{{deployment.name}}</a></h1>

        {{#if deployment.logo}}
            <img src="{{deployment.logo}}" class="deployment-logo" />
        {{/if}}
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        {{{deployment.description}}}
    </div>
</div>

<main role="main">

    <div class="toolbar">
        {{> Search }}

        <div class="button-group">
            <button>
                <svg class="iconic">
                    <use xlink:href="../../img/material/svg-sprite-action-symbol.svg#ic_view_column_24px"></use>
                </svg>
                <span class="button-label hide-until-medium">Edit stages</span>
            </button>
        </div>
    </div>

    <div class="full-col">

        <div class="lanes">

            <div class="lane">
                <h2 class="lane-heading">
                    <span class="tooltip">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="bug">Only people with permission to <br />edit responses can see these</span>
                    </span>
                    <a href="">Review</a>
                    <span class="status-indicator"><span class="label">16</span></span>
                </h2>

                <div class="lane-body listing">
                    {{#each deployment.responses}}
                        {{> Postcard checkbox=false show_tasks=false editable=false draggable=true}}
                    {{/each}}
                </div>
            </div>

            <div class="lane">
                <h2 class="lane-heading">
                    <span class="tooltip">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="bug">Only people with permission to <br />edit responses can see these</span>
                    </span>
                    <a href="workflow-column.html">Investigate</a>
                    <span class="status-indicator"><span class="label">9</span></span>
                </h2>

                <div class="lane-body listing">
                    {{#each deployment.responses}}
                        {{> Postcard checkbox=false show_tasks=false editable=false draggable=true}}
                    {{/each}}
                </div>
            </div>

            <div class="lane">
                <h2 class="lane-heading">
                    <span class="tooltip">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <span class="bug">Only people with permission to <br />edit responses can see these</span>
                    </span>
                    <a href="">Contact department</a>
                    <span class="status-indicator"><span class="label">5</span></span>
                </h2>

                <div class="lane-body listing">
                    {{#each deployment.responses}}
                        {{> Postcard checkbox=false show_tasks=false editable=false draggable=true}}
                    {{/each}}
                </div>
            </div>

            <div class="lane">
                <h2 class="lane-heading">
                    <span class="tooltip">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="bug">Everyone can see these responses</span>
                    </span>
                    <a href="">Resolved</a>
                    <span class="status-indicator"><span class="label">45</span></span>
                </h2>

                <div class="lane-body listing">
                    {{#each deployment.responses}}
                        {{> Postcard checkbox=false show_tasks=false editable=false draggable=true}}
                    {{/each}}
                </div>
            </div>

            <div class="lane-holder">
                <button class="button-beta button-flat button-plain" data-toggle="dropdown-menu">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                    </svg>
                    <span class="button-label">Add stage</span>
                </button>
            </div>
        </div>

    </div>

</main>

{{> Modals }}
