<div class=login-main>
    <div class=login-window>
        <h3 class=login-title>Forgot your password?</h3>
        <div class="alert">Enter your email to request a password reset</div>
        <div class=login-body>
            <label><span>Email Address</span><input type=text placeholder="e.g. email@email.com"></input></label>
        </div>
        <div class=login-actions>

            <button class="button-link">CANCEL</button>
            <button class="button-primary"">RESET MY PASSWORD</button>
        </div>
    </div>
</div>