{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Import</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Finish</button>
        </div>
    </div>

    <div class="full-col">

        <div class="form-sheet">
            <div class="form-sheet-summary">
                <h2 class="form-sheet-title">CSV</h2>
                <p>Import the data from a CSV spreadsheet into your deployment as posts belonging to a specific survey.</p>
            </div>

            <ol class="progress">
                <li>Choose file</li>
                <li>Organize data</li>
                <li class="active">Configure posts</li>
            </ol>

            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Mark all imported posts as...</h3>
            </div>

            <fieldset class="custom-fieldset">
                <legend><span class="custom-fieldset-value">Status</span></legend>

                <div class="form-field radio icon-input">
                    <label for="status-published">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <input type="radio" name="status" id="status-published" checked />
                        Published
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <label for="status-review">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#lock-locked"></use>
                        </svg>
                        <input type="radio" name="status" id="status-review" />
                        Under review
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <label for="status-archive">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#box"></use>
                        </svg>
                        <input type="radio" name="status" id="status-archive" />
                        Archived
                    </label>
                </div>
            </fieldset>

            <!-- IF: Post Type has "Verification" step -->
            <div class="form-field switch">
                <label for="verified">Verified</label>

                <div class="toggle-switch">
                    <input class="tgl" id="verified" type="checkbox">
                    <label class="tgl-btn" for="verified"></label>
                </div>
            </div>
            <!-- END:IF -->

            <!-- IF: Post Type has "Translation" step -->
            <div class="form-field switch">
                <label for="translation">Translated</label>

                <div class="toggle-switch">
                    <input class="tgl" id="translation" type="checkbox">
                    <label class="tgl-btn" for="translation"></label>
                </div>
            </div>
            <!-- END:IF -->

            <div class="form-sheet-summary">
                <h3 class="form-sheet-title">Assign a value to empty fields</h3>
                <p>Any unused <strong>Getting around</strong> fields are listed below. You can assign the same value to each field for all imported posts, or leave the unused fields blank.</p>
            </div>

            <div class="form-field">
                <label>Author</label>
                <input type="datetime" />
            </div>

            <div class="form-field">
                <label>Data source</label>
                <div class="custom-select">
                    <select>
                        <option selected>Web</option>
                        <option>SMS</option>
                        <option>Email</option>
                    </select>
                </div>
            </div>

            <div class="form-field">
                <label>Location</label>
                <input type="text" placeholder="lat,lng" />
            </div>

            <fieldset>
                <legend>Categories</legend>

                <div class="form-field checkbox">
                    <label for="cat1"><input type="checkbox" id="cat1">Category 1</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat2"><input type="checkbox" id="cat2">Category 2</label>
                </div>
                <div class="form-field checkbox">
                    <label for="cat3"><input type="checkbox" id="cat3">Category 3</label>
                </div>
            </fieldset>
        </div>

    </div>
</main>

{{> Modals }}
