{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li>Categories</li>
        </ol>

        <div class="list-item">
            <h3>Categories</h3>
            <p>Create and manage categories to help organise and make sense of your reports.</p>
            <button type="button" name="button">Create a new category</button>
        </div>

        <div class="list-item list">
            <ul>
                <li class="list-item">
                    <h3>Category Ipsum</h3>
                    <p class="sub-category">This is a sub-category</p>
                </li>
                <li class="list-item">
                    <h3>Category Ipsum</h3>
                </li>
                <li class="list-item">
                    <h3>Category Ipsum</h3>
                </li>
                <li class="list-item">
                    <h3>Category Ipsum</h3>
                </li>
                <li class="list-item">
                    <h3>Category Ipsum</h3>
                </li>
            </ul>
        </div>

    </div>

</main>

{{> Modals }}
