{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ul>
            <li class="list-item">
                <h3>General</h3>
                <p>Change your deployment's name, description, logo, and other details.</p>
            </li>

            <li class="list-item">
                <h3>Surveys</h3>
                <p>Create and configure the surveys your deployment collects.</p>
            </li>

            <li class="list-item">
                <h3>Data Sources</h3>
                <p>Configure email, SMS, and social media channels that help your deployment collect survey data.</p>
            </li>

            <li class="list-item">
                <h3>Export Data</h3>
                <p>Export all of your data as a CSV file or choose custom fields to export.</p>
            </li>

            <li class="list-item">
                <h3>People</h3>
                <p>Create and manage the people that contribute to your deployment.</p>
            </li>

            <li class="list-item">
                <h3>Roles</h3>
                <p>Create and manage the type of permissions your users have on your deployment.</p>
            </li>

            <li class="list-item">
                <h3>Categories</h3>
                <p>Create and manage the categories people can put posts into for improved organization.</p>
            </li>

            <li class="list-item">
                <h3>Webhoooks</h3>
                <p>Create webhooks that send Ushahidi Platform data to external applications when specific events are triggered.</p>
            </li>

            <li class="list-item">
                <h3>Plans</h3>
                <p>Your deployment's current plan is Responder.</p>
            </li>
        </ul>
    </div>

</main>

{{> Modals }}
