{{> ModeBar }}

<main role="main">

    <div class="full-col">
        <ol class="breadcrumbs">
            <li><a href="settings.html">Settings</a></li>
            <li><a href="settings-people.html">People</a></li>
            <li>{{user.name}}</li>
        </ol>

        <div class="list-item">
            <!-- <h3>Contact details</h3> -->
            <form>
                <div class="form-field">
                   <label>Name</label>
                   <input type="text" value="{{user.name}}">
                </div>

                <div class="form-field">
                   <label>Email</label>
                   <input type="email" value="seth@ushahidi.com">
                </div>

                <div class="form-field">
                    <label>Country code (optional)</label>
                    <div class="custom-select">
                        <select>
                            <option value="" disabled>Select your option</option>
                            <option>Kenya +254</option>
                            <option selected>US/Canada +1</option>
                        </select>
                    </div>
                </div>

                <div class="form-field">
                   <label>Phone number (optional)</label>
                   <input type="phone" value="919-867-5309">
                </div>

                <div class="form-field">
                   <label>Twitter (optional)</label>
                   <input type="text" value="@sethburtonhall">
                </div>

                <div class="form-field">
                   <label>Facebook username (optional)</label>
                   <input type="text" value="sethburtonhall">
                </div>

                <div class="button-group">
                   <button class="button-beta" disabled>Cancel</button>
                   <button class="button" disabled>Save</button>
               </div>
            </form>
        </div>

        <div class="list-item">
            <!-- <h3>Password</h3> -->
            <form>
                <div class="form-field">
                   <label>Password</label>
                   <input type="password" value="•••••••">
                </div>

                <div class="form-field">
                   <label>Repeat Password</label>
                   <input type="password" value="•••••••">
                </div>

                <div class="button-group">
                   <button class="button-beta" disabled>Cancel</button>
                   <button class="button" disabled>Save</button>
               </div>
            </form>
        </div>

        <div class="list-item">
            <!-- <h3>Delete person</h3> -->
            <button type="button"class="button-destructive">Delete person</button>

        </div>
    </div>

</main>

{{> Modals }}
