{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Plans</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">

    </div>
</div>

<main role="main">

    <div class="wrapper">
        <div class="tiers" role="article">
            <nav class="tabs-menu" data-tabs="pricing-tabs">
                <ul>
                    <li>
                        <a href="#demo">
                            Ushahidi Demo
                            <span class="tabs-label">Self Service</span>
                        </a>

                    </li>
                    <li>
                        <a href="#basic">
                            Ushahidi Basic
                            <span class="tabs-label">Self Service</span>
                        </a>

                    </li>
                    <li>
                        <a href="#enterprise-single">
                            Single Deployment
                            <span class="tabs-label alt">Enterprise</span>
                        </a>

                    </li>
                    <li>
                        <a href="#enterprise-multiple">
                            Multiple Deployment
                            <span class="tabs-label alt">Enterprise</span>
                        </a>

                    </li>
                </ul>
            </nav>

            <div class="tier pricing-tabs" id="demo">
                <span class="tier-label">Self Service</span>

                <div class="tier-summary">
                    <h2 class="tier-name">Ushahidi Demo</h2>
                    <p class="small">limited use - 1 month</p>
                    <p>Test out the Ushahidi crowdsourcing and situation awareness platform.</p>
                    <strong class="tier-price">Free</strong>

                    <a href="https://ushahidi.io/create?tier=free" class="button button-alpha" onclick="ga('send','event','links','select', 'plan-free',1);">Sign up</a>
                </div>

                <div class="show-on-mobile">
                    <div class="tier-features">
                        <div class="tier-feature">
                            <h3 class="tier-heading">Free Software, Hosting, and Maintenance</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Embeddable web form, email, SMSsync, data collection online/offline iOS and Android App. Map and Timeline data visualization <br /> Roles/Permissions. Email, SMS, Twitter. Private Deployments. Analytics Visualization Page. Import/Export Data.</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">1 Deployment</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">25 admins and/or custom roles</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">25 posts maximum</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Crowdsourced surveys</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">No targeted surveys</h3>
                        </div>
                    </div>

                    {% include  "partials/pricing/demo.html" %}
                </div>
            </div>

            <div class="tier pricing-tabs" id="basic">
                <span class="tier-label">Self Service</span>
                <div class="tier-summary">
                    <h2 class="tier-name">Ushahidi Basic</h2>
                    <p class="small hide-on-mobile" style="visibility: hidden;">this is a line break hack</p>
                    <p>Collect, monitor, analyze, and respond to real time incidents and engage with stakeholders.</p>
                    <strong class="tier-price">$499 <em>/mo</em></strong>
                    <a href="https://ushahidi.io/create?tier=basic" class="button button-alpha" onclick="ga('send','event','links','select', 'plan-surveyor',1);">Sign up</a>
                </div>

                <div class="show-on-mobile">
                    <div class="tier-features">
                        <div class="tier-feature">
                            <h3 class="tier-heading">$499/month for Software, Hosting, and Maintenance</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Embeddable web form, email, SMSsync, data collection online/offline iOS and Android App. Map and Timeline data visualization <br /> Roles/Permissions. Email, SMS, Twitter. Private Deployments. Analytics Visualization Page. Import/Export Data.</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">1 Deployment</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">25 admins and/or custom roles</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Unlimited posts</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Crowdsourced surveys</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">No targeted surveys</h3>
                        </div>
                    </div>

                    {% include  "partials/pricing/basic.html" %}
                </div>
            </div>

            <div class="tier pricing-tabs" id="enterprise-single">
                <span class="tier-label alt">Enterprise</span>
                <div class="tier-summary">
                    <h2 class="tier-name">Ushahidi Enterprise: Single Deployment</h2>
                    <p>Ushahidi platform capabilities, technical expertise, ongoing support, and customizations.</p>
                    <p class="hide-on-mobile" style="visibility: hidden;">this is a line break hack. this is a line break hack. this is a line break hack. this is a line break hack. this is a line break hack. this is a line break hack. this is a line break hack.</p>
                    <!-- <p class="form-heading">Contact us about Enterprise Services for your organization</p> -->

                    <!-- <a href="https://ushahidi.io/create?tier=enterprise-single" class="button button-alpha" onclick="ga('send','event','links','select', 'plan-responder',1);">Sign up</a> -->
                </div>

                <form id="form7" name="form7" class="wufoo topLabel" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ushah.wufoo.com/forms/pb6wq340260j75/#public">

                    <div class="form-field">
                        <label class="desc" id="title1" for="Field1">Your name <span id="req_1" class="req">*</span></label>
                        <input placeholder="Your name" id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required>
                    </div>

                    <div class="form-field">
                        <label class="desc nodisplay" id="title2" for="Field2">Your email <span id="req_2" class="req">*</span></label>
                        <input placeholder="you@organization.com" id="Field2" name="Field2" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required>
                    </div>

                    <div class="form-field">
                        <label class="desc nodisplay" id="title3" for="Field5">Phone number <span id="req_5" class="req">*</span></label>
                        <input id="Field5" class="field text medium" name="Field5" tabindex="3" onkeyup="handleInput(this);" onchange="handleInput(this);" required="" type="tel" maxlength="255" value="" style="display: block; width: 100%;">
                    </div>

                    <div class="form-field">
                        <label class="desc nodisplay" id="title3" for="Field3">Your organization</label>
                        <input placeholder="Your organization" id="Field3" name="Field3" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="">
                    </div>

                    <div class="form-field">
                        <button id="saveForm" name="saveForm" class="button btTxt submit" type="submit" onclick="ga('send','event','links','contact', 'plan-solutions',1);">Continue</button>
                    </div>

                    <div class="nodisplay">
                        <label for="comment">Do Not Fill This Out</label>
                        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                        <input type="hidden" id="idstamp" name="idstamp" value="zkhl5vdgevIPMx9QV0j5WIpon8aq8lW5GuXOYyAWb/k=">
                    </div>
                </form>

                <div class="tier-features">
                    <div class="tier-feature">
                        <strong class="tier-price">Base Pricing</strong>
                        <p class="small">(1 Deployment)</p>
                        <h3 class="tier-heading">
                            Set-up
                            <br />
                            $15,000+
                            <br /><br />
                            1 Remote Training
                            <br />
                            $1,500+
                            <br /><br />
                            Software, Hosting & Maintenance
                            <br />
                            $999+/month
                            <br /><br />
                            Ongoing Technical Support
                            <br />
                            $1500+/month
                            <br /><br />
                            <p class="small">*pricing modified based upon circumstances and customizations</p>
                        </h3>
                    </div>
                </div>

                <div class="show-on-mobile">
                    <div class="tier-features">
                        <div class="tier-feature">
                            <h3 class="tier-heading">$999+/month for Software, Hosting, and Maintenance</h3>
                            <p class="small">*subject to increase with customizations</p>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">All of Ushahidi Basic + 25 admins. SMS targeted surveys. Automated sorting capabilities.</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">1 Deployment</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">25 admins and/or custom roles</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Unlimited posts</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Crowdsourced surveys</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Access to targeted surveys and the ability to gather and upload contacts and send multi-question SMS surveys. Contact for pricing based on country location and survey sizes</h3>
                        </div>
                    </div>

                    {% include  "partials/pricing/enterprise-single.html" %}
                </div>
            </div>

            <div class="tier pricing-tabs" id="enterprise-multiple">
                <span class="tier-label alt">Enterprise</span>
                <div class="tier-summary">
                    <h2 class="tier-name">Ushahidi Enterprise: Multiple Deployments</h2>
                    <p>Ushahidi platform capabilities, technical expertise, ongoing support, and customizations.</p>
                    <p>Integrate Ushahidi across your organization or project activities by using multiple Ushahidi platform deployments.</p>
                    <!-- <p class="form-heading">Contact us about Enterprise Services for your organization</p> -->

                    <!-- <a href="https://ushahidi.io/create?tier=enterprise-single" class="button button-alpha" onclick="ga('send','event','links','select', 'plan-responder',1);">Sign up</a> -->
                </div>

                <form id="form7" name="form7" class="wufoo topLabel" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ushah.wufoo.com/forms/pb6wq340260j75/#public">

                    <div class="form-field">
                        <label class="desc" id="title1" for="Field1">Your name <span id="req_1" class="req">*</span></label>
                        <input placeholder="Your name" id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required>
                    </div>

                    <div class="form-field">
                        <label class="desc nodisplay" id="title2" for="Field2">Your email <span id="req_2" class="req">*</span></label>
                        <input placeholder="you@organization.com" id="Field2" name="Field2" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="2" required>
                    </div>

                    <div class="form-field">
                        <label class="desc nodisplay" id="title3" for="Field5">Phone number <span id="req_5" class="req">*</span></label>
                        <input id="Field5" class="field text medium" name="Field5" tabindex="3" onkeyup="handleInput(this);" onchange="handleInput(this);" required="" type="tel" maxlength="255" value="" style="display: block; width: 100%;">
                    </div>

                    <div class="form-field">
                        <label class="desc nodisplay" id="title3" for="Field3">Your organization</label>
                        <input placeholder="Your organization" id="Field3" name="Field3" type="text" class="field text medium" value="" maxlength="255" tabindex="3" onkeyup="">
                    </div>

                    <div class="form-field">
                        <button id="saveForm" name="saveForm" class="button btTxt submit" type="submit" onclick="ga('send','event','links','contact', 'plan-solutions',1);">Continue</button>
                    </div>

                    <div class="nodisplay">
                        <label for="comment">Do Not Fill This Out</label>
                        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                        <input type="hidden" id="idstamp" name="idstamp" value="zkhl5vdgevIPMx9QV0j5WIpon8aq8lW5GuXOYyAWb/k=">
                    </div>
                </form>

                <div class="tier-features">
                    <div class="tier-feature">
                        <strong class="tier-price">Base Pricing</strong>
                        <p class="small">(5 Deployments)</p>
                        <p class="small">*contact us for pricing for 10, 25, or custom deployment packages</p>
                        <h3 class="tier-heading">
                            Set-up
                            <br />
                            $50,000+
                            <br /><br />
                            5 Remote Trainings
                            <br />
                            $6,000+
                            <br /><br />
                            Software, Hosting & Maintenance
                            <br />
                            $2000+/month
                            <br /><br />
                            Ongoing Technical Support
                            <br />
                            $3,000+/month
                            <br /><br />
                            <p class="small">*pricing modified based upon circumstances and customizations</p>
                        </h3>
                    </div>
                </div>

                <div class="show-on-mobile">
                    <div class="tier-features">
                        <div class="tier-feature">
                            <h3 class="tier-heading">$2000+/month for Software, Hosting, and Maintenance</h3>
                            <p class="small">*subject to increase with customizations</p>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">All of Ushahidi Basic + Unlimited admins. SMS targeted surveys. Automated sorting capabilities.</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">5 Deployments</h3>
                            <p class="small">*contact us for pricing for 10, 25, or custom deployment packages</p>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Unlimited admins</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Unlimited posts</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Crowdsourced surveys</h3>
                        </div>

                        <div class="tier-feature">
                            <h3 class="tier-heading">Access to targeted surveys and the ability to gather and upload contacts and send multi-question SMS surveys. Contact for pricing based on country location and survey sizes</h3>
                        </div>
                    </div>

                    {% include  "partials/pricing/enterprise-multiple.html" %}
                </div>
            </div>
        </div>

        <div class="tiers hide-on-mobile" role="article">

            <div class="tier-label">Platform Technology</div>

            <div class="tier">
                <div class="tier-features">
                    <div class="tier-feature">
                        <h3 class="tier-heading">Free Software, Hosting, and Maintenance</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Embeddable web form, email, SMSsync, data collection online/offline iOS and Android App. Map and Timeline data visualization <br /> Roles/Permissions. Email, SMS, Twitter. Private Deployments. Analytics Visualization Page. Import/Export Data.</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">1 Deployment</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">25 admins and/or custom roles</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">25 posts maximum</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Crowdsourced surveys</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">No targeted surveys</h3>
                    </div>
                </div>
            </div>

            <div class="tier">
                <div class="tier-features">
                    <div class="tier-feature">
                        <h3 class="tier-heading">$499/month for Software, Hosting, and Maintenance</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Embeddable web form, email, SMSsync, data collection online/offline iOS and Android App. Map and Timeline data visualization <br /> Roles/Permissions. Email, SMS, Twitter. Private Deployments. Analytics Visualization Page. Import/Export Data.</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">1 Deployment</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">25 admins and/or custom roles</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Unlimited posts</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Crowdsourced surveys</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">No targeted surveys</h3>
                    </div>
                </div>
            </div>

            <div class="tier">
                <div class="tier-features">
                    <div class="tier-feature">
                        <h3 class="tier-heading">$999+/month for Software, Hosting, and Maintenance</h3>
                        <p class="small">*subject to increase with customizations</p>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">All of Ushahidi Basic + 25 admins. SMS targeted surveys. Automated sorting capabilities.</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">1 Deployment</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">25 admins and/or custom roles</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Unlimited posts</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Crowdsourced surveys</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Access to targeted surveys and the ability to gather and upload contacts and send multi-question SMS surveys. Contact for pricing based on country location and survey sizes</h3>
                    </div>
                </div>
            </div>

            <div class="tier">
                <div class="tier-features">
                    <div class="tier-feature">
                        <h3 class="tier-heading">$2000+/month for Software, Hosting, and Maintenance</h3>
                        <p class="small">*subject to increase with customizations</p>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">All of Ushahidi Basic + Unlimited admins. SMS targeted surveys. Automated sorting capabilities.</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">5 Deployments</h3>
                        <p class="small">*contact us for pricing for 10, 25, or custom deployment packages</p>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Unlimited admins</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Unlimited posts</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Deployments appear in Ushahidi iOS/Android App</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Crowdsourced surveys</h3>
                    </div>

                    <div class="tier-feature">
                        <h3 class="tier-heading">Access to targeted surveys and the ability to gather and upload contacts and send multi-question SMS surveys. Contact for pricing based on country location and survey sizes</h3>
                    </div>
                </div>
            </div>

            <div class="tier-label">Cataloug of Services</div>

            <div class="tier-label blank">One-time Support Services</div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">One-time Support Services not available for demo</h3>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">One-time Support Services not available for basic</h3>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">One-time Support Services</h3>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Collaborative Discovery Session</h3>
                    <p class="small">*contact for pricing</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">
                        Platform set-up
                        <br />
                        $15,000+
                    </h3>
                    <p class="small">*required for base Enterprise Partnership</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Survey configuration - Contact for pricing</h3>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">
                        Training of project administrators
                        <br />
                        $1500+
                    </h3>
                    <p class="small">*required for base Enterprise Partnership</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Training of trainers, Training of monitors or field staff, Stakeholder Engagement Toolkit, White Labeling, Translation</h3>
                    <p class="small">*contact for pricing</p>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">One-time Support Services</h3>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Collaborative Discovery Session</h3>
                    <p class="small">*contact for pricing</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">
                        Platform set-up
                        <br />
                        $50,000+
                    </h3>
                    <p class="small">*required for base Enterprise Partnership</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Survey configuration - Contact for pricing</h3>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">
                        Training of project administrators
                        <br />
                        $7500+
                    </h3>
                    <p class="small">*required for base Enterprise Partnership</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Training of trainers, Training of monitors or field staff, Stakeholder Engagement Toolkit, White Labeling, Translation</h3>
                    <p class="small">*contact for pricing</p>
                </div>
            </div>

            <div class="tier-label blank">Ongoing support services</div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Ongoing support services not available for demo</h3>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Ongoing support services not available for demo</h3>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Ongoing support services</h3>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">
                        Ongoing technical support account manager
                        <br />
                        $1500+/month
                    </h3>
                    <p class="small">*required for base Enterprise Partnership</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Long-term embedded Ushahidi platform administrator(s)</h3>
                    <p class="small">*contact for pricing</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Long-term embedded Ushahidi platform community engagement officer(s)</h3>
                    <p class="small">*contact for pricing</p>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Ongoing support services</h3>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">
                        Ongoing technical support account manager
                        <br />
                        $3000+/month
                    </h3>
                    <p class="small">*required for base Enterprise Partnership</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Long-term embedded Ushahidi platform administrator(s)</h3>
                    <p class="small">*contact for pricing</p>
                </div>

                <div class="tier-feature">
                    <h3 class="tier-heading">Long-term embedded Ushahidi platform community engagement officer(s)</h3>
                    <p class="small">*contact for pricing</p>
                </div>
            </div>

            <div class="tier-label blank">Custom feature development</div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Custom feature development  not available for demo</h3>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Custom feature development  not available for basic</h3>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Custom feature development</h3>
                    <p class="small">*contact for scoping and pricing</p>
                </div>
            </div>

            <div class="tier">
                <div class="tier-feature">
                    <h3 class="tier-heading">Custom feature development</h3>
                    <p class="small">*contact for scoping and pricing</p>
                </div>
            </div>
        </div>
    </div>

</main>

{{> Modals }}

<div id="payment" class="modal">
    <div class="modal-window">
       <h3 class="modal-title">
           Change your plan to Surveyor
       </h3>

       <div class="modal-body">

           <div class="form-field">
               <label class="required">Name on card</label>
               <input type="text" required placeholder="Jane Doe" />
           </div>

           <div class="form-field">
               <label class="required">Credit card number</label>
               <input type="text" required inputmode="numeric" autocomplete="cc-number" placeholder="" id="cc-number">
           </div>

           <div class="flex-col">
                <div class="col">
                    <fieldset>
                        <legend class="required">Expiration</legend>
                        <div class="custom-select">
                            <select name="cc-exp-month" required autocomplete="cc-exp-month">
                                <option value="1">Month</option>
                                <option value="2">January</option>
                                <option value="3">February</option>
                            </select>
                        </div>
                        <div class="custom-select">
                            <select name="cc-exp-year" required autocomplete="cc-exp-year">
                                <option value="1">Year</option>
                                <option value="2">2015</option>
                                <option value="3">2016</option>
                            </select>
                        </div>
                    </fieldset>
                </div>

                <div class="col">
                    <div class="form-field">
                        <label class="required">CVV</label>
                        <input style="width:80px;" type="text" required inputmode="numeric" autocomplete="cc-csc" placeholder="" id="cc-cvv" />
                    </div>
                </div>

                <div class="col">
                    <div class="form-field">
                        <label>Zip/Postal Code</label>
                        <input style="width:100px;" type="text" placeholder="" id="cc-zip" />
                    </div>
                </div>
            </div>

            <p>* These fields are required.</p>

           <div class="form-field">
               <button type="button" class="button-link  modal-trigger">Cancel</button>
               <button type="button" class="button-alpha modal-trigger">Continue</button>
           </div>
       </div>
    </div>

    <div class="modal-overlay"></div>
 </div>
