{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
        </ol>

        <h1 class="mode-context-title">
            <svg class="iconic">
                <use xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
            </svg>
            Read later
        </h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <!--// IF: Saved Search has description //-->
        <p>Vestibulum pretium massa et bibendum eleifend. Vestibulum congue fringilla erat eget sodales.</p>
        <!--// END IF //-->

        <ul class="metadata">
            <li>
                <span class="status-indicator tooltip">
                    <svg class="iconic">
                      <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                    </svg>
                    <span class="bug">This collection is visible to everyone</span>
                </span>
            </li>
            <li><strong class="label">Jess Shorland</strong></li>
        </ul>

        <!--// IF: User has permission to edit the Saved Search //-->
        <div class="form-field">
            <button type="button" data-modal="edit-collection">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#pencil"></use>
                </svg>
                <span class="button-label">Edit</span>
            </button>

            <button type="button" data-toggle="dropdown-menu">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#ellipses"></use>
                </svg>
                <span class="button-label hidden">More</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#bell"></use>
                        </svg>
                        <span class="label">Get notifications</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#trash"></use>
                        </svg>
                        <span class="label">Delete</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--// END IF //-->

        <!--// IF: User does not have permission to edit the Saved Search //
        <div class="form-field">
            // IF: User is not yet getting notifications about this Saved Search //
            <button type="button">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#bell"></use>
                </svg>
                <span class="button-label">Get notifications</span>
            </button>

        // ELSE //

            <button type="button" class="button-beta">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#bell"></use>
                </svg>
                <span class="button-label">Turn off notifications</span>
            </button>

        // END IF //
        </div>
        // END IF //-->

        <div class="form-field">
            <button type="button" class="button-gamma">
                <svg class="iconic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#arrow-left"></use>
                </svg>
                <span class="button-label">Return to all responses</span>
            </button>
        </div>
    </div>
</div>

<main role="main">

    <div class="toolbar">
        {{> Search-d }}

        <div class="button-group">
            <button type="button" data-modal="share">
                <svg class="iconic">
                  <use xlink:href="../../img/iconic-sprite.svg#share"></use>
                </svg>
                <span class="button-label">Share</span>
            </button>
        </div>
    </div>

    <!--// Module: Toolbox //-->
    <div class="toolbox hide-until-small">

        {{> toolStatus }}

        <div class="tool">
            <p class="tool-heading">Layers</p>

            <span class="tool-trigger" data-toggle="toggle-content">
                <svg class="iconic">
                    <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
                </svg>
                <span class="label hidden">Show/hide</span>
            </span>

            <div class="toggle-content">
                <fieldset>
                    <div class="form-field radio">
                        <input type="radio" name="layers" id="streets" checked /><label for="streets">Streets</label>
                    </div>
                    <div class="form-field radio">
                        <input type="radio" name="layers" id="satellite" /><label for="satellite">Satellite</label>
                    </div>
                    <div class="form-field radio">
                        <input type="radio" name="layers" id="terrain" /><label for="terrain">Terrain</label>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>
    <!--// END // Module: Toolbox //-->

    {{mapEmbed 'all' true}}
</main>

{{> Modals }}

<div id="edit-collection" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">
            Edit Collection
        </h3>

        <div class="modal-body">

            <div class="form-field title">
                <label>Name</label>
                <input type="text" value="Read later" placeholder="Name your Collection..." />
            </div>

            <div class="form-field">
                <label>
                    Description
                </label>
                <textarea>Vestibulum pretium massa et bibendum eleifend. Vestibulum congue fringilla erat eget sodales.</textarea>
            </div>

            <div class="form-field switch">
                <label>
                    Featured
                    <span class="tooltip">
                        <svg class="iconic">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#question-mark"></use>
                        </svg>
                        <span class="bug">Featured Collections appear to everyone in <br />the "Collections" menu</span>
                    </span>
                </label>
                <div class="toggle-switch">
                    <input class="tgl" id="switch1" type="checkbox">
                    <label class="tgl-btn" for="switch1"></label>
                </div>
            </div>

            <div class="form-field">
                <label>Default viewing mode</label>
                <div class="custom-select">
                    <select>
                        <option>Map</option>
                        <option>Timeline</option>
                    </select>
                </div>
            </div>

            <fieldset>
                <legend>Who can see this Collection</legend>

                <div class="form-field radio icon-input">
                    <input type="radio" name="special" id="special1" value="you" />
                    <label for="special1">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#person"></use>
                        </svg>
                        Only you
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <label for="special2">
                        <input type="radio" name="special" id="special2" value="everyone" checked />
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <span class="label">Everyone</span>
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <input type="radio" name="special" id="special3" value="roles" data-fieldgroup-toggle="roles" />
                    <label for="special3">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                        </svg>
                        Specific roles...
                    </label>

                    <div class="form-fieldgroup" data-fieldgroup-target="roles">
                        <div class="form-field checkbox">
                            <input type="checkbox" id="collection1" />
                            <label for="collection1">Members</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="collection2" />
                            <label for="collection2">Editors</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="collection3" />
                            <label for="collection3">Operators</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="collection4" />
                            <label for="collection4">Administrators</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button type="button" class="button-destructive modal-trigger">Cancel</button>
                <button type="button" class="button-alt modal-trigger">Save &amp; close</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="empty" class="message">
    <div class="message-image">
        <svg class="iconic">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#grid-three-up"></use>
        </svg>
    </div>

    <div class="message-body">
        <p><strong>There are no responses</strong> in this "<em>Read later</em>" collection.</p>
        <p>You can add survey responses to this collection anywhere you encounter one, including the deployment's unfiltered <a href="">Map</a> and <a href="">Timeline</a>.</p>
        <p>Select one or more responses, choose "Add to Collection," and then select <em>Read later</em>.</p>

        <div class="button-group">
            <button class="button">See all responses</button>
            <button class="button-destructive message-trigger">Dismiss</button>
        </div>
    </div>
</div>

<script>
setTimeout(function() {
    messageToggle($('#empty'), true);
}, 1000);
</script>
