{{> ModeBar }}

<main role="main">
    <ul>
        <li class="list-item">
            <h3>List Item #1</h3>
            <p>A sentence or less</p>
        </li>

        <li class="list-item selected">
            <h3>List Item #2 - selected</h3>
            <p>A sentence or less</p>
        </li>

        <li class="list-item">
            <h3>List Item #3</h3>
            <p>A sentence or less</p>
        </li>

        <li class="list-item">
            <h3>List Item #4</h3>
            <p>A sentence or less</p>
        </li>

        <li class="list-item">
            <h3>List Item #5</h3>
            <p>A sentence or less</p>
        </li>
    </ul>
</main>
