{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="">Surveys</a></li>
        </ol>

        <h1 class="mode-context-title">New survey</h1>
    </header>

</div>

<main role="main">

    <div class="toolbar">
        <div class="button-group">
            <button type="button" class="button-flat">Cancel</button>
            <button type="button" class="button-alpha">Save</button>
        </div>
    </div>

    <div class="main-col">

        <section class="form-sheet card">
            <span class="post-band" style="background-color: #2274b4"></span>

            <div class="form-field title survey-title">
                <label class="hidden">Survey name</label>
                <input type="text" placeholder="Survey name">
            </div>

            <div class="form-field">
                <label>Description</label>
                <textarea></textarea>
            </div>

            <div class="listing" style="margin-left: 4px;">
                <h3 class="listing-heading">Fields</h3>

                <div class="listing-body">

                    <div class="listing-item">
                        <div class="listing-item-primary">
                            <h2 class="listing-item-title">
                                <a href="" class="button" data-toggle="add-field">
                                    <svg class="iconic">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../img/iconic-sprite.svg#plus"></use>
                                    </svg>
                                    Add field
                                </a>
                            </h2>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <div class="toolbox">

            <div class="listing">
                <div class="listing-item">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#brush"></use>
                            </svg>
                        </div>
                        <h2 class="listing-item-title"><a href="" data-modal="survey-appearance">Appearance</a></h2>
                    </div>
                </div>

                <div class="listing-item">
                    <div class="listing-item-primary">
                        <div class="listing-item-image">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#cog"></use>
                            </svg>
                        </div>
                        <h2 class="listing-item-title"><a href="" data-modal="survey-permissions">Permissions</a></h2>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

{{> Modals }}

<div class="mainsheet" data-toggle-target="add-field" data-toggle-animate>

    <div class="mainsheet-window">
        <h3 class="mainsheet-heading">Add field</h3>

        <div class="listing grid">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_short_text_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Short text</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-editor-symbol.svg#ic_format_align_left_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Long text</a></h2>
                </div>
            </div>

        </div>

        <div class="listing grid">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-image-symbol.svg#ic_image_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Image</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-communication-symbol.svg#ic_location_on_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Location</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-image-symbol.svg#ic_looks_one_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Number</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-action-symbol.svg#ic_date_range_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Date</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-device-symbol.svg#ic_access_time_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Time</a></h2>
                </div>
            </div>

        </div>

        <div class="listing grid">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-toggle-symbol.svg#ic_radio_button_checked_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Multiple choice</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-navigation-symbol.svg#ic_arrow_drop_down_circle_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Dropdown</a></h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <svg class="iconic">
                          <use xlink:href="../../img/material/svg-sprite-toggle-symbol.svg#ic_check_box_24px"></use>
                        </svg>
                    </div>

                    <h2 class="listing-item-title"><a href="">Checkboxes</a></h2>
                </div>
            </div>

        </div>

    </div>

    <div class="mainsheet-overlay"></div>
</div>

<div id="survey-appearance" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit appearance</h3>

        <div class="modal-body">

            <p>Response summaries offer a quick look at data submitted for each response. You'll see them displayed in your deployment's "Timeline", as well as in popups when you select a map marker.</p>
            <p>You can customize which fields are used in response summaries by selecting them in the desired position below.</p>

            <div class="postcard">
                <div class="post-band" style="background-color: #A51A1A"></div>

                <div class="postcard-body">
                    <header class="postcard-header">
                        <ul class="metadata">
                            <li>
                                <span class="status-indicator">
                                    <svg class="iconic">
                                        <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                                    </svg>
                                </span>
                            </li>
                            <li>
                                <!--img src="../../img/avatar1.png" class="avatar" /-->
                                <strong class="label">Author name</strong>
                            </li>
                            <li>Date</li>
                        </ul>
                    </header>

                    <div class="postcard-field">
                        <span class="postcard-placeholder">
                            <select>
                                <option>Field A</option>
                                <option>Field B</option>
                                <option>Field C</option>
                            </select>
                        </span>
                    </div>

                    <div class="postcard-field">
                        <span class="postcard-placeholder">
                            <select>
                                <option>Field A</option>
                                <option selected>Field B</option>
                                <option>Field C</option>
                            </select>
                        </span>
                    </div>

                    <div class="postcard-field">
                        <button class="button-gamma button-flat button-plain">
                            <svg class="iconic">
                                <use xlink:href="../../img/iconic-sprite.svg#plus"></use>
                            </svg>
                            <span class="button-label">Show another field</span>
                        </button>
                    </div>
                </div>
            </div>

            <fieldset class="custom-fieldset" data-fieldset-type="color">
                <legend>Color</legend>
                <p>This color will be used for map markers and the left border of response summaries.</p>

                <div class="form-field">
                    <label>Hex value</label>
                    <input type="text" data-input-type="color" value="#{{deployment.surveys.0.color}}" />
                </div>
            </fieldset>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>

<div id="survey-permissions" class="modal">
    <div class="modal-window">
        <h3 class="modal-title">Edit permissions</h3>

        <div class="modal-body">

            <div class="form-field switch">
                <label>Require responses be reviewed before they're published</label>
                <div class="toggle-switch">
                    <input class="tgl" id="post-review" type="checkbox">
                    <label class="tgl-btn" for="post-review"></label>
                </div>
            </div>

            <fieldset>
                <legend>Who can submit responses to this survey</legend>

                <div class="form-field radio icon-input">
                    <label for="survey-add_everyone">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#globe"></use>
                        </svg>
                        <input type="radio" name="survey-add" id="survey-add_everyone" checked />
                        <span class="label">Everyone</span>
                    </label>
                </div>

                <div class="form-field radio icon-input">
                    <label for="survey-add_roles">
                        <svg class="iconic">
                            <use xlink:href="../../img/iconic-sprite.svg#people"></use>
                        </svg>
                        <input type="radio" name="survey-add" id="survey-add_roles" data-fieldgroup-toggle="survey-add_roles" />
                        Specific roles...
                    </label>

                    <div class="form-fieldgroup" data-fieldgroup-target="survey-add_roles">
                        <div class="form-field checkbox">
                            <input type="checkbox" id="survey-add_roles-members" />
                            <label for="survey-add_roles-members">Members</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="survey-add_roles-editors" />
                            <label for="survey-add_roles-editors">Editors</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="survey-add_roles-operators" />
                            <label for="survey-add_roles-operators">Operators</label>
                        </div>

                        <div class="form-field checkbox">
                            <input type="checkbox" id="survey-add_roles-admins" />
                            <label for="survey-add_roles-admins">Administrators</label>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="modal-actions">
            <div class="form-field">
                <button class="button-beta button-flat modal-trigger">Cancel</button>
                <button class="button-alpha modal-trigger">Done</button>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
</div>
