{{> ModeBar }}

<div class="mode-context">

    <header class="mode-context-header">
        <ol class="breadcrumbs">
            <li><a href="map.html">{{deployment.name}}</a></li>
            <li><a href="settings.html">Settings</a></li>
        </ol>

        <h1 class="mode-context-title">Data sources</h1>
    </header>

    <span class="mode-context-trigger">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#chevron-bottom"></use>
        </svg>
        <span class="label hidden">Show more/less</span>
    </span>

    <div class="mode-context-body">
        <p>Automatically collect data from sources you choose.</p>
    </div>
</div>

<main role="main">

    <div class="full-col">

        <div class="listing card">

            <div class="listing-item">
                <div class="listing-item-primary">
                    <h2 class="listing-item-title">
                        <a href="settings-datasources-email.html">
                            Email
                            <span class="status-indicator"></span>
                        </a>
                     </h2>
                </div>
            </div>

            <div class="listing-item">
                <div class="listing-item-primary">
                    <div class="listing-item-image">
                        <img class="icon" src="../../img/twitter.png" alt="">
                    </div>

                    <h2 class="listing-item-title">
                        <a href="settings-datasources-twitter.html">
                            Twitter
                            <span class="status-indicator green"></span>
                        </a>
                     </h2>
                </div>
            </div>

        </div>

    </div>

</main>

{{> Modals }}

<div id="email-import" class="message transient">
    <div class="message-image confirmation">
        <svg class="iconic">
            <use xlink:href="../../img/iconic-sprite.svg#thumb-up"></use>
        </svg>
    </div>

    <div class="message-body">
        <p>Your deployment is now automatically importing tweets</p>
    </div>
</div>

<script>
setTimeout(function() {
    messageToggle($('#email-import'), false);
}, 1000);
</script>
