<footer role="contentinfo">
    <div class="wrapper">
        <div class="footer-container">
            <h2>Syria Tracker</h2>
            <p>Crowdsourcing the data of the Syrian Conflict since April 2011</p>
            <p class="small"><em>Powered by <a href="">The Ushahidi Platform</a>.</em></p>
            <ul class="footer-nav">
                <li><a href="home-map.html">Home</a></li>
                <li><a href="layout-a.html">About</a></li>
                <li><a href="activity.html">Activity</a></li>
                <li><a href="activity.html">Settings</a></li>
                <li><a href="activity.html">Help</a></li>
            </ul>
        </div>
    </div>
</footer>
