<header class="header" role="banner">
    <a href="/" class="deployment-title">
        <h2 class="beta">March on City Hall</h2>
    </a>

    <div class="nav-icon nav-icon-js" data-toggle="toggle-content">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<div class="mode-bar">
    <ul class="mode-bar-nav">
        <li class="active">
            <a href="#"><i class="fa  fa-file"></i><span>Posts</span></a>
        </li>
        <li>
            <a href="#"><i class="fa  fa-line-chart"></i><span>Activity</span></a>
        </li>
    </ul>

    <div class="settings logged-out">
        <ul>
            <li>
                <a href="/settings" class="settings-icon"><span>Sign up</span></a>
            </li>
            <li>
                <a href="/settings" class="settings-icon"><span>Log in</span></span></a>
            </li>
        </ul>
    </div>

</div>

