<header class="header" role="banner">
    <div class="nav-icon nav-icon-js" data-toggle="toggle-content">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <a href="" class="deployment-title">
        <h2 class="beta">March on City Hall</h2>
    </a>

    <div class="create-admin">
        <div class="settings logged-in">
    <div data-toggle="toggle-content">
        <span class="settings-icon"></span><a href="">Settings</a>
    </div>
    <ul class="dropdown-menu toggle-content" role="menu">
        <li><a href="#">General</a></li>
        <li><a href="#">Post Types</a></li>
        <li><a href="#">Data Sources</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Tasks</a></li>
        <li><a href="#">Categories</a></li>
        <h6 class="zeta">Anna Kovacs</h6>
        <li><a href="#">Your Account</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
</div>

    </div>
</header>

<ul class="main-menu dropdown-menu toggle-content" role="menu">
    <nav class="navigation" role="navigation">

    <ul class="main-nav">
        <li class="active"><i class="fa  fa-file"></i><a href="posts">Posts</a></li>
        <li><i class="fa  fa-line-chart"></i><a href="activity">Activity</a></li>
        <li><i class="fa  fa-check-square-o"></i><a href="tasks">Tasks</a></li>
    </ul>

    <div class="sub-nav">
        <h6 class="zeta">Saved Searches</h6>
        <ul>
            <li><a href="" class="saved-searches">On Congress Avenue</a></li>
            <li><a href="" class="saved-searches">Needs Translation</a></li>
        </ul>
    </div>

    <div class="sub-nav">
        <h6 class="zeta">Collections</h6>
        <ul>
            <li><a href="" class="collections">Read Later</a></li>
            <li><a href="" class="collections">Follow Up</a></li>
            <li><a href="" class="collections">Great Photos</a></li>
        </ul>
        <button type="button" class="button-secondary plus">
            <span>New Collection</span>
        </button>
    </div>

    <div class="toggle-menu"></div>
</nav>

</ul>
