<div class="mode-bar">
    <nav>
        <ul class="deployment-menu">
            <li data-message="views">
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#map-marker"></use>
                    </svg>
                    Map
                </a>
            </li>
            <li >
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#list-rich"></use>
                    </svg>
                    Timeline
                </a>
            </li>
            <li >
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#pulse"></use>
                    </svg>
                    Activity
                </a>
            </li>
            <li data-message="customize">
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#cog"></use>
                    </svg>
                    Settings
                </a>
            </li>
            <li class="more-menu-trigger">
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#ellipses"></use>
                    </svg>
                    More
                </a>
            </li>
        </ul>

        <ul class="account-menu">
            <li >
                <a href="#" data-modal="account">
                    <img src="../../img/avatar1.png" class="avatar" />
                    <span class="label">Brandon Rosage</span>
                </a>
            </li>
            <li>
                <a href="#" data-modal="collections">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#grid-three-up"></use>
                    </svg>
                    <span class="label">Collections</span>
                </a>
            </li>
            <!-- FUTURE FEATURE
            <li>
                <a href="#">
                    <svg class="iconic">
                        <use xlink:href="/assets/img/iconic-sprite.svg#bell"></use>
                    </svg>
                    <span class="label">Alerts <span class="badge">2</span></span>
                </a>
            </li>
            END: FUTURE FEATURE -->
        </ul>
    </nav>
</div>
