<nav class="navigation" role="navigation">

    <ul class="main-nav">
        <li class="active"><i class="fa  fa-file"></i><a href="posts">Posts</a></li>
        <li><i class="fa  fa-line-chart"></i><a href="activity">Activity</a></li>
        <li><i class="fa  fa-check-square-o"></i><a href="tasks">Tasks</a></li>
    </ul>

    <div class="sub-nav">
        <h6 class="zeta">Saved Searches</h6>
        <ul>
            <li><a href="" class="saved-searches">On Congress Avenue</a></li>
            <li><a href="" class="saved-searches">Needs Translation</a></li>
        </ul>
    </div>

    <div class="sub-nav">
        <h6 class="zeta">Collections</h6>
        <ul>
            <li><a href="" class="collections">Read Later</a></li>
            <li><a href="" class="collections">Follow Up</a></li>
            <li><a href="" class="collections">Great Photos</a></li>
        </ul>
        <button type="button" class="button-secondary plus">
            <span>New Collection</span>
        </button>
    </div>

    <div class="toggle-menu"></div>
</nav>
