<div class="single-post-listing incomplete">
    <div class="select-post">
        <input type="checkbox">
    </div>
    <div class="post-summary">
        <span class="meta-data">
            <span class="date">January 10, 2015</span>10AM, via SMS
        </span>
        <ul class="categories-list-inline">
            <li class="category"><i class="fa fa-circle" style="color: #da60a2;"></i>Accident</li>
            <li class="category"><i class="fa fa-circle" style="color: #679a63;"></i>Safe Location</li>
        </ul>
        <div class="post-img">
            <img src="http://placehold.it/700x600" alt="">
        </div>
        <div class="post-text">
            <a href="">
                <h3>This post has an image and is not published</h3>
            </a>
            <p>
                Only those with permissions to see unpublished posts can see this. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempolabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerclaboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
    <div class="step-and-actions">
        <div class="step">
            <h4 class="delta-alt">
                Who can see this
            </h4>
            <!-- IF: User has permission to change who the post is visible to -->
            <div class="custom-select cta">
               <select>
                  <option data-icon="fa-globe">Everyone</option>
                  <option>Editors</option>
                  <option data-icon="fa-user">Administrators</option>
               </select>
            </div>
            <!-- ELSE //
            <p><span class="icon-left fa-globe">Everyone</span></p>
            // END IF -->
        </div>
        <div class="actions-toggle">
    <div class="actions-toggle-trigger">
        <a href="#options" class="button-secondary" data-toggle="options"><span class="icon-left fa-ellipsis-h">Options</span></a>
    </div>
    <div id="options" class="actions-content">
        <a type="button" class="button-secondary">
            <span class="icon-left fa-pencil">Edit</span>
        </a>

        <button type="button" class="button-secondary">
            <span class="icon-left fa-share">Share</span>
        </button>

        <a type="button" class="button-secondary">
            <span class="icon-left fa-trash">Delete</span>
        </a>

        <fieldset class="custom-fieldset">
   <legend><span class="icon-left fa-th">Collections</span></legend>

   <div class="form-field search bar">
      <label for="search-collections" class="nodisplay">Search Collections</label>
      <input type="search" id="search-collections" placeholder="Search Collections" />
   </div>

   <div class="fieldset-results">
      <div class="form-field checkbox">
         <input type="checkbox" id="collection1" />
         <label for="collection1">Collection 1</label>
      </div>

      <div class="form-field checkbox">
         <input type="checkbox" id="collection2" checked />
         <label for="collection2">Another Collection 2</label>
      </div>

      <div class="form-field checkbox">
         <input type="checkbox" id="collection3" />
         <label for="collection3">Extra Collection 3</label>
      </div>

      <div class="form-field checkbox">
         <input type="checkbox" id="collection1" />
         <label for="collection1">Collection 4</label>
      </div>

      <div class="form-field checkbox">
         <input type="checkbox" id="collection2" checked />
         <label for="collection2">Another Collection 5</label>
      </div>

      <div class="form-field checkbox">
         <input type="checkbox" id="collection3" />
         <label for="collection3">Extra Collection 6</label>
      </div>
   </div>

   <div class="form-field bar">
      <a href="#create-collection" class="button button-link" data-toggle="toggle-content"><i class="fa fa-plus"></i>Create Collection</a>
      <div class="toggle-content">
         <input type="text" id="create-collection" placeholder="Create Collection" />
         <button type="button">Create</button>
      </div>
   </div>
</fieldset>

    </div>
</div>

    </div>

</div> <!--single post listing-->
