<div class="toolbox">

    <div class="tool">
        <h6 class="tool-heading">Layers</h6>

        <span data-toggle="toggle-content">
            <svg class="iconic">
                <use xlink:href="/assets/img/iconic-sprite.svg#chevron-bottom"></use>
            </svg>
            <span class="label hidden">Show/hide</span>
        </span>

        <div class="toggle-content">
            <fieldset>
                <div class="form-field radio">
                    <label for="streets"><input type="radio" name="layers" id="streets" checked />Streets</label>
                </div>
                <div class="form-field radio">
                    <label for="satellite"><input type="radio" name="layers" id="satellite" />Satellite</label>
                </div>
                <div class="form-field radio">
                    <label for="terrain"><input type="radio" name="layers" id="terrain" />Terrain</label>
                </div>
            </fieldset>
        </div>
    </div>

</div>
