<div class="settings logged-in">
    <div data-toggle="toggle-content">
        <span class="settings-icon"></span><a href="">Settings</a>
    </div>
    <ul class="dropdown-menu toggle-content" role="menu">
        <li><a href="#">General</a></li>
        <li><a href="#">Post Types</a></li>
        <li><a href="#">Data Sources</a></li>
        <li><a href="#">Roles</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Tasks</a></li>
        <li><a href="#">Categories</a></li>
        <h6 class="zeta">Anna Kovacs</h6>
        <li><a href="#">Your Account</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
</div>
