<div class="user-admin logged-in">
    <div data-toggle="toggle-content">
        <div class="user-avatar">
            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000" alt="Avatar">
        </div>
        <a href="" class="username">Jonathan Doe</a>
    </div>
    <ul class="dropdown-menu toggle-content" role="menu">
        <li><a href="#">Account Settings</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
</div>
