<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h1>
                        Icons
                    </h1>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">

                </div>

            </section>

        </div>

    </div>

</div>
