<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h1>
                        Icons
                    </h1>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <p>The Platform Pattern Library icons are part of the <a href="https://useiconic.com/open">"Open Iconic"</a> library, and are served up by an <a href="https://github.com/ushahidi/platform-pattern-library/blob/master/assets/img/iconic-sprite.svg">SVG sprite</a>. This allows us to display all icons in the set with a single request. A list of available icons can be found <a href="../../html/1_atoms/#pl-pattern-icons">here</a>.</p>

                    <h2>HTML</h2>
                    <p>Use <a href="https://github.com/ushahidi/platform-pattern-library/blob/master/pattern-library/partials/_iconic-sample.html#L5-L7">this HTML block</a> wherever an icon is needed and adjust the <a href="https://github.com/ushahidi/platform-pattern-library/blob/master/pattern-library/partials/_iconic-sample.html#L6">image path and #icon-name</a> accordingly. Icon names can be found <a href="../../html/1_atoms/#pl-pattern-icons">here</a>.</p>

                    <h2>CSS</h2>
                    <p>Icons can be styled via the <span class="code">svg.iconic</span> class.</p>

                    <pre>
                        <code class="language-css">
                            svg.iconic {
                                fill: red;
                                width: 24px
                                height: 24px
                                etc...
                            }
                        </code>
                    </pre>

                </div>

            </section>

        </div>

    </div>

</div>
