<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h2>
                        Mixins
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <p>
                        The Ushahidi Platform uses <a href="http://bourbon.io/">Bourbon</a>, a Sass mixin library. While Bourbon covers most of our mixin needs, there are times when custom mixins are needed. When that is the case each custom mixin is given it's own .scss file in the <code><a href="https://github.com/ushahidi/platform-pattern-library/tree/gh-pages/assets/sass/utils/mixins">mixin</a></code> directory which are then @imported via the <code><a href="https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/assets/sass/utils/_mixins.scss">_mixins.scss</a></code> file.
                    </p>

                    <h3>Bourbon Mixins</h3>
                    <ul class="bullets">
                        <li><a href="http://bourbon.io/docs/">Bourbon Docs</a></li>
                    </ul>

                    <h3>Custom Mixins</h3>
                    <h4>Example Mixin</h4>
                    <pre>
                        <code class="language-css">
                            @mixin rotate($deg: 90deg) {
                                -webkit-transform: rotate($deg);
                                -moz-transform: rotate($deg);
                                -ms-transform: rotate($deg);
                                -o-transform: rotate($deg);
                                transform: rotate($deg);
                            }
                        </code>
                    </pre>

                    <ul class="bullets">
                        <li>The mixin title is <em><b>rotate</b></em></li>
                        <li> The default degree value is <em><b>90 degrees</b></em></li>
                    </ul>

                    <h4>How to Use</h4>
                    <pre>
                        <code class="language-css">
                            .nav-icon {
                                @include rotate(75deg);
                            }
                        </code>
                    </pre>

                    <ul class="bullets">
                        <li>The mixin is called with <em><b>@include</b></em></li>
                        <li><em><b>75deg</b></em> overrides the 90deg default</li>
                    </ul>
                </div>

            </section>

        </div>

    </div>

</div>
