<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h2>
                        Icons
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <p>
                        The Ushahidi Platform icons are from the <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> set, an <a href="http://fortawesome.github.io/Font-Awesome/license/">open source</a> icon font made by <a href="https://twitter.com/davegandy">Dave Gandy</a>. We are using <a href="https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/assets/sass/utils/mixins/_font-awesome.scss">a mixin</a> to create a Sass map of our icons. This mixin allows for a <code>:before</code> & <code>:after</code> placement of the icon, as well as custom styles. We then add them to elements via a Sass @import.
                    </p>

                    <h3>Adding Icons to the Sass Map</h3>
                    <p>
                        The icons used in the Ushahidi Platform are listed on the Sass map at the bottom of the <a href="https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/assets/sass/utils/mixins/_font-awesome.scss">font-awesome mixin</a> To add an icon, you can name it whatever you want and define it with the entity listed on the <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/">Font Awesome Cheatsheet</a>.
                    </p>
                    <pre>
                        <code class="language-css">
                            $icons: (
                                icon-name: "\f06a",
                                another-icon-name: "\f077" //this is the entity #
                            );
                        </code>
                    </pre>

                    <h3>Using mixin to @import icons to elements</h3>
                    <p>
                        To include an icon on an element (in this example, a button), you simply @include icon, then define whether you want it to come before or after the element, and the icon you want to display. The icon then becomes a pseudo element.
                    </p>
                    <pre>
                        <code class="language-css">
                            button.dropdown {
                                @include icon (before, chevron-down);
                            }
                        </code>
                    </pre>

                    <h3>Sass @import with custom styles</h3>
                    <p>
                        You can give the icon itself custom styles by including them in the mixin.
                    </p>
                    <pre>
                        <code class="language-css">
                            button.dropdown {
                                @include icon (before, chevron-down) {
                                    padding: 3px;
                                    color: $yellow;
                                }
                            }
                        </code>
                    </pre>
                </div>

            </section>

        </div>

    </div>

</div>
