<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern" id="introduction">
                <div class="pl-pattern-description">
                    <h1>
                        Introduction
                    </h1>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <p>These guidelines are influenced and inspired by <a href="http://sass-guidelin.es/">http://sass-guidelin.es/</a> and <a href="http://cssguidelin.es/">http://cssguidelin.es/</a>. They provide rules for writing consistent, maintainable code across multiple developers and deployers.</p>

                    <p>
                        Harry Roberts sums it up well in <a href="http://cssguidelin.es/">CSS Guidelines</a>:
                    </p>
                    <blockquote cite="http://csswizardry.com/work/">
                        A coding styleguide <em>(note, not a visual styleguide)</em> is a valuable tool for teams who:
                        <ul class="bullets">
                            <li>build and maintain products for a reasonable length of time</li>
                            <li>have developers of differing abilities and specialties</li>
                            <li>have a number of different developers working on a product at any given time</li>
                            <li>on-board new staff regularly</li>
                            <li>have a number of codebases that developers dip in and out of</li>
                        </ul>
                    </blockquote>
                </div>

            </section>

        </div>

    </div>

</div>
