<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h2>
                        Read Direction
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <p>
                    Ushahidi's user interface displays LTR (left-to-right) by default, but Ushahidi also supports RTL (right-to-left), so if the user's preferred language is a RTL language, the UI will display accordingly.
                </p>

                <p>
                    When building this feature, it was important to maintain one code base that supported both LTR and RTL read direction. In order to accomplish this we decided to use a library of Sass mixins and functions to automatically flip the CSS styles for RTL (right-to-left) read direction when needed. We decided to go with <a href="https://github.com/jamesl1001/RTL-Sass">RTL-Sass</a> open-source library, which supports the following properties:
                </p>

                <div class="half-wrapper">
                    <ul class="bullets half">
                        <li>background</li>
                        <li>background-position</li>
                        <li>border</li>
                        <li>border-radius</li>
                        <li>clear</li>
                        <li>cursor</li>
                        <li>direction</li>
                    </ul>

                    <ul class="bullets half">
                        <li>float</li>
                        <li>left/right</li>
                        <li>margin</li>
                        <li>padding</li>
                        <li>text-align</li>
                        <li>text-indent</li>
                    </ul>
                </div>

                <h3>Stylesheet</h3>
                <p>
                    Ushahidi loads <code>style.css</code> by default, but if a user selects an RTL language when creating a deployment, the app will load <code>rtl-style.css</code>. Both stylesheets are compiled into the css folder via <code>gulpfile.js</code>.
                </p>
                <h3>Conflicts</h3>
                <p>
                    The Ushahidi UI uses the lightweight semantic grid <a href="http://neat.bourbon.io/">Bourbon Neat</a> and this Neat <code>span-columns</code> mixin:
                </p>

                <pre>
                    <code class="language-css">
                            @include span-columns(12);
                    </code>
                </pre>

                <p>compiles to:</p>
                <pre>
                    <code class="language-css">
                            float: left;
                            display: block;
                            width: 100%;
                    </code>
                </pre>

                <p>but in order to correctly display the float in both LTR <em>and</em> RTL, you have to manually override the <code>float: left;</code> like so:</p>

                <pre>
                    <code class="language-css">
                            @include span-columns(12);
                            @include float(left;)
                    </code>
                </pre>

                <p>which compiles to:</p>

                <pre>
                    <code class="language-css">
                            float: left; // would be overridden
                            display: block;
                            width: 100%;
                            float: left; // would be left or right depending on language
                    </code>
                </pre>

                <div class="pl-pattern-description">
                    <h2>
                        Supported Properties
                    </h2>
                    <div class="pl-divider"></div>
                </div>

                <h3>Example:</h3>
                <pre>
                    <code class="language-css">
                            @include border-left(3px solid #000);
                    </code>
                </pre>

                <p>would compile to:</p>

                <pre>
                    <code class="language-css">
                            border-left: 3px solid #000 // default LTR

                            border-right: 3px solid #000 // RTL
                    </code>
                </pre>

                <div class="container">
                    <h3>Background & Background Position</h3>
                    <pre>
                        <code class="language-css">
                            #background-position {
                                @include background-position(8px 100px);
                            }
                            #background-position-left {
                                @include background-position(left 100px);
                            }
                            #background-position-right {
                                @include background-position(right 100px);
                            }
                            #background-position-center {
                                @include background-position(center 100px);
                            }

                            #background-1 {
                                @include background(url(../img/ushahidi-logo-black.svg) no-repeat 20px center);
                            }
                            #background-1-left {
                                @include background(url(../img/ushahidi-logo-black.svg) no-repeat left center);
                            }
                            #background-1-right {
                                @include background(url(../img/ushahidi-logo-black.svg) no-repeat right center);
                            }
                            #background-1-center {
                                @include background(url(../img/ushahidi-logo-black.svg) no-repeat center center);
                            }
                            #background-2 {
                                @include background(#999 url(../img/ushahidi-logo.svg) no-repeat 8px center);
                            }
                            #background-2-left {
                                @include background(#999 url(../img/ushahidi-logo.svg) no-repeat left center);
                            }
                            #background-2-right {
                                @include background(#999 url(../img/ushahidi-logo.svg) no-repeat right center);
                            }
                            #background-2-center {
                                @include background(#999 url(../img/ushahidi-logo.svg) no-repeat center center);
                            }
                        </code>
                    </pre>

                    <h3>Border</h3>
                    <pre>
                        <code class="language-css">
                            #border-left {
                                @include border-left(3px solid #000);
                            }
                            #border-right {
                                @include border-right(3px solid #000);
                            }
                        </code>
                    </pre>

                    <h3>Border Radius</h3>
                    <pre>
                        <code class="language-css">
                            #border-top-left-radius {
                                @include border-top-left-radius(10px);
                            }
                            #border-top-right-radius {
                                @include border-top-right-radius(10px);
                            }
                            #border-bottom-left-radius {
                                @include border-bottom-left-radius(10px);
                            }
                            #border-bottom-right-radius {
                                @include border-bottom-right-radius(10px);
                            }
                        </code>
                    </pre>

                    <h3>Clear</h3>
                    <pre>
                        <code class="language-css">
                            #clear-origin-left {
                                @include float(left);
                                @include clear(left);
                            }
                            #clear-origin-right {
                                @include float(right);
                                @include clear(right);
                            }
                        </code>
                    </pre>

                    <h3>Cursor</h3>
                    <pre>
                        <code class="language-css">
                            #cursor-e {
                                @include cursor(e-resize);
                            }
                            #cursor-ne {
                                @include cursor(ne-resize);
                            }
                            #cursor-se {
                                @include cursor(se-resize);
                            }
                            #cursor-w {
                                @include cursor(w-resize);
                            }
                            #cursor-nw {
                                @include cursor(nw-resize);
                            }
                            #cursor-sw {
                                @include cursor(sw-resize);
                            }
                        </code>
                    </pre>

                    <h3>Direction</h3>
                    <pre>
                        <code class="language-css">
                            #direction {
                                @include direction;
                            }
                        </code>
                    </pre>

                    <h3>Float</h3>
                    <pre>
                        <code class="language-css">
                            #float-origin-left {
                                @include float(left);
                            }
                            #float-origin-right {
                                @include float(right);
                            }
                        </code>
                    </pre>

                    <h3>Left/Right</h3>
                    <pre>
                        <code class="language-css">
                            #left {
                                @include left(20px);
                            }
                            #right {
                                @include right(20px);
                            }
                        </code>
                    </pre>

                    <h3>Margin</h3>
                    <pre>
                        <code class="language-css">
                            #margin-0-8px-16px-24px {
                                @include margin(0 8px 16px 24px);
                            }
                            #margin-left {
                                @include margin-left(20px);
                            }
                            #margin-right {
                                @include margin-right(20px);
                            }
                        </code>
                    </pre>

                    <h3>Padding</h3>
                    <pre>
                        <code class="language-css">
                            #padding-0-8px-16px-24px {
                                @include lrswap(padding, 0 8px 16px 24px);
                            }
                            #padding-left {
                                @include padding-left(20px);
                            }
                            #padding-right {
                                @include padding-right(20px);
                            }
                        </code>
                    </pre>

                    <h3>Text Alignment & Indent</h3>
                    <pre>
                        <code class="language-css">
                            #text-align-left {
                                @include text-align(left);
                            }
                            #text-align-right {
                                @include text-align(right);
                            }
                            #text-indent {
                                @include text-indent(20px);

                                text-align: left;
                            }

                        </code>
                    </pre>
                </div>

            </section>
        </div>

    </div>

</div>
