<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h1>
                        Helpers
                    </h1>
                    <div class="pl-divider"></div>
                </div>

                <p>The <span class="code">assets/sass/utils/_helpers.scss</span> file provides a handful of helper classes.</p>

                <div class="container">
                    <h2>Example</h2>
                    <p>The <span class="code">.divider</span> helper class provides a quick way to display a page/section divider.</p>

                    <h3>Sass</h3>
                    <pre>
                        <code class="language-css">
                            .divider  {
                                height: 1px;
                                width: 100%;
                                background: $lt-gray;
                                margin: $sm-spacing 0;
                                clear: both;

                                &.padded {
                                    margin: $base-spacing 0;
                                }

                                &.white {
                                    background: $white;
                                }
                            }
                        </code>
                    </pre>

                    <h3>HTML</h3>

                    <p><span class="code">class="divider"</span>(default)</p>
                    <div class="divider" style="background: #000;"></div>

                    <p><span class="code">class="divider padded"</span>(with padding)</p>
                    <div class="divider padded" style="background: #000;"></div>

                    <p><span class="code">class="divider white"</span>(to be used over a dark background)</p>
                    <div style="background-color: #000; height: 50px; margin-top: 5px;">
                        <div class="divider white" style="display: inline-block; margin: 25px 0;"></div>
                    </div>
                </div>

            </section>

        </div>

    </div>

</div>
