<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h1>
                        Variables
                    </h1>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <p>
                        Variables are defined in <span class="code"><a href="https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/assets/sass/_settings.scss">_settings.scss</a></span>. A few common variables are breakpoints, color, z-index and spacing, but other variables are available.
                    </p>

                    <h2>Example use</h2>
                    <p>When using a color more than once, store it in a variable with a meaningful name representing the color.</p>
                    <pre>
                        <code class="language-css">
                            // The variable is set within the .setting.scss file then used across the .scss files.
                            // This allows you to update the whole code base just by editing one instance, in this example $blue.

                            $blue: #2274b4;

                            .class {
                                color: $blue;
                            }

                            .class-2 {
                                border-color: $blue;
                            }

                            .class- {
                                background-color: $blue;
                            }
                        </code>
                    </pre>
                </div>

            </section>

        </div>

    </div>

</div>
