<div class="front-end-guidelines wrapper">

    <div class="page-content has-aside">

        {{> Header }}

        {{> SideNav }}

        <div class="main-col">

            <section class="pl-pattern">
                <div class="pl-pattern-description">
                    <h1>
                        Adding Packages
                    </h1>
                    <div class="pl-divider"></div>
                </div>

                <div class="container">
                    <p>
                        Third party packages, libraries and/or plugins can easily be added to your project for additional features and functionality.
                    </p>

                    <h2>Installing New Packages</h2>
                    <p>
                        New packages can be added to your project by running <span class="code">npm install example-package --save-dev</span>.
                    </p>

                    <p>This command does the following:</p>

                    <ul class="bullets">
                        <li>installs <em>example-package</em> into the <span class="code">node_modules</span> directory at the project root.</li>
                        <li>saves <em>example-package</em> as a project dependency in <span class="code"><a href="https://github.com/ushahidi/platform-pattern-library/blob/gh-pages/package.json">package.json</a></span></li>
                    </ul>

                    <p>
                        After installation you will need to follow the directions for each package in order to set up within your project. These can usually be found in the package's README file.
                    </p>
                </div>

            </section>
        </div>

    </div>

</div>
