.tabs-menu {
    text-align: center;
    border-top: 1px solid $bg-white;
    border-bottom: 1px solid $bg-white;
    background-color: $bg-white;

    ul {
        @extend .list-reset;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        @include direction;

        li {
            display: inline-block;

            a {
                display: inline-block;
                color: $dark-gray;
                padding: $sm-spacing $base-spacing;

                svg.iconic {
                    fill: $dark-gray;
                    position: relative;
                    top: 2px;
                    @include margin-right(4px);
                }

                &:hover {
                    color: $dark-blue;

                    svg.iconic {
                        fill: $dark-blue;
                    }
                }
            }

            &.active {

                a {
                    color: $black;
                    border-bottom: 2px solid $gold;

                    svg.iconic {
                        fill: $black;
                    }
                }
            }

            &.tabs-menu-action {

                a {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.tabs-target {
    display: none;
    margin-bottom: $sm-spacing;

    @include media($medium) {
        margin-bottom: $base-spacing;
    }

    &.active {
        display: block;
    }
}
