.tier {
    position: relative;
    @include containerCard;
    text-align: center;
    margin: $base-spacing auto;

    @include media($small) {
        max-width: 60%;
        margin: $lg-spacing auto;
    }

    .tier-header {
        padding: $base-spacing $sm-spacing 35px;

        @include media($small) {
            padding-right: $base-spacing;
            padding-left: $base-spacing;
        }

        .tier-header-body {
            position: relative;
            z-index: 1;
            color: $bg-white;

            .tier-heading {
                color: $bg-white;
            }

            .tier-feature,
            .tier-feature em {
                color: $bg-gray;
            }
        }
    }

    &.selected {

        .tier-header {
            background-color: $bg-white;
        }
    }

    .tier-summary {
        position: relative;
        overflow: hidden;
        background-color: #1E232A;
        padding: 0 $base-spacing 35px;

        .tier-heading {
            margin-top: $base-spacing;
        }

        .tier-summary-body {
            position: relative;
            z-index: 1;
            color: $bg-white;

            .tier-heading {
                color: $bg-white;
            }

            .tier-feature,
            .tier-feature em {
                color: $bg-gray;
            }
        }
    }

    &.selected {

        .tier-summary {
            background-color: $bg-white;
        }
    }

    .tier-image {

        img {
            position: absolute;
            z-index: 1;
            top: 0;
            @include left(0);
            min-height: 100%;
            min-width: 100%;
            max-width: 100%;
        }
    }

    .tier-name {
        color: $black;
        font-size: em(28);
	    font-weight: $bold;
    }

    .tier-heading {
        font-weight: $body-font-weight;
        margin-top: $lg-spacing;
    }

    .tier-price {
        display: block;
        color: $black;
        font-weight: $body-font-weight;
        font-size: em(50);
        margin: $base-spacing 0;

        em {
            position: relative;
            top: -1em;
        }

        span {
            font-size: em(9);
            margin-top: 4px;
        }
    }

    .tier-status {
        display: block;
        color: $black;
        font-weight: $body-font-weight;
        font-size: em(30);
        margin: 30px 0;
    }

    .tier-feature {
        color: $black;
        font-weight: $bold;
        font-size: em(19);

        em {
            display: block;
            margin-top: $tiny-spacing;
        }
    }

    .tier-price,
    .tier-feature {

        em {
            color: $dark-gray;
            font-weight: $body-font-weight;
            font-style: normal;
            font-size: 12px;
        }
    }

    .tier-action {
        position: absolute;
        @include right(0);
        @include left(0);
        z-index: $body;
        text-align: center;
        margin-top: -$base-spacing;

        button,
        .button {

            &[disabled],
            &:disabled,
            &.disabled {
                opacity: 1;
                color: $dark-gray;
            }
        }
    }

    &.selected {

        .tier-action {

            button,
            .button {
                color: $dark-gray;
                background-color: $bg-white;
            }
        }
    }

    .tier-feature-list {
        padding-top: $sm-spacing;

        p {
            margin: 0 $sm-spacing;
        }

        ul, ol {
            @extend .list-reset;

            li {
                display: block;
                border-bottom: $base-border;
                padding: $sm-spacing;
                margin: 0 $sm-spacing;

                strong {
                    color: $black;
                    font-weight: normal;
                }

                em {
                    display: block;
                    color: $dark-gray;
                    font-size: .857142857em;
                    margin-top: 2px;
                }

                &:last-child {
                    border-bottom-color: transparent;
                }
            }
        }
    }

    .tier-form {
        @include text-align(left);
        margin: 0 $sm-spacing;
    }
}

.tiers {
    @include clearfix;

    @include media($small) {
        position: relative;
    }

    @include media($medium) {
        @include containerSheet;
    }

    .tier {
        max-width: none;
        margin: $base-spacing $sm-spacing;
        @include transition(0.85s ease-in-out);

        @include media($medium) {
            @include float(left);
            width: 25%;
            height: 100vh;
            @include no-shadow;
            background-color: transparent;
            margin: 0;

            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                left: 0;
                height: $tiny-spacing;
                background-color: $gold;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 3;
                top: $lg-spacing;
                @include right(0);
                bottom: $lg-spacing;
                width: 1px;
                background-color: $bg-white;
            }
            .tier-header {

                p {
                    height: 55px;
                }
            }

            .tier-feature-list {
                padding-bottom: $base-spacing;
            }

        }

        &.recommended {

            @include media($small) {
                position: relative;
                z-index: 2;
                top: -$base-spacing;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 4px;
                    right: -4px;
                    bottom: 46px;
                    left: -4px;
                    background-color: rgba(0,0,0,.05);
                }

                &.selected:after {
                    background-color: rgba(0,0,0,.15);
                }

                .tier-header {
                    padding-top: $base-spacing;
                }

            }
        }
    }

    .tier-view-all {
        clear: both;
        text-align: center;
        margin: $sm-spacing;

        @include media($medium) {
            padding-top: $sm-spacing;
        }
    }

    .payment {
        display: none;
        position: relative;
        @include float(right);
        width: 100%;
        @extend .card;
        padding: $sm-spacing;
        @include margin-right(-125%);
        @include transition(0.8s ease-in-out);

        @include media($medium) {
            position: absolute;
            opacity: 1;
            top: 10px;
            @include right(-110%);
            bottom: 10px;
            @include left(110%);
            width: 75%;
            padding: $sm-spacing $base-spacing;
            @include transition(0.75s ease-in-out);
        }
    }

    &.show-payment {

        .tier {
            @include margin-right(125%);
            @include margin-left(-125%);

            @include media($medium) {
                @include margin-right(auto);
                @include margin-left(-1000px);

                &.selected {
                    @include margin-left(0);
                }
            }
        }

        .payment {
            @include margin-right(0);

            @include media($medium) {
                @include right(10%);
                @include left(25%);
            }
        }

        .tier-view-all {
            display: none;
        }
    }
}
